@import "variables";

.image {
  width: 10.8rem;
  height: 12.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $gray;
  object-fit: cover;
  border-radius: $border-radius;
  margin-bottom: 2.4rem;
}
