<!--image-->
<div *ngIf="data?.image">
  <img [src]="data?.image" class="image">
</div>
<dl class="card-definitions">
  <div class="card-definitions-splitter">
    <!-- Reward Type-->
    <div>
      <dt class="card-label">Reward Type</dt>
      <dd class="card-value">{{data?.rewardType || '-'}}</dd>
    </div>
    <!--Category-->
    <div>
      <dt class="card-label">Category</dt>
      <dd class="card-value">{{data?.category || '-'}}</dd>
    </div>
  </div>
  <div class="card-definitions-splitter">
    <!--Redemption Type-->
    <div>
      <dt class="card-label">Redemption Type</dt>
      <dd class="card-value">{{data?.redemptionType || '-'}}</dd>
    </div>
    <!--Cost of Reward-->
    <div>
      <dt class="card-label">Reward Type</dt>
      <dd class="card-value">{{data?.rewardType || '-'}}</dd>
    </div>
  </div>
  <!--Description-->
  <div *ngIf="data?.description">
    <dt class="card-label">Description</dt>
    <dd class="card-value">{{data?.description}}</dd>
  </div>
  <!--Terms & Condition-->
  <div *ngIf="data?.termsAndCondition">
    <dt class="card-label">Terms & Condition</dt>
    <dd class="card-value">{{data?.termsAndCondition}}</dd>
  </div>
</dl>