<!--image-->
<div *ngIf="data?.image" class="card-row">
  <cl-upload-graphic [formControl]="imageControl"></cl-upload-graphic>
</div>
<div class="new-reward-margin-top">
  <div class="card-row stretch input-group new-reward-margin-top">
    <!-- Reward Type-->
    <div>
      <label class="card-label">Reward Type</label>
      <p class="card-value">{{data?.rewardType || '-'}}</p>
    </div>
    <!--Category-->
    <div>
      <label class="card-label">Category</label>
      <p class="card-value">{{data?.category || '-'}}</p>
    </div>
  </div>
  <div class="card-row stretch input-group new-reward-margin-top">
    <!--Redemption Type-->
    <div>
      <label class="card-label">Redemption Type</label>
      <p class="card-value">{{data?.redemptionType || '-'}}</p>
    </div>
    <!--Cost of Reward-->
    <div>
      <label class="card-label">Reward Type</label>
      <p class="card-value">{{data?.rewardType || '-'}}</p>
    </div>
  </div>
  <!--Description-->
  <div class="new-reward-margin-top" *ngIf="data?.description">
    <label class="card-label">Description</label>
    <p class="card-value">{{data?.description}}</p>
  </div>
  <!--Terms & Condition-->
  <div class="new-reward-margin-top" *ngIf="data?.termsAndCondition">
    <label class="card-label">Terms & Condition</label>
    <p class="card-value">{{data?.termsAndCondition}}</p>
  </div>
</div>
