<!--image-->
<div *ngIf="data?.image">
  <img [src]="data?.image" class="image">
</div>
<dl class="card-definitions">
  <div class="card-definitions-splitter">
    <!-- Reward Type-->
    <div>
      <dt class="card-label">
        {{'REWARD_TYPE' | translate}}
      </dt>
      <dd class="card-value">{{data?.rewardType || '-'}}</dd>
    </div>
    <!--Category-->
    <div>
      <dt class="card-label">
        {{'CATEGORY' | translate}}
      </dt>
      <dd class="card-value">{{data?.category || '-'}}</dd>
    </div>
  </div>
  <div class="card-definitions-splitter">
    <!--Redemption Type-->
    <div>
      <dt class="card-label">
        {{'REDEMPTION_TYPE' | translate}}
      </dt>
      <dd class="card-value">{{data?.redemptionType || '-'}}</dd>
    </div>
    <!--Cost of Reward-->
    <div>
      <dt class="card-label">
        {{'REWARD_TYPE' | translate}}
      </dt>
      <dd class="card-value">{{data?.rewardType || '-'}}</dd>
    </div>
  </div>
  <div class="card-definitions-splitter">
    <!--Description-->
    <div *ngIf="data?.description">
      <dt class="card-label">
        {{'DESCRIPTION' | translate}}
      </dt>
      <dd class="card-value">{{data?.description}}</dd>
    </div>
    <!--Terms & Condition-->
    <div *ngIf="data?.termsAndCondition">
      <dt class="card-label">
        {{'TERMS_CONDITION' | translate}}
      </dt>
      <dd class="card-value">{{data?.termsAndCondition}}</dd>
    </div>
  </div>
  <div *ngIf="data?.tags && data?.tags?.length > 0">
    <dt class="card-label">
      {{'TAGS'| translate}}
    </dt>
    <dd class="card-value">
      <span class="card-chip" *ngFor="let tag of data?.tags">{{tag}}</span>
    </dd>
  </div>
</dl>
