<div class="upload-wrap"
     [class.invalid]="isRequired || message"
     [class.field-lock]="lock"
     [ngClass]="classList"
>
  <input #fileInput type="file"
         *ngIf="!imgURL"
         class="upload-input"
         accept='image/*'
         (change)="preview(fileInput.files)"
  />
  <div class="image-wrap"
       (click)="setActive()"
       [ngClass]="{active: imgURL === _selectGraphic}"
       *ngIf="imgURL"
  >
    <img [src]="imgURL" class="image" alt="upload">
    <button class="image-clear" (click)="clear()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <div class="upload-btn-wrap" *ngIf="!imgURL">
    <button class="upload-btn" (click)="fileInput.click()">
        <ng-content></ng-content>
        <span>{{btnLabel}}</span>
    </button>
  </div>
  <small class="upload-error" *ngIf="isRequired">Required field</small>
  <small class="upload-error" *ngIf="message">{{message}}</p>
  <small class="upload-type" *ngIf="!message && !isRequired">{{placeholder}}</small>
</div>
