<div class="close-btn-container" *ngIf="showButton">
  <button mat-icon-button
          class="close-btn"
          (click)="onClose()" tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="content">
	<div mat-dialog-title>{{title}}</div>
	<mat-dialog-content *ngIf="description">
		<p [innerHtml]="description"></p>
		<div *ngFor="let name of referralNames">
			<mat-form-field appearance="standard" class="full-width__input">
				<input matInput [placeholder]="namePlaceholder" disabled [value]="name" type="text">
				<mat-icon matSuffix (click)="removeName(name)">delete</mat-icon>
			</mat-form-field>
		</div>
		<div>
			<form [formGroup]="addRefferalNameForm" class="form" (ngSubmit)="addName()">
				<mat-form-field appearance="standard" class="full-width__input">
					<input matInput [placeholder]="namePlaceholder" formControlName="referralName" type="text">
				</mat-form-field>
				<div class="add-button">
					<button mat-flat-button type="submit" [disabled]="addRefferalNameForm.invalid">{{addButtonTxt}}</button>
				</div>
			</form>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-flat-button mat-dialog-close (click)="buttonPressed()"
			[disabled]="!referralNames.length">{{buttonTxt}}</button>
	</mat-dialog-actions>
</div>
