@import "variables";

.container-sidenav,
.mat-drawer-content {
  overflow: initial; // required to make header sticky
}

.container-sidenav {
  position: relative;
  min-height: 100vh;
}

.sidenav {
  width: $sidenav-width-initial;
  background-color: $bgcolor-sidebar;
  position: fixed;

  &-data-container {
    padding: 0 1.2rem;
    position: relative;
  }

  &-actions {
    position: relative;
    margin-top: auto;
    margin-bottom: ($vertical-padding * 0.5);
  }

  &-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;

    .btn-text {
      font-size: $base-font-size;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.7);
      padding-left: 0.8rem;
    }

    &.appear {
      animation: changeWidth 0.4s cubic-bezier(0.35, 0, 0.25, 1);
    }    
  }

  &-compress {
    display: flex;
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    position: absolute;
    top: 0;
    right: 0;

    &.center {
      right: 1.6rem;
    }
  }

  &-menu-wrap {
    max-height: 60vh;
    overflow: auto;
    padding: 1.6rem 0 0 0;
  }
}

.mat-toolbar-log {
  padding: 0 1rem;
  background-color: $bgcolor-sidebar-logo;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header-height-base;
}

.sidenav-content {
  position: relative;
  min-height: 100vh;
}

@keyframes changeWidth {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: auto;
    opacity: 1;
  }
}

.side-nav-toggle {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 6.4rem;
  padding: 0 $horizontal-padding;
  border: none;
  outline: none;
  background: none;
  color: $base-font-color;
  cursor: pointer;
}

@media (max-width: $tablet-width) {
  .side-nav-toggle {
    display: block;
  }

  .mat-toolbar-log {
    display: none;
  }

  .sidenav-compress {
    display: none;
  }

  .mat-drawer-content {
    margin-left: 0 !important;
  }
}

@media (max-width: $mobile-width) {
  .side-nav-toggle {
    padding: 0 ($horizontal-padding * 0.5);
  }
}
