<mat-sidenav-container class="container-sidenav" ><!--fullscreen-->
  <mat-sidenav [mode]="sideNavMode" class="sidenav" #sidenav [opened]="sideNavOpened" style="overflow: hidden;">
    <mat-toolbar class="mat-toolbar-log">
      <cl-logo sizeClass="medium"></cl-logo>
    </mat-toolbar>
    <!--<cdk-sidemenu></cdk-sidemenu>-->
    menu
    <button (click)="toggleSideNav()">toggle</button>
  </mat-sidenav>
  <mat-sidenav-content style="z-index: unset;overflow: hidden;">
    <mat-drawer-container class="container-sidenav"><!--fullscreen-->
      <mat-drawer mode="side" #drawer class="drawer" [opened]="matDrawerOpened" style="overflow: hidden;">
        <mat-toolbar class="mat-toolbar-log">
          <!--<img src="./assets/logo.codetok.png" width="36px">-->
          <cl-logo sizeClass="small"></cl-logo>
        </mat-toolbar>
        <!--<cdk-sidemenu [iconOnly]="true"></cdk-sidemenu>-->
        <button (click)="toggleSideNav()">toggle</button>
      </mat-drawer>
      <mat-drawer-content style="overflow: hidden;">

        <!--<cdk-toolbar [sidenav]="sidenav" [drawer]="drawer" [sidebar]="sidenav2" [matDrawerShow]="matDrawerShow" style="z-index: 500"></cdk-toolbar>-->

        <!--<perfect-scrollbar  style="height: calc(100% - 33px);" >
          <router-outlet></router-outlet>
        </perfect-scrollbar>-->
        router-outlet-router-outlet


      </mat-drawer-content>
    </mat-drawer-container>
  </mat-sidenav-content>

  <mat-sidenav #sidenav2 position="end" mode="over">
    <!--<cdk-sidebar></cdk-sidebar>-->
    sidebar
  </mat-sidenav>

</mat-sidenav-container>
