<div class="container">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="{{group.label}}" *ngFor="let group of itemsGroup$">
      <div class="cards-container" *ngIf="group.items | async as items ">
        <mat-card *ngFor="let item of items" class="mat-item mat-elevation-z2">
          <img mat-card-image [src]="item.image" *ngIf="item.image">
          <mat-card-content>
            <p>{{ (item.description.length > 120) ? (item.description | slice:0:120)+'...':(item.description) }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" (click)="readMore(item)">Read More</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
