@import "../../custom-theme.scss";
@import '../../mixins.scss';

.mat-tab-group {
  ::ng-deep {
    .mat-tab-header {
      background-color: #FFFFFF;
    }

    .mat-ink-bar {
      background-color: mat-color($primary) !important;
    }
  }
}

.cards-container {
  margin: 1.6rem;
}

.mat-card {
  margin-bottom: 1.6rem;

  .mat-card-content {
    padding: 0 0.8rem;
    min-height: 5rem;
    margin-bottom: 0;
    line-height: 2rem;
    letter-spacing: 0.025rem;
    color: #666666;
  }

  .mat-card-image {
    height: 15rem;
    object-fit: cover;
  }

  .mat-card-actions {
    padding: 0.8rem 0;
  }
}

.ellipsis-2-lines {
  @include ellipse-lines(2);
}

.container {
  overflow: auto;
  height: 100%;
}