/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/theming';
@import "./custom-theme.scss";

html {
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: #FAFAFA;
}

html, body {
  height: 100%;
  margin: 0;
}

.actions-container {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 6rem;
  padding: 1rem 1.2rem;
  box-sizing: border-box;
  text-align: center;

  button {
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 0;
    text-transform: uppercase;
  }
}

.mat-form-field {
  font-size: 1.6rem !important;

  .mat-form-field-label {
    letter-spacing: 0.015rem !important;
    color: #535253 !important;
  }

  .mat-form-field-ripple {
    background-color: #535253 !important;
  }

  .mat-form-field-flex {
    border-radius: 0 !important;
    padding: 0.55em 0.75em 0 0.75em !important;
    background-color: #E8E8E8 !important;
  }

  .mat-form-field-underline::before {
    display: none !important;
  }

  &[appearance=standard],
  &[appearance=legacy] {
    .mat-form-field-flex > div {
      padding-bottom: 0.75em;
      top: -0.5em;

      span.prefix-spacer {
        width: 0.3em;
        display: inline-block;
      }
    }
  }
}

.mat-form-field-invalid {
  .mat-form-field-label {
    color: #f44336 !important;
  }

  .mat-form-field-ripple {
    background-color: #f44336 !important;
  }
}

.mat-flat-button {
  border-radius: 0.2rem !important;
  color: #FFFFFF !important;
  background: #186DE1 !important;
}

.mat-raised-button {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 1.4rem !important;
  letter-spacing: 0.075rem !important;
  border-radius: 0.2rem !important;
  background-color: #186DE1 !important;

  a {
    color: #fff;
    text-decoration: none;
  }
}
