@import "variables";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.graphic {
  &-line {
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: 3rem;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &-prefix {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 2rem;
    width: 20%;
    box-sizing: border-box;

    &-text {
      max-width: 65%;
      overflow: auto;

      span {
        white-space: nowrap;
      }
    }

    &.small {
      width: 10%;
    }
  }

  &-img-wrap {
    height: 100%;
    padding-right: 1.2rem;
    width: 35%;
    box-sizing: border-box;

    img {
      width: auto;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-line-progress {
    width: 65%;
    padding-right: 2.4rem;
    box-sizing: border-box;
  }

  &-suffix {
    display: flex;
  }

  &-percent {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    color: $custom-line-progress;
  }
}
