@import "variables";
@import "buttons";

:host {
  width: 100%;

  @include typo-caption;
}

.btn {
  @include btn;
}

.download-link {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: flex-start;

  &-field {
    @include typo-input;

    flex: 1;
    margin-right: ($horizontal-padding * 0.25);
    padding: 0;
    background: $lightest-gray;
  }

  &-btn {
    flex-shrink: 0;
    flex-grow: 0;
  }

  ::ng-deep .mat-form-field-outline-start,
  ::ng-deep .mat-form-field-outline-end {
    border-color: transparent;
  }
}
