@import "variables";

:host {
  width: 100%;
  
  @include typo-caption;
}

.download-link {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: flex-start;

  &-field {
    flex: 1;
    margin-right: 0.6rem;
    padding: 0;
    border-radius: $border-radius;
  }

  &-input {
    flex: 1;
    height: 100%;
    border-radius: $border-radius;
    border: solid 1px rgba(32, 44, 70, 0.5);
    margin-right: 0.6rem;
    padding: 0;
  }

  .mat-form-field-wrapper {
    margin: 0 !important;
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}
