mat-list {
  padding-top: 7rem;
}

.diabetes-condition {
  height: auto !important;
  padding-bottom: 1rem;
  padding-bottom: 2rem !important;
}

.mat-radio-button {
  display: block;
  padding-top: 1rem;
}
