<div class="candyshop-nav">
  <cs-button classList="secondary" routerLink="simple">Simple</cs-button>
  <cs-button classList="secondary" routerLink="forms">Forms</cs-button>
  <cs-button classList="secondary" routerLink="file-uploader">File Uploader</cs-button>
  <cs-button classList="secondary" routerLink="graphic-uploader">Graphic Uploader</cs-button>
  <cs-button classList="secondary" routerLink="menu">Menu</cs-button>
</div>
<div class="candyshop-content">
  <router-outlet></router-outlet>
</div>

