<aside class="dialog" role="dialog" aria-labelledby="dialogTitle-selectMerchant">
  <header class="dialog-header-wrap">
    <h2 class="dialog-title" id="dialogTitle-selectMerchant" translate>EXISTING_MERCHANT_POPUP.SELECT_MERCHANT</h2>
    <button class="dialog-closed btn-transparent" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <mat-dialog-content>
    <section class="dialog-content">
      <div class="merchant-list">
        <!--filters-->
        <cl-table-filters [dataSource]="dataSource" classList="block">
          <ng-container *clTableFilter="'name'; let filter">
            <cl-search-filter class="search-block" [control]="filter"
                              [placeholder]="'EXISTING_MERCHANT_POPUP.SEARCH_FOR_MERCHANTS' | translate"></cl-search-filter>
          </ng-container>
        </cl-table-filters>
        <!--table-->
        <div class="table-wrap">
          <cl-list-merchant-view [dataSource]="dataSource"
                                [displayedColumns]="displayedColumns"
                                [selectable]="true"
                                (selectedMerchant)="selectedMerchant($event)"
          >
          </cl-list-merchant-view>
        </div>
        <!--/table-->
        <!--paginator-->
        <cl-paginator [dataSource]="dataSource"
                      [pageSize]="5"
                      [pageSizeOptions]="[5, 10, 20]"
        ></cl-paginator>
        <!--/ paginator-->
      </div>
    </section>
  </mat-dialog-content>
  <!--<mat-dialog-actions>-->
  <footer class="dialog-actions"
  >
    <cl-button [classList]="'secondary'"
              class="actions-close"
              (click)="close()"
              [disableRipple]="true"
    >
        <span translate>
          BTN_CANCEL
        </span>
    </cl-button>

    <cl-button [classList]="'primary'"
              [disable]="!selectMerchant"
              (click)="add()"
              [disableRipple]="true"
    >
        <span translate>
          BTN_ADD_MERCHANT
        </span>
    </cl-button>
  </footer>
  <!--</mat-dialog-actions>-->
</aside>
