<div class="main-container">
    <mat-toolbar class="toolbar">
        <img src="assets/header_logo.png">
    </mat-toolbar>
    <div class="content-container">
        <div class="title-container">
            <div class="title">{{title}}</div>
            <div class="sub-title">{{subTitle}}</div>
        </div>
        <div class="btn-group">
            <button mat-flat-button class="full-width__button blut-button" (click)="onSignUp()">
                Sign up
            </button>
            <button mat-flat-button class="full-width__button clear-background" (click)="onLogin()">
                Log in
            </button>
        </div>
    </div>
</div>