<aside class="dialog" role="dialog" aria-labelledby="dialogTitle-replenishVoucherCodes">
  <header class="dialog-header-wrap">
    <h2 class="dialog-title" id="dialogTitle-replenishVoucherCodes">Replenish Voucher Codes</h2>
    <button class="dialog-closed btn-transparent" [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <mat-dialog-content>
    <div class="dialog-content">

      <!--      Single code-->
      <ng-container *ngIf="voucherSettings?.voucherCode?.type === 'single_code'">
        <mat-form-field>
          <input type="number" matInput [min]="0" [max]="10000"
                 (input)="setReplenishVoucherCodes(+$event.target.value)"/>
          <mat-hint>Voucher codes available: 10,000</mat-hint>
        </mat-form-field>
        <div class="code-preview">
          <label class="dialog-content-title">Single code</label>
          <div class="code-preview-block">
            {{voucherSettings?.voucherCode?.singleCode?.code}}
          </div>
        </div>
      </ng-container>
      <!--/      Single code-->

      <!-- Unique codes: System generated-->
      <ng-container *ngIf="voucherSettings?.voucherCode?.type === 'system_generated'">
        <mat-form-field>
          <input type="number" matInput [min]="0" [max]="10000"
                 (change)="setReplenishVoucherCodes(+$event.target.value)"/>
          <mat-hint>Voucher codes available: 10,000</mat-hint>
        </mat-form-field>
        <div class="code-preview">
          <label class="dialog-content-title">Unique codes: System generated</label>
          <div class="code-preview-block">
            {{voucherSettings?.voucherCode?.uniqueGeneratedCode?.prefix}} ({{voucherSettings?.voucherCode?.uniqueGeneratedCode?.codeFormat}})
          </div>
        </div>
      </ng-container>
      <!--/ Unique codes: System generated-->

      <!-- Unique codes: User Upload-->
      <!-- <ng-container *ngIf="data?.uniqueUserUploadCode">
        <cl-upload-file label="Unique codes: User Upload"
                        (uploadFile)="setReplenishVoucherCodes(20000)"
                        (deleteFile)="setReplenishVoucherCodes($event)">
        </cl-upload-file>
        <div class="code-preview" *ngIf="replenishVoucherCodes">
          <label class="dialog-content-title">Total Number of Voucher</label>
          <p class="code-preview-value">
            {{replenishVoucherCodes | number: '2.'}}
          </p>
        </div>
      </ng-container> -->
      <!--/ Unique codes: User Upload-->

      <!--Merchant PIN-->
      <ng-container *ngIf="voucherSettings?.merchantPIN">
        <mat-form-field>
          <input type="number" matInput [min]="0" [max]="10000"
                 (change)="setReplenishVoucherCodes($event.target.value)"/>
          <mat-hint>Voucher codes available: 10,000</mat-hint>
        </mat-form-field>
        <div class="code-preview">
          <label class="dialog-content-title">Merchant PIN</label>
          <div class="code-preview-block">
            {{voucherSettings?.merchantPIN?.code}}
          </div>
        </div>
      </ng-container>
      <!--/ Merchant PIN-->

    </div>
  </mat-dialog-content>
  <footer class="dialog-actions">
    <cl-button classList="secondary"
               class="actions-close"
               (click)="close()"
               [disableRipple]="true">
        <span>
          Cancel
        </span>
    </cl-button>

    <cl-button classList="primary"
               (click)="replenish()"
               [disable]="!replenishVoucherCodes"
               [disableRipple]="true">
        <span>
          Replenish
        </span>
    </cl-button>
  </footer>
</aside>


