<aside class="dialog" role="dialog" aria-labelledby="dialogTitle-replenishVoucherCodes">
  <header class="dialog-header-wrap">
    <h2 class="dialog-title" id="dialogTitle-replenishVoucherCodes">
      {{'REPLENISH_VOUCHER_CODES' | translate}}
    </h2>
    <button class="dialog-closed cs-btn-transparent" [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <mat-dialog-content>
    <div class="dialog-content">
      <!--      Single code-->
      <ng-container *ngIf="voucherSettings?.voucherCode?.type === 'single_code'">
        <mat-form-field>
          <input type="number" matInput [min]="0" [max]="10000"
            (input)="setReplenishVoucherCodes(+$event.target.value)" />
          <mat-hint>
            {{'VOUCHER_CODE_AVAILABLE' | translate}}
          </mat-hint>
        </mat-form-field>
        <div class="code-preview">
          <label class="dialog-content-title">
            {{'SINGLE_CODE' | translate}}
          </label>
          <div class="code-preview-block">
            {{voucherSettings?.voucherCode?.singleCode?.code}}
          </div>
        </div>
      </ng-container>
      <!--/      Single code-->

      <!-- Unique codes: System generated-->
      <ng-container *ngIf="voucherSettings?.voucherCode?.type === 'system_generated'">
        <mat-form-field>
          <input type="number" matInput [min]="0" [max]="10000"
            (change)="setReplenishVoucherCodes(+$event.target.value)" />
          <mat-hint>
            {{'VOUCHER_CODE_AVAILABLE' | translate}}
          </mat-hint>
        </mat-form-field>
        <div class="code-preview">
          <label class="dialog-content-title">
            {{'VOUCHER_CODE_OPTIONS.UNIQUE_CODES:_SYSTEM_GENERATED' | translate}}
          </label>
          <div class="code-preview-block">
            {{voucherSettings?.voucherCode?.uniqueGeneratedCode?.prefix}}
            ({{voucherSettings?.voucherCode?.uniqueGeneratedCode?.codeFormat}})
          </div>
        </div>
      </ng-container>
      <!--/ Unique codes: System generated-->

      <!-- Unique codes: User Upload-->
      <ng-container *ngIf="voucherSettings?.voucherCode?.type === 'user_uploaded'">
        <cl-upload-file
          [options]="{rewardId: data.id}"
          [downloadFile]="'assets/files/Vouchers_template.csv'"
          (uploadFile)="setReplenishVoucherCodes($event)"
          (deleteFile)="setReplenishVoucherCodes()">
        </cl-upload-file>
        <div class="code-preview" *ngIf="replenishVoucherCodes">
          <label class="dialog-content-title">Total Number of Voucher</label>
          <p class="code-preview-value">
            {{replenishVoucherCodes | number}}
          </p>
        </div>
      </ng-container>
      <!--/ Unique codes: User Upload-->

      <!--Merchant PIN-->
      <ng-container *ngIf="voucherSettings?.merchantPIN">
        <mat-form-field>
          <input type="number" matInput [min]="0" [max]="10000"
            (change)="setReplenishVoucherCodes($event.target.value)" />
          <mat-hint>
            {{'VOUCHER_CODE_AVAILABLE' | translate}}
          </mat-hint>
        </mat-form-field>
        <div class="code-preview">
          <label class="dialog-content-title">
            {{'MERCHANT_PIN' | translate}}
          </label>
          <div class="code-preview-block">
            {{voucherSettings?.merchantPIN?.code}}
          </div>
        </div>
      </ng-container>
      <!--/ Merchant PIN-->

    </div>
  </mat-dialog-content>
  <footer class="dialog-actions">
    <cs-button
      *ngIf="voucherSettings?.voucherCode?.type !== 'user_uploaded'"
      classList="secondary"
      class="actions-close"
      (click)="close()"
      [disableRipple]="true">
      <span>
        {{'BTN_CANCEL' | translate}}
      </span>
    </cs-button>

    <cs-button
      *ngIf="voucherSettings?.voucherCode?.type !== 'user_uploaded'"
      classList="primary"
      (click)="replenish()"
      [disable]="!replenishVoucherCodes"
      [disableRipple]="true">
      <span>
        {{'REPLENISH' | translate}}
      </span>
    </cs-button>

    <cs-button
      *ngIf="voucherSettings?.voucherCode?.type === 'user_uploaded'"
      classList="primary"
      (click)="close()"
      [disableRipple]="true">
      <span>
        {{'BTN_CLOSE' | translate}}
      </span>
    </cs-button>
  </footer>
</aside>
