<form>
  <mat-form-field>
    <mat-label>Last name (English)</mat-label>
    <input type="text" matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>First name (English)</mat-label>
    <input type="text" matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Telephone number</mat-label>
    <input type="text" matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="text" matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="text" matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input type="text" matInput>
  </mat-form-field>

  <mat-checkbox>
    I understand and agree to the terms and conditions of Home+
  </mat-checkbox>

  <mat-checkbox>
    I accept that it is issued by Home+ and its partner companies.
    Promotion information
  </mat-checkbox>

  <button mat-raised-button color="primary">Submit and send a verification SMS</button>
</form>
