@import "~src/assets/styles/variables";

:host {
  flex: 1;
}

.qr-redemption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5.1rem;

  &-cancel {
    width: calc(100% - 3.2rem);
    border: 1px solid $text-green;
    color: $text-green;
    height: 4.4rem;
    position: absolute;
    bottom: 8.5rem;
    font-size: 1.4rem;
    border-radius: 0.4rem;
    background: $white;
  }
}
