<mat-expansion-panel class="card" expanded>
  <mat-expansion-panel-header class="card-header">
    <h2 class="card-title">
      {{'LOYALTY_FEATURE.TIERS' | translate}}
    </h2>
  </mat-expansion-panel-header>
  <div class="card-content">
    <div class="table-wrap">
      <table class="table" mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name" sticky>
          <th mat-header-cell *matHeaderCellDef class="column-featured">
            {{'LOYALTY_FEATURE.NAME' | translate}}
          </th>
          <td mat-cell *matCellDef="let element" class="column-featured">
            <div class="name-cell">
              {{element?.name}}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="joinMethod">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="joinMethod"
              class="column-status">{{'LOYALTY_FEATURE.QUALIFICATION' | translate}}</th>
          <td mat-cell *matCellDef="let element" class="column-status column-qualification">
            {{element.joinMethod | JoinMethod}}
          </td>
        </ng-container>

        <ng-container matColumnDef="earnBonus">
          <th mat-header-cell *matHeaderCellDef>{{'LOYALTY_FEATURE.EARN_BONUS' | translate}}</th>
          <td mat-cell *matCellDef="let element"> {{element?.earnBonus}}%</td>
        </ng-container>

        <ng-container matColumnDef="burnDiscount">
          <th mat-header-cell *matHeaderCellDef>{{'LOYALTY_FEATURE.BURN_DISCOUNT' | translate}}</th>
          <td mat-cell *matCellDef="let element"> {{element?.burnDiscount}}%</td>
        </ng-container>

        <ng-container matColumnDef="pointsExpiry">
          <th mat-header-cell *matHeaderCellDef>{{'LOYALTY_FEATURE.POINTS_EXPIRY' | translate}}</th>
          <td mat-cell *matCellDef="let element">
            {{element?.pointsExpiry | clPointsExpiredInfo}}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef class="column-menu"></th>
          <td mat-cell *matCellDef="let element" class="column-menu">
            <button mat-icon-button [matMenuTriggerFor]="itemMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #itemMenu="matMenu">
              <button mat-menu-item (click)="editItem(element)">
                {{'BTN_EDIT' | translate}}
              </button>
              <!--              <button mat-menu-item (click)="duplicateItem(element?.id)">Duplicate</button>-->
              <button mat-menu-item (click)="deleteItem(element)">
                {{'BTN_DELETE' | translate}}
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <ng-container matColumnDef="noRecord">
          <td mat-footer-cell *matFooterCellDef colspan="100" class="no-record-cell">
            {{'LOYALTY_FEATURE.TIERS_NO_DATA_MESSAGE' | translate}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsWithEdit"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsWithEdit;"></tr>
        <tr mat-footer-row *matFooterRowDef="(dataSource.length$ | async) === 0 ? ['noRecord'] : []"></tr>
      </table>
      <cl-button *ngIf="editable" classList="tertiary ph-0" (click)="createTier()">
        {{'LOYALTY_FEATURE.CREATE_NEW_TIRE' | translate}}
      </cl-button>
    </div>
  </div>
</mat-expansion-panel>

