form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 80rem;
  margin: 3rem 2rem;
  margin: 0 auto;
  margin-top: 2.3%;

  .fieldInput {
    margin: 2rem auto;
  }

  button {
    margin: 2rem auto;
    max-width: 40rem;
  }
}
