@import '../reward.scss';

.icon {
  position: fixed;
  top: 2rem;
  left: 2rem;
}

.main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;

  .reward-container {
    height: 100%;
    flex: 1;
    overflow-y: scroll;
  }
}
