<mat-expansion-panel class="card" expanded>
  <mat-expansion-panel-header class="card-header">
    <h2 class="card-title">
      Points Info
    </h2>
  </mat-expansion-panel-header>

  <div class="card-content">
    <div class="card-row">
      <mat-form-field *ngIf="group" [formGroup]="group">
        <input matInput [formControl]="pointsName" placeholder="Points Name">
        <mat-error *ngIf="pointsName.hasError('required')">Required field</mat-error>
        <mat-error *ngIf="pointsName.hasError('minlength')">Min length 1</mat-error>
      </mat-form-field>

    </div>
  </div>
</mat-expansion-panel>
