<mat-expansion-panel class="card" expanded>
  <mat-expansion-panel-header class="card-header">
    <h2 class="card-title">
      {{'LOYALTY_FEATURE.POINTS_INFO' | translate}}
    </h2>
  </mat-expansion-panel-header>

  <div class="card-content">
    <div class="card-row">
      <mat-form-field *ngIf="group" [formGroup]="group">
        <input type="text" matInput [formControl]="pointsName" [placeholder]="'LOYALTY_FEATURE.POINTS_NAME' | translate">
        <mat-error *ngIf="pointsName.hasError('required')">{{'ERROR_REQUIRED' | translate}}</mat-error>
        <mat-error *ngIf="pointsName.hasError('minlength')">{{'ERROR_MIN_LENGTH' | translate}} 1</mat-error>
      </mat-form-field>

    </div>
  </div>
</mat-expansion-panel>
