@import "../../../theme/variables.scss";

.mission {
  padding-left: 25px;

  h1 {
    font-size: 24px;
    line-height: 29px;
    color: $black;
  }

  p {
    font-size: 1rem;
    color: $black;
  }

  .mat-chip {
    min-height: 32px !important;
    height: 3px !important;
  }

  .btn-cta-deals  {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;

    &_action {
      background-color: white;
      color: black;
    }
  }
}
