<ng-container *ngIf="group">
  <div class="question-group-field">

    <!--questions form array-->
    <div cdkDropList (cdkDropListDropped)="drop($event)"
         class="drag-list"
         [cdkDropListData]="surveyQuestionGroup.controls"
    >
      <cl-question-form-field *ngFor="let item of surveyQuestionGroup.controls; let i = index;"
                              cdkDrag
                              [cdkDragData]="item"
                              [group]="item"
                              [clOpenClose]="currentIndex + '-' + i"
                              [currentIndex]="currentIndex + '-' + i"
                              [level]="level + 1"
                              (removed)="deleteQuestion($event)"
                              (changeControl)="updateQuestionType($event)"
      >
        <div class="example-handle" cdkDragHandle>
          <i class="icon drag-icon"></i>
        </div>
      </cl-question-form-field>
    </div>
    <!--end questions form array-->

    <cl-question-type class="question-select-type"
                      addQuestionType="true"
                      (selectTypeQuestion)="choseTypeQuestion($event)"
                      [level]="level"
    >
      <cs-button [classList]="'tertiary'"
      >
        <span>
          {{'ADD_SUB_QUESTION' | translate}}
        </span>
      </cs-button>
    </cl-question-type>
  </div>
</ng-container>



