:host {
  display: flex;
  flex-direction: row;
}

mat-card {
  max-width: 31.5rem;
}

mat-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background: #eef9e4;
    color: #6dc00e;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
