<table class="table" mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Reward Image</th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="['/rewards/detail', element.id]" class="image-cell">
        <img [src]="element?.image"/>
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="rewardType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="rewardType">Reward Type</th>
    <td mat-cell *matCellDef="let element"> {{element?.rewardType}}</td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="category">Category</th>
    <td mat-cell *matCellDef="let element"> {{element?.category}}</td>
  </ng-container>

  <ng-container matColumnDef="validity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="begin">Validity</th>
    <td mat-cell *matCellDef="let element">{{element?.begin | date: DATE_FORMAT}}
      - {{element?.end | date: DATE_FORMAT}}</td>
  </ng-container>

  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="current">Balance</th>
    <td mat-cell *matCellDef="let element">
      <cl-progress-bar [current]="element?.current" [total]="element?.total"></cl-progress-bar>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="menu-column"></th>
    <td mat-cell *matCellDef="let element" class="menu-column">
      <button mat-icon-button [matMenuTriggerFor]="itemMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #itemMenu="matMenu">
        <button mat-menu-item (click)="editItem(element)">Edit</button>
        <button mat-menu-item (click)="duplicateItem(element?.id)">Duplicate</button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;" [class.active]="isSelected(row) && selectable" (click)="selectItem(row)"></tr>
</table>
