<div class="table-wrap">
  <table class="table" mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="column-thumbnail"><span class="sr-only">Reward Image</span></th>
      <td mat-cell *matCellDef="let element" class="column-thumbnail">
        <a (click)="clickDetailItem(element)" class="thumbnail">
          <img [src]="element?.image" alt="Reward thumbnail" />
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name" class="column-featured"><span translate>REWARD_NAME</span></th>
      <td mat-cell *matCellDef="let element" class="column-featured">
        <a class="name-cell__link" (click)="clickDetailItem(element)">
          {{element?.name}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="rewardType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="reward_type"><span translate>REWARD_TYPE</span></th>
      <td mat-cell *matCellDef="let element"> {{element?.rewardType}}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="category"><span translate>CATEGORY</span></th>
      <td mat-cell *matCellDef="let element"> {{element?.category}}</td>
    </ng-container>

    <ng-container matColumnDef="validity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="begin" class="column-date"><span translate>VALIDITY</span></th>
      <td mat-cell *matCellDef="let element" class="column-date">
        <time datetime="">
          <span>{{element?.begin | date: DATE_FORMAT}} - {{element?.end | date: DATE_FORMAT}}</span>
        </time>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="cost_of_reward"><span translate>BALANCE</span></th>
      <td mat-cell *matCellDef="let element">
        <cl-progress-bar [current]="element?.current" [total]="element?.total"></cl-progress-bar>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef class="column-menu"></th>
      <td mat-cell *matCellDef="let element" class="column-menu">
        <button mat-icon-button [matMenuTriggerFor]="itemMenu" aria-label="Reward options menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #itemMenu="matMenu">
          <button mat-menu-item (click)="editItem(element)"><span translate>BTN_EDIT</span></button>
          <button mat-menu-item (click)="duplicateItem(element)"><span translate>BTN_DUPLICATE</span></button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [class.table-row]="selectable"
      [class.active]="isSelected(row) && selectable"
      (click)="selectItem(row)"></tr>
  </table>
</div>
