<mat-tab-group mat-stretch-tabs class="tabs">
  <mat-tab i18n-label label="Map">
    <div class="filter-area">
      <button mat-button (click)="openDialog()">
        <img src="assets/funnel.png" alt="">
        <span i18n="@@static-filter">Filter</span>
      </button>
    </div>
    <perx-core-locations-map [locations]="locations"></perx-core-locations-map>
  </mat-tab>

  <mat-tab i18n-label label="List">
    <div class="filter-area">
      <button mat-button (click)="openDialog()">
        <img src="assets/funnel.png" alt="">
        <span i18n="@@static-filter">Filter</span>
      </button>
    </div>
    <perx-core-locations-list [locations]="locations"></perx-core-locations-list>
  </mat-tab>
</mat-tab-group>