<mat-tab-group mat-stretch-tabs class="tabs">
  <mat-tab i18n-label label="{{'PHARMACY.MAP' | translate }}">
    <div class="filter-area">
      <button mat-button (click)="openDialog()">
        <img src="assets/funnel.png" alt="">
        <span translate>PHARMACY.FILTER_BY</span>
      </button>
    </div>
    <perx-core-locations-map [locations]="locations" [key]="key"></perx-core-locations-map>
  </mat-tab>

  <mat-tab i18n-label label="{{ 'PHARMACY.LIST' | translate}}">
    <div class="filter-area">
      <button mat-button (click)="openDialog()">
        <img src="assets/funnel.png" alt="">
        <span translate>PHARMACY.FILTER_BY</span>
      </button>
    </div>
    <perx-core-locations-list [locations]="locations" [headerFn]="headerFn"></perx-core-locations-list>
  </mat-tab>
</mat-tab-group>