.filter-area {
  background-color: #e9e9ed;
  padding: 1rem;

  button {
    background-color: #ffffff;
    font-size: 1.4rem;
    color: #494953;
  }
}

perx-core-locations-map {
  position: relative;
  height: 100%;
}