@import "variables";

.upload {

  &-wrap {
    position: relative;
  }

  &-input {
    opacity: 0;
    position: absolute;
    width: 3rem;
    height: 3rem;
    z-index: 55;
    cursor: pointer;
  }

  &-btn {
    width: 3rem;
    height: 3rem;
    background: $white-color;
    border: dashed 1px rgba(62, 78, 115, 0.7);
    border-radius: 4px;
    transition: .5s cubic-bezier(.35,0,.25,1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: $primary-color;

    &:after {
      content: '';
      opacity: 0;
      transition: .5s cubic-bezier(.35,0,.25,1);
    }
  }

  &-error {
    color: $warning-color;
  }

  &-error-wrap {
    position: absolute;
    bottom: -2.4rem;
    left: 0;
    width: max-content;
  }

  &-type {
    font-size: 1.4rem;
    color: rgba(51, 51, 51, 0.5);
  }

  &-type-wrap {
    position: absolute;
    bottom: -2.4rem;
    left: 0;
    width: max-content;
  }
}

.image {
  max-height: 100%;
  max-width: 100%;
  background: $simple-light-gray;

  &-wrap {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $simple-light-gray;
    position: relative;
    cursor: pointer;

    &:hover {
      .image-clear {
        opacity: 1;
      }
    }
  }

  &-clear {
    opacity: 0;
    transition: .5s cubic-bezier(.35,0,.25,1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    mat-icon {
      font-size: 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $dark-color;
    }

  }

}

