<div class="main-puzzle-container">
  <div>
    <h1>{{this.title}}</h1>
    <h3>{{this.subTitle}}</h3>
  </div>
  <div class="game-wrapper">
      <perx-core-pinata
        *ngIf="gameType == 'pinata'" 
        [stillImg]="'assets/pinata/still-img.png'"
        [openedImg]="'assets/pinata/opened-img.png'" 
        (tap)="onPinataTap($event)"
        [nbTaps]="pinataTotalTaps"
        [enabled]="isEnabled">
      </perx-core-pinata>
      <perx-core-shake-tree
        *ngIf="gameType == 'shake-tree'"
        [treeImg]="'assets/shake-tree/tree.png'"
        [giftImg]="'assets/shake-tree/gift.png'"
        [waitingManImg]="'assets/shake-tree/person.png'"
        [waitingManCelebrateImg]="'assets/shake-tree/person-celebrate.png'"
        [nbHangedGifts]="3"
        [nbFallingGifts]="1"
        (completed)="gameCompleted()"
        [enabled]="isEnabled"
        [nbShakes]="4"
        [distanceFromTree]=26
        [bottomDistance]=1>
      </perx-core-shake-tree>
      <perx-core-puzzle-stamp
        *ngIf="gameType == 'puzzle-stamp'"
        [img]="'assets/puzzle-stamp/netflix-bg.jpg'"
        [lockImg]="'assets/puzzle-stamp/lock-icon.png'"
        [unlockImg]="'assets/puzzle-stamp/unlock-icon.png'"
        [highlightColor]="'#FAE4A4'"
        [borderColor]="'#BC9B3A'"
        [rows]="2"
        [cols]="5"
        [nbPlayedPieces]="0"
        [nbAvailablePieces]="10"
        (moved)="onMoved($event)"
        (completed)="gameCompleted()">
      </perx-core-puzzle-stamp>
  </div>  
        <button
          mat-flat-button
          color="primary"
          (click)="isEnabled = true"
          [ngStyle]="{ 'visibility': isEnabled ? 'hidden': 'visible'}">
          Play
      </button>
</div>