
.main-puzzle-container {
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 2rem -1.2rem;
	height: 100%;
	background: linear-gradient(180deg, #3A6186 0%, #89243E 100%);
	h1 {
		color: white;
		text-align: center;
		font-family: Roboto, sans-serif;
		padding: 2rem 0 0 0;
	}
	h3 {
		color: white;
		text-align: center;	
		margin: 0;
	}	
}

.game-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
	background: linear-gradient(90deg, #2BB673 0%, #40E495 100%);
	width: 50%;
}