@import "variables";

.dialog {
  &-content {
    padding-top: 3rem;
  }
}

.reward {
  &-list {
    padding-top: 3.5rem;
  }

  &-list-wrapper {
    position: relative;
  }

  &-dialog-content {
    padding: 0 3rem;
  }

  &-dialog-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: ($vertical-padding * 0.75) 3rem;
    background: #fff;
    position: relative;
  }
}
