<div class="dialog-header-wrap">
  <p class="dialog-content-title">
    Select Rewards
  </p>
  <button class="dialog-closed btn-transparent" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <section class="merchant-dialog-content">
    <div class="merchant-list">
      <!--filters-->
      <cl-table-filters [dataSource]="dataSource" classList="block">
        <ng-container *clTableFilter="'type'; let filter">
          <cl-search-filter class="search-block" [control]="filter"></cl-search-filter>
        </ng-container>
      </cl-table-filters>
      <!--table-->
      <cl-rewards-list [dataSource]="dataSource"
                       [selectable]="true"
                       [displayedColumns]="['image', 'type', 'category', 'balance']"
                       (selectReward)="selectReward($event)">
      </cl-rewards-list>
      <!--paginator-->
      <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </section>
</mat-dialog-content>
<!--<mat-dialog-actions>-->
<div class="merchant-dialog-actions"
>
  <cl-button [classList]="'tertiary'"
             class="actions-close"
             (click)="close()"
             [disableRipple]="true"
  >
      <span>
        Cancel
      </span>
  </cl-button>

  <cl-button [classList]="'primary'"
             (click)="add()"
             [disable]="!selectedReward"
             [disableRipple]="true"
  >
      <span>
        Add Reward
      </span>
  </cl-button>
</div>
<!--</mat-dialog-actions>-->

