@import "variables";
.merchant {
  &-title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.35;
    color: $secondary-color;
  }

  &-btn-cancel {
    margin-right: 0.8rem;
  }

  &-main-block {
    width: 84rem;
    margin: 0 auto;
  }

  &-logo {
    margin: 2.4rem 0 4rem 0;
  }

  &-logo-block {
    width: 108px;
    height: 127px;
    border-radius: 4px;
    border: solid 1px rgba(62, 78, 115, 0.7);
    background-color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-logo-img {
    width: 9rem;
    height: 9rem;
    object-fit: contain;
  }

}

.detail-block {
  margin-top: 3.2rem;

  &-sub-title {
    margin-bottom: 2.4rem;
    font-size: 1.4rem;
    line-height: 1.21;
    color: $secondary-color;
  }

  &-text {
    font-size: 1.6rem;
    color: $base-font-color;
  }

  &-single {
    min-width: 24rem;
  }

  &-branch {
    display: flex;
    align-items: center;
    position: relative;
    height: 5.4rem;
    border-radius: 4px;
    background-color: $simple-light-gray;
    padding: 0 5.2rem;
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .branches {
    display: flex;
    flex-direction: column;
  }

  .branch {
    &-index {
      position: absolute;
      left: 2rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.4rem;
      color: $secondary-color;
    }

    &-name, &-contact-number {
      border-bottom: 1px solid $border-color;
      padding: 0.5rem 0;
      flex: 1;
    }

    &-address {
      border-bottom: 1px solid $border-color;
      padding: 0.5rem 0;
      flex: 2;
      margin: 0 1rem;
    }
  }

}
