<div class="mat-tab-pagination">
  <div *ngIf="showScrollButtons" (click)="left()" aria-hidden="true" 
    class="mat-tab-pagination-navlink mat-tab-pagination-navlink-prev mat-elevation-z4 mat-ripple"
    mat-ripple="">
    <div class="mat-tab-pagination-chevron"></div>
  </div>
  <div class="mat-tab-label-container" #labelContainer>
    <nav mat-tab-nav-bar class="tabs">
      <a mat-tab-link *ngFor="let tab of tabs" [active]="tab.value === currentValue" (click)="changeTab(tab.value)">
        {{tab.title | engagementType}}
      </a>
    </nav>
    <div class="mat-tab-nav-bar mat-tab-header" style="flex-grow: 1"></div>
  </div>    
  <div *ngIf="showScrollButtons" (click)="right()" aria-hidden="true" 
    class="mat-tab-pagination-navlink mat-tab-pagination-navlink-next mat-elevation-z4 mat-ripple" 
    mat-ripple="">
    <div class="mat-tab-pagination-chevron"></div>
  </div>
</div>
