<aside class="dialog loyalty" role="dialog" aria-labelledby="dialogTitle-tierSetup">
  <header class="dialog-header-wrap">
    <h2 class="dialog-title" id="dialogTitle-tierSetup">
      {{'LOYALTY_FEATURE.TIER_SETUP' | translate}}
    </h2>
    <button class="dialog-closed btn-transparent" [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <div class="dialog-content" [formGroup]="form">
    <mat-form-field class="loyalty-name-input">
      <input type="text" matInput formControlName="name" [placeholder]="'LOYALTY_FEATURE.TIERS_NAME' | translate">
      <mat-error *ngIf="name.hasError('required') && name.touched">{{'ERROR_REQUIRED' | translate}}</mat-error>
      <mat-error *ngIf="name.hasError('minlength') && name.touched">{{'ERROR_MIN_LENGTH' | translate}} 1</mat-error>
      <mat-error *ngIf="name.hasError('maxlength') && name.touched">{{'ERROR_MAX_LENGTH' | translate}} 60</mat-error>
    </mat-form-field>

    <label class="loyalty-label">
      {{'LOYALTY_FEATURE.QUALIFICATION_CRITERIA' | translate}}
    </label>
    <ng-container formGroupName="joinMethod">
      <div class="loyalty-row input-group">
        <mat-checkbox color="primary" formControlName="pointsThreshold">
          {{'LOYALTY_FEATURE.POINTS_THRESHOLD' | translate}}
        </mat-checkbox>
        <mat-form-field class="loyalty-points-input">
          <input matInput type="number" formControlName="points">
          <mat-error *ngIf="points.hasError('required') && points.touched">{{'ERROR_REQUIRED' | translate}}</mat-error>
          <mat-error *ngIf="points.hasError('min') && points.touched">{{'ERROR_MIN_LENGTH' | translate}} 1</mat-error>
        </mat-form-field>
        <span>
          {{'LOYALTY_FEATURE.POINTS' | translate}}
        </span>
      </div>
      <div class="loyalty-row">
        <mat-checkbox color="primary" formControlName="inviteOnly">
          {{'LOYALTY_FEATURE.INVITE_ONLY' | translate}}
        </mat-checkbox>
      </div>
      <mat-error *ngIf="joinMethod.hasError('requiredGroup')">
        {{'ERROR_SELECT_AT_LEAST_ONE' | translate}}
      </mat-error>
    </ng-container>

    <label class="loyalty-label">
      {{'LOYALTY_FEATURE.TIER_IMAGE' | translate}}
    </label>
    <div class="loyalty-row loyalty-row-uploader">
      <cl-upload-graphic [isRequired]="imageUrl.hasError('required') && imageUrl.touched"
                         formControlName="imageUrl"
                         [btnLabel]="'Upload photo'"
      ></cl-upload-graphic>
    </div>

    <label class="loyalty-label">
      {{'LOYALTY_FEATURE.ACCELERATED_EARN_FOR_TIER' | translate}}
    </label>
    <div class="loyalty-row input-group">
      <span>
        {{'LOYALTY_FEATURE.USERS_IN_THIS_TIER_WILL_EARN' | translate}}
      </span>
      <mat-form-field floatLabel="never">
        <input type="number" [min]="1" [max]="100" [step]="0" matInput formControlName="earnBonus">
        <mat-error *ngIf="earnBonus.hasError('required') && earnBonus.touched">{{'ERROR_REQUIRED' | translate}}</mat-error>
        <mat-error *ngIf="earnBonus.hasError('min') && earnBonus.touched">{{'ERROR_MIN_LENGTH' | translate}} 1</mat-error>
        <mat-error *ngIf="earnBonus.hasError('max') && earnBonus.touched">{{'ERROR_MAX_LENGTH' | translate}} 100</mat-error>
      </mat-form-field>
      <span>
       % {{'LOYALTY_FEATURE.MORE_POINTS' | translate}}.
      </span>
    </div>

    <label class="loyalty-label">
      {{'LOYALTY_FEATURE.ACCELERATED_BURN_RULE' | translate}}
    </label>
    <div class="loyalty-row input-group">
      <span>
        {{'LOYALTY_FEATURE.USERS_IN_THIS_TIER' | translate}}
      </span>
      <mat-form-field floatLabel="never">
        <input type="number" [min]="0" [max]="100" matInput formControlName="burnDiscount">
        <mat-error *ngIf="burnDiscount.hasError('required') && burnDiscount.touched">{{'ERROR_REQUIRED' | translate}}</mat-error>
        <mat-error *ngIf="burnDiscount.hasError('min') && burnDiscount.touched">{{'ERROR_MIN_LENGTH' | translate}} 1</mat-error>
        <mat-error *ngIf="burnDiscount.hasError('max') && burnDiscount.touched">{{'ERROR_MAX_LENGTH' | translate}}100</mat-error>
      </mat-form-field>
      <span>
        % {{'LOYALTY_FEATURE.WHEN_SPENDING_POINTS' | translate}}.
      </span>
    </div>

    <label class="loyalty-label">
      {{'LOYALTY_FEATURE.POINTS_EXPIRY' | translate}}
    </label>
    <ng-container formGroupName="pointsExpiry">
      <div>
        <div class="loyalty-row input-group">
          <span>
            {{'LOYALTY_FEATURE.POINTS_EXPIRE' | translate}}
          </span>
          <mat-form-field floatLabel="never">
            <input type="number" [min]="1" matInput formControlName="amount">
            <mat-error *ngIf="amount.hasError('required') && amount.touched">{{'ERROR_REQUIRED' | translate}}</mat-error>
            <mat-error *ngIf="amount.hasError('min') && amount.touched">{{'ERROR_MIN_LENGTH' | translate}} 1</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="type">
              <ng-container *ngFor="let option of data?.config?.pointsExpirePeriodType">
                <mat-option [value]="option?.value">{{option?.title | translate}}</mat-option>
              </ng-container>
<!--              <mat-option [value]="pointsExpirePeriodType.day">{{'DAY' | translate}}</mat-option>-->
<!--              <mat-option [value]="pointsExpirePeriodType.week">{{'WEEK' | translate}}</mat-option>-->
<!--              <mat-option [value]="pointsExpirePeriodType.month">{{'MONTH' | translate}}</mat-option>-->
<!--              <mat-option [value]="pointsExpirePeriodType.year">{{'YEAR' | translate}}</mat-option>-->
            </mat-select>
          </mat-form-field>
          <mat-form-field class="loyalty-points-expiry-type-input">
            <mat-select formControlName="trigger">
              <ng-container *ngFor="let option of data?.config?.pointsExpireTrigger">
                <mat-option [value]="option?.value">{{option?.title | translate}}</mat-option>
              </ng-container>
<!--              <mat-option value="accrual">-->
<!--                {{'LOYALTY_FEATURE.FROM_WHEN_THE_POINT' | translate}}.-->
<!--              </mat-option>-->
<!--              <mat-option value="inactivity">-->
<!--                {{'LOYALTY_FEATURE.FROM_USER_INACTIVITY' | translate}}.-->
<!--              </mat-option>-->
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </ng-container>
  </div>

  <footer class="dialog-actions">
    <cl-button classList="tertiary"
               class="actions-close"
               (click)="close()"
               [disableRipple]="true">
        <span>
          {{'BTN_CANCEL' | translate}}
        </span>
    </cl-button>

    <cl-button classList="primary"
               (click)="apply()">
        <span>
         {{data?.tier ? 'BTN_APPLY' : 'BTN_SAVE' | translate}}
        </span>
    </cl-button>
  </footer>
</aside>


