@import "variables";

.tier-setup {
  white-space: nowrap;
  font-size: 1.4rem;

  &-label {
    @include typo-subtitle2;
    display: flex;
    color: $secondary-color;
    font-size: 1.6rem;
    padding-top: 1rem;
    //margin: 0;
  }

  &-row {
    max-height: 4.5rem;
    flex-flow: row nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .mat-form-field{
      width: 6rem;
    }

    input {
      text-align: center;
    }

    &-uploader{
      padding: 1rem 0 3.5rem;
    }
  }

  &-name-input{
    width: 17rem !important;
  }

  &-points-input{
    margin-left: 6rem;
  }

}
