:host {
  display: block;
  margin-bottom: 1rem;
}

.sidenav-dropdown-indicator {
  transition: transform .25s;
  &.indicateOpen {
    transform: rotate(180deg);
  }
}

mat-nav-list {
  overflow: hidden;
  padding-top: 0;

}
.primary{
  transition: max-height .4s cubic-bezier(.35, 0, .25, 1);
  padding-top: 0;
}
.secondaryMenu {
  transition: max-height .4s cubic-bezier(.35, 0, .25, 1);
  padding-top: 0;
}

.mat-nav-list .mat-list-item {
  font-size: 1.4rem;
}

.mat-list-item {

  height: 3rem !important;

  mat-icon {
    padding: 0 0 0 1.4rem !important;
    color: rgba(255, 255, 255, 0.7);
  }

  .menu-link {
    color: rgba(255, 255, 255, 0.7);
  }
}

.menu-icon {
  display: flex;
  justify-content: center;
}

.active {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #f55511;
    width: 1.2rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  mat-icon, .menu-link, .menu-icon {
    color: #ffffff;
    fill: #ffffff;
  }
}

.icon-menu {
  width: 2.4rem !important;
  padding: 0 0 0 1.6rem !important;
  box-sizing: content-box;
}

.icon {
  width: 1.8rem !important;
  padding: 0 0 0 16px !important;
}
