<div class="tab-content">
  <div>
    <!--  filters-->
    <div class="template-filters">
      <cl-table-filters [dataSource]="dataSource">
        <ng-container *clTableFilter="'title'; value: defaultSearchValue; let filter">
          <cl-search-filter class="name-filter" [control]="filter"></cl-search-filter>
        </ng-container>
        <ng-container *clTableFilter="'attributes_type'; value: defaultTypeValue; let filter">
          <mat-form-field appearance="outline">
            <mat-select [formControl]="filter" placeholder="Filter by">
              <ng-container *ngFor="let option of typeFilterConfig">
                <mat-option [value]="option.value">{{option.title}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </cl-table-filters>
      <cl-button classList="tertiary" (click)="createNewEngagement()">+ Create New Engagement</cl-button>
    </div>
    <!--items-->
    <mat-error class="error template-error" *ngIf="form.get('template').getError('required') && form.get('template').touched">
      Please, choose template.
    </mat-error>

    <mat-radio-group color="primary" class="item-list shadow" [formControl]="form.get('template')">
      <ng-container *ngIf="(dataSource.connect() | async) as items">
        <ng-container *ngFor="let item of items">
          <mat-radio-button [value]="item">
            <cl-engagement-item [data]="item"></cl-engagement-item>
          </mat-radio-button>
        </ng-container>
      </ng-container>
    </mat-radio-group>
  </div>
  <cl-simple-mobile-view class="second-tab"
                         [background]="'/assets/images/stamps/card-background/card-bg-1.png'"
                         [mobileImageClass]="'mobile-non-header'"
                         [headerColor]="tenantSettings?.headerColor"
                         [logo]="tenantSettings?.logo"
                         [logoType]="tenantSettings?.logoType"
                         [fontFamily]="tenantSettings?.font"
  ><!--[background]=" getImgLink(background, '/assets/images/stamps/card-background/card-bg-1.png')"-->
    <div class="mobile-preview-header">
      <p class="mobile-preview-headline">
        {{selectedEngagement?.title}}
      </p>
      <p class="mobile-preview-sub-headline">
        {{selectedEngagement?.sub_title}}
      </p>
    </div>
    <div class="plugin-block">
      <div class="mobile-preview-card"
           [ngStyle]="{
             'background-image': 'url(/assets/images/stamps/card-background/card-bg-1.png)',
             'font-family': tenantSettings?.font
             }"
      ><!--'background-image': 'url(' + getImgLink(cardBackground, '/assets/images/stamps/card-background/card-bg-1.png') + ')',-->
        <!--<perx-core-survey [data]="getQuestionData()"></perx-core-survey>-->
        <!--<perx-core-shake-tree class="mobile-preview-plugin"-->
                              <!--[treeImg]="getImgLink(treeType, 'assets/images/games/tree/full_tree_1.png')"-->
                              <!--[giftImg]="getImgLink(giftBox, 'assets/images/gifts/state1.png')"-->
                              <!--[waitingManImg]="''"-->
                              <!--[waitingManCelebrateImg]="''"-->
                              <!--[nbHangedGifts]="gameGiftView.value"-->
                              <!--[nbFallingGifts]="gameGiftView.value"-->
                              <!--[nbShakes]="5"-->
                              <!--[distanceFromTree]="26"-->
                              <!--[bottomDistance]="1"-->
                              <!--[enabled]="false"-->
        <!--&gt;-->
        <!--</perx-core-shake-tree>-->

        <ng-container [ngSwitch]="selectedEngagement?.attributes_type">
          <ng-container *ngSwitchCase="'game'">
            game of type
            <ng-container [ngSwitch]="selectedEngagement?.game_type">
              <ng-container *ngSwitchCase="'shake'">
                shake the tree
              </ng-container>
              <ng-container *ngSwitchCase="'tap'">
                tap the pinata
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>

    </div>
    <div class="mobile-preview-btn-wrap mobile-btn-block">
      <button class="mobile-preview-btn"
              [ngStyle]="{
                  backgroundColor: tenantSettings?.buttonColor,
                  'font-family': tenantSettings?.font
                }"
      >
        {{selectedEngagement?.button}}
      </button>
    </div>
  </cl-simple-mobile-view>
</div>
