<div class="tab-content">
  <div>
    <!--  filters-->
    <div class="template-filters">
      <cl-table-filters [dataSource]="dataSource">
        <ng-container *clTableFilter="'name'; let filter">
          <cl-search-filter class="name-filter" [control]="filter"></cl-search-filter>
        </ng-container>
        <ng-container *clTableFilter="'type'; let filter">
          <mat-form-field appearance="outline">
            <mat-select [formControl]="filter" placeholder="Filter by">
              <ng-container *ngFor="let option of typeFilterConfig">
                <mat-option [value]="option.value">{{option.title}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </cl-table-filters>
      <cl-button classList="invert">+ Create New Engagement</cl-button>
    </div>
    <!--items-->
<!--    <mat-error *ngIf="form.get('template').hasError('required')" class="error">Choose an engagement</mat-error>-->
    <mat-radio-group class="item-list shadow" [formControl]="form.get('template')">
      <ng-container *ngIf="(dataSource.connect() | async) as items">
        <ng-container *ngFor="let item of items">
          <mat-radio-button [value]="item">
            <cl-engagement-item [data]="item"></cl-engagement-item>
          </mat-radio-button>
        </ng-container>
      </ng-container>
    </mat-radio-group>
  </div>

  <div class="preview">
    <div class="preview-mobile">
    </div>
  </div>
</div>
