<div class="phonepreview-wrapper" *ngIf="form">
  <div class="forms-container" [formGroup]="form">
    <!--Rewards-->
    <mat-card class="card">
      <ng-container *ngFor="let slot of slots">
        <cl-new-campaign-rewards-form-group
          [slotNumber]="slot"
          [title]="('CAMPAIGN.REWARDS_FOR_SLOT' | translate) + ' ' + slot">
        </cl-new-campaign-rewards-form-group>
      </ng-container>
    </mat-card>
    <!--/ Rewards-->
    <!-- Stamps Rule-->
    <!-- <ng-container [ngSwitch]="store.currentCampaign?.template?.attributes_type">
      <cl-new-campaign-rewards-stamps-page *ngSwitchCase="'stamps'" [formControl]="limits" [tenantSettings]="tenantSettings">
      </cl-new-campaign-rewards-stamps-page>
      <cl-new-campaign-rewards-page *ngSwitchDefault [formControl]="limits" [tenantSettings]="tenantSettings">
      </cl-new-campaign-rewards-page>
    </ng-container> -->
    <!--/ Stamps Rule-->
  </div>
  <cl-campaigns-mobile-preview [storeTemplate$]="store.template$" [tenantSettings]="tenantSettings">
  </cl-campaigns-mobile-preview>
</div>`