<div class="phonepreview-wrapper">
  <div class="forms-container">
    <!--DummyToRemove Error-->
    <form [formGroup]="form1pt1">
    </form>
    <!--DummyToRemove Error-->
    <!--Rewards-->
    <mat-card class="card">
      <div class="card-header">
        <mat-checkbox color="primary" [(ngModel)]="enableProbability">
          {{'CAMPAIGN.INCLUDE_PROBABILITY' | translate}}
        </mat-checkbox>
      </div>
      <ng-container *ngFor="let slot of slots">
        <cl-new-campaign-rewards-form-group
          [isSpinEngagement]="isSpinEngagement"
          [enableProbability]="enableProbability"
          [formParent]="form1pt1"
          [slotNumber]="slot"
          [title]="('CAMPAIGN.REWARDS_FOR_SLOT' | translate) + ' ' + slot">
        </cl-new-campaign-rewards-form-group>
      </ng-container>
      <mat-error class="error" *ngIf="sumMoreThanError">
        {{'CAMPAIGN.THE_TOTAL_PROBABILITY' | translate}}
      </mat-error>
      <mat-error class="error" *ngIf="rewardNotAllPatchedError && isSpinEngagement">
        Please fill in rewards for all slots
      </mat-error>
    </mat-card>
    <!--/ Rewards-->
    <!-- Stamps Rule-->
    <ng-container [ngSwitch]="campaignEngagementType">
      <cl-new-campaign-rewards-stamps-page *ngSwitchCase="'stamps'" [tenantSettings]="tenantSettings">
      </cl-new-campaign-rewards-stamps-page>
      <cl-new-campaign-rewards-page *ngSwitchDefault [tenantSettings]="tenantSettings" [campaignType]="campaignEngagementType">
      </cl-new-campaign-rewards-page>
    </ng-container>
    <!--/ Stamps Rule-->
  </div>
  <cl-campaigns-mobile-preview [storeTemplate$]="store.template$" [tenantSettings]="tenantSettings">
  </cl-campaigns-mobile-preview>
</div>`
