<div class="dialog">
  <div class="dialog-header-wrap">
    <!--<h2 mat-dialog-title class="dialog-title">Create Engagement</h2>-->
    <h3 class="dialog-title">Manage List</h3>
    <button class="dialog-closed btn-transparent" [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content class="dialog-content">
      <label class="dialog-content-title">Audience lists</label>
      <div *ngFor="let pool of pools">
        <mat-checkbox color="primary" [checked]="pool.checked" (change)="changePools(pool.value, $event.checked)" class="dialog-row">{{pool.name}}</mat-checkbox>
      </div>
  </mat-dialog-content>
  <div class="dialog-actions">
    <cl-button classList="tertiary"
               class="actions-close"
               (click)="close()"
               [disableRipple]="true">
        <span>
          Cancel
        </span>
    </cl-button>

    <cl-button classList="primary"
               (click)="save()"
               [disableRipple]="true">
        <span>
          Save
        </span>
    </cl-button>
  </div>
</div>


