<aside class="dialog" role="dialog" aria-labelledby="dialogTitle-manageList">
  <header class="dialog-header-wrap">
    <!--<h2 mat-dialog-title class="dialog-title">Create Engagement</h2>-->
    <h2 class="dialog-title" id="dialogTitle-manageList">Manage List</h2>
    <button class="dialog-closed btn-transparent" [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <mat-dialog-content>
    <div class="dialog-content">
      <label class="dialog-content-title">Audience lists</label>
      <div *ngFor="let pool of pools">
        <mat-checkbox color="primary" [checked]="pool.checked" (change)="changePools(pool.value, $event.checked)" class="dialog-row">{{pool.name}}</mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>
  <footer class="dialog-actions">
    <cl-button classList="secondary"
               class="actions-close"
               (click)="close()"
               [disableRipple]="true">
        <span>
          Cancel
        </span>
    </cl-button>

    <cl-button classList="primary"
               (click)="save()"
               [disableRipple]="true">
        <span>
          Save
        </span>
    </cl-button>
  </footer>
</aside>


