<p>
  engagements-list-page works!
</p>

<section class="content">

<!--  <div fxLayout fxLayoutAlign="center center">-->
<!--    <mat-form-field fxFlex="20%">-->
<!--      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">-->
<!--    </mat-form-field>-->
<!--  </div>-->

<!--  <mat-form-field appearance="outline">-->
<!--    &lt;!&ndash; <mat-label>Search for engagements</mat-label> &ndash;&gt;-->
<!--    <mat-icon matPrefix>search</mat-icon>-->
<!--    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search for engagements">-->
<!--  </mat-form-field>-->

<!--  <mat-tab-group animationDuration="0ms">-->
<!--    <mat-tab label="First">Content 1</mat-tab>-->
<!--    <mat-tab label="Second">Content 2</mat-tab>-->
<!--    <mat-tab label="Third">Content 3</mat-tab>-->
<!--  </mat-tab-group>-->

  <cl-search-filter #searchFilter></cl-search-filter>
  <cl-tabs-filter #tabsFilter></cl-tabs-filter>


  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
      <td mat-cell *matCellDef="let element">
        <p class="name-cell">
          <a class="name-cell__link" routerLink="/">{{element?.name}}</a>
          <span class="name-cell__id">ID: {{element?.id}}</span>
        </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="status">Status</th>
      <td mat-cell *matCellDef="let element">
        <cl-status-label [status]="element?.status"></cl-status-label>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Engagement Type</th>
      <td mat-cell *matCellDef="let element"> {{element?.type}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>more_vert</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</section>
