<header class="page-header">
  <h1 class="title" translate>ENGAGEMENTS</h1>
  <cs-button (click)="openDialogCreate()" classList="primary cs-btn-mobile">
    <i class="cs-btn-mobile-icon icon new-icon"></i>
    <span translate>BTN_CREATE_NEW</span>
  </cs-button>
</header>

<section class="content">
  <ng-container *ngIf="hasData">
    <!--filters-->
    <cl-table-filters [dataSource]="dataSource" classList="block">
      <ng-container *clTableFilter="'title'; let filter">
        <cl-search-filter class="search-block" [control]="filter"
                          [placeholder]="'SEARCH_FOR_ENGAGEMENTS' | translate"></cl-search-filter>
      </ng-container>
      <ng-container *clTableFilter="'attributes_type'; let filter">
        <cl-tabs-filter [formControl]="filter" [tabs]="tabsFilterConfig" class="full-block"></cl-tabs-filter>
      </ng-container>
    </cl-table-filters>
    <!--table-->
    <cl-engagements-list *ngIf="!isGridMode" [dataSource]="dataSource"></cl-engagements-list>
    <!--grid-->
    <cl-engagements-grid *ngIf="isGridMode"
                         [dataSource]="dataSource"
                         [menuOptions]="options"
                         (menuTapped)="menuOptionTapped($event)">
    </cl-engagements-grid>
    <!--paginator-->
    <div class="table-card">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
  </ng-container>

  <cl-no-data *ngIf="noData">
    <img class="no-data-img" src="/assets/images/no-data/engagements-empty-illustration.svg" alt="">
    <h2 class="no-data-title">
      Build your customer experience, now!
    </h2>
    <p class="no-data-text">
      Let&rsquo;s begin by creating your first Engagement
    </p>
  </cl-no-data>
</section>

