.container {
  padding: 2.4rem 1.6rem 0;

  .save-button,
  .city-field {
    width: 100%;
  }

  .save-button {
    height: 4rem;
    letter-spacing: 0.75px;
  }

  .city-field {
    margin-bottom: 2.4rem;
  }
}
