.toolbar {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  height: 7rem;
  z-index: 800;
  color: #fff;
  background: #202C46;
  font-size: 2rem;
  line-height: 1.9rem;
}

.main-app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.game-container {
  flex: 2;
  width: 100%;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  left: 0;
  bottom: 0;
  height: 7rem;
  z-index: 800;
  color: #666666;
  background: #fff;
  font-size: 2rem;
  line-height: 1.9rem;
}
