.toolbar {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  height: 7rem;
  z-index: 800;
  color: #fff;
  background: #202C46;
  box-shadow: 0 4px 4px rgba(131, 126, 126, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  font-size: 2rem;
  line-height: 1.9rem;
}

.main-app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.game-container {
  flex: 2;
  width: 100%;
}
