<div class="main-app-container">
  <mat-toolbar class="toolbar mat-elevation-z2" *ngIf="showHeader">
    <img class="logo" src="assets/logo.png" />
  </mat-toolbar>
  <div class="game-container">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
  <mat-toolbar class="navbar mat-elevation-z2" *ngIf="showToolbar">
    <a [routerLink]="[ '/wallet' ]">
      <div>Wallet</div>
    </a>
    <a [routerLink]="[ '/history' ]">
      <div>History</div>
    </a>
    <a [routerLink]="[ '/account' ]">
      <div>Account</div>
    </a>
  </mat-toolbar>
</div>