<div class="main-app-container">
  <mat-toolbar class="toolbar mat-elevation-z2" *ngIf="showHeader">
    <img class="logo" src="assets/logo.png" />
  </mat-toolbar>
  <div class="game-container">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
  <mat-toolbar class="navbar mat-elevation-z2" *ngIf="showToolbar">
    <a [routerLink]="[ '/wallet' ]" routerLinkActive="active">
      <div class="nav-item">
        <mat-icon aria-hidden="false">account_balance_wallet</mat-icon>
        <span>Wallet</span>
      </div>
    </a>
    <a [routerLink]="[ '/history' ]" routerLinkActive="active">
      <div class="nav-item">
        <mat-icon aria-hidden="false">list</mat-icon>
        <span>History</span>
      </div>
    </a>
    <a [routerLink]="[ '/account' ]" routerLinkActive="active">
      <div class="nav-item">
        <mat-icon aria-hidden="false">account_circle</mat-icon>
        <span>Account</span>
      </div>
    </a>
  </mat-toolbar>
</div>