<div class="page">
  <div class="additions">
    <div class="title">TERMS & CONDITIONS FOR PLUS! REWARDS</div>
    <div class="title">ENJOY THESE EXCLUSIVE BENEFITS:</div>
    <p><span class="bold">Instant Rewards!</span> Enjoy points the moment you purchase.</p>
    <p><span class="bold">Value Coupons!</span> Delight in coupons that offer great perks.</p>
    <p><span class="bold">Bonus Points!</span> Watch out for special promos where you can earn more points.</p>
    <p><span class="bold">PLUS! Price Buster!</span> Avail of special seasonal items at marked-down prices.</p>
    <p class="text"><span class="bold">PLUS! Ecash!</span> Use your points to purchase any item sold at the store.</p>

    <p class="text">This Terms and Conditions shall be the basis and guidelines for the issuance and usage of PLUS!
      Rewards Digital
      Card
      (herein referred to as “PLUS! Rewards”). This shall define your rights and obligations as a Holder or as “Member”
      of
      PLUS! Rewards of the Abenson Group (Abenson Stores, Electroworld, SB Furnitures, Homeplus, Habitat, Ascott BGC,
      among others1, nationwide).</p>
    <p class="text">By being a Member, you are hereby consenting to the collection and processing of your personal
      information, which
      may include sensitive personal information, privileged information (collectively referred as “Personal Data”) by
      the
      Abenson Group and to its subsidiaries, affiliates, agents, contractors and partners (collectively referred to as
      “Service Group”).</p>
    <p class="text">Members of PLUS! Rewards are subject to these guidelines, and are deemed to have accepted and agreed
      to any and
      all
      of the Terms and Conditions and any further amendments thereof, upon mobile application or thru manual
      registration
      through our participating stores.</p>
    <p class="subtitle">How to be a member of PLUS! Rewards</p>
    <ul>
      <li> You can be a member of our PLUS! Rewards program by completing member registration found at website,
        plus.com.ph</li>
      <li> PLUS! Rewards Digital card is already available in your mobile and you may check your points real time by
        accessing
        the website, plus.com.ph</li>
      <li> Abenson Group reserves the right, at its sole discretion and without prior notice, to cancel the Membership
        of
        any
        individual and all Awards and Privileges that go with it.</li>
      <li> Membership will automatically be terminated and all awards and privileges void if the Member is deceased.
      </li>
      <li> The Membership is non- transferable in any circumstance, and is valid only for use by the Member who must
        present
        the digital card upon purchase. The Member is prohibited to use the digital card to earn points from
        transactions of
        other customers.</li>
    </ul>
    <p class="subtitle">Shop, Earn and Save!</p>
    <ul>
      <li> Earning points is so easy! Simply present your PLUS! Rewards Digital Card to the cashier prior to paying for
        your
        purchases at any partner store.</li>
      <li> Valid for cash, debit card, and credit card transactions only.</li>
      <li> Remember, NO PLUS! REWARDS DIGITAL CARD= NO POINTS, similarly NO MOBILE NUMBER= NO POINTS</li>
      <li> P500 purchase = Php1 eCash</li>
      <li> Points conversion are subject to change anytime without prior notice.</li>
      <li> You can also earn points when purchasing Gift Certificates or Gift Cards. However, the use of gift
        certificates or gift cards as a mode of payment, do not earn points.</li>
      <li> Points will be reversed for returned items.</li>
    </ul>
    <p class="subtitle">How to Redeem and Use Your Points</p>
    <ul>
      <li> You may redeem your points and use them to pay for your purchases by simply presenting your PLUS! Rewards
        Digital
        card to the cashier upon paying for your purchases. Your points balance will be converted and the peso
        equivalent
        will be deducted from your total bill. Points can not be exchanged for cash.</li>
      <li> Remember all points earned are valid for a period of two (2) years upon date of purchase.</li>
      <li> Failure to redeem earned points within the given period will automatically mean forfeiture of all earned
        points. Re-instatement of forfeited points is not allowed.</li>
      <li> Remember, NO PLUS! REWARDS DIGITAL CARD= NO REDEMPTION</li>
      <li> Points used to purchase an item will not earn points.</li>
    </ul>
    <p class="subtitle">Other Terms and Conditions</p>
    <p>Your membership is valuable to us, so please remember the following:</p>
    <ol class="text">
      <li>PLUS! Rewards Members are obliged to keep their information file accurate and up-to-date as possible by
        logging in to plus.com.ph to update name, address, and other pertinent data in their PLUS! Rewards account.</li>
      <li>Make sure to present your PLUS! Rewards Digital Card to the cashier BEFORE you pay for the purchases. NO PLUS!
        REWARDS DIGITAL CARD= NO POINTS, similarly NO MOBILE NUMBER= NO POINTS</li>
      <li>The earned points, as recorded in your PLUS! Rewards Digital account shall be deemed correct and accurate.
        PLUS!
        Rewards reserve the right to validate the points earned, awarded to or redeemed by the member.</li>
      <li>Abenson Group reserves the right to make adjustment in earned points which shall not be limited to deduction
        arising
        from returned products and transferring of cards.</li>
      <li>Points redeemed may no longer be changed, revoked or canceled.</li>
      <li>Points will not be issued for any purchase and/or activity that is not eligible for the points or promotions.
      </li>
      <li>Your PLUS! Rewards Digital account will be deemed inactive, and removed from the system if there are no record
        purchases within a period of one (2) years.</li>
      <li>It is the responsibility of the member to keep transaction receipt and invoices, which may be required in case
        of
        request for points verification by the member.</li>
      <li>PLUS! Rewards Program may, at its exclusive option and without prior notice to the member, suspend, cancel,
        and
        terminate any card issued and/or privileges for whatever reason.</li>
      <li>In the event that the PLUS! Digital Rewards Program is terminated, members must use up all remaining points
        within
        60-days prior to termination of program. Due notice to all members must be given at least 60-days before end of
        program</li>
      <li>PLUS! Reserves the right at all times to make any modifications to any such rules and offerings in its sole
        discretion.</li>
      <li>Information acquired during issuance and redemption of points and during membership processing will be kept in
        strict confidentiality. However, PLUS! Rewards reserve the right to use these data for administrative and
        marketing
        purposes.</li>
      <li>For your safety in case of lost of mobile phone with Digital PLUS! Rewards account, inform PLUS! Rewards
        customer
        care hotline through 0917-1117587 and 8921-0888 from 9:00AM to 6:00PM, Monday to Saturday. Immediately access
        your
        digital PLUS! Rewards account and update your mobile number. The company will not be held liable for any
        unauthorized use of Plus! Rewards Digital card.</li>
      <li>Your PLUS! Rewards membership can be revoked anytime. Any abuse, failure to follow the terms and conditions,
        or
        mis-representations, may be used as basis to revoke your membership and will affect your further participation
        in
        our rewards program.</li>
      <li>PLUS! Rewards Digital members are subjected to and are deemed to have accepted the Terms and
        Conditions of the
        PLUS!
        Rewards Program upon signing the PLUS! Rewards sign-up card and/or upon sign-up in plus.com.ph. Abenson Group
        and
        its Service Group reserve the right at all times to make any changes to any such rules and offerings in its sole
        discretion.</li>

    </ol>
    <p class="bold">Breach of the Terms and Conditions:</p>
    <ol class="text">
      <ol>
        <li> It is a breach of these terms and conditions for any member to use any awards, privileges, facilities,
          services or
          arrangement accorded to the member, or act in any fraudulent manner, misleading information and
          misrepresentation to
          PLUS!. The decision of PLUS! as to what constitutes a breach shall be final and conclusive.</li>
        <li>Any breach of these terms and conditions, whether international or not, may result in termination of
          membership,
          forfeiture of points, and cancellation of awards and privileges.</li>
        <li>In the event of termination, all points, awards or privileges that may have been earned by the member will
          also be
          terminated and cannot be redeemed.</li>
      </ol>
    </ol>
    <p class="bold">Consent</p>
    <ol class="text">
      <ol>
        <li> PLUS! Rewards Members understand and agree that by registering their information, the Member is giving
          consent to Abenson Group and its Service Group, if any, to collect, stores, access, share, process and/or
          destroy copies of Member’s personal data.</li>
        <li>Member is aware of and understands his or her right under the Data Privacy Act, including the right to
          request access and correction to the personal data related to him/her. The Member likewise understands and
          agrees that while he has the right to object, it is necessary for Abenson Group and its Service Group to
          collect, store, access, share, process and/or destroy copies of his personal data for but not limited to
          administrative and marketing purposes.</li>
        <li>For other inquiries, Members may contact PLUS! Rewards customer care at 0917-1117587 and 8921-0888 from
          9:00AM to 4:00PM, Monday to Saturday.</li>
      </ol>
    </ol>
    <div class="footer">PLUS! Rewards Terms and Conditions Series of 2019 Version 1</div>
  </div>
</div>
