@import "~src/assets/styles/variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 50rem;
}

.bg-white {
  background: $white;
}

.text-white {
  color: $white;
}
