<div class="table-wrap">
        <table class="table" mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef>{{'AUDIENCE_FEATURE.MESSAGE' | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element?.message}}</td>
          </ng-container>
      
          <ng-container matColumnDef="sendDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="created_at">{{'AUDIENCE_FEATURE.SEND_DATE' | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element?.sendDate}}</td>
          </ng-container>

          <ng-container matColumnDef="sender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="from">{{'AUDIENCE_FEATURE.SENDER' | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element?.from}}</td>
          </ng-container>

          <ng-container matColumnDef="channel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="channel">{{'AUDIENCE_FEATURE.CHANNEL' | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element?.channel}}</td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      