@import "variables";

.merchant-card {
  width: 24.8rem;
  height: 7.2rem;
  box-sizing: border-box;
  padding: 2.4rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: $light-gray;
  font-family: $primary-font;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $secondary-color;
  border-radius: 0.8rem;

  &-icon {
    position: absolute;
  }

  &-label {
    margin-left: 3.8rem;
  }
}
