<!--Merchant Cards-->
<button mat-stroked-button color="primary" class="merchant-btn" (click)="clickSelectMerchant()">
  <div class="merchant-card">
    <i class="icon select-merchant-icon  merchant-card-icon"></i>
    <span class="merchant-card-label">Select existing merchant</span>
  </div>
</button>
<button mat-stroked-button color="primary" class="merchant-btn" (click)="clickCreateMerchant()">
  <div class="merchant-card">
    <i class="icon create-merchant-icon merchant-card-icon"></i>
    <span class="merchant-card-label">Create new merchant</span>
  </div>
</button>
<!--/ Merchant Cards-->