@import '~@angular/material/theming';
@import "variables";

:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: ($horizontal-padding * 0.5);
}

.merchant-btn {
  @include mat-elevation(1);
}

.merchant-card {
  @include typo-subtitle2;

  width: 100%;
  height: $vertical-padding * 2.5;
  box-sizing: border-box;
  padding: ($vertical-padding * 0.75) ($horizontal-padding * 0.75);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  // background-color: $light-gray;
  // color: $secondary-color;
  // border-radius: $border-radius-lg;

  &-label {
    margin-left: 0;
  }
}
