<!--Merchant Cards-->
<mat-radio-group class="item-list">
  <mat-radio-button value="select" (click)="clickSelectMerchant()">
    <div class="merchant-card">
      <i class="icon select-merchant-icon  merchant-card-icon"></i>
      <span class="merchant-card-label">Select existing merchant</span>
    </div>
  </mat-radio-button>
  <mat-radio-button value="create" (click)="clickCreateMerchant()">
    <div class="merchant-card">
      <i class="icon create-merchant-icon merchant-card-icon"></i>
      <span class="merchant-card-label">Create new merchant</span>
    </div>
  </mat-radio-button>
</mat-radio-group>
<!--/ Merchant Cards-->
