@import '../home/cards';

$base-color: rgba(221, 221, 221, 0.863);
$ghost-color: #ecebebf1;
$animation-duration: 1000ms;
$gradient-offset: 52 + 16;

@mixin background-gradient {
  background-image: linear-gradient(90deg, $base-color 0, $ghost-color 40px, $base-color 80px);
  background-size: 80vw;
}

@keyframes ghost-lines {
  0% { background-position: -100px; }
  40% { background-position: 40vw; }
  100% { background-position: 60vw; }
}

@keyframes ghost-avatar {
  0% { background-position: -100px + $gradient-offset; }
  40%, 100% { background-position: 240px + $gradient-offset; }
}

@mixin animate-ghost-image {
  @include background-gradient;

  animation: ghost-avatar $animation-duration infinite linear;
}

@mixin animate-ghost-line {
  @include background-gradient;

  animation: ghost-lines $animation-duration infinite linear;
}

:host {
  -webkit-mask-image: -webkit-gradient(linear, left 50%, left 100%, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));

  mat-card {
    .img-ghost {
      @include animate-ghost-image;

      background-color: gray;
      height: 15rem;
      object-fit: cover;
      margin-bottom: 0;
    }
  }

  .lines {
    width: 100%;

    h1, h2 {
      background-color: gray;
      border-bottom: 3px solid white;
      border-radius: 4px 4px 4px 4px;

      @include background-gradient;
      @include animate-ghost-line;
    }

    h1 {
      display: inline-block;
      height: 2.5rem;
      width: 85%;
    }

    h2 {
      display: inline-block;
      height: 2rem;
      width: 85%;
    }
  }
}
