.full-width__input {
  width: 100%;
  display: block;
}

.main-container {
  background-color: #0f69af;

  .logo {
    padding-top: 7rem;
  }

  .container {
    padding: 0 1.5rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.content {
  flex: 1 1 80rem;

  .main-heading {
    font-weight: 900;
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }

  mat-form-field {
    font-size: 1.4rem;
  }

  .forgot-text {
    color: #0f69af;
    margin-bottom: 3.5rem;
    font-size: 1.2rem;
  }

  .full-width__button {
    width: 100%;
    background-color: #0f69af;
    color: #fff;
  }
}

.translate-switch {
  color: white;
  //position: absolute;
  //top: 3rem;
  //right: 2rem;
  position: relative;
  top: -6rem;
  left: calc(100% - 7rem);
  height: 0;
  overflow: visible;

  ::ng-deep {
    mat-form-field {
      width: 4rem;
    }

    .mat-select-value {
      font-size: 1.5rem;
      color: white;
    }

    .mat-select-arrow {
      color: white;
    }

    .mat-form-field-underline {
      display: none;
    }
  }
}
