<div class="main-container">
  <img class="logo" src="assets/logo.png">

  <div class="logo-title">
    Diabetes Loyality Program
  </div>

  <div class="container">
    <div class="content">
      <div class="main-heading">Welcome!</div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="full-width__input">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" required>
          <mat-error *ngIf="loginForm.get('name').hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width__input">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="Email Address" formControlName="email" required>
          <mat-error *ngIf="loginForm.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width__input">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div class="forgot-text" (click)="onForgotPassword()">Forgot password?</div>
        <button mat-flat-button type="submit" class="full-width__button">Login</button>

        <div class="sales-contact">
          <app-sales-contact></app-sales-contact>
        </div>
      </form>
    </div>
  </div>

</div>
