.full-width__input {
  width: 100%;
  display: block;
}

.content-container {
  .main-heading {
    font-weight: 900;
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }

  mat-form-field {
    font-size: 1.4rem;
  }

  .forgot-text {
    color: #0F69AF;
    margin-bottom: 3.5rem;
    font-size: 1.2rem;
  }

  .full-width__button {
    width: 100%;
    background-color: #0F69AF;
    color: #fff;
  }
}
