<nav>
  <a [routerLink]="['reports']">Reports</a> |
  <a [routerLink]="['rewards']">Rewards</a> |
  <a [routerLink]="['catalogues']">Catalogues</a> |
  <a [routerLink]="['campaigns']">Campaigns</a> |
  <a [routerLink]="['loyalties']">Loyalties</a> |
  <a [routerLink]="['rules']">Rules</a> |
  <a [routerLink]="['merchants']">Merchants</a> |
  <a [routerLink]="['customers']">Customers</a> |
  <a [routerLink]="['bulk']">Bulk Actions</a> |
  <a [routerLink]="['settings']">Settings</a> | 
  <a [routerLink]="['bi']">Business Intelligence</a>
</nav>
<router-outlet></router-outlet>