<div class="table-wrap">
  <table class="table rule-list" #table mat-table [dataSource]="dataSource"
         cdkDropList
         [cdkDropListData]="dataSource"
         (cdkDropListDropped)="dropTable($event)">

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef>Priority</th>
      <td mat-cell *matCellDef="let element; let index = index;">
        <div class="rule-list-row input-group">
          <mat-icon *ngIf="editable"
                    class="rule-list-drag-icon"
                    cdkDragHandle>
            <i class="icon drag-icon"></i>
          </mat-icon>
          <span>{{index + 1}}.</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Rule Name</th>
      <td mat-cell *matCellDef="let element">
        <span>{{element?.name}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="conditions">
      <th mat-header-cell *matHeaderCellDef>Conditions</th>
      <td mat-cell *matCellDef="let element">
        <span class="rule-conditions">{{element?.conditions}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="pointsEarned">
      <th mat-header-cell *matHeaderCellDef>Points Earned</th>
      <td mat-cell *matCellDef="let element">
        <span>{{element?.pointsEarned}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef class="column-menu"></th>
      <td mat-cell *matCellDef="let element" class="column-menu">
        <button class="rule-list-action-button" mat-icon-button [matMenuTriggerFor]="itemMenu" aria-label="Campaign menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #itemMenu="matMenu">
          <button mat-menu-item (click)="editItem(element)">Edit</button>
          <!--<button mat-menu-item (click)="duplicateItem(element?.id)">Duplicate</button>-->
          <button mat-menu-item (click)="deleteItem(element)">Delete</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsWithEdit"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsWithEdit;"
        cdkDrag
        [cdkDragData]="row"></tr>
<!--    <tr mat-footer-row *matFooterCellDef>No records found.</tr>-->
  </table>
  <!--  <div class="rule-list-no-data" *ngIf="dataSource?.length === 0">-->
  <!--    There are currently no special rules for the Gold tier.-->
  <!--  </div>-->
  <ng-content *ngIf="dataSource?.length === 0" select=".rule-list-no-data"></ng-content>
</div>
