<div class="main-container">
  <a routerLink="/">
    <img class="logo" src="assets/logo.png">
  </a>
  <div class="logo-title">
    Diabetes Loyalty Program
  </div>

  <div class="container">
    <div class="content">
      <ng-container *ngIf="!isMerchantNameLoading">
        <div class="main-heading">Welcome!</div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width__input">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="loginForm.hasError('password')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width__input">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput placeholder="Confirm Password" formControlName="confirm-password" required>
            <mat-error *ngIf="loginForm.hasError('confirm-password')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <button mat-flat-button class="full-width__button btn-blue">Next</button>
        </form>
      </ng-container>
      <div *ngIf="isMerchantNameLoading" class="spinner-container">
        <mat-spinner [diameter]="60" [color]="'primary'" [mode]="'indeterminate'">
        </mat-spinner>
      </div>
    </div>
  </div>
</div>
