<div class="campaign-detail-content">
  <!--template-->
  <mat-card class="card" *ngIf="campaign?.template">
    <div class="card-header">
      <p class="card-title">Template</p>
    </div>
    <cl-engagement-item [data]="campaign?.template"></cl-engagement-item>
  </mat-card>
  <!--/ template-->
  <!--Campaign Info-->
  <mat-expansion-panel class="card" expanded>
    <mat-expansion-panel-header class="card-header">
      <p class="card-title">
        Campaign Info
      </p>
    </mat-expansion-panel-header>

    <div class="card-content">
      <!--goal-->
      <mat-form-field class="card-row">
        <mat-select [formControl]="campaignInfo.get('goal')" placeholder="Campagin goal">
          <ng-container *ngFor="let goal of config?.goals">
            <mat-option [value]="goal?.value">{{goal?.title}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <!--duration-->
      <div class="card-row">
        <div class="input-group">
          <cl-date-picker [formControl]="campaignInfo.get('startDate')"
                          [max]="campaignInfo.get('endDate').value"></cl-date-picker>
          <cl-time-picker [formControl]="campaignInfo.get('startTime')"></cl-time-picker>
        </div>
        to
        <div class="input-group">
          <cl-date-picker [formControl]="campaignInfo.get('endDate')"
                          [min]="campaignInfo.get('startDate').value"></cl-date-picker>
          <cl-time-picker [formControl]="campaignInfo.get('endTime')"></cl-time-picker>
        </div>
        <mat-checkbox [formControl]="campaignInfo.get('disabledEndDate')">Does not end</mat-checkbox>
      </div>
      <!--labels-->
      <cl-chip-list class="card-row" [formControl]="campaignInfo.get('labels')"></cl-chip-list>
    </div>
  </mat-expansion-panel>
  <!--Select channel-->
  <mat-expansion-panel class="card" expanded>
    <mat-expansion-panel-header class="card-header">
      <p class="card-title">
        Select channel
      </p>
    </mat-expansion-panel-header>
    <!--channel type-->
    <div class="card-content">
      <div class="card-row">
        <mat-radio-group [formControl]="channel.get('type')">
          <ng-container *ngFor="let type of config?.channelTypes">
            <mat-radio-button [value]="type?.value">{{type?.title}}</mat-radio-button>
          </ng-container>
        </mat-radio-group>
      </div>
      <!--Message-->
      <div class="card-section" *ngIf="channel.get('message').enabled">
        <div class="card-header">
          <p class="card-title">
            Message
          </p>
        </div>
        <div class="card-content">
          <cl-sms-editor [options]="config?.shortcodes" [control]="channel.get('message')"></cl-sms-editor>
        </div>
      </div>
      <!--schedule-->
      <div class="card-section" *ngIf="schedule.enabled">

        <div class="card-header">
          <p class="card-title">
            Schedule the sending date
          </p>
        </div>

        <div class="card-content">
          <!--send date-->
          <div class="card-row">
            <div class="input-group">
              <cl-date-picker [control]="schedule.get('sendDate')" placeholder="Send date">
              </cl-date-picker>
              <cl-time-picker [control]="schedule.get('sendTime')">
              </cl-time-picker>
            </div>
          </div>
          <!--recurrence Settings-->
          <div class="card-row form-field">
            <mat-checkbox [formControl]="schedule.get('enableRecurrence')">Recurrence Settings</mat-checkbox>
          </div>
          <!--recurrence-->
          <div class="card-row stretch" *ngIf="recurrence.enabled">
            <div class="row">
              <div>
                <label class="card-label">Repeat every</label>
                <div class="input-group">
                  <!--time-->
                  <mat-form-field>
                    <input matInput type="number" [formControl]="recurrence.get('times')" [min]="0">
                  </mat-form-field>
                  <!--period-->
                  <mat-form-field>
                    <mat-select [formControl]="recurrence.get('period')">
                      <mat-option value="day">Day</mat-option>
                      <mat-option value="week">Week</mat-option>
                      <mat-option value="month">Month</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <!--repeat on-->
                <ng-container *ngIf="recurrence.get('repeatOn').enabled">
                  <label class="card-label">Repeat on</label>
                  <cl-checkbox-group class="btn-list" [formControl]="recurrence.get('repeatOn')">
                    <ng-container *ngFor="let day of config?.days">
                      <mat-checkbox [value]="day.value">
                        <div>{{day.title}}</div>
                      </mat-checkbox>
                    </ng-container>
                  </cl-checkbox-group>
                </ng-container>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <!--Select audience-->
  <mat-expansion-panel class="card" expanded>
    <mat-expansion-panel-header class="card-header">
      <p class="card-title">
        Select audience
      </p>
    </mat-expansion-panel-header>
    <div class="card-content">
      <div class="card-row">
        <mat-radio-group aria-label="Select an option" [formControl]="audience.get('type')">
          <mat-radio-button [value]="'none'">No audience</mat-radio-button>
          <mat-radio-button [value]="'upload'">Upload an audience list</mat-radio-button>
        </mat-radio-group>
      </div>
      <cl-upload-file *ngIf="audience.get('file').enabled"
                      [formControl]="audience.get('file')">
      </cl-upload-file>
    </div>
  </mat-expansion-panel>
</div>
