<div class="campaign-detail-content" *ngIf="form">
  <!--Campaign Info-->
  <mat-expansion-panel class="card" expanded>
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title">
        {{'CAMPAIGN.CAMPAIGN_INFO' | translate}}
      </h2>
    </mat-expansion-panel-header>

    <div class="card-content">
      <!--goal-->
      <mat-form-field class="card-row">
        <mat-select [formControl]="campaignInfo.get('goal')" [placeholder]="'CAMPAIGN.CAMPAIGN_GOAL' | translate">
          <ng-container *ngFor="let goal of config?.goals">
            <mat-option [value]="goal?.value">{{goal?.title | translate}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <!--duration-->
      <div class="card-row card-row-date">
        <div class="input-group">
          <cl-date-picker [formControl]="campaignInfo.get('startDate')" [max]="campaignInfo.get('endDate').value">
          </cl-date-picker>
          <cl-time-picker [formControl]="campaignInfo.get('startTime')"></cl-time-picker>
        </div>
        <span>
          {{'TO' | translate}}
        </span>
        <div class="input-group">
          <div class="date-field">
            <cl-date-picker [control]="campaignInfo.get('endDate')" [min]="campaignInfo.get('startDate').value">
            </cl-date-picker>
            <mat-error class="date-field-error"
              *ngIf="campaignInfo.get('endDate').hasError('required') && campaignInfo.get('endDate').touched">
              {{'ERROR_THIS_FIELD_IS_REQUIRED' | translate}}
            </mat-error>
          </div>
          <div class="date-field">
            <cl-time-picker [formControl]="campaignInfo.get('endTime')"></cl-time-picker>
            <mat-error class="date-field-error"
              *ngIf="campaignInfo.get('endTime').hasError('required') && campaignInfo.get('endTime').touched">
              {{' This field is required' | translate}}
            </mat-error>
          </div>
        </div>
        <mat-checkbox color="primary" [formControl]="campaignInfo.get('disabledEndDate')">
          {{'CAMPAIGN.DOES_NOT_END' | translate}}
        </mat-checkbox>
      </div>
      <!--labels-->
      <cl-chip-list class="card-row" [addOnBlur]="isFirstInit && triggerLabelsChip"
        [formControl]="campaignInfo.get('labels')"></cl-chip-list>
    </div>
  </mat-expansion-panel>

  <!--start audience-->
  <mat-expansion-panel class="card" expanded *ngIf="form">
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title">
        {{'CAMPAIGN.SELECT_AUDIENCE' | translate}}
      </h2>
    </mat-expansion-panel-header>
    <div class="card-content">
      <div class="card-row">
        <mat-form-field>
          <mat-select [placeholder]="'CAMPAIGN.SELECT_AUDIENCE' | translate" [formControl]="audience.get('select')">
            <mat-option *ngFor="let pool of pools" [value]="pool?.value?.id">{{pool?.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="audience.get('select').hasError('required') && audience.get('select').touched">
            {{'ERROR_REQUIRED' | translate}}.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="card-row">
        <mat-checkbox color="primary" [(ngModel)]="audienceFiltersEnabled" [disabled]="!audience.get('select').value">
          {{'CAMPAIGN.AUDIENCE_FILTER' | translate}}
        </mat-checkbox>
      </div>
      <div *ngIf="audienceFiltersEnabled">
        <div class="card-section">
          <div class="card-header">
            <h3 class="card-title">
              {{'CAMPAIGN.AGE' | translate}}
            </h3>
            <mat-slide-toggle [formControl]="filters.get('agesEnabled')"></mat-slide-toggle>
          </div>
          <div class="card-content">
            <div class="card-row" *ngFor="let age of ages.controls">
              <mat-form-field>
                <mat-select [formControl]="age.get('from')">
                  <mat-option *ngFor="let fromAge of ageRange | async;" [value]="fromAge">{{fromAge}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <span>
                {{'TO' | translate}}
              </span>
              <mat-form-field>
                <mat-select [formControl]="age.get('to')">
                  <mat-option *ngFor="let toAge of ageRange | async;" [value]="toAge">{{toAge}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <cs-button [disable]="filters.get('agesEnabled').value === false"
                       classList="tertiary ph-0" (click)="addAge()">{{'CAMPAIGN.ADD_AGE_RANGE' | translate}}</cs-button>
          </div>
        </div>
        <div class="card-section">
          <div class="card-header">
            <h3 class="card-title">
              {{'CAMPAIGN.GENDER' | translate}}
            </h3>
            <mat-slide-toggle [formControl]="filters.get('genderEnabled')"></mat-slide-toggle>
          </div>
          <div class="card-content">
            <mat-radio-group color="primary" [formControl]="filters.get('gender')">
              <ng-container *ngFor="let type of config?.genderTypes">
                <mat-radio-button [value]="type?.value">{{type?.title | translate}}</mat-radio-button>
              </ng-container>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <!--end audience-->
</div>
