<div class="campaign-detail-content" *ngIf="form">
  <!--Campaign Info-->
  <mat-expansion-panel class="card" expanded>
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title">
        Campaign Info
      </h2>
    </mat-expansion-panel-header>

    <div class="card-content">
      <!--goal-->
      <mat-form-field class="card-row">
        <mat-select [formControl]="campaignInfo.get('goal')" placeholder="Campaign goal">
          <ng-container *ngFor="let goal of config?.goals">
            <mat-option [value]="goal?.value">{{goal?.title}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <!--duration-->
      <div class="card-row card-row-date">
        <div class="input-group">
          <cl-date-picker [formControl]="campaignInfo.get('startDate')" [max]="campaignInfo.get('endDate').value">
          </cl-date-picker>
          <cl-time-picker [formControl]="campaignInfo.get('startTime')"></cl-time-picker>
        </div>
        <span>to</span>
        <div class="input-group">
          <div class="date-field">
            <cl-date-picker [control]="campaignInfo.get('endDate')" [min]="campaignInfo.get('startDate').value">
            </cl-date-picker>
            <mat-error class="date-field-error"
              *ngIf="campaignInfo.get('endDate').hasError('required') && campaignInfo.get('endDate').touched">
              This field is required
            </mat-error>
          </div>
          <div class="date-field">
            <cl-time-picker [formControl]="campaignInfo.get('endTime')"></cl-time-picker>
            <mat-error class="date-field-error"
              *ngIf="campaignInfo.get('endTime').hasError('required') && campaignInfo.get('endTime').touched">
              This field is required
            </mat-error>
          </div>
        </div>
        <mat-checkbox color="primary" [formControl]="campaignInfo.get('disabledEndDate')">Does not end</mat-checkbox>
      </div>
      <!--labels-->
      <cl-chip-list class="card-row" [addOnBlur]="isFirstInit && triggerLabelsChip" [formControl]="campaignInfo.get('labels')"></cl-chip-list>
    </div>
  </mat-expansion-panel>
  <!--Select channel-->
  <mat-expansion-panel class="card" expanded>
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title">
        Select channel
      </h2>
    </mat-expansion-panel-header>
    <!--channel type-->
    <div class="card-content">
      <div class="card-row">
        <mat-radio-group color="primary" [formControl]="channel.get('type')">
          <ng-container *ngFor="let type of config?.channelTypes">
            <mat-radio-button [value]="type?.value">{{type?.title}}</mat-radio-button>
          </ng-container>
        </mat-radio-group>
      </div>
      <div class="information-collection-type" *ngIf="campaignInfo.get('informationCollectionSetting').enabled">
        <mat-radio-group color="primary" [formControl]="campaignInfo.get('informationCollectionSetting')">
          <ng-container *ngFor="let type of config?.informationCollectionSettingTypes">
            <mat-radio-button [value]="type?.value">{{type?.title}}</mat-radio-button>
          </ng-container>
        </mat-radio-group>
      </div>
      <!--Message-->
      <div class="card-section" *ngIf="channel.get('message').enabled">
        <div class="card-header">
          <h3 class="card-title">
            Message
          </h3>
        </div>
        <div class="card-content">
          <cl-sms-editor [options]="config?.shortcodes" [control]="channel.get('message')"></cl-sms-editor>
        </div>
      </div>
      <!--schedule-->
      <div class="card-section" *ngIf="schedule.enabled">

        <div class="card-header">
          <h3 class="card-title">
            Schedule the sending date
          </h3>
        </div>
        <div class="card-content">
          <!--send date-->
          <div class="card-row">
            <div class="input-group">
              <cl-date-picker [control]="schedule.get('sendDate')" [min]="datenow" placeholder="Send date">
              </cl-date-picker>
              <cl-time-picker [control]="schedule.get('sendTime')">
              </cl-time-picker>
            </div>
          </div>
          <!--recurrence Settings
          <div class="card-row form-field">
            <mat-checkbox color="primary" [formControl]="schedule.get('enableRecurrence')">Recurrence Settings
            </mat-checkbox>
          </div>
          <div class="card-row stretch" *ngIf="recurrence.enabled">
            <div class="row">
              <div>
                <label class="card-label">Repeat every</label>
                <div class="input-group">
                  <mat-form-field>
                    <input matInput type="number" [formControl]="recurrence.get('times')" [min]="0">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select [formControl]="recurrence.get('period')">
                      <mat-option value="day">Day</mat-option>
                      <mat-option value="week">Week</mat-option>
                      <mat-option value="month">Month</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <ng-container *ngIf="recurrence.get('repeatOn').enabled">
                  <label class="card-label">Repeat on</label>
                  <cl-checkbox-group class="btn-list" [formControl]="recurrence.get('repeatOn')">
                    <ng-container *ngFor="let day of config?.days">
                      <mat-checkbox color="primary" [value]="day.value">
                        <div>{{day.title}}</div>
                      </mat-checkbox>
                    </ng-container>
                  </cl-checkbox-group>
                </ng-container>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <!--Select audience-->
  <mat-expansion-panel class="card" expanded>
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title">
        Select audience
      </h2>
    </mat-expansion-panel-header>
    <div class="card-content">
      <div class="card-row">
        <mat-form-field>
          <mat-select placeholder="Select audience" [formControl]="audience.get('select')">
            <mat-option *ngFor="let pool of pools" [value]="pool?.value?.id">{{pool?.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="audience.get('select').hasError('required') && audience.get('select').touched">Required field.</mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-expansion-panel>
</div>
