@import "variables";

.campaign-detail-content {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.date-field {
  position: relative;

  &-error {
    @include typo-caption;
    font-size: 1.1rem;
    display: flex;
    width: max-content;
    flex-flow: row nowrap;
    position: absolute;
    bottom: -0.5rem;
  }
}

.information-collection-type {
  display: block;
  margin: 1rem 0;
  padding: 2.4rem;
  background-color: $background-color;
  border-radius: $border-radius;
}
