@import "variables";

.pinata {
  &-btn-cancel {
    padding-right: .8rem;
  }

  &-form {
    width: 100%;
    margin-right: 4rem;
  }
}

.game {

  &-selected-graphic {
    margin-bottom: 4rem;
    display: flex;
  }
}

