@import "helper";
@import "variables";

.pinata {

  &-btn-cancel {
    padding-right: rem(8px);
  }

  &-form {
    min-width: rem(747px);
    width: 100%;
    margin-right: rem(40px);
  }
}

.game {

  &-selected-graphic {
    margin-bottom: rem(40px);
    display: flex;
  }
}

.name-control {
  min-width: rem(747px);

}
