@import "../../../theme/variables.scss";
@import "../../mixins.scss";

.card-note {
  background-color: $white-Four;
  padding: 16px;
  font-family: $font-open-sans;
  font-size: 14px;
  color: $black;

  h1 {
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    line-height: 19px;
    color: inherit;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .description {
    font-family: inherit;
    font-size: inherit;
    line-height: 19px;
    color: inherit;
    margin-block-start: 0;
    margin-block-end: 0;

    @include ellipse-lines(2);

    ::ng-deep {
      p {
          margin-block-start: 0;
          margin-block-end: 0;
        }
    }
  }

  .button-container {
    padding-top: 12px;
    display: flex;
    justify-content: flex-end;

    .read-more {
      background-color: $white-Four;
      color: $darkishGreen;
      font-family: inherit;
      font-size: inherit;
      font-weight: 600;
    }
  }
}
