<div class="close-btn-container">
  <button mat-icon-button
          class="close-btn">
    <mat-icon (click)="back()">close</mat-icon>
  </button>
</div>
<div class="title-wrapper">
  <h2 mat-dialog-title>Contacts</h2>
</div>
<div mat-dialog-content class="numbers-wrapper">
  <div class="phone-number">
    <mat-icon class="phone-icon">local_phone</mat-icon>
    <a href="tel:+639171115787"> +63 917 111 7587 (PLUS) </a>
  </div>
  <div class="phone-number">
    <mat-icon class="phone-icon">local_phone</mat-icon>
    <a href="tel:+6389210888"> +63 8 921 0888 </a>
  </div>
</div>
