@import "./custom-theme.scss";
$max-width: 60rem;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
html {
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
  font-style: normal;
}
.container {
  padding: 6rem 1.2rem 0;
  height: calc(100vh - 6rem);
}

.content-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  min-height: 100%;
}

.actions-container {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  // height: 6rem;
  padding: 1rem 1.2rem;
  box-sizing: border-box;
  text-align: center;
  button {
    width: 100%;
    max-width: $max-width;
    margin: auto;
    height: 100%;
    padding: 0;
    text-transform: uppercase;
  }
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #db0011;
}
.mat-form-field-label-wrapper {
  font-size: 14px;
  line-height: 16px;
  top: -1.1em;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 1em 0;
}
.mat-form-field {
  font-size: 14px;
  line-height: 16px;
}
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #eb202f;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}
.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  background: #ffffff;
  border: 1px solid #db0011;
  box-sizing: border-box;
  border-radius: 2px;
  color: #e43225;
}

.wallet-tabs .mat-tab-header {
  position: fixed;
  left: 0;
  top: 60px;
  background-color: #fff;
  z-index: 111;
  width: 100%;
}
.wallet-tabs .mat-tab-body-wrapper {
  margin-top: 4.8rem;
}