<div class="referral-main-container">
  <div class="referral-page">
    <div class="referral-image" *ngIf="campaign">
      <img [src]="campaign.campaignBannerUrl ? campaign.campaignBannerUrl : 'assets/referral/referral.png'"/>
    </div>
    <h1>{{campaignName}}</h1>
    <p *ngIf="campaignEndsAt">{{'REFERRAL.ENDS_ON' | translate}}{{campaignEndsAt| date:'shortDate'}}</p>
    <div>
      <p [innerHTML]="campaignDescription"></p>
    </div>
    <div class="code" (click)="copy()">
      <span>{{code}}</span>
    </div>
  </div>
  <mat-toolbar class="bottom-nav-container">
    <button
      mat-flat-button
      color="primary"
      (click)="addRecipients()"
      >
      {{'REFERRAL.CTA_BUTTON' | translate}}</button>
  </mat-toolbar>
</div>
