node_modules
apps/*/dist
apps/*/dist/*
apps/*/node_modules
apps/*/node_modules/*
backend/*/node_modules
backend/*/node_modules/*
backend/*/dist/*
backend/*/dist/*
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
.circleci
.idea
