@import "variables";

.picker {
  &-wrap {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    position: relative;
    padding: $base-font-size;
    display: flex;
    cursor: pointer;
  }

  &-border {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 2px solid $primary-color;
    border-radius: $border-radius;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    z-index: 1;
  }

  &-content {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    align-items: center;
  }

  &-btn {
    width: 3rem;
    height: 2.3rem;
    border-radius: $border-radius;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  &-text-wrap {
    padding-left: 1rem;
  }

  &-text {
    font-size: $base-font-size;
    line-height: 1.21;
    color: $base-font-color;
  }

  &-wrap:hover {
    border-color: transparent;

    .picker-border {
      opacity: 1;
    }
  }
}
