// Primary Colors
$main-blue: #004EA8;
$main-blue-text: #004EA8;
$light-blue: #e5f5ff;

// Background
$light-grey: #F6F6F6;

//Content
$dark-grey: #4B4B4B;
$near-black: #2E2E2E;
$medium-blue: #0072D8;
