@import "../../../styles/variables";

:host {
  height: 100%;
}

.enlarged-qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.6rem;
  overflow-y: scroll;

  &-title {
    margin: 7rem 0 2rem;
    font-size: 1.4rem;
  }
}

.carry-out {
  color: $white;
  width: 100%;
  height: 4.4rem;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.button-container {
  padding: 1.6rem;
}
