<mat-toolbar *ngIf="showHeader" class="mat-elevation-z4 toolbar">
  <button [disabled]="leftIconToShow === ''" mat-icon-button (click)="onLeftActionClick()">
    <mat-icon *ngIf="leftIconToShow !== ''">
      {{leftIconToShow}}
    </mat-icon>
  </button>
  <div class="toolbar__label">{{currentPage}}</div>
  <button [disabled]="rightIconToShow === ''" mat-icon-button (click)="onRightActionClick()">
    <mat-icon *ngIf="rightIconToShow !== ''">
      {{rightIconToShow}}
    </mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
</div>
