.toolbar {
  display: flex;
  position: fixed;
  height: 6rem;
  z-index: 4;
  padding: 0 0.8rem;
  color: white;
  background-color: black;
}

.toolbar__label {
  flex-grow: 1;
  text-align: center;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  display: flex;
  width: 20rem;
}
