<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" position="end" fixedInViewport="true" [fixedTopGap]="0" [fixedBottomGap]="0" autofocus="true" disableClose="false"
    mode="over">
    <mat-nav-list>
      <app-profile
        *ngIf="currentPage &&
               currentPage !== 'Login' &&
               currentPage !== 'Terms and Conditions' &&
               currentPage !== 'FAQ'"
      ></app-profile>
      <!-- <a mat-list-item routerLinkActive="router-link-active" [routerLink]="['/tnc']"
        (click)="drawer.toggle()">Terms and Conditions</a>
      <a mat-list-item routerLinkActive="router-link-active" [routerLink]="['/faq']"
        (click)="drawer.toggle()">FAQ</a> -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar *ngIf="showHeader" class="toolbar">
      <button [disabled]="leftIconToShow === ''" mat-icon-button (click)="onLeftActionClick()">
        <mat-icon *ngIf="leftIconToShow !== ''">
          {{leftIconToShow}}
        </mat-icon>
      </button>
      <div class="toolbar__label">
        <img src="assets/hsbc-logo.svg" alt="">
      </div>
      <button [disabled]="rightIconToShow === ''" mat-icon-button (click)="onRightActionClick()">
        <mat-icon *ngIf="rightIconToShow !== ''">
          {{rightIconToShow}}
        </mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
