<mat-toolbar *ngIf="showHeader" class="toolbar">
    <button *ngIf="iconToShow === 'home'" mat-icon-button (click)="goHome()">
        <mat-icon>
            home
        </mat-icon>
    </button>
    <button mat-icon-button *ngIf="iconToShow === 'back'" (click)="goBack()">
        <mat-icon>
            arrow_back_ios
        </mat-icon>
    </button>
    <div class="toolbar__label">{{currentPage}}</div>
</mat-toolbar>
<div class="container">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>