.toolbar {
  display: flex;
  position: fixed;
  height: 6rem;
  z-index: 4;
  padding: 0 0.8rem;
  color: white;
  background-color: black;
}

.toolbar__label {
  flex-grow: 1;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;

  img {
    vertical-align: middle;
  }
}

.mat-icon-button {
  position: relative;
  z-index: 1;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  display: flex;
  width: 20rem;
}
