
@import "variables";

.survey {
  &-wrap {
    padding: 2.5rem 4rem 0 4rem;
  }

  &-title {
    font-family: Roboto;
    font-weight: bold;
    line-height: 1.21;
    font-size: 1.4rem;
    color: $secondary-color;
    padding-bottom: 0.9rem;
  }
}

.mat-form-field {
  width: 100%;
  font-size: 1.4rem;
}
