<div class="page">
  <img src="assets/logo.png">
  <h3 class="sub-title">
    HSBC Credit Cards<br>
    Shop & Collect Christmas Game 2019 Promo
  </h3>
  <ol class="main">
    <li>
      <p class="question">I deleted the SMS notification containing my Player Code and the link to the Game Site. cannot
        log-in. What should I do?</p>
      <p class="response">Please call the HSBC Customer Service Hotline at (02) 8858-0000 to request for resending of
        the SMS notification containing the unique player code and link to the game site.</p>
    </li>
    <li>
      <p class="question">I do not have a smartphone. Will I be able to access in my desktop or laptop?</p>
      <p class="response">Yes. The HSBC game site may be accessed using a laptop or desktop. Please type in the URL link
        sent to you via SMS / eDM in your internet browser. You must have an internet connection or mobile data to be
        able to access the Game Site.</p>
    </li>
    <li>
      <p class="question">When will my chances to earn stamps be updated? What is the schedule?</p>
      <p class="response">There's a cut-off schedule that is being followed based on the coverage of qualified
        transactions:</p>
      <table class="table-black">
        <thead>
          <tr>
            <th>Cut-Off No.</th>
            <th>Cut-Off Date</th>
            <th>Coverage of Transactions</th>
          </tr>
        </thead>
        <tr>
          <td>
            1
          </td>
          <td>
            Nov15,2019
          </td>
          <td>
            Nov 1 to Nov 7, 2019
          </td>
        </tr>
        <tr>
          <td>
            2
          </td>
          <td>
            Nov 22, 2019
          </td>
          <td>
            Nov 8 to Nov 14, 2019
          </td>
        </tr>
        <tr>
          <td>
            3
          </td>
          <td>
            Nov 29, 2019
          </td>
          <td>
            Nov 15 to Nov 21, 2019
          </td>
        </tr>
        <tr>
          <td>
            4
          </td>
          <td>
            Dec 6, 2019
          </td>
          <td>
            Nov 22 to Nov 28, 2019
          </td>
        </tr>
        <tr>
          <td>
            5
          </td>
          <td>
            Dec 13, 2019
          </td>
          <td>
            Nov 29 to Dec 4, 2019
          </td>
        </tr>
        <tr>
          <td>
            6
          </td>
          <td>
            Dec 20, 2019
          </td>
          <td>
            Dec 5 to Dec 11, 2019
          </td>
        </tr>
        <tr>
          <td>
            7
          </td>
          <td>
            Dec 27, 2019
          </td>
          <td>
            Dec 12 to Dec 18, 2019
          </td>
        </tr>
        <tr>
          <td>
            8
          </td>
          <td>
            Jan 3, 2020
          </td>
          <td>
            Dec 19 to Dec 25, 2019
          </td>
        </tr>
        <tr>
          <td>
            9
          </td>
          <td>
            Jan 10, 2020
          </td>
          <td>
            Dec 26, 2019 to Jan 1, 2020
          </td>
        </tr>
        <tr>
          <td>
            10
          </td>
          <td>
            Jan 17, 2020
          </td>
          <td>
            Jan 2 to Jan 8, 2020
          </td>
        </tr>
        <tr>
          <td>
            11
          </td>
          <td>
            Jan 24, 2020
          </td>
          <td>
            Jan 9 to Jan 15, 2020
          </td>
        </tr>
        <tr>
          <td>
            12
          </td>
          <td>
            Jan 31, 2020
          </td>
          <td>
            Jan 16 to Jan 22, 2020
          </td>
        </tr>
        <tr>
          <td>
            13
          </td>
          <td>
            Feb 7, 2020
          </td>
          <td>
            Jan 23 to Jan 29, 2020
          </td>
        </tr>
        <tr>
          <td>
            14
          </td>
          <td>
            Feb 14, 2020
          </td>
          <td>
            Jan 30 to Feb 6, 2020
          </td>
        </tr>
        <tr>
          <td>
            15
          </td>
          <td>
            Feb 28, 2020
          </td>
          <td>
            Feb 7 to Feb 15, 2020
          </td>
        </tr>
      </table>
    </li>
    <li>
      <p class="question">Will my unique player code change every cut-off date?</p>
      <p class="response">No. You will have the same Player Code which you need to enter every time you log-in to the
        HSBC Game Site.</p>
    </li>
    <li>
      <p class="question">My chances to earn stamps were not updated. I was supposed to receive more.</p>
      <p class="response">Please note that a minimum single-receipt straight purchase of PHP3,000 earns you 1 stamp
        while a PHP5,000 single-receipt installment transaction earns you 3 stamps. These are updated based on the
        cut-off schedule. Kindly refer to your Statement of Account to validate your transactions. Please call the HSBC
        Customer Service Hotline at (02) 8858-0000 to report if there are still concerns.

      </p>
    </li>
    <li>
      <p class="question">Do I need to redeem my reward/s during the same day I played?
      </p>
      <p class="response">You have the option to redeem at a later time. You have until April 30, 2020 to use up your
        chances to earn stamps to get your rewards. Unclaimed stamps and rewards in the game site shall be forfeited
        after the said date.</p>
    </li>
    <li>
      <p class="question">Merchant is a not aware of the promo. They are not allowing me to redeem. What do I do?</p>
      <p class="response">All merchant partners are trained to accept qualified redemptions. Please bring the redemption
        requirements as indicated in the Promo Mechanics. Kindly call our hotline at (02) 8858-0000 for any other
        concerns.</p>
    </li>
  </ol>
</div>