:host {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 25px;
  color: #666666;
  margin: 1rem;
}

app-rewards-cards, app-catalogs, app-campaigns {
  margin-left: 0.5rem;
}

app-categories {
  margin-left: 0.9rem;
}

.dots {
  text-align: center;
  padding-bottom: 1rem;

  span {
    width: 1rem;
    height: 1rem;
    border-radius: 5rem;
    background-color: #d2d8e2;
    display: inline-block;
    margin: 0 0.4rem;
  }

  span.active {
    width: 2.8rem;
    background-color: #6dc00e;
  }
}
