<mat-toolbar>
  <div class="spacer"></div>
  <span *ngIf="showToolbarTitle" class="toolbar-title">{{selectedCategory}}</span>
  <button class="icon" (click)="selectCategory()">
    <img class="hide-for-old-ux" src="assets/category.svg" alt="">
    <img class="hide-for-new-ux" src="assets/category_old.svg" alt="">
  </button>
  <button class="icon" (click)="selectSort()">
    <img class="hide-for-old-ux" src="assets/sort.svg" alt="">
    <img class="hide-for-new-ux" src="assets/sort_old.svg" alt="">
  </button>
</mat-toolbar>
<div class="content" #contentScroll infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()" [scrollWindow]="false">
  <h1 class="catergory-title">{{selectedCategory}}</h1>
  <div class="scroll-content">
    <mat-card [@fadeIn]="rewardsList.length > 0" *ngFor="let reward of rewardsList" (click)="selected(reward)"
      matRipple>
      <div class="featured-image">
        <img mat-card-image [src]="reward.rewardBanner">
        <div *ngIf="reward.merchantImg" [class]="this.uxcr ? 'ux-cr badge': 'badge'">
          <img [src]="reward.merchantImg">
        </div>
        <div *ngIf="getMacaron(reward) as macaron" class="macaron-container">
          <span [ngClass]="macaron.class">{{macaron.label}}</span>
        </div>
      </div>
      <mat-card-content [class]="this.uxcr ? 'ux-cr': ''">
        <div class="details">
          <div class="hide-for-old-ux semi-bold">{{reward.name}}</div>
          <div class="fine hide-for-old-ux">{{reward.merchantName}}</div>
          <h1 class="hide-for-new-ux">{{reward.name}}</h1>
          <h2 class="hide-for-new-ux">{{reward.merchantName}}</h2>
          <p class="operating-hours fine" *ngIf="showOperatingHours && reward.operatingHours">{{getOperatingHours(reward.operatingHours)}}</p>
        </div>
        <div class="icon">
          <img class="hide-for-old-ux" src="assets/forward-arrow.svg" alt="">
          <img class="hide-for-new-ux" src="assets/forward-arrow_old.svg" alt="">
        </div>
      </mat-card-content>
      <mat-card-footer></mat-card-footer>
    </mat-card>
    <ghost-cards [@fadeOut]="!ghostRewards.length" [ghosts]="ghostRewards"></ghost-cards>
  </div>
</div>