<mat-toolbar>
  <div class="spacer"></div>
  <span *ngIf="showToolbarTitle" class="toolbar-title">{{selectedCategory}}</span>
  <button class="icon" (click)="selectCategory()">
    <img src="assets/category.svg" alt="">
  </button>
  <button class="icon" (click)="selectSort()">
    <img src="assets/sort.svg" alt="">
  </button>
</mat-toolbar>
<div
  *ngIf="(rewards$ | rewardsSort: selectedSortingCraeteria | async) as rewards"
  class="content"
  #contentScroll
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()"
  [scrollWindow]="false"
>
  <h1 class="catergory-title">{{selectedCategory}}</h1>
  <div class="scroll-content">
    <mat-card [@fadeIn]="rewards.length > 0" *ngFor="let reward of rewards" (click)="selected(reward)" matRipple>
      <div class="featured-image">
        <img mat-card-image [src]="reward.rewardBanner">
          <div *ngIf="reward.merchantImg" class="badge">
            <img [src]="reward.merchantImg">
          </div>
          <div *ngIf="getMacaron(reward) as macaron" class="macaron-container">
            <span [ngClass]="macaron.class">{{macaron.label}}</span>
          </div>
      </div>
      <mat-card-content>
        <div class="details">
          <h1>{{reward.name}}</h1>
          <h2>{{reward.merchantName}}</h2>
        </div>
        <div class="icon">
          <img src="assets/forward-arrow.svg" alt="">
        </div>
      </mat-card-content>
      <mat-card-footer></mat-card-footer>
    </mat-card>
    <ghost-cards [@fadeOut]="!ghostRewards.length" [ghosts]="ghostRewards"></ghost-cards>
  </div>
</div>
