@import "../../theme/theme.scss";
@import "../../theme/mixins/macaron.scss";
@import "../../theme/mixins/toolbar.scss";

mat-toolbar {
  @include toolbar;

  button {
    position: relative;
    z-index: 2;
  }

  .toolbar-title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: $dark-grey;
  }
}

:host {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.content {
  height: 100%;
  overflow-y: scroll;
  background-color: $canvas-grey;
  padding: 0 1.5rem;

  .scroll-content {
    height: 100%;
  }

  ghost-cards {
    ::ng-deep {
      mat-card {
        max-width: none;
        margin: 0 auto;
        margin-bottom: 3rem;
      }
    }
  }

  h1.catergory-title {
    color: $dark-grey;
    margin: 1rem 0;
  }

  .mat-card {
    margin: 0 auto;
    margin-bottom: 3rem;

    mat-card-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 1.4rem 0 1.9rem 0;

      &.ux-cr {
        margin: 3rem 0 1.9rem 0;
      }

      .details {
        flex: 1;
        color: $dark-grey;
        h1 {
          margin: 0;
        }

        h2 {
          margin: 0.2rem 0 0 0;
        }
      }

      .icon {
        @include icon;
      }
    }
  }
  .operating-hours {
    margin: .5rem 0 0;
  }  
}

.featured-image {
  position: relative;

  img {
    margin-bottom: 0;
    &.mat-card-image {
      height: 15rem; // consistent with cards.scss
      object-fit: cover;
    }
  }

  .badge {
    max-width: 7.8rem;
    height: 4.8rem;
    background-color: $white;
    border-radius: 0.5rem 0.5rem 0 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    img {
      max-width: 4rem;
      position: relative;
      padding: 4px 16px;
    }
  }

  .macaron-container {
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
    border-radius: 5rem;
    font-size: 1.2rem;
    text-transform: lowercase;

    span {
      display: inline-block;
    }

    span::first-letter {
      text-transform: uppercase;
    }

    @include macaronStyles();
  }
}
