@import '../icon.scss';

.main-container {
  background: #ffffff;

  .icon {
    @include icon;
  }

  .popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: #6DC00E;
      font-size: 1.2rem;
    }
  }

  button {
    width: 100%;
    height: 6rem;
    color: white;
    margin: 1rem 0;
  }

  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #666666;
    padding: 1.5rem;
    border: 1px solid #F1F2F4;
    border-radius: 0.5rem;
    margin: 0.5rem;
  }

  .label-selected {
    color: #6DC00E;
    background: #EEF9E4;
  }
}
