@import "variables";

.question {
  &-form-field {
    width: 100%;
    min-height: 3.1rem;
    padding: 2rem 2rem 2rem 3rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid 1px #d9dfe4;
    font-size: 1.4rem;
    position: relative;

    .wrap-drop-zone {
      position: absolute;
      top: 3.4rem;
      left: 0.2rem;
      cursor: grab;
    }
  }

  &-nested-0 {
    background-color: $simple-light-gray;
  }

  &-nested-1 {
    background-color: #f4f4f5;
  }

  &-form-header {
    display: flex;
    align-items: center;
  }

  &-btn-type {
    margin-right: 1.4rem;
  }

  &-text-field__wrap {
    flex: 1;
  }

  &-actions {
    display: flex;
    justify-content: space-between;
    margin: 0 -20px;
    padding: 20px 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 3.2rem;
  }

  &-btn-actions {
    display: flex;
  }

  &-btn-section {
    margin-right: 1.4rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

cl-question-type {
  align-self: end;
  margin-top: 12px;
}

cl-question-form-field {
  display: block;
  margin-bottom: 1.6rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.nested-form-group {
  margin-top: 1.4rem;
}

.hidden {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.control-input, .nested-form-group {
  transition: 0.4s cubic-bezier(0.35, 0, 0.25, 1);
}

