<div class="question-form-field" [ngClass]="'question-nested-' + level" [formGroup]="group">

  <div class="question-form-header"
       [ngClass]="{'exist-nested-group': getTypeField().value === surveyQuestionType.questionGroup}"
  >
    <cl-question-type class="question-btn-type" [formControlName]="'selectedType'"
                      (selectTypeQuestion)="choseTypeQuestion($event)"
                      [currentIndex]="currentIndex"
    ></cl-question-type>

    <div class="question-text-field__wrap">
      <div class="control-input">
        <mat-form-field class="messages-input" >
          <input type="text" matInput [formControlName]="'title'">
          <!--<mat-hint align="end">{{subHeadlineMessage.value?.length || 0}}/60</mat-hint>-->
          <!--<mat-error *ngIf="subHeadlineMessage.hasError('required')">Required field</mat-error>-->
          <!--<mat-error *ngIf="subHeadlineMessage.hasError('minlength')">Min length 5</mat-error>-->
          <!--<mat-error *ngIf="subHeadlineMessage.hasError('maxlength')">Max length 60</mat-error>-->
        </mat-form-field>
      </div>
      <div class="control-input" *ngIf="showDescription" [ngClass]="{hidden: isActive()}">
        <mat-form-field class="messages-input">
          <input type="text" matInput [placeholder]="'Description'" [formControlName]="'description'">
          <!--<mat-hint align="end">{{subHeadlineMessage.value?.length || 0}}/60</mat-hint>-->
          <!--<mat-error *ngIf="subHeadlineMessage.hasError('required')">Required field</mat-error>-->
          <!--<mat-error *ngIf="subHeadlineMessage.hasError('minlength')">Min length 5</mat-error>-->
          <!--<mat-error *ngIf="subHeadlineMessage.hasError('maxlength')">Max length 60</mat-error>-->
        </mat-form-field>
      </div>

      <div class="nested-form-group"
           *ngIf="getTypeField().value !== surveyQuestionType.questionGroup"
           [ngClass]="{hidden: isActive()}">
        <div clDynamicField
             [currentIndex]="currentIndex"
             [level]="level"
             [group]="group"
             [type]="getTypeField().value"
        >
        </div>
      </div>
    </div>

  </div>
  <div class="nested-form-group" *ngIf="getTypeField().value === surveyQuestionType.questionGroup" [ngClass]="{hidden: isActive()}">
    <div clDynamicField
         [currentIndex]="currentIndex"
         [level]="level"
         [group]="group"
         [type]="getTypeField().value"
    >
    </div>
  </div>

  <div class="question-actions" [ngClass]="{hidden: isActive()}">
    <section class="question-btn-actions">
      <section class="question-btn-section">
        <mat-slide-toggle
          class="question-slide-toggle"
          [color]="'primary'"
          [formControlName]="'required'"
        >
          Required field
        </mat-slide-toggle>
      </section>

      <section class="question-btn-section">
        <mat-slide-toggle
          class="question-slide-toggle"
          [color]="'primary'"
          [formControl]="descriptionField"
        >
          Description
        </mat-slide-toggle>
      </section>
    </section>
    <button class="question-remove btn-transparent" (click)="remove()">
      <i class="icon delete"></i>
    </button>
  </div>
</div>
