<div class="dashboard-card-img-wrap">
  <img [src]="gameCard.img" alt="icon">
</div>
<div class="dashboard-card-content">
  <h4 class="dashboard-card-title">
    {{gameCard.title}}
  </h4>
  <p class="dashboard-card-description">
    {{gameCard.description}}
  </p>
</div>
<div class="dashboard-card-actions">
  <cl-button [classList]="'ph-0 tertiary'"
              [disableRipple]="true"
              (click)="clickToLink(gameCard.name)"
  >
      <span>
        {{gameCard.link}}
      </span>
  </cl-button>
</div>
