@import '~@angular/material/theming';
@import "variables";

$dashboard-card-img-wrap-dimensions: 8.8rem;

:host {
  @include mat-elevation(1);

  display: flex;
  flex-wrap: wrap;
  border-radius: $border-radius-lg;
  background-color: $white;
  padding: ($vertical-padding * 0.75) ($horizontal-padding * 0.75) ($vertical-padding * 0.5);
}

.dashboard-explore-card {
  &-img-wrap {
    flex-shrink: 0;
    flex-basis: $dashboard-card-img-wrap-dimensions;
    height: $dashboard-card-img-wrap-dimensions;
    width: $dashboard-card-img-wrap-dimensions;
  }

  &-content {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 75%;
    flex: 1;
    min-width: $dashboard-card-img-wrap-dimensions;
  }

  &-title {
    @include typo-subtitle1-alt;

    color: $base-font-color;
  }

  &-description {
    @include typo-body2;

    margin-top: 0.8rem;
    margin-bottom: 2rem;
  }

  &-actions {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;

    &::before {
      content: "";
      flex-basis: $dashboard-card-img-wrap-dimensions;
      flex-shrink: 1;
    }
  }
}
