<div class="dashboard-explore-card-img-wrap">
  <img [src]="gameCard.img" alt="icon">
</div>
<div class="dashboard-explore-card-content">
  <h3 class="dashboard-explore-card-title">
    {{gameCard.title | translate}}
  </h3>
  <p class="dashboard-explore-card-description">
    {{gameCard.description | translate}}
  </p>
</div>
<div class="dashboard-explore-card-actions">
  <cl-button [classList]="'ph-0 tertiary'" (click)="clickToLink(gameCard.name)">
    <span>{{gameCard.link | translate}}</span>
  </cl-button>
</div>
