:host {
  font-family: Lato, Helvetica, sans-serif;
  font-style: normal;
}
h1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
button {
  border: 1px solid #eb202f;
  box-sizing: 4px;
  height: 44px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #eb202f;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
