:host {
  font-family: Lato, Helvetica, sans-serif;
  font-style: normal;
}

h1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 3.2rem;
}

p {
  text-align: center;
  font-size: 1.6rem;
  margin: 3.2rem;
}