<form [formGroup]="loginForm" class="login-form" (submit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>{{"MOBILE_NUMBER_OR_EMAIL" | translate}}</mat-label>
    <input type="text" matInput formControlName="user">
    <mat-error *hkbnErrorHandler="'required'">
      {{"REQUIRED" | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{"PASSWORD" | translate}}</mat-label>
    <input type="password" matInput formControlName="pass">
    <mat-error *hkbnErrorHandler="'required'">
      {{"REQUIRED" | translate}}
    </mat-error>
    <mat-error *hkbnErrorHandler="'minlength'">
      {{"PASSWORD_6_CHAR" | translate}}
    </mat-error>
  </mat-form-field>

  <a class="forget-password" (click)="forgot()">{{"FORGOT_PASSWORD" | translate}}</a>
  <mat-checkbox formControlName="stayLoggedIn">{{"KEEP_LOGGED_IN" | translate}}</mat-checkbox>

  <button mat-raised-button color="primary" class="submit-button">{{"LOGIN" | translate}}</button>
  <button mat-button type="button" class="additional-button">{{"FIND_OUT_MORE" | translate}}</button>
</form>
