@import "~src/assets/styles/variables";

.login-form {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.forget-password {
  padding: 0.5rem 0;
  color: $primary;
}

.submit-button {
  margin: 1rem 0;
  color: $white;
}

.additional-button {
  color: $primary;
}

mat-form-field {
  margin: 0.5rem 0;
}

mat-checkbox {
  margin: 1rem 0;
}
