<form [formGroup]="loginForm" class="login-form" (submit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Phone number or email address</mat-label>
    <input type="text" matInput formControlName="user">
    <mat-error *hkbnErrorHandler="'required'">
      This field is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="pass">
    <mat-error *hkbnErrorHandler="'required'">
      This field is required
    </mat-error>
  </mat-form-field>

  <a class="forget-password" [routerLink]="'/'">forget password</a>
  <mat-checkbox formControlName="stayLoggedIn">Stay logged in</mat-checkbox>

  <button mat-raised-button color="primary" class="submit-button">Sign in</button>
  <button mat-button type="button" class="additional-button">Understand More</button>
</form>
