.background-padding-offset {
  //margin: 0 -1.2rem;
}

.puzzles-list-container {
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  background-color: #fff3f3;
  min-height: calc(100% - 6rem);
  position: relative;
  top: 6rem;
  margin-bottom: 5rem;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.015rem;
  margin: 2rem 0 0.8rem 0;
}
