.invite-new-users-dialog {

  &-content {
    position: relative;
    flex: 1;
    padding: 0 3.2rem;
  }

  .mat-horizontal-stepper-header-container {
    margin: 0 auto;
    width: 100%;
    max-width: 30rem;
  }

  .mat-horizontal-content-container {
    overflow: hidden;
    padding: 0;
  }


  .mat-tab-label {
    height: 30px;
    padding: 0 10px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 100px;
    text-align: left;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
  }
}
