<div class="app-container">
  <app-header [title]="title" [subTitle]="subTitle"></app-header>
  <div class="game-container">
    <div class="contents">
      <img src="assets/netflix-logo.png" alt="" />
  
      <p>To receive your Netflix rebate, your BPI Credit Card must be the card used as payment method in your Netflix account. The Netflix subscription fee must be reflected in your next statement of account.</p>
  
      <p>We will send you a notification once the Netflix rebate has been credited to your account. You will see this in your next statement of account. Only one Netflix rebate will be credited each month.</p>
  
      <p>For complete terms and conditions, visit <a href="http://bit.ly/BPI-NETFLIX" target="_blank">bit.ly/BPI-NETFLIX.</a></p>
  
      <p>Not yet a Netflix subscriber? Sign up now. Visit
        <a href="http://www.netflix.com.ph/bpi" target="_blank">www.netflix.com.ph/bpi</a></p>
  
      <button mat-flat-button type="submit" color="primary">Unlock more</button>
    </div>
  </div>
</div>
