<app-header [title]="title" [subTitle]="subTitle"></app-header>
<div class="game-container">
  <img src="../../assets/netflix-logo.png" alt="" />
  <img src="../../assets/image.jpg" alt="" />
  <p>
    To receive your Netflix Rebate, your BPI Credit Card must be the card used
    in payment for your existing Netflix account subscription plan. Terms and
    conditions apply.
  </p>
  <p>Terms and conditions apply. Visit bit.ly/bpi-netflix19 to learn more!</p>
  <div>
    <strong>
      Not yet a Netflix subscriber?
    </strong>
  </div>
  <div>
    <strong>
      Sign-up now!
    </strong>
  </div>
</div>
