<mat-toolbar class="toolbar" mat-elevation-z4 mat-toolbar mat-toolbar-single-row>
	<button mat-icon-button (click)="onLeftActionClick()">
		<mat-icon>arrow_back_ios</mat-icon>
  </button>
  <p class="label">{{"TRANSACTION_HISTORY"|translate}}</p>
  <span></span>
</mat-toolbar>
<div class="main-container">
  <mat-tab-group mat-stretch-tabs class="tabs">
    <mat-tab label="Sales">
      <div
        class="tab-container"
        infiniteScroll 
        [infiniteScrollDistance]="2" 
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll('purchase')" 
        [scrollWindow]="false">
        <perx-core-loyalty-transactions-list
          *ngIf="purchaseTransactions"
          [transactions]="purchaseTransactions"
          [titleFn]="salesTitleFn"
          [subTitleFn]="salesSubTitleFn"
          [descFn]="salesDescFn"
          [priceLabelFn]="salespriceLabelFn"
        >
        </perx-core-loyalty-transactions-list>
      </div>
    </mat-tab>
    <mat-tab label="Redemption">
      <div
        class="tab-container"
        infiniteScroll 
        [infiniteScrollDistance]="2" 
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll('rewards')" 
        [scrollWindow]="false">
        <perx-core-loyalty-transactions-list
          *ngIf="rewardTransactions"
          [transactions]="rewardTransactions"
          [titleFn]="redemptionsTitleFn"
          [subTitleFn]="redemptionsSubTitleFn"
          [priceLabelFn]="redemptionsPriceLabelFn"
        >
        </perx-core-loyalty-transactions-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
