mat-toolbar {
  display: flex;
  height: 6rem;
  -webkit-box-align: center;
  align-items: center;
  z-index: 4;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: #0f69af;
  position: fixed;
  color: white;
}

.main-container {
  overflow: hidden;
  height: calc(100% - 6rem);
  padding-top: 6rem;
}

.tab-container {
  overflow-y: scroll;
  height: 100%;
}

::ng-deep {
  .transaction-point {
    color: #ddac27 !important;
  }

  .mat-tab-group {
    height: 100%;
  }

  .mat-tab-label-active {
    color: #0f69af;
  }
}
