<form [formGroup]="changePasswordForm" (submit)="submit()" class="change-password-form">

  <mat-form-field appearance="fill">
    <mat-label>{{"CHANGE_PW_PAGE.CURRENT_PASSWORD" | translate}}</mat-label>
    <input type="password" matInput formControlName="oldPassword">
    <mat-error *hkbnErrorHandler="'required'">
      {{"CHANGE_PW_PAGE.REQUIRED" | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{"CHANGE_PW_PAGE.NEW_PASSWORD" | translate}}</mat-label>
    <input type="password" matInput formControlName="newPassword">
    <mat-error *hkbnErrorHandler="'required'">
      {{"CHANGE_PW_PAGE.REQUIRED" | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{"CHANGE_PW_PAGE.CONFIRM_NEW_PASSWORD" | translate}}</mat-label>
    <input type="password" matInput formControlName="passwordConfirmation">
    <mat-error *hkbnErrorHandler="'required'">
      {{"CHANGE_PW_PAGE.REQUIRED" | translate}}
    </mat-error>
    <mat-error *hkbnErrorHandler="'notEqual'">
      {{"CHANGE_PW_PAGE.PASSWORD_NOT_MATCH" | translate}}
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary">{{"CHANGE_PW_PAGE.UPDATE" | translate}}</button>
</form>
