@import "../../../styles/variables";

.change-password-form {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;

  & > button {
    align-self: flex-start;
    color: $white;
  }
}

mat-form-field {
  margin: 0.5rem 0;
}
