<form #form='ngForm' [formGroup]="changePasswordForm" (submit)="submit()" class="change-password-form">

  <mat-form-field appearance="fill">
    <mat-label>Old Password</mat-label>
    <input type="password" matInput formControlName="oldPassword">
    <mat-error
      *ngIf="changePasswordForm.get('oldPassword').hasError('required')
      && (changePasswordForm.get('oldPassword').touched || form.submitted)">
      This field is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <input type="password" matInput formControlName="newPassword">
    <mat-error
      *ngIf="changePasswordForm.get('newPassword').hasError('required')
      && (changePasswordForm.get('newPassword').touched || form.submitted)">
      This field is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirm New Password</mat-label>
    <input type="password" matInput formControlName="confirmPassword">
    <mat-error
      *ngIf="changePasswordForm.get('confirmPassword').hasError('required')
      && (changePasswordForm.get('confirmPassword').touched || form.submitted)">
      This field is required
    </mat-error>
    <mat-error
      *ngIf="changePasswordForm.get('confirmPassword').hasError('notEqual')
      && (changePasswordForm.get('confirmPassword').touched || form.submitted)">
      Password not match
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary">Submit</button>
</form>
