<form #form='ngForm' [formGroup]="changePasswordForm" class="change-password-form">

  <mat-form-field appearance="fill">
    <mat-label>Old Password</mat-label>
    <input type="password" matInput formControlName="old_password">
    <mat-error
      *ngIf="changePasswordForm.get('old_password').hasError('required')
      && (changePasswordForm.get('old_password').touched || form.submitted)">
      This field is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <input type="password" matInput formControlName="new_password">
    <mat-error
      *ngIf="changePasswordForm.get('new_password').hasError('required')
      && (changePasswordForm.get('new_password').touched || form.submitted)">
      This field is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirm New Password</mat-label>
    <input type="password" matInput formControlName="confirm_password">
    <mat-error
      *ngIf="changePasswordForm.get('confirm_password').hasError('required')
      && (changePasswordForm.get('confirm_password').touched || form.submitted)">
      This field is required
    </mat-error>
    <mat-error
      *ngIf="changePasswordForm.get('confirm_password').hasError('notEqual')
      && (changePasswordForm.get('confirm_password').touched || form.submitted)">
      Password not match
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary">Submit</button>
</form>
