<app-header></app-header>

<div class="container">
  <div class="app-main">
    <div class="button-group">
      <button
        mat-flat-button
        class="full-width__button btn-blue"
        (click)="onSalesScan()"
      >
        {{"SALES_SCAN"|translate}}
      </button>
      <button
        mat-flat-button
        class="full-width__button btn-hollow-white"
        (click)="onRedemption()"
      >
        {{"REDEMPTION"|translate}}
      </button>
      <button
        mat-flat-button
        class="full-width__button btn-hollow-white"
        (click)="onTransactionHistory()"
      >
        {{"TRANSACTION_HISTORY"|translate}}
      </button>
      <div class="sales-contact">
        <app-sales-contact></app-sales-contact>
      </div>
    </div>
  </div>
  <div class="logout">
    <div>
      <button
        mat-flat-button
        class="full-width__button btn-transparent"
        (click)="onLogOut()"
      >
      {{"LOGOUT"|translate}}
      </button>
    </div>
  </div>
</div>
