.time-picker {
  width: 100%;
  min-width: 7rem;
  max-width: 10rem;

  .ngx-material-timepicker-toggle {
    position: relative;
    box-sizing: content-box;
    bottom: -0.6rem;
    padding: 0;
  }

  &-toggle {
    cursor: pointer;
  }

  .disable {
    cursor: default !important;
    .ngx-material-timepicker-toggle {
      cursor: default !important;
    }
  }

  &-button {
    height: 2.1rem !important;
    width: 2.1rem !important;
  }
}
