@import "../../theme/variables.scss";

.quiz-main-container {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-size: cover;

  .quiz-page {
    width: 100%;
    display: flex;
    flex: 1 1 36rem;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    align-items: stretch;

    .progress-container {
      background: var(--surface_colour, #FAFAFA);
      padding: 1.3rem 0;

      .progress {
        z-index: 1;
        margin: auto;
        width: 34rem;
        display: flex;
        justify-content: space-between;

        .progress-text {
          letter-spacing: 1.5px;
          font-size: 10px;
          text-align: left;
          font-style: normal;
          font-weight: normal;
        }
      }

      .progress-bar {
        width: 34rem;
        border-radius: 1rem;
        margin: auto;
      }
    }

    .timer {
      color: $error-text;
      display: flex;
      align-items: center;
      font-size: 10px;
    }

    .quiz-card {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      //max-height: 45rem;
      width: 100%;
      z-index: 1;
      flex-direction: column;
      min-height: 34rem;
      align-items: center;
      background-size: cover;
      max-width: 100%;
      margin: auto;

      h2 {
        text-align: start;
      }
    }

    .quiz-no-card {
      width: 100%;

      $horizontalPadding: 4rem;
      $verticalPadding: 0;

      h1,
      h2 {
        padding: $verticalPadding $horizontalPadding;
      }

      ::ng-deep .question {
        padding: $verticalPadding $horizontalPadding;
      }

      ::ng-deep .description {
        padding: $verticalPadding $horizontalPadding;
      }

      // customize look and feel of swipe component
      ::ng-deep .swipe-blackcomb {
        .ngstd-list-item {
          margin-top: 0.8rem;
          height: 8.6rem;

          .ngstd-item-container {
            .title {
              font-style: normal;
              font-weight: normal;
              font-size: 1.6rem;
            }

            .ngstd-icon {
              background-color: black;
              box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
              width: 4.8rem;
              height: 4.8rem;
              text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
          }

          .ngstd-divider {
            display: none;
          }
        }
      }
    }
  }

  .bottom-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 0 0 7rem;
    background: transparent;
    font-size: 1rem;
    line-height: 1.6rem;

    button,
    a {
      text-decoration: none;
      text-align: center;
      height: 4rem;
      flex: 1;
      color: var(--button_text_color);
      background-color: var(--button_background_color);

      &:not(:last-child) {
        margin-right: 1.6rem;
      }
    }
  }
}

.hidden {
  visibility: hidden;
}

.arrow {
  position: absolute;
  top: 32.8rem;
  animation: anim 3s infinite;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-15px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}
