<h2>Image Preview</h2>

<cs-images-preview [img]="imagesExample[0]"></cs-images-preview>

<h2>Select Graphic Preview</h2>
<cs-select-graphic [graphicList]="imagesExample"
                   [selectedGraphic]="imagesExample[0]">
</cs-select-graphic>

<h2>Upload Graphic</h2>
<cs-upload-graphic
  placeholder="Recommended size: 250px by 50px"
  [isRequired]="true">
</cs-upload-graphic>

<cs-upload-graphic
  classList="stretch"
  placeholder="Recommended size: 250px by 50px"
  [isRequired]="true">
</cs-upload-graphic>

<h2>Select Graphic Wrap</h2>
<cs-select-graphic-wrap
  [isRequired]="true"
  [graphicList]="imagesExample"
>
</cs-select-graphic-wrap>
