<ng-container *ngIf="loyaltyData">
  <cl-view-scheme-info [loyalty]="loyaltyData"
                       [statusLabel]="config?.statusLabel"
  ></cl-view-scheme-info>
  <cl-view-global-earn-burn-rules [loyalty]="loyaltyData">
  </cl-view-global-earn-burn-rules>
</ng-container>

<cl-tiers-group *ngIf="dataSource && (dataSource?.hasData$ | async)"
                [editable]="false"
                [dataSource]="dataSource">
</cl-tiers-group>

<cl-loyalty-rule-card *ngIf="basicTierRuleSet && basicTierRuleSet?.rules?.length > 0"
                      [config] = "config"
                      tierType="basicTier"
                      [editable]="false"
                      [ruleSet]="basicTierRuleSet">
</cl-loyalty-rule-card>

<ng-container *ngFor="let customTier of (dataSource?.data$ | async)">
  <cl-loyalty-rule-card *ngIf="getCustomTierRuleSet(customTier?.id) as customTierRuleSet"
                        [config] = "config"
                        tierType="customTier"
                        [editable]="false"
                        [tierName]="customTier?.name"
                        [ruleSet]="customTierRuleSet">
  </cl-loyalty-rule-card>
</ng-container>
