$card-actual-height: 200px;

.games {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 1.5rem 0 1.5rem 0.6rem;

  .mat-card {
    width: 20rem;
    height: 15rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    margin: 0 1rem;
    box-sizing: border-box;

    .puzzle-img {
      height: 10rem;
      width: auto;
      object-fit: contain;
      margin: -1.6rem -1.6rem 0.8rem -1.6rem;
    }

    .main-reward-title {
      font-size: 1.4rem;
      line-height: 2rem;
      letter-spacing: 0.025rem;
      color: #212121;
      margin: 0;
    }

    .reward-subtitle {
      font-size: 1rem;
      line-height: 1.4rem;
      color: #666666;
      letter-spacing: 0.02rem;
      margin: 0;
    }
  }
}

h1 {
  padding: 2.4rem 1.6rem 0;
  margin: 0;
  display: flex;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.3rem;
  letter-spacing: 0.015rem;
}

p {
  margin: 4px 0;
}

.rewards {
  display: flex;
  flex-direction: column;

  h1 {
    padding-top: 0.9rem;
  }

  p {
    font-size: 1.6rem;
    align-self: center;
    line-height: 2.8rem;
    letter-spacing: 0.05rem;
    margin: 0.8rem 0;
  }

  .coming-soon-img {
    margin-top: 2.4rem;
    align-self: center;
  }
}

perx-core-loyalty-summary ::ng-deep {
  .container {
    background-color: #FFFFFF;
    line-height: 1.6rem;
    height: 12rem;
    box-sizing: border-box;

    .welcome-text {
      margin-bottom: 1.6rem;
      font-weight: 500;
      letter-spacing: 0.075rem;
    }

    .points {
      font-size: 3.4rem;
      line-height: 4rem;
      letter-spacing: 0.025rem;
      font-weight: 500;
    }
  }
}

.coming_soon {
  width: 100%;
  display: flex;
  justify-content: center;

  p {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 0.05rem;
  }
}
