<div class="container">
  <form [formGroup]="barangayChangeForm" class="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width__input">
      <mat-label>Enter new barangay</mat-label>
      <input matInput placeholder="Enter new barangay" formControlName="newBarangay">
      <mat-error *ngIf="barangayChangeForm.get('newBarangay').hasError('required')">
        New barangay is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button type="submit" class="full-width__button" mat-flat-button>Save</button>
  </form>
</div>
