@import '../../theme/variables';

.main {
  height: 100%;
  background-color: $white-Two;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  padding: 0 1.5rem;

  p {
    color: var(--font_color, red);
    font-size: 2rem;
  }
}
