<mat-expansion-panel class="card" expanded>
  <mat-expansion-panel-header class="card-header">
    <h2 class="card-title">
      {{'LOYALTY_FEATURE.POINTS_EXPIRY' | translate}}
    </h2>
  </mat-expansion-panel-header>
  <div class="card-content" *ngIf="group" [formGroup]="pointsExpiry">
    <div class="loyalty">
      <div class="loyalty-row input-group">
        <span>
          {{'LOYALTY_FEATURE.POINTS_EXPIRE' | translate}}
        </span>
        <mat-form-field>
          <input type="number" [min]="0" matInput formControlName="amount">
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="type">
            <mat-option [value]="pointsExpirePeriodType.day">{{'DAY' | translate}}</mat-option>
            <mat-option [value]="pointsExpirePeriodType.week">{{'WEEK' | translate}}</mat-option>
            <mat-option [value]="pointsExpirePeriodType.month">{{'MONTH' | translate}}</mat-option>
            <mat-option [value]="pointsExpirePeriodType.year">{{'YEAR' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="loyalty-points-expiry-type-input">
          <mat-select formControlName="trigger">
            <mat-option [value]="pointsExpireTrigger.accrual">
              {{'LOYALTY_FEATURE.FROM_WHEN_ACCRUAL_THE_POINT_WAS_EARNED' | translate}}.
            </mat-option>
            <mat-option [value]="pointsExpireTrigger.inactivity">
              {{'LOYALTY_FEATURE.FROM_USER_INACTIVITY' | translate}}.
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-expansion-panel>
