@import "../../../theme/variables";

.catalog-page {
  font-size: 14px;
  @media screen and (min-width: $desktop-width) {
    display: flex;
  }

  .every-day {
    margin: 10px 0;
  }

  .category {
    margin-bottom: 10px;
  }

  .filter-result {
    background: $white;
  }
  .desktop-filter-container {
    display: none;
    @media screen and (min-width: $desktop-width) {
      display: block !important;
    }
  }
  .results-container {
    flex: 1 0 84%;
  }

  .desktop-filter {
    margin: 1rem;
  }
}
