<div [class.field-lock]="lock"
     class="upload-wrap"
>
  <input #fileInput (change)="preview(fileInput)"
         *ngIf="!imgURL"
         accept='image/*'
         class="upload-input"
         type="file"
  />
  <div (click)="setActive()"
       *ngIf="imgURL"
       [ngClass]="{active: imgURL === selectGraphic}"
       class="image-wrap"
  >
    <img [src]="imgURL" alt="upload" class="image">
    <button (click)="clear()" class="image-clear">
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>

  <div *ngIf="!imgURL" class="upload-wrap-btn">
    <button (click)="fileInput.click()" class="upload-btn">+</button>
  </div>

  <div *ngIf="message" class="upload-error-wrap">
    <span class="upload-error">
      {{message}}
    </span>
  </div>
  <div *ngIf="!message" class="upload-type-wrap">
    <span class="upload-type">
      Recommended format: .JPG, .PNG or .GIF
    </span>
  </div>
</div>
