@import "variables";

.other {
  &-channels-content {
    margin-top: 5.4rem;
  }

  &-img-wrap {
    margin-right: 1.6rem;
  }

  &-name {
    font-size: 1.6rem;
    font-weight: 500;
    color: $there-color;
  }

  &-description {
    font-size: 1.4rem;
    line-height: 1.21;
  }

  &-action {
    margin-top: 2rem;
  }
}
