@import "./custom-theme.scss";

html,
body {
  background-color: #b20000 !important;
  border-radius: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-style: normal;
}

.content-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  min-height: 100%;
}
