@import "./custom-theme.scss";

html {
  font-size: 62.5%;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  min-height: 100%;
}

mat-tab-group {
  mat-tab-header {
    .mat-tab-label-container {
      z-index: unset; // https://bugs.webkit.org/s1how_bug.cgi?id=160953
    }
  }
}
