.main-container {
  height: 95%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--background);
}

.spacer {
  flex-grow: 1;
}

.header {
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;

  img {
    width: 100%;
    max-height: 20.7rem;
    object-fit: cover;
  }

  button {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .icon {
    background: var(--button_background_color);
    color: var(--button_text_color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    min-width: 3.2rem;
    border: 0;
    outline: none;
    z-index: 1;
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;

  a {
    width: 80%;
    padding: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.mat-dialog-content {
  font-size: 1.6rem;
  white-space: inherit;
  margin: 0 0.5rem;
  color: #666666;
}
