<div class="parent-container">
    <div class="perx-logo">
      <img src="/assets/icons/icon-72x72.png" alt="perxlogo">
    </div>
    <div class="intro-pic">
      <img src="/assets/images/ladyboard.png" alt="ladyboard" class="image-nice">
    </div>

    <div class="text-container">
      <div class="main-text">
        <h1 class="Hello-there">Forgotten your password?</h1>
        <p>Enter your account id and username to reset your password.</p>
      </div>

      <div class="inputs-related">
        <mat-form-field [style.fontSize.rem]=1.4>
          <label for="accountid">
            <input id="accountid" matInput [placeholder]="'Account Id'">
          </label>
        </mat-form-field>
        <mat-form-field [style.fontSize.rem]=1.4>
          <label for="username">
            <input id="username" matInput [placeholder]="'User Id'">
          </label>
        </mat-form-field>
        <cl-button classList="primary">Submit</cl-button>
        <a [routerLink]="['/login']" class="back-to-login">Back To Login</a>
      </div>
      <p class="foot-msg">© 2019 Perx Technologies. All rights reserved.</p>
    </div>
</div>
