
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    background-size: contain;
    position: relative;
    overflow: hidden;

    .content-container {
        flex: 1;
        width: 100%;
        height: calc(100% - 7rem);
        background-color: white!important;
        border-radius: 1.6rem 1.6rem 0 0;
    }

    .toolbar {
        height: 7rem;
    }

    .header-container {   
        color: white;
        font-size: 2.2rem;
        line-height: 2.6rem;
        text-align: center;
        font-weight: 900;
    }

    .header {
        position: absolute;
        top: 2rem;
        left: 0;
        right: 0;
        z-index: 800;
    }

    .title_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;   
        padding: 0 1rem;
        box-sizing: border-box;       
        width: 100%;
    }

    .logo_header {
        height: 5rem;
        width: 13.6rem;      
        margin: auto;
        transition: all 0.5s ease-in-out;    
        &.standard_logo {           
            height: 3.2rem;
            width: 9rem;
            transition: all 0.3s ease-in-out;  
        }
        .logo {
          height: 100%;
          max-width: 100%;
        }
    }

    .content {
        padding: 2.5rem;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .subtitle {   
        height: auto;
        max-height: 2.2rem;
        margin: 0 0 2rem 0;
        transition: all 0.5s ease-in-out;     
        &.collapse {  
            max-height: 0;
            margin-bottom: 0;
            transition: all 0.3s ease-in-out;  
            p {
                display: none;
            }
        }
    }
    
  }
  

