<div class="tab-group__content">
    <div *ngIf="campaigns$ && (campaigns$ | async).length>0 ">
        <h1>My Stamp Card</h1>
        <a *ngFor="let campaign of campaigns$ | async as campaigns" [routerLink]="['/stamp/' + campaign.id]">
            <mat-card matRipple>
                <div class="puzzle-content">
                    <div class="puzzle-img__wrapper">
                        <img class="puzzle-img" src="assets/static_image.png">
                    </div>
                    <div class="puzzle-details">
                        <span class='main-reward-title'>
                            {{campaign.name}}
                        </span>
                        <span class="reward-subtitle">{{campaign.description}}</span>
                    </div>
                </div>
            </mat-card>
        </a>
    </div>
    <h1>My Events</h1>
    <perx-core-vouchers (tapped)="voucherSelected($event)" [data]="vouchers$" [filter]="filter"
        [showRedeemedIcon]="false">
    </perx-core-vouchers>
</div>