<div class="tab-group__content">
    <div *ngIf="campaigns$ && (campaigns$ | async) as campaigns">
        <h1 *ngIf="campaigns.length>0">My Stamp Card</h1>
        <a *ngFor="let campaign of campaigns" [routerLink]="['/stamp/' + campaign.campaignId]">
            <mat-card matRipple>
                <div class="puzzle-content">
                    <div class="puzzle-img__wrapper">
                      <img class="puzzle-img" src="{{campaign.displayProperties.bgImage}}">
                    </div>
                    <div class="puzzle-details">
                        <span class='main-reward-title'>
                            {{campaign.campaignTitle}}
                        </span>
                        <span class="reward-subtitle">{{campaign.campaignDescription}}</span>
                    </div>
                </div>
            </mat-card>
        </a>
    </div>
    <h1>My Wallet</h1>
    <perx-core-vouchers (tapped)="voucherSelected($event)" [data]="vouchers$" [filter]="filter"
        [showRedeemedIcon]="false">
    </perx-core-vouchers>
</div>
