mat-card {
  margin: 0.4rem 0;
  display: flex;
  align-items: center;
  padding: 0;
  height: 3.5rem;
  flex: 0 0 7.5rem;
  justify-content: space-between;
}

mat-icon {
  color: #b2b2b2;
  font-size: 1.5rem;
  height: 1.5rem;
  flex: 0 0 1.6rem;
}

h1 {
  padding: 0.8rem 0 0;
  margin: 0;
  display: flex;
  font-size: 1.6rem;
}

.tab-group {
  margin: 7rem -1.2rem;
}

.tab-group__content {
  padding: 0 1.6rem;
  flex-direction: column;
  background-color: #e5e5e5;
  box-sizing: border-box;
  display: flex;
  min-height: calc(100vh - 108px);
  > h1:first-child {
    padding-top: 2.4rem;
  }
}

.puzzle-content {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  justify-content: flex-start;
}

.puzzle-img__wrapper {
  flex: 0 0 7.5rem;
  height: 10.5rem;
  display: flex;
  justify-content: center;
}

.puzzle-img {
  width: 100%;
  height: 100%;
}

.puzzle-details {
  font-size: 1.4rem;
  display: flex;
  margin: auto 0;
  margin-left: 1rem;
  flex-direction: column;
  h1 {
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 0;
    margin: 0;
    font-weight: 500;
    margin: 4px 0;
    padding: 0;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: #858585;
    margin: 4px 0;
    padding: 0;
  }
}

.puzzle-details:nth-child(1) {
  margin-top: 0;
}

.main-reward-title {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #212B36;
}

.reward-subtitle {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #6B6B6B;
}