<!--group block contain tabs and one graphic-->
<div class="dashboard-group-graphics">
  <div class="chard-card-list">

    <article class="chart-card full-width">
      <h3 class="chart-card-title">
        {{'REWARD_GRAPHIC_PAGE.TOTAL_REWARDS' | translate}}
        {{RewardValue}}
      </h3>
      <div class="chart-card-content">
        <cl-chart-card [id]="'rewards_total_rewards'" [cardType]="ct.line" [params]="params"></cl-chart-card>
      </div>
    </article>

    <article class="chart-card">
      <h3 class="chart-card-title" translate>REWARD_GRAPHIC_PAGE.DEMOGRAPHICS</h3>
      <div class="chart-card-content">
        <cl-chart-card [id]="'rewards_demographic'" [cardType]="ct.verticalBar" [params]="params"></cl-chart-card>
      </div>
    </article>

    <article class="chart-card">
      <h3 class="chart-card-title" translate>REWARD_GRAPHIC_PAGE.POPULAR_REDEMPTION_DAYS</h3>
      <div class="chart-card-content">
        <cl-chart-card [id]="'rewards_popular_redemption_day'" [cardType]="ct.calendarHeatmap" [params]="params">
        </cl-chart-card>
      </div>
    </article>

    <article class="chart-card">
      <h3 class="chart-card-title" translate>REWARD_GRAPHIC_PAGE.TOP_5_REWARDS</h3>
      <div class="chart-card-content">
        <cl-chart-card [id]="'rewards_top_rewards'" [cardType]="ct.horizontalBar" [params]="params"></cl-chart-card>
      </div>
    </article>

    <article class="chart-card">
      <h3 class="chart-card-title" translate>REWARD_GRAPHIC_PAGE.TOP_5_MERCHANTS</h3>
      <div class="chart-card-content">
        <cl-chart-card [id]="'rewards_top_merchants'" [cardType]="ct.horizontalBar" [params]="params"></cl-chart-card>
      </div>
    </article>

    <article class="chart-card">
      <h3 class="chart-card-title" translate>REWARD_GRAPHIC_PAGE.TOP_5_CATEGORIES</h3>
      <div class="chart-card-content">
        <cl-chart-card [id]="'rewards_top_category'" [cardType]="ct.horizontalBar" [params]="params"></cl-chart-card>
      </div>
    </article>

    <article class="chart-card">
      <h3 class="chart-card-title" translate>REWARD_GRAPHIC_PAGE.CAMPAIGNS</h3>
      <div class="chart-card-content">
        <cl-chart-card [id]="'rewards_top_campaigns'" [cardType]="ct.horizontalBar" [params]="params"></cl-chart-card>
      </div>
    </article>

  </div>
</div>
<!--end group block contain tabs and one graphic-->
