<!--group block contain tabs and one graphic-->
<div class="dashboard-group-graphics">
  <div class="chard-card-list">

    <article class="chart-card full-width">
      <h3 class="chart-card-title">
        {{'REWARD_GRAPHIC_PAGE.TOTAL_REWARDS' | translate}}
        20,000
      </h3>
      <div class="chart-card-content">
        <cl-chart-card [id]="158" [cardType]="ct.line" [params]="params"></cl-chart-card>
      </div>
    </article>

    <article class="chart-card">
      <h3 class="chart-card-title" translate>REWARD_GRAPHIC_PAGE.DEMOGRAPHICS</h3>
      <div class="chart-card-content">
        <cl-chart-card [id]="159" [cardType]="ct.verticalBar" [params]="params"></cl-chart-card>
      </div>
    </article>

    <article class="chart-card">
      <h3 class="chart-card-title" translate>REWARD_GRAPHIC_PAGE.POPULAR_REDEMPTION_DAYS</h3>
      <div class="chart-card-content">
        <cl-chart-card [id]="164" [cardType]="ct.calendarHeatmap" [params]="params"></cl-chart-card>
      </div>
    </article>

    <article class="chart-card">
      <h3 class="chart-card-title" translate>REWARD_GRAPHIC_PAGE.TOP_5_REWARDS</h3>
      <div class="chart-card-content">
        <cl-chart-card [id]="160" [cardType]="ct.horizontalBar" [params]="params"></cl-chart-card>
      </div>
    </article>

    <article class="chart-card">
      <h3 class="chart-card-title" translate>REWARD_GRAPHIC_PAGE.TOP_5_MERCHANTS</h3>
      <div class="chart-card-content">
        <cl-chart-card [id]="163" [cardType]="ct.horizontalBar" [params]="params"></cl-chart-card>
      </div>
    </article>

    <article class="chart-card">
      <h3 class="chart-card-title" translate>REWARD_GRAPHIC_PAGE.TOP_5_CATEGORIES</h3>
      <div class="chart-card-content">
        <cl-chart-card [id]="161" [cardType]="ct.horizontalBar" [params]="params"></cl-chart-card>
      </div>
    </article>

    <article class="chart-card">
      <h3 class="chart-card-title" translate>REWARD_GRAPHIC_PAGE.CAMPAIGNS</h3>
      <div class="chart-card-content">
        <cl-chart-card [id]="162" [cardType]="ct.horizontalBar" [params]="params"></cl-chart-card>
      </div>
    </article>

  </div>
</div>
<!--end group block contain tabs and one graphic-->
