<!--group block contain tabs and one graphic-->
<div class="dashboard-group-graphics">
  <div class="chard-card-list">

    <div class="chart-card full-width">
      <p class="chart-card-title">
        Total Active Customers
      </p>
      <div class="chart-card-content">
        <cl-chart-card [id]="110" [cardType]="'verticalBar'" [params]="params"></cl-chart-card>
      </div>
    </div>

    <div class="chart-card">
      <p class="chart-card-title">
        Total Active Customers
      </p>
      <div class="chart-card-content">
        <cl-chart-card [id]="110" [cardType]="'verticalBar'" [params]="params"></cl-chart-card>
      </div>
    </div>

    <div class="chart-card">
      <p class="chart-card-title">
        Rewards
      </p>
      <div class="chart-card-content">
        <cl-chart-card [id]="110" [cardType]="'verticalBar'" [params]="params"></cl-chart-card>
      </div>
    </div>

    <div class="chart-card">
      <p class="chart-card-title">
        Campaigns
      </p>
      <div class="chart-card-content">
        <cl-chart-card [id]="110" [cardType]="'verticalBar'" [params]="params"></cl-chart-card>
      </div>
    </div>

    <div class="chart-card">
      <p class="chart-card-title">
        Total Active Customers
      </p>
      <div class="chart-card-content">
        <cl-chart-card [id]="110" [cardType]="'verticalBar'" [params]="params"></cl-chart-card>
      </div>
    </div>

    <div class="chart-card">
      <p class="chart-card-title">
        Rewards
      </p>
      <div class="chart-card-content">
        <cl-chart-card [id]="110" [cardType]="'verticalBar'" [params]="params"></cl-chart-card>
      </div>
    </div>

    <div class="chart-card">
      <p class="chart-card-title">
        Campaigns
      </p>
      <div class="chart-card-content">
        <cl-chart-card [id]="110" [cardType]="'verticalBar'" [params]="params"></cl-chart-card>
      </div>
    </div>

  </div>
</div>
<!--end group block contain tabs and one graphic-->
