<div class="page">
  <div class="additions">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Hendrerit dolor magna eget est lorem ipsum. Semper risus in
    hendrerit gravida rutrum quisque non tellus orci. Etiam erat velit scelerisque in dictum non
    consectetur a. Habitant morbi tristique senectus et netus et malesuada fames. Nullam non nisi
    est sit. Hendrerit dolor magna eget est. Nunc consequat interdum varius sit. Tristique senectus et netus et
    malesuada. Lobortis scelerisque fermentum dui faucibus in ornare quam. Nunc congue nisi vitae suscipit tellus
    mauris. Integer vitae justo eget magna fermentum. Nec feugiat in fermentum posuere urna nec. Risus viverra
    adipiscing at in. Nisi porta lorem mollis aliquam ut. Quis vel eros donec ac odio tempor orci dapibus. In nisl nisi
    scelerisque eu ultrices vitae.
  </div>
</div>
