<div class="page">
  <div class="additions">
    <p class="main-title">PRIVACY POLICY</p>
    <div class="group">
      <p class="question">PRIVACY STATEMENT</p>
      <p class="text">Abenson Group is committed to protecting the privacy of its Member’s Personal Data. Abenson Group
        shall operate and hold Personal Data under strict confidentiality. Abenson Group shall therefore use and collect
        information as necessary and if it is relevant to the dealings with the Member.</p>
      <p class="question">CONSENT</p>
      <ol>
        <li>PLUS! Rewards Members understand and agree that by registering their information, the Member is giving
          consent to Abenson Group and its Service Group, if any, to collect, store, access, share, process and/or
          destroy copies of Member’s personal data.</li>
        <li>Member is aware of and understands his or her right under the Data Privacy Act, including the right to
          request access and correction to the personal data related to him/her. The Member likewise understands and
          agrees that while he has the right to object, it is necessary for Abenson Group and its Service Group to
          collect, store, access, share, process and/or destroy copies of his personal data for but not limited to
          administrative and marketing purposes</li>
      </ol>
      <p class="question">FOR DATA PRIVACY INQUIRIES</p>
      <p class="text">For inquiries regarding the processing of personal information stated in this Privacy Notice
        Policy, as well as any concerns or complaints regarding data privacy, or the exercise of your rights as a Data
        Subject under the DPA, you may contact the DPO as follows:</p>
      <p class="text">The Data Protection Officer</p>
      <p class="text">
        9th Floor Waltermart Building, 8001-A EDSA, Veterans Village, Quezon City<br>
        (02) 981 -0065<br>
        dpo@abenson.com
      </p>
    </div>
    <div class="footer">PLUS! Rewards FAQ Series of 2019 Version 1</div>
  </div>
</div>
