<div class="main" *ngIf="voucher">
  <div class="contents">
    <div class="app-header">
      <button class="icon" (click)="back()">
        <mat-icon>arrow_backward</mat-icon>
      </button>
      <img [src]="voucher.rewardBanner" class="banner">
    </div>
    <div class="redeem-block">
      <div class="inner">
        <div class="upper-section">
          <div class="code-redemption unavailable" *ngIf="voucher.state === 'redeemed' || voucher.state === 'expired'; else available">
            <p>Your reward is</p>
            <span class="code">{{voucher.state}}</span>
          </div>
          <ng-template #available>
            <div *ngIf="voucher.redemptionType === 'txtCode'" class="code-redemption">
              <h1>Promo code</h1>
              <input class="code" #codeInput matInput type="text" [value]="voucher.code" readonly>
              <button mat-button color="primary" (click)="copyCode(codeInput)">Copy the code</button>
            </div>
            <div *ngIf="voucher.redemptionType === 'pin'" class="code-redemption">
              <p>Please ask cashier to enter PIN</p>
              <button *ngIf="!showEnterPinComponent else pinComponent" class="enter-pin" mat-flat-button color="primary" (click)="showPinComponent()">Enter PIN</button>
              <ng-template #pinComponent>
                <div class="pin-input-container">
                  <perx-core-pin-input #pinInput
                  [length]="4"
                  (full)="full($event)"
                  (update)="updatePin()">
                  </perx-core-pin-input>
	              </div>
              </ng-template>
            </div>
          </ng-template>
        </div>
        <div class="middle-section">
          <img src="assets/cutout.png">
        </div>
        <div class="lower-section mat-elevation-z2">
          <div [ngClass]="'lower-section ' + voucher.state">
            <app-reward-detail [rewardId]="voucher.rewardId" [showBackButton]="false" [showBannerImage]="false"></app-reward-detail>
          </div>
          <mat-divider></mat-divider>
          <div class="action">
            <button *ngIf="showEnterPinComponent && !isPinEntered" mat-button color="primary" (click)="cancelClicked()">Cancel</button>
            <button *ngIf="showEnterPinComponent && isPinEntered && !isPinCorrect" mat-flat-button color="primary" (click)="tryAgainClicked()">Try Again</button>
            <button *ngIf="voucher.state === 'redeemed' || voucher.state === 'expired'" mat-flat-button color="primary" (click)="backMyRewardsClicked()">Back to My Rewards</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>