@import "../icon.scss";

.icon {
  @include icon;
}

.main {
  overflow: auto;
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  .contents {
    flex: 1 1 auto;
    overflow: scroll;
  }
}

.app-header {
  position: relative;

  img {
    display: block;
    width: 100%;
    height: 25rem;
    object-fit: cover;
  }

  button {
    position: absolute;
    top: 23%;
    transform: translateY(-50%);
    margin-left: 1rem;
  }
}

.full-width {
  width: 100%;
}

.redeem-block {
  padding: 0 1.5rem;
  margin-top: -15.5rem;
  z-index: 1;
  position: relative;
}

.upper-section {
  border-radius: 1rem 1rem 0 0;
  background-color: #ffffff;
}

.middle-section {
  height: 3.5rem;
  margin-top: -0.1rem;

  img {
    width: 100%;
    object-fit: fill;
    height: 3.5rem;
  }
}

.lower-section {
  border-radius: 0 0 1rem 1rem;
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 4rem;
}

.lower-section.expired, .lower-section.redeemed {
  opacity: 0.2;
}

.detail {
  padding: 1rem 1.5rem;
  text-align: center;
  color: #666666;
}

.inner {
  border-radius: 1rem;
}

.code-redemption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 14rem;

  h1, p {
    font-size: 2rem;
    color: #666666;
  }

  .code {
    background: #eef9e4;
    border-radius: 0.5rem;
    text-align: center;
    color: #666666;
    padding: 1.5rem 3.5rem;
    font-size: 1.8rem;
  }
}

.code-redemption.unavailable {
  .code {
    text-transform: uppercase;
    background-color: #e3e7ee;
  }
}

.button-container {
  button {
    padding: 1rem;
  }
}

.enter-pin {
  color: #ffffff;
  padding: 0.5rem 3rem;
}

.pin-input-container {
  width: 100%;
  margin: 0.1rem auto;
  float: none;

  .incorrect-pin {
    text-align: center;
    color: #D8127D;
    font-size: 1.6rem;
  }
}

.action {
  display: flex;
  flex-direction: column;

  button {
    text-transform: uppercase;
    border-radius: 0;
    padding: 1rem;
  }

  button.mat-flat-button {
    color: #ffffff;
  }
}
