<div class="main">
  <div class="contents">
    <div class="app-header">
      <button class="icon" routerLink="/voucher" [queryParams]="{id: voucher.id}">
        <mat-icon>arrow_backward</mat-icon>
      </button>
      <img [src]="voucher.rewardBanner" class="banner">
    </div>
    <div class="redeem-block">
      <div class="inner">
        <div class="upper-section">
          <div class="code-redemption unavailable" *ngIf="voucher.state === 'redeemed' || voucher.state === 'expired'; else available">
            <h1>No longer available</h1>
            <span class="code">{{voucher.state}}</span>
          </div>
          <ng-template #available>
            <div *ngIf="voucher.redemptionType === 'txtCode'" class="code-redemption">
              <h1>Promo code</h1>
              <span class="code">{{voucher.code}}</span>
              <button mat-button color="primary">Copy the code</button>
            </div>
            <div *ngIf="voucher.redemptionType === 'pin'" class="code-redemption">
              <h1>Ask cashier to enter PIN</h1>
              <button mat-flat-button color="primary">Enter PIN</button>
            </div>
          </ng-template>
        </div>
        <div class="middle-section">
          <img src="assets/cutout.png" alt="">
        </div>
        <div [ngClass]="'lower-section mat-elevation-z2 ' + voucher.state">
          <div class="detail-container">
            <div class="detail">
              <img [src]="voucher.merchantImg">
              <h1>{{voucher.name}}</h1>
              <h2>Expires on {{voucher.expiry | date: 'shortDate'}}</h2>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="action">
            <button class="full-width" mat-button color="primary">Terms & Conditions</button>
            <button mat-button color="primary">CANCEL</button>
            <button mat-flat-button color="primary">Try Again</button>
            <button mat-flat-button color="primary">BACK TO MY LIST</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>