.contacts-section {
  margin-top: 3rem;

  strong {
    font-size: 1.4rem;
  }

  ul {
    list-style-type: none;
    margin: 0.8rem 0 0 0;
    padding: 0;

    li {
      padding: 0.8rem 0 0.8rem 0;
      color: #494953;
      font-size: 1.4rem;

      span {
        color: #0F69AF;
      }
    }
  }
}
