<header class="page-header full-with">
  <h1 class="title">{{loyalty?.name}}</h1>
  <div class="btn-group">
    <cl-button classList="primary"
               (click)="comeBack()">{{'BTN_COME_BACK' | translate}}
    </cl-button>
  </div>
</header>
<section class="content form-limiter loyalty">
  <div class="rule-loader">
    <mat-progress-bar class="rule-loader-bar" *ngIf="loader" mode="indeterminate"></mat-progress-bar>
  </div>
  <cl-view-loyalty *ngIf="loyalty"
                   [loyaltyData]="loyalty"
                   [dataSource]="customTierDataSource"
                   [basicTierRuleSet]="basicTierRuleSet"
                   [customTierRuleSetMap]="customTierRuleSetMap"
                   [statusLabel]="statusLabel">
  </cl-view-loyalty>
</section>
