<div class="page">
  <app-header></app-header>
  <div class="detail-body">
    <div class="flex-wrap">
      <img src="assets/img/success.svg">
      <div class="img-label">Request successfully being processed</div>
      <div class="img-addiction">We will send you an SMS within 5 working days to update you on the status of your redemption.</div>
    </div>
    <div class="redeem-container">
      <button mat-flat-button type="submit" [routerLink]="[ '/home' ]" color="primary">Back to home</button>
    </div>
  </div>
</div>
