@import "../../../../theme/variables";

.tagged-item {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 85%;
  grid-gap: 15px;
  overflow-x: auto;
  padding-top: 15px;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  padding-bottom: 15px;
  padding-inline-start: 0;
  scroll-behavior: smooth;
  margin: 0;
}

.item {
  scroll-snap-align: center;
  border-radius: 15px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  list-style-type: none;

  img {
    width: 100%;
    //height: 128px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .container {
    padding: 10px 16px 16px 16px;

    .title {
      padding: 0;
      margin: 0;
      color: $medium-blue;
      font-size: 16px;
    }

    .description {
      padding: 0;
      margin: 10px 0;
      font-size: 12px;
      color: $light-black;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .position {
      font-size: 12px;
      color: $light-gray;
      display: flex;
      align-items: center;
      .icon-location {
        width: 25px;
        height: 25px !important;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .tagged-item {
    grid-auto-columns: minmax(300px, 400px);
  }
}

@media screen and (min-width: 1080px) {
  .tagged-item {
    grid-auto-columns: minmax(300px, 400px);
  }
}

@media screen and (min-width: 1366px) {
  .tagged-item {
    grid-auto-columns: minmax(300px, 400px);
  }
}
