<div class="main-container">
	<h2 *ngIf="pinMode === 'password'" translate>RESET_PASSWORD</h2>
	<h2 *ngIf="pinMode === 'register'" translate>{{STATIC_NEW_REGISTER}}</h2>	
	<div class="subheading"><span>{{subHeading}}</span></div>
	<div class="pin-input-container">
		<perx-core-pin-input 
		[length]="MAX_DIGITS_COUNT"
		(full)="onPinEntered($event)">
		</perx-core-pin-input>
	</div>
	<div i18n="@@static-resend-otp" class="bottom-text" (click)="resendOtp()">{{'RESEND_OTP' | translate}}</div>
</div>
