@import '../../styles.scss';

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 80rem;
  margin: 3rem 2rem;

  h2 {
    font-weight: 900;
    font-size: 1.8rem;
  }

  .subheading {
    font-size: 1.4rem;
    color: $subheading-light-gray-color;
    font-style: normal;
    font-weight: normal;
    margin-top: 0.8rem;
  }

  .pin-input-container {
    width: 100%;
    margin: 3rem auto;
    float: none;
  }

  .bottom-text {
    color: $main-blue-theme;
    font-size: 1.2rem;
  }
}
