// Primary Colors
$main-blue: #004EA8;
$main-blue-text: #004EA8;
$light-blue: #e5f5ff;
$white: #FFFFFF;
$green-dark: #34a344;


// Background
$light-grey: #F6F6F6;
$grey: #656565;
$green: #00A995;
$purple: #701AC5;
$lime: #b5ff76;
$medium-light-gray: rgb(236, 235, 235);
$purple-visited: #551A8B;
$medium-green: #008945;
$darkish-green: #298236;

//Content
$black: #333333;
$brownish-grey: #666666;
$dark-grey: #4B4B4B;
$near-black: #2E2E2E;
$medium-blue: #0072D8;
$extreme-light-blue: #99C1E7;
$medium-orange: #fdb913;
$grey-white: #c2c2c1;

$pink: #fc0472;
$teal: #00a995;

//Box shadow
$medium-black: #0000001A;
$light-white: #eeeeee;
$light-black: #656565;
$light-gray: #919191;

//Box shadow
$medium-black: #0000001A;
$light-white: #eeeeee;

$desktop-width: 1024px;
$tablet-width: 768px;

