@import "../../../theme/variables";
$margin-bottom: 15px;
$font-weight: bold;

.treat-enroll-success-page {
    color: $near-black;
    font-size: 12px;
    min-height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .enroll-success {
        background-color: $white;
        margin-bottom: $margin-bottom;

        padding: 20px;
        text-align: center;

        .icon-success {
            margin-bottom: $margin-bottom;
        }

        .enrolled {
            font-size: 23px;
            font-weight: $font-weight;
            margin-bottom: $margin-bottom;
        }

        .promo {
            font-size: 13px;
        }

        .promo-content {
            font-size: 14px;
            font-weight: $font-weight;
            margin-bottom: $margin-bottom;
        }

        .number {
            padding: $margin-bottom;
            border: 1px solid $light-blue;
            background-color: $light-blue;
            border-radius: 8px;
            margin-bottom: $margin-bottom;
            &-title {
                font-size: 15px;
                margin-bottom: 10px;
            }

            &-content {
                font-size: 23px;
                font-weight: $font-weight;
                word-wrap: break-word;
            }
        }

        .note {
            margin-bottom: $margin-bottom;
            p {
                font-size: 13px;
            }
        }

        .share-container {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .share,
            .copy {
                color: $medium-blue;
                display: flex;
                align-items: center;
                font-size: 15px;
                margin-bottom: $margin-bottom;
                font-weight: $font-weight;
                width: 150px;
                cursor: pointer;
                text-transform: capitalize;

                @media screen and (max-width: $desktop-width) {
                    justify-content: center !important;
                }
            }

            .share {
                justify-content: right;

                &-icon {
                    margin-right: 5px;
                    width: 32px;
                    height: auto;
                }
            }

            .copy {
                justify-content: left;

                mat-icon {
                    width: 32px;
                    height: auto;
                }
            }

            .spacer {
                flex: 0.1 0.1 20px;
            }
        }

        .note {
            text-align: left;
        }
    }

    .similar-deal {
        color: $medium-blue;
        text-align: left;
        background-color: $white;
        padding: 20px;

        .similar-deal-content {
            bdo-carousel-items {
                ::ng-deep {
                    .carousel {
                        height: calc(260px / 0.95);
                        
                        .carousel-cell {
                            height: 260px !important;
                        }
                    }
                }
            }
        }
    }
}
