<div class="treat-enroll-success-page">
    <div class="enroll-success">
        <div class="icon-success">
            <img src="assets/images/success.svg" alt="">
        </div>
        <div class="enrolled">
            You are now enrolled in the promo.
        </div>
        <div class="promo">
            Promo:
        </div>
        <div class="promo-content">
            <p>Shop. Choose. Redeem</p>
            
        </div>
        <div class="number">
            <div class="number-title">
                <p>Your reference number is</p>
                
            </div>
            <div class="number-content">
                <p> 20210219-3655</p>
               
            </div>
        </div>
        <div class="share">
            <img src=" assets/images/share.svg" alt="" class="share-icon">
            Share


        </div>
        <div class="note">
            <p>This submission of your details signifies that you have read and undestood the Terms and Conditions of the
                Promo. eGCs will be sent via SMS and may be used in Max's Restaurant, Pancake House, or Jamba Juice or on
                before July 31, 2021 only.</p>
            
        </div>
    </div>

    <div class="similar-deal">
        <h3 class="header">SIMILAR DEALS</h3>
        <div class="similar-deal-content">
            <bdo-tagged-item [deals]="similarDeals"></bdo-tagged-item>
        </div>
    </div>
    <!-- <div class="refer">
        <div class="refer-content">
            <div class="refer-content-title">
                <p>Refer a friend to get treats</p>
                
            </div>
            <div class="refer-content-note">
                <p> Already a card holder? Refer friends now and get rewarded with treats!</p>
               
            </div>
            <button mat-stroked-button color="primary" class="refer-content-button">Refer Now</button>
        </div>
        <img src="assets/images/img-ad-gift.png" alt="">
    </div>
    <div class="footer">
        <p>BDO Unibank is supervised by the Bangko Sentral ng Pilipinas with contact number (02) 8708-7087 and with email address consumeraffairs@bsp.gov.ph</p>
        
    </div> -->
    <bdo-footer-refer></bdo-footer-refer>
</div>