.transaction-amount {
  margin-right: 6rem;
}

.card-content {
  section {
    padding-bottom: 2rem;

    &:first-child {
      padding-bottom: calc(2rem - 1.25em);
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}
