:host {
  flex-grow: 1;
}

.page {
  min-height: 100%;
  height: 100%;
  background: #fff;
  overflow: auto;
}

.group {
  padding: 1rem 1.6rem;
  border-bottom: 1px solid #DFDFDF;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #1B1B25;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #7D7D89;
  }

  .link-wrap {
    color: inherit;
  }

  .mat-icon {
    opacity: 0.54;
  }
}

.sub-title {
  padding: 3.2rem 1.5rem 1.2rem;
  line-height: 2.4rem;
  font-size: 1.4rem;
  color: #666666;
}
