<div class="page" *ngIf="profile$ | async as profile">
  <div class="group">
    <label>First Name</label>
    <div>{{profile.firstName || '-'}}</div>
  </div>
  <div class="group">
    <label>Middle Name</label>
    <div>{{profile.middleName || '-'}}</div>
  </div>
  <div class="group">
    <label>Last Name</label>
    <div>{{profile.lastName || '-'}}</div>
  </div>
  <div class="group">
    <label>Date of Birth</label>
    <div>{{profile.birthDate || '-'}}</div>
  </div>
  <div class="group">
    <label>Gender</label>
    <div>{{profile.gender || '-'}}</div>
  </div>
  <div class="sub-title">
    Contact Details
  </div>
  <div class="group">
    <label>Mobile Number</label>
    <div>{{profile.phone || '-'}}</div>
    <div class="wrap">
      <mat-icon>edit</mat-icon>
    </div>
  </div>
  <div class="group">
    <label>Email</label>
    <div>{{profile.email || '-'}}</div>
    <div class="wrap">
      <mat-icon>edit</mat-icon>
    </div>
  </div>
  <div class="sub-title">
    Address
  </div>
  <div class="group">
    <label>City/Municipality</label>
    <div>{{profile.customProperties.city || '-'}}</div>
    <div class="wrap">
      <mat-icon>edit</mat-icon>
    </div>
  </div>
  <div class="group">
    <label>Barangay</label>
    <div>{{profile.customProperties.barangay || '-'}}</div>
    <div class="wrap">
      <mat-icon>edit</mat-icon>
    </div>
  </div>
  <div class="group">
    <label>Street Address</label>
    <div>{{profile.customProperties.addr1 || '-'}}</div>
    <div class="wrap">
      <mat-icon>edit</mat-icon>
    </div>
  </div>
</div>
