<div class="main-container">
	<h2 translate>STATIC_RESET_PASSWORD</h2>
	<div translate class="subheading">STATIC_ENTER_NUMBER</div>
	<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
		<mat-form-field class="full-width__input">
			<mat-select formControlName="countryCode">
				<mat-option value="852">
					<ng-container> {{"COUNTRY_HONGKONG" | translate}}</ng-container>(+852)
				</mat-option>
				<mat-option value="853">
					<ng-container >{{ "COUNTRY_MACAU" | translate}}</ng-container> (+853)
				</mat-option>
				<mat-option value="86">
					<ng-container>{{ "COUNTRY_CHINA" | translate}}</ng-container> (+86)
				</mat-option>
				<mat-option value="65">
					<ng-container>{{ "COUNTRY_SINGAPORE" | translate}}</ng-container> (+65)
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field color="primary" class="full-width__input">
			<mat-label translate>STATIC_MOBILE_NO</mat-label>
			<input matInput placeholder="{{ 'STATIC_MOBILE_NO' | translate}}" placeholder="Mobile No" formControlName="mobileNo"
				required>
			<mat-error *ngIf="resetPasswordForm.get('mobileNo').hasError('required')">
				{{'STATIC_MOBILE_NO_IS' | translate}} <strong>{{'REQUIRED' | translate }}</strong>
			</mat-error>
		</mat-form-field>
		<button [disabled]="!resetPasswordForm.valid" mat-flat-button type="submit" class="full-width__button">{{"STATIC_GET_OPT" | translate}}</button>
	</form>
</div>