<div class="main-container">
	<h2 i18n="@@static-reset-password">Reset your password</h2>
	<div i18n="@@static-enter-number" class="subheading">Enter your mobile number</div>
	<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
		<mat-form-field class="full-width__input">
			<mat-select [(value)]="selectedCountry">
				<mat-option value="+852">
					<ng-container i18n="@@country-hongkong">Hong Kong</ng-container>(+852)
				</mat-option>
				<mat-option value="+853">
					<ng-container i18n="@@country-macau">Macau</ng-container> (+853)
				</mat-option>
				<mat-option value="+86">
					<ng-container i18n="@@country-china">China</ng-container> (+86)
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field color="primary" class="full-width__input">
			<mat-label i18n="@@static-mobile-no">Mobile No</mat-label>
			<input matInput i18n-placeholder="@@static-mobile-no" placeholder="Mobile No" formControlName="mobileNo"
				required>
			<mat-error *ngIf="resetPasswordForm.hasError('mobileNo')">
				Mobile No is <strong>required</strong>
			</mat-error>
		</mat-form-field>
		<button [disabled]="!resetPasswordForm.valid" i18n="@@static-get-opt" mat-flat-button type="submit" class="full-width__button">Get OTP</button>
	</form>
</div>