<div class="main-container">
	<h2 translate>FORGET_PW_PAGE.RESET_PASSWORD</h2>
	<div translate class="subheading">FORGET_PW_PAGE.STATIC_ENTER_NUMBER</div>
	<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
		<mat-form-field class="full-width__input">
			<mat-select formControlName="countryCode">
				<mat-option value="852">
					<ng-container> {{"FORGET_PW_PAGE.COUNTRY_HONGKONG" | translate}}</ng-container>(+852)
				</mat-option>
				<mat-option value="853">
					<ng-container >{{ "FORGET_PW_PAGE.COUNTRY_MACAU" | translate}}</ng-container> (+853)
				</mat-option>
				<mat-option value="86">
					<ng-container>{{ "FORGET_PW_PAGE.COUNTRY_CHINA" | translate}}</ng-container> (+86)
				</mat-option>
				<mat-option value="65">
					<ng-container>{{ "FORGET_PW_PAGE.COUNTRY_SINGAPORE" | translate}}</ng-container> (+65)
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field color="primary" class="full-width__input">
			<mat-label translate>FORGET_PW_PAGE.MOBILE_NO</mat-label>
			<input matInput placeholder="{{ 'FORGET_PW_PAGE.MOBILE_NO' | translate}}" placeholder="Mobile No" formControlName="mobileNo"
				required>
			<mat-error *ngIf="mobileNo && mobileNo.hasError('required')">
				{{'FORGET_PW_PAGE.MOBILE_NO_IS' | translate}}
			</mat-error>
		</mat-form-field>
		<button [disabled]="!resetPasswordForm.valid" mat-flat-button type="submit" class="full-width__button">{{"FORGET_PW_PAGE.GET_OPT" | translate}}</button>
	</form>
</div>
