@import "./theme/theme.scss";
@import "./theme/fonts.scss";
@import "./theme/typography.scss";
@import "./theme/button.scss";
@import "./theme/old-theme.scss";

:host,
html,
body {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font, 'Lato', sans-serif);
  background: $canvas-grey;
  -webkit-overflow-scrolling: touch;

  // util class for hiding elements based on theme
  .hide-for-new-ux {
    display: none;
  }

  // STAR-478 override material card fonts globally
  .mat-card-subtitle,
  .mat-card-content {
    font-size: 16px;
  }
}

.app {
  .mat-tab-links {
    width: 100%;
    align-items: center;
    justify-content: center;

    mat-ink-bar {
      content: "";
      height: 4pt;
      background-color: $electric-green;
      display: block;
      margin: 0 auto;
    }
  }

  app-vouchers {
    // STAR-483. Defined here to avoid using ng-deep
    mat-card-header .mat-card-header-text {
      margin: 0 12px;
    }
  }
}

cdk-virtual-scroll-viewport {
  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
}

.cdk-virtual-scroll-orientation-horizontal .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.app-full-bleed-dialog .mat-dialog-container {
  border-radius: 4px !important;
}

.shake-tree-container .tree {
  display: block !important;
  max-width: 30rem !important;
}

.mat-bottom-sheet-container {
  background-color: $canvas-grey;
}

ol,
ul {
  margin-top: 0;
}

// TODO: verify game popup & remove
.custom-class {
  width: 35.5rem;

  h1 {
    margin-bottom: 2.4rem;
  }

  .mat-dialog-container {
    padding: 3.2rem;
    border-radius: 0.9rem;
  }

  .mat-dialog-content {
    overflow: initial;
  }

  .button-group {
    margin-top: 3.2rem;
  }
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 0 0.4rem 0.4rem #d2d8e2; // $medium-grey;
}

// core style overrides

// @todo parking this block as the base direction for ng-deep migration
//perx-core-pin-input {
//  .activation-code {
//    .activation-code__inputs input {
//      color: $dark-grey;
//      background: $tint-electric-green;
//    }
//
//    .activation-code__inputs input:focus {
//      outline-color: $electric-green;
//    }
//
//    &.error {
//      .activation-code__inputs input {
//        border-color: $astra-pink;
//        background: $tint-astra-pink;
//      }
//
//      .activation-code__inputs input:focus {
//        outline-color: $astra-pink;
//      }
//    }
//    .error-label {
//      color: $dark-astra-pink;
//    }
//  }
//}

perx-core--feed-item-popup {
  .main-container {
    .header button.icon {
      background: $tint-electric-green !important;
      color: $electric-green !important;
    }

    p.dialog-body {
      font-size: 16px !important;
      color: $dark-grey !important;
    }

    button.dialog-button {
      height: 40px;
      background: $electric-green;
      font-weight: bold;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      color: $deep-electric-green;
    }
    .header {
      min-height: 20.7rem !important;
    }
  }
}
perx-core-popup {
  .mat-dialog-title {
    font-size: 24px !important;
    line-height: 30px !important;
    color: $dark-grey !important;
  }
  .mat-dialog-content {
    color: $dark-grey !important;
  }
}

mat-tab-group {
  mat-tab-header {
    .mat-tab-label-container {
      z-index: unset; // https://bugs.webkit.org/s1how_bug.cgi?id=160953
    }
  }
}

perx-blackcomb-pages-shake,
perx-blackcomb-pages-tap,
perx-blackcomb-pages-scratch,
perx-blackcomb-pages-spin {
  button:disabled,
  button.disabled {
    background-color: $light-grey!important;
    color: $medium-grey!important;
  }
}
