/* You can add global styles to this file, and also import other style files */
@import "./custom-theme.scss";

:host,
html,
body {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: starhub, Roboto, Arial, Helvetica, sans-serif;
  background: #f6f7f9;
  -webkit-overflow-scrolling: touch;
}

.app {
  .mat-tab-links {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  mat-ink-bar {
    background-color: transparent !important;

    &::before {
      content: "";
      height: 0.2rem;
      width: 9.5rem;
      background-color: #6dc00e;
      display: block;
      margin: 0 auto;
    }
  }
}

.mat-flat-button.mat-primary {
  color: #fff;
}

cdk-virtual-scroll-viewport {
  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }
}

.cdk-virtual-scroll-orientation-horizontal .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}

.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
  position: relative;
  border-radius: 1rem;
}

.shake-tree-container .tree {
  display: block !important;
  max-width: 30rem !important;
}

.mat-bottom-sheet-container {
  background-color: #f6f7f9;
}

ol,
ul {
  margin-top: 0;
}

.custom-class {
  width: 35.5rem;

  .mat-dialog-container {
    padding: 3.2rem;
    border-radius: 0.9rem;
  }

  h1 {
    font-weight: bold;
    line-height: 3.1rem;
    margin-bottom: 2.4rem;
  }

  .mat-dialog-content {
    overflow: initial;
    font-size: 1.8rem;
    color: #777776;
    line-height: 2.3rem;
  }

  .button-group {
    margin-top: 3.2rem;

    button {
      height: 6rem;
      text-transform: capitalize;
      font-size: 1.6rem;
      border-radius: 0.5rem;
    }
  }
}
