<div class="forgot-header">
  <img src="assets/images/logo.png" class="forgot-header-logo" alt="">
</div>
<div class="container" [ngSwitch]="currentStep">
  <h2 class="forgot-title">{{"RESET_PASSWORD" | translate}}</h2>

  <div class="forgot-step" *ngSwitchCase="1">
    <p class="forgot-description">{{"PLEASE_ENTER_MOBILE" | translate}}</p>

    <form [formGroup]="phoneStepForm" (submit)="phoneHandler()">
      <mat-form-field appearance="fill">
        <mat-label>{{"MOBILE_NUMBER" | translate}}</mat-label>
        <input type="tel" matInput formControlName="phone">
        <mat-error *hkbnErrorHandler="'required'">
          {{"REQUIRED" | translate}}
        </mat-error>
        <mat-error *hkbnErrorHandler="['minlength', 'maxlength', 'pattern']">
          {{"PLEASE_ENTER_VALID_NUMBER" | translate}}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary">
        {{"GET_OTP" | translate}}
      </button>
    </form>

    <p>
      {{"ASSISTANCE" | translate}}
      <a href="" class="forgot-link">support@home-plus.hk</a>
    </p>
  </div>

  <div class="forgot-step" *ngSwitchCase="2">
    <p>
      <ng-container>
        {{"OTP_SENT" | translate}}
      </ng-container>
      (******{{usersPhone}})
      <ng-container>
        {{"CHECK_SMS" | translate}}
      </ng-container>
    </p>
    <perx-core-pin-input class="forgot-pin" [length]="6" (full)="handlePin($event)"></perx-core-pin-input>

    <p class="forgot-resend" (click)="resend()">{{"RESEND_SMS" | translate}}</p>
  </div>

  <div class="forgot-step" *ngSwitchCase="3">
    <form [formGroup]="newPasswordForm" (submit)="changePassword()">
      <mat-form-field appearance="fill">
        <mat-label>{{"NEW_PASSWORD" | translate}}</mat-label>
        <input type="password" matInput formControlName="newPassword">
        <mat-error *hkbnErrorHandler="'required'">
          {{"REQUIRED" | translate}}
        </mat-error>
        <mat-error *hkbnErrorHandler="'minlength'">
          {{"PASSWORD_6_CHAR" | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{"CONFIRM_PASSWORD" | translate}}</mat-label>
        <input type="password" matInput formControlName="passwordConfirmation">
        <mat-error *hkbnErrorHandler="'required'">
          {{"REQUIRED" | translate}}
        </mat-error>
        <mat-error *hkbnErrorHandler="'minlength'">
          {{"PASSWORD_6_CHAR" | translate}}
        </mat-error>
        <mat-error *hkbnErrorHandler="'notEqual'">
         {{"PASSWORD_NOT_MATCH" | translate}}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary">
        {{"UPDATE_PASSWORD" | translate}}
      </button>
    </form>
  </div>
</div>
