<section class="channels" *ngIf="channelForm">
  <mat-expansion-panel class="card" expanded [formGroup]="channelForm">
    <!--select channel-->
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title">
        {{'CAMPAIGN.SELECT_CHANNEL' | translate}}
      </h2>
    </mat-expansion-panel-header>
    <!--channel type-->
    <div class="card-content">
      <div class="card-row">
        <section>
          <mat-checkbox color="primary" (change)="triggerWeblink($event.checked)" class="channels-margin" [formControl]="getWebLink()">{{'CAMPAIGN.CHANNEL_TYPES.WEBLINK' | translate}}</mat-checkbox>
          <mat-checkbox color="primary" class="channels-margin" [formControl]="getSms()">{{'CAMPAIGN.CHANNEL_TYPES.SMS' | translate}}</mat-checkbox>
        </section>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="card"
                       expanded
                       *ngIf="getWebLink()?.value">
  <!--Weblink options-->
  <mat-expansion-panel-header class="card-header">
    <h2 class="card-title">
      {{'CAMPAIGN.INFORMATION_COLLECTION' | translate}}
    </h2>
  </mat-expansion-panel-header>
  <!--web link options-->
  <div class="card-content">
    <div class="card-row">
      <mat-radio-group color="primary" [formControl]="channelForm.get('webNotification.webLinkOptions')">
        <mat-radio-button value="not_required">{{ 'CAMPAIGN.InformationCollectionSettingTypes.NO_INFORMATION' | translate}}</mat-radio-button>
        <mat-radio-button value="pi_required">{{ 'CAMPAIGN.InformationCollectionSettingTypes.PI_INFORMATION' | translate }}</mat-radio-button>
        <mat-radio-button value="signup_required">{{'CAMPAIGN.InformationCollectionSettingTypes.SIGNUP_INFORMATION' | translate}}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  </mat-expansion-panel>
  <!--SMS Notifications-->
  <mat-expansion-panel class="card"
                       expanded
                       *ngIf="getSms()?.value">
    <!--Weblink options-->
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title">
        {{'CAMPAIGN.SMS_NOTIFICATIONS' | translate}}
      </h2>
    </mat-expansion-panel-header>
    <!--sms block-->
    <div class="card-content">
      <div class="card-row">
        <div class="flex">
          <div class="sub-menu-block">
            <cl-sub-menu [activeItem]="selectedMenu"
                         [form]="channelForm"
                         [campaign]="campaign"
                         (selectMenu)="selectMenu($event)"
            >
              <h2 class="title card-title">
               {{'CAMPAIGN.MESSAGE_TRIGGERS' | translate}}
              </h2>
            </cl-sub-menu>
          </div>
        </div>
        <ng-container *ngIf="channelForm">
          <section class="message-container" [ngSwitch]="selectedMenu"
                   [formGroup]="channelForm"
          >
            <ng-container *ngSwitchCase="notificationsMenu.onCampaignLaunch">
              <cl-campaign-launch-message *ngFor="let group of getLaunchGroup().controls; let index = index"
                                          [formGroup]="group"
                                          [group]="group"
                                          [campaign]="campaign"
                                          [shortCodes]="shortCodes"
                                          [index]="index"
                                          (deleteGroup)="deleteLaunchGroup($event)"
                                          (sendSms)="onSendSms($event)"
              ></cl-campaign-launch-message>
              <cl-button classList="tertiary ph-0" (click)="addNewLaunchGroup()">
                {{'BTN_ADD_QUESTION' | translate}}
              </cl-button>
            </ng-container>
            <ng-container *ngSwitchCase="notificationsMenu.campaignNotCompleted">
              <cl-campaign-not-completed-form-group *ngFor="let group of getCompletedGroup().controls; let index = index;"
                                                    [formGroup]="group"
                                                    [group]="group"
                                                    [shortCodes]="shortCodes"
                                                    [index]="index"
                                                    (deleteGroup)="deleteCompletedGroup($event)"
                                                    (sendSms)="onSendSms($event)"
              >
              </cl-campaign-not-completed-form-group>
              <cl-button classList="tertiary ph-0" (click)="addNewCompletedGroup()">
                {{'BTN_ADD_QUESTION' | translate}}
              </cl-button>
            </ng-container>
            <ng-container *ngSwitchCase="notificationsMenu.beforeCampaignEnds">
              <cl-before-campaign-ends-form-group *ngFor="let group of getCampaignEndsGroup().controls; let index = index;"
                                                    [formGroup]="group"
                                                    [group]="group"
                                                    [shortCodes]="shortCodes"
                                                    [index]="index"
                                                    (deleteGroup)="deleteCampaignEndsGroup($event)"
                                                    (sendSms)="onSendSms($event)"
              >
              </cl-before-campaign-ends-form-group>
              <cl-button classList="tertiary ph-0" (click)="addNewCampaignEndsGroup()">
                {{'BTN_ADD_QUESTION' | translate}}
              </cl-button>
            </ng-container>
            <ng-container *ngSwitchCase="notificationsMenu.beforeRewardExpires">
              <cl-before-reward-expires-form-group *ngFor="let group of getRewardExpiresGroup().controls; let index = index;"
                                                  [formGroup]="group"
                                                  [group]="group"
                                                  [shortCodes]="shortCodes"
                                                  [index]="index"
                                                  (deleteGroup)="deleteRewardExpiresGroup($event)"
              >
              </cl-before-reward-expires-form-group>
              <cl-button classList="tertiary ph-0" (click)="addNewRewardExpiresGroup()">
                {{'BTN_ADD_QUESTION' | translate}}
              </cl-button>
            </ng-container>
            <ng-container *ngSwitchCase="notificationsMenu.noOfStampsToNextReward">
              <cl-no-stamps-to-next-reward-form-group *ngFor="let group of getNoStampsRewardGroup().controls; let index = index;"
                                                  [formGroup]="group"
                                                  [group]="group"
                                                  [shortCodes]="shortCodes"
                                                  [index]="index"
                                                  [stampSlotNumbers]="stampSlotNumbers"
                                                  (deleteGroup)="deleteNoStampsRewardGroup($event)"
              >
              </cl-no-stamps-to-next-reward-form-group>
              <cl-button classList="tertiary ph-0" (click)="addNewNoStampsRewardGroup()">
                {{'BTN_ADD_QUESTION' | translate}}
              </cl-button>
            </ng-container>
            <ng-container *ngSwitchCase="notificationsMenu.earnedStamp">
              <cl-earned-stamp-form-group *ngFor="let group of getEarnedStampGroup().controls; let index = index;"
                                                  [formGroup]="group"
                                                  [group]="group"
                                                  [shortCodes]="shortCodes"
                                                  [index]="index"
                                                  [stampNumbers]="stampNumbers"
                                                  (deleteGroup)="deleteEarnedStampGroup($event)"
              >
              </cl-earned-stamp-form-group>
              <cl-button classList="tertiary ph-0" (click)="addNewEarnedStampGroup()">
                {{'BTN_ADD_QUESTION' | translate}}
              </cl-button>
            </ng-container>
            <ng-container *ngSwitchCase="notificationsMenu.earnedReward">
              <cl-earned-reward-form-group *ngFor="let group of getEarnedRewardGroup().controls; let index = index;"
                                          [formGroup]="group"
                                          [group]="group"
                                          [shortCodes]="shortCodes"
                                          [index]="index"
                                          [stampNumbers]="stampNumbers"
                                          [checkIsStamp]="checkIsStamp(campaign)"
                                          (deleteGroup)="deleteEarnedRewardGroup($event)"
              >
              </cl-earned-reward-form-group>
              <cl-button classList="tertiary ph-0" (click)="addNewEarnedRewardGroup()">
                {{'BTN_ADD_QUESTION' | translate}}
              </cl-button>
            </ng-container>
          </section>
        </ng-container>
      </div>
    </div>
  </mat-expansion-panel>
</section>


