<h2>Date Picker</h2>
<cs-date-picker></cs-date-picker>

<h2>Range date picker</h2>
<cs-range-date-picker placeholder="choose date"></cs-range-date-picker>

<h2>Separate Range Date Picker</h2>
<cs-separate-range-date-picker></cs-separate-range-date-picker>

<h2>Time Picker</h2>
<cs-time-picker></cs-time-picker>

<h2>Tag List</h2>
<cs-tag-list></cs-tag-list>

<h2>Sms Editor</h2>
<cs-sms-editor [options]="shortcodes"></cs-sms-editor>

<h2>Select Graphic Preview</h2>
<cs-select-graphic [graphicList]="imagesExample"
                   [selectedGraphic]="imagesExample[0]">
</cs-select-graphic>

<h2>Upload Graphic</h2>
<cs-upload-graphic
  placeholder="Recommended size: 250px by 50px"
  [isRequired]="true">
</cs-upload-graphic>
<br>
<br>
<br>
<br>

<cs-upload-graphic
  classList="stretch"
  placeholder="Recommended size: 250px by 50px"
  [isRequired]="true">
</cs-upload-graphic>
<br>
<br>
<br>

<h2>Select Graphic Wrap</h2>
<cs-select-graphic-wrap
  [isRequired]="true"
  [graphicList]="imagesExample"
>
</cs-select-graphic-wrap>
<br>
<br>
<br>

<h2>Upload File</h2>
<cs-upload-file downloadFile="http://samplecsvs.s3.amazonaws.com/Sacramentorealestatetransactions.csv"
                label="Some Label"
                downloadButtonText="Download Button Text"
                uploadButtonText='Upload Button Text'
                requiredErrorText='Required Error Text'
                [isRequired]="true"
                (deleteFile)="log($event)"
                (uploadFile)="log($event)"
>
</cs-upload-file>
