.content {
  padding: 2rem;
}

.close-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button {
  margin-top: 1.6rem;
  width: 100%;
  color: #ffffff;
}

h1 {
  text-align: center;
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin: 0 auto 2rem;

  @media (max-width: 42.4rem) {
    width: 20.8rem;
  }
}

.img-wrapper {
  display: flex;
  justify-content: center;
  margin: 2.5rem;

  img {
    display: block;
    margin: 0 auto 2rem;
    max-width: 100%;
    max-height: 30rem;
    height: auto;
    width: auto;
  }
}

mat-dialog-content {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

app-expire-timer {
  font-size: 4.5rem;
  color: #3D3D3D;
}
