<div class="close-button-container">
	<img [src]="'assets/popup-close.png'" (click)="onClose()" />
</div>
<div class="content">
	<app-expire-timer [timerEndDate]="validTo" (hasExpired)="onTimerExpired()" (isExpiring)="onExpiring()">
	</app-expire-timer>
	<div *ngIf="imageUrl" class="img-wrapper">
		<img [src]="imageUrl" />
	</div>
	<mat-dialog-content *ngIf="text">{{text}}</mat-dialog-content>
	<button mat-flat-button color="primary" mat-dialog-close (click)="buttonPressed()">{{buttonTxt}}</button>
</div>