<header class="page-header">
  <h1 class="title" translate>REWARDS</h1>
  <cl-button routerLink="/rewards/new-reward/" classList="primary cta cta-new" ><span translate>BTN_CREATE_NEW</span></cl-button>
</header>

<section class="content">
  <ng-container [ngSwitch]="dataSource.state$ | async">
    <ng-container *ngSwitchCase="dataSourceStates.hasDataApi">
      <!--filters-->
      <cl-table-filters [dataSource]="dataSource" classList="block">
        <ng-container *clTableFilter="'name'; let filter">
          <cl-search-filter class="search-block" [control]="filter" [placeholder]="'SEARCH_FOR_REWARDS' | translate"></cl-search-filter>
        </ng-container>
      </cl-table-filters>
      <div class="table-card">
        <!--table-->
        <cl-rewards-list [dataSource]="dataSource"
                         [displayedColumns]="displayedColumns"
                         [selectable]="false"
                         (clickDetailReward)="detailReward($event)"
                         (itemAction)="actionHandler($event)"
        ></cl-rewards-list>
        <!--/ table-->
        <!--paginator-->
        <cl-paginator [dataSource]="dataSource"
                      [pageSize]="5"
                      [pageSizeOptions]="[5, 10, 20]"
        ></cl-paginator>
        <!--/ paginator-->
      </div>
    </ng-container>

    <cl-no-data *ngSwitchCase="dataSourceStates.noDataApi">
      <img class="no-data-img" src="/assets/images/no-data/reward-empty-illustration.svg" alt="">
      <h2 class="no-data-title">
        <span translate>OUR_REWARD_BAG_IS_EMPTY</span> <span style="display: inline-block;">:(</span>
      </h2>
      <p class="no-data-text" translate>
        LETS_BEGIN_BY_CREATING_YOUR_FIRST_REWARD
      </p>
    </cl-no-data>
  </ng-container>
</section>

