@import '../../../theme/theme.scss';

$margin-bottom: 15px;

.thumbnail {
  width: 100%;
  //height: 128px;
  border-radius: 15px 15px 0 0;
  //@media screen and (min-width: $desktop-width) {
  //  height: 232px;
  //}

  img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
}

.treat-container {
  color: $near-black;
  padding: 20px;
  margin-bottom: $margin-bottom;
  font-size: 12px;
  background-color: #fff;
  min-height: calc(100vh - 235px);

  h4 {
    margin: 0;
    margin-bottom: $margin-bottom;
    color: $medium-blue;
  }

  .navigate-promotion {
    color: #0072d8;
    display: flex;
    align-items: center;
    margin-bottom: $margin-bottom;
    text-decoration: none;

    font-size: 12px;
    font-weight: bold;
  }

  .reminder {
    .title {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: $margin-bottom;
    }

    &-content {
      div {
        margin-bottom: $margin-bottom;
      }
    }
  }

  .note {
    font-size: 14px;
    color: $near-black;
    margin-bottom: $margin-bottom;
  }

  .promoID {
    display: flex;
    flex-direction: column;
    margin-bottom: $margin-bottom;

    .title {
      font-size: 15px;
      font-weight: 600;
    }

    .input-promo {
      border: 1px solid $grey-white;
      border-radius: 8px;
      padding: 10px;
      max-width: 355px;
      margin: 5px 0;

      &:disabled {
        border: 1px solid #C2C2C1;
        background-color: #F6F6F6;
        color: #919191;
      }

      &:hover,
      &:focus {
        border: 1px solid #99C1E7;
        // background-color: #FFFFFF;
        color: #919191;
      }

      &:not(:placeholder-shown) {
        // filled
        border: 1px solid #99C1E7;
        // background-color: #FFFFFF;
        color: #2E2E2E;
      }

      &:active {
        border: 1px solid $extreme-light-blue;
      }

      &:focus-visible {
        outline: 1px solid $extreme-light-blue;
        filter: drop-shadow(0px 0px 8px #0072D852);
      }

      &.error {
        // border: 1px solid $warn-color; // inherit colour from mat-error itself
        border: 1px solid #ff3700; // inherit colour from mat-error itself
        color: #2E2E2E;
      }
    }
  }

  .mat-error {
    color: #ff3700;
  }

  .confirm-term {
    display: flex;
    flex-direction: row;

    .tnc-container {
      display: flex;
      flex-direction: column;
    }

    &-content {
      &-link {
        color: $medium-blue;
      }

      &-link:hover {
        border-bottom: 1px solid $medium-blue;
        cursor: pointer;
      }
    }

    .checkbox {
      margin-right: 10px;
    }
  }

  .enroll {
    margin-top: 20px;
    text-align: center;

    &-button {
      width: 100%;
      max-width: 328px;
      color: white;
      background-color: $medium-blue;
      border-radius: 12px;
      height: 48px;
    }
  }

  .captcha-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
  }
}
