@import '../icon.scss';

mat-card {
  max-width: 28rem;

  .mat-card-image {
    margin-bottom: 0;
  }
}

.mat-card {
  flex: 0 0 0;
  flex-grow: 1;
  flex-basis: 75%;
  margin: 0 0.5rem 1rem 0.5rem;

  .mat-card-image {
    height: 15rem;
    object-fit: cover;
  }

  mat-card-actions {
    a {
      color: #1862b8;
    }
  }
}

mat-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1.4rem 0 1.9rem 0;

  .icon {
    @include icon;
  }

  div {
    h1 {
      font-size: 1.6rem;
      color: #666666;
      margin: 0;
    }

    h2 {
      font-size: 1.6rem;
      text-overflow: ellipsis;
      color: #666666;
      font-weight: normal;
      margin: 0.2rem 0 0 0;
    }

    h3 {
      margin-top: 0;
      font-weight: normal;
      color: #666666;
      font-size: 1.2rem;
      margin-bottom: 0;
    }
  }
}
