
.prize-wrapper {
  margin-top: 7rem;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5rem;
}
h2 {
  text-align: center;
  font-weight: normal;
  font-style: normal;
  font-size: 1.4rem;
}

.actions-container {
  padding: 1rem 1.2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top: 0.1rem solid darkgray;
  button#save-to-wallet-btn {
    margin-bottom: 1.6rem;
  }
}
button {
  text-transform: uppercase;
}
.voucher-container {
  padding-bottom: 12rem;
}
