// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$hkbn-primary-colors: (
  50 : #e1f7f4,
  100 : #b3eae4,
  200 : #81dcd2,
  300 : #4ecec0,
  400 : #28c4b3,
  500 : #02b9a5,
  600 : #02b29d,
  700 : #01aa93,
  800 : #01a28a,
  900 : #019379,
  A100 : #befff1,
  A200 : #8bffe7,
  A400 : #58ffdc,
  A700 : #3fffd7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$hkbn-accent-colors: (
  50 : #e2edf5,
  100 : #b7d2e7,
  200 : #87b4d7,
  300 : #5796c7,
  400 : #3380bb,
  500 : #0f69af,
  600 : #0d61a8,
  700 : #0b569f,
  800 : #084c96,
  900 : #043b86,
  A100 : #b3ceff,
  A200 : #80adff,
  A400 : #4d8cff,
  A700 : #337cff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hkbn-primary: mat-palette($hkbn-primary-colors);
$hkbn-accent: mat-palette($hkbn-accent-colors, A200, A100, A400);

// The warn palette is optional (defaults to red).
$hkbn-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$hkbn-theme: mat-light-theme($hkbn-primary, $hkbn-accent, $hkbn-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($hkbn-theme);

/* You can add global styles to this file, and also import other style files */
