// Custom Theming for Angular Material
@import "custom-theme";
@import "./app/styles/variables";
@import "./app/styles/common";
@import "./app/styles/reset";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ol {
  list-style: decimal;
  padding-left: 1.5rem;
}
