.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  position: absolute;
  z-index: 100;
  background-color: white;
  width: 100%;
  // height: 100px;
  color: #666666;
  border-bottom: 1px solid #979797;

  .top-row {
    height: 10rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .badge {
      width: 7.1rem;
      height: 7.1rem;
      margin-right: 1rem;
    }

    .reward {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      h2 {
        font-size: 2rem;
      }

      span.tier {
        font-size: 3rem;
        font-weight: bold;
      }

      .subtitle {
        font-size: 1.2rem;
        color: #73c20e;
      }
    }
  }
}

.content {
  padding-top: 17rem;
  flex: 1;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  // padding: 1.2rem;
}

.mat-tab-nav-bar {
  height: 4.9rem;
  border-bottom: 0;

  a {
    height: 1.6rem;
    font-size: 1.8rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.89;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
    align-items: center;
    justify-content: center;
    margin: 0 2.4rem;
    min-width: 0;
    padding: 2.4rem 1rem;
    width: auto;
  }
}
