@import "../../../theme/variables.scss";
@import "../../../theme/typography.scss";

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    padding-top: 23rem;
    flex: 1;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    &.accordion-expanded {
      padding-top: 0 !important;
    }
  }
}

mat-toolbar {
  position: absolute;
  z-index: 100;
  background-color: $white;
  width: 100%;
  color: $dark-grey;
  border-bottom: 1px solid $light-grey;

  .top-row {
    height: 10rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    .badge {
      width: 7.1rem;
      height: 7.1rem;
      margin-right: 1rem;
    }

    .reward {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      span.tier {
        font-size: 16px;
      }

      .membership-link {
        cursor: pointer;
        text-decoration: none; // override anchor tag from typography.scss

        .subtitle {
          font-size: 1.2rem;
          color: $dark-electric-green;
          display: flex;
          flex-direction: row;
          align-content: center;

          span.accessory-icon {
            display: flex;
            align-self: center;
          }
        }
      }

      .subtitle {
        font-size: 1.2rem;
        color: $dark-electric-green;
      }
    }
  }

  .mat-tab-nav-bar {
    height: 4.9rem;
    border-bottom: 0;
    padding: 0;

    a {
      height: 1.6rem;
      text-align: center;
      color: $medium-grey;
      align-items: center;
      justify-content: center;
      padding: 2.4rem 1rem;
      flex: 1;
      text-decoration: none;
      font-size: 16px;
      opacity: 1; // override material opcaticy since this messes with font color

      &.mat-tab-label-active {
        color: $dark-grey;
        @include bold;
      }
    }
  }

  .stars-row {
    margin-top: 0.4rem;
    flex: 1;
  }

  .stars-loyalty {
    height: 100%!important;
    width: 100% !important;
  }

  .mat-toolbar-row {
    white-space: normal !important;
  }

  .mat-expansion-panel {
    box-shadow: none!important;
    border-radius: 2.4rem!important;
    background-color: #f8f9f9 !important;
    width: 100%;
  }

  .mat-expansion-panel-header {
    height: auto !important;
    background-color: #f8f9f9 !important;
    padding: 0 14px!important;
    -webkit-tap-highlight-color:transparent !important;
  }

  &.accordion-expanded {
    position: sticky !important;
  }
}
