<div class="app">
  <mat-toolbar>
    <mat-toolbar-row class="top-row">
      <a class="badge" href="https://www.starhub.com/personal/rewards/membership.html" target="_blank">
        <img *ngIf="loyalty" [src]="getBadge(loyalty.membershipTierName)" [alt]="loyalty.membershipTierName">
      </a>
      <div *ngIf="loyalty" class="reward">
        <h3 class="hide-for-old-ux">{{loyalty.membershipTierName | noRenewaleInName | titlecase}} Member!</h3>
        <span class="hide-for-old-ux tier" *ngIf="loyalty">Explore your rewards</span>
        <h2 class="hide-for-new-ux">Explore your rewards,</h2>
        <span class="hide-for-new-ux tier" *ngIf="loyalty">{{loyalty.membershipTierName | noRenewaleInName | titlecase}}
          Member!</span>
        <div *ngIf="!hubclubCR">
          <span class="subtitle"
            *ngIf="profile && profile.customProperties && profile.customProperties.membership === 'Hub Club'">+ Hub
            Club</span>
        </div>
        <div *ngIf="hubclubCR && profile && profile.customProperties">
          <a class="membership-link" (click)="membershipClicked()">
            <span class="subtitle" *ngIf="
                  profile.customProperties.membership ||
                  profile.customProperties.sub_membership_type">
              <ng-container *ngIf="hubClubDisplay.length > 0">
                {{hubClubDisplay}} <span class="accessory-icon">
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </span>
              </ng-container>
            </span>
            <span class="subtitle" *ngIf="
            !profile.customProperties.membership &&
            !profile.customProperties.sub_membership_type">
              Regular
            </span>
          </a>
        </div>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <app-stars class="stars-row" [pointsBalance]="starsLoyalty?.pointsBalance"
        [membershipTierName]="starsLoyalty?.membershipTierName" [nextTierPointsDiff]="starsLoyalty?.nextTierPointsDiff"
        [expiringPoints]="starsLoyalty?.expiringPoints[0]">
      </app-stars>
    </mat-toolbar-row>
    <mat-toolbar-row mat-tab-nav-bar>
      <a mat-tab-link routerLink="discover" routerLinkActive #disco="routerLinkActive"
        [active]="disco.isActive">Discover</a>
      <a mat-tab-link routerLink="vouchers" routerLinkActive #vouch="routerLinkActive" [active]="vouch.isActive">My
        Rewards</a>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="content" (scroll)="onScrollCall()" #contentScrolled>
    <router-outlet></router-outlet>
  </div>
</div>