//@import 'variables';
@import 'helper';

.status-label {
  //position: relative;
  //left: 54.1%;
  //right: 41.73%;
  //top: 30.06%;
  //bottom: 67.24%;
  display: flex;
  align-items: center;
  justify-content: center;
  //padding: 0 rem(10px);
  font-size: rem(12px);
  height: rem(25px);
  width: rem(57px);
  font-family: $base-font-family;
  font-style: normal;
  font-weight: normal;
  border-radius: rem(13.5px);

}

.active {
  background-color: #10d994;
  color: #cff7ea;
}

.draft {
  background-color: #8576ed;
  color: #edebfd;
}

.scheduled {
  background-color: #3d83f9;
  color: #e2edfe;
}

.pending {
  background-color: #ffa641;
  color: #fdedd9;
}

.paused {
  background-color: #a0a2a7;
  color: #ececed;
}

.ended {
  background-color: #a0a2a7;
  color: #ececed;
}


