@import 'variables';

.status-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  height: 2.5rem;
  min-width: 5.7rem;
  width: fit-content;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  border-radius: 1.35rem;
  padding: 0 1.3rem;
  box-sizing: border-box;
}

.active {
  background-color: #10d994;
  color: #cff7ea;
}

.inactive{
  background-color: #a0a2a7;
  color: #ececed;
}

.draft {
  background-color: #8576ed;
  color: #edebfd;
}

.scheduled {
  background-color: #3d83f9;
  color: #e2edfe;
}

.pending {
  background-color: #ffa641;
  color: #fdedd9;
}

.paused {
  background-color: #a0a2a7;
  color: #ececed;
}

.ended {
  background-color: #a0a2a7;
  color: #ececed;
}

.processed {
  background-color: #10d994;
  color: #cff7ea;
}

.failed {
  background-color: $warning-color;
  color: $white-color;
}
