apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: microsite-apps-ng-test
  namespace: build
spec:
  resources:
    inputs:
      - name: workspace
        type: git
        targetPath: project
  params:
    - name: folder
      type: string
      description: The folder to run the test command
    - name: app-name
      type: string
      description: The app-name for which to run the test
  stepTemplate:
    image: circleci/node:10-browsers
    resources: &resources
      requests:
        cpu: 2
        memory: "8Gi"
  steps:
    - name: yarn-install
      workingDir: "/workspace/project"
      command: ["yarn", "install"]
      resources: *resources
    - name: build-lib
      workingDir: "/workspace/project"
      command: ["yarn", "build:lib"]
      resources: *resources
    - name: config
      workingDir: "/workspace/project"
      command: ["yarn", "run", "config"]
      resources: *resources
    - name: test
      workingDir: "/workspace/project"
      command: ["yarn", "test:$(inputs.params.app-name)"]
      resources: *resources
