<div class="landing-screen" *ngIf="!screen">
  <div class="container">
    <img src="assets/bpi-logo-white.png" alt="">
    <p>Unlock your Netflix rebate.</p>
    <button mat-flat-button color="primary" (click)="onProceed()">Proceed</button>
    <div class="footer">
      <small>By tapping the “Proceed” button, you agree with the terms and conditions of this promo. For the complete privacy policy of the bank, you may refer to www.bpi.com.ph.</small>
      <small>REMINDER: BPI will never ask for your card number, expiry date, CVV number and OneTime Pin via links in email, SMS or phone calls.</small>
    </div>
  </div>
</div>
