<div class="landing-screen">
  <div class="container">
    <img src="assets/bpi-logo-white.png" alt="">
    <p>Unlock your Netflix rebate</p>
    <p>with your BPI Credit Card.</p>
    <button mat-flat-button color="primary" (click)="onProceed()">Proceed</button>
    <div class="footer">
      <small>By tapping the “Proceed” button, you agree with the terms and conditions of this promo. For the complete privacy policy of the bank, you may refer to <a href="https://www.bpi.com.ph" target="_blank">www.bpi.com.ph</a>.</small>
      <small>REMINDER: BPI will never ask for your card number, expiry date, CVV number and One-Time Pin via links in email, SMS or phone calls.</small>
    </div>
  </div>
</div>
