.btn-block {
  width: 100%;
}

button {
  outline: none;
}

.btn-transparent {
  display: flex;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

.mat-menu-item {
  line-height: 4rem;
  height: 4rem;
}
