.btn-block {
  width: 100%;
}

button {
  outline: none;
}

.btn-transparent {
  display: flex;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}
