@import '~@angular/material/theming';
@import "variables";

.card-fieldset {
  @include mat-elevation(1);
  @include typo-body2;

  & ~ & {
    margin-top: ($vertical-padding * 0.5);
  }

  &-title {
    flex: 1;
    margin-right: 4rem;
    margin-bottom: ($vertical-padding * 0.5);
  }

  &-label {
    @include typo-input;

    display: block;
    color: $secondary-color;
    margin: ($vertical-padding * 0.5) 0 ($vertical-padding * 0.25);
  }
}

.card {
  @include mat-elevation(1);
  @include typo-body2;

  width: 100%;
  min-width: 100%;
  max-width: 84rem;
  color: $base-font-color;
  border-radius: $border-radius-lg !important;
  background-color: $white !important;
  padding: 0 !important;

  & ~ & {
    margin-top: ($vertical-padding * 0.5);
  }

  &-header {
    height: 5.7rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    @extend .sub-title;
  }

  &-content {
    position: relative;

    cl-reward-item-preview:not(:last-child) {
      display: block;
      margin-bottom: ($vertical-padding * 0.25);
    }
  }

  &-item {
    margin-bottom: ($vertical-padding * 0.5);
  }

  &-definitions {
    &:last-child {
      margin-bottom: 0;
    }

    div:not(.card-definitions-splitter) {
      margin-bottom: 2.4rem;
    }

    > div:not(.card-definitions-splitter):last-child {
      margin-bottom: 0;
    }

    dd {
      margin-left: 0;
    }
  }

  &-label {
    @include typo-input;

    color: $secondary-color;
  }

  &-value {
    @include typo-input-alt;

    color: $base-font-color;

    span {
      display: inline-block;
      margin-right: ($horizontal-padding * 0.75);
    }

    small {
      @include typo-body1;

      display: inline-block;
      color: $secondary-font-color;
      margin: 0 ($horizontal-padding * 0.75);
    }

    span + small {
      margin-left: 0;
    }
  }

  &-label + &-value {
    margin-top: 0.8rem;
  }

  &-chip {
    @include typo-overline;

    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 0.4rem 1.6rem;
    margin-right: 0.8rem !important;
    border-radius: $border-radius;
    align-items: center;
    cursor: default;
    background-color: $secondary-color;
    color: $white;
    text-transform: uppercase;
  }

  &-row {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: -($horizontal-padding * 0.25);
    margin-right: -($horizontal-padding * 0.25);

    > * {
      padding-left: ($horizontal-padding * 0.25);
      padding-right: ($horizontal-padding * 0.25);
    }

    > span {
      padding-left: ($horizontal-padding * 0.5);
      padding-right: ($horizontal-padding * 0.5);
    }

    &.stretch {
      justify-content: stretch;

      & > * {
        flex: 1;
        flex-basis: 100%;
      }
    }
  }

  &-section {
    margin-top: 1.9rem;
    background-color: $background-color;
    border-radius: $border-radius;

    .card-title {
      @extend .card-label;
    }
  }

  .mat-expansion-panel-body {
    padding: 0;
  }

  .mat-radio-group .mat-radio-button:not(:last-child) {
    margin-right: ($horizontal-padding * 0.5);
    margin-bottom: ($vertical-padding * 0.25);
  }

  .mat-horizontal-content-container {
    padding: 0;
  }

  &.dark-theme {
    border-radius: $border-radius-lg !important;
    color: $white;
    background-color: $secondary-color !important;

    .card-title, .card-label {
      color: $white;
    }
  }
}

@media (min-width: $mobile-width + 1) {
  .card-definitions-splitter {
    display: flex;

    div {
      flex: 1 1 50%;
    }
  }

  .card-definitions div:not(.card-definitions-splitter),
  .card-definitions div.card-definitions-splitter {
    margin-bottom: 2.4rem;
  }

  .card-definitions > div:last-child,
  .card-definitions div.card-definitions-splitter div {
    margin-bottom: 0;
  }
}

@media (max-width: $tablet-width) {
  .card-row-date {
    flex-wrap: wrap;
  }
}
