@import "variables";

.card {
  @include typo-body2;

  width: 100%;
  min-width: 40rem;
  max-width: 84rem;
  color: $base-font-color;
  border-radius: $border-radius-lg !important;
  background-color: $white !important;
  padding: 0 !important;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15) !important;
  margin-bottom: ($vertical-padding * 0.5) !important;

  &-header {
    height: 5.7rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 ($horizontal-padding * 0.75);
  }

  &-title {
    @extend .sub-title;
  }

  &-content {
    position: relative;
    padding: 0 ($horizontal-padding * 0.75) ($vertical-padding * 0.75) !important;

    cl-reward-item-preview:not(:last-child) {
      display: block;
      margin-bottom: ($vertical-padding * 0.25);
    }
  }

  &-item {
    margin-bottom: ($vertical-padding * 0.5);
  }

  &-definitions {
    &:last-child {
      margin-bottom: 0;
    }

    div:not(.card-definitions-splitter) {
      margin-bottom: 2.4rem;
    }

    > div:not(.card-definitions-splitter):last-child {
      margin-bottom: 0;
    }

    dd {
      margin-left: 0;
    }
  }

  &-label {
    @include typo-input;

    color: $secondary-color;
  }

  &-value {
    @include typo-input;

    color: $base-font-color;

    span {
      display: inline-block;
      margin-right: ($horizontal-padding * 0.75);
    }

    small {
      @include typo-body1;

      display: inline-block;
      color: $secondary-font-color;
      margin: 0 ($horizontal-padding * 0.75);
    }

    span + small {
      margin-left: 0;
    }
  }

  &-row.input-group > span {
    width: auto;
    flex-shrink: 0;
  }

  &-value span:last-child {
    margin-right: 0;
  }

  &-label + &-value {
    margin-top: 0.8rem;
  }

  &-chip {
    @include typo-overline;

    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 0.4rem 1.6rem;
    margin-right: 0.8rem !important;
    border-radius: $border-radius;
    align-items: center;
    cursor: default;
    background-color: $secondary-color;
    color: $white;
    text-transform: uppercase;
  }

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & > * {
      margin-right: 1.5rem;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &.stretch {
      justify-content: stretch;

      & > * {
        flex: 1;
      }
    }

    &.form-field {
      align-items: flex-end;
      height: 5.66rem;
      padding-bottom: 1.25em;
    }
  }

  &-row.input-group {
    flex-wrap: wrap;

    > * {
      margin-right: ($horizontal-padding * 0.5);

      &:last-child {
        margin-right: 0;
      }
    }

    > .mat-form-field {
      flex: 1 1 ($horizontal-padding * 2);
      min-width: ($horizontal-padding * 2);
    }
  }

  &-section {
    margin-top: 1.9rem;
    background-color: $background-color;

    .card-header {
      padding: 0 3rem;
    }

    .card-title {
      @extend .card-label;
    }

    .card-content {
      padding: 0.4rem 3rem 3rem !important;
    }
  }

  .mat-expansion-panel-body {
    padding: 0;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: ($horizontal-padding * 0.5);
  }

  .mat-horizontal-content-container {
    padding: 0;
  }

  &.dark-theme {
    border-radius: $border-radius-lg !important;
    color: $white;
    background-color: $secondary-color !important;

    .card-title, .card-label {
      color: $white;
    }
  }
}

@media (min-width: $mobile-width) {
  .card-definitions-splitter {
    display: flex;

    div {
      flex: 1 1 50%;
    }
  }

  .card-definitions div:not(.card-definitions-splitter),
  .card-definitions div.card-definitions-splitter {
    margin-bottom: 2.4rem;
  }

  .card-definitions > div:last-child,
  .card-definitions div.card-definitions-splitter div {
    margin-bottom: 0;
  }
}

.loyalty {
  white-space: nowrap;
  font-size: 1.4rem;

  &-label {
    @include typo-subtitle2;
    display: flex;
    color: $secondary-color;
    font-size: 1.6rem;
    padding-top: 1rem;
    //margin: 0;
  }

  &-row {
    max-height: 4.5rem;
    flex-flow: row nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .mat-form-field {
      max-width: 7rem;
    }

    input {
      text-align: center;
    }

    &-uploader {
      max-height: none;
      padding: 1rem 0 3.5rem;
    }
  }

  &-currency {
    color: $secondary-color;
    text-transform: uppercase;
  }

  &-name-input {
    max-width: 17rem !important;
  }

  &-points-input {
    margin-left: 6rem;
  }

  &-points-expiry-type-input {
    max-width: 24rem !important;
  }
}
