@import '~@angular/material/theming';
@import "variables";

$vertical-tabs-width: ($horizontal-padding * 7.5);

.dashboard-group-graphics {
  padding: $vertical-padding $horizontal-padding;

  @media (max-width: $mobile-width) {
    padding: ($vertical-padding * 0.5) ($horizontal-padding * 0.5);
  }
}

.chard-card-list {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0;
  margin: 0 (-($horizontal-padding * 0.375));

  & > * {
    margin: ($vertical-padding * 0.375) ($horizontal-padding * 0.375);
    flex: 1;
  }
}

.chart-card {
  position: relative;
  padding: ($vertical-padding * 0.75) ($horizontal-padding * 0.75);
  flex: 1 1 35rem;
  box-sizing: border-box;
  border-radius: $border-radius;
  border: 1px solid $border-color;

  &.full-width {
    flex-basis: 100%;
  }

  &.double-width {
    flex-basis: calc(50% - 2.4rem);
  }

  &.quarter-width {
    flex-basis: calc(25% - 2.4rem);
  }

  &-info-title {
    @include typo-body1;

    flex: 1 0 100%;
    width: 100%;
    margin-bottom: ($vertical-padding * 0.5);
  }

  &-title {
    @include typo-subtitle1-alt;

    margin-bottom: ($vertical-padding * 0.75);
    color: $secondary-color;
  }

  &-header-with-control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    .chart-card-title {
      flex-shrink: 0;
      margin-right: $horizontal-padding;
    }

    > *:not(.chart-card-title) {
      @include typo-input-alt;

      margin-top: -($vertical-padding * 0.375);
      flex-grow: 1;
      flex-basis: 24rem;
      max-width: ($horizontal-padding * 10);
    }
  }

  &-content {
    display: flex;
    position: relative;
    min-height: 24rem;
    padding-bottom: 2rem;
    width: 100%;
    overflow: visible;
    margin-bottom: ($vertical-padding * 0.5);

    &.overflow-all {
      overflow: auto;
    }

    &.overflow-x {
      overflow-y: hidden;
      overflow-x: auto;
    }

    pc-meta-card .wrapper {
      justify-content: flex-start;

      > * {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.tabs-list-wrap {
  max-width: $vertical-tabs-width;
  flex-basis: 100%;
  flex-shrink: 0;
}

.chart-card:first-of-type,
.tabs-list-wrap + .chart-card {
  border-color: $white;
  flex-grow: 2;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

.chart-card:first-of-type {
  flex-basis: 100%;
}

.advanced_pie--splitter {
  display: grid;
  grid-gap: ($horizontal-padding * 0.75);
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));

  cl-chart-card {
    min-height: 24rem;
    position: relative;
    display: block;
    width: 100%;
  }
}

@media (min-width: $desktop-width + 1) {
  .tabs-list-wrap + .chart-card {
    flex-basis: calc(100% - 32rem);
  }
}

@media (max-width: $desktop-width) {
  .tabs-list-wrap.business-insights-tabs-list-wrap {
    box-sizing: border-box;
    max-width: initial;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }

  .tabs-list.business-insights-tabs-list {
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    box-sizing: border-box;

    > .mat-radio-button {
      display: flex;
      align-items: stretch;
      border-bottom: 4px solid transparent;

      &.mat-radio-checked {
        border-radius: 0 0 $border-radius $border-radius !important;
        border-color: $primary-color;
      }

      .mat-radio-label-content {
        height: 100%;
      }
    }

    .mat-radio-label {
      white-space: initial;
    }

    .tab-item {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &::after {
        display: none;
      }
    }

    .tab-item-title {
      @include typo-body2;
    }
  }
}

@media (max-width: $mobile-width) {
  .tabs-list.business-insights-tabs-list {
    margin-bottom: ($vertical-padding * 1.5);

    > .mat-radio-button {
      display: flex;
      align-items: flex-end;
      position: static;
      border-bottom-width: 2px;
    }

    .tab-item {
      padding: 1.2rem 0.8rem;
      min-height: initial;
      position: static;
    }

    .tab-item-title {
      @include typo-caption;

      font-size: 1rem;
      text-align: center;
    }

    .tab-item-value {
      position: absolute;
      bottom: initial;
      top: calc(100% + #{$vertical-padding * 0.25});
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    }

    > .mat-radio-button.mat-radio-checked .tab-item-value {
      opacity: 1;
    }
  }
}
