@import '~@angular/material/theming';
@import "variables";

$vertical-tabs-width: ($horizontal-padding * 7.5);

.dashboard-group-graphics {
  padding: $vertical-padding $horizontal-padding;
}

.chard-card-list {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0;
  margin: 0 (-($horizontal-padding * 0.375));

  & > * {
    margin: ($vertical-padding * 0.375) ($horizontal-padding * 0.375);
    flex: 1;
  }
}

.chart-card {
  position: relative;
  padding: ($vertical-padding * 0.75) ($horizontal-padding * 0.75);
  flex: 1 1 calc(50% - #{$horizontal-padding});
  box-sizing: border-box;
  border-radius: $border-radius;
  border: 1px solid $border-color;

  &.full-width {
    flex-basis: 100%;
  }

  &-info-title {
    @include typo-body1;

    flex: 1 0 100%;
    width: 100%;
    margin-bottom: ($vertical-padding * 0.5);
  }

  &-title {
    @include typo-subtitle1-alt;

    margin-bottom: ($vertical-padding * 0.75);
    color: $secondary-color;
  }

  &-header-with-control {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: ($vertical-padding * 0.75);

    &-title {
      flex-shrink: 0;
    }

    > * {
      margin-top: -($vertical-padding * 0.375);

      &:not(.chart-card-title) {
        @include typo-body2;

        flex-grow: 1;
        margin-left: $horizontal-padding;
        max-width: ($horizontal-padding * 10);
      }
    }
  }

  &-content {
    display: flex;
    position: relative;
    height: 24rem;
    width: 100%;
  }
}

.tabs-list-wrap {
  max-width: $vertical-tabs-width;
  flex-basis: 100%;
  flex-shrink: 0;
}

.chart-card:first-of-type,
.tabs-list-wrap + .chart-card {
  border-color: $white;
  flex-grow: 2;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;

  & > .chart-card-content {
    height: 35rem;
  }
}

.chart-card:first-of-type {
  flex-basis: 100%;
}

.tabs-list-wrap + .chart-card {
  flex-basis: calc(100% - #{$vertical-tabs-width} - (#{$horizontal-padding} * 2));
}

@media (max-width: $tablet-width) {
  .tabs-list-wrap.business-insights-tabs-list-wrap {
    box-sizing: border-box;
    max-width: initial;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }

  .tabs-list.business-insights-tabs-list {
    flex-direction: row;
    flex-wrap: nowrap;

    .mat-radio-label {
      white-space: initial;
    }
  }
}
