@import '~@angular/material/theming';
@import "variables";

.chard-card-list {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  & > * {
    margin-bottom: $vertical-padding;
    margin-right: $horizontal-padding;
    flex: 1;
  }
}

.chart-card {
  position: relative;
  padding: $vertical-padding $horizontal-padding;
  flex: calc(50% - $horizontal-padding);
  box-sizing: border-box;
  border-radius: $border-radius;
  border: 1px solid $border-color;

  &-info-title {
    @include typo-body1;

    flex: 1 0 100%;
    width: 100%;
    margin-bottom: $vertical-padding / 2;
  }

  &-header-with-control {
    margin-bottom: ($vertical-padding * 0.75);
    align-items: baseline;
    max-height: 42px;

    > * {
      margin-top: -($vertical-padding * 0.25);
    }
  }

  &-title {
    @include typo-subtitle1;

    margin-bottom: ($vertical-padding * 0.75);
    color: $secondary-color;
  }

  &-block {
    border: solid 1px $border-color;
    border-radius: $border-radius;
    margin-top: $vertical-padding;
    padding: $vertical-padding $horizontal-padding;
    box-sizing: border-box;
  }

  ngx-charts-bar-vertical {
    display: block;
    height: 100%;
    max-height: ($vertical-padding * 10);
    width: 100%;
  }

  &.full-width {
    flex: 100%;
  }
}
