html, body {
  min-height: 100%;
  font-size: $base-font-size;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  margin: 0;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.btn-transparent {
  display: flex;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

.menu-item {

  .mat-list-text {
    padding-left: 8px !important;
  }
}

.mat-dialog-container {
  padding: 0 !important;
  overflow: visible !important;
}


.mat-dialog-content {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  max-height: 65vh;
  overflow: visible !important;
}

.game-checkbox {
  .mat-radio-label-content {
    display: none;
  }
}
