@import "variables";

html, body {
  min-height: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  margin: 0;
}

button {
  outline: none;
}

.w-100 {
  width: 100% !important;
}

.m-w-100 {
  max-width: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.text-center {
  text-align: center !important;
}

.btn-transparent {
  display: flex;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

.flex {
  display: flex;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.menu-item {
  .mat-list-text {
    padding-left: 0.8rem !important;
  }
}

.page-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 $horizontal-content-padding;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

  &.full-with {
    background: $white-color;
    min-height: 6.6rem;
  }
}

.title {
  font-size: 2.6rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  letter-spacing: normal;
  color: $there-color;
}

.sub-title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.06;
  color: $secondary-color;
}

.content {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: $vertical-content-padding $horizontal-content-padding;

  &.no-padding-top {
    padding-top: 0;
  }

  .mat-stepper-horizontal {
    background-color: inherit;
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.tab-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: flex-start;

  & > div {
    margin-right: 2.4rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.mat-form-field {
  width: 100%;
}

.mobile {
  &-preview {
    flex-shrink: 0;
    width: 34.4rem;
    height: 63.8rem;
    background: linear-gradient(158.21deg, #8B929B 12.03%, #B9BFC7 89.87%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0.8rem;
    position: relative;

    &-headline, &-sub-headline {
      text-align: center;
    }
  }

  &-preview-header {
    text-align: center;
    position: absolute;
    top: 14rem;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%);
  }

  &-preview-headline {
    font-size: 1.6rem;
    color: #091816;
  }

  &-preview-sub-headline {
    font-size: 1.4rem;
    margin-top: 0.8rem;
    color: rgba(51, 51, 51, 0.5);
  }

  &-preview-btn-wrap {
    position: absolute;
    left: 3px;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &-preview-btn {
    border: none;
    border-radius: 4px;
    background: #ff1c1c;
    color: $white-color;
    font-size: 1.4rem;
    max-width: 21.5rem;
    width: 21.5rem;
    min-height: 4rem;
    z-index: 4;
  }

  &-preview-background {
    width: 24rem;
    height: 45.7rem;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 11.2rem;
    left: 5.4rem;
    border-bottom-right-radius: 2.4rem;
    border-bottom-left-radius: 2.4rem;
    z-index: 2;
  }

  &-preview-plugin {
    position: absolute;
    top: 19rem;
    left: 5.4rem;
    width: 24.1rem;
    height: 45.2rem;
    display: block;
    z-index: 3;
  }

  &-preview-card {
    position: absolute;
    padding: 1.7rem 2rem;
    box-sizing: border-box;
    top: 15rem;
    left: 50%;
    transform: translateX(-49%);
    width: 22.8rem;
    min-height: 31.7rem;
    background: $white-color;
    background-size: cover;
    border-radius: 8px;
    z-index: 3;
  }

  &-preview-mobile {
    width: 34.4rem;
    height: 63.8rem;
    background: url("assets/images/mobile-game/mobile_.png") no-repeat 123% 100%;
  }
}

cl-game-mobile-preview, .tabs-component {
  .mat-tab-body-content, .mat-tab-body.mat-tab-body-active {
    overflow: visible;
  }
}

.game {
  &-title-wrap {
    flex: 1;
    margin-right: 4rem;
  }

  &-title {
    font-size: 1.6rem;
    line-height: 1.06;
    color: $secondary-color;
    margin: 2.4rem 0 1.6rem 0;
  }

  &-graphic, &-button {
    display: block;
    margin-top: 1.6rem;
  }

  &-actions {
    flex-shrink: 0;
    width: 36.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-checkbox {
    .mat-radio-label-content {
      display: none;
    }
  }
}

.name-control-title {
  input {
    font-size: 2.2rem;
    color: $there-color;
  }

  .mat-form-field-infix {
    border: 0;
  }
}

.control-input {
  font-size: 1.4rem !important;
  width: 100%;
}

.btn-group {
  cl-button, button, a {
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.input-group {
  display: flex;
  flex-flow: row nowrap;

  & > * {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.error {
  display: flex !important;
  align-items: baseline;
  background-color: rgba($warning-color, 0.1);
  padding: 14px 20px;
  color: $base-font-color;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  border-radius: 5px;

  &::before {
    content: '!';
    margin-right: 10px;
    min-width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 50%;
    background-color: $warning-color;
    color: $white-color;
  }
}

.forms-container {
  position: relative;
  width: 100%;
}

.name-filter {
  position: relative;
}

.dashboard-content {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}
