@import "variables";

.engagement-selector {
  @include check-select;

  border-radius: $border-radius-lg;
  cursor: pointer;
  position: relative;
  width: ($horizontal-padding * 5);
  height: ($vertical-padding * 5);
  background-color: $lightest-gray;
  padding: ($vertical-padding * 0.5) ($horizontal-padding * 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  .engagement-selector-img {
    margin: auto 0;

    img {
      max-width: 100%;
      height: auto;
    }

    &-full {
      margin: (-($vertical-padding * 0.5)) (-($horizontal-padding * 0.5)) auto;

      img {
        width: 100%;
      }
    }
  }

  .engagement-selector-name {
    @include typo-body2;

    color: $base-font-color;
    text-align: center;
  }
}

.game {
  &-title {
    @include typo-input;

    color: $secondary-color;
    margin: ($vertical-padding * 0.5) 0;
  }

  &-graphic, &-button {
    display: block;
    margin-top: ($vertical-padding * 0.5);
  }
}

mat-card.game-graphic {
  padding: ($vertical-padding * 0.75) ($horizontal-padding * 0.75) $vertical-padding;

  &:first-child {
    margin-top: 0;
  }
}

.mobile-preview-tabs {
  .mat-tab-label {
    min-width: 0;
    flex: 1 1 auto;
  }

  mat-tab-header {
    background: $white;
    border-bottom: none;
  }
}

/* this style for mobile preview with tabs */
.base-format {
  width: $mobile-preview-width;
  height: 63.8rem;
  background-position: 80% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.mobile-preview {
  &-single {
    @extend .base-format;

    background-image: url("/assets/images/mobile-phone/mobile_single.png");
  }

  &-multiple {
    @extend .base-format;

    background-image: url("/assets/images/mobile-phone/mobile_multiple.png");
  }
}
