
.icon {
  display: block;
  background-color: rgba(255, 255, 255, 0.51);
  width: 18px !important;
  padding: 0 0 0 16px !important;
  box-sizing: content-box;

  &.full-with {
    height: 100% !important;
    width: auto !important;
  }
}

.dashboard {
  mask: url("assets/images/dashboard.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.51);
}

.rewards {
  mask: url("assets/images/rewards.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.51);
}

.campaign {
  mask: url("assets/images/campaign.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.51);
}

.engagement {
  mask: url("assets/images/engagement.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.51);
}

.users {
  mask: url("assets/images/users.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.51);
}

.merchant {
  mask: url("assets/images/merchant.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.51);
}

.settings {
  mask: url("assets/images/settings.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.51);
}

.logout {
  height: 18px;
  mask: url("assets/images/icon-logout.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.delete-action {
  mask: url("/assets/images/delete-action.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: #3e4e73;
}

.date-icon {
  mask: url("/assets/images/date.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: #3e4e73;
}

.time-icon {
  mask: url("/assets/images/time.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: #3e4e73;
}

.check-icon {
  mask: url("/assets/images/check.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: #3e4e73;
}

.link-icon {
  mask: url("/assets/images/link.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: #3e4e73;
}

.download-icon {
  mask: url("/assets/images/download.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: #2665ee;
}

.active {
  .icon {
    background-color: #ffffff;
  }
}
