
.icon {
  display: block;
  background-color: rgba(255, 255, 255, 0.51);
  width: 18px !important;
  padding: 0 0 0 16px !important;
  box-sizing: content-box;
}

.dashboard {
  mask: url("/assets/images/dashboard.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.51);
}

.rewards {
  mask: url("/assets/images/rewards.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.51);
}

.campaign {
  mask: url("/assets/images/campaign.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.51);
}

.engagement {
  mask: url("/assets/images/engagement.svg") no-repeat 50% 50%;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.51);
}

.active {

  .icon {
    background-color: #ffffff;
  }

}
