@import "variables";

.active-item {
  border-radius: 8px !important;
  position: relative;
  border: solid 1px $dark-color !important;

  &::after {
    content: '';
    opacity: 1;
    display: block;
    position: absolute;
    top: -0.1rem;
    right: -0.1rem;
    height: 4.2rem;
    width: 4.2rem;
    background: url("/assets/images/preview/triangle.png") no-repeat;
  }
}

.item {
  width: fit-content;
  justify-content: space-between;
  position: relative;
  margin-right: 1.7rem;
  margin-bottom: 2.4rem;
  border-radius: 8px !important;
  border: 1px solid transparent;

  &.active {
    @extend .active-item;
  }

  &.shadow {
    box-shadow: 0 0.4rem 0.4rem 0 #d2d8e2;
  }
}

.item-list {
  &.list {
    padding: 2.3rem 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  & > .mat-radio-button {
    @extend .item;

    .mat-radio-label-content {
      padding: 0;
    }
  }

  .mat-radio-container {
    display: none;
  }

  .mat-radio-checked {
    @extend .active-item;
  }

  &.shadow {
    .mat-radio-button {
      box-shadow: 0 0.4rem 0.4rem 0 #d2d8e2;
    }
  }
}
