@import "variables";

.active-item {
  border-radius: 8px !important;
  position: relative;
  border: solid 1px $dark-color !important;

  &::after {
    content: '';
    opacity: 1;
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    height: 4.2rem;
    width: 4.2rem;
    background: url("/assets/images/preview/triangle.png") no-repeat;
  }
}

.item {
  width: fit-content;
  justify-content: space-between;
  position: relative;
  margin-right: 1.7rem;
  margin-bottom: 2.4rem;
  border-radius: 8px !important;
  border: 1px solid transparent;

  &.active {
    @extend .active-item;
  }

  &.shadow {
    box-shadow: 0 .4rem .4rem 0 #d2d8e2;
  }
}

.item-list {
  &.list {
    padding: 2.3rem 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .mat-radio-button {
    @extend .item;
    //
    //justify-content: space-between;
    //position: relative;
    //margin-right: 1.7rem;
    //margin-bottom: 2.4rem;

    //&:last-of-type {
    //  margin-right: 0;
    //}

    .mat-radio-label-content {
      padding: 0;
    }
  }

  .mat-radio-container {
    display: none;
  }

  .mat-radio-checked {
    @extend .active-item;
  }

  &.shadow {
    .mat-radio-button {
      box-shadow: 0 .4rem .4rem 0 #d2d8e2;
    }
  }
}

.active-btn-item {
  border: solid 1px $secondary-font-color !important;
  background-color: $dark-color !important;
  color: $white-color !important;
}

.btn-item {
  width: 4rem;
  height: 4rem;
  background-color: $white-color;
  font-family: $secondary-font;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: center;
  color: rgba($dark-color, 0.5);
  border-radius: .4rem;
  border: solid 1px $secondary-font-color;

  &.active {
    @extend .active-btn-item;
  }
}

.btn-list {
  display: flex;
  flex-flow: row nowrap;

  .mat-radio-button {
    @extend .btn-item;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    //margin-right: 1.7rem;
    //margin-bottom: 2.4rem;

    margin-left: 0 !important;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }


    .mat-radio-label-content {
      padding: 0;
    }

    .mat-radio-label {
      //height: 100%;
      //width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }

  .mat-radio-container {
    display: none;
  }

  .mat-radio-checked {
    @extend .active-btn-item;
  }

  .mat-radio-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
