.preview {
  flex-shrink: 0;
  width: 34.4rem;
  height: 63.8rem;
  background: linear-gradient(158.21deg, #8B929B 12.03%, #B9BFC7 89.87%);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  &-mobile {
    width: 34.4rem;
    height: 63.8rem;
    background: url("/assets/images/mobile-game/mobile_.png") no-repeat 123% 100%;
  }
}

.create-button {
  margin-right: 4rem;
}
