@import "variables";

.table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  &-link {
    font-family: $primary-font;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $base-font-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $dark-color;
    }
  }

  th.mat-header-cell {
    text-align: left;
    max-width: 30rem !important;
  }

  td.mat-cell.menu-column, th.mat-header-cell.menu-column {
    width: 5.4rem !important;
    padding-right: 0 !important;
  }

  td.mat-cell.date-column, th.mat-header-cell.date-column, .date-column th.mat-header-cell {
    width: 9rem !important;
    padding: 0 2rem;
    text-align: right;
  }

  .image-cell {
    display: inline-flex;
    height: 4.2rem;
    width: 4.2rem;
    margin: 1.2rem 0;

    img {
      max-height: 100%;
      width: 100%;
    }
  }

  .name-cell {
    margin: 1.1rem 0;
    display: flex;
    flex-flow: column nowrap;
    font-family: $base-font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;

    &__link {
      width: fit-content;
      color: $base-font-color;
      text-decoration: none;

      &:hover {
        color: $secondary-font-color;
      }
    }

    &__id {
      color: $secondary-font-color;
      text-transform: uppercase;
    }

    &__sub {
      color: $secondary-font-color;
    }
  }
}

.paginator .mat-paginator-container {
  justify-content: space-between;
}
