.paginator .mat-paginator-container {
  justify-content: space-between;
}

td.mat-cell.menu-column, th.mat-header-cell.menu-column {
  max-width: 0.6rem;
  padding-right: 0 !important;
}

td.mat-cell.date-column, th.mat-header-cell.date-column, .date-column th.mat-header-cell {
  width: 9rem !important;
  padding: 0 2rem;
  text-align: right;
}
