//brand palette
$blue-800: #2664EE;
$blue-900: #2e42cf;
$navy-900: #3e4e73;
$orange: #FFA641;
$red: #B00020;
$green: #10D994;

//grays
$white: #fff;
$lightest-gray:  #fafafa;
$light-gray: #E8E8E8; //#F2F8FB
$gray: #A4B0C3;

//app colors
$primary-color: $blue-800;
$primary-hover: $blue-900;
$secondary-color: $navy-900;

$base-font-color: #333333;
$secondary-font-color: #7B7B7B;

$disable-color: #a4b0c3;
$success-color: $green;
$pending-color: $orange;
$warning-color: $red;

$background-color: $lightest-gray;
$bgcolor-sidebar: #202c46;
$bgcolor-sidebar-logo: #172238;

$border-color: $light-gray;

/* ----- UNIQUE COLORS ----- */
$loginpage-color: #F2F6FC;
$custom-line-bar: #f6f6f6;
$custom-line-progress: #2665ee;

/* ----- Progress BAR ----- */
$progress-bar-color: $green;
$progress-bar-background-color: $light-gray;

/* ----- SPACING ----- */
$vertical-padding: 3.2rem;
$horizontal-padding: 3.2rem;

$header-height-base: 6.4rem;

$sidenav-width-initial: 17rem;

$mobile-preview-width: 34.4rem;

/* ---- VISUAL STYLES -- */
$border-radius: 0.4rem;
$border-radius-lg: 0.8rem;

$fab-btn: 5.6rem;
$thumbnail-size: 6.4rem;

$progressbar-min: 6.4rem;
$progressbar-max: 12.8rem;

$modal-header-height: 6.4rem;

/* ----- SCREEN DIMENSIONS ----- */
$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$lg-width: 1400px;

/* -------------- FONTS -------------- */
$primary-font: Roboto, "Helvetica Neue", sans-serif;
$base-font-size: 1.4rem;
$icon-font-size: 1.6rem;

//Headlines
@mixin typo-h3 {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 5.6rem;
  letter-spacing: 0;
}

@mixin typo-h4 {
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 3.6rem;
  letter-spacing: 0;
}

@mixin typo-h5 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.018rem;
}

@mixin typo-h6 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
}

//Subtitles
@mixin typo-subtitle1 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
}

@mixin typo-subtitle1-alt {
  font-weight: 500; //changed
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;
}

@mixin typo-subtitle1-alt-light {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.015rem;
}

@mixin typo-subtitle2 {
  font-weight: 500; //changed
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
}

//General
@mixin typo-body1 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
}

@mixin typo-body2 {
  font-weight: 400;
  font-size: $base-font-size;
  line-height: 2rem;
  letter-spacing: 0.025rem;
}

@mixin typo-body2-light {
  font-size: 1.6rem;
  line-height: 1.75;
  letter-spacing: 0.05rem;
  color: #ffffff;
}

//Input Fields
@mixin typo-input {
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.015rem;
}

@mixin typo-input-alt {
  font-weight: 400;
  font-size: $base-font-size;
  letter-spacing: 0.015rem;
}

//Buttons
@mixin typo-button {
  font-weight: 500;
  font-size: $base-font-size;
  letter-spacing: 0.075rem;
}

//Small Text
@mixin typo-caption {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.04rem;
}

@mixin typo-overline {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.15rem;
}

//Check Select Mixin
@mixin check-select {
  position: relative;
  border: 2px solid transparent;
  border-radius: $border-radius;
  transition: 0.25s cubic-bezier(0.35, 0, 0.25, 1);
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    opacity: 0;
    transition: 0.25s cubic-bezier(0.35, 0, 0.25, 1);
  }

  &::before {
    height: 4.2rem;
    width: 4.2rem;
    top: -1px;
    right: -1px;
    background: $secondary-color;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: 1;
  }

  &::after {
    content: '';
    width: ($horizontal-padding * 0.5);
    height: ($horizontal-padding * 0.5);
    top: ($horizontal-padding * 0.125);
    right: ($horizontal-padding * 0.125);
    mask: url("/assets/images/icons/check.svg");
    mask-repeat: no-repeat;
    background-position: center;
    background-color: $white;
    z-index: 2;
  }

  &.active {
    border-color: $secondary-color;

    &::before,
    &::after {
      opacity: 1;
    }
  }
}

// Dialog Size Mixin
$modal-sm: 32rem;
$modal-md: 56rem;
$modal-lg: 76.8rem;

@mixin modal-size($max-size) {
  display: block;
  width: calc(100vw - #{$horizontal-padding} - #{$horizontal-padding});
  max-width: ($max-size) !important;

  @media (max-width: $mobile-width) {
    width: calc(100vw - #{$horizontal-padding * 0.5} - #{$horizontal-padding * 0.5});
  }
}
