$base-font-size: 14px;
$base-font-family: Roboto;

$primary-color: #2665ee;
$base-font-color: #333333;
$secondary-font-color: #7B7B7B;
$background-color: rgba(212, 225, 244, 0.3);
$white-color: #ffffff;
$secondary-color: #3e4e73;
$there-color: #333333;
$light-gray:  #f7fafc;
$simple-light-gray:  #fafafa;
$dark-color: #3B4E77;
$warning-color: #ff1c1c;
$border-color: #d9dfe4;
$primary-section-color: f8fbfd;

$success-color: #10D994;
$draft-color: #D8D8D8;
$pending-color: #FFA641;

$vertical-content-padding: 3rem;
$horizontal-content-padding: 3rem;

/* ----- SCREEN DIMENSIONS ----- */
$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;

/* ----- FONTS ----- */
$primary-font: Roboto;

/* ----- Progress BAR ----- */
$progress-bar-color: #ffa600;
$progress-bar-background-color: #e7e9ed;
