$base-font-size: 14px;
$base-font-family: Roboto;

$primary-color: #2665ee;
$background-color: rgba(212, 225, 244, 0.3);
$white-color: #ffffff;
$secondary-color: #3e4e73;
$there-color: #333333;
$light-gray:  #f7fafc;
$simple-light-gray:  #fafafa;
$dark-color: #3B4E77;

/* ----- SCREEN DIMENSIONS ----- */
$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;

/* ----- FONTS ----- */

$primary-font: Roboto;
$secondary-font: Lato;
