.item-tab-view {
  width: fit-content;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  border-radius: 0 !important;
  margin-right: 0;
  margin-bottom: 0;

  &.active {
    @extend .active-item;
  }

  &.shadow {
    box-shadow: 0 0.4rem 0.4rem 0 #d2d8e2;
  }
}

.tabs-list {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: fit-content;
  & > .mat-radio-button {
    @extend .item-tab-view;

    &:last-child {
      border-bottom: none;
    }

    .mat-radio-label-content {
      padding: 0;
    }
  }

  .mat-radio-container {
    display: none;
  }

  .mat-radio-checked {

    &.mat-radio-button {
      border-radius: 4px !important;
    }

    .linear-border-right {
      visibility: visible !important;
    }

    box-shadow: rgba(0, 0, 0, 0.24) 0 2px 2px, rgba(0, 0, 0, 0.12) 0 0 2px;
  }
}
