@import "./variables";

:host {
  position: relative;
  width: $mobile-preview-width;
  height: 68rem;
  border-radius: $border-radius-lg;
  flex-shrink: 0;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
}
