@import "variables";

:host {
  position: relative;
  width: 0;
  padding-right: 34.4rem;
  height: 68rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
}

.mobile-preview-tabs {
  position: fixed;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
}
