<div class="deal-location">
    <div class="body">
        <div class="title">
            {{displayMode === 'phone' ? 'Phone' : 'Location'}}
        </div>
        <div class="content" mat-ripple *ngFor="let item of location">
            <div class="text-container" (click)="navigateGoogleMaps(item.latitude,item.longitude)">
                <div class="text">
                    {{displayMode === 'phone' ? item.phoneNumber : item.name}}
                </div>
            </div>
            <div class="icon-call" *ngIf="item.phoneNumber && item.phoneNumber.length > 0">
                <a [href]="'tel:'+item.phoneNumber"> <img src="assets/images/icon-ua-contact.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>
