@import "../../../../theme/variables";
$margin-bottom: 15px;
$font-weight: bold;

.merchant-location-page {
    .header-title {
        padding: 20px 15px;

        .title {
            color: $medium-blue;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .content-body {
        @media screen and (min-width: $desktop-width) {
            display: flex;
        }

        padding-bottom: 30px;
    }
}

.deal-location {
    min-height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $desktop-width) {
        flex: 1 1 auto;
        width: 50%;
    }

    .body {
        padding: 0px 15px 20px;
        .content {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: $white;
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            opacity: 1;
            margin-bottom: 15px;
            justify-content: space-between;

            .text-container {
                flex: 1;
                padding: 20px 0px 20px 20px;
                cursor: pointer;

                .text {
                    font-size: 14px;
                    color: $dark-grey;
                    line-height: 1.7em;
                }
            }

            .icon-call {
                flex: 0; // don't grow don't shrink
                padding: 20px 20px 20px 0px;

                span {
                    background-color: $medium-orange;
                }
            }
        }
    }
}

.location-landing-wrapper {
    @media screen and (min-width: $desktop-width) {
        flex: 1 1 auto;
        width: 50%;
    }

    .gmap-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        .map {
            width: 100%;
            height: calc(100vh - 106px);

            @media screen and (min-width: $desktop-width) {
                height: calc(100vh - 64px);
            }
        }

        .link-out-buttons {
            display: flex;
            flex-direction: row;
            position: absolute;
            right: 40px;
            bottom: 40px;
            background: white;

            .gmap-button,
            .waze-button {
                background: white;
                width: 40px;
                height: 40px;

                img {
                    position: relative;
                    max-width: 100%;
                    max-height: 100%;
                    height: auto;
                    padding: 7px;
                }
            }
        }
    }
}
