@import "../../../theme/variables";

.deal-landing {
  .header {
    margin: 12px 0 0 0;
    padding: 0 20px;
    color: $main-blue-text;
  }

  .card {
    font-family: "Nunito", sans-serif;
    margin-top: 10px;
    box-shadow: none;
    border-radius: 0;
    padding: 5px 0;

    h2 {
      margin: 16px 0;

      &.title {
        font-size: 24px;
      }

      &.header {
        font-size: 16px;
      }
    }

    &.detail {
      margin-top: 0;
      padding-top: 0;
      scroll-snap-align: center;
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
      list-style-type: none;

      p {
        margin: 0;
        padding-bottom: 16px;

        .tag {
          margin-left: 20px;

          &:first-child {
            margin-left: 0;
          }
        }

        .mat-icon {
          color: $medium-blue;
          margin-left: 5px;
          cursor: pointer;

          &:first-child {
            margin-left: 0;
          }
        }
      }

      img {
        width: 100%;
        //max-height: 232px;
        //aspect-ratio: 16/9;
        object-fit: contain;
      }

      .container {
        padding: 0 16px 16px 16px;

        .description {
          padding: 0;
          margin: 0;
          font-size: 14px;
          color: $light-black;

          //::ng-deep {
          //  ol {
          //    list-style:none;
          //    counter-reset: item;
          //  }
          //
          //  li {
          //    counter-increment: item;
          //    margin-bottom: 5px;
          //    position: relative;
          //    padding: 10px 0;
          //    li {
          //      &::before{
          //        content: counter(item, lower-alpha)!important;
          //      }
          //      li::before{
          //        content: counter(item, lower-roman)!important;
          //      }
          //    }
          //  }
          //
          //  li::before {
          //    padding: 5px;
          //    content: counter(item);
          //    background: $medium-orange;
          //    border-radius: 7px;
          //    color: $white;
          //    width: 1em;
          //    height: 1em;
          //    text-align: center;
          //    position: absolute;
          //    left: -35px;
          //    top: 8px;
          //    display: flex;
          //    justify-content: center;
          //    align-items: center;
          //    font-size: 12px;
          //  }
          //
          //  li::marker {
          //    content: '';
          //  }
          //}
        }

        p {
          .treat-icon {
            height: 24px;
            width: 24px;
            margin-right: 7px;
            cursor: pointer;
          }
        }
      }
    }
  }
  
  .similar-deals-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .action {
      color: $medium-blue;
      font-size: 14px;
      font-weight: bold;
      min-width: 55px;
      cursor: pointer;

      padding-right: 16px;
    }
  }

  .similar-deal {
    bdo-carousel-items {
      ::ng-deep {
        .carousel {
          height: calc(260px / 0.95) !important;

          .carousel-cell {
            height: 260px !important;
          }
        }
      }
    }
  }
}
