<div class="deal-landing">
  <mat-card class="card no-padding detail">
    <img [src]="dealDetail?.rewardBanner" />
    <div class="container">
      <h2 class="title">{{dealDetail?.name}}</h2>
      <p *ngIf="dealDetail?.tags">
        <ng-container *ngFor="let tag of dealDetail?.tags">
          <span class="tag tag--{{tag.name}}" *ngIf="existsInFilters(tag)">{{tag.name}}</span>
        </ng-container>

      </p>
      <p>
        <mat-icon (click)="navigateLocationPage()" class="material-icons-outlined">pin_drop</mat-icon>
        <mat-icon (click)="shareDeal()" class="material-icons-outlined">share</mat-icon>
        <mat-icon (click)="navigateLocationPage()" class="material-icons-outlined">call</mat-icon>
      </p>
      <div class="description" [innerHTML]="dealDetail?.description"></div>
      <div class="description" [innerHTML]="dealDetail?.termsAndConditions"></div>
    </div>
  </mat-card>
  <mat-card class="card">
    <h2 class="header">SIMILAR DEALS</h2>
    <bdo-tagged-item [deals]="similarDeals"></bdo-tagged-item>
  </mat-card>
</div>
