<div class="deal-landing">
  <mat-card class="card no-padding detail">
    <img [src]="dealDetail?.rewardThumbnail" />
    <div class="container">
      <h2 class="title">{{dealDetail?.name}}</h2>
      <p *ngIf="dealDetail?.tags">
        <span *ngFor="let tag of dealDetail?.tags" class="tag tag--{{tag.name}}">{{tag.name}}</span>
      </p>
      <p>
        <mat-icon (click)="navigateLocationPage()">location_pin</mat-icon>
        <mat-icon (click)="shareDeal()">share</mat-icon>
        <mat-icon>call</mat-icon>
      </p>
      <div class="description" [innerHTML]="dealDetail?.description"></div>
      <div class="description" [innerHTML]="dealDetail?.termsAndConditions"></div>
    </div>
  </mat-card>
  <mat-card class="card">
    <h2 class="header">SIMILAR DEALS</h2>
    <bdo-tagged-item [deals]="similarDeals"></bdo-tagged-item>
  </mat-card>
</div>
