<article class="growth-card">
  <h3>
    <span class="growth-label">Lorem Ipsum</span>
    <span class="growth-value">
      <span class="growth-value__prefix">
        MYR
      </span>
      132,123
    </span>
  </h3>

  <div class="growth-info">
    <div class="growth-info__prev">
      321
      <small>prev</small>
    </div>
    <div class="growth-info__divider"></div>
    <div class="growth-info__now increase">
      <i class="icon indicator-increase">increase of</i> 8%
      <small>since prev</small>
    </div>
  </div>
</article>
