@import "variables";

:host {
  width: 100%;

  @include typo-body2;
}

.copy-link {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: flex-start;

  &-field {
    flex: 1;
    margin-right: ($horizontal-padding * 0.25);
    padding: 0;
  }
}
