  <ul class="wrapper" #containerCategory>
    <li class="item" id="credit-card-catalog" (click)="navigateToCatalog('credit-card')">
      <div class="content-container">
        <h3 class="title">Credit Card</h3>
      </div>
    </li>
    <li class="item" id="debit-card-catalog" (click)="navigateToCatalog('debit-card')">
      <div class="content-container">
        <h3 class="title">Debit Card</h3>
      </div>
    </li>
    <li class="item" id="bdo-reward-catalog" (click)="navigateToCatalog('bdo-rewards')">
      <div class="content-container">
        <h3 class="title">BDO Rewards</h3>
      </div>
    </li>
  </ul>



