@import "../../../../theme/variables";

.wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(200px, 1fr);
  grid-auto-rows: minmax(200px, 1fr);
  grid-gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  padding-inline-start: 0 !important;
  margin: 10px 0 0 0;
  padding-bottom: 10px;
  padding-right: 20px;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }

  .item {
    display: flex;
    flex-direction: row;
    scroll-snap-align: center;
    border-radius: 16px;
    cursor: pointer;

    min-height: 200px;
    min-width: 200px;
    list-style-type: none;
    background: $light-blue 0% 0% no-repeat padding-box;
    background-position: center bottom;

    background-repeat: no-repeat;
    background-size: contain;

    &#credit-card-catalog {
      background-image: url("/assets/images/img-creditcard-mobile.png");
      background-size: auto;

      @media screen and (min-width: $desktop-width) {
        background-image: url("/assets/images/img-creditcard-desktop.png");
      }
    }

    &#debit-card-catalog {
      background-image: url("/assets/images/img-debitcard-mobile.png");
      background-size: auto;

      @media screen and (min-width: $desktop-width) {
        background-image: url("/assets/images/img-debitcard-desktop.png");
      }
    }

    &#bdo-reward-catalog {
      background-image: url("/assets/images/img-bdorewards-mobile.png");
      background-size: auto;

      @media screen and (min-width: $desktop-width) {
        background-image: url("/assets/images/img-bdorewards-desktop.png");
      }
    }

    .content-container {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 24px 5px 0px 5px;

      .title {
        margin: 0 0 10px;
        color: $near-black;
        font-size: 24px;

        font-weight: bold;
        text-align: center;
      }
      .content {
        margin: 5px 0;
      }
      .sub-category {
        font-size: 14px;
        margin: 2.5px 0;
        color: $medium-blue;
      }
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .wrapper {
    grid-auto-columns: minmax(250px, 350px);
    grid-auto-rows: 150px;
    padding-right: unset;

    .item {
      background-position: center right;
      min-height: 150px;

      .content-container {
        flex-direction: row;
        align-items: center;
        padding: 0 0 0 20px;

        .title {
          margin: 0;
        }
      }
    }
  }
}
