  <ul class="wrapper" #containerCategory>
    <li class="item" *ngFor="let category of categories" [style.background-image]="'url('+category.imageLink+')'">
      <div class="content-container">
        <h3 class="title">{{category.name}}</h3>
<!--        <p class="content" *ngIf="category.content">{{category.content}}</p>-->
        <a *ngFor="let subCategory of category.children"
        (click)="navigateToCatalog(category.key)"
         class="sub-category">{{subCategory.name}}</a>
      </div>
    </li>
  </ul>



