<mat-toolbar color="primary" class="main-navbar">
  <div class="main-navbar-content">
    <ng-container *ngIf="isHome; then logo else backButton">
    </ng-container>
    <ng-template #logo>
      <div class="logo">
        <img src="assets/images/logo-bdodeals.svg" alt="BDO deals logo" routerLink=""/>
      </div>
    </ng-template>
    <ng-template #backButton>
      <div class="logo">
        <button mat-button color="primary" class="back-button" (click)="back()"><mat-icon>chevron_left</mat-icon> Back</button>
      </div>
    </ng-template>
    <div class="search-wrapper" *ngIf="!isLocationLanding">
      <bdo-search-navbar></bdo-search-navbar>
    </div>
  </div>
</mat-toolbar>

<div [ngClass]="{'main-content': !isLocationLanding, 'main-content-exclude-search-navbar': isLocationLanding, 'nearby-page': isNearbyPage}">
  <router-outlet></router-outlet>
</div>
