.main-navbar {
  color: #fff;
  position: fixed;
  z-index: 9999;
  height: 64px;
}

.main-navbar-content {
  z-index: 9999;
}

.main-content {
  margin-top: 56px;
  padding: 10px 0;
}

.side-nav {
  position: fixed;
  margin-top: 56px;
}
