<mat-toolbar color="primary" class="main-navbar">
  <ng-container *ngIf="isHome; then logo else backButton">
  </ng-container>
  <ng-template #logo>
    <div class="logo">
      <img src="assets/images/logo-bdodeals.svg" alt="BDO deals logo"/>
    </div>
  </ng-template>
  <ng-template #backButton>
    <div class="logo">
      <button mat-button color="primary" class="back-button" (click)="back()"><mat-icon>chevron_left</mat-icon> Back</button>
    </div>
  </ng-template>
  <!-- <span class="example-spacer"></span> -->
  <!-- <button mat-icon-button class="example-icon" (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <bdo-search-navbar></bdo-search-navbar>
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="main-navbar-content">
  <mat-sidenav class="side-nav" position="end" color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
    <div fxLayout="column">
      <a mat-button routerLink="/about-us">Menu 1</a>
      <a mat-button routerLink="/about-us">Menu 2</a>
    </div>
  </mat-sidenav>
</mat-sidenav-container>

<div class="main-content">
  <router-outlet></router-outlet>
</div>

