@import '../../theme/variables.scss';

.main-navbar {
  color: $white;
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  padding: 0;

  .logo {
    min-height: 64px;
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: center;
    background: $main-blue;
    img {
      cursor: pointer;
    }
  }

  .back-button {
    padding: 0;
    font-size: 16px;

    mat-icon {
      transform: scaleY(1.3);
    }
  }
}

.main-navbar-content {
  z-index: 9999;
}

.main-content {
  margin-top: 96px;
  padding: 8px 0;
}

.side-nav {
  position: fixed;
  margin-top: 56px;
}

.search-wrapper {
  position: relative;
  width: 100%;
  height: 40px;
  background: $white;
  display: flex;
  padding: 0 10px;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;

  .input-search {
    height: inherit;
    width: calc(100% - 24px);
    outline-color: transparent;
    border: none;
    background: transparent;
    box-sizing: border-box;
    cursor: pointer;

    &:focus-visible {
      box-sizing: border-box;
      padding: 0 10px;
      outline: none;
    }
  }


  .search-icon {
    width: 24px;
    height: 24px;
  }
}
