<div class="secondary-catalog">
  <ul class="catalog-list-container">
    <li class="spend" [style.background-image]="'url(assets/images/img-spend_anywhere.png)'">
      <span>Spend anywhere</span>
    </li>
    <li class="shop" [style.background-image]="'url(assets/images/img-shop_choose_redeem.png)'">
      <span>Shop.Choose.<br/>Redeem</span>
    </li>
    <li class="online" [style.background-image]="'url(assets/images/img-online_exclusives.png)'">
      <span>Online Exclusives</span>
    </li>
    <li class="reward" [style.background-image]="'url(assets/images/img-bdorewards.png)'">
      <span>BDO Rewards</span>
    </li>
  </ul>
</div>
