@import "../../../../theme/variables";

.secondary-catalog {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: $desktop-width) {
    align-items: unset;
  }

  .catalog-list-container {
    list-style-type: none;
    display: grid;
    grid-gap: 16px;
    margin: 0;
    padding-inline-start: 0 !important;

    @media screen and (min-width: $desktop-width) {
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: $desktop-width) {
      width: 100%;
      // max-width: 500px;
      grid-template-columns: 1fr 1fr;
    }

    li {
      color: $near-black;
      border-radius: 20px;
      display: flex;
      align-items: flex-end;
      background-color: $light-blue;
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: 50%;
      aspect-ratio: 5 / 2.8;
      cursor: pointer;
      height: 108px;
      max-width: 247px;
      width: 100%;

      span {
        height: auto;
        font-weight: bold;
        width: 40%;
        font-size: 14px;
        padding-top: 46px;
        padding-bottom: 40px;
        padding-left: 16px;
      }
    }
  }
}
