.main-app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.toolbar {
  justify-content: space-between;
  z-index: 800;
  display: flex;
  height: 6rem;
  padding: 0 0.8rem;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  padding-top: 6rem;
  width: 20rem;
}

.logo {
  flex-grow: 1;
  height: 40%;
  object-fit: contain;
}

.mat-drawer-content {
  flex: 1;
  width: 100%;
  overflow: scroll;
}
