.toolbar {
  display: flex;
  position: fixed;
  height: 6rem;
  z-index: 4;
  padding: 0 0.8rem;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  padding-top: 6rem;
  width: 20rem;
}

.logo {
  flex-grow: 1;
  height: 40%;
  object-fit: contain;
}

.mat-drawer-content {
  padding-top: 6rem;
}