.toolbar {
  display: flex;
  position: fixed;
  height: 6rem;
  z-index: 4;
  padding: 0 0.8rem;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 20rem;
}

.logo {
  flex-grow: 1;
  height: 40%;
  object-fit: contain;
}

.container, .sidenav {
  height: calc(100% - 64px);
  padding-top: 64px;
}

@media (max-width: 599px) {
  .container, .sidenav {
    height: calc(100% - 56px);
    padding-top: 56px;
  }

}