.profile-container {
  padding: 1.2rem;
}

.user {
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 4.4rem;
  height: 4.4rem;
  width: 4.4rem;
}

.name {
  flex-grow: 1;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}

.mat-list-item {
  font-size: 1.1rem;
  color: #eb202f !important;
}

.sign-out {
  margin-top: 1.2rem;
  width: 100%;
}

.text-field {
  border: 1px solid #ced4da;
  padding: 1.2rem;
  border-radius: 0.2rem;
  margin-bottom: 1.6rem;
}
