<div class="profile-container">
  <ng-container *ngIf="profile">
    <div class="user">
      <mat-icon class="user-icon">account_circle</mat-icon>
      <p class="name">{{profile.lastName}}</p>
    </div>
    <p>Player Code</p>
    <p class="text-field">{{profile.personalProperties['code']}}</p>
    <p>Card Last 4 Digit</p>
    <p class="text-field">{{profile.personalProperties['last_4']}}</p>
  </ng-container>
  <a mat-list-item (click)="onClick('/tnc')"><mat-icon>description</mat-icon>TERMS AND CONDITIONS</a>
  <a mat-list-item (click)="onClick('/faq')"><mat-icon>help</mat-icon>FAQ</a>
  <button mat-flat-button color="primary" class="sign-out" (click)="onSignout()">SIGN OUT</button>
</div>
