<div class="profile-container">
  <ng-container *ngFor="let profile of [profile$ | async]">
    <div class="user">
      <mat-icon class="user-icon">account_circle</mat-icon>
      <p class="name">PIERRE</p>
    </div>
    <p>Player Code</p>
    <p class="text-field">TESTER</p>
    <p>Card Last 4 Digit</p>
    <p class="text-field">1234</p>
  </ng-container>
  <a mat-list-item (click)="onClick('/tnc')"><mat-icon>description</mat-icon>TERMS AND CONDITIONS</a>
  <a mat-list-item (click)="onClick('/faq')"><mat-icon>help</mat-icon>FAQ</a>
  <button mat-flat-button color="primary" class="sign-out">SIGN OUT</button>
</div>
