@import "variables";

.type {
  &-item {
    cursor: pointer;
    position: relative;
    width: 13.7rem;
    height: 12.7rem;
    background-color: $light-gray;
    padding: ($vertical-padding / 2) ($horizontal-padding / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $border-radius-lg;
    box-sizing: border-box;
    border: 1px solid transparent;
  }

  &-title {
    @include typo-body2;
    
    color: $secondary-color;
    margin-top: auto;
    text-align: center;
  }
}

@import "resize";
