.merchant {
  &-list-view {
    .table-list {
      width: 100%;

    }
    &-image-cell {
      height: 3.6rem;
      width: 3.5rem;

      img {
        max-height: 100%;
        width: 100%;
      }
    }
  }

}
