<div class="wrapper">
  <perx-core-spin-the-wheel
    [slices]="mockSlices"
    [willWin]="true"
    [wheelImg]="wheel"
    [rewardSlots]="[2,5]"
    [pointerImg]="pointer"></perx-core-spin-the-wheel>
</div>
<mat-button-toggle-group (change)="pointerIndex = $event.value">
  <mat-button-toggle [value]="0">Pointer 1</mat-button-toggle>
  <mat-button-toggle [value]="1">Pointer 2</mat-button-toggle>
  <mat-button-toggle [value]="2">Pointer 3</mat-button-toggle>
</mat-button-toggle-group>
<mat-button-toggle-group (change)="wheelIndex = $event.value">
  <mat-button-toggle [value]="0">Wheel 1</mat-button-toggle>
  <mat-button-toggle [value]="1">Wheel 2</mat-button-toggle>
  <mat-button-toggle [value]="2">Wheel 3</mat-button-toggle>
</mat-button-toggle-group>
