.nowrap-text {
  text-wrap: none !important;
  word-break: keep-all;
  white-space: nowrap;
  word-wrap: normal;

  padding-top: 1.5rem;
  font-size: 1.6rem;
}

.radio-group-row {
  margin: 1.3rem 0 2.3rem;
}

.validate-input {
  max-width: 13.6rem;
}
