.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // justify-content: center;
  align-items: center;
  background-color: #186de1;
}

.full-width__input,
.full-width__button {
  width: 100%;
}

button {
  background: #2665ee !important;
  height: 44px;
}

img {
  margin: 4rem;
}

.login-form {
  background-color: white;
  max-width: 35.4rem;
  padding: 1.5rem;

  h1 {
    font-weight: 500;
    font-size: 3.4rem;
    // line-height: 4rem;
    margin-top: 0.9rem;
    margin-bottom: 2.4rem;
  }

  border-radius: 0.8rem;
}
