<div class="setup-form">
  Number of slots
  <mat-slider min="3" max="10" #nbSlots thumbLabel value="10"></mat-slider>
  Number of stamps
  <mat-slider
    min="0"
    [max]="nbSlots.value"
    step="1"
    thumbLabel
    #nbStamps
  ></mat-slider>
  Number of stamps Redeemed
  <mat-slider
    min="0"
    [max]="nbStamps.value"
    step="1"
    thumbLabel
    #nbStampsRedeemed
  ></mat-slider>
</div>
<mat-checkbox
  id="toggle"
  (click)="toggleShow()"
>
  Show stamps left
</mat-checkbox>
<!-- <perx-core-puzzle-collect-stamps
  [nbSlots]="nbSlots.value"
  [stamps]="stamps"
  [preStampImg]="'assets/stamps/pre_stamp.png'"
  [postStampImg]="'assets/stamps/post_stamp_redeemed.png'"
  [rewardPreStamp]="'assets/stamps/pre_reward.png'"
  [rewardPostStamp]="'assets/stamps/post_reward.png'"
  [rewards]="rewardArr"
  [showStampsCounter]="showCounter">

</perx-core-puzzle-collect-stamps> -->
<perx-core-puzzle-collect-stamps
  *ngIf="card"
  [nbSlots]="nbSlots.value"
  [stamps]="card.stamps"
  [preStampImg]="'assets/stamps/pre_stamp.png'"
  [postStampImg]="'assets/stamps/post_stamp_redeemed.png'"
  [rewardPreStamp]="'assets/stamps/pre_reward.png'"
  [rewardPostStamp]="'assets/stamps/post_reward.png'"
  [rewards]="rewardArr"
  [showStampsCounter]="showCounter"

  [availableStampImg]="card.displayProperties.preStampImg"
  [availableRewardImg]="card.displayProperties.rewardPreStamp"
  [backgroundImage]="card.displayProperties.cardImage?.value.imageUrl"
  [cardBgImage]="card.displayProperties.cardBackgroundImage?.value.imageUrl"
  [showStampsCounter]="true"
  [title]="card.title || 'Stamp Card'"
  [subTitle]="card.subTitle || 'Tap the stamps to earn your reward!'"
  (availableStampClicked)="stampClicked($event)">

</perx-core-puzzle-collect-stamps>
<p>Reward Position</p>
<div #cbContainer class="checkboxContainer">
  <mat-checkbox
    id="mat-checkbox-{{i}}"
    *ngFor="let slot of arrayFromNumber(nbSlots.value); let i = index"
    (change)="checkboxOnChange($event)"
  >
    {{ i + 1 }}
  </mat-checkbox
  >
</div>
