<app-header [title]="title" [subTitle]="subTitle"> </app-header>

<div class="game-wrapper">
  <div class="game-wrapper__right">
    <img class="bottom-shadow" src="../../assets/img/ellipse.png" />
    <perx-core-shake-tree [treeImg]="'../../assets/img/tree.png'" [giftImg]="'../../assets/img/gift.png'"
      [waitingManImg]="'../../assets/img/man-waiting.png'"
      [waitingManCelebrateImg]="'../../assets/img/man-celebrating.png'" [nbHangedGifts]="3" [nbFallingGifts]="1"
      (completed)="done()" [enabled]="isEnabled" [nbShakes]="3" [distanceFromTree]=26 [bottomDistance]=1>
    </perx-core-shake-tree>
  </div>
</div>
<div class="actions-container">
  <button
    mat-flat-button
    color="primary"
    (click)="isEnabled = true"
    *ngIf="!isEnabled"
  >
    Start playing
  </button>
</div>