<header class="page-header full-with">
  <h1 class="title">{{'SETTINGS_FEATURE.SETTINGS' | translate}}</h1>
</header>

<section class="content form-limiter">
  <nav mat-tab-nav-bar class="settings-navbar">
    <a mat-tab-link
        *ngFor="let link of navLinks;"
        [routerLink]="link.path"
        routerLinkActive #rla="routerLinkActive"
        [routerLinkActiveOptions]="{exact: true}"
        [active]="rla.isActive">
      {{link.label | translate}}
    </a>
  </nav>
  <router-outlet></router-outlet>
</section>
