@import '../styles.scss';

.toolbar {
  display: flex;
  height: 6rem;
  align-items: center;
  z-index: 4;
  justify-content: space-between;
  background-color: $main-blue-theme;
  position: fixed;
  color: white;
}

.bottom-bar {
  position: fixed;
  width: 100%;
  height: 6rem;
  bottom: 0;
  background: white;
  left: 0;
  z-index: 800;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .bottom-bar-item {
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;

    .selected {
      color: $main-blue-theme;
    }

    .unselected {
      color: $bottom-bar-text-color;
    }
  }
}
