<mat-toolbar *ngIf="pageProperties.header" class="toolbar">
	<button [disabled]="!pageProperties.backButtonEnabled" mat-icon-button (click)="onLeftActionClick()">
		<mat-icon *ngIf="pageProperties.backButtonEnabled">
			{{leftIconToShow}}
		</mat-icon>
	</button>
	<img *ngIf="pageProperties.pageTitle === ''" src="assets/header_logo.png">
	<ng-container *ngIf="pageProperties.pageTitle !== ''">{{pageProperties.pageTitle}}</ng-container>
	<button [disabled]="rightIconToShow === ''" mat-icon-button>
		<mat-icon *ngIf="rightIconToShow !== ''">
			{{rightIconToShow}}
		</mat-icon>
	</button>
</mat-toolbar>
<div *ngIf="pageProperties.bottomSelectedItem !== 'none'" class="bottom-bar">
	<div class="bottom-bar-item" (click)="onTabNavigate('home')">
		<img
			[src]="pageProperties.bottomSelectedItem === 'home' ? 'assets/tabs/home_selected.png' : 'assets/tabs/home_unselected.png'">
		<span [ngClass]="pageProperties.bottomSelectedItem === 'home' ? 'selected' : 'unselected'" translate>STATIC_HOME</span>
	</div>
	<div class="bottom-bar-item" (click)="onTabNavigate('find-pharmacy')">
		<img
			[src]="pageProperties.bottomSelectedItem === 'search' ? 'assets/tabs/search_selected.png' : 'assets/tabs/search_unselected.png'">
		<span [ngClass]="pageProperties.bottomSelectedItem === 'search' ? 'selected' : 'unselected'" translate>STATIC_FIND_PHARMACY</span>
	</div>
	<div class="bottom-bar-item" (click)="onTabNavigate('account')">
		<img
			[src]="pageProperties.bottomSelectedItem === 'account' ? 'assets/tabs/profile_selected.png' : 'assets/tabs/profile_unselected.png'">
		<span [ngClass]="pageProperties.bottomSelectedItem === 'account' ? 'selected' : 'unselected'" translate>STATIC_ACCOUNT</span>
	</div>
</div>
<router-outlet (activate)="onActivate($event)"></router-outlet>