<div class="container">
  <form [formGroup]="updateEmailGroup" class="update-email-form">
    <mat-form-field appearance="fill">
      <mat-label>Email Address</mat-label>
      <input type="text" matInput formControlName="email">
      <mat-error *hkbnErrorHandler="'required'">
        This field is required
      </mat-error>
      <mat-error *hkbnErrorHandler="'email'">
        Wrong format
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary">Submit</button>
  </form>
</div>
