<div class="container">
  <form [formGroup]="updateEmailGroup" class="update-email-form">
    <mat-form-field appearance="fill">
      <mat-label>{{"ACCOUNT_PAGE.EMAIL" | translate}}</mat-label>
      <input type="text" matInput formControlName="email">
      <mat-error *hkbnErrorHandler="'required'">
        {{"ACCOUNT_PAGE.REQUIRED" | translate}}
      </mat-error>
      <mat-error *hkbnErrorHandler="'email'">
        {{"ACCOUNT_PAGE.ENTER_VALID_EMAIL" | translate}}
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="updateEmail()">{{"ACCOUNT_PAGE.UPDATE" | translate}}</button>
  </form>
</div>
