<div class="container">
  <form #form='ngForm' [formGroup]="updateEmailGroup" class="update-email-form">
    <mat-form-field appearance="fill">
      <mat-label>Email Address</mat-label>
      <input type="text" matInput formControlName="email">
      <mat-error
        *ngIf="updateEmailGroup.get('email').hasError('required')
      && (updateEmailGroup.get('email').touched || form.submitted)">
        This field is required
      </mat-error>
      <mat-error
        *ngIf="updateEmailGroup.get('email').hasError('email')
      && (updateEmailGroup.get('email').touched || form.submitted)">
        Wrong format
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary">Submit</button>
  </form>
</div>
