<mat-expansion-panel class="card" expanded>
  <mat-expansion-panel-header class="card-header">
    <h2 class="card-title">
      {{'LOYALTY_FEATURE.GLOBAL_EARN_RULE' | translate}}
    </h2>
  </mat-expansion-panel-header>
  <div class="card-content loyalty" *ngIf="group" [formGroup]="group.get('globalEarnRule')">
    <div class="loyalty-row input-group">
      <span>
        {{'LOYALTY_FEATURE.FOR_EVERY_TRANSACTION_AMOUNT_EQUAL_TO' | translate}}
      </span>
      <mat-form-field floatLabel="never">
        <input type="number" [min]="0" matInput formControlName="amount">
      </mat-form-field>
      <span class="loyalty-currency">{{currency || 'SGD'}}</span>
      <span>
        {{'LOYALTY_FEATURE.USER_WILL_EARN' | translate}}
      </span>
      <mat-form-field floatLabel="never">
        <input type="number" [min]="0" matInput formControlName="points">
      </mat-form-field>
      <span>{{'LOYALTY_FEATURE.POINTS' | translate}}.</span>
    </div>
  </div>
</mat-expansion-panel>
