<aside class="dialog" role="dialog" aria-labelledby="dialogTitle-campaignConfirm">
  <button class="dialog-closed cs-btn-transparent" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="confirm-body">
    <img class="confirm-img" [src]="data?.img || 'assets/images/campaigns/new-campaign-figure.png'">
    <h2 class="confirm-header" id="dialogTitle-campaignConfirm">{{data?.title || ('CAMPAIGN.DONE.DEFAULT_TITLE' | translate)}}
    </h2>
    <p class="confirm-copy">{{data?.subTitle}}</p>
  </div>
  <div class="dialog-actions" [ngSwitch]="data?.type">
    <cs-copy-link *ngSwitchCase="'weblink'" [link]="data.url" (copied)="copyMessage()">
      {{'COPY' | translate}}
    </cs-copy-link>
    <cs-download-link *ngSwitchCase="'download'" fileName="Weblink.csv" [link]="data?.url">
      {{'DOWNLOAD' | translate}}
    </cs-download-link>
    <cs-button *ngSwitchDefault classList="primary" class="copy-link-btn" (click)="closeDialog()">
      {{'BTN_CLOSE' | translate}}
    </cs-button>
  </div>
</aside>
