@import "variables";

.dialog {
  position: relative;
  width: 63.5rem;
  text-align: center;
  padding: 1.4rem 4.5rem 4.6rem;

  &-title {
    margin: 0;
    font-family: $primary-font;
    font-size: 2rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $secondary-color;
  }

  &-sub-title {
    margin-top: 1.5rem;
    font-family: $primary-font;
    font-size: 1.6rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $secondary-color;
  }


  &-closed {
    position: absolute;
    right: 4.5rem;
    top: 4.5rem;
    color: $secondary-color;
  }

  &-content {
    //padding-top: 3rem;
  }

  &-content-title {
    font-size: 2.2rem;
    line-height: 1.23;
    font-weight: bold;
    color: $secondary-color;
    box-sizing: border-box;
  }

  &-action {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
