<aside class="dialog" role="dialog" aria-labelledby="dialogTitle-campaignConfirm">
  <button class="dialog-closed cs-btn-transparent" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="confirm-body">
    <img class="confirm-img" [src]="data?.img || 'assets/images/campaigns/new-campaign-figure.png'">
    <h2 class="confirm-header" id="dialogTitle-campaignConfirm">{{data?.title || 'Yay! You just created a campaign'}}
    </h2>
    <p class="confirm-copy">{{data?.subTitle}}</p>
  </div>
  <div class="dialog-actions" [ngSwitch]="data?.type">
    <cl-copy-link *ngSwitchCase="'weblink'" [link]="data.url"></cl-copy-link>
    <cl-download-link *ngSwitchCase="'download'" file="Weblink.csv" [link]="data?.url"></cl-download-link>
    <cs-button *ngSwitchDefault classList="primary" class="copy-link-btn" (click)="closeDialog()">Close</cs-button>
  </div>
</aside>
