@import "../../../../theme/variables";

.category {
    background-color: $white;
    padding: 16px 16px 0 16px;

    .title {
        display: flex;
        justify-content: space-between;

        .filter {
            display: flex;
            align-items: center;
            color: $medium-blue;
        }
    }

    .icon-category {
        display: flex;
        width: 100%;
        overflow-x: auto;

        .action {
            .img-category {

                width: 64px;
            }

            .category-name {
                display: inline-block;
                word-wrap: break-word;
                text-align: center;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
            color: $medium-blue;
            font-weight: bold;
            width: 92px;
            min-width: 92px;
            overflow-x: auto;
            margin-bottom: 30px;
        }
    }
}