<div class="container">
  <mat-tab-group>
    <mat-tab [label]="'MY_REWARDS' | translate">
      <perx-core-vouchers [data]="issuedVouchers"
                          [showExpireDate]="true"
                          [showRedeemedDate]="false"
                          (tapped)="onRoute($event)">
      </perx-core-vouchers>
    </mat-tab>
    <mat-tab [label]="'REWARDS_HISTORY' | translate">
      <perx-core-vouchers [data]="redeemedVouchers"
                          [showExpireDate]="false"
                          [showRedeemedDate]="true"
                          (tapped)="onRedeemedRoute($event)">
      </perx-core-vouchers>
    </mat-tab>
  </mat-tab-group>
</div>
