<div class="graphic-wrap" *ngIf="graphicList"
     [class.field-lock]="lock"
>
<!--  <div class="upload graphic-image-preview" *ngIf="showUpload">-->
<!--    <cl-upload-graphic-ext-->
<!--      [placeholder]="placeHolder"-->
<!--      [formControl]="controlUpload"-->
<!--      [selectGraphic]="selectedGraphic">-->
<!--    </cl-upload-graphic-ext>-->
<!--  </div>-->
  <cl-select-graphic [formControl]="controlDefault"
                     [graphicList]="graphicList"
                     [selectedGraphic]="selectedGraphic"
                     [diagBox]="true"
  >
  </cl-select-graphic>
</div>
