<div class="graphic-wrap" *ngIf="graphicList"
     [class.field-lock]="lock"
>
  <div class="upload graphic-image-preview" *ngIf="showUpload">
    <cl-upload-graphic
      [formControl]="controlUpload"
      [selectGraphic]="selectedGraphic"
    ></cl-upload-graphic>
  </div>
  <cl-select-graphic [formControl]="controlDefault"
                     (click)="onShowDialog($event)"
                     [graphicList]="graphicList"
                     [selectedGraphic]="selectedGraphic"
  >

  </cl-select-graphic>
</div>
