@import '../cards';

.featured-image {
  position: relative;

  span.macaron {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  .expiring {
    background-color: #FFDB1B;
    color: #4D4D4C;
  }
}
