<mat-card *ngFor="let reward of rewards | async" matRipple (click)="selected(reward)">
	<div class="featured-image">
		<img mat-card-image [src]="reward.rewardBanner">
		<span *ngIf="isComingSoon(reward.validFrom) else expiringMacron" class="macaron coming-soon">Coming soon</span>
		<ng-template #expiringMacron>
			<span *ngIf="isExpiring(reward.validTo)" class="macaron expiring">expiring</span>		
		</ng-template>
	</div>
	<mat-card-content>
		<div>
			<h1>{{reward.name}}</h1>
			<h2>{{reward.merchantName}}</h2>
		</div>
		<div class="icon">
			<mat-icon>arrow_forward</mat-icon>
		</div>
	</mat-card-content>
</mat-card>