@import "../cards";
@import "../../macaron.scss";

:host {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.featured-image {
  position: relative;

  .macaron-container {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  @include macaronStyles();
}

.card-description {
  width: 85%;

  h1, h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
