<mat-card
	*ngFor="let reward of rewards | async"
	matRipple (click)="selected(reward)">
	<div class="featured-image">
		<img mat-card-image [src]="reward.rewardBanner">
		<div *ngIf="getMacaron(reward) as macaron" class="macaron-container">
			<span [ngClass]="macaron.class">{{macaron.label}}</span>
		</div>
	</div>
	<mat-card-content>
		<div class="card-description">
			<h1>{{reward.name}}</h1>
			<h2>{{reward.merchantName}}</h2>
		</div>
		<div class="icon">
			<img src="assets/forward-arrow.svg" alt="">
		</div>
	</mat-card-content>
	<mat-card-footer></mat-card-footer>
</mat-card>
