@import "../cards";
@import "../../../theme/mixins/macaron.scss";

.main-container {
  margin-left: 0.5rem;

  h1,
  h2 {
    margin: 1rem;
  }

  h2 {
    color: $dark-grey;
  }

  .cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;

    .end-spacer {
      flex: 0 0 16px;
    }
  }
}

.featured-image {
  position: relative;

  .macaron-container {
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
    border-radius: 5rem;
    font-size: 1.2rem;
    text-transform: lowercase;

    span {
      display: inline-block;
    }

    span::first-letter {
      text-transform: uppercase;
    }
  }

  @include macaronStyles();
}

.card-description {
  width: 85%;
  color: $dark-grey;

  h1,
  h2,
  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.operating-hours {
  margin: .5rem 0 0;
}
