<article class="tree-wrap" *ngIf="shakeTreeData" [formGroup]="form">
  <header class="page-header full-with">
    <mat-form-field class="pagetitle-input" floatLabel="never">
      <input type="text" matInput formControlName="name" [placeholder]="'ENTER_TITLE_HERE' | translate">
      <mat-error *ngIf="name.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
      <mat-error *ngIf="name.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 1</mat-error>
      <mat-error *ngIf="name.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> 60</mat-error>
    </mat-form-field>
    <div class="btn-group">
      <cl-button (click)="comeBack()" [classList]="'secondary'" class="">
       <span translate>
        BTN_CANCEL
      </span>
      </cl-button>
      <cl-button [classList]="'primary cta cta-save'" (click)="save()">
        <span translate>
          BTN_SAVE
        </span>
      </cl-button>
    </div>
  </header>
  <section class="content form-limiter">
    <div class="phonepreview-wrapper">
      <div class="tree-wrap-fields">
        <mat-card class="card-fieldset">
          <h2 class="card-fieldset-title sub-title" translate>
            MESSAGES
          </h2>
          <div class="messages-form">
            <div class="control-input">
              <mat-form-field class="messages-input">
                <input type="text" [placeholder]="'HEADLINE_MESSAGE' | translate" matInput formControlName="headlineMessage">
                <mat-hint align="end">{{headlineMessage.value?.length || 0}}/60</mat-hint>
                <mat-error *ngIf="headlineMessage.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
                <mat-error *ngIf="headlineMessage.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 5</mat-error>
                <mat-error *ngIf="headlineMessage.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> 60</mat-error>
              </mat-form-field>
            </div>
            <div class="control-input">
              <mat-form-field class="messages-input">
                <input type="text" matInput [placeholder]="'SUB-HEADLINE_MESSAGE' | translate" formControlName="subHeadlineMessage">
                <mat-hint align="end">{{subHeadlineMessage.value?.length || 0}}/60</mat-hint>
                <mat-error *ngIf="subHeadlineMessage.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
                <mat-error *ngIf="subHeadlineMessage.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 5</mat-error>
                <mat-error *ngIf="subHeadlineMessage.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> 60</mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card>

        <mat-card class="card-fieldset">
          <h2 class="card-fieldset-title sub-title" translate>
            GAME_GRAPHIC
          </h2>
          <div class="game-form">

            <div class="control-img_asset">
              <h3 class="card-fieldset-label" translate>
                TREE
              </h3>
              <div class="game-tree-wrap">
                <cl-select-graphic *ngIf="shakeTreeData.gamesTree" formControlName="treeType"
                  [graphicList]="shakeTreeData.gamesTree">
                </cl-select-graphic>
              </div>
            </div>

            <div class="game-number-gifts">
              <div class="control-input" *ngIf="shakeTreeData.gameNumberGift">
                <mat-form-field class="game-gift-select">
                  <mat-label><span translate>TOTAL_NUMBER_OF_GIFTS_IN_TREE</span></mat-label>
                  <mat-select formControlName="gameGift">
                    <mat-option *ngFor="let gift of shakeTreeData.gameNumberGift" [value]="gift.value">
                      {{gift.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="control-img_asset">
              <h3 class="card-fieldset-label" translate>
                GIFT_BOX
              </h3>
              <div class="game-gift-box_field">
                <cl-select-graphic-wrap *ngIf="shakeTreeData.giftBox"
                                        formControlName="giftBox"
                                        [isRequired]="giftBox.hasError('required') && giftBox.touched"
                                        [graphicList]="shakeTreeData.giftBox"
                                        (selectGraphic)="setSelectGiftBox($event)">
                </cl-select-graphic-wrap>
              </div>
            </div>

            <div class="control-img_asset">
              <h3 class="card-fieldset-label" translate>
                BACKGROUND
              </h3>
              <div class="game-gift-box_field">
                <cl-select-graphic-wrap *ngIf="shakeTreeData.background"
                                        formControlName="background"
                                        [isRequired]="background.hasError('required') && background.touched"
                                        [graphicList]="shakeTreeData.background"
                                        (selectGraphic)="setSelectGiftBox($event)">
                </cl-select-graphic-wrap>
              </div>
            </div>
          </div>

        </mat-card>

        <mat-card class="card-fieldset">
          <h2 class="card-fieldset-title sub-title" translate>
            BUTTON
          </h2>
          <div class="messages-form">
            <div class="control-input">
              <mat-form-field class="messages-input">
                <input type="text" [placeholder]="'BUTTON_TEXT' | translate" matInput formControlName="buttonText">
                <mat-hint align="end">{{buttonText.value?.length || 0}}/20</mat-hint>
                <mat-error *ngIf="buttonText.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
                <mat-error *ngIf="buttonText.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 2</mat-error>
                <mat-error *ngIf="buttonText.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> 20</mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card>
      </div>

      <cl-simple-mobile-view class="second-tab"
        [background]="getImgLink(background, 'assets/images/background/background1.png')"
        [mobileImageClass]="'mobile-non-header'" [headerColor]="tenantSettings?.headerColor" [logo]="tenantSettings?.logo"
        [logoType]="tenantSettings?.logoType" [fontFamily]="tenantSettings?.font"
      >
        <div class="mobile-preview-header">
          <p class="mobile-preview-headline">
            {{headlineMessage.value}}
          </p>
          <p class="mobile-preview-sub-headline">
            {{subHeadlineMessage.value}}
          </p>
        </div>
        <div class="plugin-block">
          <perx-core-shake-tree class="mobile-preview-plugin"
            [treeImg]="getImgLink(treeType, 'assets/images/games/tree/full_tree_1.png')"
            [giftImg]="getImgLink(giftBox, 'assets/images/gifts/state1.png')" [waitingManImg]="''"
            [waitingManCelebrateImg]="''" [nbHangedGifts]="gameGiftView.value" [nbFallingGifts]="gameGiftView.value"
            [nbShakes]="5" [distanceFromTree]="26" [bottomDistance]="1" [enabled]="false">
          </perx-core-shake-tree>
        </div>
        <div class="mobile-preview-btn-wrap mobile-btn-block">
          <button class="mobile-preview-btn" [ngStyle]="{
                    backgroundColor: tenantSettings?.buttonColor,
                    'color': tenantSettings?.buttonTextColor,
                    'font-family': tenantSettings?.font
                  }">
            {{buttonText.value}}
          </button>
        </div>
      </cl-simple-mobile-view>
    </div>
  </section>
</article>
