<router-outlet></router-outlet>
<div class="tree-wrap" *ngIf="shakeTreeData$ | async as shakeTreeData" [formGroup]="shakeTree">
  <div class="full-with page-header">
    <div class="game-title-wrap">
      <div class="control-input name-control name-control-title">
        <mat-form-field class="messages-input">
          <input type="text"  matInput formControlName="name">
          <mat-error *ngIf="name.hasError('required')">Required field</mat-error>
          <mat-error *ngIf="name.hasError('minlength')">Min length 1</mat-error>
          <mat-error *ngIf="name.hasError('maxlength')">Max length 60</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="game-actions">
      <cl-button [classList]="'third'"
                 class="btn-right_padding"
                 (click)="comeBack()"

      >
        <span>
          Cancel
        </span>
      </cl-button>
      <cl-button [classList]="'primary'"
                 (click)="save()"
      >
        <span>
          Save
        </span>
      </cl-button>
    </div>
  </div>
  <div class="content flex">
    <div class="tree-wrap-fields">
      <mat-card class="game-graphic">
        <div class="messages-wrap">
          <p class="sub-title">
            Messages
          </p>
        </div>
        <div class="messages-form" >
          <div class="control-input">
            <mat-form-field class="messages-input">
              <input type="text" [placeholder]="'Headline message'" matInput formControlName="headlineMessage">
              <mat-hint align="end">{{headlineMessage.value?.length || 0}}/60</mat-hint>
              <mat-error *ngIf="headlineMessage.hasError('required')">Required field</mat-error>
              <mat-error *ngIf="headlineMessage.hasError('minlength')">Min length 5</mat-error>
              <mat-error *ngIf="headlineMessage.hasError('maxlength')">Max length 60</mat-error>
            </mat-form-field>
          </div>
          <div class="control-input">
            <mat-form-field class="messages-input">
              <input type="text" matInput [placeholder]="'Sub-headline message'" formControlName="subHeadlineMessage">
              <mat-hint align="end">{{subHeadlineMessage.value?.length || 0}}/60</mat-hint>
              <mat-error *ngIf="subHeadlineMessage.hasError('required')">Required field</mat-error>
              <mat-error *ngIf="subHeadlineMessage.hasError('minlength')">Min length 5</mat-error>
              <mat-error *ngIf="subHeadlineMessage.hasError('maxlength')">Max length 60</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card>

      <mat-card class="game-graphic">
        <div class="game-title-wrap">
          <p class="sub-title">
            Game graphic
          </p>
        </div>
        <div class="game-form">
          <p class="game-title">
            Tree
          </p>

          <div class="game-tree-wrap">
            <cl-select-graphic
              *ngIf="shakeTreeData.gamesTree"
              formControlName="treeType"
              [graphicList]="shakeTreeData.gamesTree"
            >
            </cl-select-graphic>
          </div>

          <div class="game-number-gifts">
            <div class="control-input"
                 *ngIf="shakeTreeData.gameNumberGift"
            >
              <mat-form-field class="game-gift-select">
                <mat-label>Total number of gifts in tree</mat-label>
                <mat-select formControlName="gameGift">
                  <mat-option *ngFor="let gift of shakeTreeData.gameNumberGift" [value]="gift.value">
                    {{gift.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="game-gift-box">
            <p class="game-title">
              Gift box
            </p>
            <div class="game-gift-box_field">
              <cl-select-graphic-wrap
                *ngIf="shakeTreeData.giftBox"
                class="game-selected-graphic"
                formControlName="giftBox"
                [graphicList]="shakeTreeData.giftBox"
                (selectGraphic)="setSelectGiftBox($event)"
              >
              </cl-select-graphic-wrap>
            </div>
          </div>

          <div class="game-background-box">
            <p class="game-title">
              Background
            </p>
            <div class="game-gift-box_field">
              <cl-select-graphic-wrap
                *ngIf="shakeTreeData.background"
                formControlName="background"
                class="game-selected-graphic"
                [graphicList]="shakeTreeData.background"
                (selectGraphic)="setSelectGiftBox($event)"
              >
              </cl-select-graphic-wrap>
            </div>
          </div>
        </div>

      </mat-card>

      <mat-card class="game-button game-graphic">
        <div class="messages-wrap">
          <p class="sub-title">
            Button
          </p>
        </div>
        <div class="messages-form">
          <div class="control-input">
            <mat-form-field class="messages-input">
              <input type="text" [placeholder]="'Button text'" matInput formControlName="buttonText">
              <mat-hint align="end">{{buttonText.value?.length || 0}}/20</mat-hint>
              <mat-error *ngIf="buttonText.hasError('required')">Required field</mat-error>
              <mat-error *ngIf="buttonText.hasError('minlength')">Min length 2</mat-error>
              <mat-error *ngIf="buttonText.hasError('maxlength')">Max length 20</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>

    <cl-simple-mobile-view class="second-tab" [background]="getImgLink(background, 'assets/images/background/background1.png')">
      <div class="mobile-preview-header">
        <p class="mobile-preview-headline">
          {{headlineMessage.value}}
        </p>
        <p class="mobile-preview-sub-headline">
          {{subHeadlineMessage.value}}
        </p>
      </div>
      <div class="plugin-block">
        <perx-core-shake-tree class="mobile-preview-plugin"
                              [treeImg]="getImgLink(treeType, 'assets/images/tree/full_tree_1.png')"
                              [giftImg]="getImgLink(giftBox, 'assets/images/gifts/state1.png')"
                              [waitingManImg]="''"
                              [waitingManCelebrateImg]="''"
                              [nbHangedGifts]="gameGiftView.value"
                              [nbFallingGifts]="gameGiftView.value"
                              [nbShakes]="5"
                              [distanceFromTree]="26"
                              [bottomDistance]="1"
                              [enabled]="false"
        >
        </perx-core-shake-tree>
      </div>
      <div class="mobile-preview-btn-wrap mobile-btn-block">
        <button class="mobile-preview-btn">
          {{buttonText.value}}
        </button>
      </div>
    </cl-simple-mobile-view>
  </div>
</div>
