<header class="page-header">
  <h1>Settings</h1>
</header>
<section class="content">
  <nav>
    <a [routerLink]="['general']">General</a> |
    <a [routerLink]="['users']">Users</a> |
    <a [routerLink]="['audience']">Audience</a> |
    <a [routerLink]="['uploads']">Uploads</a> |
    <a [routerLink]="['roles']">Roles</a> |
    <a [routerLink]="['rule-building']">Rule Building</a> |
    <a [routerLink]="['branding']">Branding</a> |
    <a [routerLink]="['integrations']">Integrations</a>
  </nav>
  <router-outlet></router-outlet>
</section>
