@import "~src/assets/styles/variables";

:host {
  flex: 1;
}

.code-redemption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &-redeem {
    width: 100%;
    margin: auto 0 4.5rem;
    border-color: $primary;
    color: $primary;
  }
}
