@import "variables";

.btn-add-question {
  display: block;
  margin-top: ($vertical-padding * 0.5);
}

cl-question-form-field {
  display: block;
  margin-bottom: ($vertical-padding * 0.5);
  margin-top: 3rem;

  &:last-child {
    margin-bottom: 0;
  }
}

perx-core-survey {
  pointer-events: none;
}

.mobile-preview-mobile {
  background: url("/assets/images/survey/survey_mobile.png") no-repeat 100% 100%;
}

// preview block
.mobile-preview-card {
  overflow-y: auto;

  .mobile-preview-header {
    top: 0;
    position: relative;
    margin-bottom: 2rem;
  }
}
