@import "variables";

.survey {
  &-form {
    min-width: 74.7rem;
    width: 100%;
    margin-right: 4rem;
  }

  &-select-color {
    .control-input, mat-form-field {
      width: 285px;
    }
  }

  &-title-wrap {
    margin-bottom: 3.5rem;
  }

  &-background {
    margin-top: 6rem;
  }
}

.btn-add-question {
  display: block;
  margin-top: ($vertical-padding * 0.5);
}

cl-question-form-field {
  display: block;
  margin-bottom: ($vertical-padding * 0.5);
  margin-top: 3rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.mobile {
  &-preview-mobile {
    background: url("/assets/images/survey/survey_mobile.png") no-repeat 100% 100%;
  }

  &-preview-card {
    padding-top: 5rem;
    top: 13rem;
  }
}

perx-core-survey {
  pointer-events: none;
}


// preview
.mobile-preview-header {
  width: 60%;
  .mobile-preview-sub-headline {
    max-height: 8rem;
    overflow-y: auto;
  }
}
.plugin-block {
  padding-top: 17rem;
  height: 100%;
  max-height: 36rem;
  .mobile-preview-card{
    padding-top: 17rem;
    height: 56%;
    perx-core-survey {
      position: absolute;
      width: 85%;
      max-height: 17rem;
      overflow-y: overlay;
      display: block;
      pointer-events: all;
    }
  }
}