<article class="survey-wrap" [formGroup]="form" *ngIf="surveyData">
  <header class="page-header full-with">
    <mat-form-field class="pagetitle-input" floatLabel="never">
      <input type="text"  matInput formControlName="name" [placeholder]="'ENTER_TITLE_HERE' | translate">
      <mat-error *ngIf="name.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
      <mat-error *ngIf="name.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 1</mat-error>
      <mat-error *ngIf="name.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> 60</mat-error>
    </mat-form-field>
    <div class="btn-group">
      <cl-button [classList]="'secondary'"
                 class="btn-cancel"
                 (click)="comeBack()"
      >
      <span translate>
        BTN_CANCEL
      </span>
      </cl-button>
      <cl-button [classList]="'primary cta cta-save'"
                 (click)="save()"
      >
      <span translate>
        BTN_SAVE
      </span>
      </cl-button>
    </div>
  </header>
  <section class="content form-limiter">
    <div class="phonepreview-wrapper">
      <div>
        <mat-card class="card-fieldset">
          <h2 class="card-fieldset-title sub-title" translate>
            MESSAGES
          </h2>
          <div class="messages-form" >
            <div class="control-input">
              <mat-form-field class="messages-input">
                <input type="text" [placeholder]="'HEADLINE_MESSAGE' | translate" matInput formControlName="headlineMessage">
                <mat-hint align="end">{{headlineMessage.value?.length || 0}}/60</mat-hint>
                <mat-error *ngIf="headlineMessage.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
                <mat-error *ngIf="headlineMessage.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 5</mat-error>
                <mat-error *ngIf="headlineMessage.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> 60</mat-error>
              </mat-form-field>
            </div>
            <div class="control-input">
              <mat-form-field class="messages-input">
                <input type="text" matInput [placeholder]="'SUB-HEADLINE_MESSAGE' | translate" formControlName="subHeadlineMessage">
                <mat-hint align="end">{{subHeadlineMessage.value?.length || 0}}/{{subHeadlineMaxLength}}</mat-hint>
                <mat-error *ngIf="subHeadlineMessage.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
                <mat-error *ngIf="subHeadlineMessage.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 5</mat-error>
                <mat-error *ngIf="subHeadlineMessage.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> {{subHeadlineMaxLength}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card>
        <mat-card class="card-fieldset">
          <h2 class="card-fieldset-title sub-title" translate>
            QUESTIONS
          </h2>

          <!--questions form array-->
          <div cdkDropList
              (cdkDropListDropped)="drop($event)"
              class="drag-list"
              [cdkDropListData]="surveyQuestion.controls"
          >
            <cl-question-form-field *ngFor="let item of surveyQuestion.controls; let i = index;"
                                    cdkDrag
                                    [cdkDragData]="item"
                                    [group]="item"
                                    [formGroup]="surveyQuestion"
                                    [currentIndex]="i"
                                    [clOpenClose]="i"
                                    [level]="level"
                                    (removed)="deleteQuestion($event)"
                                    (changeControl)="updateQuestionType($event)"
            >
              <div class="example-handle" cdkDragHandle>
                <i class="icon drag-icon"></i>
              </div>
            </cl-question-form-field>
          </div>
          <!--end questions form array-->

          <cl-question-type class="btn-add-question"
                            [addQuestionType]="true"
                            (selectTypeQuestion)="choseTypeQuestion($event)"
          >
            <cl-button [classList]="'primary'">
            <span translate>
            ADD_QUESTION
            </span>
            </cl-button>
          </cl-question-type>
        </mat-card>

        <mat-card class="card-fieldset">
          <h2 class="card-fieldset-title sub-title">
            Graphics
          </h2>
          <div class="game-form" *ngIf="color">
            <div class="control-input">
              <mat-form-field color="primary">
                <mat-label>Progress Bar Color</mat-label>
                <mat-select [formControlName]="'color'">
                  <mat-select-trigger>
                    <div class="select-color">
                      <div class="select-color-preview" [ngClass]="color?.value + '-material'">
                      </div>
                      <p class="select-color-text">
                        {{color.value}}
                      </p>
                    </div>
                  </mat-select-trigger>
                  <mat-option [value]="'primary'">
                    <div class="select-color">
                      <div class="select-color-preview primary-material">
                      </div>
                      <span class="select-color-text">
                      Primary
                    </span>
                    </div>
                  </mat-option>
                  <mat-option [value]="'accent'">
                    <div class="select-color">
                      <div class="select-color-preview accent-material">
                      </div>
                      <span class="select-color-text">
                      Accent
                    </span>
                    </div>
                  </mat-option>
                  <mat-option [value]="'warn'">
                    <div class="select-color">
                      <div class="select-color-preview warn-material">
                      </div>
                      <span class="select-color-text">
                      Warn
                    </span>
                    </div>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="control-img_asset">
              <h3 class="card-fieldset-label">
                Card Background
              </h3>
              <div class="game-gift-box_field">
                <cl-select-graphic-wrap
                  *ngIf="surveyData.cardBackground"
                  formControlName="cardBackground"
                  [isRequired]="cardBackground.hasError('required') && cardBackground.touched"
                  [graphicList]="surveyData.cardBackground"
                >
                </cl-select-graphic-wrap>
              </div>
            </div>

            <div class="control-img_asset">
              <h3 class="card-fieldset-label">
                Background
              </h3>
              <div class="game-gift-box_field">
                <cl-select-graphic-wrap
                  *ngIf="surveyData.background"
                  formControlName="background"
                  [isRequired]="background.hasError('required') && background.touched"
                  [graphicList]="surveyData.background"
                >
                </cl-select-graphic-wrap>
              </div>
            </div>
          </div>
        </mat-card>
        <mat-card class="card-fieldset">
          <h2 class="card-fieldset-title sub-title">
            Button
          </h2>
          <div class="messages-form">
            <div class="control-input">
              <mat-form-field class="messages-input">
                <input type="text" [placeholder]="'Button text'" matInput formControlName="buttonText">
                <mat-hint align="end">{{buttonText.value?.length || 0}}/20</mat-hint>
                <mat-error *ngIf="buttonText.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
                <mat-error *ngIf="buttonText.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 2</mat-error>
                <mat-error *ngIf="buttonText.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> 20</mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card>
      </div>
      <cl-simple-mobile-view class="second-tab"
                            [background]=" getImgLink(background, '/assets/images/stamps/card-background/card-bg-1.png')"
                            [mobileImageClass]="'mobile-non-header'"
                            [headerColor]="tenantSettings?.headerColor"
                            [logo]="tenantSettings?.logo"
                            [logoType]="tenantSettings?.logoType"
                            [fontFamily]="tenantSettings?.font"
      >
        <div class="plugin-block">
          <div class="mobile-preview-card"
              [ngStyle]="{
              'background-image': 'url(' + getImgLink(cardBackground, '/assets/images/stamps/card-background/card-bg-1.png') + ')',
              'font-family': tenantSettings?.font
              }"
          >
            <div class="mobile-preview-header">
              <p class="mobile-preview-headline">
                {{headlineMessage?.value}}
              </p>
              <p class="mobile-preview-sub-headline">
                {{subHeadlineMessage?.value}}
              </p>
            </div>
            <perx-core-survey [data]="getQuestionData()"></perx-core-survey>
          </div>

        </div>
        <div class="mobile-preview-btn-wrap mobile-btn-block">
          <button class="mobile-preview-btn"
                  [ngStyle]="{
                    backgroundColor: tenantSettings?.buttonColor,
                    'color': tenantSettings?.buttonTextColor,
                    'font-family': tenantSettings?.font
                  }"
          >
            {{buttonText?.value}}
          </button>
        </div>
      </cl-simple-mobile-view>
    </div>
  </section>
</article>



