@import "variables";

.btn-add-question {
  display: block;
  margin-top: ($vertical-padding * 0.5);
}

cl-question-form-field {
  display: block;
  margin-bottom: ($vertical-padding * 0.5);
  margin-top: 3rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.mobile {
  &-preview-mobile {
    background: url("/assets/images/survey/survey_mobile.png") no-repeat 100% 100%;
  }

  &-preview-card {
    padding-top: 5rem;
    top: 13rem;
  }
}

perx-core-survey {
  pointer-events: none;
}

// preview block
.plugin-block {
  position: relative;
  display: flex;

  .mobile-preview-card {
    position: relative;
    height: 100%;
    max-height: 35rem;
    overflow-y: auto;
    padding: 1.6rem;

    .mobile-preview-header {
      top: 0;
      position: relative;
      margin-bottom: 2rem;
    }

    // perx-core-survey {
    //   pointer-events: all;
    // }
  }
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-button {
  background-color: #fcfcfc;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #172238;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: #fafafa;
}

::-webkit-resizer {
  background-color: #666;
}
