@import "../../theme/mixins/toolbar.scss";

mat-toolbar {
  @include toolbar;

  .title {
    justify-content: center;
  }
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  // padding: 3.3rem;
  flex: 1;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.loc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  color: $dark-grey;
  margin-bottom: 2rem;

  address {
    flex: 1;
  }

  p {
    margin: 0;
  }
}
