<mat-toolbar>
  <mat-toolbar-row>
    <button (click)="back()" class="icon">
      <mat-icon>arrow_backward</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>Location</mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <div class="loc" *ngFor="let loc of locations">
    <div class="address">
      <h1>{{loc.name}}</h1>
      <p>{{loc.address}}</p>
      <p>{{loc.address2}}</p>
    </div>
    <div class="distance" *ngIf="loc.distance">
      <h1>{{loc.distance | distance}}</h1>
    </div>
  </div>
</div>
