<div class="tab-content">
  <div class="forms-container" [formGroup]="form">
    <!--Rewards-->
    <mat-card class="card">
      <cl-new-campaign-rewards-form-group
        [formControl]="form.get('rewardsOptions')"></cl-new-campaign-rewards-form-group>
    </mat-card>
    <!--/ Rewards-->
    <!--limits-->
    <mat-card class="card" formGroupName="limits">
      <div class="card-header">
        <p class="card-title">Play Limits</p>
      </div>
      <div class="card-content">
        <div class="card-row stretch">
          <div>
            <mat-form-field>
              <mat-label class="card-label">Per user</mat-label>
              <input matInput type="number" [min]="1" formControlName="times">
              <span matSuffix>Play</span>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label class="card-label">Per duration</mat-label>
              <mat-select formControlName="duration">
                <mat-option *ngFor="let option of config?.durationLimits"
                            [value]="option?.value">
                  {{option?.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="preview">
    <div class="preview-mobile">
    </div>
  </div>
</div>
