<div class="row">
  <div class="forms-container">
    <mat-card class="rewards-form">
      <div class="row">
        <p class="sub-title">Rewards</p>
        <cl-button class="create-button" classList="invert">+ Create New Template</cl-button>
      </div>
      <div>
        <mat-checkbox (change)="changePropability($event.checked)">Include Probability</mat-checkbox>
      </div>
      <div>
        <cl-reward-item [enableProbability]="enablePropability"></cl-reward-item>
        <cl-reward-item [enableProbability]="enablePropability"></cl-reward-item>
        <cl-reward-item [enableProbability]="enablePropability"></cl-reward-item>
        <cl-reward-item [enableProbability]="enablePropability"></cl-reward-item>
        <cl-reward-item [enableProbability]="enablePropability"></cl-reward-item>
        <cl-reward-item [enableProbability]="enablePropability"></cl-reward-item>
        <mat-error class="error">
          The total probabilty is 150%. Please make it 100%.
        </mat-error>
      </div>
    </mat-card>

    <mat-card class="limits-form">
      <div class="row">
        <h4 class="sub-title">Play Limits</h4>
      </div>
      <div class="row">
        <div>
          <h5>Limit per user</h5>
          <mat-form-field>
            <input matInput type="number" [min]="0">
            <span matSuffix>Play</span>
          </mat-form-field>
        </div>
        <div>
          <h5>Limit per duration</h5>
          <mat-form-field>
            <mat-select>
              <mat-option value="day">Day</mat-option>
              <mat-option value="week">Week</mat-option>
              <mat-option value="month">Month</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="preview">
    <div class="preview-mobile">
    </div>
  </div>
</div>
