<ng-container *ngIf="group">
  <div class="question-form-field" [ngClass]="'question-nested-' + level" [formGroup]="group">

    <div class="question-form-header"
         [ngClass]="{'exist-nested-group': getTypeField()?.value === surveyQuestionType.questionGroup}"
    >
      <cl-question-type class="question-btn-type" [formControlName]="'selectedType'"
                        (selectTypeQuestion)="choseTypeQuestion($event)"
                        [currentIndex]="currentIndex"
                        [level]="level"
      ></cl-question-type>

      <div class="question-text-field__wrap">
        <div class="control-input">
          <mat-form-field class="messages-input" >
            <mat-label><span translate>QUESTION</span></mat-label>
            <input type="text" [placeholder]="'TYPE_YOUR_QUESTION' | translate" matInput formControlName="question">
            <mat-hint align="end">{{question.value?.length || 0}}/128</mat-hint>
            <mat-error *ngIf="question.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
            <mat-error *ngIf="question.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 1</mat-error>
            <mat-error *ngIf="question.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> 128</mat-error>
          </mat-form-field>
        </div>
        <div class="control-input" *ngIf="description.enabled" [ngClass]="{hidden: isActive()}">
          <mat-form-field class="messages-input">
            <input type="text" matInput [placeholder]="'DESCRIPTION' | translate" [formControlName]="'description'">
            <mat-hint align="end">{{description.value?.length || 0}}/{{descriptionFieldMaxLength}}</mat-hint>
            <mat-error *ngIf="description.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
            <mat-error *ngIf="description.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 1</mat-error>
            <mat-error *ngIf="description.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> {{descriptionFieldMaxLength}}</mat-error>
          </mat-form-field>
        </div>

        <div class="nested-form-group"
             *ngIf="getTypeField().value !== surveyQuestionType.questionGroup"
             [ngClass]="{hidden: isActive()}">
          <div clDynamicField
               [currentIndex]="currentIndex"
               [level]="level"
               [group]="group"
               [type]="getTypeField()?.value"
          >
          </div>
        </div>
      </div>

    </div>
    <div class="nested-form-group" *ngIf="getTypeField()?.value === surveyQuestionType.questionGroup" [ngClass]="{hidden: isActive()}">
      <div clDynamicField
           [currentIndex]="currentIndex"
           [level]="level"
           [group]="group"
           [type]="getTypeField()?.value"
      >
      </div>
    </div>

    <div class="question-actions" [ngClass]="{hidden: isActive()}">
      <section class="question-btn-actions">
        <section class="question-btn-section">
          <mat-slide-toggle
            class="question-slide-toggle"
            [color]="'primary'"
            [formControlName]="'required'"
          >
            <span translate>REQUIRED_FIELD</span>
          </mat-slide-toggle>
        </section>

        <section class="question-btn-section">
          <mat-slide-toggle
            class="question-slide-toggle"
            [color]="'primary'"
            [formControl]="descriptionField"
          >
            <span translate>DESCRIPTION</span>
          </mat-slide-toggle>
        </section>
      </section>
      <button class="question-remove cs-btn-transparent" (click)="remove()">
        <i class="icon delete"></i>
      </button>
    </div>

    <div class="wrap-drop-zone">
      <ng-content></ng-content>
    </div>
  </div>
</ng-container>
