<aside class="dialog" role="dialog" aria-labelledby="dialogTitle-engagementConfirm">
  <div class="header-wrap">
    <button class="btn-closed cs-btn-transparent" [mat-dialog-close]="'isCloseButtonTrigger'">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="confirm-body">
    <img class="confirm-img" src="assets/images/engagement-type/engagement-template.png" alt="Engagement Template">
    <h2 class="confirm-header" id="dialogTitle-engagementConfirm">
      {{data?.header || 'Yay! You just created an engagement template!'}}
    </h2>
    <p class="confirm-copy">
      {{data?.description || 'One step to go closer to your customers. Now you can launch a campaign with this.'}}
    </p>
  </div>
  <footer class="dialog-actions"
  >
    <cs-button [classList]="'secondary'"
              class="actions-close"
              (click)="close()"
              [disableRipple]="true"
    >
        <span>
          Launch later
        </span>
    </cs-button>

    <cs-button [classList]="'primary'"
              (click)="close(true)"
              [disableRipple]="true"
    >
        <span>
          Launch now
        </span>
    </cs-button>
  </footer>
</aside>
