@import "variables";

:host {
  display: block;
}

.btn {
  &-closed {
    position: absolute;
    right: ($horizontal-padding * 0.5);
    top: ($vertical-padding * 0.5);
    color: $secondary-color;
  }
}

.header-wrap {
  position: relative;
}

.dialog-body {
  padding: $vertical-padding $horizontal-padding;
}

.description {
  &-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: ($vertical-padding * 0.5) auto;
  }

  &-header {
    @include typo-h6;

    color: $secondary-color;
    text-align: center;
  }

  &-copy {
    @include typo-subtitle1;

    margin: ($vertical-padding * 0.5) auto 0;
    color: $secondary-color;
    text-align: center;
    max-width: 26em; //used ems because this has to do with character length / readability
  }
}
