@import "variables";

:host {
  display: block;
  width: 56rem;
}

.btn {
  &-closed {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    color: $secondary-color;
  }
}

.header-wrap {
  position: relative;
}

.wrap-template-img {
  padding: 3.8rem 0 1.6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  &-header {
    width: 427px;
    font-size: 2rem;
    font-weight: 500;
    color: $secondary-color;
  }

  &-body {
    padding-top: 1.5rem;
    width: 427px;
    font-size: 1.6rem;
    color: $secondary-color;
  }
}

.dialog-actions {
  margin-top: 5rem;
}
