@import "variables";

.tab-item {
  min-height: 9rem;
  margin: 0;
  padding: 1.6rem 2.3rem;
  box-sizing: border-box;
  position: relative;

  &-title {
    @include typo-body1;

    line-height: 2.7rem;
    color: $base-font-color;
    margin-bottom: ($base-font-size / 6);
  }

  &-value {
    @include typo-h5;

    line-height: 2.7rem;
    font-weight: 500;
    color: $base-font-color;
    margin-inline-start: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: -1px;
    width: 0.4rem;
    visibility: hidden;
    background: $primary-color;
  }
}
