<div
  class="container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()"
  [scrollWindow]="false"
>
  <mat-tab-group
    mat-stretch-tabs
    #tabGroup
    (selectedTabChange)="tabChanged($event)"
  >
    <mat-tab label="MyCard">
      <perx-core-loyalty-summary [subTitleFn]="subTitleFn" [summaryExpiringFn]="summaryExpiringFn"></perx-core-loyalty-summary>
      <div class="bc-block">
        <div class="barcode">
          <ngx-barcode [bc-value]="membershipId" [bc-display-value]="true"></ngx-barcode>
        </div>
        <p class="bc-text">Present this code upon purchase at any participating branches.</p>
        <button
          mat-button
          routerLink="existing-card"
          class="bc-question">
          Already Have an Existing Card?
        </button>
      </div>

    </mat-tab>
    <mat-tab label="History">
      <perx-core-loyalty-transactions-list
        [transactions]="transactions$"
        [priceLabelFn]="priceLabelFn"
      >
      </perx-core-loyalty-transactions-list>
      <div *ngIf="!transactionsLoaded" class="spinner-wrapper">
        <mat-spinner
          strokeWidth="2"
          [diameter]="40"
        ></mat-spinner>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
