<div class="rewards-container" *ngIf="savedVouchers || redeemedVouchers; else noRewards">
  <div class="saved-rewards" *ngIf="(savedVouchers | async) as vouchers">
    <h1>Saved rewards</h1>
    <mat-card *ngFor="let voucher of (hideSeeMore ? vouchers : (vouchers | slice:0:defaultNbVouchers))" (click)="voucherSelected(voucher)" matRipple>
      <mat-card-header>
        <img mat-card-avatar [src]="voucher.thumbnailImg">
        <mat-card-title>{{voucher.name}}</mat-card-title>
        <mat-card-subtitle [ngClass]="getTextColorClass(voucher)">{{getNumberOfDays(voucher)}}</mat-card-subtitle>
      </mat-card-header>
      <div class="icon">
        <mat-icon>arrow_forward</mat-icon>
      </div>
    </mat-card>
    <button *ngIf="!hideSeeMore" (click)="seeMoreClicked()">See more</button>
  </div>

  <div class="past-rewards" *ngIf="(redeemedVouchers | async) as vouchers">
    <h1>Past rewards</h1>
    <mat-card *ngFor="let voucher of vouchers">
      <mat-card-header>
        <img mat-card-avatar [src]="voucher.thumbnailImg">
        <mat-card-title>{{voucher.name}}</mat-card-title>
        <mat-card-subtitle>{{voucher.state | titlecase}}</mat-card-subtitle>
      </mat-card-header>
      <div class="disabled-icon">
        <mat-icon>arrow_forward</mat-icon>
      </div>
    </mat-card>
  </div>
  <div class="empty-wallet" *ngIf="!(savedVouchers | async)?.length && !(redeemedVouchers | async)?.length">
    <img src="assets/search.png">
    <h1>It’s empty here</h1>
    <p>Take your pick from our list of rewards. After you’ve saved them, they will appear here.</p>
  </div>
</div>

<ng-template #noRewards>
  <div class="no-rewards">
    <div class="container">
      <img src="assets/no-reward.png" alt="">
      <p class="title">No Reward yet!</p>
      <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</p>
    </div>
  </div>
</ng-template>