@import '../../icon.scss';

button {
  background: rgba(255, 255, 255, 0);
  border: 1px solid #6dc00e;
  box-sizing: border-box;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.8rem;
  height: 5rem;
  width: 100%;
  color: #666666;
}

.icon {
  @include icon(3.2rem);
}

.disabled-icon {
  @include icon(3.2rem, #D4D4D4, white);
}

h1 {
  color: #666666;
}

.mat-card {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.mat-card-header {
  vertical-align: middle;
  align-items: center;
  flex: 1;

  .mat-card-title {
    margin-bottom: 0;
  }
}

.rewards-container {
  padding: 0 1.5rem;

  .empty-wallet {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.6rem;
      text-align: center;
      color: #666666;
    }
  }
}

.past-rewards {
  margin-top: 3rem;
}

.no-rewards {
  text-align: center;
  padding: 0 1.5rem;
  margin-top: 4rem;

  p.title {
    color: #666666;
    font-size: 2.5rem;
    margin-top: 0;
  }

  p.sub-title {
    color: #666666;
    font-size: 1.6rem;
  }
}
