<div class="rewards-container"  
  infiniteScroll 
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500" 
  (scrolled)="onScroll()" 
  [scrollWindow]="false">
  <div class="past-rewards" *ngIf="(redeemedVouchers | async) as vouchers">
    <h1 *ngIf="vouchers.length > 0">Past rewards</h1>
    <mat-card *ngFor="let voucher of vouchers" (click)="voucherSelected(voucher)" matRipple>
      <img mat-card-avatar [src]="voucher.reward.merchantImg" *ngIf="voucher.reward.merchantImg">
      <mat-card-header>
        <mat-card-title *ngIf="voucher.reward.name">
          {{(voucher.reward.name.length > 35) ? (voucher.reward.name | slice:0:35)+'...' : (voucher.reward.name)}}
        </mat-card-title>
        <mat-card-subtitle>{{voucher.state | titlecase}}</mat-card-subtitle>
      </mat-card-header>
      <div class="disabled-icon">
        <img src="assets/forward-disabled-arrow.svg" alt="">
      </div>
    </mat-card>
  </div>
  <div class="saved-rewards" *ngIf="(issuedVoucher | async) as vouchers">
    <h1 *ngIf="vouchers.length > 0">Saved rewards</h1>
    <mat-card
      *ngFor="let voucher of ((hideSeeMore || (vouchers.length <= defaultNbVouchers)) ? vouchers : (vouchers | slice:0:defaultNbVouchers))"
      (click)="voucherSelected(voucher)" matRipple>
      <img mat-card-avatar [src]="voucher.reward.merchantImg" *ngIf="voucher.reward.merchantImg">
      <mat-card-header>
        <mat-card-title *ngIf="voucher.reward.name">
          {{(voucher.reward.name.length > 35) ? (voucher.reward.name | slice:0:35)+'...' : (voucher.reward.name)}}
        </mat-card-title>
        <mat-card-subtitle [ngClass]="getTextColorClass(voucher)">{{getNumberOfDays(voucher)}}</mat-card-subtitle>
      </mat-card-header>
      <div class="accessory" *ngIf="voucher.accessoryImage">
        <img [src]="voucher.accessoryImage" alt="">
      </div>
      <div class="icon">
        <img src="assets/forward-arrow.svg" alt="">
      </div>

    </mat-card>
    <button *ngIf="!hideSeeMore && (vouchers.length > defaultNbVouchers)" (click)="seeMoreClicked()">See more</button>
  </div>


  <div class="empty-wallet" *ngIf="!(issuedVoucher | async)?.length && !(redeemedVouchers | async)?.length">
    <img src="assets/search.png">
    <h1>It’s empty here</h1>
    <p>Take your pick from our list of rewards. After you’ve saved them, they will appear here.</p>
  </div>
</div>
