<div class="user-info">
  <div class="user-info-name-container">
    <p class="user-info-name">
      {{user?.first_name}} {{user?.last_name}}
    </p>
  </div>
  <div class="user-info-list">
    <div class="user-info-item">
      <div class="control-input">
        <mat-form-field>
          <input matInput placeholder="ID" value="#{{user?.id}}" disabled>
        </mat-form-field>
      </div>
    </div>

    <div class="user-info-item">
      <div class="control-input">
        <mat-form-field>
          <input matInput placeholder="Contact no." value="{{user?.phone_number || '-' }}" disabled>
        </mat-form-field>
      </div>
    </div>

    <div class="user-info-item">
      <div class="control-input">
        <mat-form-field>
          <input matInput placeholder="Race" value="{{user?.race || '-' }}" disabled>
        </mat-form-field>
      </div>
    </div>

    <div class="user-info-item">
      <div class="control-input">
        <mat-form-field>
          <input matInput placeholder="Country" value="{{user?.country || '-' }}" disabled>
        </mat-form-field>
      </div>
    </div>

    <div class="user-info-item">
      <div class="control-input">
        <mat-form-field>
          <input matInput placeholder="State" value="{{user?.state || '-' }}" disabled>
        </mat-form-field>
      </div>
    </div>

    <div class="user-info-item">
      <div class="control-input">
        <mat-form-field>
          <input matInput placeholder="Email" value="{{user?.email_address || '-'}}" disabled>
        </mat-form-field>
      </div>
    </div>

    <div class="user-info-item">
      <div class="control-input">
        <mat-form-field>
          <input matInput placeholder="Birthday" value="{{user?.birthday || '-' }}" disabled>
        </mat-form-field>
      </div>
    </div>

    <div class="user-info-item">
      <div class="control-input">
        <mat-form-field>
          <input matInput placeholder="Gender" value="{{user?.gender || '-' }}" disabled>
        </mat-form-field>
      </div>
    </div>

    <div class="user-info-item">
      <div class="control-input">
        <mat-form-field>
          <input matInput placeholder="City" value="{{user?.city || '-' }}" disabled>
        </mat-form-field>
      </div>
    </div>

    <div class="user-info-item">
      <div class="control-input">
        <mat-form-field>
          <input matInput placeholder="Audience list" value="{{ user?.pools || '-' }}" disabled>
        </mat-form-field>
      </div>
<!--
      <p class="user-info-item-value">
        <span *ngIf="user?.pools?.length < 1"> - </span>
      </p>
-->
    </div>
  </div>
</div>
