<div class="user-info">
  <div class="user-info-name-container">
    <p class="user-info-name">
      {{user?.first_name}} {{user?.last_name}}
    </p>
  </div>
  <div class="user-info-list">

    <div class="user-info-item">
      <p class="user-info-item-title">
        ID
      </p>
      <p class="user-info-item-value">
        #{{user?.id}}
      </p>
    </div>

    <div class="user-info-item">
      <p class="user-info-item-title">
        Contact no.
      </p>
      <a class="user-info-item-value" [href]="'tel:' + user?.phone_number">
        {{user?.phone_number || '-' }}
      </a>
    </div>

    <div class="user-info-item">
      <p class="user-info-item-title">
        Race
      </p>
      <p class="user-info-item-value">
        {{user?.race || '-' }}
      </p>
    </div>

    <div class="user-info-item">
      <p class="user-info-item-title">
        Country
      </p>
      <p class="user-info-item-value">
        {{user?.country || '-' }}
      </p>
    </div>

    <div class="user-info-item">
      <p class="user-info-item-title">
        State
      </p>
      <p class="user-info-item-value">
        {{user?.state || '-' }}
      </p>
    </div>

    <div class="user-info-item">
      <p class="user-info-item-title">
        Email
      </p>
      <a class="user-info-item-value" [href]="'mailto:' + user?.email_address">
        {{user?.email_address || '-'}}
      </a>
    </div>

    <div class="user-info-item">
      <p class="user-info-item-title">
        Birthday
      </p>
      <p class="user-info-item-value">
        {{user?.birthday || '-' }}
      </p>
    </div>

    <div class="user-info-item">
      <p class="user-info-item-title">
        Gender
      </p>
      <p class="user-info-item-value">
        {{user?.gender || '-' }}
      </p>
    </div>

    <div class="user-info-item">
      <p class="user-info-item-title">
        City
      </p>
      <p class="user-info-item-value">
        {{user?.city || '-' }}
      </p>
    </div>

    <div class="user-info-item">
      <p class="user-info-item-title">
        Audience list
      </p>
      <p class="user-info-item-value">
        {{user?.audienceList || '-' }}
      </p>
    </div>
  </div>
</div>
