@import "variables";

.user-info {
  position: relative;
  padding: $vertical-padding $horizontal-padding 0.8rem;

  &-name-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 2.9rem 0;
  }

  &-name {
    @include typo-h5;

    color: $base-font-color;
  }

  &-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    margin: 0 -1rem;
  }

  &-item {
    min-width: 20rem;
    width: 0;
    flex: auto;
    padding: 0 1rem;
  }

  .control-link {
    cursor: auto;
  }
}
