<div class="loyalty-item">
  <div class="loyalty-item-img-container">
    <img class="loyalty-item-img"
      *ngIf="data?.tier?.imageUrl"
      [src]="data?.tier?.imageUrl"
      [alt]="'AUDIENCE_FEATURE.PROGRAM_PICTURE' | translate">
  </div>
  <div class="loyalty-item-info">
    <p class="loyalty-item-name">{{data?.loyalty?.name}} | {{data?.tier?.name}}</p>
    <p class="loyalty-item-group">{{'AUDIENCE_FEATURE.POINTS_BALANCE' | translate}}: {{data?.balance}}</p>
    <p class="loyalty-item-group">{{'AUDIENCE_FEATURE.POINTS_TO_NEXT_TIER' | translate}}: {{pointsToNextTier}}</p>
  </div>
  <div class="loyalty-item-actions" *ngIf="menuOptions.length > 0">
    <button mat-button [matMenuTriggerFor]="menu" class="btn-icon" aria-label="Loyalty program menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let action of menuOptions"
        (click)="tapped(action)">{{action.label | translate}}</button>
    </mat-menu>
  </div>
</div>
