<div class="login-wrap">
  <div class="col-login-form">
    <cl-logo class="logo-link"></cl-logo>
    <cl-login-form></cl-login-form>
    <!-- https://perxtechnologies.atlassian.net/browse/PW-1566
      <div class="router-actions">
      <cl-button [classList]="'tertiary ph-0'">
        <span>Forgot password?</span>
      </cl-button>
    </div> -->
    <small class="copyright" translate>
      LOGIN_PAGE.COPYRIGHT
    </small>
  </div>
  <div class="col-customer-info">
    <h1 class="customer-info-title" translate>
      LOGIN_PAGE.MAIN_TITLE
    </h1>
    <p class="customer-info-description" translate>
      LOGIN_PAGE.MAIN_DESCRIPTION
    </p>
    <div class="customer-info-picture">
      <img src="assets/images/login/customers_engagement.png" alt="Customer Engagement">
    </div>
  </div>
</div>
