@import "./variables";

.login-wrap {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.col {
  &-login-form {
    width: 43.1rem;
    min-height: 100vh;
    height: 100%;
    padding-left: $horizontal-content-padding;
    padding-right: $horizontal-content-padding;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
  }

  &-customer-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    background: $background-color;
    padding: ($vertical-content-padding * 2) $horizontal-content-padding $vertical-content-padding;
    text-align: center;
  }
}

.router-actions {
  margin-top: .8rem;
  margin-left: -2rem;
}

.copyright {
  @include typo-caption;

  margin-top: ($vertical-content-padding * 2);
  margin-bottom: 1rem;
}

.customer-info {
  &-title {
    @include typo-h3;

    color: $secondary-color;
    margin: 0 0 ($vertical-content-padding / 2);
    justify-self: flex-start;
  }

  &-description {
    @include typo-body1;

    color: $secondary-color;
    max-width: 40em; //this has to be in `em`s because paragraph width should be relative to font-size
    margin: 0 auto ($vertical-content-padding * 1.5);
  }

  &-picture {
    width: 100%;
    max-width: 58.1rem;
    height: auto;
    margin: 0 auto;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

cl-logo {
  padding-top: $vertical-content-padding;

}

cl-login-form {
  padding-top: $vertical-content-padding * 2;
}

cl-button {
  display: block;
}

@import "resize";
