<div class="login-wrap">
  <div class="col-login-form">
    <cl-logo class="logo-link"></cl-logo>
    <cl-login-form></cl-login-form>
    <div class="router-actions">
      <cl-button [classList]="'tertiary ph-0'"
                 [disableRipple]="true"
      >
        <span>
          Forgot password?
        </span>
      </cl-button>
    </div>
    <small class="copyright">
      &copy; 2019 Perx Techologies. All rights reserved.
    </small>
  </div>
  <div class="col-customer-info">
    <h1 class="customer-info-title">
      Customer engagement made easy
    </h1>
    <p class="customer-info-description">
      Perx is now equipped with more robust features like gamified campaigns,
      rewards, merchant and customer segmentation with an advanced A.I. technology.
    </p>
    <div class="customer-info-picture">
      <img src="assets/images/customers_engagement.png" alt="customer">
    </div>
  </div>
</div>
