@import "variables";

.merchant-item {
  width: 100%;
  height: 8.2rem;
  box-sizing: border-box;
  padding: 1.5rem 2.4rem;
  border-radius: 4px;
  background-color: $simple-light-gray;
  color: $base-font-color;
  font-family: $primary-font;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: stretch;

  &-img {
    position: relative;
    height: 5rem;
    width: 5rem;

    & > img {
      height: 100%;
      width: 100%;
    }
  }

  &-info {
    padding-left: 3.8rem;
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &-action {
    box-sizing: border-box;
    padding: 0.5rem;
  }
}
