.logo-area {
  justify-content: center;
  display: flex;
}

.top-text {
  p {
    color: #fff;
    text-align: center;
  }

  p.title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0;
  }

  p.sub-title {
    font-size: 1.8rem;
  }

  p.sub-sub-title {
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 3rem 3rem 0 3rem;
  }
}
