<div class="container">
  <header class="header">
    <img class="header-logo" src="assets/images/logo.png" alt="">
    <h1 class="header-title">Home + Shop</h1>
  </header>

  <mat-card>
    <h2 class="sign-up">{{"SIGN_UP_PAGE.REGISTER" | translate}}</h2>
    <a class="register-message" [routerLink]="'/login'">{{"SIGN_UP_PAGE.ALREADY_HAVE_ACCOUNT" | translate}}</a>

    <hkbn-registration-form [countryCodes]="countryCodes" (formSubmit)="submitHandler($event)"></hkbn-registration-form>
  </mat-card>
</div>
