@import "./variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

mat-sidenav-container.mat-drawer-container {
  z-index: 3;
}

.container {
  width: 100%;
  // height: 100%;
  // padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 50rem;
}

.bg-white {
  background: $white;
}

.text-white {
  color: $white;
}

.full-height {
  height: 100%;
}

.warn {
  background: #ffc832;
}

.disclamair a {
  color: #02b9a5;
}

.mat-raised-button {
  height: 4.4rem;
}

.mat-dialog-container {
  padding: 2.4rem 1.6rem !important;
}
