<section class="create-merchant-form" [formGroup]="formMerchant">
  <div class="merchant-form">
    <div class="control-input merchant-upload-img">
      <cl-upload-graphic [formControl]="image">
        <span>+ Add Image</span>
      </cl-upload-graphic>
    </div>
    <div class="control-input merchant-name" *ngIf="settings.shoveName">
      <mat-form-field class="mat-form-field">
      <input type="text" matInput [placeholder]="'Merchant Name'" [formControl]="name">
      <mat-hint align="end">{{name.value?.length || 0}}/60</mat-hint>
      <mat-error *ngIf="name.hasError('required')">Required field</mat-error>
      <mat-error *ngIf="name.hasError('minlength')">Min length 5</mat-error>
      <mat-error *ngIf="name.hasError('maxlength')">Max length 60</mat-error>
      </mat-form-field>
    </div>

    <div class="control-input merchant-description"
         [ngClass]="{'merchant-name':  !(settings.shoveName)}"
    >
      <mat-form-field class="mat-form-field" appearance="outline">
        <textarea type="text" matInput [placeholder]="'Description'" [formControlName]="'description'"></textarea>
        <mat-hint align="end">{{name.value?.length || 0}}/120</mat-hint>
        <mat-error *ngIf="name.hasError('required')">Required field</mat-error>
        <mat-error *ngIf="name.hasError('minlength')">Min length 5</mat-error>
        <mat-error *ngIf="name.hasError('maxlength')">Max length 120</mat-error>
      </mat-form-field>
    </div>

    <div class="merchant-control-row">
      <div class="control-input">
        <mat-form-field>
          <mat-label>Default Country Code</mat-label>
          <mat-select [formControlName]="'countryCode'">
            <mat-option *ngFor="let country of countriesList$ | async" [value]="country.phone">
              <span>{{country.name}}&nbsp;</span>
              <span>{{country.phone}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="control-input">
        <mat-form-field class="mat-form-field">
          <input type="text" matInput [placeholder]="'Contact number'" [formControlName]="'contactNumber'">
        </mat-form-field>
      </div>
    </div>
    </div>
</section>


