@import "variables";

.merchant {
  &-upload-img {
    margin-bottom: 2rem;
  }

  &-name {
    margin-top: 5rem;
  }

  &-control-row {
    display: flex;

    .control-input.small {
      width: 0;
      flex: auto;
      margin-right: ($horizontal-padding * 0.75);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-branch {
    margin-top: 1.6rem;
    margin-bottom: 2.7rem;
  }
}

cl-merchant-branch {
  margin-bottom: 0.8rem;

  &:last-child {
    margin-bottom: 0;
  }
}

cs-button {
  margin-top: 1.6rem;
}
