<div class="page">
  <form [formGroup]="passwordChangeForm">
    <mat-form-field appearance="fill" class="full-width__input">
      <mat-label>Enter current PIN</mat-label>
      <input matInput placeholder="Enter current PIN" formControlName="newPassword">
      <mat-error *ngIf="false">
        Current PIN is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width__input">
      <mat-label>Enter new PIN</mat-label>
      <input matInput placeholder="Enter new PIN" formControlName="passwordConfirmation">
      <mat-error *ngIf="false">
        New PIN is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width__input">
      <mat-label>Confirm new PIN</mat-label>
      <input matInput placeholder="Confirm new PIN" formControlName="oldPassword">
      <mat-error *ngIf="false">
        Confirm PIN is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button class="full-width__input" mat-flat-button>Save</button>
  </form>
</div>
