<div class="page">
  <div class="additions">
    <p class="main-title">FAQs</p>
    <div class="group">
      <p class="title">MEMBERSHIP:</p>
      <p class="question">What is PLUS! Rewards Digital Program?</p>
      <p class="text">PLUS! Rewards Digital is an upgraded loyalty program that rewards shoppers everytime they buy in
        Abenson, Electroworld, Waltermart Supermarket, W Department Store, abensonHOME, Homeplus, SB Furniture, and
        Habitat.</p>
      <p class="question">Who can apply for a PLUS! Rewards Digital account?</p>
      <p class="text">Applicant must be above 18 years old and a non-corporate account customer. Existing PLUS! Card
        holder can also apply and link their accounts by signing up at www.plus.com.ph and filling out the PLUS! Card
        no.
        field.</p>
      <p class="question">How long does my membership last?</p>
      <p class="text">Your PLUS! Rewards Digital account will be valid for a period of two (2) years, given that a
        record
        purchase is made within the said duration.</p>
    </div>
    <div class="group">
      <p class="title">POINTS EARNING:</p>
      <p class="question">How do I earn points?</p>
      <p class="text">Present your PLUS! Rewards digital card to the cashier before any purchase transaction at any
        participating establishments. Each P500 purchase equals 10 points or P1 ECash.</p>
      <p class="question">I spent less than the minimum required amount of P500, do I earn points?</p>
      <p class="text">Yes you will still earn points but at the rounded down value. Eg. You purchase a P499 transaction,
        the 9.98 points is rounded down to 9 points or P0.90 ECash.
      </p>
      <p class="question">If I am an existing PLUS! Card holder, can I still use my points earned from my previous
        membership?</p>
      <p class="text">Yes, previous points earned from the old PLUS! Program will be credited to the new PLUS! Rewards
        Digital Account once you sign up to www.plus.com.ph and fills out the PLUS! Card no. field.</p>
      <p class="question">I don’t have an internet connection, can I still earn points?</p>
      <p class="text">Yes you can still earn points by keeping a screenshot of your digital account. You may present
        your
        digital account barcode to the cashier before any purchase transaction.</p>
    </div>
    <div class="group">
      <p class="title">POINTS REDEMPTION:</p>
      <p class="question">How can I use my points to pay for my purchase?</p>
      <p class="text">PLUS! Rewards points has an equivalent ECash value that can be used to pay for any purchase at
        participating establishments. A minimum balance of P100 ECash is needed to start redeeming.</p>
      <p class="question">When can I start using my points for redemption?</p>
      <p class="text">You may start redeeming your ECash once it has a balance of P100. You may pay any amount purchased
        using your ECash balance.</p>
      <p class="question">Can other people redeem my points?</p>
      <p class="text">No, in order to ensure the validity of redemptions, other people can not redeem your points. </p>
    </div>
    <div class="group">
      <p class="title">CARD SECURITY & PIN:</p>
      <p class="question">How do I change my pin code?</p>
      <p class="text">Under the “MY ACCOUNT” Tab, choose the “Change Pin Code” Option. You will be asked for the new pin
        code and a One Time Pin will be sent to you registered number. </p>
      <p class="question">What do I do if I forget my pin code?</p>
      <p class="text">Click on the “Forgot Pin” found on the sign up page. A prompt to enter your mobile number will
        appear. An OTP will be sent to the registered mobile number to reset the password.</p>
    </div>
    <div class="group">
      <p class="title">CHANGE OF MOBILE NUMBER:</p>
      <p class="question">What do I do if I lost my mobile number registered in plus.com.ph?</p>
      <p class="text">Members may contact PLUS! Rewards customer care hotline at 0917-1117587 and 8921-0888 from 9:00AM
        to
        6:00PM, Monday to Saturday.</p>
    </div>
    <div class="group">
      <p class="title">CHANGE SURNAME & STATUS:</p>
      <p class="question">How can I update my profile details?</p>
      <p class="text">Under the “MY ACCOUNT” Tab, choose “Profile” Option. You may now start updating your profile.</p>
    </div>
    <div class="group-email">
      <p>For other inquiries, contact:</p>
      <p class="question">Customer Care</p>
      <div class="flex">
        <div>Contact No.:</div>
        <div>0917-1117587 and 8921-0888</div>
      </div>
      <div class="flex">
        <div>Email:</div>
        <a href="mailto:care@plus.com.ph">care@plus.com.ph</a>
      </div>
      <div class="flex">
        <div>Operating Hours: </div>
        <div>9:00AM to 4:00PM</div>
      </div>
      <div class="flex">
        <div></div>
        <div>Monday to Saturday</div>
      </div>
    </div>
    <div class="footer">PLUS! Rewards FAQ Series of 2019 Version 1</div>
  </div>
</div>
