<div class="table-wrap">
  <table class="table" mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="rewardName" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header="source_id" class="column-featured">
        {{'AUDIENCE_FEATURE.REWARD_NAME' | translate}}</th>
      <td mat-cell *matCellDef="let element" class="column-featured">
        <a class="name-cell" [routerLink]="['/rewards','detail', element?.reward?.id]">
          <span class="name-cell_">{{element?.reward?.name}}</span>
          <span class="name-cell__id">ID: {{element?.reward?.id}}</span>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="merchant">
      <th mat-header-cell *matHeaderCellDef>{{'AUDIENCE_FEATURE.MERCHANT' | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element?.reward?.merchantName}} </td>
    </ng-container>

    <ng-container matColumnDef="issuedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="start_date" class="column-date">
        {{'AUDIENCE_FEATURE.ISSUED_DATE' | translate}}</th>
      <td mat-cell *matCellDef="let element" class="column-date">
        <ng-container *ngIf="element?.issuedDate">
          {{element?.issuedDate | date: DATE_FORMAT}}
          <time class="name-cell__sub">{{element?.issuedDate | date: TIME_FORMAT}}</time>
        </ng-container>
        <span *ngIf="!element?.issuedDate">-</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="expiryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="end_date" class="column-date">
        {{'AUDIENCE_FEATURE.EXPIRY_DATE' | translate}}</th>
      <td mat-cell *matCellDef="let element" class="column-date">
        <ng-container *ngIf="element?.expiryDate">
          {{element?.expiryDate | date: DATE_FORMAT}}
          <time class="name-cell__sub">{{element?.expiryDate | date: TIME_FORMAT}}</time>
        </ng-container>
        <span *ngIf="!element?.expiryDate">-</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="campaign">
      <th mat-header-cell *matHeaderCellDef>{{'AUDIENCE_FEATURE.CAMPAIGN' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <div class="name-cell">
          <span class="name-cell_">{{element?.campaignName}}</span>
          <span class="name-cell__sub">{{element?.campaignType}}</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="redemptionType">
      <th mat-header-cell *matHeaderCellDef>{{'AUDIENCE_FEATURE.REDEMPTION_TYPE' | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element?.redemptionType}}</td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef class="column-menu"></th>
      <td mat-cell *matCellDef="let element" class="column-menu">
        <button mat-icon-button [matMenuTriggerFor]="itemMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #itemMenu="matMenu">
          <button mat-menu-item
            (click)="changeExpiryDate(element)">{{'AUDIENCE_FEATURE.CHANGE_EXPIRY_DATE' | translate}}</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
