<!--Single code-->
<ng-container *ngIf="data?.voucherCode?.type === 'single_code' && data?.voucherCode?.singleCode?.code">
  <label class="card-label">
    {{'VOUCHER_CODE_TYPE'| translate}}
  </label>
  <p>
    {{'SINGLE_CODE'| translate}}
  </p>
  <p class="card-value">{{data?.voucherCode?.singleCode?.code}}</p>
</ng-container>
<!--/ Single code-->

<!--Unique codes: System generated-->
<ng-container *ngIf="data?.voucherCode?.type === 'system_generated'">
  <label class="card-label">
    {{'VOUCHER_CODE_TYPE'| translate}}
  </label>
  <p>{{'VOUCHER_CODE_OPTIONS.UNIQUE_CODES:_SYSTEM_GENERATED' | translate}}</p>
  <p class="card-value">{{data?.voucherCode?.uniqueGeneratedCode?.prefix}} ({{data?.voucherCode?.uniqueGeneratedCode?.codeFormat}})</p>
  <!-- <cs-download-button [link]="data?.voucherCode?.uniqueGeneratedCode?.file">Download voucher codes</cs-download-button> -->
</ng-container>
<!--/ Unique codes: System generated-->

<!--Merchant PIN-->
<ng-container *ngIf="data?.voucherCode?.merchantPIN">
  <label class="card-label">
    {{'MERCHANT_PIN' | translate}}
  </label>
  <p class="card-value">{{data?.voucherCode?.merchantPIN.code}}</p>
</ng-container>
<!--/ Merchant PIN-->

<!--Voucher Validity-->
<div *ngIf="data?.voucherValidity" class="card-section">
  <div class="card-header">
    <h2 class="card-title">
      {{'VOUCHER_VALIDITY' | translate}}
    </h2>
  </div>
  <div class="card-content">
    <time class="card-value" *ngIf="data?.voucherValidity?.type === 'period'">
      <span>{{data?.voucherValidity?.period?.startDate | date: DATE_FORMAT}}
        <span *ngIf="data?.voucherValidity?.period?.endDate">- {{data?.voucherValidity?.period?.endDate | date: DATE_FORMAT}}</span>
      </span>
    </time>
    <p class="card-value" *ngIf="data?.voucherValidity?.type === 'issuance_date'">
      {{'VALID_FOR' | translate}}
      {{data?.voucherValidity?.issuanceDate?.times}}
      {{data?.voucherValidity?.issuanceDate?.duration}}
      <!--{{data?.voucherValidity?.issuanceDate?.times > 1 ? 's' : ''}}-->
      {{'AFTER_ISSUANCE' | translate}}
    </p>
  </div>
</div>
<!--/ Voucher Validity-->
