<div class="login-form-wrap">
  <div class="login-form-title" translate>
    LOGIN_PAGE.TITLE
  </div>

  <form class="login-form"
    [formGroup]="formLogin"
    (ngSubmit)="onSubmit()"
    id="login-form">
    <div class="login-form-control">
      <mat-error *ngIf="incorrectInfo" translate>ERROR_WRONG_CREDENTIALS</mat-error>
    </div>
    <div class="login-form-control">
      <mat-form-field>
        <input matInput formControlName="username" [placeholder]="'LOGIN_PAGE.USER_NAME' | translate">
        <mat-error *ngIf="username?.hasError('required')" translate>ERROR_REQUIRED</mat-error>
      </mat-form-field>
    </div>
    <div class="login-form-control">
      <mat-form-field>
        <input matInput formControlName="password" [placeholder]="'LOGIN_PAGE.PASSWORD' | translate"
          [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="password?.hasError('required')" translate>ERROR_REQUIRED</mat-error>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </div>

    <div class="login-form-action">
      <cs-button [formId]="'login-form'"
        [classList]="'primary btn-block'"
        [disable]="formLogin.invalid"
        class="btn-block">
        <span translate>
          LOGIN_PAGE.LOGIN_BUTTON
        </span>
      </cs-button>
    </div>

    <div class="login-form-action">
      <cs-button (click)="onForget()"
        [classList]="'tertiary ph-0'">
        <span>
          Forget Password
        </span>
      </cs-button>
    </div>
  </form>
</div>
