<ng-container *ngIf="formGroup.get('merchantPIN').disabled">
  <label class="card-label">Voucher Code Type</label>
  <!--Voucher Code Type-->
  <div class="card-row radio-group-row">
    <mat-radio-group [formControl]="formGroup.get('type')">
      <ng-container *ngFor="let type of config?.voucherCodeTypes">
        <mat-radio-button [value]="type?.value">{{type?.title}}</mat-radio-button>
      </ng-container>
    </mat-radio-group>
  </div>
  <!--/Voucher Code Type-->

  <!--Voucher Single Code-->
  <mat-form-field
    *ngIf="formGroup.get('singleCode').enabled && (redemptionType === 'QR Code' || redemptionType === 'Promo Code')">
    <input
      type="text"
      min="0"
      step="1"
      matInput
      placeholder="eg. JKHJHJ"
      [formControl]="formGroup.get('singleCode.code')">
  </mat-form-field>

  <mat-form-field *ngIf="formGroup.get('singleCode').enabled && redemptionType === 'Bar Code'">
    <input
      type="text"
      min="0"
      step="1"
      matInput
      placeholder="eg.1234567890000"
      [formControl]="formGroup.get('singleCode.code')">
    <mat-hint>12 Digits only</mat-hint>
  </mat-form-field>
  <!--/ Voucher Single Code-->
  <!-- Unique codes: System generated-->
  <div class="card-row" *ngIf="formGroup.get('uniqueGeneratedCode').enabled">
    <mat-form-field>
      <input
        type="text"
        minlength="2"
        maxlength="6"
        matInput
        [placeholder]="codePlaceholder"
        [formControl]="formGroup.get('uniqueGeneratedCode.prefix')">
    </mat-form-field>
    <mat-form-field>
      <input
        type="number"
        min="4"
        max="10"
        step="1"
        matInput
        placeholder="Length of code (Min.4 - Max.10)"
        [formControl]="formGroup.get('uniqueGeneratedCode.length')">
    </mat-form-field>
    <mat-form-field>
      <mat-select [formControl]="formGroup.get('uniqueGeneratedCode.codeFormat')" placeholder="Code format">
        <ng-container *ngFor="let option of config?.voucherCodeFormat">
          <mat-option [value]="option?.value">{{option?.title}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <!--/ Unique codes: System generated-->

  <!--Unique codes: User upload-->
  <div *ngIf="formGroup.get('uniqueUserUploadCode').enabled">
    <cl-upload-file [formControl]="formGroup.get('uniqueUserUploadCode.file')"
                    (uploadFile)="setTotalVoucher(20000)"
                    (deleteFile)="setTotalVoucher(null)">
    </cl-upload-file>
    <div class="code-preview" *ngIf="formGroup.get('total').value">
      <label class="dialog-content-title">Total Number of Voucher</label>
      <p class="code-preview-value">
        {{formGroup.get('total').value | number: '2.'}}
      </p>
    </div>
  </div>
  <!-- /Unique codes: User upload-->
</ng-container>

<!--Merchant PIN-->
<ng-container *ngIf="formGroup.get('merchantPIN').enabled">
  <div class="card-row">
    <mat-form-field>
      <input
        type="text"
        minlenght="2"
        maxlength="6"
        step="1"
        matInput
        placeholder="Merchant PIN"
        [formControl]="formGroup.get('merchantPIN.code')">
    </mat-form-field>
  </div>
</ng-container>
<!--   /   Merchant PIN-->

<ng-container *ngIf="formGroup.get('type').value !== 'Unique codes: User upload'">
  <div class="code-preview">
    <label class="card-label">Total Number of Voucher</label>
    <mat-form-field class="dialog-content-block">
      <input
        type="number"
        min="0"
        max="50000"
        step="1"
        matInput
        [formControl]="formGroup.get('total')">
    </mat-form-field>
  </div>
</ng-container>
<!--/ Total Number of Voucher-->
