<ng-container>
  <label class="card-label" translate>VOUCHER_CODE_TYPE</label>

  <!--Voucher Code Type-->
  <div class="card-row radio-group-row" *ngIf="redemptionType !== 'Merchant PIN'">
    <mat-radio-group color="primary" [formControl]="formGroup.get('type')">
      <ng-container *ngFor="let type of config?.voucherCodeTypes">
        <mat-radio-button [value]="type?.value">{{type?.title | translate}}</mat-radio-button>
      </ng-container>
    </mat-radio-group>
  </div>
  <!--/Voucher Code Type-->

  <!--Voucher Single Code-->
  <mat-form-field *ngIf="redemptionType === rt.merchantPin">
    <input
      type="text"
      minlenght="2"
      maxlength="6"
      step="1"
      matInput
      [placeholder]="'MERCHANT_PIN' | translate"
      [formControl]="formGroup.get('singleCode.code')">
  </mat-form-field>

  <mat-form-field
    *ngIf="formGroup.get('singleCode').enabled && (redemptionType === rt.qrCode || redemptionType === rt.promoCode) && formGroup.get('uniqueGeneratedCode').disabled">
    <input
      type="text"
      min="0"
      step="1"
      matInput
      [placeholder]="'EG._JKHJHJ' | translate"
      [formControl]="formGroup.get('singleCode.code')">
  </mat-form-field>

  <mat-form-field
    *ngIf="formGroup.get('singleCode').enabled && redemptionType === rt.barCode && formGroup.get('uniqueGeneratedCode').disabled">
    <input
      type="number"
      min="0"
      step="1"
      matInput
      [placeholder]="'EG._123' | translate"
      [formControl]="formGroup.get('singleCode.code')">
    <mat-hint>12 Digits only</mat-hint>
  </mat-form-field>
  <!--/ Voucher Single Code-->

  <!-- Unique codes: System generated-->
  <div class="card-row" *ngIf="formGroup.get('uniqueGeneratedCode').enabled && formGroup.get('singleCode').disabled">
    <mat-form-field>
      <input
        type="text"
        minlength="2"
        maxlength="6"
        matInput
        [placeholder]="codePlaceholder"
        [formControl]="formGroup.get('uniqueGeneratedCode.prefix')">
    </mat-form-field>
    <mat-form-field>
      <input
        type="number"
        min="4"
        max="10"
        step="1"
        matInput
        placeholder="Length of code (Min.4 - Max.10)"
        [formControl]="formGroup.get('uniqueGeneratedCode.length')">
    </mat-form-field>
    <mat-form-field>
      <mat-select [formControl]="formGroup.get('uniqueGeneratedCode.codeFormat')"
        [placeholder]="'CODE_FORMAT' | translate">
        <ng-container *ngFor="let option of config?.voucherCodeFormat">
          <mat-option [value]="option?.value">{{option?.title}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <!--/ Unique codes: System generated-->

</ng-container>

<!--Merchant PIN-->
<!-- <ng-container *ngIf="formGroup.get('merchantPIN').enabled">
  <div class="card-row">
    <mat-form-field>
      <input
        type="text"
        minlenght="2"
        maxlength="6"
        step="1"
        matInput
        placeholder="Merchant PIN"
        [formControl]="formGroup.get('merchantPIN.code')">
    </mat-form-field>
  </div>
</ng-container> -->
<!--   /   Merchant PIN-->
