<cl-simple-mobile-view class="second-tab" [background]="getBackgroundPlugin()" [mobileImageClass]="'mobile-non-header'"
  [headerColor]="tenantSettings?.headerColor" [logo]="tenantSettings?.logo" [logoType]="tenantSettings?.logoType"
  [fontFamily]="tenantSettings?.font">
    <div class="mobile-preview-header" *ngIf="engagement?.attributes_type !== 'stamps' && engagement?.game_type !== 'spin'">
      <p class="mobile-preview-headline">
        {{engagement?.title}}
      </p>
      <p class="mobile-preview-sub-headline">
        {{engagement?.sub_title}}
      </p>
    </div>

  <div class="plugin-block">
    <div [ngClass]="{ 'mobile-preview-card': engagement?.attributes_type !== 'game'}" [ngStyle]="{
             'background-image': 'url(' + engagement?.card_background_img_url + ')'||'url(/assets/images/stamps/card-background/card-bg-1.png)',
             'font-family': tenantSettings?.font
             }">
      <!--this block used for stamps and instant reward view-->
      <ng-container
        *ngIf="engagement?.attributes_type === 'stamps' || engagement?.attributes_type === 'instant_reward' || engagement?.attributes_type === 'survey'">
        <div class="mobile-preview-header-nested">
          <p class="mobile-preview-headline">
            {{engagement?.title_display}}
          </p>
          <p class="mobile-preview-sub-headline">
            {{engagement?.sub_title}}
          </p>
        </div>
      </ng-container>

      <ng-container [ngSwitch]="engagement?.attributes_type">
        <ng-container *ngSwitchCase="'game'">
          <!--type of the game-->
          <ng-container [ngSwitch]="engagement?.game_type">
            <ng-container *ngSwitchCase="'shake'">
              <!--shake the tree-->
              <perx-core-shake-tree class="mobile-preview-plugin" [treeImg]="engagement?.tree_img_url"
                [giftImg]="engagement?.gift_box_img_url" [waitingManImg]="''" [waitingManCelebrateImg]="''"
                [nbHangedGifts]="engagement?.nb_hanged_gifts" [nbFallingGifts]="engagement?.nb_hanged_gifts"
                [nbShakes]="5" [distanceFromTree]="26" [bottomDistance]="1" [enabled]="false">
              </perx-core-shake-tree>
            </ng-container>
            <!--tap the pinata-->
            <ng-container *ngSwitchCase="'tap'">
              <perx-core-pinata class="mobile-preview-plugin" [enabled]="false"
                [stillImg]=" engagement?.closed_pinata_img_url"
                [openedImg]="'assets/images/games/pinata/opened-pinata.png'" [nbTaps]="5">
              </perx-core-pinata>
            </ng-container>
            <ng-container *ngSwitchCase="'spin'">
              <div class="img-ss">
                <img alt="spin-pic" [src]="engagement.image_url"/>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'stamps'">
          <perx-core-puzzle-collect-stamps [nbSlots]="engagement.nb_of_slots" [stamps]="stamps"
            [rewards]="stampsSlotNumberData" [preStampImg]="engagement.pre_stamp_img_url"
            [postStampImg]="engagement.pre_stamp_img_url" [rewardPreStamp]="engagement?.reward_pre_stamp_img_url"
            [rewardPostStamp]="engagement?.reward_pre_stamp_img_url">
          </perx-core-puzzle-collect-stamps>
        </ng-container>
        <ng-container *ngSwitchCase="'survey'">
          <perx-core-survey [data]="getQuestionData()"></perx-core-survey>
        </ng-container>
        <ng-container *ngSwitchCase="'instant_reward'">
          <perx-core-rewards-collection [rewardsList]="getReward$()"></perx-core-rewards-collection>
        </ng-container>
      </ng-container>
    </div>

  </div>
  <div class="mobile-preview-btn-wrap mobile-btn-block">
    <button class="mobile-preview-btn" [ngStyle]="{
                  backgroundColor: tenantSettings?.buttonColor,
                  'color': tenantSettings?.buttonTextColor,
                  'font-family': tenantSettings?.font
                }">
      {{engagement?.button}}
    </button>
  </div>
</cl-simple-mobile-view>
