<div class="app" *ngIf="!loading; else holdingGate">
  <router-outlet></router-outlet>
</div>
<ng-template #holdingGate>
  <div class="holding-container">
    <div class="content">
      <div class="text-block" *ngIf="!holdingGateOpened">
        <h1>
          You are now in a virtual queue
        </h1>
        <h2>
          Thank you for your patience!<br>
          We are experiencing high traffic at the moment and will redirect you to our Rewards page shortly.
        </h2>
      </div>
      <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50"></mat-progress-spinner>
    </div>
  </div>
</ng-template>
