<div class="app" *ngIf="holdingGateOpened; else holdingGateClosed">
  <router-outlet></router-outlet>
</div>
<ng-template #holdingGateClosed>
  <div class="holding-container">
    <div class="content">
      <div class="text-block">
        <h1>
          Sorry,<br>
          We're experiencing high traffic<br>
          at the moment
        </h1>
        <h2>
          Please wait<br>
          while we load the page up shortly
        </h2>
      </div>
      <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50"></mat-progress-spinner>
    </div>
  </div>
</ng-template>
