<div class="app" *ngIf="holdingGateOpened; else holdingGateClosed">
  <router-outlet></router-outlet>
</div>
<ng-template #holdingGateClosed>
  <div class="holding-container">
    <div class="content">
      <div class="text-block">
        <h1>
          Sorry!
          <br>
          We are experiencing high traffic.
        </h1>
        <h2>Please wait while we load you in</h2>
      </div>
      <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50"></mat-progress-spinner>
    </div>
  </div>
</ng-template>
