@import "../theme/variables.scss";

@mixin icon($diameter: 3.2rem, $background: $tint-electric-green, $color: $dark-electric-green) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
  background: $background;
  color: $color;
  min-width: $diameter;
  border: 0;
  outline: none;
  z-index: 1;
}
