@import "./icon.scss";

.icon {
  @include icon;
}

.banner {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  transform: scale(1.01);
}

.main {
  overflow: auto;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .contents {
    flex: 1 1 auto;
    overflow: scroll;
  }
}

.app-header {
  position: relative;

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 1rem;
  }
}

.reward {
  .badge {
    max-width: 7rem;
    height: 4.8rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    position: absolute;
    width: 100%;
    margin-top: -2.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;

    img {
      max-width: 3.5rem;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.reward-merchant {
  margin-top: 4rem;
  text-align: center;

  h1 {
    color: #3a3a3a;
  }

  h2 {
    font-weight: normal;
    color: #666666;
  }
}

.reward-balance {
  font-size: 1.6rem;
  color: #666666;
}

.voucher {
  .badge {
    text-align: center;

    img {
      max-width: 3.5rem;
    }
  }

  .reward-merchant {
    margin-top: 2rem;
  }
}

.container {
  padding: 0 3rem 2rem 3rem;
  margin-bottom: 5rem;

  h1 {
    font-size: 1.6rem;
    color: #3A3A3A;
    font-weight: normal;
    margin-bottom: 0;
  }

  p {
    color: #666666;
    line-height: 2rem;
  }

  .content {
    margin: 3rem 0;

    a.mat-button {
      padding: 0;
    }
  }

  .about {
    a {
      display: inline-flex;
      vertical-align: middle;
      align-items: center;
      color: #7E8494;
      margin-bottom: 1.5rem;

      .icon {
        margin-right: 0.5rem;
      }
    }
  }
}

.button-area {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  min-height: 3.6rem;
  padding: 1rem 0;

  button.full-width {
    width: 70%;
    color: #ffffff;
  }
}
