<div class="puzzle-list">
    <h1>My Puzzles</h1>
    <mat-card *ngFor="let campaign of campaigns" routerLink="/puzzles/{{campaign.id}}" matRipple>
        <div class="puzzle-content">
            <div class="puzzle-img__wrapper">
                <img class="puzzle-img" src="assets/logo-small.png">
            </div>
            <div class="puzzle-details">
                <h1>
                    {{campaign.name}}
                </h1>
            </div>
        </div>
        <mat-icon>
            arrow_forward_ios
        </mat-icon>
    </mat-card>
    <h1>My Rewards</h1>
    <perx-core-vouchers
        (route)="onRoute($event)"
        [filter]="'issued'"
        [iconDisplay]="'arrow_forward_ios'"
        [showTitle]="true"
        [showMerchant]="false"
        [showExpireDate]="false"
        [showRedeemedDate]="false"
        [showRedeemedIcon]="false"
    ></perx-core-vouchers>
</div>

<app-navigate-toolbar></app-navigate-toolbar>
