mat-card {
  margin: 1.2rem 0;
  display: flex;
  align-items: center;
  padding: 0;
  height: 10.5rem;
  flex: 0 0 10.5rem;
  justify-content: space-between;
}

mat-icon {
  color: #b2b2b2;
  font-size: 3.6rem;
  height: 3.6rem;
  flex: 0 0 3.6rem;
}

h1 {
  padding: 0.8rem 0 0;
  margin: 0;
  display: flex;
  font-size: 1.6rem;
}

.puzzle-content {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  justify-content: flex-start;
}

.puzzle-img__wrapper {
  flex: 0 0 10.5rem;
  height: 10.5rem;
  display: flex;
  justify-content: center;
}

.puzzle-img {
  max-height: 6rem;
  max-width: 6rem;
  margin: auto;
}

.puzzle-details {
  font-size: 1.4rem;
  display: flex;
  margin: auto 0;

  h1 {
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 0;
    font-weight: 500;
    margin: 4px 0;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: #858585;
    margin: 4px 0;
    padding: 0;
  }
}

.puzzle-details:nth-child(1) {
  margin-top: 0;
}

.tab-group {
  //margin: 0 -1.2rem;
  height: calc(100% - 6rem);
  position: relative;
  top: 6rem;
}

.tab-group__content {
  padding: 0 1.2rem;
  flex-direction: column;
  background-color: #e5e5e5;
  box-sizing: border-box;
  display: flex;
  min-height: calc(100vh - 108px);

  > h1:first-child {
    padding-top: 2.4rem;
  }
}
