:host {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 25px;
  color: #666666;
  margin: 1rem;
}

app-rewards-cards, app-campaigns {
  margin-left: 0.5rem;
}

app-categories {
  margin-left: 0.9rem;
}

app-news-feed,
app-categories,
app-rewards-cards,
app-catalogs,
app-campaigns {
  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }
}
