@import "../cards";
@import "../../../theme/mixins/macaron.scss";

.main-container {
  margin-left: 0.5rem;

  h1,
  h2 {
    color: $dark-grey;
    margin: 1rem;
  }

  .cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    .featured-image {
      position: relative;

      .macaron-container {
        position: absolute;
        top: -0.8rem;
        right: -0.8rem;
        border-radius: 5rem;
        font-size: 1.2rem;
        text-transform: lowercase;

        span {
          display: inline-block;
        }

        span::first-letter {
          text-transform: uppercase;
        }
      }

      @include macaronStyles();
    }

    .end-spacer {
      flex: 0 0 16px;
    }

    .operating-hours {
      font-weight: normal;
      margin: .5rem 0 0;
    }
  }
}
