@import '../cards';
@import "../../macaron.scss";

.main-container {
  margin-left: 0.5rem;

  h1 {
    font-size: 2.5rem;
    color: #666666;
    margin: 1rem;
  }

  .cards {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    .featured-image {
      position: relative;

      .macaron-container {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 5rem;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        text-transform: lowercase;

        span {
          display: inline-block;
        }

        span::first-letter {
          text-transform: uppercase;
        }
      }

      @include macaronStyles();
    }
  }
}
