.modal-widow {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  font-size: 1.4rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  line-height: 2.5rem;
  width: 100%;
}

.modal-header {
  padding: 1.8rem;
  width: 100%;
  background: #000;
  color: #fff;
  position: relative;
  font-size: 1.6rem;
  line-height: 1.9rem;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  .back {
    position: absolute;
    left: 2rem;
    background: none;
    border: none;
  }
}

.modal-body {
  font-size: 1.4rem;
  padding: 2rem 1.5rem;
  flex-grow: 1;
  overflow: auto;
}

.step-list {
  list-style-type: none;
  padding: 0;
  counter-reset: section;
  margin-bottom: 2rem;
  margin-top: 0;

  > li::before {
    counter-increment: section;
    content: 'Step 'counter(section) ":";
    margin-right: 1rem;
  }
}

.alphabet {
  list-style-type: lower-alpha;
}

p {
  margin: 0;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.rim {
  list-style-type: lower-roman;
}

.sub-title {
  font-weight: 900;
  margin-top: 3.6rem;
}

.numeric {
  margin: 0 0 1.6rem;
  padding: 0 1.8rem;
}

.margin-2rem {
  margin-bottom: 2rem;
}

.upper-alphabet {
  list-style-type: upper-alpha;
  margin: 0;
  padding: 0 2rem;
}

.addiction {
  font-style: italic;
}

.thin-title {
  text-transform: uppercase;
}

.under-line {
  text-decoration: underline;
}
