<div class="modal-widow">
  <div class="modal-header">
    HOW TO REDEEM YOUR REWARDS
    <button class="back" (click)="closeRedeem()">
      <img src="assets/img/back.svg" />
    </button>
  </div>
  <div class="modal-body">
    <ol class="step-list">
      <li>
        Log in to &lt;insert URL&gt; using your player code* and the last 4
        digits for your HSBC Credit Card number.
      </li>
      <li>View the Rewards Catalogue specific to your HSBC Credit Card.</li>
      <li>
        Click on the item you wish to redeem and choose the following, as
        applicable:
        <ol class="alphabet">
          <li>Quantity of items you wish to redeem</li>
          <li>Redemption Center of items for pick-up</li>
          <li>Pure Points or Fast Track** redemption</li>
          <p>Click on the submit button.</p>
        </ol>
      </li>
      <li class="hidden"></li>
      <li>
        Claim your Reward items
        <ol class="alphabet">
          <li>
            Items for pick-up
            <ol class="rim">
              <li>
                A unique claim code shall be sent to your mobile number in HSBC
                records.
              </li>
              <li>
                Once received, proceed to the redemption center and present the
                following:
              </li>
              <ul>
                <li>SMS indicating the claim code</li>
                <li>HSBC Credit Card used for redemption</li>
                <li>Valid government-issued ID</li>
              </ul>
            </ol>
          </li>
          <li>
            For Lazada e-Wallet credits
            <ol class="rim">
              <li>
                To receive your HSBC Rewards, you must
                <span class="under-line">activate your Lazada E-Wallet</span>.
              </li>
              <li>
                An SMS notification shall be sent to your mobile number in HSBC
                records once E-Wallet credits has been credited to your account.
              </li>
              <li>
                Once received, you can now
                <span class="under-line"
                  >shop using your Lazada E-Wallet Credits</span
                >.
              </li>
            </ol>
          </li>
          <li>
            For Zalora e-Gift Code
            <ol class="rim">
              <li>
                An SMS notification shall be sent to your mobile number in HSBC
                records containing a unique E-Gift code.
              </li>
              <li>
                Once received, you can avail of the GC code upon
                <span class="under-line">checkout</span> or via
                <span class="under-line"> Wallet Credit</span>.
              </li>
            </ol>
          </li>
          <li>
            For miles redemption
            <ul>
              <li>
                Cardholders who wish to redeem miles must first call HSBC
                hotline to enroll in the Mileage Program.
              </li>
              <li>
                An SMS notification shall be sent to your mobile number in HSBC
                records once redemption has been processed.
              </li>
            </ul>
          </li>
        </ol>
      </li>
    </ol>
    <table>
      <tbody>
        <tr>
          <td style="text-align: right;"><em>*</em></td>
          <td><em>Each HSBC Credit Card has a unique player code</em></td>
        </tr>
        <tr>
          <td style="text-align: right; vertical-align: top;"><em>**</em></td>
          <td>
            <em
              >Under the Fast Track redemption, Cardholders will be eligible to
              claim the Rewards at lower Bonus Points and charge the cash
              portion to his/her HSBC Credit Card. The use of the HSBC Credit
              Card to pay the cash portion under Fast Track redemption will
              generate additional Bonus Points for the Cardholder.</em
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div class="sub-title">
      HOW TO USE YOUR LAZADA E-WALLET
    </div>
    <ol class="numeric">
      <li>
        To receive your HSBC Rewards, you must activate your Lazada E-Wallet
        <ol class="alphabet margin-2rem">
          <li>
            Log in to your Lazada account via https://www.lazada.com.ph or the
            Lazada mobile app and click on “Manage My Account”
          </li>
          <li>
            On the left hand side select “Lazada E-Wallet”, and click “Verify my
            account”
          </li>
          <li>
            Click on “Verify my email” once you receive the email confirmation
            <p>
              <em
                >Note: We will use your email address as indicated in HSBC
                records. Your Lazada E-Wallet credits will be credited to this
                email address.</em
              >
            </p>
          </li>
          <li>
            You will then be prompted to verify your mobile number. Fill in your
            mobile number and key in the OTP number that you will receive via
            SMS
          </li>
          <li>
            Fill in your personal info and click “Go to my wallet”. Wallet is
            completely activated.
          </li>
        </ol>
      </li>
      <li>
        To shop using Lazada E-Wallet Credits
        <ol class="alphabet">
          <li>
            Log in to your Lazada account via https://www.lazada.com.ph or the
            Lazada mobile app.
          </li>
          <li>
            Select item/s you wish to purchase and click “add items to cart”.
          </li>
          <li>Click “Proceed to Checkout”.</li>
          <li>
            Enter shipping and billing details then click “Proceed to Pay”.
          </li>
          <li>Select “Lazada E-Wallet” as payment</li>
        </ol>
      </li>
    </ol>
    <div class="sub-title">
      HOW TO USE YOUR UNIQUE GIFT CARD CODE ON ZALORA
    </div>
    <ol class="upper-alphabet">
      <li>
        How to avail of GC code upon checkout:
        <ol class="numeric">
          <li>
            Log-on to <a href="https://www.zalora.com.ph">www.zalora.com.ph</a>
          </li>
          <li>Click on Shop Women or Shop Men to begin.</li>
          <li>Select product categories.</li>
          <li>Select product.</li>
          <li>Select size and click on "Add to Bag".</li>
          <li>Once finished, click CHECKOUT NOW to proceed.</li>
          <li>
            Log in or Register by Signing in via Facebook. Input Customer
            Information such as name, phone number and delivery address.
          </li>
          <li>
            Select "Credit/Debit Card" as Payment Method and add your HSBC
            credit card information.
          </li>
          <li>Click "Have a promo code? Enter it here".</li>
          <li>Enter your Unique Gift Card code then click APPLY</li>
          <li>Click "Order Now" to finalize order</li>
          <li>Discount will be deducted from subtotal.</li>
          <li>Click ORDER NOW to finalize the order.</li>
        </ol>
      </li>
      <li>
        How to avail of GC code via Wallet Credit (Desktop):
        <ol class="numeric">
          <li>
            Log-on to <a href="https://www.zalora.com.ph">www.zalora.com.ph</a>
          </li>
          <li>
            Hover your mouse on the Account icon and a drop down will appear
            then go to 'My Wallet'
          </li>
          <li>
            Enter your unique Gift Card Code under "Have a Gift Card? Add it to
            your wallet" and click "Add Credit"
          </li>
          <li>The value of the Gift Card will appear in 'My Store Credit'</li>
          <li>Enjoy shopping!</li>
        </ol>
      </li>
      <li>
        How to avail of GC code via Wallet Credit (Mobile App):
        <ol class="numeric">
          <li>Open the ZALORA app</li>
          <li>Log-on to your account</li>
          <li>Go to 'MENU' then go to 'Wallet Credit'</li>
          <li>Enter your Unique Gift Card code and click "Apply".</li>
          <li>
            The value of the Gift Card will appear in 'My Store Credit'
          </li>
          <li>
            Enjoy shopping!
          </li>
        </ol>
      </li>
    </ol>
    <div class="thin-title">TERMS AND CONDITIONS</div>
    <ol class="numeric">
      <li>
        ZALORA GC codes are not for sale and cannot be exchanged for cash.
      </li>
      <li>
        Once the ZALORA GC code is added to your ZALORA Wallet as Wallet Credit,
        this will not expire.
      </li>
      <li>
        ZALORA Wallet credit will automatically be deducted upon purchasing on
        ZALORA.
      </li>
    </ol>
  </div>
</div>
