/* You can add global styles to this file, and also import other style files */
// @import ~@angular/material/theming;
@import "./custom-theme.scss";

:root {
  --font: Roboto;
  --logo: "";
  --title: "";
  --accent: #96289a;
  --primary: #147dd3;
  --button_text_color: #fff;
  --button_background_color: #147dd3;
  --header_color: #147dd3;
  --background: #fafafa;
  --font_color: #333;
  --disabled_text_color: #aaaaaa;
}

html {
  font-size: 62.5%;
  font-family: var(--font);
  font-style: normal;
  background-color: #fafafa;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--background);
  color: var(--font_color);
}

.mat-dialog-container {
  background-color: var(--popup_background_colour) !important;
  padding: 3.2rem !important;
}

button {
  background-color: var(--button_background_color);
  color: var(--button_text_color);
}

button:disabled {
  background-color: var(--disabled_text_color) !important;
  color: white !important;
}

button.mat-primary {
  background-color: var(--button_background_color) !important;
  color: var(--button_text_color) !important;
}

.mat-accent {
  color: var(--accent) !important;
}

button.mat-accent {
  background-color: var(--accent) !important;
  color: var(--button_text_color) !important;
}

button.mat-default {
  background-color: var(--background) !important;
  color: var(--font_color) !important;
}

button.mat-stroked-button {
  background-color: white !important;
  color: var(--accent) !important;
}

.mat-toolbar {
  background-color: var(--header_color) !important;
}

.actions-container {
  background-color: transparent;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 6rem;
  padding: 1rem 1.2rem;
  box-sizing: border-box;
  text-align: center;

  button {
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 0;
    text-transform: uppercase;
  }
}

.backArrow {
  color: var(--accent);
}

.toolbar {
  padding: 1.6rem calc(1.3rem + 24px) 1.6rem 1.3rem !important;
}

.logoWrapper {
  height: 100%;

  .logo {
    height: 100%;
  }
}

mat-tab-group {
  mat-tab-header {
    .mat-tab-label-container {
      z-index: unset; // https://bugs.webkit.org/s1how_bug.cgi?id=160953
    }
  }
}

mat-progress-bar .mat-progress-bar-fill::after {
  background-color: var(--primary);
}

.custom-popup-class {
  h1,
  .mat-dialog-content {
    text-align: left !important;
  }
}

.rewards-collection {
  perx-core-rewards-list-tabbed {
    .mat-tab-group {
      .mat-ink-bar {
        background-color: #ed1b2e !important;
      }

      .mat-tab-labels {
        .mat-tab-label-active {
          color: #ed1b2e !important;
        }
      }
    }
  }
}

.game-container {
  perx-blackcomb-home {
    .home-qr-button {
      border-radius: 14px;
      width: 80px;
    }

    perx-blackcomb-games-collection,
    perx-blackcomb-pages-campaigns-collection {
      .flex-for-button {
        button {
          border-radius: 24px;
        }
      }
    }
  }

  perx-blackcomb-pages-campaign-landing-page,
  perx-blackcomb-quiz,
  perx-blackcomb-pages-quiz-results,
  perx-blackcomb-pages-progress-campaign {
    .bottom-nav-container {
      button {
        border-radius: 24px;
      }
    }
  }

  perx-core-survey {
    .survey-container {
      .button-flex-wrapper {
        button {
          border-radius: 24px;
        }
      }
    }
  }

  perx-blackcomb-redeem {
    .button-container {
      button {
        border-radius: 24px;
      }
    }
  }

  perx-blackcomb-reward-details,
  perx-blackcomb-voucher-detail {
    .actions-container {
      button {
        border-radius: 24px;
      }
    }
  }

  perx-blackcomb-pages-game,
  perx-blackcomb-stamp-card {
    .game-footer {
      button {
        border-radius: 24px !important;
      }
    }
  }

  perx-blackcomb-pages-quest {
    .bottom-toolbar button {
      border-radius: 24px !important;
    }
  }

  perx-blackcomb-survey {
    perx-core-survey {
      .survey-container {
        formly-field-stepper {
          mat-progress-bar {
            .mat-progress-bar-buffer {
              background-color: #ffcdd2 !important;
            }

            .mat-progress-bar-fill {
              &::after {
                background-color: #ed1b2e !important;
              }
            }
          }

          mat-radio-button {
            &.mat-radio-checked {
              .mat-radio-outer-circle {
                border-color: #ed1b2e !important;
              }
              .mat-radio-inner-circle {
                background-color: #ed1b2e !important;
              }
            }
          }

          mat-checkbox {
            &.mat-checkbox-checked {
              .mat-checkbox-background {
                background-color: #ed1b2e !important;
              }

              &:not(.mat-checkbox-disabled) .mat-ripple-element,
              &:active:not(.mat-checkbox-disabled) .mat-ripple-element {
                background: #ed1b2e !important;
              }
            }
          }
        }
      }
    }
  }

  perx-blackcomb-quiz {
    .quiz-main-container {
      .quiz-page {
        mat-progress-bar {
          .mat-progress-bar-buffer {
            background-color: #ffcdd2 !important;
          }

          .mat-progress-bar-fill {
            &::after {
              background-color: #ed1b2e !important;
            }
          }
        }

        mat-radio-button {
          &.mat-radio-checked {
            .mat-radio-outer-circle {
              border-color: #ed1b2e !important;
            }
            .mat-radio-inner-circle {
              background-color: #ed1b2e !important;
            }
          }
        }

        mat-checkbox {
          &.mat-checkbox-checked {
            .mat-checkbox-background {
              background-color: #ed1b2e !important;
            }

            &:not(.mat-checkbox-disabled) .mat-ripple-element,
            &:active:not(.mat-checkbox-disabled) .mat-ripple-element {
              background: #ed1b2e !important;
            }
          }
        }
      }
    }
  }

  perx-blackcomb-pages-progress-campaign,
  badge-landing,
  perx-blackcomb-pages-leaderboard-page {
    .mat-tab-group {
      .mat-ink-bar {
        background-color: #ed1b2e !important;
      }

      .mat-tab-labels {
        .mat-tab-label-active {
          color: #ed1b2e !important;
        }
      }
    }
  }
}

perx-blackcomb-pages-campaigns-collection,
perx-blackcomb-games-collection {
  .see-button {
    background-color: transparent !important;
    color: #8ea0b2 !important;
    .mat-button-ripple {
      display: none !important;
    }
  }
  .see-less:after {
    content: "\e5ce";
  }
  .see-more:after {
    content: "\e5cf";
  }
  .see-less:after,
  .see-more:after {
    font-family: "Material Icons";
    font-size: 16px;
    vertical-align: bottom;
  }
}
mat-dialog-container {
  perx-core-popup {
    .title-wrapper {
      .mat-dialog-title {
        font-weight: 500 !important;
        font-size: 2rem !important;
        line-height: 1.8rem !important;
        color: #283542 !important;
      }
    }

    mat-dialog-content {
      font-weight: normal !important;
      font-size: 1.6rem !important;
      line-height: 2.1rem !important;
      color: #283542 !important;
    }

    .button-group {
      button {
        border-radius: 2.4rem !important;
      }
    }
  }

  perx-core-badge-detail-popup {
    button {
      border-radius: 2.4rem !important;;
    }
  }
}
