@import "variables";

.btn-remove {
  opacity: 0;
  transition: 0.4s cubic-bezier(0.35, 0, 0.25, 1);
}

.control-input {
  width: auto;
  display: inline-flex;

  &-action {
    display: flex;
    align-items: center;

    &:hover .btn-remove {
      opacity: 1;
    }
  }
}

mat-icon {
  color: $secondary-color;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
