<ng-container *ngIf="group">
  <div class="form-group" [formGroup]="group">
    <mat-slide-toggle color="primary" formControlName="multiple"><span translate>MULTIPLE_SELECTION</span></mat-slide-toggle>

    <div class="choice-wrap" *ngFor="let item of choices.controls; let i = index">
      <div class="control-input-action">
        <div class="control-input">
          <mat-form-field class="messages-input">
            <input type="text" matInput [placeholder]="''" [formControl]="item">
          </mat-form-field>
        </div>
        <button class="btn-transparent btn-remove" (click)="removeControl(i)">
          <mat-icon aria-hidden="false" aria-label="icon">highlight_off</mat-icon>
        </button>
      </div>
    </div>

    <div class="control-input">
      <mat-form-field class="messages-input">
        <input type="text" #choiceText (keydown.enter)="addedField(choiceText)" matInput
          [placeholder]="'ADD_CHOICE' | translate" />
      </mat-form-field>
    </div>
  </div>
</ng-container>
