<div class="page">
  <div class="code" *ngIf="voucher$ | async as voucher">
    <div class="reward-image-container" *ngIf=voucher.reward>
      <img class="reward-image" src="{{voucher.reward.rewardBanner}}">
    </div>
    <div class="reward-name">
        {{voucher.reward?.name}}
    </div>
    <ngx-barcode *ngIf="voucher.code" [bc-value]="voucher.code" [bc-display-value]="true"></ngx-barcode>
    <div class="title">
      Present this bar code to the cashier to complete your transaction.
    </div>
  </div>
  <div class="action">
    <button mat-stroked-button color="primary" (click)="goToHome()">Cancel</button>
  </div>
</div>
