<mat-list *ngIf="profile">
  <mat-list-item>
    <p matLine class="label" translate>STATIC_NAME</p>
    <p matLine>{{profile.firstName}} {{profile.lastName}}</p>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item>
    <p matLine class="label" translate>STATIC_MOBILE</p>
    <p matLine>{{profile.phone}}</p>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item>
    <p matLine class="label" translate>STATIC_MEMBERSHIP_TIER</p>
    <p matLine>{{tier}}</p>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item>
    <p matLine class="label" translate>STATIC_PASSWORD</p>
    <p matLine>••••••••••</p>
    <mat-icon (click)="onEditPasswordClicked()">edit</mat-icon>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item>
    <p matLine class="label" translate>STATIC_CONDITION</p>
    <p matLine class="conditions">{{conditions.length > 0 ? conditions.join(', ') : 'None'}}</p>
    <mat-icon (click)="onSubScreenNavigate('account/condition')">edit</mat-icon>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
