mat-list {
  padding-top: 6rem;

  p {
    color: #1b1b25;
    font-size: 1.4rem !important;
  }

  p.label {
    color: #7d7d89;
    font-size: 1.2rem;
  }

  p.conditions {
    text-transform: capitalize;
  }

  .mat-icon {
    font-size: 1.8rem;
  }
}
