@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@font-face {
  font-family: starhub;
  src: url(assets/DINPro-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: starhub;
  src: url(assets/DINPro-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: starhub;
  src: url(assets/DINPro-Medium.otf);
  font-weight: 600;
}

$custom-typography: mat-typography-config(
  $font-family: "starhub, Roboto, Helvetica, Arial, sans-serif",
);

@include mat-base-typography($custom-typography);
@include mat-core($custom-typography);
