html body:not(.electric-green) {
    // mixins with old defaults

    // override with old mixin for old theme
    // important to get past specificity
    @mixin icon($diameter: 3.2rem, $background: #eef9e4, $color: #6dc00e) {
        width: $diameter !important;
        height: $diameter !important;
        background: $background !important;
        color: $color !important;
        min-width: $diameter !important;
    }

    // styles.scss
    font-family: starhub, Roboto, Arial, Helvetica, sans-serif;
    background: #f6f7f9;
    // TODO: verify game popup & remove
    .custom-class {
        h1 {
            font-weight: bold;
            margin-bottom: 2.4rem;
            line-height: 3.1rem;
        }

        .mat-dialog-content {
            font-size: 1.8rem;
            color: #777776;
            line-height: 2.3rem;
        }

        .button-group {
            button {
                height: 6rem;
                text-transform: capitalize;
                font-size: 1.6rem;
                border-radius: 0.5rem;
            }
        }
    }

    // app.component.scss
    .holding-container .content .text-block {
        h1 {
            font-size: 1.8rem;
            color: #6dc00e !important; //ffs specificty
        }

        h2 {
            font-size: 1.6rem;
        }
    }

    // sheet.scss
    .cdk-overlay-container .cdk-overlay-pane {
        app-category-select,
        app-category-sort {
            .main-container {
                .popup-header {
                    h1 {
                        color: #6dc00e;
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }
                label {
                    color: #666666;
                    border: 1px solid #f1f2f4;
                }

                .label-selected {
                    color: #6dc00e;
                    background: #eef9e4;
                }
            }
        }
    }

    .app {
        // styles.scss
        mat-ink-bar {
            &::before {
                background-color: #6dc00e;
            }
        }

        .mat-flat-button.mat-primary {
            color: $white;
        }

        .mat-bottom-sheet-container {
            background-color: #f6f7f9;
        }

        .mat-card:not([class*="mat-elevation-z"]) {
            box-shadow: 0 0.4rem 0.4rem #d2d8e2;
        }

        // cards.scss
        mat-card {
            &.mat-card {
                mat-card-actions {
                    a {
                        color: #6dc00e;
                    }
                }
                mat-card-content {
                    div {
                        h1 {
                            font-size: 1.6rem;
                            color: #666666;
                            margin: 0;
                        }

                        h2 {
                            font-size: 1.6rem;
                            text-overflow: ellipsis;
                            color: #666666;
                            font-weight: normal;
                            margin: 0.2rem 0 0 0;
                        }

                        h3 {
                            margin-top: 0;
                            font-weight: normal;
                            color: #666666;
                            font-size: 1.2rem;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        // categories.component.scss
        app-categories {
            .category-title {
                color: #666666;
            }
        }

        // category.component.scss
        app-category {
            mat-toolbar {
                .toolbar-title {
                    color: #666666;
                }
            }

            .content {
                background-color: #f2f2f2;

                h1.catergory-title {
                    color: #666666;
                    font-size: 3rem;
                    margin: 1rem 0;
                }

                .mat-card {
                    mat-card-content {
                        .details {
                            color: #666666;
                            h1 {
                                font-size: 1.6rem;
                                font-weight: bold;
                                margin: 0;
                            }

                            h2 {
                                font-size: 1.2rem;
                                font-weight: normal;
                                margin: 0.2rem 0 0 0;
                            }
                        }
                    }
                }
            }
        }

        // error.component.scss
        app-error .main p {
            color: #7b7b7c;
        }

        // home.component.scss
        app-home .app {
            mat-toolbar {
                background-color: white;
                color: #666666;
                border-bottom: 1px solid #979797;

                .top-row {
                    .reward {
                        h2 {
                            font-size: 2rem;
                        }

                        .membership-link {
                            .subtitle {
                                color: #73c20e;
                            }
                        }

                        .subtitle {
                            color: #73c20e;
                        }
                    }
                }

                .mat-tab-nav-bar {
                    a {
                        color: #666666;
                    }
                }
            }
        }

        // redemption.component.scss
        app-redemption .main {
            .detail {
                color: #666666;
            }

            .code-redemption {
                h1,
                p {
                    font-size: 2rem;
                    color: #666666;
                }

                .code {
                    background: #eef9e4;
                    border-color: #eef9e4;
                    color: #666666;
                }
            }
            .code-redemption.unavailable {
                .code {
                    background-color: #e3e7ee;
                }
            }

            .pin-input-container {
                .incorrect-pin {
                    color: #d8127d;
                }
            }

            .action {
                button {
                    text-transform: uppercase;
                    border-radius: 0;
                    padding: 1rem;
                }

                button.mat-flat-button {
                    color: $white;
                }
            }

            ::ng-deep input {
                background: #eef9e4;
            }

            ::ng-deep.error input {
                border-color: #eb202f;
                background: #fff3f9;
            }

            ::ng-deep .error :focus {
                outline-color: #eb202f;
            }

            :host ::ng-deep .activation-code {
                .activation-code__inputs input {
                    color: #666666;
                }

                .activation-code__inputs input:focus {
                    outline-color: #73c20e;
                }

                .error-label {
                    color: #d8127d;
                }
            }
        }

        // reward.scss
        app-reward,
        app-reward-detail,
        app-voucher {
            .reward-merchant {
                h1 {
                    color: #3a3a3a;
                }

                h2 {
                    font-weight: normal;
                    color: #666666;
                }
            }

            .reward-balance {
                color: #666666;
            }

            .container {
                h1 {
                    font-size: 1.6rem;
                    color: #3a3a3a;
                    font-weight: normal;
                    margin-bottom: 0;
                }

                p {
                    color: #666666;
                    line-height: 2rem;
                }

                .about {
                    a {
                        color: #7e8494;
                    }
                }
            }
        }

        // vouchers.component.scss
        app-vouchers .rewards-container {
            .disabled-icon {
                @include icon(3.2rem, #d4d4d4, white);
            }

            button {
                background: rgba(255, 255, 255, 0);
                border: 1px solid #6dc00e;
                box-sizing: border-box;
                border-radius: 5px;
                text-transform: uppercase;
                font-size: 1.8rem;
                height: 5rem;
                width: 100%;
                color: #666666;
            }

            h1 {
                color: #666666;
                font-size: 2.5rem;
            }

            .mat-card-header {
                .mat-card-title {
                    color: #666666;
                }

                .mat-card-subtitle.less-three-days {
                    color: #d8127d;
                }

                .mat-card-subtitle.greater-three-days {
                    color: #666666;
                }
            }

            .empty-wallet {
                h1 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 1.6rem;
                    text-align: center;
                    color: #666666;
                }
            }

            .no-rewards {
                p.title {
                    color: #666666;
                    font-size: 2.5rem;
                    margin-top: 0;
                }

                p.sub-title {
                    color: #666666;
                    font-size: 1.6rem;
                }
            }
        }
    }

    // use old mixin globally for old theme
    .icon {
        @include icon;
    }
}
