// Primary Colors
$electric-green: #1ed760;
$green-nova: #03f182;

// Secondary Colors
$digital-aqua: #1cd4b0;
$blue-satellite: #9cdbd9;
$lime-eclipse: #97fc41;
$pure-midnight: #250e62;

// Accent colors
$ultraviolet: #500878;
$indigo-sky: #685bc7;
$neon-dreams: #c800a1;
$astra-pink: #e63888;

// Toned Colors
$dark-electric-green: #0f6b30;
$deep-electric-green: #09411D;
$tint-electric-green: #e8fbef;
$tint-astra-pink: #fcebf3;
$dark-astra-pink: #8A2252;

// Neutrals
$dark-grey: #575757;
$medium-grey: #9c9c9c;
$light-grey: #e5e5e5;
$canvas-grey: #f8f9f9;
$white: #fff;

$light-black: #656565;
$medium-blue: #0072D8;
$light-gray: #919191;
$near-black: #2E2E2E;

// Misc
$error-text: $astra-pink;

// Other css properties
$border-radius: 4px;

$desktop-width: 1024px;
$tablet-width: 768px;
