// Primary Colors
$electric-green: #1ed760;
$green-nova: #03f182;

// Secondary Colors
$digital-aqua: #1cd4b0;
$blue-satellite: #9CDBD9;
$lime-eclipse: #97FC41;
$pure-midnight: #250E62;

// Accent colors

// Toned Colors
$dark-electric-green: #0f6b30;
$tint-electric-green: #e7fbef;

// Neutrals
$dark-grey: #575757;
$medium-grey: #9c9c9c;
$light-grey: #e5e5e5;
$canvas-grey: #f8f9f9;
$white: #fff;

// Undefined colors
$error-text: #eb202f;
