@import "./variables";

:host {
  padding: $vertical-content-padding;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
  position: relative;
  max-width: 57rem;
  margin: $vertical-content-padding auto;
}
