<header class="page-header full-with">
  <h1 class="title" *ngIf="campaign">{{campaign.name}}</h1>
  <div class="btn-group">
    <cs-button classList="secondary"
      (click)="comeBack()">{{'BTN_COME_BACK' | translate}}
    </cs-button>
    <cs-button *ngIf="campaign && campaign.status !== cs.active" classList="primary cs-btn-mobile"
      [routerLink]="['/campaigns','edit',campaign.id]">
      <i class="cs-btn-mobile-icon icon edit-icon"></i>
      {{'BTN_EDIT' | translate}}
    </cs-button>
  </div>
</header>
<section class="content form-limiter">
  <cl-new-campaign-review-page [tenantSettings]="tenantSettings"></cl-new-campaign-review-page>
</section>
