<div class="main-app-container" *ngIf="theme && theme.properties && appConfig && appRemoteFlags">
  <mat-toolbar class="toolbar mat-elevation-z3" *ngIf="showHeader && !appConfig.homeAsProgressPage">
    <mat-icon
      class="backArrow"
      (click)="backArrowClick()">
      {{backArrowIcon}}
    </mat-icon>
    <a class="logoWrapper" [routerLink]="[ '/home' ]">
      <img class="logo" [attr.src]="theme.properties['--logo']" [attr.alt]="theme.properties['--title']" />
    </a>
    <!-- ghost stuff-->
    <span></span>
  </mat-toolbar>
  <div class="game-container">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
  <mat-toolbar class="navbar mat-elevation-z2" *ngIf="showToolbar">
    <div class="a-container">
      <a matRipple [routerLink]="[ '/rebates' ]" routerLinkActive="active" *ngIf="appRemoteFlags?.rebateDemoFlow">
        <div class="nav-item">
          <mat-icon aria-hidden="false">shopping_basket</mat-icon>
          <span translate>NAVIGATION.PAY</span>
        </div>
      </a>
      <toolbar-nav-item label="NAVIGATION.HOME" [routerLink]="[ '/home' ]" [activeImg]="'assets/toolbars/home-red.svg'" [defaultImg]="'assets/toolbars/home-grey.svg'" *ngIf="appConfig.showHomePage || appRemoteFlags?.showHomePage"></toolbar-nav-item>
      <a matRipple [routerLink]="[ '/progress-campaigns' ]" routerLinkActive="active" *ngIf="appRemoteFlags?.showProgressCampaignsNavButton">
        <div class="nav-item">
          <mat-icon aria-hidden="false">local_activity</mat-icon>
          <span translate>NAVIGATION.STAMPS</span>
        </div>
      </a>
      <a matRipple [routerLink]="[ '/rewards' ]" routerLinkActive="active" *ngIf="tenant !== 'all-it' && (appConfig.showRewardNavButton || appRemoteFlags?.showRewardNavButton)">
        <div class="nav-item">
          <mat-icon aria-hidden="false">card_giftcard</mat-icon>
          <span translate>NAVIGATION.REWARDS</span>
        </div>
      </a>
      <a matRipple [routerLink]="[ '/nearme' ]" routerLinkActive="active" *ngIf="appConfig.showNearMePage || appRemoteFlags?.showNearMePage">
        <div class="nav-item">
          <mat-icon aria-hidden="false">location_on</mat-icon>
          <span translate>NAVIGATION.NEARME</span>
        </div>
      </a>
      <toolbar-nav-item label="NAVIGATION.WALLET" [routerLink]="[ '/wallet' ]" [activeImg]="'assets/toolbars/wallet-red.svg'" [defaultImg]="'assets/toolbars/wallet-grey.svg'"></toolbar-nav-item>
      <toolbar-nav-item label="NAVIGATION.HISTORY" [routerLink]="[ '/history' ]" [activeImg]="'assets/toolbars/history-red.svg'" [defaultImg]="'assets/toolbars/history-grey.svg'" *ngIf="appConfig.showHistoryPage"></toolbar-nav-item>
      <a matRipple [routerLink]="[ '/locations' ]" routerLinkActive="active" *ngIf="appRemoteFlags?.merchantMap">
        <div class="nav-item">
          <mat-icon aria-hidden="false">location_on</mat-icon>
          <span translate>NAVIGATION.DEALS</span>
        </div>
      </a>
      <toolbar-nav-item label="NAVIGATION.LEADER_BOARD" [ngClass]="{'active': isLeaderboardPage}" [routerLink]="[ '/leaderboards' ]" [activeImg]="'assets/toolbars/leaderboards-red.svg'" [defaultImg]="'assets/toolbars/leaderboards-grey.svg'" *ngIf="(appRemoteFlags?.showLeaderboard && appRemoteFlags?.showLeaderboardLinkOnHomePage) || (appConfig.enableLeaderBoard && appConfig.showLeaderboardLinkOnHomePage)"></toolbar-nav-item>
      <a matRipple [routerLink]="[ '/account' ]" routerLinkActive="active" *ngIf="appConfig.showAccountsPage || appRemoteFlags?.showAccountsPage">
        <div class="nav-item">
          <mat-icon aria-hidden="false">account_circle</mat-icon>
          <span translate>NAVIGATION.ACCOUNT</span>
        </div>
      </a>
    </div>
  </mat-toolbar>
</div>
