@import "variables";

:host {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: $background-color;
  border-radius: 4px;
  padding: 0.5rem 0 0.5rem 1.6rem;
  position: relative;

  .merchant-branch-fields {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem ($horizontal-padding * 0.75);
    margin-right: 1.2rem;
  }

  .index {
    font-size: $base-font-size;
    color: $secondary-color;
    margin-right: 2.5rem;
  }

  .control-input.small {
    width: 100%;
    margin-right: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .btn-remove {
    cursor: pointer;
  }
}
