<span class="index">
  {{index + 1}}
</span>
<div class="merchant-branch-fields">
  <div class="control-input small">
    <mat-form-field class="mat-form-field">
      <input type="text" matInput [placeholder]="'BRANCH_NAME' | translate" [formControl]="name">
      <mat-hint align="end">{{name.value?.length || 0}}/60</mat-hint>
      <mat-error *ngIf="name.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
      <mat-error *ngIf="name.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 5</mat-error>
      <mat-error *ngIf="name.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> 60</mat-error>
    </mat-form-field>
  </div>
  <div class="control-input small">
    <mat-form-field class="mat-form-field">
      <input type="text" matInput [placeholder]="'ADDRESS' | translate" [formControl]="address">
      <mat-hint align="end">{{address.value?.length || 0}}/60</mat-hint>
      <mat-error *ngIf="address.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
      <mat-error *ngIf="address.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 5</mat-error>
      <mat-error *ngIf="address.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> 60</mat-error>
    </mat-form-field>
  </div>
  <div class="control-input small">
    <mat-form-field class="mat-form-field">
      <input type="number" matInput perxCoreNumericCharacter [placeholder]="'CONTACT_NUMBER' | translate" [formControl]="phone">
    </mat-form-field>
  </div>
</div>
<button class="btn-remove cs-btn-transparent" (click)="remove()">
  <i class="icon delete"></i>
</button>
