<div class="question-type-wrap">
  <ng-container *ngIf="!addQuestionType; else addTypeQuestion">
    <button class="btn-in-group" (click)="openSelect()">
      <i class="icon" [ngClass]="type.value"></i>
      <span class="btn-in-group_text">1</span>
    </button>
  </ng-container>
  <mat-select #matSelect [formControl]="type" class="question-select-type">
    <mat-optgroup class="view-group-label" label="Select question type">
      <mat-option *ngFor="let type of typeList" [value]="type.value" (click)="closed()">
        <div class="view-wrap">
          <mat-icon class="view-mat-icon">
            <img [src]="type?.img" alt="icon">
          </mat-icon>
          <div class="view-text">{{type.viewValue}}</div>
        </div>
      </mat-option>
    </mat-optgroup>
  </mat-select>
</div>

<ng-template #addTypeQuestion>
  <cl-button [classList]="'primary'"
             (click)="openSelect()"
  >
        <span>
         + Add Question
        </span>
  </cl-button>
</ng-template>
