<div class="main-puzzle-container" *ngIf="stampCard$ | async as stampCard">
  <div class="game-wrapper">
    <div>
      <h1>{{this.title}}</h1>
      <h3>{{this.subTitle}}</h3>
    </div>
    <perx-core-puzzle-collect-stamps 
      [nbSlots]="stampCard.campaignConfig.totalSlots" 
      [stamps]="stampCard.collectionStamps" 
      [rewards]="stampCard.campaignConfig.collectionRewards"
      [preStampImg]="stampCard.displayProperties.preStampImg" 
      [postStampImg]="stampCard.displayProperties.postStampImg"
      [rewardPreStamp]="stampCard.displayProperties.rewardPostStamp" 
      [rewardPostStamp]="stampCard.displayProperties.rewardPostStamp">
    </perx-core-puzzle-collect-stamps>
  </div>
</div>