@import '~@angular/material/theming';
@import "variables";
@import "buttons";

:host {
  display: inline-flex;
  height: initial;
}

.btn {
  @include typo-button;

  position: relative;
  min-width: 10rem;
  height: 4.4rem;
  border-radius: $border-radius;
  color: $white;
  padding: 0 ($horizontal-padding * 0.75);
  box-shadow: none;
}

.ph-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
  transition: padding 0.15s ease;

  &:active,
  &:focus {
    padding-left: ($horizontal-padding * 0.75) !important;
    padding-right: ($horizontal-padding * 0.75) !important;
  }
}

.primary {
  background-color: $primary-color;

  &:hover {
    background-color: $primary-hover;
  }
}

.secondary {
  background-color: $white;
  border: 1px solid $light-gray;
  color: $primary-color;

  &:hover {
    background-color: $light-gray;
  }
}

.tertiary {
  background-color: transparent;
  color: $primary-color;

  &.opaque {
    background-color: $white;
  }

  &:hover {
    color: $primary-hover;
  }
}

.disable-btn {
  color: $disable-color !important;
  background-color: $light-gray !important;
}

.disable {
  @extend .disable-btn;

  &:hover {
    @extend .disable-btn;
  }
}

@media (max-width: $tablet-width) {
  .cta {
    @include fab-btn();

    &.cta-done::before {
      mask: url("/assets/images/icons/cta-done.svg") no-repeat 50% 50%;
    }

    &.cta-edit::before {
      mask: url("/assets/images/icons/cta-edit.svg") no-repeat 50% 50%;
    }

    &.cta-next::before {
      mask: url("/assets/images/icons/cta-next.svg") no-repeat 50% 50%;
    }

    &.cta-new::before {
      mask: url("/assets/images/icons/cta-new.svg") no-repeat 50% 50%;
    }

    &:hover {
      width: 8rem;
    }
  }
}
