@import "../../custom-theme.scss";

.container {
  padding: 0 1.5rem;

  .mat-form-field {
    margin-bottom: 2rem;
  }

  .forgot-pin-form {
    font-size: 1.6rem;

    .mat-error {
      color: red;
    }
  }

  .title {
    margin: 2rem 0;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
  }

  .full-width {
    width: 100%;
  }

  .full-width__input,
  .full-width_sign_button,
  .full-width__button {
    width: 100%;
  }

  .full-width_sign_button,
  .full-width__button {
    height: 4.4rem;
    letter-spacing: 0.075rem;
    margin-bottom: 0.8rem;
  }

  .sign-up-block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.8rem;

    .sign-up-block-msg {
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }
  }

  .full-width_sign_button {
    border: 1px solid mat-color($primary) !important;
  }

  .full-width__button {
    background: #0F69AF !important;
    margin-top: 1.6rem;
  }
}
