<div class="container">
  <h1 class="title">Help us retrieve your profile</h1>
  <form
    class="forgot-pin-form"
    [formGroup]="forgotPinForm"
    (ngSubmit)="onSubmit()"
  >
  <mat-form-field appearance="standard" class="full-width__input">
      <mat-label>Enter Mobile Number</mat-label>
      <span matPrefix>+63<span class="prefix-spacer"></span></span>
      <input
        matInput
        placeholder="Enter Mobile Number"
        formControlName="mobileNumber"
      >
      <mat-error *ngIf="mobileNumber && mobileNumber.hasError('required')">
        Mobile number is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button
      mat-flat-button
      type="submit"
      color="primary"
      class="full-width"
      [disabled]="!forgotPinForm.valid"
    >
      Next
    </button>
  </form>
</div>
