.container {
  padding: 0 1.5rem;

  .mat-form-field {
    margin-bottom: 2rem;
  }

  .forgot-pin-form {
    font-size: 1.6rem;
  }

  .title {
    margin: 2rem 0;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
  }

  .full-width {
    width: 100%;
  }
}
