@import "variables";

.control-input-splitter {
  display: flex;
  margin-top: -($horizontal-padding * 0.5);
  margin-left: -($horizontal-padding * 0.25);
  margin-right: -($horizontal-padding * 0.25);

  > * {
    padding-left: ($horizontal-padding * 0.25);
    padding-right: ($horizontal-padding * 0.25);
  }
}

.logo-header-wrap {
  width: 100%;
  max-width: 40rem;
  height: 6.4rem;
  padding-bottom: $vertical-padding;

  cl-upload-graphic {
    height: 100%;
    width: 100%;
  }
}

.points {
  &-block {
    padding: 1.5rem;
    background: $white;
  }

  &-count {
    font-weight: 500;
    font-size: 3.4rem;
    line-height: 4rem;
    color: $base-font-color;
  }

  &-title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $base-font-color;
  }
}

.quare-code-btn {
  align-self: flex-end;
}

.games {
  &-block {
    padding: 1.5rem;
    background: $light-gray;
  }
}
