<section class="phonepreview-wrapper">
  <div class="branding-form" [formGroup]="formBranding">
    <mat-card>
      <div class="reward-wrap">
        <p class="sub-title">
          Theme
        </p>
      </div>
      <div class="flex">
        <div class="control-input">
          <p class="game-title">
            <span>Font type</span>
          </p>
          <mat-form-field class="branding-select">
            <mat-select formControlName="font">
              <mat-option *ngFor="let font of fonts" [value]="font.value">
                {{font.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="control-input select-outcome">
          <p class="game-title">
            <span>Primary Color</span>
          </p>
          <cl-color-picker [formControlName]="'primaryColor'"></cl-color-picker>
        </div>
        <div class="control-input">
          <p class="game-title">
            <span>Secondary Color</span>
          </p>
          <cl-color-picker [formControlName]="'secondaryColor'"></cl-color-picker>
        </div>
      </div>
    </mat-card>

    <mat-card class="card-section">
      <div class="reward-wrap">
        <p class="sub-title">
          Header & Navbar
        </p>
      </div>
      <div class="flex">
        <div class="control-input select-outcome">
          <p class="game-title">
            <span>Color</span>
          </p>
          <!--color select-->
          <div class="control-input w-50 select-outcome">
            <mat-form-field color="primary" appearance="outline">
              <mat-select [formControlName]="'headerNavbarColor'">
                <mat-select-trigger>
                  <div class="select-color">
                    <div class="select-color-preview"
                         [ngStyle]="{'background-color': headerNavbarColor.value?.color}"
                    >
                    </div>
                    <p class="select-color-text">
                      {{headerNavbarColor.value?.labelView}}
                    </p>
                  </div>
                </mat-select-trigger>
                <mat-option  *ngFor="let color of listColors" [value]="color">
                  <div class="select-color">
                    <div class="select-color-preview"
                         [ngStyle]="{'background-color': color.color}"
                    >
                    </div>
                    <span class="select-color-text">
                      {{color.labelView}}
                    </span>
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!--end color select-->
        </div>
      </div>
      <div class="flex">
          <p class="game-title">
              <span>Image Logo</span>
          </p>
      </div>
      <div class="flex" *ngIf="logoType.value === 'image'">
        <div class="logo-header-wrap section-margin-t">
          <cl-upload-graphic classList="stretch"
                             placeholder="Recommended size: 250px by 50px"
                             formControlName="logo"
          >
          </cl-upload-graphic>
        </div>
      </div>
    </mat-card>
    <mat-card class="card-section">
      <div class="reward-wrap">
        <p class="sub-title">
          Button
        </p>
      </div>
      <div class="flex">
        <div class="control-input select-outcome">
          <p class="game-title">
            <span>Color</span>
          </p>
          <!--color select-->
                    <div class="control-input w-50 select-outcome">
                          <mat-form-field color="primary" appearance="outline">
                            <mat-select [formControlName]="'button_background_color'">
                              <mat-select-trigger>
                                <div class="select-color">
                                  <div class="select-color-preview"
                                       [ngStyle]="{'background-color': button_background_color.value?.color}"
                                  >
                                  </div>
                                  <p class="select-color-text">
                                    {{button_background_color.value?.labelView}}
                                  </p>
                                </div>
                              </mat-select-trigger>
                              <mat-option [value]="color" *ngFor="let color of listColors">
                                <div class="select-color">
                                  <div class="select-color-preview"
                                       [ngStyle]="{'background-color': color.color}"
                                  >
                                  </div>
                                  <span class="select-color-text">
                                    {{color.labelView}}
                                  </span>
                                </div>
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
              
          <!--end color select-->
                    <div class="control-input w-50 select-outcome">
                            <mat-form-field color="primary" appearance="outline">
                              <mat-select [formControlName]="'button_text_color'">
                                <mat-select-trigger>
                                  <div class="select-color">
                                    <div class="select-color-preview"
                                         [ngStyle]="{'color': button_text_color.value?.color}"
                                    >
                                    </div>
                                    <p class="select-color-text">
                                      {{button_text_color.value?.labelView}}
                                    </p>
                                  </div>
                                </mat-select-trigger>
                                <mat-option [value]="color" *ngFor="let color of listColors">
                                  <div class="select-color">
                                    <div class="select-color-preview"
                                         [ngStyle]="{'background-color': color.color}"
                                    >
                                    </div>
                                    <span class="select-color-text">
                                      {{color.labelView}}
                                    </span>
                                  </div>
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <cl-settings-mobile-preview>
    <cl-simple-mobile-view class="firs-tab"
                           [mobileImageClass]="'mobile-non-header'"
                           [background]="'assets/images/reward/background/full_bg_3.jpg'"
                           [headerColor]="headerNavbarColor.value.color"
                           [logo]="logo.value"
                           [logoType]="logoType.value === 'image'"
                           [fontFamily]="font.value"
    >
      <div class="mobile-preview-btn-wrap mobile-btn-block">
        <button class="mobile-preview-btn"
                [ngStyle]="{
                backgroundColor: button.value.color,
                'font-family': font.value
                }"
        >
          {{'button text'}}
        </button>
      </div>
    </cl-simple-mobile-view>
    <cl-simple-mobile-view class="second-tab"
                           [mobileImageClass]="'mobile-non-header'"
                           [background]="'assets/images/reward/background/full_bg_3.jpg'"
                           [headerColor]="headerNavbarColor.value.color"
                           [logo]="logo.value"
                           [logoType]="logoType.value === 'image'"
                           [fontFamily]="font.value"
    >
      <div class="mobile-preview-btn-wrap mobile-btn-block">
        <button class="mobile-preview-btn"
                [ngStyle]="{
                backgroundColor: button_background_color.value.color,
                'font-family': font.value,
                color: button_text_color.value.color
                }"
        >
          {{'button text'}}
        </button>
      </div>
    </cl-simple-mobile-view>
    <cl-simple-mobile-view class="three-tab"
                           [mobileImageClass]="'mobile-non-header'"
                           [background]="'assets/images/reward/background/full_bg_3.jpg'"
                           [headerColor]="headerNavbarColor.value.color"
                           [logo]="logo.value"
                           [logoType]="logoType.value === 'image'"
                           [fontFamily]="font.value"
    >
      <div class="plugin-block">
        <div class="mobile-preview-card"
             [ngStyle]="{
             'background-image': 'url(assets/images/reward/card-background/card-bg-1.png)',
             'font-family': font.value
             }"
        >
          <perx-core-reward [reward]="reward"></perx-core-reward>
        </div>
      </div>

      <div class="mobile-preview-btn-wrap mobile-btn-block">
        <button class="mobile-preview-btn"
                [ngStyle]="{
                backgroundColor:  button_background_color.value.color,
                'font-family': font.value,
                color: button_text_color.value.color
                }"
        >
          {{'button text'}}
        </button>
      </div>
    </cl-simple-mobile-view>
  </cl-settings-mobile-preview>
</section>

