@import "variables";

mat-card {
  margin-top: 1.6rem;
}

label.game-title {
  display: block;
}

.control-input-splitter {
  display: flex;
  margin-top: -($horizontal-padding * 0.5);
  margin-left: -($horizontal-padding * 0.25);
  margin-right: -($horizontal-padding * 0.25);

  > * {
    padding-left: ($horizontal-padding * 0.25);
    padding-right: ($horizontal-padding * 0.25);
  }
}

.logo-header-wrap {
  width: 40rem;
  height: 6.4rem;
  padding-bottom: $vertical-padding;

  cl-upload-graphic {
    height: 100%;
  }
}
