@import "variables";

.reward-wrap {
  margin-bottom: 2.4rem;
}

label.game-title {
  display: block;
}

.select-outcome {
  &:first-child {
    margin-right: 1.5rem;
  }
}

.card-section {
  margin-top: ($vertical-padding * 0.5);
}

.w-50 {
  width: 50%;
}

.logo-header-wrap {
  width: 39rem;
  height: 6.4rem;
  margin-bottom: $vertical-padding;
}
