.branding {
  &-form {
    flex: 1;
    margin-right: 4rem;
  }
}

.select {
  &:first-child {
    margin-right: 1.5rem;
  }
}

.card-section {
  margin-top: 1.6rem;
}

.w-50 {
  width: 50%;
}

.logo-header-wrap {
  width: 39rem;
  height: 6.4rem;
  margin-bottom: 3.2rem;
}

.section-margin-t {
  margin-top: 3.2rem;
}
