<div *ngIf="data?.voucherPerCampaign" class="card-section">
  <div class="card-header">
    <h2 class="card-title">
      {{'VOUCHER_LIMITS_PER_CAMPAIGN' | translate}}
    </h2>
  </div>
  <div class="card-content">
    <p class="card-value">{{data?.voucherPerCampaign?.vouchers | number: '2.'}}

      {{'VOUCHERS' | translate}}
      {{'PER_CAMPAIGN_PER' | translate}}
      {{data?.voucherPerCampaign?.duration}}</p>
  </div>
</div>

<div *ngIf="data?.issuancePerUser" class="card-section">
  <div class="card-header">
    <h2 class="card-title">
      {{'ISSUANCE_LIMITS_PER_USER' | translate}}
    </h2>
  </div>
  <div class="card-content">
    <p class="card-value">{{data?.issuancePerUser?.times}} {{'TIMES_PER' | translate}} {{data?.issuancePerUser?.duration}}</p>
  </div>
</div>

<div *ngIf="data?.redemptionPerUser" class="card-section">
  <div class="card-header">
    <h2 class="card-title">
      {{'REDEMPTION_LIMITS_PER_USER' | translate}}
    </h2>
  </div>
  <div class="card-content">
    <p class="card-value">{{data?.redemptionPerUser?.times}} {{'TIMES_PER' | translate}} {{data?.redemptionPerUser?.duration}}</p>
  </div>
</div>
