:host {
  display: block;
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .cards {
    display: flex;
    flex: 1;
    overflow-y: scroll;
    flex-direction: row;
    flex-wrap: wrap;
  
    a {
      min-width: 16rem;
      margin: 2rem;
      text-decoration: none;
    }
  }
  
  .actions-container {
    display: flex;
    background: #202c46;
    width: 100%;
    height: 6rem;
    padding: 1rem 1.2rem;
    box-sizing: border-box;
    text-align: center;
  
    button {
      width: 100%;
      max-width: 60rem;
      margin: auto;
      height: 100%;
      padding: 0;
      color: #fff;
      text-transform: uppercase;
    }
  }
}
