<div class="cards">
    <a [routerLink]="[ link.path ]" *ngFor="let link of navLinks">

        <mat-card matRipple>
            <mat-card-header>
                <mat-icon mat-card-avatar aria-hidden="false" aria-label="Example home icon" *ngIf="link.icon">
                    {{link.icon}}</mat-icon>
                <mat-card-title>{{link.label}}</mat-card-title>
            </mat-card-header>
        </mat-card>
    </a>
</div>
<div class="actions-container">
    <button mat-flat-button color="primary">
        Bottom button fixed demo
    </button>
</div>