<div class="login-wrap">
  <div class="col-login-form">
    <cs-logo class="logo-link"></cs-logo>
    <es-login-form></es-login-form>
    <small class="copyright" translate>
      LOGIN_PAGE.COPYRIGHT
    </small>
  </div>
  <div class="col-customer-info">
    <h1 class="customer-info-title" translate>
      LOGIN_PAGE.MAIN_TITLE
    </h1>
    <p class="customer-info-description" translate>
      LOGIN_PAGE.MAIN_DESCRIPTION
    </p>
    <div class="customer-info-picture">
      <img src="assets/images/login/customers_engagement.png" alt="Customer Engagement">
    </div>
  </div>
</div>
