<div class="dialog-tab-content tab-content-height">
  <div class="row invite-new-users-top-row">
    <label class="invite-new-users-label">Loyalty Access</label>
    <mat-slide-toggle></mat-slide-toggle>
  </div>
  <div class="invite-new-users-section">
    <div class="row invite-new-users-top-row">
      <div></div>
      <div class="invite-new-users-table-group">
        <span>View</span>
        <span>Download</span>
      </div>
    </div>
    <div>
      <mat-divider></mat-divider>
    </div>
    <div class="row">
      <label class="invite-new-users-label">Rewards</label>
      <cl-checkbox-group class="invite-new-users-table-group">
        <mat-checkbox></mat-checkbox>
        <mat-checkbox></mat-checkbox>
      </cl-checkbox-group>
    </div>
    <div class="row">
      <label class="invite-new-users-label">Campaigns</label>
      <cl-checkbox-group class="invite-new-users-table-group">
        <mat-checkbox></mat-checkbox>
        <mat-checkbox></mat-checkbox>
      </cl-checkbox-group>
    </div>
    <div class="row">
      <label class="invite-new-users-label">Loyalty</label>
      <cl-checkbox-group class="invite-new-users-table-group">
        <mat-checkbox></mat-checkbox>
        <mat-checkbox></mat-checkbox>
      </cl-checkbox-group>
    </div>
    <div class="row">
      <label class="invite-new-users-label">Merchant</label>
      <cl-checkbox-group class="invite-new-users-table-group">
        <mat-checkbox></mat-checkbox>
        <mat-checkbox></mat-checkbox>
      </cl-checkbox-group>
    </div>
  </div>
</div>
