<table class="table" mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="logo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="logo">Merchant Logo</th>
    <td mat-cell *matCellDef="let element">
      <p class="name-cell">
        <img [src]="element.logo" alt="logo-merchant">
      </p>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Merchant Name</th>
    <td mat-cell *matCellDef="let element">
      <p class="merchant-name">
        <span>{{element.firstName}}</span>
        <span>
          {{element.lastName}}
        </span>
      </p>
    </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="phone" class="date-column">Contact number</th>
    <td mat-cell *matCellDef="let element" class="date-column">
      <p class="merchant-phone">
        <span>{{element.phone}}</span>
      </p>
    </td>
  </ng-container>

  <ng-container matColumnDef="branches">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="branches"
        class="date-column">Branches</th>
    <td mat-cell *matCellDef="let element" class="date-column">
      <p class="merchant-branches">
        <span>
          {{element.branches}}
        </span>
      </p>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
