@import "../../reward.scss";

.macaron {
  text-align: center;
  padding: 1rem;
}

.expiring {
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: #73c20e;
  color: #ffffff;
}

app-expire-timer,
.phone-contact,
.email-contact {
  font-size: 1.5rem;
}

.about {
  display: none;
}

.description {
  font-size: 1.6rem;
  color: #666666;
}