<div class="main" *ngIf="reward">
  <div [ngClass]="'contents ' + className">
    <div class="app-header">
      <img *ngIf="showBannerImage" class="banner" [src]="reward.rewardBanner">
      <div class="badge" *ngIf="reward.merchantImg">
        <img [src]="reward.merchantImg">
      </div>
    </div>
    <div class="container">
      <div *ngIf="reward" class="reward-merchant">
        <h3 class="hide-for-old-ux">{{reward.name}}</h3>
        <div class="hide-for-old-ux">{{reward.merchantName}}</div>
        <h1 class="hide-for-new-ux">{{reward.name}}</h1>
        <h2 class="hide-for-new-ux">{{reward.merchantName}}</h2>
        <div *ngIf="showMacaron && macaron" class="macaron-container">
          <span [ngClass]="macaron.class">{{macaron.label}}</span>
        </div>
        <div *ngIf="!isExpired && macaron">
          <app-expire-timer *ngIf="macaron.class === 'expiring'" [timerEndDate]="reward.sellingTo"
            (hasExpired)="setToExpired()" (isExpiring)="onExpiring()">
          </app-expire-timer>
        </div>
        <span *ngIf="showBalance && macaron && macaron.class === 'running-out'"
          class="reward-balance">{{macaron.rewardBalance}}
          left</span>
        <p class="operating-hours" *ngIf="showOperatingHours && reward.operatingHours">
          {{getOperatingHours(reward.operatingHours)}}
        </p>
      </div>
      <div *ngIf="showLoyaltyTierInfo" class="content tier-info">
        <div *ngIf="reward.loyalty && reward.loyalty.length; else allTiers">
          <div *ngIf="reachedSneakPeakTiers.length" class="tier-list">Reached sneak peak tier:
            <mat-list role="list">
              <mat-list-item role="listitem" *ngFor="let tier of reachedSneakPeakTiers">{{tier.loyaltyName}}
              </mat-list-item>
            </mat-list>
          </div>
          <div *ngIf="unAttainedTiers.length" class="tier-list">Requires tier:
            <mat-list role="list">
              <mat-list-item role="listitem" *ngFor="let tier of unAttainedTiers">{{tier.loyaltyName}}</mat-list-item>
            </mat-list>
          </div>
        </div>
        <ng-template #allTiers>
          <p class="semi-bold">Available to all loyalty tiers.</p>
        </ng-template>
      </div>
      <div class="content">
        <div [class]="this.uxcr ? 'description ux-cr': 'description'" [innerHtml]="reward.description"></div>
      </div>
      <app-location-short-format [merchantId]="reward.merchantId" [voucherId]="voucherId"></app-location-short-format>
      <div class="content">
        <h1 class="hide-for-new-ux">Terms & Conditions</h1>
        <div class="hide-for-old-ux action">Terms & Conditions</div>
        <div [class]="this.uxcr ? 'terms-conditions ux-cr': 'terms-conditions'"
             [innerHtml]="reward.termsAndConditions"></div>
      </div>
      <div class="content about">
        <div class="action">About {{reward.merchantName}}</div>
        <div class="phone-contact">
          <a>
            <span class="icon">
              <mat-icon>phone</mat-icon>
            </span>
            Call to {{reward.merchantName}}
          </a>
        </div>
        <div class="email-contact">
          <a>
            <span class="icon">
              <mat-icon>email</mat-icon>
            </span>
            Email to {{reward.merchantName}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
