@import '../../reward.scss';

.macaron {
  text-align: center;
  padding: 1rem;
}

.expiring {
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: #73c20e;
  color: #ffffff;
}

app-expire-timer {
  font-size: 1rem;
}
