@import "../../reward.scss";
@import "../../mixins.scss";

.macaron-container {
  text-align: center;
  padding: 1rem;
}

.just-added, .coming-soon {
  @include macaron(#73c20e, #ffffff);
}

.expiring, .running-out {
  @include macaron(#FFDB1B, #4d4d4c);
}

.expired, .fully-redeemed {
  @include macaron(#ffffff, #4d4d4c);
}

app-expire-timer,
.phone-contact,
.email-contact {
  font-size: 1.5rem;
}

.about {
  display: none;
}

.description, .terms-conditions {
  font-size: 1.4rem;
  color: #666666;
}
