<div class="main" *ngIf="reward">
  <div class="contents">
    <div class="app-header">
      <button *ngIf="showBackButton" class="icon" (click)="back()">
        <mat-icon>arrow_backward</mat-icon>
      </button>
      <img *ngIf="showBannerImage" class="banner" [src]="reward.rewardBanner">
      <div class="badge">
          <img [src]="reward.merchantImg">
        </div>
    </div>

    <div class="container">
      <div *ngIf="reward" class="reward-merchant">
        <h1>{{reward.name}}</h1>
        <h2>{{reward.merchantName}}</h2>
        <div *ngIf="showMacaron" class="macaron">
          <span class="expiring">{{macaronText}}</span>
        </div>
        <div *ngIf="!isExpired">
			<app-expire-timer [timerEndDate]="reward.validTo" (hasExpired)="setToExpired()" (isExpiring)="onExpiring()"></app-expire-timer>
        </div>
      </div>

      <div class="content">
        <div class="description">{{reward.description}}</div>
      </div>

      <app-location-short-format [merchantId]="reward.merchantId"></app-location-short-format>

      <div class="content">
        <h1>Terms & Condition</h1>
        <div class="terms-conditions" [innerHtml]="reward.termsAndConditions"></div>
      </div>

      <div class="content about">
        <h1>About {{reward.merchantName}}</h1>

        <div class="phone-contact">
          <a>
            <span class="icon">
              <mat-icon>phone</mat-icon>
            </span>
            Call to {{reward.merchantName}}
          </a>
        </div>

        <div class="email-contact">
          <a>
            <span class="icon">
              <mat-icon>email</mat-icon>
            </span>
            Email to {{reward.merchantName}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
