@import "../../../theme/mixins/reward.scss";
@import "../../../theme/mixins/macaron.scss";

.macaron-container {
  text-align: center;
  padding: 1rem;
  text-transform: lowercase;

  span {
    display: inline-block;
  }

  span::first-letter {
    text-transform: uppercase;
  }
}

@include macaronStyles();

app-expire-timer,
.phone-contact,
.email-contact {
  font-size: 1.5rem;
}

.about {
  display: none;
}

.description,
.address,
.terms-conditions {
  font-size: 1.6rem;
  color: $dark-grey;
  white-space: inherit;
  line-height: 2.5rem;
}

.tier-info {
  color: $dark-grey;
  .tier-list {
    margin-bottom: 1rem;
  }
  .mat-list-base .mat-list-item {
    font-size: 1rem;
  }
}

.description,
.terms-conditions {
  &.ux-cr {
    margin-top: 16px;

    ::ng-deep ol {
      counter-reset: section;

      li {
        margin-bottom: .8rem;
        --olSize: 1.6rem;
        list-style-type: none;

        &::before {
          content: counter(section, decimal);
          counter-increment: section;
          background-color: $tint-electric-green !important;
          color: $dark-electric-green !important;
          font-size: 1.4rem;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          padding: .4rem;
          margin-right: -2.5rem;
          left: calc(var(--olSize) - 5rem);
          line-height: var(--olSize);
          width: var(--olSize);
          height: var(--olSize);
          position: relative;
        }

        &::marker {
          content: "";
        }
      }
    }
  }
}
.reward h3,
div {
  color: $dark-grey;
}

.operating-hours {
  font-size: 1.4rem;
  margin: .5rem 0 0;
}