<div class="cover"></div>
<div class="main-container">
  <mat-card class="basic-info mat-elevation-z0">
    <mat-card-header>
      <div mat-card-avatar>
        <img src="assets/avatar.png" alt="">
      </div>
      <mat-card-title *ngIf="profile">{{profile.firstName}} {{profile.lastName}}</mat-card-title>
      <mat-card-subtitle *ngIf="loyalty">{{loyalty.membershipTierName}} {{"ACCOUNT.TIER" | translate}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-action-list class="btn-container">
    <button
     
      mat-flat-button
      class="full-width__button btn-transparent"
      (click)="onAccountScreenNavigate('account/profile')"
    >{{"ACCOUNT.PROFILE" | translate }}</button>

    <button
      mat-flat-button
      class="full-width__button btn-transparent"
      (click)="onAccountScreenNavigate('account/transaction-history')"
    >{{"ACCOUNT.TRANSACTION_HISTORY" | translate}}</button>

    <button
      mat-flat-button
      class="full-width__button btn-transparent"
      (click)="onAccountScreenNavigate('account/privacy-policy')"
    >{{"ACCOUNT.PRIVACY_POLICY" | translate }}</button>

  </mat-action-list>

  <mat-action-list class="btn-container">
    <button
      mat-flat-button
      class="full-width__button btn-transparent"
      (click)="onLogout()"
    >{{"ACCOUNT.LOGOUT" | translate }}</button>
  </mat-action-list>

</div>