<div class="cover"></div>
<div class="main-container">
  <mat-card class="basic-info mat-elevation-z0">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img src="assets/avatar.png" alt="">
      </div>
      <mat-card-title>{{profile.firstName}} {{profile.lastName}}</mat-card-title>
      <mat-card-subtitle>{{profile.state}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-action-list class="btn-container">
    <button
      i18n="@@static-profile"
      mat-flat-button
      class="full-width__button btn-transparent"
      (click)="onAccountScreenNavigate('account/profile')"
    >Profile</button>

    <button
      i18n="@@static-transaction-history"
      mat-flat-button
      class="full-width__button btn-transparent"
      (click)="onAccountScreenNavigate('account/transaction-history')"
    >Transaction History</button>

    <button
      i18n="@@static-privacy-policy"
      mat-flat-button
      class="full-width__button btn-transparent"
      (click)="onAccountScreenNavigate('account/privacy-policy')"
    >Privacy Policy</button>

  </mat-action-list>

  <mat-action-list class="btn-container">
    <button
      i18n="@@static-logout"
      mat-flat-button
      class="full-width__button btn-transparent"
      (click)="onLogout()"
    >Log Out</button>
  </mat-action-list>

</div>