<div class="overview-container">
    <div class="loyalty-block">
        <perx-core-loyalty-summary [showLoyaltyProgress]="true" class="loyalty-item" [subTitleFn]="subTitleFn"
            [titleFn]="titleFn" [summaryExpiringFn]="summaryExpiringFn" [pointToFn]="pointToFn" [memberFn]="memberFn"
            [membershipExpiryFn]="membershipExpiryFn" [showLoyaltyNextTierPointsDiff]="false"
            [showReferralProgress]="false" [topScoreProgressFn]="topScoreProgressFn"></perx-core-loyalty-summary>
    </div>
    <div class="overview-page">
        <perx-statistic-card [data]="inviteStatistics"></perx-statistic-card>
        <perx-statistic-card [data]="performanceStatistics"></perx-statistic-card>
    </div>
</div>