<div class="overview-container">
    <perx-core-loyalty-summary [showLoyaltyProgress]="true" class="loyalty-item" [subTitleFn]="subTitleFn"
        [titleFn]="titleFn" [summaryExpiringFn]="summaryExpiringFn" [pointToFn]="pointToFn" [memberFn]="memberFn"
        [membershipExpiryFn]="membershipExpiryFn" [showLoyaltyNextTierPointsDiff]="false"></perx-core-loyalty-summary>
    <div class="overview-page">
        <perx-statistic-card [data]="inviteStatistics"></perx-statistic-card>
        <perx-statistic-card [data]="performanceStatistics"></perx-statistic-card>
    </div>
</div>