<div class="dashboard-group-graphics">
  <div class="chard-card-list">

    <!--group block contain tabs and one graphic-->
    <div class="tabs-list-wrap business-insights-tabs-list-wrap">
      <!-- paste mat-radio-group block here -->
      <mat-radio-group _ngcontent-pax-c48="" class="tabs-list business-insights-tabs-list mat-radio-group" color="primary" role="radiogroup">
        <mat-radio-button _ngcontent-pax-c48="" class="mat-radio-button mat-radio-checked mat-primary ng-star-inserted" tabindex="-1" id="mat-radio-34">
          <label class="mat-radio-label" for="mat-radio-34-input">
            <div class="mat-radio-container"><div class="mat-radio-outer-circle"></div><div class="mat-radio-inner-circle"></div><div class="mat-radio-ripple mat-ripple" mat-ripple=""><div class="mat-ripple-element mat-radio-persistent-ripple"></div></div><input class="mat-radio-input cdk-visually-hidden" type="radio" id="mat-radio-34-input" tabindex="0" name="mat-radio-group-32"></div><div class="mat-radio-label-content"><span style="display:none">&nbsp;</span><cl-tab-item-view _ngcontent-pax-c48="" _nghost-pax-c20=""><dl _ngcontent-pax-c20="" class="tab-item"><dt _ngcontent-pax-c20="" class="tab-item-title"> Total Active Customers </dt><dd _ngcontent-pax-c20="" class="tab-item-value"> 433 </dd></dl></cl-tab-item-view></div>
          </label>
        </mat-radio-button>
      </mat-radio-group>
      <!-- /END paste mat-radio-group block here -->
    </div>

  </div>
</div>
