@import "variables";

@media (max-width: $desktop-width) {

}

@media (max-width: $tablet-width) {

}

@media (max-width: $mobile-width) {
  .game {
    &-wrap {
      width: 10rem !important;
    }

    &-icon {
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
}
