<mat-checkbox [(ngModel)]="disabled">disadled</mat-checkbox>

<!--<h2>Upload File</h2>-->

<h2>mat-form-field + control</h2>
<mat-form-field floatLabel="always" appearance="standard">
  <mat-label><span>Label</span></mat-label>
  <cs-upload-file
    [disabled]="disabled"
    [formControl]="control1"
    (dropFile)="log($event)"
    (uploadActions)="log($event)"
    (deleteFile)="log($event)">
    Upload File
  </cs-upload-file>
  <mat-hint>Hint</mat-hint>
  <mat-error *ngIf="control1.touched && control1.hasError('serverError')"><span
    translate>{{control1.getError('serverError')}}</span></mat-error>
  <mat-error *ngIf="control1.touched && control1.hasError('required')">
    Required
  </mat-error>
</mat-form-field>

<h2>mat-form-field</h2>
<mat-form-field floatLabel="always" appearance="standard">
  <mat-label>Label</mat-label>
  <cs-upload-file
    [disabled]="disabled"
    (dropFile)="log($event)"
    (uploadActions)="log($event)"
    (deleteFile)="log($event)">
    Upload File
  </cs-upload-file>
  <mat-hint>Hint</mat-hint>
</mat-form-field>

<h2>control</h2>
<cs-upload-file
  placeholder="sdfsdfsdgfsfg sdfsd"
  [disabled]="disabled"
  [formControl]="control2"
  (dropFile)="log($event)"
  (uploadActions)="log($event)"
  (deleteFile)="log($event)">
  Upload File
</cs-upload-file>
<mat-error *ngIf="control2.touched && control2.hasError('required')">
  Required
</mat-error>

<h2>simple</h2>
<cs-upload-file
  [disabled]="disabled"
  placeholder="placeholder"
  (dropFile)="log($event)"
  (uploadActions)="log($event)"
  (deleteFile)="log($event)">
  <span translate>
  Upload File
  </span>
</cs-upload-file>
