<div class="rewards-container" *ngIf="savedVouchers || redeemedVouchers">
  <div class="saved-rewards" *ngIf="savedVouchers">
    <h1 *ngIf="savedVouchers.length > 0">Saved rewards</h1>
    <perx-core-vouchers [data]="getObservableSavedVouchers()"
      [showExpireDate]="true"
      [mapping]="mapping"
      [showRedeemedDate]="false"
      (tapped)="voucherSelected($event)">           
    </perx-core-vouchers>
    <button *ngIf="!hideSeeMore && (savedVouchers.length > defaultNbVouchers)" (click)="seeMoreClicked()">See more</button>
  </div>

  <div class="past-rewards" *ngIf="(redeemedVouchers | async) as vouchers">
    <h1 *ngIf="vouchers.length > 0">Past rewards</h1>
    <perx-core-vouchers 
      [data]="redeemedVouchers"
      [showExpireDate]="false"
      [mapping]="mapping"
      [showRedeemedDate]="true">
    </perx-core-vouchers>
   </div>
  <div class="empty-wallet" *ngIf="!(savedVouchers)?.length && !(redeemedVouchers | async)?.length">
    <img src="assets/search.png">
    <h1>It’s empty here</h1>
    <p>Take your pick from our list of rewards. After you’ve saved them, they will appear here.</p>
  </div>
</div>
