<div class="container">
  <form #form='ngForm' [formGroup]="updatePhoneGroup" class="update-phone-form">
    <mat-form-field appearance="fill">
      <mat-label>Telephone number</mat-label>
      <input type="text" [textMask]="phoneMask" matInput formControlName="phone">
      <mat-error
        *ngIf="updatePhoneGroup.get('phone').hasError('required')
      && (updatePhoneGroup.get('phone').touched || form.submitted)">
        This field is required
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary">Submit</button>
  </form>
</div>
