@import "../../theme/variables.scss";

.main-container {
  width: 100%;

  .loc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $dark-grey;

    address {
      flex: 1;
    }

    p {
      margin: 0;
    }
  }

  .mat-button {
    margin-top: 0.5rem;
  }
}
