@import "variables";

.name {
  height: ($thumbnail-size / 2);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  .profilepic + * {
    margin-left: ($horizontal-padding * 0.5);
  }
}

.info-cell {
  display: flex;
  align-items: center;
  padding: 0;
}

// pop-up
.role-info {
  height: auto;
  max-width: 100%;
  padding: ($vertical-padding * 0.5) ($horizontal-padding * 0.75);
  box-sizing: border-box;

  &-title {
    @include typo-subtitle1-alt;

    margin-bottom: ($vertical-padding * 0.5);
  }

  &-label-block {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 ($horizontal-padding * 0.25) 0 0;
  }

  &-item {
    margin-bottom: ($vertical-padding * 0.75);
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &-name,
  &-description {
    @include typo-body2;
  }

  &-name {
    margin-bottom: ($vertical-padding * 0.25);
  }

  &-description {
    color: $secondary-font-color;
  }
}
