<table class="table" mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
    <td mat-cell *matCellDef="let element">
      <div class="name">
        <div class="image-cell">
          <img [src]="element?.avatar || 'assets/images/no-avatar.svg'" alt="logo-merchant">
        </div>
        <p>{{element?.name}}</p>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>
      <div class="info-cell">
        <div mat-sort-header="role">Role</div>
        <!-- hint-->
        <cl-info-hint classList="light">
          <mat-card class="card info">
            <div class="card-header info-header">
              <p class="card-title">Role</p>
            </div>
            <div class="card-content info-content">
              <div *ngFor="let role of config?.roleTypes" class="info-item">
                <div class="info-label-block">
                  <cl-role-label [role]="role.value"></cl-role-label>
                </div>
                <div>
                  <label class="info-title">{{role.title}}</label>
                  <p class="info-description">{{role.description}}</p>
                </div>
              </div>
            </div>
          </mat-card>
        </cl-info-hint>
        <!--/ hint-->
      </div>
    </th>
    <td mat-cell *matCellDef="let element">
      <cl-role-label [role]="element?.role" [showTitle]="true"></cl-role-label>
    </td>
  </ng-container>

  <ng-container matColumnDef="invitedDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="invitedDate">Invited Date</th>
    <td mat-cell *matCellDef="let element">{{element?.invitedDate | date: DATE_FORMAT}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="menu-column"></th>
    <td mat-cell *matCellDef="let element" class="menu-column">
      <button mat-icon-button [matMenuTriggerFor]="itemMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #itemMenu="matMenu">
        <button mat-menu-item (click)="editItem(element?.id)">Edit</button>
        <button mat-menu-item (click)="deleteItem(element?.id)">Delete</button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
