@import "variables";

.info {
  height: auto;
  max-width: 37.9rem;
  box-sizing: border-box;

  &-header {
    color: $base-font-color;
    box-sizing: border-box;
    height: 7rem;
    padding: 0 6rem 0 3rem !important;
  }

  &-content {
    box-sizing: border-box;
    padding: 0 6rem 2rem 3rem !important;
  }

  &-label-block {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0.6rem 2rem 0 0.2rem;
  }

  &-item {
    margin-bottom: 3rem;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &-title {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $base-font-color
  }

  &-description {
    padding-top: 0.7rem;
    font-family: $primary-font;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.5);
  }

}


.name {
  height: 6.6rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  & > * {
    margin-right: 1.4rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.info-cell {
  display: flex;
  align-items: center;
  padding: 0;
}
