<div class="table-wrap-this_breaks_because_of_popup">
  <table class="table" mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="username" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header="username">{{'SETTINGS_FEATURE.NAME' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <div class="name">
          <div class="thumbnail profilepic">
            <img [src]="element?.avatar || 'assets/images/user-profile/no-avatar.svg'" alt="Firstname Lastname">
          </div>
          <p>{{element?.username}}</p>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>
        <div class="info-cell">
          <div mat-sort-header="role">{{'SETTINGS_FEATURE.ROLE' | translate}}</div>
          <!-- hint-->
          <cl-info-hint classList="light">
              <div class="role-info">
                <h3 class="role-info-title">Roles</h3>
                <div *ngFor="let role of config?.roleTypes" class="role-info-item">
                  <div class="role-info-label-block">
                    <cl-role-label [role]="role.id"></cl-role-label>
                  </div>
                  <div>
                    <h4 class="role-info-name">{{role.title | translate}}</h4>
                    <p class="role-info-description">{{role.description | translate}}</p>
                  </div>
                </div>
              </div>
          </cl-info-hint>
          <!--/ hint-->
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <cl-role-label [role]="element?.relationships_groups_id" [showTitle]="true"></cl-role-label>
      </td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="created_at">{{'SETTINGS_FEATURE.INVITED_DATE' | translate}}
      </th>
      <td mat-cell *matCellDef="let element">
        <time datetime="">
          <span>{{element?.created_at | date: DATE_FORMAT}}</span>
        </time>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef class="column-menu"></th>
      <td mat-cell *matCellDef="let element" class="column-menu">
        <button mat-icon-button [matMenuTriggerFor]="itemMenu" aria-label="User menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #itemMenu="matMenu">
          <button mat-menu-item (click)="editItem(element)">{{'BTN_EDIT' | translate}}</button>
          <button mat-menu-item (click)="deleteItem(element?.id)">{{'BTN_DELETE' | translate}}</button>
          <button mat-menu-item (click)="resetItemPassword(element)">Reset password</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
