@import "../custom-theme.scss";

// Define your application's custom theme.
//$primary: mat-palette($mat-indigo);

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: center;
  height: 6rem;
  z-index: 800;
  font-size: 2rem;
  line-height: 1.9rem;
  position: relative;
  padding: 0.5rem 0;

  .mat-icon {
    position: absolute;
    left: 1.9rem;
  }

  .title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: 0.75px;
  }

  .logo-wrapper {
    height: 100%;
    width: auto;

    .logo {
      height: 100%;
    }
  }
}

.main-app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.game-container {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
  background-color: #F2F2F2;
}

.active-img {
  display: none;
}

.no-active-img {
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 5.6rem;
  z-index: 800;
  background: #fff;
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 0 2.4rem;

  a {
    text-decoration: none;
    color: #666666;

    &.active {
      color: mat-color($primary);

      .active-img {
        display: block;
      }

      .no-active-img {
        display: none;
      }
    }
  }
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
