<div class="main-app-container">
  <mat-toolbar class="toolbar mat-elevation-z2" *ngIf="showHeader" color="primary">
    <mat-icon *ngIf="showBackArrow" (click)="goBack()">arrow_back</mat-icon>
    <a class="logo-wrapper" [routerLink]="[ '/home' ]">
      <img *ngIf="showLogo" class="logo" src="assets/logo.png" />
    </a>
    <span *ngIf="showPageTitle" class="title">{{headerTitle}}</span>
  </mat-toolbar>
  <div class="game-container">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
  <mat-toolbar class="navbar mat-elevation-z2" *ngIf="showToolbar">
    <a [routerLink]="[ '/home' ]" routerLinkActive="active">
      <div class="nav-item">
        <img class="no-active-img" src="assets/img/home.svg">
        <img class="active-img" src="assets/img/home_active.svg">
        <span>Home</span>
      </div>
    </a>
    <a [routerLink]="[ '/promos' ]" routerLinkActive="active">
      <div class="nav-item">
        <img class="no-active-img" src="assets/img/promos.svg">
        <img class="active-img" src="assets/img/promos_active.svg">
        <span>Promos</span>
      </div>
    </a>
    <a [routerLink]="[ '/card' ]" routerLinkActive="active">
      <div class="nav-item">
        <img class="no-active-img" src="assets/img/card.svg">
        <img class="active-img" src="assets/img/card_active.svg">
        <span>Card</span>
      </div>
    </a>
    <a [routerLink]="[ '/wallet' ]" routerLinkActive="active">
      <div class="nav-item">
        <img class="no-active-img" src="assets/img/wallet.svg">
        <img class="active-img" src="assets/img/wallet_active.svg">
        <span>Wallet</span>
      </div>
    </a>
    <a [routerLink]="[ '/account' ]" routerLinkActive="active">
      <div class="nav-item">
        <img class="no-active-img" src="assets/img/account.svg">
        <img class="active-img" src="assets/img/account_active.svg">
        <span>Account</span>
      </div>
    </a>
  </mat-toolbar>
</div>
