<ng-container *ngIf="group">
  <div class="form-group" [formGroup]="group">
    <div class="rating-field-wrap">
      <div class="control-input">
        <mat-form-field>
          <mat-label><span translate>SCALE</span></mat-label>
          <mat-select [formControlName]="'scale'">
            <mat-option *ngFor="let item of scales" [value]="item.value">{{'SCALE' | translate}} {{item.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="control-input">
        <mat-form-field>
          <mat-label><span translate>SELECT_SHAPE</span></mat-label>
          <mat-select formControlName="shape">
            <mat-option [value]="'star'"><span translate>STAR</span></mat-option>
            <mat-option [value]="'heart'"><span translate>HEART</span></mat-option>
            <mat-option [value]="'circle'"><span translate>CIRCLE</span></mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="control-input">
        <mat-form-field color="primary">
          <mat-label><span translate>SELECT_COLOR</span></mat-label>
          <mat-select formControlName="color">
            <mat-select-trigger>
              <div class="select-color">
                <div class="select-color-preview" [ngClass]="color.value + '-material'">
                </div>
                <p class="select-color-text">
                  {{color.value | translate}}
                </p>
              </div>
            </mat-select-trigger>
            <mat-option [value]="'primary'">
              <div class="select-color">
                <div class="select-color-preview primary-material">
                </div>
                <span class="select-color-text" translate>
                  PRIMARY
                </span>
              </div>
            </mat-option>
            <mat-option [value]="'accent'">
              <div class="select-color">
                <div class="select-color-preview accent-material">
                </div>
                <span class="select-color-text" translate>
                  ACCENT
                </span>
              </div>
            </mat-option>
            <mat-option [value]="'warn'">
              <div class="select-color">
                <div class="select-color-preview warn-material">
                </div>
                <span class="select-color-text" translate>
                  WARN
                </span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="rating-field-wrap">
      <div class="control-input">
        <mat-form-field class="messages-input">
          <input type="text" matInput [placeholder]="'LEFT' | translate" formControlName="left_label">
          <mat-hint align="end">{{left.value?.length || 0}}/{{maxLabelLength}}</mat-hint>
          <mat-error *ngIf="left.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> {{maxLabelLength}}</mat-error>
        </mat-form-field>
      </div>
      <div class="control-input">
        <mat-form-field class="messages-input">
          <input type="text" matInput [placeholder]="'RIGHT' | translate" formControlName="right_label">
          <mat-hint align="end">{{right.value?.length || 0}}/{{maxLabelLength}}</mat-hint>
          <mat-error *ngIf="right.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> {{maxLabelLength}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</ng-container>
