.rating {
  &-field-wrap {
    display: flex;
    align-items: flex-end;

    .control-input {
      flex-shrink: 1;
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

