<h1>Total Active Customers</h1>
<h2>Total Active Customers</h2>
<pc-meta-card [id]="110" [cardType]="'verticalBar'" [parameters]="params"></pc-meta-card>
<h2>Total Active Customers (Overview Demographics)</h2>
<pc-meta-card [id]="107" [cardType]="'verticalBar'" [parameters]="params"></pc-meta-card>
<h2>Gender</h2>
<pc-meta-card [id]="111" [cardType]="'advancedPie'" [parameters]="params"></pc-meta-card>
<h2>Race</h2>
<pc-meta-card [id]="112" [cardType]="'pie'" [parameters]="params"></pc-meta-card>
<h2>Popular Transaction Days</h2>
<pc-meta-card [id]="113" [cardType]="'calendardHeatmap'" [parameters]="params"></pc-meta-card>

<h1>Total Revenue</h1>
<h2>Total Revenue</h2>
<pc-meta-card [id]="116" [cardType]="'line'" [parameters]="params"></pc-meta-card>
<h2>Average Revenue per User</h2>
<pc-meta-card [id]="118" [cardType]="'verticalBar'" [parameters]="params"></pc-meta-card>
<h2>Revenue by Location</h2>
<pc-meta-card [id]="119" [cardType]="'map'" [parameters]="params"></pc-meta-card>
<h2>Top 5 Rewards by Revenue</h2>
<pc-meta-card [id]="120" [cardType]="'trend'" [parameters]="params"></pc-meta-card>

<h1>Total Issued Rewards</h1>
<h2>Total Active Customers</h2>
<pc-meta-card [id]="116" [cardType]="'line'" [parameters]="params"></pc-meta-card>
<h2>Top 5 rewards by Redemption</h2>
<pc-meta-card [cardType]="'horizontalBar'" [parameters]="params"></pc-meta-card>
<h2>Redeemed Rewards by Reward Types</h2>
<pc-meta-card [id]="111" [cardType]="'advancedPie'" [parameters]="params"></pc-meta-card>
<h2>Redemption Rate by Campaign Types</h2>
<pc-meta-card [id]="111" [cardType]="'gridPie'" [parameters]="params"></pc-meta-card>

<h1>Total Active Campaigns</h1>
<h2>Total Campaigns</h2>
<pc-meta-card [id]="116" [cardType]="'line'" [parameters]="params"></pc-meta-card>
<h2>Engagement Rate By Campaign Types</h2>
<pc-meta-card [id]="116" [cardType]="'gridPie'" [parameters]="params"></pc-meta-card>
<h2>Top 5 Campaigns by Redemption</h2>
<pc-meta-card [id]="110" [cardType]="'horizontalBar'" [parameters]="params"></pc-meta-card>