<cl-loyalty-rule-card [tierId]="basicTierId"
                      tierType="basicTier"
                      [ruleSet]="basicTierRuleSet"
                      (rulesAction)="handleTiersAction($event)">
</cl-loyalty-rule-card>

<ng-container *ngFor="let customTier of (customTierDataSource.data$ | async)">
  <cl-loyalty-rule-card [tierId]="customTier?.id"
                        tierType="customTier"
                        [tierName]="customTier?.name"
                        [ruleSet]="getCustomTierRuleSet(customTier?.id)"
                        (rulesAction)="handleTiersAction($event)">
  </cl-loyalty-rule-card>
</ng-container>
