h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  margin-top: 32px;
}
p {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;

  color: #000000;
}
button {
  text-transform: uppercase;
}
@media (orientation: landscape) {
  .game-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 1.6rem;
  }
  .game-wrapper__left {
    display: block;
    width: 40%;
  }
  .game-wrapper__right {
    display: block;
    width: 60%;
  }
}
.spinner-container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}