:host {
  font-family: Lato, Helvetica, sans-serif;
  font-style: normal;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #000000;
}
button {
  height: 44px;
  background: #eb202f;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #ffffff;
}