:host {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  margin-top: 32px;
}

p {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;

  color: #000000;
}

button {
  text-transform: uppercase;
}

.game-wrapper {
  display: flex;
  width: 100%;
  max-width: 560px;
  max-height: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;

  .game-wrapper__top {
    flex: 1 1;
  }

  .game-wrapper__bottom {
    flex: 1 1;
    padding: 1.6rem;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  top: 6rem;
  height: calc(100% - 6rem);
  width: 100%;
  align-items: center;
  position: absolute;
  user-select: none;
  z-index: -1;
}
