@import "variables";

::ng-deep {
  .mat-dialog-content.edit-form {
    .mat-tab-header {
      display: none;
    }
  }
}

:host {
  @include modal-size($modal-md);
}

.upload-type {
  margin-top: 0.9rem;
}

.dialog {
  padding: 35px 0 17px 0;
}
