<aside class="dialog" id="pad-out" role="dialog" aria-labelledby="dialogTitle-multiUpload">
  <header class="dialog-header-wrap">
    <h1 class="dialog-title">
      <span>Upload Asset State Transition</span>
      <div class="upload-type">
        {{placeHolder | translate}}
      </div>
    </h1>
  </header>

    <div class="multi-diag">
      <form [formGroup]="formImgs" *ngIf="imageSegments">
        <!--[isRequired]="imageSegKVPairs[i][1]"-->
        <ng-container *ngFor="let control of imgArray.controls;index as i">
          <cl-upload-graphic
            [formControl]="control"
            [placeholder]="''"
            [uploadText]="imageSegKVPairs[i]|ctrlKeyVUpload"
          ></cl-upload-graphic>
        </ng-container>
      </form>
    </div>
  <mat-dialog-actions class="dialog-actions">
    <cs-button
      (click)="close()"
      [classList]="'secondary'"
      class="actions-close"
      [disableRipple]="true"
    ><span translate>{{'BTN_CANCEL'|translate}}</span>
    </cs-button>
    <!--first control by default is compulsory-->
    <cs-button
      [disable]="!imgArray.controls.length || !imgArray.controls[0].value"
      (click)="confirm()"
      [classList]="'primary'"
      [disableRipple]="true"
    >Confirm</cs-button>
  </mat-dialog-actions>
</aside>

