<div class="parent-container">
  <div class="perx-logo">
    <img src="/assets/icons/icon-72x72.png" alt="perxlogo">
  </div>
  <div class="intro-pic">
    <img src="/assets/images/forgot-password/figure.png" alt="" class="image-nice">
  </div>

  <div class="text-container">
    <div class="main-text">
      <h1 class="Hello-there">Forgotten your password?</h1>
      <p>Enter your username to reset your password.</p>
    </div>

    <form
      [formGroup]="formForget"
      (ngSubmit)="onSubmit()"
      id="forget-form">
      <div class="parent-container-control">
        <mat-form-field>
          <input matInput formControlName="username" [placeholder]="'User Id'">
          <mat-error *ngIf="username?.hasError('required')" translate>ERROR_REQUIRED</mat-error>
        </mat-form-field>
      </div>
      <div class="parent-container-action">
        <cs-button [disable]="formForget.invalid"
          [classList]="'primary btn-block'" [formId]="'forget-form'" class="btn-block">Submit</cs-button>
        <a [routerLink]="['/login']" class="back-to-login">Back To Login</a>
      </div>
    </form>
    <p class="foot-msg">© 2019 Perx Technologies. All rights reserved.</p>
  </div>
</div>
