<div class="main-container">
  <div class="popup-header">
    <h1>Sort by</h1>
    <button class="icon" (click)="dismiss($event)">
      <mat-icon><img src="assets/SH-close.svg" alt=""></mat-icon>
    </button>
  </div>
  <mat-card class="mat-elevation-z2">
    <div *ngFor="let criteria of sortingCriterias">
      <label [ngClass] = "{'label-selected': selectedCriteria === criteria}" (click)="onSortingOrderSelected(criteria)">
        {{criteria}}
        <mat-icon *ngIf="selectedCriteria === criteria">
          <img src="assets/SH-tick.svg" alt="">
        </mat-icon>
      </label>
    </div>
  </mat-card>
  <button mat-flat-button color="primary" (click)="apply($event)">Apply</button>
</div>