<div class="main-container">
  <div class="popup-header">
    <h1>Sort by</h1>
    <button class="icon" (click)="dismiss($event)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-card class="mat-elevation-z2">
    <div *ngFor="let criteria of sortingCriterias">
      <label [ngClass] = "{'label-selected': selectedCriteria === criteria}" (click)="onSortingOrderSelected(criteria)">
        {{criteria}}
        <mat-icon *ngIf="selectedCriteria === criteria">done</mat-icon>
      </label>
    </div>
  </mat-card>
  <button mat-flat-button color="primary" (click)="apply($event)">Apply</button>
</div>