<header class="page-header">
  <h1 class="title"> {{ 'MERCHANTS' | translate}}</h1>
  <cl-button (click)="openDialogCreate()" classList="primary cta cta-new">{{'BTN_CREATE_NEW' | translate}}</cl-button>
</header>

<section class="content merchant-list-content">
  <div class="merchant-list" [ngSwitch]="dataSource.state$ | async">
    <ng-container *ngSwitchCase="dataSourceStates.hasDataApi">
      <!--filters-->
      <cl-table-filters [dataSource]="dataSource" classList="block">
        <ng-container *clTableFilter="'name'; let filter">
          <cl-search-filter class="search-block" [control]="filter"
                            [placeholder]="'SEARCH_FOR_MERCHANTS' | translate"></cl-search-filter>
        </ng-container>
      </cl-table-filters>
      <div class="table-card">
        <!--table-->
        <div class="merchant-list-wrapper">
          <cl-list-merchant-view [dataSource]="dataSource"
                                 (itemAction)="handlerAction($event)"
          >
          </cl-list-merchant-view>
        </div>
        <!--paginator-->
        <cl-paginator [dataSource]="dataSource"
                      [pageSize]="5"
                      [pageSizeOptions]="[5, 10, 20]"
        ></cl-paginator>
        <!--/ paginator-->
      </div>
    </ng-container>

    <cl-no-data *ngSwitchCase="dataSourceStates.noDataApi">
      <img class="no-data-img" src="/assets/images/no-data/merchants-empty-illustration.svg" alt="">
      <h2 class="no-data-title">
        {{'YOU_NEED_MERCHANT' | translate}}
      </h2>
      <p class="no-data-text">
        {{'NO_DATA_MERCHANT' | translate}}
      </p>
    </cl-no-data>
  </div>
</section>
