<div class="main-wrap">
  <div class="content-wrap">
    <div class="logoWrapper" >
      <img class="logo" [attr.src]="theme.properties['--logo']" [attr.alt]="theme.properties['--title']" />
    </div>

    <div class="input-content">
      <h1>Login</h1>
      <div class="error_msg">
        <span>{{errorMessage}}</span>
      </div>
      <form class="input-content" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width__input">
          <mat-label translate>Unique code</mat-label>
          <input matInput formControlName="personalId" type="text" required>
          <mat-error *ngIf="loginForm.hasError('personalId')">
            personalId is <strong>invalid</strong>
          </mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">Login</button>
      </form>
    </div>

    <div>
      <p>
        Don’t have a unique code?
        <a href="https://www.philips.com.sg/myphilips/login?elqTrack=true&origin=3_sg_en_lucky7teasermembers__sa_jul_link16351799981_email55101__g%3Cspan%20class=eloquaemail%20%3EContactGender1%3C/span%3E#tab=sign-up&utm_source=eloqua&utm_medium=email&utm_campaign=lucky7teasermembers&utm_content=email55101" class="cta-text">Sign up here</a>
        as My Phillips member before 8 July and receive the code!
      </p>
      <hr class="paragraph-sep" />
      <p>*Make sure you tick the box to receive promotional communications!</p>
    </div>

  </div>
</div>
