<section [formGroup]="formGeneral">
  <mat-card class="card-fieldset">
    <h2 class="card-fieldset-title sub-title">
      Time zone
    </h2>
    <div class="control-input">
      <mat-form-field class="game-stamp-select">
        <mat-label>Select Time Zone</mat-label>
        <mat-select formControlName="time_zone">
          <mat-option *ngFor="let zone of timeZones$ | async" [value]="zone.id">
            ({{zone.zone}}) {{zone.country}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card>
  <mat-card class="card-fieldset">
    <h2 class="card-fieldset-title sub-title">
      Currency
    </h2>
    <div class="control-input">
      <mat-form-field class="game-stamp-select">
        <mat-label>Select Currency</mat-label>
        <mat-select formControlName="currency">
          <mat-option *ngFor="let currency of currency$ | async" [value]="currency.currency">
            {{currency.country + ' ' + currency.currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card>
</section>

