@import "variables";

.info {
  &-image {
    width: 100%;
    height: auto;
    object-fit: contain;

    &-wrap {
      width: 25rem;
      height: 25rem;
      padding-right: 5.6rem;
    }
  }

  &-created-by {
    font-size: 1.2rem;
    line-height: 1.33;
    letter-spacing: 0.4px;
    color: rgba($base-font-color, 0.6);
  }

  &-type-status {
    padding-top: 1.2rem;
  }

  &-name {
    padding-top: 2.4rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.15px;
    color: rgba($base-font-color, 0.87);
  }

  &-points-title {
    padding-top: 2.4rem;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: $secondary-color;
  }

  &-points-value {
    font-size: 1.4rem;
    line-height: 1.43;
    letter-spacing: 0.25px;
    color: rgba($base-font-color, 0.87);
    white-space: pre-line;
  }
}
