<mat-expansion-panel class="card" expanded>
  <mat-expansion-panel-header class="card-header">
    <h2 class="card-title">
      {{'LOYALTY_FEATURE.LOYALTY_SCHEME_INFO' | translate}}
    </h2>
  </mat-expansion-panel-header>

  <div class="card-content" *ngIf="loyalty">
    <div class="flex">
      <div class="info-image-wrap flex align-items-center">
        <img [src]="loyalty?.details?.imageUrl" alt="schemaInfo" class="info-image">
      </div>
      <div class="info-schema-description">
        <div class="info-created-by">
          <span>
            {{'LOYALTY_FEATURE.CREATED_ON' | translate}}
            {{loyalty?.createdAt | date: 'medium'}}</span>
        </div>
        <div class="info-type-status">
          <cl-status-label [status]="loyalty?.status" [config]="statusLabel"></cl-status-label>
        </div>
        <div>
          <p class="info-name">
            {{loyalty?.name}}
          </p>
          <p class="info-points-title">
            {{'LOYALTY_FEATURE.POINTS_NAME' | translate}}
          </p>
          <p class="info-points-value">{{loyalty?.details?.pointsName}}</p>
          <p class="info-points-title">
            {{'LOYALTY_FEATURE.JOINING_METHOD' | translate}}
          </p>
          <div class="info-points-value">
              {{loyalty?.details?.joinMethod | JoinMethod}}
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-expansion-panel>
