.rewards-list {
  margin: 6rem 0;
  padding: 0 1.5rem;
  background-color: #fff3f3;
}

h1 {
  padding: 2rem 0 0.8rem 0;
  margin: 0;
  display: flex;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.3rem;
}
