@import '../../../../theme/variables.scss';

.item {
  border-radius: 12px;
  box-shadow: 0 0 16px $medium-black;
  list-style-type: none;
  margin: 16px;
  background: $white 0 0 no-repeat padding-box;

  a {
    text-decoration: none;
  }

  .tag-group {
    .tag {
      top: -13px;
      position: relative;
      margin: 5px;
      width: fit-content;
    }

    > .tag:first-child {
      margin-left: 10px;
    }
  }

  img {
    width: 100%;
    //height: 128px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .container {
    position: relative;
    padding: 16px;

    .title {
      padding: 0;
      margin: 0;
      color: $medium-blue;
      font-size: 16px;
    }

    .description {
      padding: 0;
      margin: 10px 0;
      font-size: 12px;
      color: $light-black;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
