<div class="main-container" *ngIf="invoice">
    <div class="header-details">
        <p class="sales-title">{{"ORDER_SUMMARY.SALES_RECORD_TITLE"|translate}}</p>
        <h1>{{"ORDER_SUMMARY.SALES_RECORD_SUBTITLE"|translate}}</h1>      
        <div class="invoice-barcode" *ngIf="invoice?.transactionId">
            <p class="sales-id">{{"ORDER_SUMMARY.SALES_RECORD_ID"|translate}} {{invoice.transactionId}}</p>
            <ngx-barcode6
            [bc-value]="invoice.transactionId"
            [bc-font-size]="13" [bc-height]="32" [bc-width]="4"
            ></ngx-barcode6>
        </div>
    </div>
    <div class="summary-details">
        <div *ngIf="user" class="customer-info">
            <p class="heading">{{"ORDER_SUMMARY.SUMMARY"|translate}}</p>
            <p class="heading">{{"ORDER_SUMMARY.CUSTOMER"|translate}}</p>
            <div class="user-details">
                <p>{{ user.firstName}} {{ user.lastName}}</p>
                <small>ID: {{ user.identifier }}</small>
            </div>
            <small *ngIf="user.customProperties?.phone">{{"ORDER_SUMMARY.MOBILE_NUMBER"|translate}}: {{ user.customProperties.phone }}</small>
        </div>  
        <hr/>
        <ng-container *ngIf="!isPreActivatedUser">
            <ng-container *ngIf="invoice.voucherId">
                <p>{{"ORDER_SUMMARY.VOUCHER_APPLIED"|translate}}</p>
                <div class="voucher-bg">
                    <img src="../../assets/voucher-bg.png"/>
                    <div class="voucher-title">
                        {{invoice.voucherName}}      
                    </div>
                </div>
            </ng-container>
            <p>{{"ORDER_SUMMARY.POINTS_PAID"|translate}}</p>
            <small>{{invoice.pointsPaid}}</small>
        <hr/>
        </ng-container>
        <p>{{"ORDER_SUMMARY.AMOUNT"|translate}}</p>
        <small>{{invoice.collectedAmount}}</small>
        <p>{{"ORDER_SUMMARY.RECEIPT"|translate}}</p>
        <small>{{invoice.description}}</small>
    </div>
</div>
