<div class="faq-container">
  <p class="c4"><span class="c0">Collect V2.0 Promo</span></p>
  <p class="c4"><span class="c10">Frequently Asked Questions (FAQs)</span></p>
  <p class="c4 c12"><span class="c1"></span></p>
  <p class="c4">
    <span class="c0"
      >1) I deleted the SMS notification containing my Player Code and the link to
      the Game Site. I cannot log-in. What should I do?</span
    >
  </p>
  <p class="c4 c12"><span class="c1"></span></p>
  <p class="c4">
    <span class="c1"
      >Please call the HSBC Customer Service Hotline at (02) 85-800 to request for
      the re-sending of the SMS notification containing the Player Code and link
      to the Game Site.</span
    >
  </p>
  <p class="c4 c12"><span class="c1"></span></p>
  <p class="c4">
    <span class="c0"
      >2) I do not have a smartphone. Will I be able to access in my desktop or
      laptop?</span
    >
  </p>
  <p class="c4 c12"><span class="c1"></span></p>
  <p class="c4">
    <span class="c1"
      >Yes. The HSBC Game Site may be accessed using a laptop or desktop. Please
      type in the URL link sent to you via SMS / eDM in your internet browser. You
      must have an internet connection or mobile data to be able to access the
      Game Site.</span
    >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c11">
    <span class="c0"
      >3) When will the number of puzzle pieces in my account be updated? What is
      the schedule?</span
    >
  </p>
  <p class="c11">
    <span class="c1"
      >There&rsquo;s a cut-off schedule that is being followed based on the
      coverage of qualified transactions:</span
    >
  </p>
  <a id="t.50565b795e711dfa7fb66d4c8686167e82f8b662"></a>
  <a id="t.0"></a>
  <table class="c18">
    <tbody>
      <tr class="c15">
        <td class="c9 c7" colspan="1" rowspan="1">
          <p class="c8" id="h.gjdgxs">
            <span class="c13">Cut-Off<br />No.</span>
          </p>
        </td>
        <td class="c5 c7" colspan="1" rowspan="1">
          <p class="c8">
            <span class="c13">Cut-Off Date for Game Codes Sending via SMS</span>
          </p>
        </td>
        <td class="c2 c7" colspan="1" rowspan="1">
          <p class="c8"><span class="c13">Coverage of Transactions</span></p>
        </td>
      </tr>
      <tr class="c6">
        <td class="c9" colspan="1" rowspan="1">
          <p class="c8"><span class="c1">1</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">12-Jul-19</span></p>
        </td>
        <td class="c2" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">July 1 to July 7, 2019</span></p>
        </td>
      </tr>
      <tr class="c6">
        <td class="c9" colspan="1" rowspan="1">
          <p class="c8"><span class="c1">2</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">19-Jul-19</span></p>
        </td>
        <td class="c2" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">July 8 to July 14, 2019</span></p>
        </td>
      </tr>
      <tr class="c6">
        <td class="c9" colspan="1" rowspan="1">
          <p class="c8"><span class="c1">3</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">26-Jul-19</span></p>
        </td>
        <td class="c2" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">July 15 to July 21, 2019</span></p>
        </td>
      </tr>
      <tr class="c6">
        <td class="c9" colspan="1" rowspan="1">
          <p class="c8"><span class="c1">4</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">2-Aug-19</span></p>
        </td>
        <td class="c2" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">July 22 to July 28, 2019</span></p>
        </td>
      </tr>
      <tr class="c6">
        <td class="c9" colspan="1" rowspan="1">
          <p class="c8"><span class="c1">5</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">9-Aug-19</span></p>
        </td>
        <td class="c2" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">July 29 to August 4, 2019</span></p>
        </td>
      </tr>
      <tr class="c6">
        <td class="c9" colspan="1" rowspan="1">
          <p class="c8"><span class="c1">6</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">16-Aug-19</span></p>
        </td>
        <td class="c2" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">August 5 to August 11, 2019</span></p>
        </td>
      </tr>
      <tr class="c6">
        <td class="c9" colspan="1" rowspan="1">
          <p class="c8"><span class="c1">7</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">23-Aug-19</span></p>
        </td>
        <td class="c2" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">August 12 to August 18, 2019</span></p>
        </td>
      </tr>
      <tr class="c6">
        <td class="c9" colspan="1" rowspan="1">
          <p class="c8"><span class="c1">8</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">30-Aug-19</span></p>
        </td>
        <td class="c2" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">August 19 to August 25, 2019</span></p>
        </td>
      </tr>
      <tr class="c6">
        <td class="c9" colspan="1" rowspan="1">
          <p class="c8"><span class="c1">9</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">6-Sep-19</span></p>
        </td>
        <td class="c2" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">August 26 to September 1, 2019</span></p>
        </td>
      </tr>
      <tr class="c6">
        <td class="c9" colspan="1" rowspan="1">
          <p class="c8"><span class="c1">10</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">13-Sep-19</span></p>
        </td>
        <td class="c2" colspan="1" rowspan="1">
          <p class="c4">
            <span class="c1">September 2 to September 8, 2019</span>
          </p>
        </td>
      </tr>
      <tr class="c6">
        <td class="c9" colspan="1" rowspan="1">
          <p class="c8"><span class="c1">11</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">20-Sep-19</span></p>
        </td>
        <td class="c2" colspan="1" rowspan="1">
          <p class="c4">
            <span class="c1">September 9 to September 15, 2019</span>
          </p>
        </td>
      </tr>
      <tr class="c6">
        <td class="c9" colspan="1" rowspan="1">
          <p class="c8"><span class="c1">12</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">27-Sep-19</span></p>
        </td>
        <td class="c2" colspan="1" rowspan="1">
          <p class="c4">
            <span class="c1">September 16 to September 22, 2019</span>
          </p>
        </td>
      </tr>
      <tr class="c6">
        <td class="c9" colspan="1" rowspan="1">
          <p class="c8"><span class="c1">13</span></p>
        </td>
        <td class="c5" colspan="1" rowspan="1">
          <p class="c4"><span class="c1">11-Oct-19</span></p>
        </td>
        <td class="c2" colspan="1" rowspan="1">
          <p class="c4">
            <span class="c1">September 23 to September 30, 2019</span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="c8">
    <span class="c16"
      >Transactions must be posted. Posting is usually 3-5 days after transaction
      date.</span
    >
  </p>
  <p class="c8 c12"><span class="c14"></span></p>
  <p class="c11">
    <span class="c0">4) Will my Player Code change every cut-off date?</span>
  </p>
  <p class="c11">
    <span class="c1"
      >No. You will have the same Player Code which you need to enter every time
      you log-in to the HSBC Game Site.</span
    >
  </p>
  <p class="c11">
    <span class="c0"
      >5) The number of stickers in my account were not updated.</span
    >
  </p>
  <p class="c11">
    <span class="c1"
      >Please note that a minimum single-receipt straight purchase of Php1,000
      entitles you to earn 1 puzzle piece while a minimum single-receipt
      installment transaction of Php3,000 entitles you to earn 2 puzzle pieces.
      These are updated based on the cut-off schedule. Kindly refer to your
      Statement of Account to validate your transactions. Please call the HSBC
      Customer Service Hotline at (02) 85-800 to report if there are still
      concerns.</span
    >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c11">
    <span class="c0"
      >6) Do I need to redeem my Instant Reward during the same day I
      played?</span
    >
  </p>
  <p class="c11">
    <span class="c1"
      >You have the option to redeem at a later time. Your unclaimed rewards and
      Sticker Card is found in your profile at the HSBC Game Site. Redemption
      Period is until December 11, 2019 for all earned Instant Rewards/Prizes.
      Instant Rewards left unclaimed will be forfeited after the Redemption Period
      while cardholders who have not logged in and used up their chances to play
      will be forfeited by October 15, 2019.</span
    >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c11">
    <span class="c0"
      >7) Merchant is not aware of the promo. They are not allowing me to redeem.
      What do I do?</span
    >
  </p>
  <p class="c11">
    <span class="c1"
      >The merchant partner is trained to accept qualified redemptions. Please
      bring the redemption requirements as indicated in the Promo Mechanics.
      Kindly call our hotline at 85-800 for any other concerns.</span
    >
  </p>
  <div>
    <p class="c4"><span class="c1">PUBLIC</span></p>
  </div>
</div>
