.dots {
  text-align: center;
  margin-bottom: 2rem;

  .container {
    margin: 0 auto;
    position: relative;

    span {
      height: 1rem;
      border-radius: 5rem;
      display: inline-block;
      margin: 0 0.4rem;

      &.gray-dot {
        width: 1rem;
        background-color: #d2d8e2;
      }

      &.green-bar {
        width: 2.8rem;
        background-color: #6dc00e;
      }
    }
  }
}

.description {
  font-size: 1.6rem;
}

cdk-virtual-scroll-viewport {
  height: 30rem;
  margin-top: 3rem;
}

.cdk-virtual-scroll-data-source .mat-item {
  height: 100%;
}

.card {
  border: 2rem;
}

.mat-card {
  margin: 0 1rem;

  .mat-card-content {
    padding: 1rem;
    min-height: 5rem;
    margin-bottom: 0;

    p {
      white-space: pre-line;
    }
  }

  .mat-card-image {
    height: 15rem;
    object-fit: cover;
  }

  mat-card-actions {
    padding-top: 0;
  }
}
