<div class="cdk-virtual-scroll-data-source" (window:resize)="onResize()">
  <cdk-virtual-scroll-viewport
    (scrolledIndexChange)="getIndex($event)"
    [itemSize]="itemSize"
    orientation="horizontal"
  >
    <mat-card
      *cdkVirtualFor="let item of items"
      class="mat-item mat-elevation-z2"
      [ngStyle]="{'width': (itemSize-50)+'px'}"
    >
      <img mat-card-image [src]="item.image" *ngIf="item.image">
      <mat-card-content>
        <p>{{ (item.description.length > 120) ? (item.description | slice:0:120)+'...':(item.description) }}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button target="__blank" [href]="item.link" color="primary">Read More</a>
      </mat-card-actions>
    </mat-card>
  </cdk-virtual-scroll-viewport>
</div>

<div class="dots">
  <div class="container">
    <span class="scroller" [ngStyle]="{'transform': 'translateX(' + scrolledValue + '%)'}">
      <span class="active"></span>
    </span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>