<div class="cdk-virtual-scroll-data-source" (window:resize)="onResize()">
  <cdk-virtual-scroll-viewport (scrolledIndexChange)="updateScrollIndex($event)" [itemSize]="itemSize"
    orientation="horizontal">
    <div *cdkVirtualFor="let item of items"
         class="hero-card">
      <img class="hero-img" [src]="item.image" *ngIf="item.image">
      <div class="gradient-cta-block">
        <p color="primary" (click)="readMore(item)" class="description">
          {{ getFirstLine((item.description)).length > 120 ? getFirstLine((item.description | slice:0:120)) + '...' : getFirstLine((item.description)) }}
        </p>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
<div class="dots">
  <div class="container">
    <span class="gray-dot" *ngFor="let i of newsBeforeScroll"></span>
    <span class="green-bar"></span>
    <span class="gray-dot" *ngFor="let i of newsAfterScroll"></span>
  </div>
</div>
