<div class="news-feed-wrapper">
  <div class="cards-cont">
    <div class="cards" (scroll)="feedScrolled($event)" #itemsContainer>
      <ng-container *ngIf="!ghostFeed && items">
        <div
          *ngFor="let item of items; let i = index"
          (click)="readMore(item)"
          class="hero-card"
        >
          <img class="hero-img" [src]="item.image" *ngIf="item.image" />
          <div class="gradient-cta-block">
            <p color="primary" class="description">
              {{
                getFirstLine(item.description).length > 120
                  ? getFirstLine(
                      item.description ? item.description : ('' | slice: 0:120)
                    ) + '...'
                  : getFirstLine(item.description)
              }}
            </p>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="ghostFeed">
        <div class="hero-card">
          <img class="img-ghost" />
          <div class="gradient-cta-block">
            <p class="description-ghost"></p>
          </div>
        </div>
      </ng-container>
    </div>
    <!-- <div class="dots">
      <div class="container">
        <span class="gray-dot" *ngFor="let i of newsBeforeScroll"></span>
        <span class="green-bar"></span>
        <span class="gray-dot" *ngFor="let i of newsAfterScroll"></span>
      </div>
    </div> -->

    <div class="dots">
      <div class="container">
        <span
          class="gray-dot"
          *ngFor="let i of items; let ind = index"
          [ngClass]="{ 'green-bar': ind === activeNumber }"
          (click)="onCircleClick(ind === activeNumber, ind)"
        ></span>
        <!-- <span class="green-bar"></span> -->
      </div>
    </div>
  </div>
</div>
