$hero-height: 22.5rem;
$gradient-text-height: 4.5rem;

.cdk-virtual-scroll-data-source {
  margin-bottom: 1rem;
  height: $hero-height;
  width: 100%;

  cdk-virtual-scroll-viewport {
    height: 100%;

    .hero-card {
      position: relative;
      width: 100%;

      .hero-img {
        height: $hero-height;
        width: 100%;
        object-fit: cover;
      }

      .gradient-cta-block {
        position: absolute;
        width: 100%;
        top: calc(#{$hero-height} - #{$gradient-text-height});
        background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);

        .description {
          padding-inline-start: 1.6rem;
          font-size: 1.6rem;
          font-weight: bold;
          color: #FFFFFF;
        }
      }
    }
  }
}

.dots {
  text-align: center;
  margin-bottom: 2rem;

  .container {
    margin: 0 auto;
    position: relative;

    span {
      height: 1rem;
      border-radius: 5rem;
      display: inline-block;
      margin: 0 0.4rem;

      &.gray-dot {
        width: 1rem;
        background-color: #d2d8e2;
      }

      &.green-bar {
        width: 2.8rem;
        background-color: #6dc00e;
      }
    }
  }
}
