<div class="main-puzzle-container">
  <div class="card-container">
    <div class="game-header">
      <h1>Let's play the game and try your luck</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </h3>
    </div>
    <div class="game-wrapper">
      <perx-core-scratch-card>
      </perx-core-scratch-card>
    </div>
    <div class="game-mechanic">
      <mat-list>
        <mat-list-item class="mat-elevation-z0">
          <img mat-list-icon class="images" src="../../../assets/icons/mission.svg">
          <span>Scratch the card to see whether you can get the reward and you will have 3 chance in total</span>
        </mat-list-item>
        <mat-list-item class="mat-elevation-z0">
          <img mat-list-icon class="images" src="../../assets/icons/mission-reward.svg">
          <span>Chance to get HKD 50 HKTV mall voucher or one more lucky draw change</span>
        </mat-list-item>
        <mat-list-item class="mat-elevation-z0">
          <img mat-list-icon class="images" src="../../assets/icons/mission-end-date.svg">
          <span>Ends on 23/03/2023</span>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="card-container">
    <div class="game-how-to">
      <h1 class="how-to-work">How to work</h1>
      <hr>
      <div class="how-to-container">
        <h1 class="title">Campaign details</h1>
        <h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </h3>
      </div>
      <div class="how-to-container">
        <h1 class="title">Terms & conditions</h1>
        <h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </h3>
      </div>
      <div class="how-to-container">
        <h1 class="title">Remark(s)</h1>
        <h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </h3>
      </div>
    </div>
    <div class="game-footer">
      <button class="js-play ga_start_game" mat-flat-button> Start to play
      </button>
    </div>
  </div>
</div>
