@import "../../../styles/variables";

:host {
  height: 100%;

  ::ng-deep {
    .details {
      padding: 0 1.6rem 1.5rem !important;
    }

    .reward-container {
      width: 100%;
    }
  }
}

.reward {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  &-buy {
    color: $white;
    width: 100%;
  }
}

.reward-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

perx-core-reward {
  display: flex;
  overflow-y: scroll;
}

.container {
  height: 100%;
}

.button-container {
  padding: 1.6rem;
}
