@import "../../theme/variables.scss";

.mission-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2.4rem;
  height: auto;
  max-width: 41.5rem;
  padding-top: 6rem;
  position: fixed;
  top: 0;

  .img {
    background-image: url("../../assets/background-mission.png");
    background-repeat: no-repeat, repeat;
    padding-top: 10px;
    width: 100%;
    background-size: cover;
  }
}

.home-qr-button {
  background-color: var(--button_background_color);
  color: var(--button_text_color);
  margin-right: 1.6rem;
  margin-bottom: 1.6rem;
}

.page {
  background-color: var(--background);
  min-height: 100%;
  overflow-y: auto;
  height: 100%;
  flex: 1;

  margin-top: 23rem;
}

.campaign-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 20rem;
  .campaigns {
    order: 1;

    &.prioritise {
      order: 0;
    }
  }
}

.title {
  font-size: 2rem;
  margin: 2.4rem 1.6rem 1.6rem;
  line-height: 2.3rem;
  color: var(--font_color);
  font-weight: 500;
}
