<div class="page" *ngIf="theme && theme.properties && appConfig && appRemoteFlags" infiniteScroll
  [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">
  <div class="mission-block">
    <hangseng-home-mission></hangseng-home-mission>
  </div>
  <perx-core-newsfeed [items$]="newsFeedItems"></perx-core-newsfeed>
  <div class="rewards-collection"
    *ngIf="(appRemoteFlags?.rewardsCarousel || appConfig.showRewardsOnHomepage) && (rewards$ | async)?.length > 0">
    <div class="title" translate>HOME.FEATURED_REWARDS</div>
    <perx-core-rewards-collection (favoriteRewardEvent)="rewardFavoriteHandler($event)" [showRewardFavButton]="false"
      [rewardsList]="rewards$" (tapped)="goToReward($event)"></perx-core-rewards-collection>
  </div>
  <div class="campaign-list">
    <!-- instant reward campaigns-->
    <div class="campaigns">
      <div *ngIf="(instantCampaigns$ | async)?.length > 0" class="title" translate>HOME.INSTANT_REWARD_CAMPAIGNS</div>
      <perx-blackcomb-pages-campaigns-collection [campaigns]="instantCampaigns$" (selected)="goToCampaignPage($event)">
      </perx-blackcomb-pages-campaigns-collection>
    </div>

    <!-- progress bar campaigns-->
    <div class="campaigns"
      *ngIf="appConfig.showProgressBarCampaignsOnHomePage || appRemoteFlags?.showProgressBarCampaignsOnHomePage">=
      <perx-blackcomb-pages-campaigns-collection [campaigns]="progressCampaigns$" (selected)="goToCampaignPage($event)">
      </perx-blackcomb-pages-campaigns-collection>
    </div>

    <!-- Stamp card campaigns-->
    <div class="campaigns" *ngIf="appConfig.showStampCampaignsOnHomePage">
      <perx-blackcomb-pages-campaigns-collection [campaigns]="stampCampaigns$" (selected)="goToCampaignPage($event)">
      </perx-blackcomb-pages-campaigns-collection>
    </div>

    <!-- Game campaigns-->
    <div class="campaigns">
      <perx-blackcomb-games-collection [games]="games$"></perx-blackcomb-games-collection>
    </div>

    <!-- Quiz campaigns -->
    <div class="campaigns" *ngIf="appConfig.showQuizOnHomePage">
      <perx-blackcomb-pages-campaigns-collection [defaultNbCampaigns]="3" [campaigns]="quizCampaigns$"
        [gameType]="gameType.quiz" [withRewardsCounter]="appConfig.showCampaignRewardsCounterOnHomepage"
        (selected)="goToCampaignPage($event)">
      </perx-blackcomb-pages-campaigns-collection>
    </div>

    <!-- Survey campaigns -->
    <div class="campaigns" [ngClass]="{'prioritise': appConfig.custom.showSurveyFirstOnHomePageCampaignList === 'true'}"
      *ngIf="appConfig.showSurveyOnHomePage">
      <perx-blackcomb-pages-campaigns-collection [gameType]="gameType.survey" [campaigns]="surveyCampaigns$"
        (selected)="goToCampaignPage($event)">
      </perx-blackcomb-pages-campaigns-collection>
    </div>
    <!-- Quest campaigns-->
    <div class="campaigns" *ngIf="appConfig.showQuestCampaignsOnHomePage && appRemoteFlags.showQuest">
      <perx-blackcomb-pages-campaigns-collection [campaigns]="questCampaigns$" (selected)="goToCampaignPage($event)">
      </perx-blackcomb-pages-campaigns-collection>
    </div>
  </div>
</div>
