@import "../../theme/variables.scss";

.mission-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2.4rem;
  height: auto;
  max-width: 41.5rem;

  .img {
    background-image: url("../../assets/background-mission.png");
    background-repeat: no-repeat, repeat;
    padding-top: 10px;
    width: 100%;
    background-size: cover;
  }
}

.page {
  background-color: $white;
  min-height: 100%;
  overflow-y: auto;
  height: 100%;
  flex: 1;
}

.campaign-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;

  .campaigns {
    order: 1;

    &.prioritise {
      order: 0;
    }
  }
}
