<div class="container">
  <header class="header">
    <img class="header-logo" src="assets/images/logo.png" alt="">
    <h1 class="header-title">Home + Shop</h1>
  </header>
  <mat-card>
    <h2 class="sign-in">{{"LOGIN_PAGE.LOGIN" | translate}}</h2>
    <a class="register-message" [routerLink]="'/registration'">{{"LOGIN_PAGE.REGISTER_FOR_AN_ACCOUNT" | translate}}</a>

    <hkbn-login-form (loginSubmit)="login($event)" (forgotPassword)="forgotPassword($event)">

    </hkbn-login-form>
  </mat-card>
</div>

