@import '../../styles.scss';

.main-container {
  background-color: #0f69af;

  .logo {
    padding-top: 7rem;
  }

  .container {
    padding: 0 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .subheading {
      font-size: 1.4rem;
      color: $subheading-light-gray-color;
      font-style: normal;
      font-weight: normal;
      margin-top: 0.8rem;
    }

    form {
      margin-top: 1.2rem;
    }

    .full-width__button {
      width: 100%;
      background-color: $main-blue-theme;
      color: white;
      margin-top: 2rem;
    }

    .full-width__input {
      width: 100%;
      margin-top: 1rem;
    }
  }
}
