<div class="main-container" *ngIf="theme">
  <div class="floating-container">
    <div class="logo-container">
      <div *ngIf="theme?.properties['--landing_page_logo'];else nav_logo">
        <a routerLink="/">
          <img class="logo" [attr.src]="theme?.properties['--landing_page_logo']"
               [attr.alt]="theme?.properties['--title']"/>
        </a>
      </div>
      <ng-template #nav_logo>
        <img class="logo" [attr.src]="theme?.properties['--logo']" [attr.alt]="theme?.properties['--title']"/>
      </ng-template>
    </div>
    <div class="logo-title">
      {{"LOGIN_PAGE.LOGIN_SUBTITLE"|translate}}
    </div>
  </div>
  <div class="container">
    <mat-card class="content mat-elevation-z3">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field class="full-width__input">
          <mat-label>
            {{"FORGET_PW_PAGE.EMAIL_ADDRESS"|translate}}
          </mat-label>
          <input
            matInput
            placeholder='{{"FORGET_PW_PAGE.EMAIL_ADDRESS"|translate}}'
            formControlName="email"
            required
          >
          <mat-error *ngIf="loginForm.hasError('email')">
            {{"FORGET_PW_PAGE.EMAIL_ADDRESS_IS"|translate}} <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button
          mat-flat-button
          class="full-width__button btn-blue"
        >
          {{"FORGET_PW_PAGE.NEXT"|translate}}
        </button>
      </form>
    </mat-card>
  </div>
</div>
