.mat-form-field {
  display: block;
}

.main-container {
  background-color: #0f69af;

  .logo {
    padding-top: 7rem;
  }

  .container {
    background-color: #0f69af;
    padding: 0 1.5rem 1.5rem;
  }
}
