@import "variables";

.audience-list-content {
  margin-top: $vertical-padding;

  .send-message-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $vertical-padding;
  }
}