<div class="page">
  <img src="assets/logo.png">
  <h3 class="sub-title">
    HSBC Credit Cards<br>
    Shop & Collect Christmas Game 2019 Promo
  </h3>
  <ol class="main">
    <li>HSBC Credit Card's Christmas Collect Promo (the "Promo") will run from <span class="bold">November 4, 2019 to
        February 15, 2020.</span> </li>
    <li>Promo is open to all Primary and Supplementary Credit Cardholders of HSBC
      Classic and Gold Visa/Mastercard, HSBC Red Mastercard, HSBC Platinum Visa, HSBC Advance Visa, and HSBC Premier
      Mastercard locally issued by HSBC Philippines (hereinafter referred to as "Cardholders"). HSBC Corporate Cards
      and HSBC Debit Cards are not qualified to join the Promo.</li>
    <li>
      <p>Cardholders are entitled to get up to PHP12,000 worth of e-Gift Certificates ("eGC/s") within the promo period
        by earning stamps via HSBC Christmas Promo game site (the "Site"). To qualify for the promo, Cardholders must
        spend a minimum single-receipt straight transaction of PHP3,000 (equivalent to 1 stamp) or a minimum of PHP5,000
        (equivalent to 3 stamps) single-receipt installment purchase anywhere.</p>
      <div class="reward">
        <p>Rewards</p>
        <ul>
          <li>Giftaway eGC worth PHP500</li>
          <li>Giftaway eGC worth PHP1,000</li>
          <li>Ayala Cinema eGC worth PHP500</li>
        </ul>
      </div>
      <p>Every 10<sup>th</sup> stamp earns Cardholders one (1) reward. Cardholders can earn a maximum of twelve (12)
        rewards
        equivalent to 120 stamps for the entire promo duration.</p>
    </li>
    <li>
      <p>Spend are considered "Qualified Transactions" under the following conditions:</p>
      <ol class="char-list">
        <li>Transactions made by the Primary Credit Cardholder; Supplementary Credit Cardholder/s' purchases will be
          qualified as part of the Primary Cardholder's accumulated spend.</li>
        <li>Transactions made via straight or installment purchase transacted and posted within the Promo Period. Each
          installment transaction will be considered as one transaction amount. As such, succeeding monthly amortization
          from the same installment transaction will not be counted as separate transactions on Cardholder's account.
        </li>
        <li>Cash Installment Plan, Balance Transfer and Balance Conversion, Split transactions (i.e. same merchant and
          same day), Business-related and casino transactions, Cancelled/Reversed and Fraudulent transactions are
          excluded from the Promo.</li>
      </ol>
    </li>
    <li>
      <p>Cardholders who have Qualified Transactions will be identified and verified through HSBC's System. An SMS
        notification with the game site link and unique player code shall be sent out to Qualified Cardholders every
        cut-off date as stated below:</p>
      <table class="table-black">
        <thead>
          <tr>
            <th>Cut-Off No.</th>
            <th>Cut-Off Date</th>
            <th>Coverage of Transactions</th>
          </tr>
        </thead>
        <tr>
          <td>
            1
          </td>
          <td>
            Nov15,2019
          </td>
          <td>
            Nov 1 to Nov 7, 2019
          </td>
        </tr>
        <tr>
          <td>
            2
          </td>
          <td>
            Nov 22, 2019
          </td>
          <td>
            Nov 8 to Nov 14, 2019
          </td>
        </tr>
        <tr>
          <td>
            3
          </td>
          <td>
            Nov 29, 2019
          </td>
          <td>
            Nov 15 to Nov 21, 2019
          </td>
        </tr>
        <tr>
          <td>
            4
          </td>
          <td>
            Dec 6, 2019
          </td>
          <td>
            Nov 22 to Nov 28, 2019
          </td>
        </tr>
        <tr>
          <td>
            5
          </td>
          <td>
            Dec 13, 2019
          </td>
          <td>
            Nov 29 to Dec 4, 2019
          </td>
        </tr>
        <tr>
          <td>
            6
          </td>
          <td>
            Dec 20, 2019
          </td>
          <td>
            Dec 5 to Dec 11, 2019
          </td>
        </tr>
        <tr>
          <td>
            7
          </td>
          <td>
            Dec 27, 2019
          </td>
          <td>
            Dec 12 to Dec 18, 2019
          </td>
        </tr>
        <tr>
          <td>
            8
          </td>
          <td>
            Jan 3, 2020
          </td>
          <td>
            Dec 19 to Dec 25, 2019
          </td>
        </tr>
        <tr>
          <td>
            9
          </td>
          <td>
            Jan 10, 2020
          </td>
          <td>
            Dec 26, 2019 to Jan 1, 2020
          </td>
        </tr>
        <tr>
          <td>
            10
          </td>
          <td>
            Jan 17, 2020
          </td>
          <td>
            Jan 2 to Jan 8, 2020
          </td>
        </tr>
        <tr>
          <td>
            11
          </td>
          <td>
            Jan 24, 2020
          </td>
          <td>
            Jan 9 to Jan 15, 2020
          </td>
        </tr>
        <tr>
          <td>
            12
          </td>
          <td>
            Jan 31, 2020
          </td>
          <td>
            Jan 16 to Jan 22, 2020
          </td>
        </tr>
        <tr>
          <td>
            13
          </td>
          <td>
            Feb 7, 2020
          </td>
          <td>
            Jan 23 to Jan 29, 2020
          </td>
        </tr>
        <tr>
          <td>
            14
          </td>
          <td>
            Feb 14, 2020
          </td>
          <td>
            Jan 30 to Feb 6, 2020
          </td>
        </tr>
        <tr>
          <td>
            15
          </td>
          <td>
            Feb 28, 2020
          </td>
          <td>
            Feb 7 to Feb 15, 2020
          </td>
        </tr>
      </table>
      <div class="note">Note: Transactions must be posted. Posting is usually 3-5 days after transaction date.</div>
    </li>
    <li>
      <p>Cardholders must follow the steps below to play the game and get the reward/s:</p>
      <ol class="char-list">
        <li class="no-bottom-margin">
          <p>Click the game site link provided in the SMS notification</p>
        </li>
        <li>
          <p>Enter the unique player code and the last 4 digits of his/her HSBC Credit Card.</p>
          <p class="addition">Note that the unique player code and the last 4 digits of his/her HSBC Credit Card need to
            be keyed in every time cardholders visit the game site.</p>
        </li>
        <li>
          <p>Cardholders must tap each earned stamp in the game site. A PHP500 or PHP1,000 worth of eGCs will be
            revealed once he/she reaches the 10th stamp.</p>
          <p class="addition">eGCs are randomly assigned to each Cardholder once stamps are earned. The Site will prompt
            the Cardholder to click "Move to My Rewards" to be able to view his/her Reward containing the unique eGC
            code. The eGC code is needed when redeeming his/her Reward at participating merchants' redemption outlets.
          </p>
        </li>
      </ol>
    </li>
    <li>
      <p>Cardholders must log in and use up their chances to earn stamps to get their rewards by <span
          class="bold">April 30, 2020.</span>
        Unplayed stamps in the game site shall be forfeited after the said date.</p>
    </li>
    <li>
      <p>Cardholders may use the eGC code/s at participating merchants from<span class="bold"> November 18, 2019 until
          April 30, 2021</span>. Once
        redeemed, the eGC code/s may no longer be used to redeem another reward.</p>
      <table class="table-white">
        <tr>
          <th>Rewards</th>
          <th>Redemption Process/Outlet</th>
        </tr>
        <tr>
          <td>Giftaway eGC worth PHP500</td>
          <td rowspan="2">Present eGC code found in the game site and redeem through the participating Giftaway
            merchants. Visit
            httQs://giftaway.Qh/terms for the T&Cs
            Giftwaway eGC worth PHP1,000
            on the usaqe of eGC codes.</td>
        </tr>
        <tr>
          <td>Giftwaway eGC worth PHP1,000</td>
        </tr>
        <tr>
          <td>Ayala eGC Cinema worth PHP500</td>
          <td>Visit any participating Ayala Branch (see
            Annex A) and present eGC code to redeem the eGC card</td>
        </tr>
      </table>
      <div class="note">*eGC code is valid within one year upon redemption</div>
      <p>Upon redemption, cardholders must present the following requirements:</p>
      <ol>
        <li>The eGC code as reflected on the Cardholder's phone or a print out</li>
        <li>The HSBC Credit Card used to make the Valid Transaction</li>
        <li>A valid photo-bearing government-issued Identification Card</li>
      </ol>
      <p>The participating merchant partner will assist the Cardholder in his/her redemption.</p>
    </li>
    <li>
      <p>Only the Qualified Cardholder is allowed to redeem the reward. Authorized representatives are disqualified from
        redeeming the Reward even if they present a written documentation from the Cardholder.</p>
    </li>
    <li>
      <p>The cost of the reward/s shall be charged to the Cardholder's credit card account if redeemed through means
        which are later found to be invalid or if the Cardholder did not adhere to the Terms and Conditions of this
        Promo.</p>
    </li>
    <li>
      <p>Rewards are not convertible to cash and are not subject to prize tax.</p>
    </li>
    <li>
      <p>Qualified Cardholders authorize HSBC to disclose and publish their names, photos and other particulars as
        determined by HSBC to any person/sand in any mode or manner, as HSBC may deem appropriate. Qualified cardholders
        shall give their consent (written, electronic or recorded) on this matter at the time of redemption.</p>
    </li>
    <li>
      <p>This offer cannot be availed of in conjunction with other promos of HSBC unless HSBC specifies otherwise.</p>
    </li>
    <li>
      <p>Ayala Cinema, Giftaway and its participating merchants' rules and regulations apply.</p>
    </li>
    <li>
      <p>For any cardholder complaints / concerns in relation to the promo, please call the HSBC Customer Service at
        (02) 88588-0000 from Metro Manila,+1-800-1-888-8555 PLOT domestic toll-free, +63(2) 7976-8000 from overseas, or
        send an email to hsbc@hsbc.com.ph.</p>
    </li>
    <li>
      <p>In case of dispute with respect to the cardholder's eligibility, coverage of dates, fulfillment, and Promo
        Mechanics, HSBC's decision will prevail, in concurrence with DTI.</p>
    </li>
    <li>
      <p>Fraud, abuse or any unauthorised action relating to the credit card transaction, the availment of the Reward/
        Grand Prize or the participation in the Promo may result in the disqualification of the Cardholder from the
        Promo, suspension and/or cancellation of card privileges and/or the charging of the full cost of the Reward /
        Grand Prize to the Cardholder's account, at HSBC's discretion. This shall be without prejudice to any legal
        action that may be taken by HSBC.</p>
    </li>
  </ol>
  <p class="right-add">Per DTI Fair Trade Permit No. FTEB-20809 Series of 2019</p>
  <h3 class="sub-title">
    Annex A - Participating Ayala Malls Cinema
  </h3>
  <ol class="centers">
    <li>Abreeza Mall</li>
    <li>Alabang Town Center</li>
    <li>Ayala Center Cebu</li>
    <li>Ayala Malls Capitol Central</li>
    <li>Ayala Malls Circuit</li>
    <li>Ayala Malls Cloverleaf</li>
    <li>Ayala Fairview Terraces</li>
    <li>Ayala Malls Feliz</li>
    <li>Ayala Malls Legazpi</li>
    <li>Ayla Malls Manila Bay</li>
    <li>Ayala Malls South Park</li>
    <li>Ayala Malls the 30th</li>
    <li>Ayala Malls Vertis North</li>
    <li>Bonifacio High Street</li>
    <li>Centrio Mall</li>
    <li>Glorietta Mall</li>
    <li>Greenbelt 1 & 3</li>
    <li>Harbor Point</li>
    <li>Market! Market!</li>
    <li>MarQuee Mall</li>
    <li>Solenad</li>
    <li>TriNoma</li>
    <li>UP Town Center</li>
  </ol>
</div>
