@import "./custom-theme.scss";
$max-width: 60.0rem;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

html {
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.action-container {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  padding: 1rem 1.2rem;
  box-sizing: border-box;
  text-align: center;
  button {
    width: 100%;
    max-width: $max-width;
    margin: auto;
    height: 100%;
    padding: 0;
    text-transform: uppercase;
  }
}

.full-page-container-white {
  position: fixed;
  height: 100vh;
  width: calc(100% - 2.4rem);
  background-color: white;
  padding: 0 1.2rem;
  &.text-center {
    text-align: center;
  }
  &.text-left {
    text-align: left;
  }
  &.text-right {
    text-align: right;
  }
}
