<section class="notification-wrap" [formGroup]="group">
  <h2 class="card-title">
    Before Rewards Expires Message <span>{{index + 1}}</span>
  </h2>
  <div class="input-group notification-row">
    <span>
      Message will be sent on
    </span>
    <mat-form-field>
      <input type="number" [min]="1" matInput formControlName="numberPeriod">
      <!--<mat-error *ngIf="amount.hasError('required') && amount.touched">Required field</mat-error>-->
      <!--<mat-error *ngIf="amount.hasError('min') && amount.touched">Min value 1</mat-error>-->
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="type">
        <mat-option [value]="periodType.day">Day</mat-option>
        <mat-option [value]="periodType.week">Week</mat-option>
        <mat-option [value]="periodType.month">Month</mat-option>
        <mat-option [value]="periodType.year">Year</mat-option>
      </mat-select>
    </mat-form-field>
    <span>before rewards expire,</span>
  </div>
  <div class="input-group notification-row">
    <span>at</span>
    <cl-time-picker formControlName="time"></cl-time-picker>
  </div>
  <section class="notification-message">
    <h2 class="card-title">
      Message Content
    </h2>
    <cl-sms-editor [options]="shortCodes" [control]="group.get('template.message')"></cl-sms-editor>
  </section>
  <section class="notification-actions flex justify-content-between align-items-center">
    <cs-button classList="tertiary ph-0" (click)="sendTestSms()">
      <i class="material-icons">
        send
      </i>
      Send test SMS
    </cs-button>
    <cs-button classList="secondary" (click)="deleteRewardExpiresGroup()">Delete</cs-button>
  </section>
</section>

