@import "variables";

::ng-deep {
  .mobile-settings-preview-tabs {
    .mat-tab-label {
      min-width: 0;
      flex: 1 1 auto;
    }

    mat-tab-header {
      background: $white;
      border-bottom: none;
    }
  }
}

:host {
  width: 34.4rem;
  height: 68rem;
  border-radius: $border-radius-lg;
  flex-shrink: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
}
