@import "variables";

::ng-deep {
  .mobile-settings-preview-tabs {
    .mat-tab-label {
      min-width: 70px;
    }

    mat-tab-header {
      background: $white-color;
      border-top-left-radius: 0.8rem;
      border-top-right-radius: 0.8rem;
    }
  }
}

:host {
  width: 36.3rem;
  height: 68rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to top, #8b929b, #b9bfc7);
}

