@import "variables";

.progress-bar {
  width: 7.5rem;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;

  &-block {
    position: relative;
    display: block;
    height: 3px;
    width: 100%;
    background: $progress-bar-background-color;
    border-radius: 1rem;
    margin-bottom: 5px;
  }

  &-indicator {
    height: 100%;
    background: $progress-bar-color;
    border-radius: 1rem;
  }

  &-value {
    text-align: justify;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: $dark-color;
  }
}
