<h2>Button</h2>
<cs-button (click)="log('click')">simple</cs-button>
<cs-button classList="primary" (click)="log('click')">primary</cs-button>
<cs-button classList="ph-0" (click)="log('click')">ph-0</cs-button>
<cs-button classList="secondary" (click)="log('click')">secondary</cs-button>
<cs-button classList="tertiary" (click)="log('click')">tertiary</cs-button>
<cs-button [disable]="true" (click)="log('click')">disable</cs-button>
<cs-button classList="primary cs-btn-mobile" (click)="log('click')">
  <img class="logo cs-btn-mobile-icon" src="assets/logo.png"/>
  CTA Mobile Button
</cs-button>


<h2>Download Button</h2>

<cs-download-button file="http://www.orimi.com/pdf-test.pdf">
  Download Button with Default Icon
</cs-download-button>

<cs-download-button file="http://www.orimi.com/pdf-test.pdf">
  Download Button with Custom Icon
  <ng-template csDownloadIcon>
    <mat-icon>cloud_upload</mat-icon>
  </ng-template>
</cs-download-button>


<h2>Download Link</h2>

<cs-download-link fileName="image.jpg" link="https://2ch.hk/test/src/22583/14918417781080.png">
  download
</cs-download-link>

<cs-download-link fileName="image.jpg" link="https://2ch.hk/test/src/22583/14918417781080.png">
  <ng-template csDownloadLinkButton>
    <cs-button classList="secondary">Custom Button</cs-button>
  </ng-template>
</cs-download-link>

<h2>Copy Link</h2>

<cs-copy-link link="http://test-link" (copied)="log('copy ' + $event)">
  Copy
</cs-copy-link>

<cs-copy-link link="http://test-link" (copied)="log('copy ' + $event)">
  <ng-template csCopyLinkButton>
    <cs-button classList="secondary">Custom Button</cs-button>
  </ng-template>
</cs-copy-link>


<!--<h2>Logo</h2>-->
<!--<cs-logo></cs-logo>-->

<!--<h2>Ink Bar</h2>-->
<!--<cs-ink [border]="true" [triangle]="true">-->
<!--  <div csInkHost>-->
<!--  </div>-->
<!--</cs-ink>-->

<h2>Role Label</h2>
<cs-role-label role="2" [showTitle]="true"></cs-role-label>
<cs-role-label role="3" [showTitle]="true" email="some@email.com"></cs-role-label>
<cs-role-label role="4" [showTitle]="true" classList="small"></cs-role-label>
<cs-role-label role="1"></cs-role-label>

<h2>Status Label</h2>
<cs-status-label status="active"></cs-status-label>

<h2>Line Progress (horizontal)</h2>

<cs-custom-line-progress [total]="100" [amount]="80"></cs-custom-line-progress>


<h2>Line Progress (vertical)</h2>

<cs-custom-line-progress [vertical]="true" [total]="100" [amount]="80"></cs-custom-line-progress>


<h2>Progress bar</h2>

<cs-progress-bar [total]="100" [current]="80"></cs-progress-bar>


<h2>Vouchers Progress Bar</h2>

<cs-statistics-progress-bar [options]="statistics" itemName="Items"></cs-statistics-progress-bar>


<h2>Info Hint</h2>

<cs-info-hint>
  <span class="info-text">You can set the rewards when&nbsp;</span>
  <span class="info-text">you create a campaign</span>
</cs-info-hint>

