//.preview-block {
//  display: flex;
//  flex-flow: row wrap;
//  justify-content: flex-start;
//  align-items: center;
//  background: #f7f7f7;
//
//  & > * {
//    margin: 10px;
//  }
//}

* {
  box-sizing: border-box;
  margin: 10px;
}

h2 {
  font-size: 16px;
  padding: 5px 30px;
  display: flex;
  border-bottom: 1px solid #dbdbdb;
}
