<div class="footer">
    <div class="refer">
        <div class="refer-content">
            <div class="refer-content-title">
                <p>Refer a friend to get treats</p>
                
            </div>
            <div class="refer-content-note">
                <p> Already a card holder? Refer friends now and get rewarded with treats!</p>
               
            </div>
            <button mat-stroked-button color="primary" class="refer-content-button">Refer Now</button>
        </div>
        <img src="assets/images/img-ad-gift.png" alt="">
    </div>
    <div class="footer-info">
        <p>BDO Unibank is supervised by the Bangko Sentral ng Pilipinas with contact number (02) 8708-7087 and with email address consumeraffairs@bsp.gov.ph</p>
        
    </div>
</div>