<div class="dialog-tab-content tab-content-height">
  <div class="row invite-new-users-top-row">
    <label class="invite-new-users-label">Engagements Access</label>
    <mat-slide-toggle color="primary"></mat-slide-toggle>
  </div>
  <div class="invite-new-users-section">
    <div class="row invite-new-users-top-row">
      <div></div>
      <div class="invite-new-users-table-group">
        <span>Create</span>
        <span>Edit</span>
        <span>View</span>
      </div>
    </div>
    <div>
      <mat-divider></mat-divider>
    </div>
    <div class="row">
      <label class="invite-new-users-label">Engagements</label>
      <cl-checkbox-group class="invite-new-users-table-group">
        <mat-checkbox color="primary"></mat-checkbox>
        <mat-checkbox color="primary"></mat-checkbox>
        <mat-checkbox color="primary"></mat-checkbox>
      </cl-checkbox-group>
    </div>
  </div>
  <div class="invite-new-users-section">
    <div class="row">
      <label class="invite-new-users-label">Engagements Types</label>
    </div>
    <div class="input-group">
      <mat-checkbox color="primary">Survey</mat-checkbox>
      <mat-checkbox color="primary">Stamps</mat-checkbox>
      <mat-checkbox color="primary">Hit the pinata</mat-checkbox>
      <mat-checkbox color="primary">Shake the tree</mat-checkbox>
      <mat-checkbox color="primary">Instant rewards</mat-checkbox>
    </div>
  </div>
</div>
