:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  ::ng-deep {
    .details {
      padding: 0!important;
    }

    .voucher-container {
      width: 100%;
    }
  }
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

perx-core-voucher {
  width: 100%;
  padding: 0 1.6rem;
}
