:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

perx-core-voucher {
  width: 100%;
  padding: 0 1.6rem;
}
