@import "variables";

:host {
  font-size: 1.4rem;
}

.dialog {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  ::ng-deep .mat-tab-header {
    padding: 0 3.2rem !important;
  }

  &-content {
    flex: 1;
    max-height: none !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }

  &-header-wrap {
    padding: 3.2rem 3.2rem 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  &-title {
    margin: 0;
    font-family: $primary-font;
    font-size: 2rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $secondary-color;
  }

  &-sub-title {
    margin-top: 1.5rem;
    font-family: $primary-font;
    font-size: 1.6rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $secondary-color;
  }

  &-input-group {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &.last {
      margin-bottom: 1.5rem;
    }

    & > * {
      width: 33.2rem;
      box-sizing: content-box;
      @media (max-width: 780px) {
        width: 100%;
      }
    }
  }

  &-closed {
    color: $secondary-color;
  }

  &-tab-content {
    padding: 3.5rem 3.2rem;
  }

  &-content-title {
    font-family: $primary-font;
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.18rem;
    color: $secondary-color;
  }

  &-actions {
    box-sizing: border-box;
    padding: 3.2rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

}
