<form class="range-date-picker" [formGroup]="timeForm">

  <mat-form-field class="date">
    <input
      matInput
      [matDatepicker]="startDatePicker"
      [disabled]="disabledState"
      placeholder="Choose start date"
      formControlName="date"
      [max]="maxDate"
      readonly>
    <mat-datepicker-toggle matSuffix [for]="startDatePicker">
    </mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="time">
    <input
      matInput
      [ngxTimepicker]="toggleTimepicker"
      formControlName="time"
      placeholder="Choose start date"
      [disabled]="disabledState"
      [disableClick]="disabledState"
      readonly>
            <ngx-material-timepicker-toggle matSuffix [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
<!--    <ngx-material-timepicker-toggle matSuffix [for]="toggleTimepicker" [disabled]="disabledState">-->
<!--      <mat-icon ngxMaterialTimepickerToggleIcon>-->
<!--        &lt;!&ndash;        <i class="icon delete-action"></i>&ndash;&gt;-->
<!--        access_time-->
<!--      </mat-icon>-->
<!--    </ngx-material-timepicker-toggle>-->
    <ngx-material-timepicker
      #toggleTimepicker
      [minutesGap]="5"
      [enableKeyboardInput]="true"
      [ngxMaterialTimepickerTheme]="customTheme">

    </ngx-material-timepicker>
  </mat-form-field>
</form>
