.range-date-picker {
  display: flex;
  flex-flow: row nowrap;

  & > * {
    margin-right: 15px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.date{
  width: 170px;
}

.time{
  width: 100px;
}
