<div class="container">
  <form
    class="existing-card-form"
    [formGroup]="existingCardForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="fill">
      <mat-label>
        Enter your existing card number
      </mat-label>
      <input
        matInput
        placeholder="Enter your existing card number"
        formControlName="cardNumber"
      >
      <mat-error *ngIf="cardNumber && cardNumber.hasError('required')">
        Card number is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button
      mat-flat-button
      type="submit"
      color="primary"
      [disabled]="!existingCardForm.valid"
    >
      Submit
    </button>
  </form>
  <a
    mat-button
    [routerLink]="[ '/account', 'support' ]"
  >
    Contact Us
  </a>
</div>
