@import "variables";

.date-field {
  position: relative;

  &-error {
    @include typo-caption;

    font-size: 1.1rem;
    display: flex;
    width: max-content;
    flex-flow: row nowrap;
    position: absolute;
    bottom: -0.5rem;
  }
}
