<div class="page">
  <form [formGroup]="phoneForm" (ngSubmit)="requestOtp()">
    <mat-form-field appearance="fill" class="full-width__input">
      <mat-label>Enter new number</mat-label>
      <input matInput formControlName="phone">
      <mat-error *ngIf="
        phoneForm.get('phone')?.hasError('required') ||
        phoneForm.get('phone')?.hasError('pattern')">
        A number is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="phoneForm.get('phone')?.hasError('minlength')">
        <span>Phone number should be {{passwordMinLen}} digits long</span>
      </mat-error>
      <mat-error *ngIf="phoneForm.get('phone')?.hasError('maxlength')">
        <span>Phone number cannot be more than {{passwordMaxLen}} digits long</span>
      </mat-error>
    </mat-form-field>
    <button class="full-width__input" mat-flat-button>Save</button>
  </form>
</div>
