<p class="member-ship">{{"MY_ID" | translate}}: {{accountData ? accountData.id: ''}}</p>

<form [formGroup]="accountSummary" class="account-summary">
  <mat-form-field>
    <mat-label>{{"SURNAME" | translate}}</mat-label>
    <input type="text" matInput readonly formControlName="firstName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{"FIRST_NAME" | translate}}</mat-label>
    <input type="text" matInput readonly formControlName="lastName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{"MOBILE_NUMBER" | translate}}</mat-label>
    <input type="text" matInput readonly formControlName="phone">
    <a routerLink="phone" matSuffix>
      <mat-icon>edit</mat-icon>
    </a>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{"EMAIL" | translate}}</mat-label>
    <input type="text" matInput readonly formControlName="email">
    <a routerLink="email" matSuffix>
      <mat-icon>edit</mat-icon>
    </a>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{"CURRENT_PASSWORD" | translate}}</mat-label>
    <input type="password" matInput readonly formControlName="pass">
    <a routerLink="password" matSuffix>
      <mat-icon>edit</mat-icon>
    </a>
  </mat-form-field>

  <mat-slide-toggle formControlName="customProperties" labelPosition="before">
    {{"AGREE_MARKETING" | translate}}
  </mat-slide-toggle>
</form>
