<p class="member-ship">{{"MY_ID" | translate}} 12345678</p>

<form [formGroup]="accountSummary" class="account-summary">
  <mat-form-field>
    <mat-label>{{"SURNAME" | translate}}</mat-label>
    <input type="text" matInput readonly formControlName="firstName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{"FIRST_NAME" | translate}}</mat-label>
    <input type="text" matInput readonly formControlName="lastName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{"MOBILE_NUMBER" | translate}}</mat-label>
    <input type="text" matInput [textMask]="phoneMask" readonly formControlName="phone">
    <mat-icon matSuffix routerLink="phone">edit</mat-icon>
  </mat-form-field>


  <mat-form-field>
    <mat-label>{{"EMAIL" | translate}}</mat-label>
    <input type="text" matInput readonly formControlName="email">
    <mat-icon matSuffix routerLink="email">edit</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{"CURRENT_PASSWORD" | translate}}</mat-label>
    <input type="password" matInput readonly formControlName="pass">
    <mat-icon matSuffix routerLink="password">edit</mat-icon>
  </mat-form-field>

  <mat-checkbox formControlName="customProperties">
    {{"AGREE_MARKETING" | translate}}
  </mat-checkbox>
</form>
