
<div class="tnc-container">
  <p class="c9" id="h.gjdgxs"><span class="c5">Annex A</span></p>
  <p class="c6"><span class="c5"></span></p>
  <p class="c9"><span class="c5">HSBC Credit Card&rsquo;s Collect V2.0 Promo Mechanics</span></p>
  <p class="c6"><span class="c5"></span></p>
  <ol class="c7 lst-kix_list_1-0 start" start="1">
    <li class="c9 c13"><span class="c5">HSBC Credit Card&rsquo;s Collect V2.0 Promo </span><span class="c0">(the &quot;Promo&quot;) is open to all primary and supplementary credit cardholders of HSBC Classic and Gold Visa/Mastercard, HSBC Red Mastercard, &nbsp;HSBC Platinum Visa, HSBC Advance Visa, and HSBC Premier Mastercard locally issued by HSBC Philippines (hereinafter referred to as &quot;Cardholders&quot;). HSBC Corporate Cards and HSBC Debit Cards are not qualified to join the Promo. </span></li>
  </ol>
  <p class="c6 c26"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="2">
    <li class="c9 c13"><span class="c0">Promo Period is from </span><span class="c5">July 1 to September 30, 2019</span><span class="c0">. Redemption period is from </span><span class="c5">July 12, 2019 </span><span class="c0">until </span><span class="c5">December 11, 2019</span><span class="c0">.</span></li>
  </ol>
  <p class="c6"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="3">
    <li class="c9 c13"><span class="c0">Every Php 1,000 minimum single-receipt straight purchase or Php 3,000 minimum single-receipt installment purchase anywhere qualifies the Cardholder to join the Promo, and should meet the following conditions (the &ldquo;Qualified Transactions&rdquo;):</span></li>
  </ol>
  <p class="c6 c26"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_2-0 start" start="1">
    <li class="c9 c17"><span class="c0">Transactions made by the Cardholder&rsquo;s supplementary credit cardholder/s will be qualified as part of the Primary Cardholder&rsquo;s accumulated spend. </span></li>
  </ol>
  <p class="c6 c20"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_2-0" start="2">
    <li class="c9 c17"><span class="c0">Valid transactions are straight or merchant installment purchases transacted and posted during the Promo Period. &nbsp;Each merchant installment transaction will be considered as one transaction amount. &nbsp;As such, succeeding monthly amortizations from the same merchant installment transaction will not be counted as a separate transaction amount on the Cardholder&rsquo;s account.</span></li>
  </ol>
  <p class="c6 c20"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_2-0" start="3">
    <li class="c9 c17"><span class="c0">Cash Installment Plan, Balance Transfer and Balance Conversion, Split transactions (i.e. same merchant and same day), Business-related and casino transactions, Cancelled/Reversed and Fraudulent transactions are excluded from the Promo.</span></li>
  </ol>
  <p class="c6 c20"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="4">
    <li class="c9 c13"><span class="c0">For every qualified transaction, cardholders will receive an SMS/eDM notification (mobile number or email address as reflected in HSBC&rsquo;s records) containing a link to the HSBC Game site (the &ldquo;Site&rdquo;) and a unique Player Code. Upon clicking the link, the Cardholder will be prompted to key in the unique Player Code and the last 4 digits of his/her HSBC Credit Card. Note that the unique Player Code and the last 4 digits of his/her HSBC Credit Card need to be keyed in every time that the Cardholder visits the Site.</span></li>
  </ol>
  <p class="c6 c26"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="5">
    <li class="c9 c13"><span class="c0">Once at the Site, the Cardholder may begin to complete the Puzzle:</span></li>
  </ol>
  <p class="c6"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_3-0 start" start="1">
    <li class="c9 c17"><span class="c0">The Cardholder will earn one (1) puzzle piece for every qualified Straight Transaction of P1,000.00.</span></li>
    <li class="c9 c17"><span class="c0">The Cardholder will earn two (2) puzzle pieces for every qualified Merchant Installment Transaction of P3,000.00 (under HSBC&rsquo;s Card Installment Plan).</span></li>
  </ol>
  <p class="c6 c20"><span class="c0"></span></p>
  <p class="c9 c28"><span class="c0">HSBC will extract from its system and identify HSBC Credit Cardholders who have reached the Spend Requirement on the following cut-off dates:</span></p>
  <p class="c6"><span class="c0"></span></p>
  <a id="t.50565b795e711dfa7fb66d4c8686167e82f8b662"></a>
  <a id="t.0"></a>
  <table class="c33 c41">
    <tbody>
        <tr class="c25">
            <td class="c30" colspan="1" rowspan="1">
                <p class="c3"><span class="c21">Cut-Off<br>No.</span></p>
            </td>
            <td class="c19" colspan="1" rowspan="1">
                <p class="c3"><span class="c21">Cut-Off Date for Game Codes Sending via SMS</span></p>
            </td>
            <td class="c15 c35" colspan="1" rowspan="1">
                <p class="c3"><span class="c21">Coverage of Transactions</span></p>
            </td>
        </tr>
        <tr class="c4">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c3"><span class="c0">1</span></p>
            </td>
            <td class="c24" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">12-Jul-19</span></p>
            </td>
            <td class="c11" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">July 1 to July 7, 2019</span></p>
            </td>
        </tr>
        <tr class="c4">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c3"><span class="c0">2</span></p>
            </td>
            <td class="c24" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">19-Jul-19</span></p>
            </td>
            <td class="c11" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">July 8 to July 14, 2019</span></p>
            </td>
        </tr>
        <tr class="c4">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c3"><span class="c0">3</span></p>
            </td>
            <td class="c24" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">26-Jul-19</span></p>
            </td>
            <td class="c11" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">July 15 to July 21, 2019</span></p>
            </td>
        </tr>
        <tr class="c4">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c3"><span class="c0">4</span></p>
            </td>
            <td class="c24" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">2-Aug-19</span></p>
            </td>
            <td class="c11" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">July 22 to July 28, 2019</span></p>
            </td>
        </tr>
        <tr class="c4">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c3"><span class="c0">5</span></p>
            </td>
            <td class="c24" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">9-Aug-19</span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">July 29 to August 4, 2019</span></p>
            </td>
        </tr>
        <tr class="c4">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c3"><span class="c0">6</span></p>
            </td>
            <td class="c24" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">16-Aug-19</span></p>
            </td>
            <td class="c11" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">August 5 to August 11, 2019</span></p>
            </td>
        </tr>
        <tr class="c4">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c3"><span class="c0">7</span></p>
            </td>
            <td class="c24" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">23-Aug-19</span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">August 12 to August 18, 2019</span></p>
            </td>
        </tr>
        <tr class="c4">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c3"><span class="c0">8</span></p>
            </td>
            <td class="c24" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">30-Aug-19</span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">August 19 to August 25, 2019</span></p>
            </td>
        </tr>
        <tr class="c4">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c3"><span class="c0">9</span></p>
            </td>
            <td class="c24" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">6-Sep-19</span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">August 26 to September 1, 2019</span></p>
            </td>
        </tr>
        <tr class="c4">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c3"><span class="c0">10</span></p>
            </td>
            <td class="c24" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">13-Sep-19</span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">September 2 to September 8, 2019</span></p>
            </td>
        </tr>
        <tr class="c4">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c3"><span class="c0">11</span></p>
            </td>
            <td class="c24" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">20-Sep-19</span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">September 9 to September 15, 2019</span></p>
            </td>
        </tr>
        <tr class="c4">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c3"><span class="c0">12</span></p>
            </td>
            <td class="c24" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">27-Sep-19</span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">September 16 to September 22, 2019</span></p>
            </td>
        </tr>
        <tr class="c4">
            <td class="c1" colspan="1" rowspan="1">
                <p class="c3"><span class="c0">13</span></p>
            </td>
            <td class="c24" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">11-Oct-19</span></p>
            </td>
            <td class="c15" colspan="1" rowspan="1">
                <p class="c9 c12"><span class="c0">September 23 to September 30, 2019</span></p>
            </td>
        </tr>
    </tbody>
  </table>
  <p class="c3 c29"><span class="c0"></span></p>
  <p class="c3"><span class="c34">Note: </span><span class="c27">Transactions must be posted. Posting is usually 3-5 days after transaction date.</span></p>
  <p class="c3 c29"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="6">
    <li class="c9 c13"><span class="c0">The Cardholder must complete one (1) Puzzle image comprising of six (6) puzzle pieces to win one (1) Instant Reward. Cardholder can win a maximum of eight (8) Instant Rewards equivalent to eight (8) Puzzle images for the entire promo duration.</span></li>
  </ol>
  <p class="c6 c26"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="7">
    <li class="c9 c13"><span class="c0">The Cardholder will get a chance to win any of the Instant Rewards listed below. These are randomly assigned to each Cardholder once the Puzzle image is completed. The Site will prompt the Cardholder to click &ldquo;Redeem Now&rdquo; to be able to view his/her Reward containing the unique eGift Certificate code (&ldquo;eGC&rdquo;). The eGC code is needed when redeeming his/her Reward at participating merchants&rsquo; redemption outlets. </span></li>
  </ol>
  <p class="c6"><span class="c0"></span></p>
  <a id="t.0fb055c1e3facd4f57f10f446517e6772319f0f4"></a>
  <a id="t.1"></a>
  <table class="c28 c33">
    <tbody>
        <tr class="c4">
            <td class="c22 c35" colspan="1" rowspan="1">
                <p class="c3"><span class="c21">Instant Reward</span></p>
            </td>
            <td class="c32 c35" colspan="1" rowspan="1">
                <p class="c3"><span class="c21">How to redeem</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c22" colspan="1" rowspan="1">
                <p class="c9"><span class="c10">Ayala eGC worth Php 500</span></p>
            </td>
            <td class="c32" colspan="1" rowspan="2">
                <p class="c3"><span class="c10">Visit any of the Ayala Malls&rsquo; Participating merchants to redeem</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c22" colspan="1" rowspan="1">
                <p class="c9"><span class="c10">Ayala Cinema eGC worth Php 100</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c22" colspan="1" rowspan="1">
                <p class="c9"><span class="c10">Php 5 HSBC Credits*</span></p>
            </td>
            <td class="c32" colspan="1" rowspan="5">
                <p class="c3"><span class="c10">This will be automatically be credited to the Cardholder&rsquo;s account within 7 banking days</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c22" colspan="1" rowspan="1">
                <p class="c9"><span class="c10">Php 10 HSBC Credits*</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c22" colspan="1" rowspan="1">
                <p class="c9"><span class="c10">50 HSBC Bonus Points</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c22" colspan="1" rowspan="1">
                <p class="c9"><span class="c10">100 HSBC Bonus Points</span></p>
            </td>
        </tr>
        <tr class="c2">
            <td class="c22" colspan="1" rowspan="1">
                <p class="c9"><span class="c10">150 HSBC Bonus Points</span></p>
            </td>
        </tr>
    </tbody>
  </table>
  <p class="c8"><span class="c27 c38">&nbsp; &nbsp; </span><span class="c23">*valid for HSBC Gold Cash Back Cards only</span></p>
  <p class="c6 c40"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="8">
    <li class="c9 c13"><span class="c0">Cardholders who will redeem the Ayala eGC code should present the following upon redemption: &nbsp;</span></li>
  </ol>
  <p class="c9 c16"><span class="c0">a. The eGC code as reflected on the Cardholder&rsquo;s phone or a print out</span></p>
  <p class="c9 c16"><span class="c0">b. The HSBC Credit Card used to make the Valid Transaction</span></p>
  <p class="c9 c16"><span class="c0">c. A valid photo-bearing government-issued Identification Card</span></p>
  <p class="c9 c26"><span class="c0">&nbsp; &nbsp;</span></p>
  <ol class="c7 lst-kix_list_1-0" start="9">
    <li class="c9 c13"><span class="c0">The participating merchant partner will assist the Cardholder in his/her redemption.</span></li>
  </ol>
  <p class="c6 c26"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="10">
    <li class="c9 c13"><span class="c0">Once redeemed, the eGC code/s may no longer be used to redeem another Reward.</span></li>
  </ol>
  <p class="c6"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="11">
    <li class="c9 c13"><span class="c0">Only the Qualified Cardholder is allowed to redeem the Reward until </span><span class="c5">December 11, 2019</span><span class="c0">. Authorized representatives are disqualified from redeeming the Reward even if they present a written documentation from the Cardholder.</span></li>
  </ol>
  <p class="c6"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="12">
    <li class="c9 c13"><span class="c0">Cardholders must log in and use up their chances to play by </span><span class="c5">October 15, 2019</span><span class="c0">. Qualified transactions or collected puzzle pieces in the game shall be forfeited if not used by the said date.</span></li>
  </ol>
  <p class="c6"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="13">
    <li class="c9 c13"><span class="c0">The cost of the Reward/s shall be charged to the Cardholder&#39;s credit card account if redeemed through means which are later found to be invalid or if the Cardholder did not adhere to the Terms and Conditions of this Promo.</span></li>
  </ol>
  <p class="c6"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="14">
    <li class="c9 c13"><span class="c0">Prizes are not convertible to cash and are not subject to prize tax.</span></li>
  </ol>
  <p class="c6"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="15">
    <li class="c9 c13"><span class="c0">The winners of the Rewards items authorize HSBC to disclose and publish their names, photos and other particulars as determined by HSBC to any person/s and in any mode or manner, as HSBC may deem appropriate.. Winners shall give their consent (written, electronic or recorded) on this matter at the time of redemption.</span></li>
  </ol>
  <p class="c6"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="16">
    <li class="c9 c13"><span class="c0">This offer cannot be availed of in conjunction with other promos of HSBC unless HSBC specifies otherwise.</span></li>
  </ol>
  <p class="c6 c26"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="17">
    <li class="c9 c13"><span class="c0">For any cardholder complaints / concerns in relation to the promo, please call the HSBC Customer Service at (02) 85-800 from Metro Manila, 1-800-1-888-0000 PLDT domestic toll-free, +63(2) 976-8000 from overseas, or send an email to </span><span class="c34 c37"><a class="c31" href="mailto:hsbc@hsbc.com.ph">hsbc@hsbc.com.ph</a></span><span class="c0">.</span></li>
  </ol>
  <p class="c6"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="18">
    <li class="c9 c13"><span class="c0">In case of dispute with respect to the Cardholder&#39;s eligibility, coverage of dates, fulfillment, and Promo Mechanics, HSBC&#39;s decision will prevail, in concurrence with DTI.</span></li>
  </ol>
  <p class="c6"><span class="c0"></span></p>
  <ol class="c7 lst-kix_list_1-0" start="19">
    <li class="c9 c13"><span class="c0">Fraud, abuse or any unauthorised action relating to the credit card transaction, the availment of the Reward / Grand Prize or the participation in the Promo may result in the disqualification of the Cardholder from the Promo, suspension and/or cancellation of card privileges and/or the charging of the full cost of the Reward / Grand Prize to the Cardholder&#39;s account, at HSBC&#39;s discretion. This shall be without prejudice to any legal action that may be taken by HSBC.</span></li>
  </ol>
  <p class="c6"><span class="c0"></span></p>
  <p class="c14"><span class="c0">Per DTI-FTEB Permit No. _______, Series of 2019</span></p>
  <p class="c29 c43"><span class="c36"></span></p>
  <div>
    <p class="c9"><span class="c36">PUBLIC</span></p>
  </div>
</div>
