<mat-toolbar class="header mat-elevation-z3"
  [ngStyle]="{ 'background-color' : theme ? theme.properties['--header_color']: '' }">
  <div class="flex-ctrls">
    <button [ngStyle]="{ 'visibility': showBackButton ? 'visible': 'hidden'}" mat-icon-button
      (click)="onLeftActionClick()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <a routerLink="/home">
      <img class="logo" [attr.src]="theme?.properties['--logo']" [attr.alt]="theme?.properties['--title']" />
    </a>
    <div class="ghost-space">
    </div>
  </div>
</mat-toolbar>