.mat-toolbar {
  background-color: #0f69af;
  position: fixed;
  z-index: 1;
  color: white;

  a {
    margin: 2rem auto 1.5rem auto;
    display: flex;
    justify-content: center;

    ~ img {
      display: block;
    }
  }
}
