<form class="range-date-picker" [formGroup]="timeForm">
  <mat-form-field appearance="outline">
    <input
      matInput
      [matDatepicker]="startDatePicker"
      [disabled]="disabledState"
      placeholder="Choose start date"
      formControlName="begin"
      [max]="maxDate">
    <mat-datepicker-toggle matPrefix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-datepicker-toggle matPrefix [for]="endDatePicker"></mat-datepicker-toggle>
    <input
      matInput
      [matDatepicker]="endDatePicker"
      [disabled]="disabledState"
      formControlName="end"
      placeholder="Choose end date"
      [min]="minDate">
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>
</form>
