<div class="phonepreview-wrapper">
  <div class="forms-container">
    <!--template-->
    <mat-card class="card" *ngIf="campaign?.template">
      <div class="card-header">
        <h2 class="card-title">Template</h2>
      </div>
      <div class="card-engagement-item-adjuster">
        <cl-engagement-item [data]="campaign?.template"></cl-engagement-item>
      </div>
    </mat-card>
    <!--rewards-->
    <mat-card class="card" *ngIf="campaign?.rewardsOptions?.rewards.length">
      <div class="card-header">
        <p class="card-title">Rewards</p>
      </div>
      <div class="card-content">
        <cl-reward-item-preview 
          *ngFor="let reward of campaign?.rewardsOptions?.rewards" 
          class="item" 
          [data]="reward?.value" 
          [probability]="reward?.probability" 
          [enableProbability]="campaign?.rewardsOptions?.enableProbability">
        </cl-reward-item-preview>
      </div>
    </mat-card>
     <!--stamp rewards-->
     <mat-card class="card" *ngIf="stampsHasRewards">
        <div *ngFor="let rewardsData of campaign?.rewardsListCollection">
            <div *ngIf="rewardsData?.rewardsOptions?.rewards?.length">
              <div class="card-header">
                  <p class="card-title">Rewards for slot {{rewardsData?.stampSlotNumber}}</p>
              </div>
              <div class="card-content">
                  <cl-reward-item-preview 
                    *ngFor="let reward of rewardsData?.rewardsOptions?.rewards" 
                    class="item"
                    [data]="reward?.value"
                    [probability]="reward?.probability"
                    [enableProbability]="rewardsData?.rewardsOptions?.enableProbability">
                  </cl-reward-item-preview>
              </div>
            </div>
        </div>
    </mat-card>
    <!--limits-->
    <mat-card class="card" *ngIf="campaign?.limits?.times">
      <div class="card-header">
        <h2 class="card-title">Play Limits</h2>
      </div>
      <div class="card-content">
        <dl class="card-definitions">
          <div class="card-definitions-splitter">
            <div *ngIf="campaign?.limits?.times">
              <dt class="card-label">Limit per user</dt>
              <dd class="card-value">{{campaign?.limits?.times}} time{{campaign?.limits?.times > 1 ? 's' : ''}}</dd>
            </div>
            <div *ngIf="campaign?.limits?.duration">
              <dt class="card-label">Limit per duration</dt>
              <dd class="card-value">{{campaign?.limits?.duration}}</dd>
            </div>    
          </div>
        </dl>
      </div>
    </mat-card>
    <!--campaign info-->
    <mat-card class="card" *ngIf="campaign?.campaignInfo">
      <div class="card-header">
        <h2 class="card-title">
          Campaign Info
        </h2>
      </div>

      <div class="card-content">
        <dl class="card-definitions">
          <div *ngIf="campaign?.campaignInfo?.goal">
            <dt class="card-label">Campaign goal</dt>
            <dd class="card-value">{{campaign?.campaignInfo?.goal}}</dd>
          </div>

          <div *ngIf="campaign?.campaignInfo?.startDate">
            <dt class="card-label">Campaign duration</dt>
            <dd class="card-value">
              <span>
                <span>{{campaign?.campaignInfo?.startDate | date: 'mediumDate' }}</span>
                <span>&nbsp;{{campaign?.campaignInfo?.startTime}}</span>  
              </span>
              <ng-container *ngIf="campaign?.campaignInfo?.endDate">
                <small>to</small>
                <span>
                  <span>{{campaign?.campaignInfo?.endDate | date: 'mediumDate' }}</span>
                  <span>&nbsp;{{campaign?.campaignInfo?.endTime}}</span>  
                </span>
              </ng-container>
            </dd>
          </div>

          <div *ngIf="campaign?.campaignInfo?.labels">
            <dt class="card-label">Label</dt>
            <dd class="card-value">
              <span class="card-chip" *ngFor="let label of campaign?.campaignInfo?.labels">{{label}}</span>
            </dd>
          </div>    
        </dl>
      </div>
    </mat-card>
    <!-- channel -->
    <mat-card class="card">
      <div class="card-header">
        <h2 class="card-title">
          Channel
        </h2>
      </div>
      <div class="card-content">
        <h3 class="card-label">
          {{campaign?.channel?.type}}
        </h3>
        <!--Message-->
        <div class="card-section" *ngIf="campaign?.channel?.message">
          <div class="card-header">
            <h3 class="card-title">
              Message
            </h3>
          </div>
          <div class="card-content">
            {{campaign?.channel?.message}}
          </div>
        </div>
        <!--schedule-->
        <div class="card-section" *ngIf="campaign?.channel?.sendDate">
          <div class="card-header">
            <h3 class="card-title">
              Schedule date
            </h3>
          </div>

          <div class="card-content">
            <!--send date-->
            <div class="card-row">
              {{campaign?.channel?.sendDate}}&nbsp;&nbsp;&nbsp;&nbsp;{{campaign?.channel?.sendTime}}
            </div>
            <!--recurrence-->
            <div class="card-row stretch" *ngIf="campaign?.channel?.enableRecurrence">
              <div class="row">
                <div>
                  <label class="card-label">Repeat every</label>
                  {{campaign?.channel?.recurrence?.period}}&nbsp;{{campaign?.channel?.recurrence?.period}}
                </div>
                <div>
                  <!--repeat on-->
                  <ng-container *ngIf="campaign?.channel?.recurrence?.repeatOn.length > 0">
                    <label class="card-label">Repeat on</label>
                    <span *ngFor="let repeatOn of campaign?.channel?.recurrence?.repeatOn">
                      {{repeatOn}},&nbsp;
                    </span>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
     <!-- TODO: Audience currently we don't have the field in Figma design, hide first -->
  </div>
  <cl-campaigns-mobile-preview [storeTemplate$]="store.template$" [tenantSettings]="tenantSettings">
  </cl-campaigns-mobile-preview>
</div>