@import "variables";

.card-engagement-item-adjuster {
  margin: (-($vertical-padding * 0.5)) 0 0;
  padding: 0 ($horizontal-padding * 0.25) ($vertical-padding * 0.25);

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}
