<div class="tab-content">
  <div class="forms-container">
    <mat-card class="card" *ngIf="campaign?.template">
      <div class="card-header">
        <p class="card-title">Template</p>
      </div>
      <!--      <div class="card-content">-->
      <cl-engagement-item [data]="campaign?.template"></cl-engagement-item>
      <!--      </div>-->
    </mat-card>

    <mat-card class="card" *ngIf="campaign?.rewards?.length">
      <div class="card-header">
        <p class="card-title">Rewards</p>
      </div>
      <div class="card-content">
        <cl-reward-item-preview *ngFor="let reward of campaign?.rewards; let i = index"
                                class="item"
                                [propability]="reward?.propability"
                                [data]="reward?.value">
        </cl-reward-item-preview>
      </div>
    </mat-card>

    <mat-card class="card" *ngIf="campaign?.limits?.times && campaign?.limits?.duration">
      <div class="card-header">
        <p class="card-title">Play Limits</p>
      </div>
      <div class="card-content">
        <div class="card-row stretch">
          <div>
            <label class="card-label">Limit per user</label>
            <p class="card-value">{{campaign?.limits?.times}} time{{campaign?.limits?.times > 1 ? 's' : ''}}</p>
          </div>
          <div>
            <label class="card-label">Limit per duration</label>
            <p class="card-value">{{campaign?.limits?.duration}}</p>
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card class="card" *ngIf="campaign?.campaignInfo">
      <div class="card-header">
        <p class="card-title">
          Campaign Info
        </p>
      </div>

      <div class="card-content">
        <div *ngIf="campaign?.campaignInfo?.goal">
          <label class="card-label">Campagin goal</label>
          <p class="card-value">{{campaign?.campaignInfo?.goal}}</p>
        </div>

        <div *ngIf="campaign?.campaignInfo?.startDate">
          <label class="card-label">Campaign duration</label>
          <div class="card-row">
            <div class="input-group">
              <p class="card-value">{{campaign?.campaignInfo?.startDate | date: 'dd MMM yyyy' }}</p>
              <p class="card-value">{{campaign?.campaignInfo?.startTime}}</p>
            </div>
            <ng-container *ngIf="campaign?.campaignInfo?.endDate">
              to
              <div class="input-group">
                <p class="card-value">{{campaign?.campaignInfo?.endDate | date: 'dd MMM yyyy' }}</p>
                <p class="card-value">{{campaign?.campaignInfo?.endTime}}</p>
              </div>
            </ng-container>
          </div>
        </div>


        <div *ngIf="campaign?.campaignInfo?.labels">
          <label class="card-label">Label</label>
          <div class="card-row">
            <span class="card-chip">{{campaign?.campaignInfo?.labels}}</span>
          </div>
        </div>
      </div>
    </mat-card>


  </div>
  <div class="preview">
    <div class="preview-mobile">
    </div>
  </div>
</div>
