<div class="phonepreview-wrapper">
  <div class="forms-container">
    <!--template-->
    <mat-card class="card" *ngIf="campaign?.template">
      <div class="card-header">
        <h2 class="card-title">
          {{'CAMPAIGN.TEMPLATE' | translate}}
        </h2>
      </div>
      <div class="card-engagement-item-adjuster">
        <cl-engagement-item [data]="campaign?.template"></cl-engagement-item>
      </div>
    </mat-card>
    <!--rewards-->
    <mat-card class="card" *ngIf="stampsHasRewards">
      <div *ngFor="let slot of slots">
        <div *ngIf="hasRewardsInSlot(slot)">
          <div class="card-header">
            <p class="card-title" *ngIf="slot > 0">
                {{'CAMPAIGN.REWARDS_FOR_SLOT' | translate}}
                {{slot}}
            </p>
            <p class="card-title" *ngIf="slot === 0">
                {{'CAMPAIGN.REWARDS' | translate}}
            </p>
          </div>
          <div *ngFor="let outcome of campaign?.outcomes">
            <div class="card-content" *ngIf="outcome?.outcome?.slotNumber === slot">
              <cl-reward-item-preview
                class="item"
                [data]="outcome?.reward"
                [probability]="outcome?.outcome?.probability"
                [limit]="outcome?.outcome?.limit"
                [enableProbability]="outcome?.enableProbability">
              </cl-reward-item-preview>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <!--limits-->
    <mat-card class="card" *ngIf="campaign?.limits?.times">
      <div class="card-header">
        <h2 class="card-title">
          {{'CAMPAIGN.PLAY_LIMITS' | translate}}
        </h2>
      </div>
      <div class="card-content">
        <dl class="card-definitions">
          <div class="card-definitions-splitter">
            <div *ngIf="campaign?.limits?.times">
              <dt class="card-label">
                {{'CAMPAIGN.LIMIT_PER_USER' | translate}}
              </dt>
              <dd class="card-value">{{campaign?.limits?.times}}
                {{'CAMPAIGN.TIME' | translate}}
                {{campaign?.limits?.times > 1 ? 's' : ''}}
              </dd>
            </div>
            <div *ngIf="campaign?.limits?.duration">
              <dt class="card-label">
                {{'CAMPAIGN.LIMIT_PER_DURATION' | translate}}
              </dt>
              <dd class="card-value">{{campaign?.limits?.duration}}</dd>
            </div>
          </div>
        </dl>
      </div>
    </mat-card>
    <!--campaign info-->
    <mat-card class="card" *ngIf="campaign?.campaignInfo">
      <div class="card-header">
        <h2 class="card-title">
          {{'CAMPAIGN.CAMPAIGN_INFO' | translate}}
        </h2>
      </div>

      <div class="card-content">
        <dl class="card-definitions">
          <div *ngIf="campaign?.campaignInfo?.goal">
            <dt class="card-label">
              {{'CAMPAIGN.CAMPAIGN_GOAL' | translate}}
            </dt>
            <dd class="card-value">{{campaign?.campaignInfo?.goal}}</dd>
          </div>

          <div *ngIf="campaign?.campaignInfo?.startDate">
            <dt class="card-label">
              {{'CAMPAIGN.CAMPAIGN_DURATION' | translate}}
            </dt>
            <dd class="card-value">
              <span>
                <span>{{campaign?.campaignInfo?.startDate | date: 'mediumDate' }}</span>
                <span>&nbsp;{{campaign?.campaignInfo?.startTime}}</span>
              </span>
              <ng-container *ngIf="campaign?.campaignInfo?.endDate">
                <small>
                  {{'TO' | translate}}
                </small>
                <span>
                  <span>{{campaign?.campaignInfo?.endDate | date: 'mediumDate' }}</span>
                  <span>&nbsp;{{campaign?.campaignInfo?.endTime}}</span>
                </span>
              </ng-container>
            </dd>
          </div>

          <div *ngIf="campaign?.campaignInfo?.labels">
            <dt class="card-label">
              {{'CAMPAIGN.LABEL' | translate}}
            </dt>
            <dd class="card-value">
              <span class="card-chip" *ngFor="let label of campaign?.campaignInfo?.labels">{{label}}</span>
            </dd>
          </div>
        </dl>
      </div>
    </mat-card>
    <!-- channel -->
    <mat-card class="card">
      <div class="card-header">
        <h2 class="card-title">
          {{'CAMPAIGN.CHANNEL' | translate}}
        </h2>
      </div>
      <div class="card-content">
        <h3 class="card-label">
          {{campaign?.channel?.type | translate}}
        </h3>
        <!--Message-->
        <div class="card-section" *ngIf="campaign?.campaignInfo?.informationCollectionSetting">
          <div class="card-header">
            <h3 class="card-title">
              {{ informationCollectionSettingTitle | translate}}
            </h3>
          </div>
        </div>
        <!--Message-->
        <div class="card-section" *ngIf="campaign?.channel?.message">
          <div class="card-header">
            <h3 class="card-title">
              {{'CAMPAIGN.MESSAGE' | translate}}
            </h3>
          </div>
          <div class="card-content">
            {{campaign?.channel?.message}}
          </div>
        </div>
        <!--schedule-->
        <div class="card-section" *ngIf="campaign?.channel?.schedule?.sendDate">
          <div class="card-header">
            <h3 class="card-title">
              {{'CAMPAIGN.SCHEDULE_DATE' | translate}}
            </h3>
          </div>

          <div class="card-content">
            <!--send date-->
            <div class="card-row">
              {{campaign?.channel?.schedule?.sendDate}}&nbsp;&nbsp;&nbsp;&nbsp;{{campaign?.channel?.schedule?.sendTime}}
            </div>
            <!--recurrence-->
            <div class="card-row stretch" *ngIf="campaign?.channel?.schedule?.enableRecurrence">
              <div class="row">
                <div>
                  <label class="card-label">
                    {{'CAMPAIGN.REPEAT_EVERY' | translate}}
                  </label>
                  {{campaign?.channel?.schedule?.recurrence?.period}}&nbsp;{{campaign?.channel?.schedule?.recurrence?.period}}
                </div>
                <div>
                  <!--repeat on-->
                  <ng-container *ngIf="campaign?.channel?.schedule?.recurrence?.repeatOn.length > 0">
                    <label class="card-label">
                      {{'CAMPAIGN.REPEAT_ON' | translate}}
                    </label>
                    <span *ngFor="let repeatOn of campaign?.channel?.schedule?.recurrence?.repeatOn">
                      {{repeatOn}},&nbsp;
                    </span>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <!-- TODO: Audience currently we don't have the field in Figma design, hide first -->
  </div>
  <cl-campaigns-mobile-preview [storeTemplate$]="store.template$" [tenantSettings]="tenantSettings">
  </cl-campaigns-mobile-preview>
</div>
