<div class="activity-container">
     <div *ngIf="referralCampaigns">
          <mat-form-field appearance="fill" class="full-width__input">
               <!--<mat-label>Filter by campaign</mat-label>-->
               <mat-select [value]="selectedFilterValue" placeholder="Click to filter by campaign"
                    (selectionChange)="onFilterChange($event.value)">
                    <mat-option value="-1">All campaigns</mat-option>
                    <ng-container *ngFor="let campaign of referralCampaigns">
                         <mat-option [value]="campaign.value">{{campaign.name}}</mat-option>
                    </ng-container>
               </mat-select>
          </mat-form-field>
     </div>
     <div class="event-list" *ngIf="invites">
          <mat-list role="list">
               <mat-list-item class="list-item" *ngFor="let invite of invites" role="listitem">
                    <div class="time-stamp">{{invite.created_at | date:'MMM d'}}</div>
                    <h3 matLine>Invited {{invite.invitee_name}}</h3>
                    <p matLine class="campaign-name">{{invite.campaignName}}</p>
               </mat-list-item>
          </mat-list>
     </div>
</div>