.activity-container {
    background-color: var(--background);
    min-height: 100%;
    overflow-y: auto;
    height: 100%;
    padding: 1.6rem;

    .full-width__input {
        width: 100%;
        margin-top: 0;
    }
    .event-list {
        .list-item {
            .time-stamp {
                position: relative;
                float: right;
                top: -10px;
                width: 30px;
                font-size: 1rem;
                color: var(--disabled_text_color);
            }
            .campaign-name {
                font-size: 1.2rem;
                color: var(--disabled_text_color);
            }
        }
    }
}
