<mat-tab-group>
  <mat-tab *ngFor="let loyalty of loyalties; let index = index;">
    <ng-template mat-tab-label>
      <mat-checkbox 
        class="reward-loyalty-selection" 
        [color]="'primary'"
        [formControl]="getRewardLoyaltyFormItem(index).get('programStatus')"
        (change)="updateLoyaltySelectedStatus($event.checked, index)">
      </mat-checkbox>
      {{loyalty.name}}
    </ng-template>
    <cl-reward-loyalty-setup-group [loyalty]="loyalty" [group]="getRewardLoyaltyFormItem(index)">
    </cl-reward-loyalty-setup-group>
  </mat-tab>
</mat-tab-group>