.progress-campaign-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.progress-campaign-content-container {
  font-size: 12px;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .overall-progress-bar-container {
    height: 32px;
    background-color: rgba(32, 44, 70, 1);

    .overall-progress-bar-container-content {
      padding: 1rem 2rem;
      position: relative; // required for absolute positioning child spinner

      p {
        font-stretch: condensed;
        letter-spacing: 1.7px;
        font-size: 10px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.74);
        margin: 0;
        text-transform: uppercase;
      }

      .spinner-wrapper {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        padding: 5px;
        background: rgba(32, 44, 70, 1);
        width: 48px;
        height: 48px;

        .spinner-progress-percentage {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          color: rgba(255, 255, 255, 1);
          width: 100%;
          text-align: center;
        }

        .spinner-background {
          position: absolute;

          ::ng-deep {
            .mat-progress-spinner circle, .mat-spinner circle {
              stroke: rgba(255, 255, 255, 0.38);
            }
          }
        }

        .spinner-foreground {
          position: absolute;

          ::ng-deep {
            .mat-progress-spinner circle, .mat-spinner circle {
              stroke: rgba(255, 255, 255, 1);
            }
          }
        }

      }
    }
  }

  .progress-campaign-content {
    padding: 2rem;
  }

  img, svg {
    width: 100%;
    height: 22rem;
    object-fit: cover;
    flex: 1 0 auto;
  }

  svg {
    background: #E8E8E8;
  }

  .title {
    font-size: 16px;
  }

  .description {
    font-weight: normal;
    line-height: 20px;
    margin: 2rem 0;
  }

  .subtitle {
    color: rgba(0, 0, 0, 0.38);
    font-weight: bold;
    margin-top: 1.2rem;
  }

  ::ng-deep {
    .mat-list-item-content {
      padding: 0 !important;
    }

    .mat-progress-bar {
      border-radius: .4rem;
      height: .6rem !important;

      .mat-progress-bar-fill::after {
        background-color: #2664ED;
      }
    }

    .mat-progress-bar-buffer {
      background-color: #E1E1E1;
    }
  }

  mat-list-item {
    font-size: 12px;
    font-weight: bold;

    a {
      text-decoration: none;
      color: black;
    }
  }

  .mat-tab-group-wrapper {
    min-height: 60rem;

    ::ng-deep .mat-tab-body-wrapper {
      margin-top: 2rem;
    }
  }

  .current-level-container {
    margin: 1rem 0;

    p {
      font-stretch: condensed;
      letter-spacing: 1.7px;
      font-size: 10px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.6);
      margin: 0;
      text-transform: uppercase;
    }
  }

  .task-card-container {
    display: flex;
    flex-direction: column;
    position: relative;

    .level-connector-line {
      position: absolute;
      // can't do decimal widths to avoid rendering engine issues from different browsers
      width: 1px;
      background-color: rgba(158, 158, 158, 0.7);
      left: 20px; // shift right half of the level icon
      top: 20px; // shift down half of the level icon
      z-index: -1;
    }

    .task-card {
      display: flex;

      .task-img-section {
        margin: 0.5rem 1.8rem auto auto;

        .task-img-container {
          position: relative;

          img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            align-self: center;
          }

          .success-icon {
            position: absolute;
            bottom: .4rem;
            right: -.4rem;
            width: 1.8rem;
            height: 1.8rem;
          }
        }

        .active-macaron-container {
          display: flex;
          justify-content: center;

          .macaron {
            text-align: center;
            border-radius: 5rem;
            padding: 0.4rem 0.5rem;
            font-size: 8px;
            background-color: #2664ED; // material default blue
            color: white;
            letter-spacing: 0.6px;
            text-transform: uppercase;
            font-stretch: condensed;
          }
        }
      }

      .task-content {
        width: 100%;
        padding-top: .8rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
          font-weight: bold;
        }

        .task-subtitle {
          color: rgba(0, 0, 0, 0.38);
          margin-bottom: 5px;
          line-height: 16px;
        }

        .prize-wrapper {
          margin-top: 2.5rem;

          // don't need to grey out disabled mat list item as it won't navigate
          // and there's no reward associated to show
          ::ng-deep mat-list-item.mat-list-item-disabled {
            background-color: unset;
          }

          .outcome-container {
            display: flex;
            flex-direction: row;
            width: 100%;

            mat-icon {
              flex: 0;

              &.reward-icon {
                padding-right: 1rem;
                color: #2664ED;
              }
            }

            div {
              flex: 1;
              text-align: left;
              align-self: center;
            }
          }
        }
      }
    }

  }

  .participate-container {
    margin: 2rem;

    .tnc {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 4rem;
    }
  }
}

.bottom-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--surface_colour, #fff) !important;
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 1.6rem;

  button {
    text-decoration: none;
    text-align: center;
    height: 4rem;
    width: 100%;
    flex: 0;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }
}
