@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

.progress-campaign-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white-Five;
  overflow-y: auto;
}

.progress-campaign-card-content {
  background-color: $white-Two;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  .mat-tab-group-wrapper {
    min-height: 60rem;
    padding: 0 2rem;

    ::ng-deep {
      .mat-tab-body-wrapper {
        margin-top: 2rem;
      }

      .mat-tab-label-active {
        color: $darkishGreen;
        opacity: 1;
      }

      .mat-ink-bar {
        background-color: $mediumGreen;
        height: 4px;
        border-radius: 2px;
      }
    }
  }

  .task-card-container {
    display: flex;
    flex-direction: column;
    position: relative;

    .level-connector-line {
      position: absolute;
      // can't do decimal widths to avoid rendering engine issues from different browsers
      width: 1px;
      background-color: rgba(158, 158, 158, 0.7);
      left: 20px; // shift right half of the level icon
      top: 20px; // shift down half of the level icon
      z-index: -1;
    }

    .task-card {
      display: flex;

      &.border-bottom {
        border-bottom: 1px solid $very-light-pink;
        padding: 14px 0;
      }

      .task-card-content {
        display: flex;
        flex-direction: column;
        flex: 1;
      }

      .task-img-section {
        margin: 0.5rem 1.8rem auto auto;

        .task-img-container {
          position: relative;

          img {
            width: 60px;
            height: 60px;
            // border-radius: 50%;
            align-self: center;
          }

          .success-icon {
            position: absolute;
            bottom: 0.4rem;
            right: -0.4rem;
            width: 1.8rem;
            height: 1.8rem;
          }
        }

        .active-macaron-container {
          display: flex;
          justify-content: center;

          .macaron {
            text-align: center;
            border-radius: 5rem;
            padding: 0.4rem 0.5rem;
            font-size: 8px;
            background-color: $medium-blue; // material default blue
            color: white;
            letter-spacing: 0.6px;
            text-transform: uppercase;
            font-stretch: condensed;
          }
        }
      }

      .task-content {
        width: 100%;
        padding-top: 0.8rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
          font-weight: bold;
        }

        .prize-wrapper {
          margin-bottom: 2.5rem;
          // don't need to grey out disabled mat list item as it won't navigate
          // and there's no reward associated to show
          ::ng-deep mat-list-item.mat-list-item-disabled {
            background-color: unset;
          }

          .outcome-container {
            display: flex;
            flex-direction: row;
            width: 100%;

            mat-icon {
              flex: 0;

              &.reward-icon {
                padding-right: 1rem;
                color: $medium-blue;
              }
            }

            div {
              flex: 1;
              text-align: left;
              align-self: center;
            }
          }

          .subtitle {
            font-weight: bold;
            font-size: 18px;
          }
        }

        .mat-progress-bar {
          border-radius: 8px;
          height: 8px !important;

          ::ng-deep {
            .mat-progress-bar-fill::after {
              background-color: $mediumGreen;
            }

            .mat-progress-bar-buffer {
              background-color: $white-Four !important;
            }
          }
        }

        mat-list-item {
          font-size: 12px;
          font-weight: bold;

          a {
            text-decoration: none;
            color: black;
          }
        }
      }

      .task-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .task-subtitle {
          font-size: 14px;
          color: $black;
          margin-bottom: 5px;
          line-height: 16px;
        }

        button {
          width: 93px;
          height: 40px;
          border-radius: 5px;
          border-color: $mediumGreen;
          border-style: solid;
          border-width: 1px;

          color: $darkishGreen;
          font-size: 13px;
          font-weight: 600;
          line-height: 20px;
        }
      }
    }
  }

  .participate-container {
    margin: 2rem;

    .tnc {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 4rem;
      color: $black;
      font-weight: 400;
    }
    h2,
    h4 {
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      color: $black;
    }
  }
}

.progress-campaign-content-container {
  font-size: 12px;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .overall-progress-bar-container {
    height: 32px;
    background-color: rgba(32, 44, 70, 1);

    .overall-progress-bar-container-content {
      padding: 1rem 2rem;
      position: relative; // required for absolute positioning child spinner

      p {
        font-stretch: condensed;
        letter-spacing: 1.7px;
        font-size: 10px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.74);
        margin: 0;
        text-transform: uppercase;
      }

      .spinner-wrapper {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        padding: 5px;
        background: rgba(32, 44, 70, 1);
        width: 48px;
        height: 48px;

        .spinner-progress-percentage {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          color: rgba(255, 255, 255, 1);
          width: 100%;
          text-align: center;
        }

        .spinner-background {
          position: absolute;

          ::ng-deep {
            .mat-progress-spinner circle,
            .mat-spinner circle {
              stroke: rgba(255, 255, 255, 0.38);
            }
          }
        }

        .spinner-foreground {
          position: absolute;

          ::ng-deep {
            .mat-progress-spinner circle,
            .mat-spinner circle {
              stroke: rgba(255, 255, 255, 1);
            }
          }
        }
      }
    }
  }

  .progress-campaign-content {
    padding: 2rem;

    .title {
      font-size: 16px;
    }

    .description {
      font-weight: normal;
      line-height: 20px;
      margin: 2rem 0;
    }

    .subtitle {
      color: rgba(0, 0, 0, 0.38);
      font-weight: bold;
      margin-top: 1.2rem;
      font-size: 14px;
    }

    .mission-note {
      color: $brownish-grey;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      margin: 26px 0px;
    }

    .progress-campaign-lists {
      display: flex;
      flex-direction: row;

      mat-list-item {
        height: auto;

        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0;
        padding: 0;

        .mat-list-item-content {
          padding: 0 !important;
        }

        a {
          text-decoration: none;
          color: black;
        }

        &:not(:first-child) {
          margin-top: 16px;
        }
      }

      p {
        color: rgba(0, 0, 0, 0.38);
        margin-bottom: 0;
      }

      a {
        font-weight: bold;
      }

      .images {
        width: 28px;
        height: 28px;
        padding-right: 8px;
        flex: unset;
      }
    }
  }

  img,
  svg {
    width: 100%;
    height: 22rem;
    object-fit: cover;
    flex: 1 0 auto;
  }

  svg {
    background: $white-Five;
  }

  ::ng-deep {
    .mat-list-item-content {
      padding: 0 !important;
    }

    .mat-progress-bar {
      border-radius: 0.4rem;
      height: 0.6rem !important;

      .mat-progress-bar-fill::after {
        background-color: $mediumGreen;
      }
    }

    .mat-progress-bar-buffer {
      background-color: $white-Four;
    }
  }

  mat-list-item {
    font-size: 12px;
    font-weight: bold;

    a {
      text-decoration: none;
      color: black;
    }
  }

  .current-level-container {
    margin: 1rem 0;

    p {
      font-stretch: condensed;
      letter-spacing: 1.7px;
      font-size: 10px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.6);
      margin: 0;
      text-transform: uppercase;
    }
  }
}

.bottom-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--surface_colour, #fff) !important;
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 1.6rem;

  button {
    text-decoration: none;
    text-align: center;
    height: 4rem;
    width: 100%;
    flex: 0;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }
}
