<div class="dialog-tab-content tab-content-height">
  <div class="row invite-new-users-top-row">
    <label class="invite-new-users-label">Rewards Access</label>
    <mat-slide-toggle></mat-slide-toggle>
  </div>
  <div class="invite-new-users-section">
    <div class="row invite-new-users-top-row">
      <div></div>
      <div class="invite-new-users-table-group">
        <span>Create</span>
        <span>Edit</span>
        <span>View</span>
      </div>
    </div>
    <div>
      <mat-divider></mat-divider>
    </div>
    <div class="row">
      <label class="invite-new-users-label">Rewards</label>
      <cl-checkbox-group class="invite-new-users-table-group">
        <mat-checkbox></mat-checkbox>
        <mat-checkbox></mat-checkbox>
        <mat-checkbox></mat-checkbox>
      </cl-checkbox-group>
    </div>
    <div class="row">
      <label class="invite-new-users-label">Vouchers</label>
      <cl-checkbox-group class="invite-new-users-table-group">
        <mat-checkbox></mat-checkbox>
        <mat-checkbox></mat-checkbox>
        <mat-checkbox></mat-checkbox>
      </cl-checkbox-group>
    </div>
    <div class="row">
      <label class="invite-new-users-label">Catalog</label>
      <cl-checkbox-group class="invite-new-users-table-group">
        <mat-checkbox></mat-checkbox>
        <mat-checkbox></mat-checkbox>
        <mat-checkbox></mat-checkbox>
      </cl-checkbox-group>
    </div>
  </div>
  <div class="invite-new-users-section">
    <div class="row">
      <label class="invite-new-users-label">Redemption Types</label>
    </div>
    <div class="input-group">
      <mat-checkbox>QR code</mat-checkbox>
      <mat-checkbox>Bar code</mat-checkbox>
      <mat-checkbox>Merchant PIN</mat-checkbox>
      <mat-checkbox>Promo code</mat-checkbox>
    </div>
  </div>
  <div class="invite-new-users-section">
    <div class="row">
      <label class="invite-new-users-label">Voucher Code Types</label>
    </div>
    <div class="input-group">
      <mat-checkbox>Single code</mat-checkbox>
      <mat-checkbox>Unique codes: System generated</mat-checkbox>
      <mat-checkbox>Unique codes: User upload</mat-checkbox>
    </div>
  </div>
  <div class="invite-new-users-section">
    <div class="row">
      <label class="invite-new-users-label">Replenish Vouchers</label>
      <mat-slide-toggle></mat-slide-toggle>
    </div>
  </div>
  <div class="invite-new-users-section">
    <div class="row">
      <label class="invite-new-users-label">Set Limits</label>
      <mat-slide-toggle></mat-slide-toggle>
    </div>
  </div>
</div>
