@import "variables";

:host {
  font-family: $primary-font;
}

.parent-container {
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
  align-items: center;
  width: 80vw;
  height: 90vh;

  p {
    @include typo-subtitle2;

    color: #000000;
    font-weight: 400;
    margin: 1.6rem 0;
  }

  .perx-logo {
    position: absolute;
    top: 2rem;
    left: 4rem;

    img {
      width: 7.7rem;
      height: 3.7rem;
      object-fit: cover;
    }
  }

  &-control {
    @include typo-input;

    padding-bottom: $vertical-padding;

    mat-form-field {
      width: 100%;
    }

    mat-icon {
      cursor: pointer;
    }
  }

  .inputs-related {
    @include typo-input;

    padding-bottom: $vertical-padding;

    mat-form-field {
      width: 100%;
    }

    mat-icon {
      color: $light-gray;
      cursor: pointer;
    }
  }

  &-action {
    margin-bottom: $vertical-padding;
  }

  .intro-pic {
    display: flex;
    justify-content: center;
    margin: 5.7rem auto 2.7rem;
    max-width: 28rem;
    max-height: 28rem;

    .image-nice {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .text-container {
    margin-top: 2.3rem;
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: space-evenly;

    .back-to-login {
      @include typo-subtitle2;

      text-decoration: none;
      line-height: 3;
      color: $primary-color;
    }

    .main-text {
      .Hello-there {
        @include typo-h4;

        font-family: $primary-font;
        letter-spacing: 0.25px;
        color: $base-font-color;
      }
    }

    .foot-msg {
      @include typo-caption;

      color: $gray;
    }
  }
}
