.visible-icon {
  color: rgba(0, 0, 0, 0.54);
}

.parent-container {
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
  align-items: center;
  width: 80vw;
  height: 100vh;

  .perx-logo {
    position: absolute;
    top: 2rem;
    left: 4rem;

    img {
      width: 7.7rem;
      height: 3.7rem;
      object-fit: cover;
    }
  }

  p {
    margin: 1.6rem 0;
    font-size: 1.6em;
  }

  .inputs-related {
    mat-form-field {
      width: 100%;
    }
  }

  .intro-pic {
    display: flex;
    justify-content: center;
    margin: 5.7rem auto 0;
    max-width: 30rem;
    max-height: 30rem;

    .image-nice {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .text-container {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: space-evenly;

    .back-to-login {
      font-family: Roboto, serif;
      line-height: 3;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.4rem;
      color: #2665ee;
    }

    .main-text {
      .Hello-there {
        font-family: Roboto, serif;
        font-size: 3.2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.25px;
        color: #333333;
      }

      .foot-msg {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
