<!-- Template stuff aimed at being replaced by real components -->
<div [ngClass]="'content-container ' + sourceType">
    <perx-core-bcode-redemption
        [voucherId]="voucherId"
        [instructions]="'Present the code below to the merchant to complete your transaction.'"
        [useMinimalStyle]="useMinimalStyle"
    ></perx-core-bcode-redemption>
    <div class="actions-container">
        <button [routerLink]="['/wallet']" [queryParams]="{tab:'wallet'}" mat-flat-button color="primary">{{buttonText}}</button>
    </div>
</div>
