.profile-container {
  margin: 6rem 0;

  perx-core-user-profile {
    padding: 0 1.5rem 1.6rem 1.5rem;
    background-color: #ffffff;
    display: block;
    width: initial;
  }

  .button-group {
    padding: 0 1.5rem;
    margin-top: 1.6rem;
    background-color: #ffffff;

    a {
      font-size: 1.6rem;
      padding: 1.6rem 0;
      display: block;
    }
  }
}
