<div class="container">
    <div *ngIf="user" class="customer-info">
        <h2>{{"RECORD_TYPE_PAGE.PROFILE"|translate}}</h2>
        <div class="user-details">
            <p>{{ user.firstName }} {{ user.lastName }}</p>
            <small>Customer ID: {{ user.identifier }}</small>
            <small *ngIf="user?.customProperties?.phone">{{"RECORD_TYPE_PAGE.MOBILE_NUMBER"|translate}}: {{ user.customProperties.phone }}</small>
        </div>     
    </div>  
    <h1>{{"RECORD_TYPE_PAGE.SALES_RECORD_TITLE"|translate}}</h1>        
    <div (click)="goToNextPage()">
        <div class="icon-container">
            <img src="assets/sales-record.png"/>    
            <span>{{"RECORD_TYPE_PAGE.SALES_RECORD"|translate}}</span>
        </div>
    </div> 
    <div class="btn-bottom-fixed">
        <button mat-stroked-button class="full-width__button btn-transparent" (click)="onCancel()">{{"RECORD_TYPE_PAGE.CANCEL"|translate}}</button>  
    </div>          
</div>
