@import '~@angular/material/theming';
@import "variables";

.dashboard {
  &-header {
    height: 13.8rem;
  }

  &-title {
    @include typo-h6;

    color: $base-font-color;

    &__indent {
      margin: ($vertical-padding * 0.75) 0 ($vertical-padding * 0.5) 0;
    }
  }

  &-content {
    @include mat-elevation(1);

    border-radius: $border-radius;
    background-color: $white;
    box-sizing: border-box;

    &-header {
      //height: 6rem;
      border-bottom: 1px solid $border-color;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      cl-range-date-picker-filter {
        display: block;
        font-size: $base-font-size;
        margin: 1rem 1.2rem;
      }
    }
  }

  &-group-bloc {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 6rem 4rem 0;
    box-sizing: border-box;
  }
}

.game-card {
  margin-right: 2rem;
  width: 100%;

  &:last-child {
    margin-right: 0;
  }

  &-wrap {
    display: flex;
    margin-top: ($vertical-padding * 0.75);
  }
}

.tabs-list-wrap {
  max-width: 27rem;
}

.info-title {
  position: relative;
  margin-top: $vertical-padding;
  flex: calc(100% - $horizontal-padding);
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.31;
  color: $base-font-color;
  font-family: $primary-font;
}
