<!--group block contain tabs and one graphic-->
<div class="dashboard-group-graphics">
  <div class="chard-card-list">

    <h2 class="chart-card-info-title">{{'CAMPAIGN_GRAPHIC_PAGE.TITLE' | translate}} {{activeCampaigns}}</h2>

    <div class="tabs-list-wrap business-insights-tabs-list-wrap">
      <mat-radio-group color="primary" class="tabs-list business-insights-tabs-list" [value]="activeTab"
        (change)="selectedTab($event.value)">
        <ng-container *ngFor="let tab of tabs; let index = index">
          <mat-radio-button [value]="tab?.name">
            <cl-tab-item-view [data]="tab" [value]="getTabValue(index)"></cl-tab-item-view>
          </mat-radio-button>
        </ng-container>
      </mat-radio-group>
    </div>

    <ng-container [ngSwitch]="activeTab">
      <!--      survey-->
      <ng-container *ngSwitchCase="'survey'">

        <article class="chart-card">
          <h3 class="chart-card-title" translate>CAMPAIGN_GRAPHIC_PAGE.SURVEY_ENGAGEMENT_RATE</h3>
          <div class="chart-card-content">
            <cl-chart-card [id]="'campaigns_survey_engagement_rate'" [cardType]="ct.line" [params]="params">
            </cl-chart-card>
          </div>
        </article>

        <article class="chart-card">
          <h3 class="chart-card-title" translate>CAMPAIGN_GRAPHIC_PAGE.TOP_5_REWARDS</h3>
          <div class="chart-card-content">
            <cl-chart-card [id]="'campaigns_survey_top_5_reward'" [cardType]="ct.horizontalBar"></cl-chart-card>
          </div>
        </article>

        <article class="chart-card">
          <h3 class="chart-card-title" translate>CAMPAIGN_GRAPHIC_PAGE.CHANNELS</h3>
          <div class="chart-card-content">
            <cl-chart-card [id]="'campaigns_survey_channels'" [cardType]="ct.advancedPie" [params]="params">
            </cl-chart-card>
          </div>
        </article>

        <article class="chart-card full-width">
          <div class="chart-card-header-with-control">
            <h3 class="chart-card-title" translate>CAMPAIGN_GRAPHIC_PAGE.SURVEY_CAMPAIGN_LISTS</h3>
            <cl-search-filter class="search-block"
              [control]="tableSearch"
              [placeholder]="'CAMPAIGN_GRAPHIC_PAGE.SEARCH_FOR_SURVEY_CAMPAIGNS' | translate">
            </cl-search-filter>
          </div>
          <div class="chart-card-content overflow-all">
            <cl-chart-card [id]="'campaigns_survey_list'"
              [cardType]="ct.table"
              [params]="params">
            </cl-chart-card>
          </div>
        </article>

      </ng-container>
      <!--      / survey-->
      <!--      games-->
      <ng-container *ngSwitchCase="'games'">

        <article class="chart-card full-width">
          <div class="chart-card-header-with-control">
            <h3 class="chart-card-title" translate>CAMPAIGN_GRAPHIC_PAGE.GAME_ENGAGEMENT_RATE</h3>
            <!-- <mat-form-field appearance="outline">
              <mat-select #selectGame [value]="'campaigns_games_engagement_rate_shake'">
                <mat-option selected [value]="'campaigns_games_engagement_rate_shake'">
                  {{'CAMPAIGN_GRAPHIC_PAGE.SHAKE_THE_TREE' | translate}}</mat-option>
                <mat-option [value]="'campaigns_games_engagement_rate_tap'">
                  {{'CAMPAIGN_GRAPHIC_PAGE.HIT_THE_PINATA' | translate}}</mat-option>
                <mat-option [value]="'campaigns_games_engagement_rate_scratch'">
                  {{'CAMPAIGN_GRAPHIC_PAGE.INSTANT_REWARDS' | translate}}</mat-option>
              </mat-select>
            </mat-form-field> -->
          </div>
          <div class="chart-card-content">
            <cl-chart-card [id]="'campaigns_games_engagements'" [cardType]="ct.line" [params]="params"></cl-chart-card>
          </div>
        </article>

        <article class="chart-card">
          <h3 class="chart-card-title" translate>CAMPAIGN_GRAPHIC_PAGE.TOP_5_REWARDS</h3>
          <div class="chart-card-content">
            <cl-chart-card [id]="'campaigns_games_top_5_rewards'" [cardType]="ct.horizontalBar" [params]="params">
            </cl-chart-card>
          </div>
        </article>

        <article class="chart-card">
          <h3 class="chart-card-title" translate>CAMPAIGN_GRAPHIC_PAGE.CHANNELS</h3>
          <div class="chart-card-content">
            <cl-chart-card [id]="'campaigns_games_channels'" [cardType]="ct.advancedPie" [params]="params">
            </cl-chart-card>
          </div>
        </article>

      </ng-container>
      <!--      / games-->
      <!--      stamps-->
      <ng-container *ngSwitchCase="'stamps'">

        <article class="chart-card">
          <h3 class="chart-card-title" translate>CAMPAIGN_GRAPHIC_PAGE.STAMPS_ENGAGEMENT_RATE</h3>
          <div class="chart-card-content">
            <cl-chart-card [id]="'campaigns_stamps_engagement_rate'" [cardType]="ct.line" [params]="params">
            </cl-chart-card>
          </div>
        </article>

        <article class="chart-card">
          <h3 class="chart-card-title" translate>CAMPAIGN_GRAPHIC_PAGE.TOP_5_REWARDS</h3>
          <div class="chart-card-content">
            <cl-chart-card [id]="'campaigns_stamps_top_5_rewards'" [cardType]="ct.horizontalBar" [params]="params">
            </cl-chart-card>
          </div>
        </article>

        <article class="chart-card">
          <h3 class="chart-card-title" translate>CAMPAIGN_GRAPHIC_PAGE.CHANNELS</h3>
          <div class="chart-card-content">
            <cl-chart-card [id]="'campaigns_stamps_channels'" [cardType]="ct.advancedPie" [params]="params">
            </cl-chart-card>
          </div>
        </article>

        <article class="chart-card full-width">
          <div class="chart-card-header-with-control">
            <h3 class="chart-card-title" translate>CAMPAIGN_GRAPHIC_PAGE.STAMPS_CAMPAIGN_LISTS</h3>
            <cl-search-filter class="search-block"
              [control]="tableSearch"
              [placeholder]="'CAMPAIGN_GRAPHIC_PAGE.SEARCH_FOR_STAMPS_CAMPAIGNS' | translate">
            </cl-search-filter>
          </div>
          <div class="chart-card-content overflow-all">
            <cl-chart-card [id]="'campaigns_stamps_campaigns_list'" [cardType]="ct.table" [params]="params">
            </cl-chart-card>
          </div>
        </article>

      </ng-container>
      <!--      / stamps-->
      <!--      reward-->
      <ng-container *ngSwitchCase="'reward'">

        <article class="chart-card">
          <h3 class="chart-card-title" translate>CAMPAIGN_GRAPHIC_PAGE.INSTANT_REWARD_ENGAGEMENT_RATE</h3>
          <div class="chart-card-content">
            <cl-chart-card [id]="'campaigns_instant_reward_engagement_rate'" [cardType]="ct.line" [params]="params">
            </cl-chart-card>
          </div>
        </article>

        <article class="chart-card">
          <h3 class="chart-card-title" translate>CAMPAIGN_GRAPHIC_PAGE.TOP_5_REWARDS</h3>
          <div class="chart-card-content">
            <cl-chart-card [id]="'campaigns_instant_reward_top_5_rewards'" [cardType]="ct.horizontalBar"
              [params]="params"></cl-chart-card>
          </div>
        </article>

        <article class="chart-card">
          <h3 class="chart-card-title" translate>CAMPAIGN_GRAPHIC_PAGE.CHANNELS</h3>
          <div class="chart-card-content">
            <cl-chart-card [id]="'campaigns_instant_reward_channels'" [cardType]="ct.advancedPie" [params]="params">
            </cl-chart-card>
          </div>
        </article>

        <article class="chart-card full-width">
          <div class="chart-card-header-with-control">
            <h3 class="chart-card-title" translate>CAMPAIGN_GRAPHIC_PAGE.STAMPS_REWARDS_LISTS</h3>
            <!-- <cl-search-filter class="search-block"
              [control]="tableSearch"
              [placeholder]="'CAMPAIGN_GRAPHIC_PAGE.SEARCH_FOR_REWARDS_CAMPAIGNS' | translate"></cl-search-filter> -->
          </div>
          <div class="chart-card-content overflow-all">
            <cl-chart-card [id]="'campaigns_instant_reward_campaigns_list'" [cardType]="ct.table" [params]="params">
            </cl-chart-card>
          </div>
        </article>

      </ng-container>
      <!--      / reward-->
    </ng-container>

  </div>
</div>
<!--end group block contain tabs and one graphic-->
