
@media (max-width: $desktop-width) {

}

@media (max-width: $tablet-width) {
  .wrap {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  cl-type-item {
    margin-right: 0.4rem;
  }
}

@media (max-width: $mobile-width) {
  cl-type-item {
    margin-right: 0;
  }
}
