@import "variables";

:host {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 ($vertical-padding * 0.5);
  margin: 0 (-($horizontal-padding / 4));
  justify-content: center;
  position: relative;
}

cl-type-item {
  display: flex;
  margin: ($vertical-padding / 4) ($horizontal-padding / 4);
}

@import "resize";
