@import "../icon.scss";

@mixin toolbar {
  background: white;
  display: flex;
  flex-direction: row;

  button {
    margin: 0.5rem;
  }

  .spacer {
    flex-grow: 1;
    text-align: center;
  }

  .icon {
    @include icon;
  }
}
