@import "variables";

.stamps-limits-container {
  margin-top: ($vertical-padding * 0.5);
}

.stamp-rule {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: stretch;

  &-label-block {
    flex: 1;
    max-width: 9.6rem;
    min-width: 5rem;
  }

  &-label {
    @include typo-subtitle1;

    color: $secondary-color;
  }

  &-form-group {
    flex: 1;
  }

  &-action {
    padding-left: 5rem;
  }
}