<!-- Stamps Rule-->
<div class="stamps-limits-container" [formGroup]="limitData">
  <mat-card class="card">
    <div class="card-header">
      <h2 class="card-title">
        {{'CAMPAIGN.STAMPS_RULE' | translate}}
      </h2>
    </div>
    <div class="card-content" formGroupName="stampsRule">
      <div class="card-row">
        <mat-checkbox color="primary" formControlName="sequence">
          {{'CAMPAIGN.SEQUENCE' | translate}}
        </mat-checkbox>
      </div>
      <div class="flex flex-end" *ngIf="!isSequence">
        <cl-button classList="tertiary ph-0" (click)="addStampRule()">
          {{'CAMPAIGN.ADD_RULE' | translate}}
        </cl-button>
      </div>
      <div class="card-section" *ngFor="let rule of rules?.controls; let i = index; let first = first">
        <div class="card-content">
          <div class="stamp-rule">
            <div class="stamp-rule-label-block" *ngIf="isSequence">
              <label class="stamp-rule-label">
                {{'CAMPAIGN.SLOT' | translate}}
                {{i + 1}}:
              </label>
            </div>
            <cl-new-campaign-stamp-rule-form-group class="stamp-rule-form-group" [formControl]="rule">
            </cl-new-campaign-stamp-rule-form-group>
            <div class="stamp-rule-action" *ngIf="!isSequence && !first">
              <button mat-icon-button (click)="removeStampRule(i)">
                <i class="icon full-with delete-action"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <!--/ Stamps Rule-->
  <!--    limits-->
  <mat-card class="card" formGroupName="limits">
    <div class="card-header">
      <h2 class="card-title">
        {{'CAMPAIGN.LIMITS' | translate}}
      </h2>
    </div>
    <div class="card-content">
      <div class="card-section">
        <div class="card-header">
          <div class="row">
            <h3 class="card-title">
              {{'CAMPAIGN.STAMP_CARD_LIMITS' | translate}}
            </h3>
            <mat-slide-toggle color="primary" formControlName="enableStampCard"></mat-slide-toggle>
          </div>
        </div>
        <div class="card-content" formGroupName="stampCard">
          <label class="card-label">
            {{'CAMPAIGN.STAMP_CARDS_PER_CAMPAIGN' | translate}}
          </label>
          <div class="card-row input-group">
            <mat-form-field>
              <input matInput type="number" [min]="1" [max]="1000" formControlName="perCampaign">
              <span matSuffix>
                {{'CAMPAIGN.STAMP_CARDS' | translate}}
              </span>
            </mat-form-field>
            <div></div>
          </div>
          <label class="card-label">
            {{'CAMPAIGN.STAMP_CARDS_PER_USER' | translate}}
          </label>
          <div class="card-row input-group">
            <mat-form-field>
              <input matInput type="number" [min]="1" [max]="1000" formControlName="perUser">
              <span matSuffix>
                {{'CAMPAIGN.STAMP_CARDS' | translate}}
              </span>
            </mat-form-field>
            <span>
              {{'CAMPAIGN.PER' | translate}}
            </span>
            <mat-form-field>
              <mat-select formControlName="duration">
                <mat-option value="day">{{'DAY' | translate}}</mat-option>
                <mat-option value="week">{{'WEEK' | translate}}</mat-option>
                <mat-option value="month">{{'MONTH' | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="card-section">
        <div class="card-header">
          <div class="row">
            <h3 class="card-title">
              {{'CAMPAIGN.STAMP_LIMITS' | translate}}
            </h3>
            <mat-slide-toggle color="primary" formControlName="enableStamp"></mat-slide-toggle>
          </div>
        </div>
        <div class="card-content" formGroupName="stamp">
          <label class="card-label">
            {{'CAMPAIGN.LIMIT_PER_USER' | translate}}
          </label>
          <div class="card-row input-group">
            <mat-form-field>
              <input matInput type="number" [min]="1" [max]="1000" formControlName="perUser">
              <span matSuffix>
                {{'CAMPAIGN.STAMPS' | translate}}
              </span>
            </mat-form-field>
            <span>
              {{'CAMPAIGN.PER' | translate}}
            </span>
            <mat-form-field>
              <mat-select formControlName="duration">
                <mat-option value="day">{{'DAY' | translate}}</mat-option>
                <mat-option value="week">{{'WEEK' | translate}}</mat-option>
                <mat-option value="month">{{'MONTH' | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <!--/    limits-->
  <!--  Stamp Cards Validity-->
  <mat-card class="card">
    <div class="card-header">
      <div class="row">
        <h3 class="card-title">
          {{'CAMPAIGN.STAMP_CARDS_VALIDITY' | translate}}
        </h3>
        <mat-slide-toggle color="primary" formControlName="enableStampCardsValidity"></mat-slide-toggle>
      </div>
    </div>
    <div class="card-content">
      <div class="card-row input-group" formGroupName="stampCardsValidity">
        <span>
          {{'CAMPAIGN.VALID_FOR' | translate}}
        </span>
        <mat-form-field>
          <input matInput type="number" [min]="1" formControlName="times">
          <span matSuffix>{{'CAMPAIGN.PLAY' | translate}}</span>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="duration">
            <mat-option value="day">{{'DAY' | translate}}</mat-option>
            <mat-option value="week">{{'WEEK' | translate}}</mat-option>
            <mat-option value="month">{{'MONTH' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
        <span>
          {{'CAMPAIGN.AFTER_1ST_STAMP_EARNED' | translate}}
        </span>
      </div>
    </div>
  </mat-card>
  <!--/  Stamp Cards Validity-->
</div>