<header class="page-header">
  <h1 class="title">
    {{'LOYALTY_FEATURE.LOYALTY_PROGRAM' | translate}}
  </h1>
  <cs-button routerLink="new" classList="primary cs-btn-mobile">
    <i class="cs-btn-mobile-icon icon new-icon"></i>
    {{'BTN_CREATE_NEW' | translate}}
  </cs-button>
</header>

<section class="content">
  <ng-container [ngSwitch]="dataSource.state$ | async">
    <ng-container *ngSwitchCase="dataSourceStates.hasDataApi">
      <cl-loyalty-grid [dataSource]="dataSource"
        [statusLabel]="statusLabel"
        [menuOptions]="menuOptions"
        (menuTapped)="menuOptTapped($event)">
      </cl-loyalty-grid>
      <!--paginator-->
      <div class="table-card">
        <cl-paginator [dataSource]="dataSource"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20]"></cl-paginator>
      </div>
      <!--/ paginator-->
    </ng-container>

    <cl-no-data *ngSwitchCase="dataSourceStates.noDataApi">
      <img class="no-data-img" src="/assets/images/no-data/loyalty-empty-illustration.svg" alt="">
      <h2 class="no-data-title">
        {{'LOYALTY_FEATURE.NO_DATA_TITLE' | translate}}
      </h2>
      <p class="no-data-text">
        {{'LOYALTY_FEATURE.NO_DATA_TEXT' | translate}}
      </p>
    </cl-no-data>

    <div *ngSwitchCase="dataSourceStates.firstLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <cl-no-data *ngSwitchCase="dataSourceStates.errorApi">
      <h2 class="no-data-title">
        <span>Something broke</span> <span style="display: inline-block;">:(</span>
      </h2>
    </cl-no-data>
  </ng-container>
</section>
