<div class="container">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="{{'HISTORY.YOU_CURRENTLY_HAVE' | translate }}">
      <div
        class="accrued-container"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="500"
        (scrolled)="onScroll()"
        [scrollWindow]="false"
      >
        <perx-core-loyalty-transactions-list
          *ngIf="accrued"
          [priceLabelFn]="priceLabelFn"
          [loyaltyTransactions]="accrued"
        ></perx-core-loyalty-transactions-list>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'HISTORY.TRANSATION_HISTORY'| translate }}">
      <perx-core-loyalty-transactions-list
        *ngIf="redeemed"
        [priceLabelFn]="priceLabelFn"
        [loyaltyTransactions]="redeemed"
      ></perx-core-loyalty-transactions-list>
    </mat-tab>
  </mat-tab-group>
</div>
