<div class="section">
  <perx-core-micro-profile [profile$]="profile"></perx-core-micro-profile>
</div>
<div class="section">
  <a [routerLink]="[ 'profile' ]">Profile</a>
  <a [routerLink]="[ 'change-password' ]">Change PIN code</a>
  <a [routerLink]="[ 'profile', 'edit-mobile' ]">Change Mobile Number</a>
  <a [routerLink]="[ 'support' ]">Customer Support</a>
</div>
<div class="section">
  <a [routerLink]="[ 'c', 'terms-and-condition' ]">Terms & Conditions</a>
  <a [routerLink]="[ 'c', 'privacy-policy' ]">Privacy Policy</a>
  <a [routerLink]="[ 'c', 'faq' ]">FAQ</a>
</div>
<div class="section">
  <span (click)="logout()">Log Out</span>
</div>
