<header class="page-header full-with">
  <mat-form-field class="pagetitle-input" floatLabel="never">
    <input [formControl]="form.get('name')" matInput type="text" placeholder="Enter title here">
    <mat-error *ngIf="form.get('name').hasError('required')">Required field</mat-error>
    <mat-error *ngIf="form.get('name').hasError('minlength')">Min length 1</mat-error>
    <mat-error *ngIf="form.get('name').hasError('maxlength')">Max length 60</mat-error>
  </mat-form-field>
  <div class="btn-group">
    <cl-button classList="secondary" (click)="cancel()">Cancel</cl-button>
    <cl-button classList="primary cta cta-save" (click)="save()">Save</cl-button>
  </div>
</header>
<section class="content centered">
  <!--Reward Info-->
  <mat-expansion-panel class="card" expanded>
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title">
        Reward Info
      </h2>
    </mat-expansion-panel-header>
    <div class="card-content">
      <cl-reward-info-form-group
        [formGroup]="form.get('rewardInfo')"
        [config]="config"
        [currency]="reward?.currency"
      >
      </cl-reward-info-form-group>
    </div>
  </mat-expansion-panel>

  <!--Reward Loyalty-->
  <mat-expansion-panel class="card" expanded
    *ngIf="loyalties?.length">
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title">
        Loyalty (β)
      </h2>
    </mat-expansion-panel-header>
    <div class="card-content">
      <cl-reward-loyalty-form-group [loyalties]="loyalties"
        [form]="rewardLoyaltyForm">
      </cl-reward-loyalty-form-group>
    </div>
  </mat-expansion-panel>

  <!--Merchant Info-->
  <mat-expansion-panel class="card" expanded>
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title">
        Merchant Info
      </h2>
    </mat-expansion-panel-header>
    <div class="card-content">
      <cl-reward-merchant-card (createMerchant)="openDialogCreateMerchant()"
        (selectMerchant)="openDialogSelectMerchant()">
      </cl-reward-merchant-card>
      <cl-reward-merchant-item *ngIf="selectedMerchant" [merchant]="selectedMerchant"
        (deleteMerchant)="deleteMerchant()" [enableActions]="true">
      </cl-reward-merchant-item>
    </div>
  </mat-expansion-panel>
  <!--/ Merchant Info-->
  <!--  Vouchers-->
  <mat-expansion-panel class="card" expanded>
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title">
        Vouchers
      </h2>
    </mat-expansion-panel-header>
    <div class="card-content">
      <cl-reward-voucher-code-form-group [formGroup]="form.get('vouchers.voucherCode')" [form]="form" [config]="config">
      </cl-reward-voucher-code-form-group>
      <div class="card-section">
        <div class="card-header">
          <h2 class="card-title">
            Voucher Validity
          </h2>
        </div>
        <div class="card-content">
          <cl-voucher-validity-form-group [formGroup]="form.get('vouchers.voucherValidity')" [config]="config">
          </cl-voucher-validity-form-group>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <!--/ Vouchers-->
  <!--Limits-->
  <!-- NL hide until backend is available on that front -->
  <!-- <mat-expansion-panel class="card" expanded>
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title">
        Limits
      </h2>
    </mat-expansion-panel-header>
    <div class="card-content">
      <cl-limit-form-group [formGroup]="form.get('limits')" [config]="config"></cl-limit-form-group>
    </div>
  </mat-expansion-panel> -->
</section>
