<header class="page-header full-with">
  <mat-form-field class="pagetitle-input" floatLabel="never">
    <input [formControl]="form.get('name')" matInput type="text" [placeholder]="'ENTER_TITLE_HERE' | translate">
    <mat-error *ngIf="form.get('name').hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
    <mat-error *ngIf="form.get('name').hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 1</mat-error>
    <mat-error *ngIf="form.get('name').hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> 60</mat-error>
  </mat-form-field>
  <div class="btn-group">
    <cl-button classList="secondary" (click)="cancel()"><span translate>BTN_CANCEL</span></cl-button>
    <cl-button classList="primary cta cta-save" (click)="save()"><span translate>BTN_SAVE</span></cl-button>
  </div>
</header>
<section class="content centered">
  <!--Reward Info-->
  <mat-expansion-panel class="card" expanded>
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title" translate>
        REWARD_INFO
      </h2>
    </mat-expansion-panel-header>
    <div class="card-content">
      <cl-reward-info-form-group [formGroup]="form.get('rewardInfo')" [config]="config" [currency]="reward?.currency">
      </cl-reward-info-form-group>
    </div>
  </mat-expansion-panel>

  <!--Reward Loyalty-->
  <mat-expansion-panel class="card" expanded
    *ngIf="loyalties?.length">
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title" translate>
        LOYALTY
      </h2>
    </mat-expansion-panel-header>
    <div class="card-content">
      <cl-reward-loyalty-form-group [loyalties]="loyalties"
        [form]="rewardLoyaltyForm">
      </cl-reward-loyalty-form-group>
    </div>
  </mat-expansion-panel>

  <!--Merchant Info-->
  <mat-expansion-panel class="card" expanded>
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title" translate>
        MERCHANT_INFO
      </h2>
    </mat-expansion-panel-header>
    <div class="card-content">
      <cl-reward-merchant-card (createMerchant)="openDialogCreateMerchant()"
        (selectMerchant)="openDialogSelectMerchant()">
      </cl-reward-merchant-card>
      <cl-reward-merchant-item *ngIf="selectedMerchant" [merchant]="selectedMerchant"
        (deleteMerchant)="deleteMerchant()" [enableActions]="true">
      </cl-reward-merchant-item>
    </div>
  </mat-expansion-panel>
  <!--/ Merchant Info-->
  <!--  Vouchers-->
  <mat-expansion-panel class="card" expanded>
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title" translate>
        VOUCHERS
      </h2>
    </mat-expansion-panel-header>
    <div class="card-content">
      <cl-reward-voucher-code-form-group [formGroup]="form.get('vouchers.voucherCode')" [form]="form" [config]="config">
      </cl-reward-voucher-code-form-group>
      <div class="card-section">
        <div class="card-header">
          <h2 class="card-title" translate>
            VOUCHER_VALIDITY
          </h2>
        </div>
        <div class="card-content">
          <cl-voucher-validity-form-group [formGroup]="form.get('vouchers.voucherValidity')" [config]="config">
          </cl-voucher-validity-form-group>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <!--/ Vouchers-->
  <!--Limits-->
  <mat-expansion-panel class="card" expanded>
    <mat-expansion-panel-header class="card-header">
      <h2 class="card-title" translate>
        LIMITS
      </h2>
    </mat-expansion-panel-header>
    <div class="card-content">
      <cl-limit-form-group [formGroup]="form.get('limits')" [config]="config"></cl-limit-form-group>
    </div>
  </mat-expansion-panel>
</section>
