<div class="table-wrap">
  <table class="table" mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="logo">
      <th mat-header-cell *matHeaderCellDef class="column-thumbnail"><span class="sr-only" translate>MERCHANT_LOGO</span></th>
      <td mat-cell *matCellDef="let element" class="column-thumbnail">
        <div class="thumbnail">
          <ng-container *ngIf="element?.properties?.logo_image" (click)="clickDetailItem(element)">
            <img [src]="element?.properties?.logo_image" alt="Merchant logo">
          </ng-container>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name" class="column-featured"><span translate>MERCHANT_NAME</span></th>
      <td mat-cell *matCellDef="let element" class="column-featured">
        <p class="merchant-name">
          <span>{{element?.name}}</span>
        </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="created_at" class="column-date"><span translate>DATE_CREATED</span></th>
      <td mat-cell *matCellDef="let element" class="column-date">
        <time datetime="">
          <span>{{element?.createdAt | date: DATE_FORMAT}}</span>
        </time>
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef class="column-phone" translate>CONTACT_NUMBER</th>
      <td mat-cell *matCellDef="let element" class="column-phone">
        <p class="merchant-phone">
          <ng-container *ngIf="element.properties">
            <a [href]="'tel:' + element.properties.country_code + element.properties.phone">{{element.properties.country_code + element.properties.phone}}</a>
          </ng-container>
        </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="branches">
      <th mat-header-cell *matHeaderCellDef class="column-branches" translate>BRANCHES</th>
      <td mat-cell *matCellDef="let element" class="column-branches">
        <p class="merchant-branches">
          <span>
            {{element?.branches?.length}}
          </span>
        </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef class="column-menu"></th>
      <td mat-cell *matCellDef="let element" class="column-menu">
        <button mat-icon-button [matMenuTriggerFor]="itemMenu" aria-label="Merchant menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #itemMenu="matMenu">
          <button mat-menu-item (click)="editItem(element)" translate>BTN_EDIT</button>
          <button mat-menu-item (click)="duplicateItem(element)" translate>BTN_DUPLICATE</button>
          <button mat-menu-item (click)="deleteItem(element)" translate>BTN_DELETE</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.table-row]="selectable"
      [class.active]="isSelected(row) && selectable" (click)="selectItem(row)"></tr>
  </table>

</div>
