<perx-core-leaderboard-cta *ngIf="campaignId" [campaignId]="campaignId"></perx-core-leaderboard-cta>
<div class="page" infiniteScroll (scrolled)="onScroll()" [scrollWindow]="false">
  <hangseng-stamp-card-note [description]="stampNoteDescription"
    [buttonLabel]="stampNoteButtonLabel" (onPress)="onReadMore()" *ngIf="stampNoteDescription">
  </hangseng-stamp-card-note>
  <div [ngClass]="{'has-enroll': !isEnrolled() || completedStamps}">
    <div class="card-container">
      <mat-card class="stamps-collection">
        <mat-card-content>
          <mat-chip disableRipple *ngIf="!isEnrolled()">Enrollment required</mat-chip>
          <h1 *ngIf="title">{{title}}</h1>
          <p class="subtitle" *ngIf="subTitle" [innerHtml]="subTitle"></p>
          <div class="subtitle-spacer" *ngIf="!subTitle"></div>
          <div *ngIf="config?.body" [innerHtml]="config?.body.text | safeHtml"></div>
          <div class="custom-field-container" *ngIf="feAction">
            <img src="/assets/icons/missionSubmission4.svg" alt="" />
            <p class="field-text">{{feAction}}</p>
          </div>
          <div class="custom-field-container" *ngIf="feReward">
            <img src="/assets/icons/missionReward1.svg" alt="" />
            <p class="field-text">{{feReward}}</p>
          </div>
          <div class="custom-field-container" *ngIf="feExpiryDate">
            <img src="/assets/icons/mission-end-date.svg" alt="" />
            <p class="field-text">{{"STAMP_CAMPAIGNS.ENDS_ON" | translate}} {{feExpiryDate}}</p>
          </div>
          <mat-divider *ngIf="title"></mat-divider>
        </mat-card-content>
        <hangseng-stamp-card [isTeamsEnabled]="false"></hangseng-stamp-card>
        <div class="aux-data-container " *ngIf="feData">{{feData}}</div>
      </mat-card>
    </div>
    <div class="card-container">
      <mat-card class="stamps-how-it-works mat-elevation-z0">
        <mat-card-subtitle>{{"STAMP_CAMPAIGNS.TNC_HEADER" | translate}}</mat-card-subtitle>
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <p [innerHTML]="campaign?.termsAndConditions | safeHtml"></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<hangseng-action-button-overlay *ngIf="!isEnrolled()" (onPress)="onEnableEnrollment()"
  [label]="'GAME_PAGE.ENROL_TEXT' | translate" buttonLabel="Enrol" [imageSrc]="'/assets/icons/lock.svg'">
</hangseng-action-button-overlay>>
<hangseng-action-button-overlay *ngIf="isEnrolled() && !completedStamps" (onPress)="onExternalNavigate()"
  buttonLabel="Act now" [compactMode]="true">
</hangseng-action-button-overlay>
<hangseng-action-button-overlay *ngIf="completedStamps" [label]="'STAMP_CAMPAIGN.STAMPS_COMPLETED' | translate"
  buttonLabel="View your rewards" [imageSrc]="'/assets/icons/mission-completed.svg'" [routerLink]="['/wallet']">
</hangseng-action-button-overlay>
<!-- <hangseng-enroll-game-button *ngIf="enableEnrollment" (onEnroll)="onEnableEnrollment()"></hangseng-enroll-game-button>
<hangseng-completed-stamps *ngIf="completedStamps"></hangseng-completed-stamps> -->
