<div class="main-container">
  <img class="logo" src="assets/logo.png">

  <div class="logo-title">
    Diabetes Loyality Program
  </div>

  <div class="container">
    <div class="content">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width__input">
          <mat-label>{{"EMAIL_ADDRESS"|translate}}</mat-label>
          <input matInput placeholder='{{"EMAIL_ADDRESS"|translate}}' formControlName="email" required>
          <mat-error *ngIf="loginForm.hasError('email')">
              {{"EMAIL_ADDRESS_IS"|translate}} <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button mat-flat-button class="full-width__button btn-blue">{{"NEXT"|translate}}</button>
      </form>
    </div>
  </div>
</div>
