<div class="main-container">
  <a routerLink="/">
    <img class="logo" src="assets/logo.png">
  </a>
  <div class="logo-title">
    Diabetes Loyalty Program
  </div>
  <div class="container">
    <div class="content">
      <h2 translate>RESET_PW_PAGE.RESET_PASSWORD</h2>
      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field
          color="primary"
          class="full-width__input"
        >
          <mat-label translate>RESET_PW_PAGE.NEW_PASSWORD</mat-label>
          <input
            matInput
            placeholder="{{'RESET_PW_PAGE.PASSWORD' | translate}}"
            formControlName="password"
            type="password"
            required
          >
          <mat-error *ngIf="resetPasswordForm.hasError('password')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field
          color="primary"
          class="full-width__input"
        >
          <mat-label translate>RESET_PW_PAGE.CONFIRM_PASSWORD</mat-label>
          <input
            matInput
            placeholder="{{'RESET_PW_PAGE.CONFIRM_PASSWORD' | translate}}"
            formControlName="confirmPassword"
            type="password"
            required
          >
          <mat-error *ngIf="resetPasswordForm.hasError('confirmPassword')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button
          [disabled]="!resetPasswordForm.valid"
          mat-flat-button
          type="submit"
          class="full-width__button btn-blue"
        >
          {{ 'SUBMIT_BUTTON' | translate}}
        </button>
      </form>
    </div>
  </div>
</div>
