@import "variables";

.engagement-item {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  width: 100%;
  padding: ($vertical-padding * 0.5) ($horizontal-padding * 0.5);
  border-radius: $border-radius-lg;
  background-color: $white;

  &-img-container {
    position: relative;
    height: 10rem;
    width: 10rem;
    overflow: hidden;
    flex-shrink: 0;
    background: $gray;
  }

  &-img {
    height: 100%;
    width: auto;
    object-fit: cover;
  }

  &-info {
    flex: 1;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0 0 0 ($horizontal-padding * 0.5);
    padding: 0;
  }

  &-type {
    @include typo-overline;

    color: $base-font-color;
    text-transform: uppercase;
  }

  &-name {
    @include typo-body2;

    flex: 1;
    margin-top: 0.4rem;
    color: $base-font-color;
    white-space: initial;
  }

  &-date {
    @include typo-caption;

    color: $base-font-color;
  }

  &-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: -($horizontal-padding  * 0.5);
    margin-bottom: -($vertical-padding * 0.5);

    .btn-icon {
      min-width: auto;
      width: ($horizontal-padding * 1.5);
      height: ($vertical-padding * 1.5);
      padding: 0;
    }
  }
}
