<div class="main-container">
  <div class="left-block">
    <div class="icon-wrapper">
      <img class="icon" src="assets/Loyalty SH Star.svg" alt="">
      <span class="point-balance">{{pointsBalance}}</span>
    </div>
    <div class="membership-tier">Lvl {{membershipTierName}}</div>
  </div>
  <div class="right-block">
    <div class="expiring-point">{{expiringPoints?.point}} stars expiring on {{expiringPoints?.expireDate}}</div>
    <div class="next-tier">{{nextTierPointsDiff}} starts to next level</div>
  </div>
</div>