:host {
  font-family: Lato, Helvetica, sans-serif;
  font-style: normal;
}
h1 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}
p {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.full-page-container-white {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.congrats {
  width: 100%;
  text-align: center;
  max-height: calc(100vh - 210px);
  img {
    margin: auto;
    line-height: calc(100vh - 210px);
  }
}
