:host {
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
}
h1 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}
p {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}