<div class="page-header">
  <h1>Campaign Name</h1>
  <div class="btn-group">
    <cl-button classList="invert">Cancel</cl-button>
    <cl-button classList="third">Save as a draft</cl-button>
    <cl-button classList="primary">Next</cl-button>
  </div>
</div>

<mat-horizontal-stepper labelPosition="bottom" #stepper>
  <mat-step>
    <ng-template matStepLabel>Select template</ng-template>
    <cl-new-campaign-select-template-page></cl-new-campaign-select-template-page>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Rewards & Limits</ng-template>
    <cl-new-campaign-rewards-page></cl-new-campaign-rewards-page>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Campaign Details</ng-template>
    <cl-new-campaign-detail-page></cl-new-campaign-detail-page>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
    <cl-new-campaign-review-page></cl-new-campaign-review-page>
  </mat-step>
</mat-horizontal-stepper>
