<div class="upload-wrap"
  [class.invalid]="isRequired || message"
  [class.field-lock]="lock"
  [ngClass]="classList">

<!--  <input #fileInput type="file"-->
<!--    *ngIf="!imgURL"-->
<!--    class="upload-input"-->
<!--    accept='image/*'-->
<!--    (change)="preview(fileInput.files)" />-->

  <div class="image-wrap"
       [ngClass]="{active: imgURL === _selectGraphic}"
       (click)="setActive()"
       *ngIf="imgURL"
  >
    <img class="image" [src]="imgURL" alt="upload">
    <div id="diagClickable" (click)="onShowDialog($event)">
      <img *ngIf="!previewOpen" src="https://cdn.uat.whistler.perxtech.io/dev1/global/assets/preview/showmore.svg">
      <img *ngIf="previewOpen" src="https://cdn.uat.whistler.perxtech.io/dev1/global/assets/preview/showless.svg">
    </div>
    <button class="image-clear" (click)="clear()" [attr.aria-label]="btnLabel">
      <mat-icon>edit</mat-icon>
    </button>
  </div>


  <div class="upload-wrap-btn" *ngIf="!imgURL">
    <button class="upload-btn" (click)="multiUploadDialog()" [attr.aria-label]="btnLabel">
      <ng-content></ng-content>
      <span>{{btnLabel | translate}}</span>
    </button>
  </div>
  <div class="upload-error-wrap">
    <p class="upload-error" *ngIf="isRequired">Required field</p>
    <p class="upload-error" *ngIf="message">{{message}}</p>
  </div>
  <div class="upload-type-wrap" *ngIf="!message && !isRequired">
    <span class="upload-type">
      {{placeholder | translate}}
    </span>
  </div>
</div>
