@import "variables";

.icon {
  display: block;
  background-color: rgba(255, 255, 255, 0.51);
  width: 18px;
  height: 18px;
  padding: 0 0 0 ($horizontal-padding * 0.5);
  box-sizing: content-box;

  &.full-with {
    height: 100% !important;
    width: auto !important;
  }

  &.logout {
    height: ($vertical-padding * 0.75);
    mask: url("assets/images/icons/icon-logout.svg") no-repeat 50% 50%;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.active {
  .icon {
    background-color: $white;
  }
}
