.toolbar {
  display: flex;
  height: 6rem;
  justify-content: space-between;
  z-index: 800;
  color: #fff;
  background: #202c46;
  box-shadow: 0 4px 4px rgba(131, 126, 126, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  font-size: 2rem;
  line-height: 1.9rem;
}

.main-app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.game-container {
  flex: 1;
  width: 100%;
  overflow: scroll;
}

.actions-container {
  display: flex;
  background: #202c46;
  position: relative;
  width: 100%;
  height: 6rem;
  padding: 1rem 1.2rem;
  box-sizing: border-box;
  text-align: center;

  button {
    width: 100%;
    max-width: 60rem;
    margin: auto;
    height: 100%;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
  }
}
