<div class="container">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="My Rewards">
      <div class="wrapper">
        <h1>My Rewards</h1>
        <perx-core-vouchers [data]="issuedVouchers" [showExpireDate]="true" [mapping]="mapping"
          [showRedeemedDate]="false" (tapped)="openDetail($event)">
        </perx-core-vouchers>
      </div>
    </mat-tab>
    <mat-tab label="History">
      <div class="wrapper">
        <h1>My History</h1>
        <perx-core-vouchers [data]="redeemedVouchers"
                            [showExpireDate]="false"
                            [mapping]="mapping"
                            [showRedeemedDate]="true">
        </perx-core-vouchers>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
