<div class="main-container">
	<h2 i18n="@@static-reset-password">Reset your password</h2>
	<form [formGroup]="resetPasswordForm" (ngSubmit)="onUpdatePassword()">
		<mat-form-field color="primary" class="full-width__input">
			<mat-label i18n="@@static-new-password">New password</mat-label>
			<input matInput i18n-placeholder="@@static-password" placeholder="Password" formControlName="password" type="password" required>
			<mat-error *ngIf="resetPasswordForm.hasError('password')">
				Password is <strong>required</strong>
			</mat-error>
		</mat-form-field>
		<mat-form-field color="primary" class="full-width__input">
			<mat-label i18n="@@static-confirm-password">Confirm new Password</mat-label>
			<input matInput i18n-placeholder="@@static-confirm-password" placeholder="Confirm Password" formControlName="confirmPassword" type="password" required>
			<mat-error *ngIf="resetPasswordForm.hasError('confirmPassword')">
				Password is <strong>required</strong>
			</mat-error>
		</mat-form-field>
		<button [disabled]="!resetPasswordForm.valid" i18n="@@static-get-opt" mat-flat-button type="submit" class="full-width__button">Update password</button>
	</form>
</div>