<div class="main-container">
	<h2 translate>RESET_PW_PAGE.RESET_PASSWORD</h2>
	<form [formGroup]="resetPasswordForm" (ngSubmit)="onUpdatePassword()">
		<mat-form-field color="primary" class="full-width__input">
			<mat-label translate>RESET_PW_PAGE.NEW_PASSWORD</mat-label>
			<input matInput placeholder="{{'RESET_PW_PAGE.PASSWORD' | translate}}" placeholder="Password" formControlName="password" type="password" required>
			<mat-error *ngIf="resetPasswordForm.hasError('password')">
				{{'RESET_PW_PAGE.PASSWORD_IS' | translate}}
			</mat-error>
		</mat-form-field>
		<mat-form-field color="primary" class="full-width__input">
			<mat-label translate>RESET_PW_PAGE.CONFIRM_PASSWORD</mat-label>
			<input matInput placeholder="{{'RESET_PW_PAGE.CONFIRM_PASSWORD' | translate}}" placeholder="Confirm Password" formControlName="confirmPassword" type="password" required>
			<mat-error *ngIf="resetPasswordForm.hasError('confirmPassword')">
				{{'RESET_PW_PAGE.CONFIRM_PASSWORD_IS' | translate}}
			</mat-error>
		</mat-form-field>
		<button [disabled]="!resetPasswordForm.valid" mat-flat-button type="submit" class="full-width__button">{{ 'RESET_PW_PAGE.SUBMIT_BUTTON' | translate}}</button>
	</form>
</div>
