<aside class="dialog" role="dialog" aria-labelledby="dialogTitle-createMerchant">
  <header class="dialog-header-wrap">
    <h2 class="dialog-title">
      <span *ngIf="data; else creatTitle" id="dialogTitle-createMerchant"><span translate>EDIT_MERCHANT</span></span>
      <ng-template #creatTitle id="dialogTitle-createMerchant">
        <span translate>CREATE_MERCHANT</span>
      </ng-template>
    </h2>
    <button class="dialog-closed btn-transparent" [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <mat-dialog-content>
    <div class="dialog-content">
      <cl-create-merchant-form [formMerchant]="formMerchant" [settings]="formConfig"
        (removeBranch)="removeBranches($event)">
      </cl-create-merchant-form>
    </div>
  </mat-dialog-content>
  <footer class="dialog-actions">

    <cl-button [classList]="'secondary'" class="actions-close" (click)="close()" [disableRipple]="true">
      <span>Cancel</span>
    </cl-button>

    <cl-button [classList]="'primary'" (click)="addMerchant()" [disableRipple]="true">
      <span *ngIf="data; else editBtnText">Save Merchant</span>
      <ng-template #editBtnText>
        <span>Add Merchant</span>
      </ng-template>
    </cl-button>
  </footer>
</aside>
