<div class="dialog-header-wrap">
  <p class="dialog-content-title">
    <span *ngIf="data; else creatTitle">Edit Merchant</span>
    <ng-template #creatTitle>
      <span>Create Merchant</span>
    </ng-template>
  </p>
  <button class="dialog-closed btn-transparent" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div class="dialog-content">
    <cl-create-merchant-form [formMerchant]="formMerchant" [settings]="formConfig"></cl-create-merchant-form>
  </div>
</mat-dialog-content>
<div class="dialog-actions"
>

  <cl-button [classList]="'tertiary'"
             class="actions-close"
             (click)="close()"
             [disableRipple]="true"
  >
      <span>
        Cancel
      </span>
  </cl-button>

  <cl-button [classList]="'primary'"
             (click)="addMerchant()"
             [disableRipple]="true"
  >
      <span *ngIf="data; else editBtnText">
        Save Merchant
      </span>
    <ng-template #editBtnText>
      <span>
        Add Merchant
      </span>
    </ng-template>
  </cl-button>
</div>

