<div class="dialog-header-wrap">
  <p class="dialog-content-title">
    Create Merchant
  </p>
  <button class="dialog-closed btn-transparent" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div class="dialog-content">
    <cl-create-merchant-form [formMerchant]="formMerchant" [settings]="formConfig"></cl-create-merchant-form>
  </div>
</mat-dialog-content>
<div class="dialog-actions"
>

  <cl-button [classList]="'tertiary'"
             class="actions-close"
             (click)="close()"
             [disableRipple]="true"
  >
      <span>
        Cancel
      </span>
  </cl-button>

  <cl-button [classList]="'primary'"
             (click)="addMerchant()"
             [disableRipple]="true"
  >
      <span>
        Add Merchant
      </span>
  </cl-button>
</div>

