@import '../../styles.scss';

.main-container {
  width: 100%;
  height: 100%;
  background: $main-blue-theme;
  background-size: cover;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow: scroll;

  img {
    margin-top: 7.2rem;
    margin-bottom: 0.8rem;
    flex-shrink: 0;
  }

  .translate-switch {
    color: white;
    position: fixed;
    top: 3rem;
    right: 2rem;

    ::ng-deep {
      mat-form-field {
        width: 4rem;
      }

      .mat-select-value {
        font-size: 1.5rem;
        color: white;
      }

      .mat-select-arrow {
        color: white;
      }

      .mat-form-field-underline {
        display: none;
      }
    }
  }

  .logo-title {
    font-size: 2.2rem;
    color: white;
    text-align: center;
    font-weight: 900;
    font-style: normal;
    margin-bottom: 3.8rem;
  }

  .error-message-container {
    width: 80%;
    height: 2rem;
    max-width: 80rem;
    background: $error-message-container-color;
    padding: 1rem 2.1rem 1rem 2.1rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 900;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 1.6rem;

    img {
      margin: 0;
    }
  }

  .content-container {
    width: 80%;
    max-width: 80rem;
    padding: 2.1rem;
    background: white;
    border-radius: 0.8rem;
    margin: 1.2rem 1.5rem 1.5rem 1.5rem;

    .main-heading {
      font-weight: 900;
      font-size: 3.2rem;
      color: $heading-font-color;
    }

    .subtitle {
      font-weight: normal;
      font-size: 1.2rem;
      margin-top: 1rem;
      color: $heading-font-color;

      .link {
        color: $main-blue-theme;
      }
    }

    form {
      margin-top: 0;
    }

    .full-width__button {
      width: 100%;
      background-color: $main-blue-theme;
      color: white;
      margin-top: 3rem;
    }

    .full-width__input {
      width: 100%;
      margin-top: 1rem;
    }

    .bottom-text,
    .forgot-text {
      color: $main-blue-theme;
      text-align: center;
      margin-top: 2rem;
    }

    .forgot-text {
      text-align: start;
      margin-top: 0;
    }
  }
}
