.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1.5rem 3rem;
}

:host {
  flex-grow: 1;
  display: flex;
}

.disclamair {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
