.page {
  height: calc(100% - 4.8rem);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2.4rem 1.5rem;
}

.question {
  margin-bottom: 2.4rem;
  text-align: center;
  line-height: 2.3rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.015rem;
}

.mat-raised-button {
  margin-bottom: 1.6rem;
}
