<div class="page">
  <div class="question">
    Hello, how can we help?
  </div>
  <div class="customer-care">
    <h3>Customer care</h3>
    <p>
      Contact No.: 0917-1117587 and 8921-0888
    </p>
    <p>
      Email: <a href="mailto:care@plus.com.ph">care@plus.com.ph</a>
    </p>
    <p>
      Operating Hours: 9:00AM to 4:00PM (Monday to Saturday)
    </p>
  </div>
  <a href="mailto:care@plus.com.ph">
    <button class="email-width" mat-raised-button color="primary">
      Email Us
    </button>
  </a>
  <button mat-raised-button color="primary" (click)="openContacts()">
    Call Us
  </button>
</div>