.page {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2.4rem 1.5rem;
}

.question {
  text-align: center;
  line-height: 2.3rem;
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.mat-raised-button {
  margin-bottom: 1.6rem;
  background-color: #186DE1;

  a {
    color: #fff;
    text-decoration: none;
  }
}
