<div class="image-wrap"
     [ngClass]="{active: img?.id === selected?.id}"
     (click)="handlerClick()"
>
  <img class="image" [src]="upload? img?.img  : apiCdnPath + img?.img" [alt]="img?.title">
  <div id="diagClickable" *ngIf="diagBox" (click)="onShowDialog($event)">
    <img *ngIf="!previewOpen" src="https://cdn.uat.whistler.perxtech.io/dev1/global/assets/preview/showmore.svg">
    <img *ngIf="previewOpen" src="https://cdn.uat.whistler.perxtech.io/dev1/global/assets/preview/showless.svg">
  </div>
  <button *ngIf="upload" class="image-clear" (click)="handlerClear()">
    <mat-icon>edit</mat-icon>
  </button>
</div>
