<aside class="dialog loyalty" role="dialog" aria-labelledby="dialogTitle-tierSetup">
  <header class="dialog-header-wrap">
    <h2 class="dialog-title"
        id="dialogTitle-tierSetup">{{(data?.rule ? 'LOYALTY_FEATURE.EDIT_RULE' : 'LOYALTY_FEATURE.ADD_RULE') | translate}}</h2>
    <button class="dialog-closed cs-btn-transparent" [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <div class="dialog-content" [formGroup]="form">
    <mat-form-field>
      <input type="text" matInput formControlName="name" placeholder="Rule name">
      <mat-error *ngIf="name.hasError('required') && name.touched">{{'ERROR_REQUIRED' | translate}}</mat-error>
      <mat-error *ngIf="name.hasError('minlength') && name.touched">{{'ERROR_MIN_LENGTH' | translate}} 1</mat-error>
      <mat-error *ngIf="name.hasError('maxlength') && name.touched">{{'ERROR_MAX_LENGTH' | translate}} 60</mat-error>
      <mat-error *ngIf="name.hasError('title') && name.touched">{{titleError}}</mat-error>
    </mat-form-field>

    <label class="loyalty-label">{{'LOYALTY_FEATURE.TITLE_CONDITIONS' | translate}}</label>
    <cl-conditions-builder *ngIf="conditions"
      [formControl]="conditions"
      [config]="data?.config">
    </cl-conditions-builder>

    <!--results-->
    <label class="loyalty-label">THEN</label>
    <ng-container>
      <div class="card-section card-content">
        <mat-form-field>
          <mat-select [formControl]="result.get('applierType')" (valueChange)="updateResult($event)">
            <ng-container *ngFor="let option of data?.config?.rulePointsType">
              <mat-option [value]="option?.value">{{option?.title | translate}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
          <ng-container clDynamicFormGroup
                        [componentMap]="resultsComponentsMap"
                        [group]="result"
                        [type]="result.get('applierType')?.value"
                        [config]="data?.config">
          </ng-container>
      </div>
    </ng-container>
  </div>
  <footer class="dialog-actions">
    <cs-button classList="tertiary"
               class="actions-close"
               [disable]="loading"
               (click)="close()"
               [disableRipple]="true">
        <span>
          {{'BTN_CANCEL' | translate}}
        </span>
    </cs-button>

    <cs-button classList="primary"
               [disable]="loading"
               (click)="apply()">
        <span>
          {{(data?.rule ? 'BTN_APPLY' : 'BTN_SAVE') | translate}}
        </span>
    </cs-button>
  </footer>
</aside>


