/* You can add global styles to this file, and also import other style files */
@import "./custom-theme.scss";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

$main-blue-theme: #0F69AF;
$inputfield-background:#F8F8FC;
$error-message-container-color: #FFC832;
$heading-font-color: #1B1B25;
$subheading-light-gray-color: #494953;
$home-page-background-color: #E5E5E5;
$bottom-bar-text-color: #93939D;

html {
  font-size: 62.5%;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.btn-blue {
  background: #0f69af;
  color: #ffffff;
}

.btn-hollow-white {
  border: 0.1rem solid #0f69af !important;
  background-color: #ffffff;
  color: #0f69af;
}

.full-width__button {
  width: 100%;
}

.main-container {
  height: 100%;
  overflow-y: scroll;

  > a {
    display: flex;
    justify-content: center;

    ~ img {
      display: block;
    }
  }
}

.logo-title {
  font-style: normal;
  font-weight: 900;
  font-size: 2.2rem;
  padding: 1.5rem 0 1rem 0;
  color: #fff;
  text-align: center;
}

.content {
  margin: 0 auto auto auto;
  padding: 3rem 1.5rem;
  background-color: #fff;
  border-radius: 0.8rem;
  max-width: 80rem;
}

.mat-snack-bar-container {
  background-color: #ffc832;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: auto !important;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  align-items: normal !important;
  padding: 1.5rem !important;
}

.scanner {
  max-width: 60rem;
  max-height: 60rem;
  margin: 0 auto;

  video {
    min-height: 40rem;
  }
}
