.container {
  padding: 2.4rem 1.6rem 0;

  .save-button,
  .email-field {
    width: 100%;
  }

  .save-button {
    height: 4rem;
    letter-spacing: 0.75px;
    &:disabled {
      opacity: 0.45;
    }
  }

  .email-field {
    margin-bottom: 2.4rem;
  }
}
