<div class="container">
  <form [formGroup]="emailChangeForm" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field appearance="fill" class="email-field">
      <mat-label>
        Enter new email
      </mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error *ngIf="email?.hasError('required')">
        New email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="emailChangeForm.get('email')">
        New email is <strong>invalid</strong>
      </mat-error>
    </mat-form-field>
    <button [disabled]="!emailChangeForm.valid" mat-flat-button type="submit" class="save-button">
      Save
    </button>
  </form>
</div>