<div class="container">
  <form
    [formGroup]="streetAddressChangeForm"
    (ngSubmit)="onSubmit()"
    class="form"
  >
    <mat-form-field
      appearance="fill"
      class="full-width__input"
    >
      <mat-label>
        Enter new street address
      </mat-label>
      <input
        matInput
        placeholder="Enter new street address"
        formControlName="newStreetAddress"
      >
      <mat-error *ngIf="newStreetAddress && newStreetAddress.hasError('required')">
        New street address is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button
      mat-flat-button
      type="submit"
      class="full-width__button"
    >
      Save
    </button>
  </form>
</div>
