$main-blue-theme: #0088D1;
$error-message-container-color: #FFC832;
$heading-font-color: #1B1B25;

.main-container {
  width: 100%;
  height: 100%;
  background: black;
  background-size: cover;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow: scroll;

  img {
    float: none;
    margin: 5.2rem auto;
    margin-bottom: 0.8rem;
    display: block;
  }

  .error-message-container {
    width: 80%;
    height: 2rem;
    max-width: 80rem;
    background: $error-message-container-color;
    padding: 1rem 2.1rem 1rem 2.1rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 900;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 1.6rem;

    img {
      margin: 0;
    }
  }

  .content-container {
    width: 80%;
    max-width: 80rem;
    padding: 2.1rem;
    background: white;
    border-radius: 0.8rem;
    margin: 1.2rem 1.5rem 1.5rem 1.5rem;

    .main-heading {
      font-weight: 900;
      font-size: 3.2rem;
      color: $heading-font-color;
    }

    .subtitle {
      font-weight: normal;
      font-size: 1.2rem;
      margin-top: 1rem;
      color: $heading-font-color;

      .link {
        color: red;
      }
    }

    form {
      margin-top: 1rem;

      .accept-terms {
        margin: 1rem 0 2rem 0;
      }

      .checkbox-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin: 1rem 0;

        .wrap-checkbox-text {
          margin-left: 0.8rem;

          .terms {
            color: red;
          }
        }
      }
    }

    .full-width__button {
      width: 100%;
      background-color: $main-blue-theme !important;
      color: white;
      margin-top: 3rem;
    }

    .full-width__input {
      width: 100%;
      margin-top: 0;
    }
  }
}
