.transparent-backdrop {
  background: rgba(255, 255, 255, 0);
}

:host {
  display: flex;
}

#expand-arrow {
  position: absolute;

  svg {
    position: absolute;
    right: 7px;
    top: 17px;
  }
}

#snake-pic-container {
  position: relative;
  ////might not be needed styles
  //margin: 0;
  //padding: 0;
  //height: 100%;
  //box-sizing: border-box;
}

#snake-svg {
  position: relative;
  mix-blend-mode: multiply;
}

//#bg-snake-face {
//  position: absolute;
//  top: 0;
//}

#snake-bg-container {
  position: absolute;
}
//#snake-shape {
//  fill: #4d8cff;
//}
