<mat-form-field class="date-picker" appearance="outline">
  <input matInput
         aria-label="Choose a date"
         placeholder="Choose a date"
         class="date-picker-toggle"
         [class.disable]="disabledState"
         [satDatepicker]="picker"
         [formControl]="control"
         (click)="picker.open()"
         readonly>
  <sat-datepicker #picker [rangeMode]="true"
                  orderPeriodLabel="month">
  </sat-datepicker>
  <sat-datepicker-toggle matSuffix
                         [for]="picker"
                         class="date-picker-toggle"
                         [class.disable]="disabledState">

  </sat-datepicker-toggle>
</mat-form-field>
