.date-picker {
  width: 100%;
  font-size: 1.4rem;
  display: block;

  &.full-with {
    max-width: none;
  }

  &-toggle {
    outline: none;
    cursor: pointer;

    &.disable {
      cursor: default;
    }
  }

  &-button {
    height: 2.1rem !important;
    width: 2.1rem !important;
  }
}
