.container {

    .customer-info {
      text-align: center;
      padding: 3.5rem 2.5rem 3rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      background: #202C46;
      color: #FFFFFF;
      margin: -2.5rem -2.5rem 2.5rem -2.5rem;
      border-radius: 16px 16px 0px 0px;
      
      h2, p {
        margin: 0;
        font-size: 16px;
        line-height: 19px;
        font-weight: 900;
      }
  
      small {
        font-size: 1.4rem;
        margin-top: .8rem;
      }

      .user-details {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: start;
        padding: 2rem 0 1rem 0;
      }
    }

    h1 {
      font-weight: 900;
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: var(--primary);
        font-size: 1.4rem;
        margin: 4rem 0;
        img {
          width: 7rem;
          height: 7rem;
          margin-bottom: .8rem;
        }
      }
  }
