<div class="login-form-wrap">
  <div class="login-form-title">
    Log in
  </div>

  <form class="login-form"
        [formGroup]="formLogin"
        (ngSubmit)="onSubmit()"
        id="login-form"
  >
    <div class="login-form-control">
      <mat-form-field>
        <input matInput formControlName="tenant_id" placeholder="Account ID">
        <mat-error *ngIf="accountId.hasError('required')">Required field</mat-error>
        <mat-error *ngIf="accountId.hasError('minlength')">Min length 1</mat-error>
        <mat-error *ngIf="accountId.hasError('pattern')">Only numbers</mat-error>
      </mat-form-field>
    </div>
    <div class="login-form-control">
      <mat-form-field>
        <input matInput formControlName="username" placeholder="Username">
        <mat-error *ngIf="username.hasError('required')">Required field</mat-error>
      </mat-form-field>
    </div>
    <div class="login-form-control">
      <mat-form-field>
        <input matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="password.hasError('required')">Required field</mat-error>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </div>

    <div class="login-form-action">
      <cl-button [formId]="'login-form'"
                 [classList]="'w-100 primary'"
                 [disable]="formLogin.invalid"
      >
        <span>
          Log in
        </span>
      </cl-button>
    </div>

  </form>
</div>
