<div *ngIf="(itemsSnapping$ | async) as itemsSnapping" class="main-container">
  <h1 class="hide-for-new-ux" *ngIf="ghostItems.length || itemsSnapping.length">Snap Treats</h1>
  <h2 class="hide-for-old-ux" *ngIf="ghostItems.length || itemsSnapping.length">Snap Treats</h2>
  <div [@fadeIn]="itemsSnapping.length" *ngIf="itemsSnapping.length > 0" infiniteScroll [infiniteScrollDistance]="3"
    [infiniteScrollThrottle]="500" [horizontal]="true" (scrolled)="onTaggedItemsScroll()" [alwaysCallback]="true"
    [scrollWindow]="false" class="cards">
    <mat-card *ngFor="let itemSnapping of itemsSnapping" matRipple
      [matRippleDisabled]="itemSnapping?.macaron?.class === 'coming-soon'" (click)="selected(itemSnapping)">
      <div class="featured-image">
        <img mat-card-image
          [src]="itemSnapping.rewardBanner ? itemSnapping.rewardBanner : (itemSnapping.thumbnailUrl ? itemSnapping.thumbnailUrl: '')">
        <div *ngIf="itemSnapping?.macaron as macaron" class="macaron-container">
          <span [ngClass]="macaron.class">{{macaron.label}}</span>
        </div>
      </div>
      <mat-card-content>
        <div class="card-description">
          <h1 class="hide-for-new-ux">{{itemSnapping.name}}</h1>
          <h2 class="hide-for-new-ux" *ngIf="itemSnapping.merchantName">{{itemSnapping.merchantName}}</h2>
          <div class="hide-for-old-ux semi-bold">{{itemSnapping.name}}</div>
          <div class="fine hide-for-old-ux" *ngIf="itemSnapping.merchantName">{{itemSnapping.merchantName}}</div>
          <h4 class="operating-hours fine" *ngIf="showOperatingHours && itemSnapping.operatingHours">{{getOperatingHours(itemSnapping.operatingHours, itemSnapping.type)}}</h4>
        </div>
        <div class="icon">
          <img class="hide-for-old-ux" src="assets/forward-arrow.svg" alt="">
          <img class="hide-for-new-ux" src="assets/forward-arrow_old.svg" alt="">
        </div>
      </mat-card-content>
      <mat-card-footer></mat-card-footer>
    </mat-card>
    <div class="end-spacer"></div>
  </div>
  <ghost-cards class="cards" [@fadeOut]="!ghostItems.length" [ghosts]="ghostItems"></ghost-cards>
</div>
