@import '~@angular/material/theming';
@import "variables";

.dashboard {
  &-welcome {
    margin-bottom: $vertical-padding;

    .lead {
      color: $secondary-font-color;
      margin-top: 0.8rem;
    }
  }

  &-title {
    @include typo-h6;

    margin: $vertical-padding 0 ($vertical-padding * 0.75);
    color: $base-font-color;
  }

  &-explore-cards {
    display: grid;
    grid-gap: ($horizontal-padding * 0.75);
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    margin: ($vertical-padding * 0.75) 0;
  }

  &-insights-card {
    @include mat-elevation(1);

    border-radius: $border-radius-lg;
    background-color: $white;
    box-sizing: border-box;

    &-header {
      border-bottom: 1px solid $border-color;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-end;

      .mat-tab-nav-bar {
        border-color: $border-color;
        margin-bottom: -1px;
        flex-grow: 1;
      }

      .mat-tab-link {
        height: 5.8rem;
      }

      cl-range-date-picker-filter {
        flex-shrink: 0;
        display: block;
        margin: 1rem $horizontal-padding -0.75rem auto;
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .dashboard-insights-card-header .mat-tab-link {
    flex-grow: 1;
    padding: 0 0.4rem;
  }

  .dashboard-insights-card-header cl-range-date-picker-filter {
    margin-right: ($horizontal-padding * 0.5);
  }
}
