@import '~@angular/material/theming';
@import "variables";

.dashboard {
  &-welcome {
    margin-bottom: $vertical-padding;

    .sub-title {
      color: $secondary-font-color;
      margin-top: 0.4rem;
    }
  }

  &-title {
    @include typo-h6;

    margin: $vertical-padding 0 ($vertical-padding * 0.75);
    color: $base-font-color;
  }

  &-insights-card {
    @include mat-elevation(1);

    min-width: 48rem;
    border-radius: $border-radius-lg;
    background-color: $white;
    box-sizing: border-box;

    &-header {
      //height: 6rem;
      border-bottom: 1px solid $border-color;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-end;

      .mat-tab-nav-bar {
        border-color: $border-color;
        margin-bottom: -1px;
        flex-grow: 1;
      }

      cl-range-date-picker-filter {
        flex-shrink: 0;
        font-size: 1.2rem;
        display: block;
        margin: 1rem $horizontal-padding -0.75rem auto;
      }
    }
  }

}

.game-card {
  margin: 0 ($horizontal-padding * 0.25) ($vertical-padding * 0.5);
  flex: auto;
  width: 0;
  flex-wrap: wrap;

  &-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: ($vertical-padding * 0.75) (-($vertical-padding * 0.25)) 0;
  }
}
