<section class="full-with page-header dashboard-header">
  <div class="tree-title-wrap">
    <p class="title">
      Welcome to Perx, Migs
    </p>
    <a routerLink="/dashboard" class="link-overview">
      Here is an overview of what’s going on with your active campaigns to help you get things done today.
    </a>
  </div>
</section>
<section class="content">
  <p class="dashboard-title">Explore Perx </p>

  <div class="game-card-wrap">
    <cl-dashboard-game-card *ngFor="let gameCard of gameCard$ | async"
                            [gameCard]="gameCard"
                            class="game-card"
    >
    </cl-dashboard-game-card>
  </div>
  <p class="dashboard-title dashboard-title__indent">Business Insight</p>
  <ng-container *ngIf="dashboardData; else noData">
    <section class="dashboard-content">
      <mat-radio-group class="tabs-list" >
        <ng-container *ngFor="let item of dashboardData.totals; let first = first;">
          <mat-radio-button [value]="item" [checked]="first">
            <cl-tab-item-view [data]="item"></cl-tab-item-view>
          </mat-radio-button>
        </ng-container>
      </mat-radio-group>
    </section>
  </ng-container>
  <ng-template #noData>
    <cl-business-insight>
    </cl-business-insight>
  </ng-template>

</section>
