<section class="full-with page-header dashboard-header">
  <div class="tree-title-wrap">
    <p class="title">
      Welcome to Perx, Migs
    </p>
    <a routerLink="/dashboard" class="link-overview">
      Here is an overview of what’s going on with your active campaigns to help you get things done today.
    </a>
  </div>
</section>
<section class="content">
  <p class="dashboard-title">Explore Perx </p>
  <div class="game-card-wrap">
    <cl-dashboard-game-card *ngFor="let gameCard of gameCard$ | async" [gameCard]="gameCard" class="game-card">
    </cl-dashboard-game-card>
  </div>
  <p class="dashboard-title dashboard-title__indent">Business Insight</p>
  <section class="dashboard-content">
    <div class="dashboard-content-header">
      <nav mat-tab-nav-bar>
        <a mat-tab-link
           *ngFor="let link of navLinks;"
           [routerLink]="link.path"
           routerLinkActive #rla="routerLinkActive"
           [routerLinkActiveOptions]="{exact: true}"
           [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav>
      <cl-range-date-picker-filter [control]="dateRange"></cl-range-date-picker-filter>
    </div>
    <router-outlet></router-outlet>
  </section>
</section>
