@import '~@angular/material/theming';
@import "variables";

.link-overview {
  font-size: 1.6rem;
  color: $base-font-color;
  text-decoration: none;
  margin-top: 0.8rem;
  display: flex;
}

.dashboard {
  &-welcome {
    margin-bottom: $vertical-padding;
  }

  &-title {
    @include typo-h6;

    color: $base-font-color;

    &__indent {
      margin: ($vertical-padding * 0.75) 0 ($vertical-padding * 0.5) 0;
    }
  }

  &-content {
    @include mat-elevation(1);

    min-width: 48rem;
    border-radius: $border-radius;
    background-color: $white;
    box-sizing: border-box;

    &-header {
      //height: 6rem;
      border-bottom: 1px solid $border-color;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-end;

      .mat-tab-nav-bar {
        border-color: $border-color;
        margin-bottom: -1px;
        flex-grow: 1;
      }

      cl-range-date-picker-filter {
        flex-shrink: 0;
        font-size: 1.2rem;
        display: block;
        margin: 1rem $horizontal-padding -0.75rem auto;
      }
    }
  }

  &-group-bloc {
    display: flex;
    justify-content: space-between;
    padding: 6rem 4rem 0;
  }
}

.game-card {
  margin: 0 ($horizontal-padding * 0.25) ($vertical-padding * 0.5);
  flex: auto;
  width: 0;
  flex-wrap: wrap;

  &-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: ($vertical-padding * 0.75) (-($vertical-padding * 0.25)) 0;
  }
}

.tabs-list-wrap {
  width: 27rem;
}

.time-line-block {
  flex: 1;
}
