@import "../cards";

.main-container {
  margin-left: 0.5rem;

  .title {
    margin: 1rem;
  }

  .cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;

    .end-spacer {
      flex: 0 0 16px;
    }
  }
}
