@import "../../../styles/variables";

:host {
  background: $bg-color;

  ::ng-deep {
    .points {
      color: #70a078;
    }

    .card-list-container {
      padding: 0 1.6rem !important;
    }
  }
}

.loyalty-section {
  width: 100%;
  height: 17rem;
  display: flex;
  padding: 1.6rem;
  justify-content: space-between;

  ::ng-deep {
    .container {
      padding: 0;
    }
  }
}

.loyalty-item {
  &-qr {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.enlarge {
  color: $white;
  display: flex;
  align-items: center;
}

.rewards-carousel {
  display: block;
  margin-bottom: 2rem;
  margin-left: 0.6rem;

  ::ng-deep {
    .mat-card {
      height: 20rem !important;
    }
  }
}

.promotion {
  margin: 3.2rem 1.6rem 1.6rem;
  font-size: 1.8rem;
  color: $text-green;
}
