@import "~src/assets/styles/variables";

:host {
  background: $bg-color;

  ::ng-deep {
    .points {
      color: #70A078;
    }
  }
}

.loyalty-section {
  width: 100%;
  height: 17rem;
  display: flex;
}

.loyalty-item {
  flex: 1;

  &-qr {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.enlarge {
  color: $white;
  margin: 1.6rem 0;
}

.rewards-carousel {
  display: block;
  margin-bottom: 2rem;
}

.promotion {
  margin: 3.2rem 0 1.6rem 1rem;
  font-size: 1.8rem;
  color: $text-green;
}
