<div class="bg-white">
  <div class="container">
    <div class="loyalty-section">
      <perx-core-loyalty-summary class="loyalty-item"></perx-core-loyalty-summary>
      <div class="loyalty-item loyalty-item-qr" *ngIf="loyalty">
        <qrcode [qrdata]="loyalty.id+''" [size]="80" routerLink="qr"></qrcode>
        <button mat-raised-button color="primary" class="enlarge" routerLink="qr">{{"MY_QR" | translate}}</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="rewards-section">
    <p class="promotion">{{"FEATURED_REWARDS" | translate}}</p>
    <perx-core-rewards-collection class="rewards-carousel" (tapped)="goToReward($event)">
    </perx-core-rewards-collection>

    <perx-core-rewards-list-tabbed></perx-core-rewards-list-tabbed>
  </div>
</div>
