<div class="modal-widow">
  <div class="modal-header">
    Terms & Conditions
    <button class="back" (click)="closeAgreement()">
      <img src="assets/img/back.svg">
    </button>
  </div>
  <div class="modal-body">
    <p class="header">HSBC's Rewards Program General Terms and Conditions</p>
    <ol class="general-level">
      <li>
        <h4>DEFINITION</h4>
        <p>As use herein, the following terms shall have the following meaning/s:</p>
        <ol class="alphabet">
          <li>"HSBC's Rewards Program" refers to the rewards program (hereinafter the Program) of The Hongkong and
            Shanghai
            Banking Corporation Limited - Philippines Branch (hereinafter HSBC) that may be participated in by Primary
            Cardholders and which are subject to these terms and conditions</li>
          <li>
            "Card" refers to the credit card issued by HSBC to the Cardholder
          </li>
          <li>
            "Cardholder" refers to the person to whom or for whose use a Card was issued by HSBC
          </li>
          <li>
            "Primary Cardholder" refers to the Cardholder in whose name the credit card account is maintained; For
            purposes
            of these terms and conditions, unless otherwise indicated, reference to Cardholder shall pertain to the
            Primary
            Cardholder
          </li>
          <li>
            "Supplementary Cardholder" refers to the Cardholder to whom a Card was issued as an extension of the Primary
            Cardholder
          </li>
          <li>
            "Bonus Points" refers to the points earned by the Primary and Supplementary Cardholder through the use of
            the
            Card as specified in these Terms and Conditions
          </li>
          <li>
            "Rewards" means the goods and services, including airline mileage, listed and described in the Rewards
            Catalogue
          </li>
          <li>
            "Rewards Catalogue" refers to the catalogue of Rewards that may be found in the HSBC website
          </li>
        </ol>
      </li>
      <li>
        <h4>ELIGIBILITY</h4>
        <ol class="alphabet">
          <li>
            Only Primary Cardholders and Supplementary Cardholders of personal Cards issued by HSBC are eligible to earn
            Bonus Points under the Program
          </li>
          <li>
            Corporate/Company cardholders are not eligible to join the Program
          </li>
        </ol>
      </li>
      <li>
        <h4>BONUS POINTS EARNED IN THE PROGRAMME</h4>
        <ol class="alphabet">
          <li>
            All eligible Cards earn Bonus Points for all transactions made on the Card except cash advances, charges and
            fees. Bonus Points will not be offered for any unposted or cancelled card transaction or any card
            transaction posted
            but subsequently reversed or refunded in whole or in part, including but not limited to tax refunds on
            overseas
            purchases.
          </li>
          <li>
            Cardholders of HSBC Premier Mastercard, HSBC Platinum Visa, HSBC Gold Mastercard and HSBC Red Mastercard
            will
            earn one (1) Bonus Point for every qualified Twenty Philippines Pesos (Php20.00) spent with these Cards.
            Cardholders
            of HSBC Advance Visa will earn one (1) Bonus Point for every Fifteen Philippine Pesos (Php15.00) spend on
            these
            cards. Cardholders of HSBC Classic Visa and HSBC Classic Mastercard will earn one (1) Bonus Point for every
            Ten
            Philippine Pesos (Php10.00) spent on these cards.
          </li>
          <li>
            Bonus Points generated by spending of Supplementary Cardholders shall automatically accrue to the Primary
            Cardholder's account.
          </li>
          <li>
            Accelerated Rewards – Accelerated Rewards is a special feature under the Program that allow select HSBC
            Credit
            Card types to earn additional Bonus Points for pre-defined credit card transactions and/or spending. The
            mechanics
            of which will be communicated to Cardholders from time to time via its normal communication channels such as
            HSBC's
            website, statement of account among others.
          </li>
          <li>
            If no error is reported by the Cardholder within thirty (30) days from receipt of a statement, the
            Cardholder
            shall be deemed to have accepted the Bonus Points reported on the statement. However, this shall not
            prejudice the
            right of HSBC to correct at any time any computation or posting of Bonus Points which it has deemed to be
            erroneous.
          </li>
          <li>
            Bonus Points can be used to redeem Rewards offered under the Program. Only Primary cardholders, whose cards
            are
            valid (i.e. card must not be delinquent, suspended or cancelled) and in good standing may redeem their Bonus
            Points
            for Rewards. Supplementary Cardholders cannot redeem Rewards unless authorized in writing by the Primary
            Cardholder.
          </li>
          <li>
            HSBC reserves the right to change the Bonus Points earning rate and restrict or limit the number of Bonus
            Points
            earned on each transaction in connection with special programs, facilities and promotional activities.
          </li>
        </ol>
      </li>
      <li>
        <h4>VALIDITY OF REWARDS POINTS</h4>
        <ol class="alphabet">
          <li>
            For Cardholders of HSBC Classic Visa and HSBC Classic Mastercard, Bonus Points are valid up to two (2)
            years, at
            the end of the relevant month, from cardholder's Account Open Date.
            b. For Cardholders of HSBC Premier Mastercard, HSBC Platinum Visa, HSBC Gold Mastercard, HSBC Red
            Mastercard, and
            HSBC Advance Visa, Bonus Points earned will be valid up to three (3) years, at the end of the relevant
            month, from
            cardholder's Account Open Date.
          </li>
          <li>
            For Cardholders of HSBC Premier Mastercard, HSBC Platinum Visa, HSBC Gold Mastercard, HSBC Red Mastercard,
            and
            HSBC Advance Visa, Bonus Points earned will be valid up to three (3) years, at the end of the relevant
            month, from
            cardholder's Account Open Date.
          </li>
          <li>
            Expired Bonus Points will no longer be reflected on statements issued in the following Rewards cycle
          </li>
          <li>
            Expired Bonus Points will no longer be reinstated to Cardholder's account.
          </li>
        </ol>
      </li>
      <li>
        <h4>REWARDS REDEMPTION</h4>
        <ol class="alphabet">
          <li>
            Redemption of Rewards can only be made by the Cardholder via the Rewards Catalogue by logging on to
            &lt;insert
            URL&gt;.
          </li>
          <li>
            Redemption of Rewards featured in the Rewards Catalogue is subject to the accumulation of sufficient Bonus
            Points, available credit limit at the time of redemption and the final acceptance by HSBC. Any redemption
            made will
            be cancelled automatically in case of insufficient Bonus Points or violation of the Terms and Conditions of
            the
            Program.
          </li>
          <li>
            Cardholder shall be responsible for checking the status of his redemption by calling HSBC Hotline.
          </li>
          <li>
            Once a redemption request is submitted to HSBC, the said order cannot be changed, transferred, cancelled or
            refunded.
          </li>
          <li>
            Cardholder is not allowed to pool or combine Bonus Points earned through all of his valid Cards.
          </li>
          <li>
            Bonus Points are not transferable to any other person.
          </li>
          <li>
            All Rewards Redemption with insufficient bonus points site shall be rejected.
          </li>
          <li>
            Should the Cardholder make multiple redemptions on the same day but is found to have insufficient points for
            the
            Rewards being redeemed or insufficient details in the Redemption Form, all redemptions shall be deemed
            invalid.
            Primary Cardholder may expect an SMS notification to be sent to his/her mobile number based on HSBC’s
            records.
          </li>
          <li>
            In case the Cardholder fails to specify the Redemption Center Code for Rewards Items tagged "For Pick Up",
            Rewards Redemption shall be deemed invalid.
          </li>
          <li>
            Cardholders who wish to redeem miles must first call HSBC Hotline to enroll in the Mileage Program even if
            they
            are already a member of the frequent flyer program(s) of the participating airline(s).
          </li>
          <li>
            Cardholders must redeem the following minimum number of miles each time they request to convert their bonus
            points to miles.
          </li>
          <li>
            Cardholders who wish to redeem miles must first call HSBC Hotline to enroll in the Mileage Program even if
            they
            are already a member of the frequent flyer program(s) of the participating airline(s).
          </li>
          <li>
            Cardholders must redeem the following minimum number of miles each time they request to convert their bonus
            points to miles.
            <table>
              <thead>
                <tr>
                  <th>Frequent Flyer Program</th>
                  <th>Minimum number of miles for redemption</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Asia Miles</td>
                  <td>1,000 Asia Miles</td>
                </tr>
                <tr>
                  <td>KrisFlyer</td>
                  <td>1,000 Kris Flyer</td>
                </tr>
                <tr>
                  <td>Mabuhay Miles</td>
                  <td>1,500 Mabuhay Miles</td>
                </tr>
              </tbody>
            </table>
          </li>
          <li>
            Mabuhay Miles should be redeemed in increments of 1,500 miles.
          </li>
          <li>
            Asia Miles and Kris Flyer should be redeemed in increments of 1,000 miles.
          </li>
          <li>
            Once transferred, Bonus Points cannot be transferred back to the Cardholder's account or re-transferred to
            another participating airline's frequent flyer program account.
          </li>
          <li>
            Bonus Points can only be transferred to the enrolled Mileage Programme under the Cardholder's name.
          </li>
          <li>
            Bonus Points must be transferred to a participating airline's frequent flyer program account prior to their
            expiry date.
          </li>
          <li>
            HSBC's Travel Insurance and benefits for HSBC Premier MasterCard and HSBC Platinum Visa will not apply to
            flights
            taken with award tickets issued under a participating airline's frequent flyer program.
          </li>
          <li>
            HSBC assumes no responsibility for Bonus Points transferred from a Cardholder's account into any frequent
            flyer
            program account or for the actions of any participating airline in connection with its frequent flyer
            program or
            otherwise.
          </li>
          <li>
            Cardholders are subject to and must comply with the rules of the frequent flyer program(s) of the
            participating
            airline(s) in which they are enrolled.
          </li>
          <li>
            A participating airline may change its Program rules including regulations, policies, benefits, conditions
            of
            participation or mileage levels, in whole or in part, at any time with or without notice, even though the
            changes
            may affect the value of the free mileage already accumulated.
          </li>
          <li>
            Airline participation in the program is subject to change upon notice.
          </li>
        </ol>
      <li>
        <h4>REWARDS CATALOGUE</h4>
        <ol class="alphabet">
          <li>
            HSBC has the right to assign varying Bonus Points required for Rewards items depending on the credit card
            type.
          </li>
          <li>
            The Program covering the featured Rewards in the Rewards Catalogue may be redeemed using Pure Points or Fast
            Track modes of redemption.
          </li>
          <li>
            Under Fast Track redemption, Cardholders will be eligible to claim the Rewards at lower Bonus Points and
            charge
            the cash portion to his/her HSBC Credit Card through straight payment. The use of the HSBC Credit Card to
            pay the
            cash portion under Fast Track redemption will generate additional Bonus Points for the Cardholder.
          </li>
          <li>
            Only selected Rewards as identified in the Rewards Catalogue may be redeemed using the Fast Track option.
          </li>
          <li>
            All Rewards featured in the Rewards Catalogue are subject to availability and the merchants/suppliers'
            restrictions; and are offered only while stocks last. HSBC shall send a notice of cancellation via SMS to
            Primary
            Cardholder’s mobile number based on HSBC’s records in such instance. Additionally, Cardholder shall be
            responsible
            for checking the status of his redemption by calling HSBC Hotline.
          </li>
          <li>
            Unless otherwise stated, installation costs and/or eventual servicing of Rewards Items claimed through the
            Program, including but not limited to electronic equipment and household appliances, shall be for the
            account of the
            Cardholder. In some cases, certain Rewards may be covered by a manufacturer's warranty and Cardholders
            should direct
            their inquiries to the manufacturer of the Rewards in accordance with the warranty information.
          </li>
          <li>
            HSBC has taken and will take all reasonable care to ensure that any information it publishes in relation to
            the
            Rewards in the Program is accurate. The description of Rewards in the Rewards Catalogue are based solely on
            information provided by third party suppliers. Photographs of Rewards Items appearing in the Rewards Catalog
            may
            slightly differ from the actual items.
          </li>
          <li>
            Any changes in the number of bonus points required for redemption shall be communicated to the customers via
            the
            following channels:
            Statement of Account (SOA) inserts for both paper and electronic statements
            The updates will also be published in the public website under the Service Advisory banner.
          </li>
        </ol>
      </li>
      <li>
        <h4>DELIVERY/PICK-UP OF REWARDS</h4>
        <ol class="alphabet">
          <li>
            The Rewards Catalogue will indicate whether Reward shall be redeemed by the Cardholder thru a redemption
            center,
            redemption via merchant website, or credits to the account.
          </li>
          <li>
            Redemption Center for Pick-up
            <ol class="rim">
              <li>
                Primary Cardholder may expect an SMS to be sent to his/her mobile number based on HSBC’s records within
                one (1)
                week from date of submission of the Redemption Form.
              </li>
              <li>
                The SMS will contain the Claim Code/s which will be presented at the Redemption Center specified in the
                SMS.
                Cardholder must claim the Rewards Item/s at the Redemption Center specified in the SMS within sixty (60)
                days as
                indicated in the SMS.
              </li>
              <li>
                Expired Claim Code/s will no longer be extended and accepted.
              </li>
              <li>
                Primary Cardholder must present the following at the Redemption Center:
                <ul>
                  <li>
                    Present the SMS indicating the Claim Code/s
                  </li>
                  <li>
                    Present the HSBC Credit Card used to make the redemption
                  </li>
                  <li>
                    Present a valid government-issued Identification Card
                  </li>
                </ul>
              </li>
              <li>
                Once redeemed, each Claim Code/s may no longer be used to redeem the Rewards Item/s.
              </li>
              <li>
                Only the Primary Cardholder is allowed to redeem the Reward Item/s within the Redemption Period.
                <ul>
                  <li>
                    Authorized representatives must provide the following at the Redemption Center:
                  </li>
                  <li>
                    Present the SMS indicating the Claim Code/s
                  </li>
                  <li>
                    Present a copy of the HSBC Credit Card used to make the redemption
                  </li>
                  <li>
                    Present a copy of the Primary Cardholder’s valid government- issued Identification Card
                  </li>
                  <li>
                    Submit an authorization letter, authorizing the representative to redeem the Rewards Item/s.
                  </li>
                </ul>
              </li>
            </ol>
          </li>
          <li>
            Redemption via Merchant’s Website
            <ol class="rim">
              <li>
                Primary Cardholder may expect an SMS to be sent to his/her mobile number based on HSBC’s records within
                one (1)
                week from date of submission of the Redemption Form.
              </li>
              <li>
                The SMS will contain the Claim Code/s which will be used online at the merchant’s website specified in
                the SMS.
                Cardholder must use the Claim Code/s within sixty (60) days as indicated in the SMS.
              </li>
              <li>
                Only one (1) Claim Code can be used at a time or for every payment checkout.
                In case the merchant is capable of storing credits (i.e. Wallet), Claim Code/s must be used within the
                validity date
                prescribed by HSBC and stored as credits for future use. Claim codes successfully stored as credits has
                no expiry.
              </li>
              <li>
                Expired Claim Code/s will no longer be extended and accepted.
              </li>
              <li>
                Once redeemed, Claim Code/s may no longer be reused.
              </li>
              <li>
                Only an HSBC Cardholder is allowed to use the Claim Code/s in the merchant’s website.
              </li>
            </ol>
          </li>
          <li>
            Credit to Account
            <ol class="rim">
              <li>
                Primary Cardholder may expect an SMS to be sent to his/her mobile number based on HSBC’s records within
                one (1)
                week from date of submission of the Redemption Form.
              </li>
              <li>
                The SMS will contain confirmation once Rewards has been credited to the account.
              </li>
            </ol>
          </li>
          <li>
            HSBC shall not be obliged to recognize or replace any Rewards redeemed through the Program that is lost or
            stolen
            as a result of Cardholder's own fault or negligence
          </li>
        </ol>
      </li>
      <li>
        <h4>TAX TREATMENT</h4>
        <ol class="alphabet">
          <li>
            Cardholders are ultimately responsible for the tax treatment, if any, of Rewards redeemed and HSBC gives no
            warranty and accepts no responsibility as to the ultimate treatment of any potential tax on Rewards
            redemption. In
            the event any Rewards redeemed should result to an income tax liability to a Cardholder, said income tax
            liability,
            if any, shall be shouldered by the Cardholder.
          </li>
          <li>
            Cardholders shall solely be liable for any tax consequences of or in connection with their participation in
            the
            Program.
          </li>
        </ol>
      </li>
      <li>
        <h4>GENERAL</h4>
        <ol class="alphabet">
          <li>
            All questions or disputes regarding eligibility for joining the Program or transferring Bonus Points under
            the
            Program will be decided by HSBC at its sole discretion.
          </li>
          <li>
            Any changes in these Terms and Conditions, the number of Bonus Points required to redeem Rewards, as well as
            the
            conditions for making the redemptions shall be communicated to the customers via the following channels:
            <ul>
              <li>
                Statement of Account (SOA) inserts for both paper and electronic statements
              </li>
              <li>
                The updates will also be published in the public website under the Service Advisory banner.
              </li>
            </ul>
          </li>
          <li>
            Fraud and abuse relating to the earning and transfer of Bonus Points in the Program may result in the
            forfeiture
            of accumulated Bonus Points as well as the cancellation of a Cardholder's credit card(s).
          </li>
          <li>
            The Program is subject to the Terms and Conditions of HSBC's Credit Card Products.
          </li>
          <li>
            The use of the HSBC's internet banking facility and website is governed by the terms of use and privacy and
            security policies of said facility and services and as such Cardholders should familiarize themselves with
            these
            policies at www.hsbc.com.ph.
          </li>
        </ol>
      </li>
    </ol>
  </div>
</div>
