<div *ngIf="isLoading" class="loader">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading">
  <div class="login-bg">
    <img [src]="loginBackgroundUrl"/>
  </div>
  <div [ngClass]="'content-container ' + sourceType">
    <div class="login-image">
      <img class="logo" src='assets/hsbc-logo-black.svg' />
    </div>

    <div class="form-container">
      <h2 *ngIf="sourceType === 'hsbc-xmas'">Have a Merry Christmas!</h2>

      <div class="login-form">
        <h1 *ngIf="sourceType === 'hsbc-xmas'">Log In</h1>
        <div class="error_msg">
          <span>{{errorMessage}}</span>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="full-width__input">
            <mat-label>Player Code</mat-label>
            <input matInput placeholder="Enter your player code" formControlName="playerCode" required>
            <mat-error *ngIf="loginForm.hasError('playerCode')">
              Player code is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width__input">
            <mat-label>Last 4 digits of your HSBC Credit Card</mat-label>
            <input matInput placeholder="Enter your HSBC card last 4 digits"
                   formControlName="hsbcCardLastFourDigits" required perxCoreNumericCharacter minlength="4" maxlength="4">
            <mat-error *ngIf="loginForm.hasError('hsbcCardLastFourDigits')">
              HSBC card last 4 digit code is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <button mat-flat-button type="submit" color="primary" class="full-width__button">
            {{sourceType === 'hsbc-xmas' ? 'Log In' : 'Sign In'}}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
