.full-width__input,
.full-width__button {
  width: 100%;
}

.error_msg {
  padding-bottom: 1rem;

  span {
    color: red;
    font-size: 1.5rem;
  }
}

.login-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;

  img {
    position: relative;
    max-height: 100%;
    height: 100%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.content-container {
  text-align: center;
  padding: 6rem 1.2rem 0;
  top: unset;
  display: flex;
  flex-direction: column;

  .form-container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    flex: 1;

    .login-form {
      flex: 1;
      margin-bottom: 5rem;
      display: flex;
      flex-direction: column;

      .error_msg {
        flex: 1;
        display: flex;
        justify-content: center;

        span {
          align-self: flex-end;
        }

        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
          background-color: white;
          border-radius: 5px;
        }
      }
    }
  }

  &.hsbc-xmas {
    justify-content: start;

    .logo {
      min-width: 18.5rem;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 3.2rem;
    }

    .form-container .login-form {
      box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.15);
      border-radius: 0.8rem;
      background-color: #ffffff;
      padding: 2.4rem 1.5rem;
      flex: 0;

      h1 {
        text-align: left;
        font-size: 3.4rem;
        margin-top: 0;
      }

      .error_msg {
        flex: 0;
      }

      mat-form-field {
        &:first-child {
          padding-bottom: 1.2rem;
        }
      }

      mat-hint {
        color: #0f69af;
        font-size: 1.2rem;
      }
    }
  }
}

.loader {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
