.content-container {
  justify-content: space-around;
  text-align: center;
  padding: 6rem 1.2rem 0;
  top: unset;
}

.full-width__input,
.full-width__button {
  width: 100%;
}

.error_msg {
  color: red;
  margin-top: 16px;
  font-size: 2rem;
  font-weight: bold;
}
