<div class="dialog-tab-content tab-content-height">
  <div class="invite-new-users-section">
    <div class="row">
      <label class="invite-new-users-label">Bulk action</label>
      <mat-slide-toggle></mat-slide-toggle>
    </div>
    <div class="row">
      <label class="invite-new-users-label">Export or Download</label>
      <mat-slide-toggle></mat-slide-toggle>
    </div>
  </div>
  <div class="invite-new-users-section">
    <div>
      <label class="invite-new-users-label">Customer Support</label>
    </div>
    <div>
      <mat-divider></mat-divider>
    </div>
    <div class="row">
      <label class="invite-new-users-label">Change Expiry for Issued Reward</label>
      <mat-slide-toggle></mat-slide-toggle>
    </div>
    <div class="row">
      <label class="invite-new-users-label">Issue Reward to Specific User</label>
      <mat-slide-toggle></mat-slide-toggle>
    </div>
  </div>
</div>
