<div class="deal-location">
    <div class="body">
        <div class="title">
            Location
        </div>
        <div class="content" *ngFor="let item of lstVoucherLocation" (click)="navigateGoogleMaps(item.latitude,item.longitude)">
            <div class="text">
                {{item.name}}
            </div>
            <div class="icon-call" *ngIf="item.phoneNumber && item.phoneNumber.length > 0">
                <a [href]="'tel:'+item.phoneNumber"> <img src="assets/images/icon-ua-contact.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>
