<div class="deal-location">
    <div class="title">
        Location
    </div>
    <div class="content"*ngFor="let item of lst">
        <div class="text">
            Crowne Plaza Manila Galleria Ortigas Ave., Corner Asian Development Bank
        </div>
        <div class="icon-call">
            <img src="assets/images/icon-ua-contact.svg" alt="">
            <span matBadge="1" matBadgeSize="medium" class="icon-call_badge"></span>
        </div>
    </div>
    
  
</div>
<bdo-footer-refer></bdo-footer-refer>