.main-puzzle-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background: linear-gradient(180deg, #3a6186 0%, #89243e 100%);
}

.game-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 34.5rem;
  background-color: white;
  align-items: center;
  border-radius: 0.8rem;
  padding: 1rem;
  overflow-x: scroll;

  h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    // line-height: 23px;
    font-family: Roboto, sans-serif;
    text-align: center;
  }

  h3 {
    text-align: center;
    margin: 0;
    color: #666666;
  }
}

button {
  width: 50%;
}
