@import "../../custom-theme";

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.toolbar {
  //@include toolbar();
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 6rem;
  z-index: 800;
  font-size: 2rem;
  line-height: 1.9rem;

  .logo {
    height: 100%;
  }

  .backArrow {
    //@include toolBarArrow();
    cursor: pointer;
    color: var(--button_text_color, white);

    // make color dynamic according to contrasting background
    mix-blend-mode: difference;
    filter: contrast(0) grayscale(1) invert(0.6);
  }
}

.main-app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.game-container {
  flex: 1;
  width: 100%;
  max-width: 41.5rem;
  height: 100%;
  display: block;
  margin: 0 auto;
  overflow-y: hidden;
}

.navbar {
  display: flex;
  justify-content: space-around;
  height: 7rem;
  z-index: 800;
  background: var(--surface_colour) !important;
  font-size: 1rem;
  line-height: 1.6rem;

  .a-container {
    display: flex;
    width: 40rem;
    max-width: 40rem;
  }

  a {
    text-decoration: none;
    color: #666666;
    display: flex;
    flex: 1;
    justify-content: center;
    height: 100%;
    align-items: center;

    &.active {
      color: var(--accent);
    }
  }
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 100%;
}
