<div *ngIf="(catalogs$ | async) as catalogs" class="main-container">
    <h1 *ngIf="catalogs.length > 0">More to enjoy</h1>
    <div
      *ngIf="catalogs.length > 0"
      class="cards"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="500"
      (scrolled)="onScroll()"
      [scrollWindow]="false"
      [horizontal]="true"
    >
        <mat-card *ngFor="let catalog of catalogs" (click)="selected(catalog)" matRipple>
            <img mat-card-image [src]="catalog.catalogBanner">
            <mat-card-content>
                <div>
                    <h1>{{catalog.name}}</h1>
                    <h2>{{catalog.description}}</h2>
                    <!-- <h3>{{catalog.rewardCount}} Rewards</h3> -->
                </div>
                <div class="icon">
                    <img src="assets/forward-arrow.svg" alt="">
                </div>
            </mat-card-content>
            <mat-card-footer></mat-card-footer>
        </mat-card>
    </div>
</div>
