@import '../../styles.scss';

.main-container {
  width: 100%;
  height: 100vh;
  background: $main-blue-theme;
  background-size: cover;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  img {
    float: none;
    margin: 5.2rem auto;
    margin-bottom: 0.8rem;
    display: block;
  }

  .logo-title {
    font-size: 2.2rem;
    color: white;
    text-align: center;
    font-weight: 900;
    font-style: normal;
    margin-bottom: 3.8rem;
  }

  .content-container {
    width: 80%;
    max-width: 80rem;
    padding: 2.1rem;
    background: white;
    border-radius: 0.8rem;
    margin: 1.2rem 1.5rem 0 1.5rem;

    .main-heading {
      font-weight: 900;
      font-size: 1.8rem;
      font-style: normal;
      color: $heading-font-color;
      text-align: center;
    }

    .subtitle {
      font-weight: normal;
      font-size: 1.4rem;
      margin-top: 1rem;
      text-align: center;
      color: $heading-font-color;

      .link {
        color: $main-blue-theme;
      }
    }

    form {
      margin-top: 2rem;

      .diabetes-selection {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      mat-checkbox,
      mat-radio-button {
        margin: 2rem;
        font-size: 1.2rem;
      }
    }

    .full-width__button {
      width: 100%;
      background-color: $main-blue-theme;
      color: white;
      margin-top: 3rem;
    }

    .full-width__input {
      width: 100%;
      margin-top: 1rem;
    }
  }
}
