<div class="main-container">
	<img src="assets/logo.png">
	<div class="logo-title">
		Diabetes Loyality Program
	</div>
	<div class="content-container">
		<div class="main-heading">Thank you for participating in this loyality program.</div>
		<div class="subtitle">To better the experience for you, please indicate the current condition you're taking treatment for</div>
		<form [formGroup]="surveyForm" (ngSubmit)="onNext()">
			<div class="diabetes-selection">
				<mat-radio-button color="primary">Diabetes</mat-radio-button>
				<mat-radio-button color="primary">Pre-Diabetes</mat-radio-button>
			</div>
			<mat-checkbox color="primary">Hypertension</mat-checkbox>
			<button mat-flat-button type="submit" class="full-width__button">Next</button>
		</form>
	</div>
</div>