<div class="home-body">
  <div class="loyalty-summer">
    <perx-core-loyalty-summary #loyaltySummary></perx-core-loyalty-summary>
  </div>

  <!-- <perx-core-rewards-carousel></perx-core-rewards-carousel> -->
  <!-- <perx-core-rewards-list-tabbed></perx-core-rewards-list-tabbed> -->
  <div class="reward-collection">
    <div class="reward-title">
      Featured Rewards
    </div>
    <perx-core-rewards-collection [rewardsList]="rewards"></perx-core-rewards-collection>
  </div>
  <div class="bottom-navigation">
    <div *ngFor="let bar of navigatePanel" class="nav-bar">
      <img [src]="bar.img">
      <div>{{bar.title}}</div>
    </div>
  </div>
</div>
