<div class="home-body">
  <div class="loyalty-summer">
    <perx-core-loyalty-summary [loyalty]="loyalty$"></perx-core-loyalty-summary>
  </div>
  <div class="reward-collection">
    <div class="reward-title">
      Featured Rewards
    </div>
    <perx-core-rewards-collection [displayPriceFn]="displayPriceFn" [rewardsList]="rewardsCollection" (tapped)="openRewardDetails($event)">
    </perx-core-rewards-collection>
  </div>
  <perx-core-rewards-list-tabbed [displayPriceFn]="displayPriceFn" [tabs$]="tabs" (tapped)="openRewardDetails($event)"></perx-core-rewards-list-tabbed>
  <app-navigate-toolbar></app-navigate-toolbar>
</div>
