<div class="mobile-preview mobile-content-multiple">
  <div class="mobile-header" [ngStyle]="{background: primaryColor? primaryColor :  headerColor}">
    <ng-container *ngIf="logoType; else logoTextTemplate">
      <div class="header-logo-mobile">
        <img [src]="logo ? logo : 'assets/images/logo.svg' " alt="mobile-logo">
      </div>
    </ng-container>
  </div>
  <div [ngClass]="mobileImageClass">
    <div class="mobile-preview-background"
         clCreateImage
         [ngStyle]="{
         'background-image': 'url(' + background + ')',
         'background-color': backgroundColor}"
    >
      <ng-content select=".mobile-preview-header"></ng-content>
      <ng-content select=".plugin-block"></ng-content>
      <ng-content select=".mobile-preview-feedback"></ng-content>
      <ng-content select=".mobile-btn-block"></ng-content>
    </div>
  </div>
</div>

<ng-template #logoTextTemplate>
  <p class="header-logo-mobile" [ngStyle]="{'font-family': fontFamily}">
    {{logo}}
  </p>
</ng-template>
