@import "variables";

@media (max-width: $desktop-width) {

}

@media (max-width: $tablet-width) {

}

@media (max-width: $mobile-width) {
  .create-engagement-dialog-actions {
    justify-content: center;
    padding: 3.4rem 0.2rem;
  }

  .create-engagement-dialog-content-title {
    font-size: 1.5rem;
  }

  .create-engagement-dialog-header-wrap {
    width: auto;
  }
}
