@import "variables";

.filters {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  & > * {
    margin: 0 ($horizontal-padding / 2) 0 0;

    &.actions-row,
    &:last-child {
      margin: 0;
    }
  }
}

.block {
  display: block;
}
