.filters {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  & > * {
    margin: 0 1.6rem 0 0;

    &:last-child {
      margin: 0
    }
  }
}


.block {
  display: block;
}
