<div class="page-header full-with">
  <div class="game-title-wrap">
    <div class="control-input name-control name-control-title">
      <mat-form-field class="messages-input">
        <input type="text" matInput [formControl]="form.get('name')">
        <mat-error *ngIf="form.get('name').hasError('required')">Required field</mat-error>
        <mat-error *ngIf="form.get('name').hasError('minlength')">Min length 1</mat-error>
        <mat-error *ngIf="form.get('name').hasError('maxlength')">Max length 60</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="btn-group">
    <cl-button classList="invert" routerLink="..">Cancel</cl-button>
    <!--    <cl-button classList="third" routerLink="..">Save as a draft</cl-button>-->
    <!--    <cl-button *ngIf="!isLastStep" classList="primary" (click)="goNext()">Next</cl-button>-->
    <!--    <cl-button *ngIf="isLastStep" classList="primary" (click)="openDialog()">Launch</cl-button>-->
    <cl-button classList="primary" routerLink="/rewards/detail/">Save</cl-button>
  </div>
</div>


<div class="campaign-detail-content">

  <!--Vouchers-->
  <mat-expansion-panel class="card">
    <mat-expansion-panel-header class="card-header">
      <p class="card-title">
        Vouchers
      </p>
    </mat-expansion-panel-header>
    <!--Message-->
    <div class="card-content">
      <label class="card-label">Voucher Code Type</label>
      <!--Voucher Code Type-->
      <div class="card-row">
        <mat-radio-group [formControl]="channel.get('type')">
          <ng-container *ngFor="let type of config?.voucherCodeTypes">
            <mat-radio-button [value]="type?.value">{{type?.title}}</mat-radio-button>
          </ng-container>
        </mat-radio-group>
      </div>
      <!--/Voucher Code Type-->
      <!--Voucher Single Code-->
      <mat-form-field>
        <input
          type="text"
          min="0"
          step="1"
          matInput
          placeholder="eg. JKHJHJ"
          [formControl]="campaignInfo.get('goal')">
      </mat-form-field>
      <!--/ Voucher Single Code-->
      <!-- Unique codes: System generated-->
      <div class="card-row">
        <mat-form-field>
          <input
            type="text"
            [minLength]="2"
            [maxLength]="6"
            matInput
            placeholder="Prefix (eg.HB1234)"
            [formControl]="campaignInfo.get('goal')">
        </mat-form-field>
        <mat-form-field>
          <input
            type="number"
            min="4"
            max="10"
            step="1"
            matInput
            placeholder="Length of code (Min.4 - Max.10)"
            [formControl]="campaignInfo.get('goal')">
        </mat-form-field>
        <mat-form-field>
          <mat-select [formControl]="campaignInfo.get('goal')" placeholder="Code format">
            <ng-container *ngFor="let option of config?.voucherCodeFormat">
              <mat-option [value]="option?.value">{{option?.title}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <!--/ Unique codes: System generated-->
      <!--Unique codes: User upload-->
      <cl-upload-file></cl-upload-file>
      <!-- /Unique codes: User upload-->

      <label class="card-label">Total Number of Voucher</label>
      <!--Total Number of Voucher-->
      <mat-form-field>
        <input
          type="number"
          min="0"
          step="1"
          matInput
          placeholder="Cost of Reward">
      </mat-form-field>
      <!--/ Total Number of Voucher-->


      <div class="card-section">
        <div class="card-header">
          <p class="card-title">
            Voucher Validity
          </p>
        </div>
        <div class="card-content">
          <cl-voucher-validity-form-group [formGroup]="form.get('vouchers.voucherValidity')"
                                          [config]="config"></cl-voucher-validity-form-group>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <!--/ Vouchers-->

  <!--Reward Info-->
  <mat-expansion-panel class="card">
    <mat-expansion-panel-header class="card-header">
      <p class="card-title">
        Reward Info
      </p>
    </mat-expansion-panel-header>
    <div class="card-content">
      <cl-reward-info-form-group [formGroup]="form.get('rewardInfo')" [config]="config"></cl-reward-info-form-group>
    </div>
  </mat-expansion-panel>

  <!--Merchant Info-->
  <mat-expansion-panel class="card">
    <mat-expansion-panel-header class="card-header">
      <p class="card-title">
        Merchant Info
      </p>
    </mat-expansion-panel-header>
    <div class="card-content">
      <cl-reward-merchant-card
        (createMerchant)="openDialogCreateMerchant()"
        (selectMerchant)="openDialogSelectMerchant()">
      </cl-reward-merchant-card>
      <cl-reward-merchant-item *ngIf="form.get('merchantInfo').value"
                               [merchant]="form.get('merchantInfo').value"
                               (deleteMerchant)="deleteMerchant()"
        [enableActions]="true">
      </cl-reward-merchant-item>
    </div>
  </mat-expansion-panel>
  <!--/ Merchant Info-->


  <!--Limits-->
  <mat-expansion-panel class="card">
    <mat-expansion-panel-header class="card-header">
      <p class="card-title">
        Limits
      </p>
    </mat-expansion-panel-header>
    <div class="card-content">
      <cl-limit-form-group [formGroup]="form.get('limits')" [config]="config"></cl-limit-form-group>
    </div>
  </mat-expansion-panel>
</div>
