<header class="page-header full-with" [formGroup]="form">
  <mat-form-field class="pagetitle-input" floatLabel="never">
    <input type="text" matInput formControlName="name" placeholder="Enter title here">
    <mat-error *ngIf="name.hasError('required')">Required field</mat-error>
    <mat-error *ngIf="name.hasError('minlength')">Min length 1</mat-error>
    <mat-error *ngIf="name.hasError('maxlength')">Max length 60</mat-error>
  </mat-form-field>
  <!--  buttons-->
  <div class="btn-group">
    <cl-button classList="tertiary" *ngIf="!isEditPage" (click)="cancel()">Cancel</cl-button>
    <cl-button classList="tertiary" *ngIf="isEditPage" (click)="navigateToList()">Back</cl-button>
    <cl-button classList="secondary" *ngIf="!isLastStep && showDraftButton" (click)="saveAsDraft()">Save as a draft
    </cl-button>
    <cl-button classList="primary" *ngIf="!isLastStep" (click)="goNext()">Next</cl-button>
    <cl-button *ngIf="isLastStep" classList="primary" (click)="launch()">Launch</cl-button>
  </div>
  <!--/  buttons-->
</header>
<section class="content form-limiter loyalty">
  <button (click)="createCustomRule()">Rules</button>
  <mat-horizontal-stepper linear labelPosition="bottom" #stepper [selectedIndex]="0">
    <mat-step completed="false">
      <ng-template matStepLabel>Loyalty Details</ng-template>
      <cl-loyalty-form-step-details *ngIf="form && stepOne" [group]="stepOne"
                                    [pools]="pools"></cl-loyalty-form-step-details>

    </mat-step>
    <mat-step completed="false">
      <ng-template matStepLabel>Tiers & Conversions</ng-template>
      <cl-loyalty-form-step-tiers-conversions *ngIf="form && stepTwo" [group]="stepTwo"
                                              [customTierDataSource]="customTierDataSource"
                                              (tiersConversionsAction)="handleLoyaltyActions($event)"
                                              [currency]="currency$ | async">

      </cl-loyalty-form-step-tiers-conversions>

    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Point Earn Rules</ng-template>
      step three
      <cl-loyalty-form-step-earn-rules></cl-loyalty-form-step-earn-rules>
      <div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
      <cl-loyalty-form-step-review *ngIf="form && stepOne && stepTwo && isLastStep"
                                   [dataSource]="customTierDataSource"
                                   [group]="form"></cl-loyalty-form-step-review>
    </mat-step>
  </mat-horizontal-stepper>
</section>

