<header class="page-header full-with" [formGroup]="form">
  <mat-form-field class="pagetitle-input" floatLabel="never">
    <input type="text" matInput formControlName="name" [placeholder]="'ENTER_TITLE_HERE' | translate">
    <mat-error *ngIf="name.hasError('required')">{{'ERROR_REQUIRED' | translate}}</mat-error>
    <mat-error *ngIf="name.hasError('minlength')">{{'ERROR_MIN_LENGTH' | translate}} 1</mat-error>
    <mat-error *ngIf="name.hasError('maxlength')">{{'ERROR_MAX_LENGTH' | translate}} 60</mat-error>
  </mat-form-field>
  <!--  buttons-->
  <div class="btn-group">
    <cl-button classList="tertiary" *ngIf="!isEditPage" (click)="cancel()">{{'BTN_CANCEL' | translate}}</cl-button>
    <cl-button classList="tertiary" *ngIf="isEditPage" (click)="navigateToList()">{{'BTN_BACK' | translate}}</cl-button>
    <cl-button classList="secondary" *ngIf="!isLastStep && showDraftButton" (click)="saveAsDraft()">{{'BTN_SAVE_AS_DRAFT' | translate}}</cl-button>
    <cl-button classList="primary cta cta-next" *ngIf="!isLastStep" (click)="goNext()">{{'BTN_NEXT' | translate}}</cl-button>
    <cl-button *ngIf="isLastStep" classList="primary cta cta-save cta-save-launch" (click)="launch()">{{'BTN_LAUNCH' | translate}}</cl-button>
  </div>
  <!--/  buttons-->
</header>
<section class="content form-limiter loyalty">
  <mat-horizontal-stepper linear labelPosition="bottom" #stepper [selectedIndex]="0">
    <mat-step completed="false">
      <ng-template matStepLabel>{{'LOYALTY_FEATURE.LOYALTY_DETAILS' | translate}}</ng-template>
      <cl-loyalty-form-step-details *ngIf="form && stepOne" [group]="stepOne"
                                    [pools]="pools"></cl-loyalty-form-step-details>

    </mat-step>
    <mat-step completed="false">
      <ng-template matStepLabel>{{'LOYALTY_FEATURE.TIERS_CONVERSIONS' | translate}}</ng-template>
      <cl-loyalty-form-step-tiers-conversions *ngIf="form && stepTwo" [group]="stepTwo"
                                              [customTierDataSource]="customTierDataSource"
                                              (tiersConversionsAction)="handleLoyaltyActions($event)"
                                              [currency]="currency$ | async">

      </cl-loyalty-form-step-tiers-conversions>

    </mat-step>
    <!--hide this step for now-->
    <!--    <mat-step>-->
    <!--      <ng-template matStepLabel>Point Earn Rules</ng-template>-->
    <!--        step three-->
    <!--        <cl-loyalty-form-step-earn-rules></cl-loyalty-form-step-earn-rules>-->
    <!--      <div>-->
    <!--      </div>-->
    <!--    </mat-step>-->
    <mat-step>
      <ng-template matStepLabel>{{'LOYALTY_FEATURE.REVIEW' | translate}}</ng-template>
      <cl-loyalty-form-step-review *ngIf="form && stepOne && stepTwo && isLastStep"
                                   [dataSource]="customTierDataSource"
                                   [group]="form"></cl-loyalty-form-step-review>
    </mat-step>
  </mat-horizontal-stepper>
</section>

