@import "variables";

:host {
  font-size: $base-font-size;
  background-color: $background-color;
}

.date-field {
  position: relative;

  &-error {
    @include typo-caption;

    display: flex;
    width: max-content;
    flex-flow: row nowrap;
    position: absolute;
    bottom: -0.5rem;
  }
}
