@import "variables";

:host {
  font-size: 1.4rem;
  background-color: $simple-light-gray;
}

.reward-detail {
  &-content {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;
  }

  &-filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-status-filter {
    width: 19.4rem;
  }

  &-vouchers-value {
    font-family: $primary-font;
    font-size: 5.4rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $white-color;
  }
}

