@import "variables";

:host {
  font-size: $base-font-size;
  background-color: $background-color;
}

.reward-detail {
  &-content {
    padding: ($vertical-padding * 0.75) ($horizontal-padding * 0.75);
  }

  &-mast {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &-title {
    @include typo-h6;

    color: $secondary-color;
  }

  &-vouchers-value {
    font-family: $primary-font;
    color: $white;
    display: flex;
    flex-direction: column;

    span {
      font-size: 5.4rem;
      line-height: 5.4rem;
      font-weight: 400;
      display: block;
    }

    .reward-detail-title {
      font-weight: 400;
      order: -1;
      margin-bottom: ($vertical-padding * 0.5);
      color: inherit;
    }
  }

  &-filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-status-filter {
    width: 19.4rem;
  }
}
