<div class="page-header full-with">
  <div class="game-title-wrap">
    <div class="control-input name-control name-control-title">
      Reward 1
    </div>
  </div>
  <div class="btn-group">
    <cl-button classList="invert" routerLink="..">Close</cl-button>
    <!--    <cl-button classList="third" routerLink="..">Save as a draft</cl-button>-->
    <!--    <cl-button *ngIf="!isLastStep" classList="primary" (click)="goNext()">Next</cl-button>-->
    <!--    <cl-button *ngIf="isLastStep" classList="primary" (click)="openDialog()">Launch</cl-button>-->
    <cl-button classList="primary">Edit</cl-button>
  </div>
</div>

<div class="campaign-detail-content">
  <!--Vouchers-->
  <mat-expansion-panel class="card">
    <mat-expansion-panel-header class="card-header">
      <p class="card-title">
        Voucher codes Issued (15 Campaigns)
      </p>
    </mat-expansion-panel-header>
    <div class="card-content">

    </div>
  </mat-expansion-panel>

  <!--Vouchers-->
  <mat-expansion-panel class="card">
    <mat-expansion-panel-header class="card-header">
      <p class="card-title">
        Reward Info
      </p>
    </mat-expansion-panel-header>
    <div class="card-content">
    </div>
  </mat-expansion-panel>

  <!--Vouchers-->
  <mat-expansion-panel class="card">
    <mat-expansion-panel-header class="card-header">
      <p class="card-title">
        Merchant Info
      </p>
    </mat-expansion-panel-header>
    <div class="card-content">

    </div>
  </mat-expansion-panel>

  <!--Vouchers-->
  <mat-expansion-panel class="card">
    <mat-expansion-panel-header class="card-header">
      <p class="card-title">
        Vouchers
      </p>
    </mat-expansion-panel-header>
    <div class="card-content">

    </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="card">
    <mat-expansion-panel-header class="card-header">
      <p class="card-title">
        Limits
      </p>
    </mat-expansion-panel-header>
    <div class="card-content">

    </div>
  </mat-expansion-panel>
</div>
