@import "variables";

:host {
  font-size: $base-font-size;
  background-color: $background-color;
}

.reward-detail {
  &-filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-status-filter {
    width: 19.4rem;
  }

  &-vouchers-value {
    font-family: $primary-font;
    font-size: 5.4rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $white;
  }
}
