<div class="card-section">
  <div class="card-header">
    <div class="row">
      <h2 class="card-title">
        Voucher Limits Per Campaign
      </h2>
      <mat-slide-toggle color="primary" [formControl]="formGroup.get('enabledVoucherPerCampaign')"></mat-slide-toggle>
    </div>
  </div>
  <div class="card-content">
    <div class="input-group">
      <!--input number-->
      <mat-form-field class="half-on-mobile">
        <input
          type="number"
          min="0"
          step="1"
          [formControl]="formGroup.get('voucherPerCampaign.vouchers')"
          matInput>
        <span matSuffix>Vouchers</span>
      </mat-form-field>
      <!--/ input number-->
      <span>per campaign, per</span>
      <!-- duration Limits-->
      <mat-form-field class="half-on-mobile">
        <mat-select [formControl]="formGroup.get('voucherPerCampaign.duration')">
          <ng-container *ngFor="let option of config?.durationLimits">
            <mat-option [value]="option?.value">{{option?.title}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <!--/ duration Limits-->
    </div>
  </div>
</div>

<div class="card-section">
  <div class="card-header">
    <div class="row">
      <h2 class="card-title">
        Issuance Limits Per User
      </h2>
      <mat-slide-toggle color="primary" [formControl]="formGroup.get('enabledIssuancePerUser')"></mat-slide-toggle>
    </div>
  </div>
  <div class="card-content">
    <div class="input-group">
      <!--input number-->
      <mat-form-field class="half-on-mobile">
        <input
          type="number"
          min="0"
          step="1"
          [formControl]="formGroup.get('issuancePerUser.times')"
          matInput>
        <span matSuffix>Times</span>
      </mat-form-field>
      <!--/input number-->

      <span>per campaign, per</span>

      <!-- duration Limits-->
      <mat-form-field class="half-on-mobile">
        <mat-select [formControl]="formGroup.get('issuancePerUser.duration')">
          <ng-container *ngFor="let option of config?.durationLimits">
            <mat-option [value]="option?.value">{{option?.title}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <!--/ duration Limits-->
    </div>
  </div>
</div>

<div class="card-section">
  <div class="card-header">
    <div class="row">
      <h2 class="card-title">
        Redemption Limits Per User
      </h2>
      <mat-slide-toggle color="primary" [formControl]="formGroup.get('enabledRedemptionPerUser')"></mat-slide-toggle>
    </div>
  </div>
  <div class="card-content">
    <div class="input-group">
      <!--input number-->
      <mat-form-field class="half-on-mobile">
        <input
          type="number"
          min="0"
          step="1"
          [formControl]="formGroup.get('redemptionPerUser.times')"
          matInput>
        <span matSuffix>Times</span>
      </mat-form-field>
      <!--/ input number-->
      <span>per campaign, per</span>
      <!-- duration Limits-->
      <mat-form-field class="half-on-mobile">
        <mat-select [formControl]="formGroup.get('redemptionPerUser.duration')">
          <ng-container *ngFor="let option of config?.durationLimits">
            <mat-option [value]="option?.value">{{option?.title}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <!--/ duration Limits-->
    </div>
  </div>
</div>
