/* You can add global styles to this file, and also import other style files */
// @import ~@angular/material/theming;
@import "./custom-theme.scss";

:root {
  --font: Roboto;
  --logo: "assets/header_logo.png";
  --title: "all-it";
  --accent: #0088D1;
  --primary: #ffffff;
  --button_text_color: #ffffff;
  --button_background_color: #0F69AF;
  --header_color: #000000;
  --background: #ffffff;
  --font_color: #212121;
}

html {
  font-size: 62.5%;
  font-family: var(--font);
  font-style: normal;
  background-color: #fafafa;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--background);
  color: var(--font_color);
}

.mat-primary {
  color: black !important;
}

button.mat-primary {
  background-color: var(--button_background_color) !important;
  color: var(--button_text_color) !important;
}

.mat-accent {
  color: var(--accent) !important;
}

button.mat-accent {
  background-color: var(--accent) !important;
  color: var(--button_text_color) !important;
}

button.mat-default {
  background-color: #fff !important;
  color: var(--font_color) !important;
}

button.mat-stroked-button {
  background-color: white !important;
  color: var(--accent) !important;
  border: 1px solid var(--accent) !important;
}

.mat-toolbar {
  background-color: var(--header_color) !important;
}

.actions-container {
  background-color: transparent;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 6rem;
  padding: 1rem 1.2rem;
  box-sizing: border-box;
  text-align: center;

  button {
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 0;
    text-transform: uppercase;
  }
}

.backArrow {
  color: var(--button_text_color);
}
