@import "variables";

.reward {
  &-btn-cancel {
    padding-right: 0.8rem;
  }
}

.game {
  &-selected-graphic {
    margin-bottom: 4rem;
    display: flex;
  }

  &-title {
    display: flex;
    align-items: center;
  }
}

.info-text {
  @include typo-caption;

  color: $white;
  display: block;
  min-width: 22rem;
}
