<div class="validation-header">
  <div class="container container-header">
    <button mat-icon-button class="header-left-icon" (click)="goBack()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <img src="assets/images/logo.png" class="validation-header-logo" alt="">
  </div>
</div>
<div class="container">
  <div class="validation-description">
    <p>{{"SIGN_UP_PAGE.THANKS_FOR_REGISTER" | translate}}</p>
    <p>
      <ng-container>{{"SIGN_UP_PAGE.OTP_SENT" | translate}}</ng-container>
      (******78)
      <ng-container>{{"SIGN_UP_PAGE.CHECK_SMS" | translate}}</ng-container>
    </p>
  </div>
  <perx-core-pin-input [length]="6" (full)="validate($event)"></perx-core-pin-input>
  <p class="resend-sms" (click)="resendSms()">{{"SIGN_UP_PAGE.RESEND_SMS" | translate}}</p>
</div>
