<div class="validation-header">
  <img src="assets/images/logo.png" class="validation-header-logo" alt="">
</div>
<div class="container">
  <div class="validation-description">
    <p>Thank you for registering as a Home+ member.</p>
    <p>
      The one-time password has been sent to your phone number (******78) in a short message.
      Please check the SMS to complete the registration process.
    </p>
  </div>
  <perx-core-pin-input [length]="6" (full)="validate($event)"></perx-core-pin-input>
  <p class="resend-sms" (click)="resendSms()">Resend authentication SMS</p>
</div>
