<div class="validation-header">
  <img src="assets/images/logo.png" class="validation-header-logo" alt="">
</div>
<div class="container">
  <div class="validation-description">
    <p>{{"THANKS_FOR_REGISTER" | translate}}</p>
    <p>
      <ng-container>{{"OTP_SENT" | translate}}</ng-container>
      (******78)
      <ng-container>{{"CHECK_SMS" | translate}}</ng-container>
    </p>
  </div>
  <perx-core-pin-input [length]="6" (full)="validate($event)"></perx-core-pin-input>
  <p class="resend-sms" (click)="resendSms()">{{"RESEND_SMS" | translate}}</p>
</div>
