@import "~@angular/material/theming";

$custom-typography: mat-typography-config(
  $font-family: "Poppins, sans-serif",
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);
// Override typography for all Angular Material, including mat-base-typography and all components.
@include mat-core($custom-typography);

$custom-red: map-merge(
  $mat-red,
  (
    500: #db1e2b,
  )
);

$primary: mat-palette($custom-red);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

.dark-theme {
  color: $light-primary-text;
  $dark-primary: mat-palette($custom-red);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

// TRAN-27
perx-blackcomb-pages-login,
app-signup {
  .content-container {
    background-image: url("/assets/login_background.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
