<div class="question-group-field">

  <!--questions form array-->
  <cl-question-form-field *ngFor="let item of surveyQuestionGroup.controls; let i = index;"
                          [group]="item"
                          [clOpenClose]="currentIndex + '-' + i"
                          [currentIndex]="currentIndex + '-' + i"
                          [level]="level + 1"
  >
  </cl-question-form-field>
  <!--end questions form array-->

  <cl-question-type class="question-select-type"
                    addQuestionType="true"
                    (selectTypeQuestion)="choseTypeQuestion($event)"
  >
    <cl-button [classList]="'tertiary'"
    >
        <span>
         + Add Sub Question
        </span>
    </cl-button>
  </cl-question-type>
</div>


