<aside class="dialog" role="dialog" aria-labelledby="dialogTitle-changeExpiryDate">
  <header class="dialog-header-wrap">
    <h2 class="dialog-title" id="dialogTitle-changeExpiryDate">
      {{'AUDIENCE_FEATURE.ADJUST_POINTS' | translate}}
    </h2>
    <button class="dialog-closed btn-transparent" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <mat-dialog-content>
    <div class="dialog-content">
      <mat-form-field *ngIf="balance">
        <input type="number"
               [min]="0"
               [step]="0.1"
               matInput
               [formControl]="balance"
               [placeholder]="'AUDIENCE_FEATURE.ADD_REMOVE_POINTS' | translate">
        <mat-error *ngIf="balance.hasError('required') && balance.touched">{{'ERROR_REQUIRED' | translate}}</mat-error>
        <mat-error *ngIf="balance.hasError('min') && balance.touched">{{'ERROR_MIN' | translate}} 1</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="description">
        <textarea matInput
                  [placeholder]="'AUDIENCE_FEATURE.ADJUST_DESCRIPTION' | translate"
                  [formControl]="description">
        </textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <footer class="dialog-actions">
    <cs-button classList="secondary"
               class="actions-close"
               (click)="close()"
               [disableRipple]="true">
      <span>{{'BTN_CANCEL' | translate}}</span>
    </cs-button>

    <cs-button classList="primary"
               (click)="save()"
               [disableRipple]="true">
      <span>{{'AUDIENCE_FEATURE.ADJUST_POINTS_BTN_APPLY' | translate}}</span>
    </cs-button>
  </footer>
</aside>


