<aside class="dialog" role="dialog" aria-labelledby="dialogTitle-changeExpiryDate">
  <header class="dialog-header-wrap">
    <h2 class="dialog-title" id="dialogTitle-changeExpiryDate">
      {{'AUDIENCE_FEATURE.ADJUST_POINTS' | translate}}
    </h2>
    <button class="dialog-closed btn-transparent" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <mat-dialog-content>
    <div class="dialog-content">

    </div>
  </mat-dialog-content>
  <footer class="dialog-actions">
    <cl-button classList="secondary"
               class="actions-close"
               (click)="close()"
               [disableRipple]="true">
        <span>{{'BTN_CANCEL' | translate}}</span>
    </cl-button>

    <cl-button classList="primary"
               (click)="save()"
               [disableRipple]="true">
        <span>{{'ADJUST_POINTS_BTN_APPLY' | translate}}</span>
    </cl-button>
  </footer>
</aside>


