@import "../../../../styles/helper";
@import "../../../../styles/variables";

.dialog {

  &-header-wrap {
    width: rem(662px);
    height: rem(62px);
    background-color: rgba(217, 223, 228, 0.2);
    position: relative;
    display: flex;
    align-items: center;
    padding-left: rem(40px);
    box-sizing: border-box;
  }

  &-title {
    font-size: 16px;
    line-height: 1.23;
    font-weight: bold;
    color: $secondary-color;
    margin: 0;
  }

  &-closed {
    position: absolute;
    right: 15px;
    top: 15px;
    color: $secondary-color;
  }

  &-content-title {
    font-size: 22px;
    line-height: 1.23;
    font-weight: bold;
    color: $secondary-color;
    padding: rem(31px) rem(40px);
    box-sizing: border-box;
  }
}
