@import "../../../../styles/helper";
@import "../../../../styles/variables";

.dialog {

  &-header-wrap {
    width: rem(662px);
    height: rem(62px);
    background-color: rgba(217, 223, 228, 0.2);
    position: relative;
    display: flex;
    align-items: center;
    padding-left: rem(30px);
    box-sizing: border-box;
  }

  &-title {
    font-size: 16px;
    line-height: 1.23;
    font-weight: bold;
    color: $secondary-color;
    margin: 0;
  }

  &-closed {
    position: absolute;
    right: 15px;
    top: 15px;
    color: $secondary-color;
  }

  &-content {
    padding-top: rem(30px);
  }

  &-content-title {
    font-size: 22px;
    line-height: 1.23;
    font-weight: bold;
    color: $secondary-color;
    box-sizing: border-box;
  }

  &-actions {
    display: flex;
    justify-content: flex-end;
    padding: rem(34px) rem(40px);

    &.type-survey {
      padding: 0 rem(40px) rem(34px) rem(40px);
    }
  }
}

.nested-type {
  transition: .5s cubic-bezier(.35,0,.25,1);
}

.actions {

  &-close {
    display: block;
    margin-right: rem(12px);
  }
}
