<div class="dialog-header-wrap">
  <h2 mat-dialog-title class="dialog-title">Create Engagement</h2>
  <button class="dialog-closed btn-transparent" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div class="dialog-content">
    <p class="dialog-content-title">
      Select Engagement Type
    </p>
    <cl-ink [border]="true" [triangle]="true">
      <cl-engagement-type #engagementHost [clInkHost]="engagementHost" (onSelectedType)="setType($event)">
      </cl-engagement-type>
    </cl-ink>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>
