/* You can add global styles to this file, and also import other style files */
@import '~saturn-datepicker/theming';
@import 'styles/variables';
@import 'styles/page-header';
@import 'styles/common';
@import 'styles/icon-svg';
@import 'styles/tables';
@import 'styles/item-list';
@import 'styles/btn-list';
@import 'engagement-game';
@import 'buttons';
@import 'engagement-question-component';
@import 'resize_common';
@import 'styles/preview';
@import 'styles/card';
@import 'styles/dialog';
@import 'styles/vertical-tabs';
@import 'styles/charts';
@import 'styles/select-color';
@import 'styles/report';
@import 'styles/campaign-channels';
@import 'styles/snack-bar';
// https://stackoverflow.com/questions/46271898/overriding-angular-material-size-and-styling-of-md-dialog-container
.custom-dialog-container .mat-dialog-container {
  /* add your styles */
  box-shadow: none !important;
  border: 1px solid #3E4E73;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .snake-preview-ext {
    display: flex;
    flex-direction: row-reverse;
  }
}
