<mat-card>
  <h1>Contact Us</h1>
  <p>
    Need to get in touch with us?
  </p>
  <p>
    Email us and we'll reply to you shortly
  </p>
  <p>
    If you need assistance regarding the access to redeem your treat<br />
    <a href="mailto:prusupport@perxtech.com">
      prusupport@perxtech.com
    </a>
  </p>
  <p>
    If you have questions related to your Prudential's policy<br />
    <a href="mailto:customer.service@prudential.com.sg">
      customer.service@prudential.com.sg
    </a>
  </p>
</mat-card>
