@import "variables";

.type-block {
  height: 100%;
  width: 100%;
  max-width: ($horizontal-padding * 6);

  @include typo-input-alt;
}

@media (min-width: $tablet-width + 1) {
  cl-table-filters {
    margin-right: ($horizontal-padding * 0.5);
  }
}
