@import "variables";
@import "helper";

.type {

  &-item {
    cursor: pointer;
    position: relative;
    width: rem(137px);
    height: rem(127px);
    background-color: $light-gray;
    padding: rem(16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid transparent;
  }

  &-title {
    font-family: $base-font-family;
    font-size: 14px;
    font-weight: 500;
    color: $secondary-color;
    position: absolute;
    bottom: rem(20px);
    text-align: center;
  }
}

.active {
  border: solid 2px #116fff;

  &:after {
    content: '';
    display: block;
    height: rem(42px);
    width: rem(42px);
    position: absolute;
    top: 0;
    right: -1px;
    background: url("/assets/images/engagement-type/active.svg") no-repeat;
  }

}
