@import "variables";

.reward-item {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.74rem 1.5rem;
  background-color: $simple-light-gray;

  &-img-block {
    position: relative;
    height: 6.3rem;
    width: 6.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-no-img {
    height: 3rem;
    width: 3rem;
  }

  &-info {
    flex: 1;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0 0 0 1.4rem;
    font-family: $primary-font;
  }

  &-name {
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: $base-font-color;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  &-type {
    margin-top: 0.5rem;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: $secondary-color;
  }

  &-progress {
    flex: 1;
  }

  &-probability {
    height: 6.3rem;
    margin-right: 4rem;
  }

  &-probability-label {
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: $secondary-color;
    margin: 0 1.4rem 0 0;
  }

  &-probability-input {
    width: 10rem;
    font-size: 1.6rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: normal;
    color: $base-font-color;
    text-align: right;

    .invalid {
      color: $warning-color;
    }
  }

  &-probability-preview {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
  }

  &-actions {
    min-width: 8rem;
    text-align: right;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}
