<div class="reward-item">
  <div class="reward-item-wrap">
    <div class="reward-item-container">
      <div class="reward-item-img-block">
        <img class="reward-item-img" *ngIf="data?.image" [src]="data?.image">
        <img class="reward-item-no-img" *ngIf="!data?.image" src="assets/images/icons/deactivate.svg">
      </div>
      <div class="reward-item-info">
        <p class="reward-item-name">{{data?.name || ('CAMPAIGN.NO_REWARD' | translate)}}</p>
        <p class="reward-item-type" *ngIf="data?.merchantName">{{data?.merchantName}}</p>
      </div>
      <!-- <cl-progress-bar class="reward-item-progress"
                      *ngIf="data?.current && data?.total"
                      [current]="data?.current"
                      [total]="data?.total">
      </cl-progress-bar> -->
      <div class="reward-item-limit">
        <mat-form-field class="reward-item-limit-input">
          <input
            type="number"
            min="0"
            max="availabelCodeCount"
            step="1"
            matInput
            [class.invalid]="isInvalid"
            [formControl]="limit">
          <span matSuffix>/{{availabelCodeCount}}</span>
        </mat-form-field>
      </div>
    </div>
    <div class="reward-item-probability" *ngIf="probability.enabled">
      <span class="reward-item-probability-label">
        {{'CAMPAIGN.PROBABILITY' | translate}}
      </span>
      <mat-form-field class="reward-item-probability-input">
        <input
          type="number"
          min="0"
          max="100"
          step="1"
          matInput
          [class.invalid]="isInvalid"
          [formControl]="probability">
        <span matSuffix>%</span>
      </mat-form-field>
    </div>    
  </div>
  <div class="reward-item-actions">
    <!--    <button mat-icon-button (click)="delete()">-->
    <!--      <i class="icon delete-action"></i>-->
    <!--    </button>-->
    <button mat-icon-button *ngIf="data?.name" (click)="delete()">
      <i class="icon full-with delete-action"></i>
    </button>
  </div>
</div>
