@import "variables";

.reward-item {
  width: 100%;
  min-height: 8rem;
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;
  padding: ($vertical-padding * 0.5) ($horizontal-padding * 0.5);
  background-color: $background-color;
  border-radius: $border-radius;

  &-wrap {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-right: ($horizontal-padding * 0.5);
  }

  &-container {
    display: grid;
    min-width: ($horizontal-padding * 10);
    grid-template-columns: $thumbnail-size auto minmax($progressbar-min, $progressbar-max);
    grid-gap: ($horizontal-padding * 0.5);
    align-items: center;
    flex: 1 0 ($horizontal-padding * 10);
  }

  &-img-block {
    height: $thumbnail-size;
    width: $thumbnail-size;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $light-gray;
    margin-right: ($horizontal-padding * 0.5);
  }

  &-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-no-img {
    height: ($thumbnail-size / 1.5);
    width: ($thumbnail-size / 1.5);
  }

  &-info {
    @include typo-body2;

    flex: 1;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0;
  }

  &-name {
    color: $base-font-color;
  }

  &-type {
    color: $secondary-color;
  }

  &-progress {
    flex: 1;
  }

  &-probability,
  &-limit {
    display: flex;
    margin-left: auto;
    align-items: baseline;
    padding-left: ($horizontal-padding * 0.5);
    width: 16rem;
  }

  &-probability-label,
  &-limit-label {
    @include typo-body2;

    color: $secondary-color;
    margin: 0 1.4rem 0 0;
  }

  &-probability-input,
  &-limit-input {
    @include typo-input;

    width: 100%;
    color: $base-font-color;
    text-align: right;

    .invalid {
      color: $warning-color;
    }
  }

  &-limit-input {
    max-width: 7rem;
  }

  &-probability-preview {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
  }

  &-actions {
    flex-shrink: 0;
    width: 4rem;
    text-align: right;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}
