<article class="create-merchant-form" [formGroup]="formMerchant">
  <header class="page-header full-with">
    <mat-form-field class="pagetitle-input" floatLabel="never">
      <input type="text" matInput formControlName="name" placeholder="Enter title here">
      <mat-error *ngIf="name.hasError('required')">Required field</mat-error>
      <mat-error *ngIf="name.hasError('minlength')">Min length 1</mat-error>
      <mat-error *ngIf="name.hasError('maxlength')">Max length 60</mat-error>
    </mat-form-field>
    <div class="btn-group">
      <cl-button [classList]="'secondary'"
                 class="merchant-btn-cancel"
                 (click)="comeBack()"
      >
        <span>
          Cancel
        </span>
      </cl-button>
      <cl-button [classList]="'primary cta cta-save'"
                 (click)="save()"
      >
        <span>
          Save
        </span>
      </cl-button>
    </div>
  </header>
  <section class="content form-limiter">
    <div class="phonepreview-wrapper">
      <div class="merchant-main-block">
        <mat-card class="card-fieldset">
          <div class="merchant-wrap">
            <p class="merchant-title">
              Merchant Info
            </p>
          </div>
          <cl-create-merchant-form [formMerchant]="formMerchant"></cl-create-merchant-form>
        </mat-card>
      </div>
    </div>
  </section>
</article>

