<article class="create-merchant-form" [formGroup]="formMerchant">
  <header class="page-header full-with">
    <mat-form-field class="pagetitle-input" floatLabel="never">
      <input type="text" matInput formControlName="name" [placeholder]="'MERCHANTS' | translate">
      <mat-error *ngIf="name.hasError('required')">{{'ERROR_REQUIRED' | translate}}</mat-error>
      <mat-error *ngIf="name.hasError('minlength')">{{'ERROR_MIN_LENGTH' | translate}} 1</mat-error>
      <mat-error *ngIf="name.hasError('maxlength')">{{'ERROR_MAX_LENGTH' | translate}} 60</mat-error>
    </mat-form-field>
    <div class="btn-group">
      <cl-button [classList]="'secondary'"
                 class="merchant-btn-cancel"
                 (click)="comeBack()"
      >
        <span>
          {{'BTN_CANCEL' | translate}}
        </span>
      </cl-button>
      <cl-button [classList]="'primary cta cta-save'"
                 (click)="save()"
      >
        <span>
          {{'BTN_SAVE' | translate}}
        </span>
      </cl-button>
    </div>
  </header>
  <section class="content form-limiter">
    <div class="phonepreview-wrapper">
      <div class="merchant-main-block">
        <mat-card class="card-fieldset">
          <div class="merchant-wrap">
            <p class="merchant-title">
              {{'MERCHANT_INFO' | translate}}
            </p>
          </div>
          <cl-create-merchant-form [formMerchant]="formMerchant"></cl-create-merchant-form>
        </mat-card>
      </div>
    </div>
  </section>
</article>

