@import "variables";
.merchant {
  &-title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.35;
    color: $secondary-color;
  }

  &-btn-cancel {
    margin-right: 0.8rem;
  }

  &-main-block {
    width: 84rem;
    margin: 0 auto;
  }
}
