.reward-confirm-title {
  margin: 0 0 1.3rem;
  font-size: 2rem;
  line-height: 2.3rem;
}

p {
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 0 0 4rem;
}

.reward-confirm-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
