@import "../../../../theme/variables";
.every-day{
    background-color: $white;
    padding: 10px 16px;
    
    .title{
        color: $medium-blue;
    }
    .description{
        color: $grey;
    }
}