:host {
  display: flex;
}

.logo {
  &-link {
    display: flex;
    width: 7.7rem;
    height: auto;
    transition: 0.5s;
  }

  &-img {
    width: 100%;
    height: auto;
    max-height: 100%;
  }
}

.medium {
  width: 6.1rem;
}

.small {
  width: 5rem;
}
