@import "../../../icon.scss";

.header {
  overflow: hidden;
  border-radius: 1rem;

  img {
    width: 100%;
    max-height: 20.7rem;
    object-fit: cover;
  }

  button {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .icon {
    @include icon();
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  a {
    width: 80%;
    padding: 0.5rem;
  }
}

.mat-dialog-content {
  font-size: 1.6rem;
  white-space: pre-line;
  margin: 0 0.5rem;
  color: #666666;
}
