<article class="scratch-wrap" *ngIf="scratchData" [formGroup]="form">
  <header class="page-header full-with">
    <mat-form-field class="pagetitle-input" floatLabel="never">
      <input type="text" matInput formControlName="name" [placeholder]="'ENTER_TITLE_HERE' | translate">
      <mat-error *ngIf="name.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
      <mat-error *ngIf="name.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 1</mat-error>
      <mat-error *ngIf="name.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> 60</mat-error>
    </mat-form-field>
    <div class="btn-group">
      <cl-button [classList]="'secondary'"
                 class="scratch-btn-cancel"
                 (click)="comeBack()"
      >
       <span translate>
          BTN_CANCEL
        </span>
      </cl-button>
      <cl-button [classList]="'primary'"
                 (click)="save()"
      >
        <span translate>
          BTN_SAVE
        </span>
      </cl-button>
    </div>
  </header>
  <section class="content form-limiter">
    <div class="phonepreview-wrapper">
      <div class="scratch-form">
        <mat-card class="card-fieldset">
          <h2 class="card-fieldset-title sub-title" translate>
            MESSAGES
          </h2>
          <div class="scratch-form">
            <div class="control-input">
              <mat-form-field class="messages-input">
                <input type="text" [placeholder]="'HEADLINE_MESSAGE' | translate" matInput formControlName="headlineMessage">
                <mat-hint align="end">{{headlineMessage.value?.length || 0}}/60</mat-hint>
                <mat-error *ngIf="headlineMessage.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
                <mat-error *ngIf="headlineMessage.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 5</mat-error>
                <mat-error *ngIf="headlineMessage.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> 60</mat-error>
              </mat-form-field>
            </div>
            <div class="control-input">
              <mat-form-field class="messages-input">
                <input type="text" matInput [placeholder]="'SUB-HEADLINE_MESSAGE' | translate" formControlName="subHeadlineMessage">
                <mat-hint align="end">{{subHeadlineMessage.value?.length || 0}}/60</mat-hint>
                <mat-error *ngIf="subHeadlineMessage.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
                <mat-error *ngIf="subHeadlineMessage.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 5</mat-error>
                <mat-error *ngIf="subHeadlineMessage.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> 60</mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card>

        <mat-card class="card-fieldset">
          <h2 class="card-fieldset-title sub-title" translate>
            GAME_DETAILS
          </h2>
          <div class="game-form">

            <div class="control-img_asset">
              <h3 class="card-fieldset-label" translate>
                PRE-SCRATCH_IMAGE
              </h3>
              <div class="game-gift-box_field">
                <cl-select-graphic-wrap
                  *ngIf="scratchData.preScratchImage"
                  formControlName="preScratchImage"
                  [isRequired]="form.get('preScratchImage').hasError('required') && form.get('preScratchImage').touched"
                  class="game-selected-graphic"
                  [graphicList]="scratchData.preScratchImage"
                >
                </cl-select-graphic-wrap>
              </div>
            </div>

            <div class="control-img_asset">
              <h3 class="card-fieldset-label" translate>
                POST-SCRATCH_IMAGE_(SUCCESS)
              </h3>
              <div class="game-gift-box_field">
                <cl-select-graphic-wrap
                  *ngIf="scratchData.postScratchSuccessImage"
                  formControlName="postScratchSuccessImage"
                  (selectGraphic)="selectPostGraphic($event)"
                  [isRequired]="form.get('postScratchSuccessImage').hasError('required') && form.get('postScratchSuccessImage').touched"
                  class="game-selected-graphic"
                  [graphicList]="scratchData.postScratchSuccessImage"
                >
                </cl-select-graphic-wrap>
              </div>
            </div>

            <div class="control-img_asset">
              <h3 class="card-fieldset-label" translate>
                POST-SCRATCH_IMAGE_(FAIL)
              </h3>
              <div class="game-gift-box_field">
                <cl-select-graphic-wrap
                  *ngIf="scratchData.postScratchFailImage"
                  formControlName="postScratchFailImage"
                  (selectGraphic)="selectPostGraphic($event)"
                  [isRequired]="form.get('postScratchFailImage').hasError('required') && form.get('postScratchFailImage').touched"
                  class="game-selected-graphic"
                  [graphicList]="scratchData.postScratchFailImage"
                >
                </cl-select-graphic-wrap>
              </div>
            </div>
            <div class="control-img_asset">
              <h3 class="card-fieldset-label" translate>
                BACKGROUND
              </h3>
              <div class="game-gift-box_field">
                <cl-select-graphic-wrap
                  *ngIf="scratchData.background"
                  formControlName="background"
                  [isRequired]="form.get('background').hasError('required') && form.get('background').touched"
                  class="game-selected-graphic"
                  [graphicList]="scratchData.background"
                >
                </cl-select-graphic-wrap>
              </div>
            </div>
          </div>
        </mat-card>

        <mat-card class="card-fieldset">
          <div class="messages-wrap">
            <p class="sub-title" translate>
              CALL_TO_ACTION
            </p>
          </div>
          <div class="messages-form">
            <div class="control-input">
              <mat-form-field class="messages-input">
                <input type="text" [placeholder]="'BUTTON_TEXT' | translate" matInput formControlName="buttonText">
                <mat-hint align="end">{{buttonText.value?.length || 0}}/20</mat-hint>
                <mat-error *ngIf="buttonText.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
                <mat-error *ngIf="buttonText.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 2</mat-error>
                <mat-error *ngIf="buttonText.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> 20</mat-error>
              </mat-form-field>
            </div>
            <div class="control-input">
              <mat-form-field class="messages-input">
                <input type="text" [placeholder]="'LAST_BUTTON_TEXT' | translate" matInput formControlName="lastButtonText">
                <mat-hint align="end">{{buttonText.value?.length || 0}}/20</mat-hint>
                <mat-error *ngIf="buttonText.hasError('required')"><span translate>ERROR_REQUIRED</span></mat-error>
                <mat-error *ngIf="buttonText.hasError('minlength')"><span translate>ERROR_MIN_LENGTH</span> 2</mat-error>
                <mat-error *ngIf="buttonText.hasError('maxlength')"><span translate>ERROR_MAX_LENGTH</span> 20</mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card>
      </div>

      <cl-settings-mobile-preview
        [tabs]="['Pre-Scratch', 'Post-Scratch']"
      >
        <cl-simple-mobile-view class="firs-tab"
                               [background]="getImgLink(background, 'assets/images/background/background1.png')"
                               [mobileImageClass]="'mobile-non-header'"
                               [headerColor]="tenantSettings?.headerColor"
                               [logo]="tenantSettings?.logo"
                               [logoType]="tenantSettings?.logoType"
                               [fontFamily]="tenantSettings?.font"
        >

          <div class="mobile-preview-header">
            <p class="mobile-preview-headline light">
              {{headlineMessage.value}}
            </p>
            <p class="mobile-preview-sub-headline light">
              {{subHeadlineMessage.value}}
            </p>
          </div>
          <div class="mobile-preview-feedback">
            <div class="feedback-img-wrapper">
              <img
                class="img"
                [src]="getImgLink(preScratchImage, 'assets/images/background/background1.png')"
              >
            </div>
          </div>
          <div class="mobile-preview-btn-wrap mobile-btn-block">
            <button class="mobile-preview-btn"
                    [ngStyle]="{
                  backgroundColor: tenantSettings?.buttonColor,
                  'color': tenantSettings?.buttonTextColor,
                  'font-family': tenantSettings?.font
                }"
            >
              {{buttonText.value}}
            </button>
          </div>
        </cl-simple-mobile-view>

        <cl-simple-mobile-view class="second-tab"
                               [background]="getImgLink(background, 'assets/images/background/background1.png')"
                               [mobileImageClass]="'mobile-non-header'"
                               [headerColor]="tenantSettings?.headerColor"
                               [logo]="tenantSettings?.logo"
                               [logoType]="tenantSettings?.logoType"
                               [fontFamily]="tenantSettings?.font"
        >

          <div class="mobile-preview-header">
            <p class="mobile-preview-headline-light">
              {{headlineMessage.value}}
            </p>
            <p class="mobile-preview-sub-headline-light">
              {{subHeadlineMessage.value}}
            </p>
          </div>
          <div class="mobile-preview-feedback">
            <div class="feedback-img-wrapper">
              <img
                class="img"
                [src]="postScratchImage"
              >
            </div>
          </div>
          <div class="mobile-preview-btn-wrap mobile-btn-block">
            <button class="mobile-preview-btn"
                    [ngStyle]="{
                  backgroundColor: tenantSettings?.buttonColor,
                  'color': tenantSettings?.buttonTextColor,
                  'font-family': tenantSettings?.font
                }"
            >
              {{lastButtonText.value}}
            </button>
          </div>
        </cl-simple-mobile-view>
      </cl-settings-mobile-preview>
    </div>
  </section>
</article>
