<app-header [title]="title" [subTitle]="subTitle"> </app-header>

<div class="game-wrapper">
  <div class="game-wrapper__right">
    <ng-container *ngIf="game">
      <perx-core-pinata
        [stillImg]="'../../assets/still-img.png'"
        [openedImg]="'../../assets/opened-img.png'"
        (tap)="onTap($event)"
        [npTaps]="numberOfTaps"
        [enabled]="isEnabled"
      >
      </perx-core-pinata>
    </ng-container>
  </div>
</div>
<div class="actions-container">
  <button
    mat-flat-button
    color="primary"
    (click)="isEnabled = true"
    *ngIf="!isEnabled"
  >
    Start playing
  </button>
</div>
