@import "../icon.scss";

.icon {
  @include icon;
}

mat-toolbar {
  position: fixed;

  button {
    z-index: 1;
  }

  span.title {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  height: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: bottom;

  .labels {
    text-align: center;
    color: #666666;

    .title {
      font-size: 2.4rem;
    }

    .sub-title {
      font-size: 1.6rem;
    }
  }

  .game-wrapper {
    flex: 1 1 auto;
    overflow: scroll;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
  }

  .button-area {
    padding-bottom: 2rem;
  }

  button {
    width: 100%;
  }
}

.pinata-wrapper {
  max-height: 80%;
}

:host ::ng-deep .pinata-wrapper {
  height: 100%;

  div {
    height: 100%;
  }
}
