<div class="main">
  <div class="game-wrapper">
    <div class="labels">
      <h1 class="title">{{title}}</h1>
      <span class="sub-title">{{subTitle}}</span>
    </div>
    <div *ngIf="isGameAvailable" class="pinata-wrapper">
      <perx-core-pinata
        [stillImg]="game.config.stillImg"
        [openedImg]="game.config.brokenImg"
        (broken)="gameCompleted()"
        [nbTaps]="numberOfTaps"
        [enabled]="isEnabled">
      </perx-core-pinata>
    </div>
  </div>

  <div class="button-area">
    <button mat-flat-button color="primary" [disabled]="isButtonDisabled" (click)="isEnabled = true"
      [ngStyle]="{ 'visibility': isEnabled ? 'hidden': 'visible'}">
      {{buttonText}}
    </button>
  </div>
</div>