<div class="main" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
  <div class="game-wrapper">
    <div class="labels">
      <h1 class="title">{{title}}</h1>
      <span class="sub-title">{{subTitle}}</span>
    </div>
    <div *ngIf="gameData$ | async as game">
      <perx-core-pinata
        *ngIf="game && game.type === pinata"
        [stillImg]="game.config.stillImg"
        [openedImg]="game.config.brokenImg"
        [movingImg]="game.config.breakingImg"
        [nbTaps]="numberOfTaps"
        [enabled]="isEnabled"
        (broken)="gameCompleted()"
      >
      </perx-core-pinata>

      <perx-core-shake-tree
        *ngIf="game && game.type === shakeTheTree"
        [treeImg]="game.config.treeImg || 'assets/tree/tree.png'"
        [giftImg]="game.config.giftImg || 'assets/tree/gift.png'"
        [nbHangedGifts]="game.config.nbHangedGift"
        [nbFallingGifts]="game.config.nbGiftsToDrop"
        (completed)="gameCompleted()"
        [enabled]="isEnabled"
        [nbShakes]="numberOfTaps"
      >
      </perx-core-shake-tree>
      <page-scratch
        *ngIf="game && game.type === scratch"
        [willWin]="willWin"
        [game]="game"
        [enabled]="isEnabled"
        (loaded)="loadPreplay()"
        (broken)=preplayGameCompleted()>>
      </page-scratch>
    </div>
    <div class="button-area">
      <button mat-flat-button color="primary" [disabled]="isButtonDisabled" (click)="isEnabled = true"
              [ngStyle]="{ 'visibility': isEnabled ? 'hidden': 'visible'}">
        {{buttonText}}
      </button>
    </div>
  </div>
</div>
