<div *ngIf="gameData$ | async as game" class="h-100">
  <img class="background" *ngIf="game.backgroundImg" [src]="game.backgroundImg">
  <div [ngSwitch]="game.type" class="game">
    <perx-blackcomb-pages-shake
      *ngSwitchCase="'shake'"
      [game]="game"
      (broken)=gameCompleted()
    ></perx-blackcomb-pages-shake>
    <perx-blackcomb-pages-tap
      *ngSwitchCase="'tap'"
      [game]="game"
      (broken)=gameCompleted()
    ></perx-blackcomb-pages-tap>
    <perx-blackcomb-pages-scratch
      *ngSwitchCase="'scratch'"
      [willWin]="willWin"
      [game]="game"
      (loaded)="loadPreplay()"
      (broken)=preplayGameCompleted()
      ></perx-blackcomb-pages-scratch>
    <perx-blackcomb-pages-spin
      *ngSwitchCase="'spin'"
      [game]="game"
      [willWin]="willWin"
      (loaded)="loadPreplay()"
      (broken)=preplayGameCompleted()>
    </perx-blackcomb-pages-spin>
  </div>
</div>
