.survey-page {
  height: 100%;

  ::ng-deep{
    perx-core-survey {
      .survey-container {
        .question {
          color: var(--font_color);
        }
        .description {
          color: var(--font_color);
        }
        perx-core-survey-select {
          .mat-radio-label-content {
            color: var(--font_color);
          }
        }
      }
    }
  }
}
