.survey-page {
  height: 100%;

  ::ng-deep{
    perx-core-survey {
      .survey-container {
        .mat-stepper-next {
          color: var(--button_text_color);
          background-color: var(--button_background_color);
        }
      }
    }
  }
}
