<mat-expansion-panel class="card" expanded>
  <mat-expansion-panel-header class="card-header">
    <h2 class="card-title">
      {{tierName || ('LOYALTY_FEATURE.GENERAL_RULES' | translate)}}
    </h2>
  </mat-expansion-panel-header>

  <div class="card-content" *ngIf="ruleSet">
    <label class="card-label">{{'LOYALTY_FEATURE.RULES_APPLICATION' | translate}}</label>
    <div class="card-row" [class.match-type-field-only-view]="!editable || ruleSet?.rules?.length < 2">
      <mat-form-field>
        <mat-select [value]="ruleSet.matchType" (valueChange)="changeMatchType($event)">
          <ng-container *ngFor="let matchTypeOption of config?.matchType">
            <mat-option [value]="matchTypeOption?.value">{{matchTypeOption?.title | translate}}</mat-option>
          </ng-container>
        </mat-select>
        <mat-hint>{{'LOYALTY_FEATURE.MATCH_TYPE.HINT' | translate}}</mat-hint>
      </mat-form-field>
    </div>
    <br>
    <br>
    <br>
    <label class="card-label">
      {{tierType === 'basicTier' ? ('LOYALTY_FEATURE.POINTS_EARN_RULES' | translate) : ''}}
      {{tierType === 'customTier' ? ('LOYALTY_FEATURE.SPECIALS_RULES' | translate) : ''}}
    </label>
    <cl-point-earn-rules-list *ngIf="ruleSet?.rules"
                              [editable]="editable"
                              [ruleSet]="ruleSet"
                              (rulesAction)="handleTiersAction($event)">
      <div class="rule-list-no-data">
        {{tierType === 'basicTier' ? ('LOYALTY_FEATURE.POINTS_EARN_RULES_NO_DATA' | translate) : ''}}
        {{tierType === 'customTier' ? ('LOYALTY_FEATURE.SPECIALS_RULES_NO_DATA' | translate) : ''}}
        {{tierName || ('LOYALTY_FEATURE.GENERAL_RULES' | translate)}}.
      </div>
    </cl-point-earn-rules-list>
    <cs-button *ngIf="editable"
               [classList]="'tertiary'"
               (click)="createRule()">
        <span>
         {{'LOYALTY_FEATURE.CREATE_RULE' | translate}}
        </span>
    </cs-button>
  </div>
</mat-expansion-panel>
