@import "variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graphic {
  &-line {
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: 3rem;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &-prefix {
    height: 4rem;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 0.7rem;

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        white-space: nowrap;
      }
    }

    &.small {
      width: 10%;
    }
  }

  &-line-progress {
    width: 65%;
    padding-right: 2.4rem;
    box-sizing: border-box;
  }

  &-suffix {
    display: flex;
  }

  &-percent {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    color: $custom-line-progress;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
  }
}
