<div class="container">
  <div class="header-container">
    <button mat-icon-button class="header-left-icon"
            *ngIf="routeData && (!routeData?.back && !routeData?.cross)"
            (click)="snav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button class="header-left-icon"
            *ngIf="routeData && routeData?.cross"
            (click)="goBack()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button class="header-left-icon"
            *ngIf="routeData && routeData?.back"
            (click)="goBack()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <img class="header-logo" src="assets/images/logo.png" alt="" *ngIf="!routeData?.title">
    <p class="header-title" *ngIf="routeData?.title">{{routeData.title}}</p>
  </div>


  <mat-sidenav-container>
    <mat-sidenav #snav position="start" class="sidenav"
                 [autoFocus]="false"
                 [fixedInViewport]="true">
      <mat-nav-list>
        <div class="nav_header">
          <img class="nav_logo" src="assets/images/logo.png" alt="">
          <p>Chen Haonan</p>
        </div>

        <mat-nav-list class="nav_links">
          <mat-list-item><a routerLink="/">{{"REWARDS" | translate}}</a></mat-list-item>
          <mat-list-item><a routerLink="/wallet">{{"MY_REWARDS" | translate}}</a></mat-list-item>
          <mat-list-item><a routerLink="/account">{{"MY_ACCOUNT" | translate}}</a></mat-list-item>
          <mat-list-item><a href="">{{"ABOUT_US" | translate}}</a></mat-list-item>
          <mat-list-item><a href="">{{"CONTACT_US" | translate}}</a></mat-list-item>
          <mat-list-item (click)="logout()">{{"LOGOUT" | translate}}</mat-list-item>
        </mat-nav-list>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content [class.sidenav-backdrop]="snav.opened" (click)="snav.close()">
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
