@import "../../styles/variables";

:host {
  display: flex;
  width: 100%;
  height: 5rem;
  background: #ecf6ed;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.nav_header {
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid #c4c4c4;
  font-size: 2rem;
  padding: 3.5rem 0 2.4rem;
}

.nav_links {
  font-size: 1.4rem;

  & > li {
    margin: 1rem 0;
    cursor: pointer;

    & > a {
      cursor: pointer;
    }
  }
}

.header-left-icon {
  position: absolute;
  left: 0;
}

.sidenav {
  left: 0;
  width: 25rem;
  padding: 0 2rem;
}

.nav_logo {
  width: 10rem;
  height: 10rem;
}

.header-logo {
  width: 5rem;
  height: 5rem;
}

.header-title {
  font-size: 1.6rem;
}

.sidenav-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
