<div class="container">
  <div class="header-container">
    <button mat-icon-button class="header-left-icon"
            *ngIf="routeData && (!routeData?.back && !routeData?.cross)"
            (click)="snav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button class="header-left-icon"
            *ngIf="routeData && routeData?.cross"
            (click)="goBack()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button class="header-left-icon"
            *ngIf="routeData && routeData?.back"
            (click)="goBack()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <a routerLink="/">
      <img class="header-logo" src="assets/images/logo.png" alt="" *ngIf="!routeData?.title">
    </a>
    <p class="header-title" *ngIf="routeData?.title">{{routeData.title | translate}}</p>
  </div>

  <mat-sidenav-container>
    <mat-sidenav #snav position="start" class="sidenav"
                 [autoFocus]="false"
                 [fixedInViewport]="true">
      <mat-nav-list>
        <div class="nav_header">
          <img class="nav_logo" src="assets/images/logo.png" alt="">
          <p>{{user?.lastName}}</p>
        </div>

        <mat-nav-list class="nav_links">
          <a mat-list-item routerLink="/">{{"NAVIGATION.REWARDS" | translate}}</a>
          <a mat-list-item routerLink="/history">{{"NAVIGATION.TRANSACTION_HISTORY" | translate}}</a>
          <a mat-list-item routerLink="/wallet">{{"NAVIGATION.MY_REWARDS" | translate}}</a>
          <a mat-list-item routerLink="/account">{{"NAVIGATION.MY_ACCOUNT" | translate}}</a>
          <a mat-list-item href="https://home-plus.hk/index.php/about-us/" target="_blank">{{"NAVIGATION.ABOUT_US" | translate}}</a>
          <a mat-list-item href="mailto:contact@home-plus.hk" target="_blank">{{"NAVIGATION.CONTACT_US" | translate}}</a>
          <mat-list-item (click)="logout()">{{"NAVIGATION.LOGOUT" | translate}}</mat-list-item>
        </mat-nav-list>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content [class.sidenav-backdrop]="snav.opened" (click)="snav.close()">
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
