<header class="page-header">
  <h1 class="title">Audiences</h1>
  <cl-button (click)="openAddUserDialog()" classList="primary cta cta-new cta-new-adduser">Add User</cl-button>
</header>

<section class="content">
  <ng-container *ngIf="(hasData$ | async)">
    <!--tabs-->
    <cl-tabs-filter [tabs]="tabsFilterConfig" [formControl]="tabs"></cl-tabs-filter>

    <!--filters-->
    <ng-container [ngSwitch]="currentTab">
      <cl-table-filters *ngSwitchDefault [dataSource]="dataSource">
        <ng-container *clTableFilter="searchKey ; let filter">
          <cl-search-filter class="search-block" [control]="filter" placeholder="Search for users"></cl-search-filter>
        </ng-container>
      </cl-table-filters>

      <cl-table-filters *ngSwitchCase="'audience'" [dataSource]="audiencesDataSource">
        <ng-container *clTableFilter="searchKey ; let filter">
          <cl-search-filter class="search-block" [control]="filter" placeholder="Search for audience">
          </cl-search-filter>
        </ng-container>
      </cl-table-filters>
    </ng-container>

    <div class="table-card">
      <!-- table-->
      <ng-container [ngSwitch]="currentTab">
        <cl-audiences-users-list *ngSwitchDefault (clickManageList)="openManageListDialog($event)"
                                 [dataSource]="dataSource">
        </cl-audiences-users-list>
        <cl-audiences-list *ngSwitchCase="'audience'"
                           [dataSource]="audiencesDataSource">
        </cl-audiences-list>
      </ng-container>
      <!-- /table-->
      <!-- paginator-->
      <ng-container [ngSwitch]="currentTab">
        <cl-paginator *ngSwitchDefault [dataSource]="dataSource" [pageSize]="5"
                      [pageSizeOptions]="[5, 10, 20]"></cl-paginator>
        <span *ngSwitchCase="'audience'"></span>
      </ng-container>
      <!-- /paginator-->
    </div>
  </ng-container>

  <cl-no-data *ngIf="(noData$ | async)">
    <img class="no-data-img" src="/assets/images/no-data/audience-empty-illustration.svg" alt="">
    <h2 class="no-data-title">
      Slice and dice your target audience
    </h2>
    <p class="no-data-text">
      Let&rsquo;s begin by creating your first Audience List
    </p>
  </cl-no-data>
</section>
