<header class="page-header full-with" [formGroup]="form">
  <mat-form-field class="pagetitle-input" floatLabel="never">
    <input type="text" matInput formControlName="name" [placeholder]="'ENTER_TITLE_HERE' | translate">
    <mat-error *ngIf="name.hasError('required')">{{'ERROR_REQUIRED' | translate}}</mat-error>
    <mat-error *ngIf="name.hasError('minlength')">{{'ERROR_MIN_LENGTH' | translate}} 1</mat-error>
    <mat-error *ngIf="name.hasError('maxlength')">{{'ERROR_MAX_LENGTH' | translate}} 60</mat-error>
  </mat-form-field>
  <!--  buttons-->
  <div class="btn-group">
    <cl-button classList="tertiary"
               *ngIf="!isEditPage"
               [disable]="loading"
               (click)="clickCancel()">
      {{'BTN_CANCEL' | translate}}
    </cl-button>
    <cl-button classList="tertiary"
               *ngIf="isEditPage"
               [disable]="loading"
               (click)="clickBack()">
      {{'BTN_BACK' | translate}}
    </cl-button>
    <cl-button classList="secondary"
               *ngIf="!isLastStep && showDraftButton"
               [disable]="loading"
               (click)="clickSaveAsDraft()">
      {{'BTN_SAVE_AS_DRAFT' | translate}}
    </cl-button>
    <cl-button classList="primary cta cta-next"
               *ngIf="!isLastStep"
               [disable]="loading"
               (click)="clickGoNext()">
      {{'BTN_NEXT' | translate}}
    </cl-button>
    <cl-button *ngIf="isLastStep"
               classList="primary cta cta-save cta-save-launch"
               [disable]="loading"
               (click)="clickLaunch()">
      {{'BTN_LAUNCH' | translate}}
    </cl-button>
  </div>
  <!--/  buttons-->
</header>

<section class="content form-limiter loyalty">
  <div class="loyalty-loader">
    <mat-progress-bar class="loyalty-loader-bar" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </div>
  <cs-horizontal-stepper
                          labelPosition="bottom"
                          #stepper
                          linear
                          (beforeSelectionChange)="clickStepLabel($event)"
                          [selectedIndex]="0">
    <!--step 1-->
    <cs-step>
      <ng-template csStepLabel>{{'LOYALTY_FEATURE.LOYALTY_DETAILS' | translate}}</ng-template>
      <cl-loyalty-form-step-details *ngIf="form && stepOne" [group]="stepOne"
                                    [pools]="manageConfig?.pools">
      </cl-loyalty-form-step-details>
    </cs-step>
    <!--step 2-->
    <cs-step>
      <ng-template csStepLabel>{{'LOYALTY_FEATURE.TIERS_CONVERSIONS' | translate}}</ng-template>
      <cl-loyalty-form-step-tiers-conversions *ngIf="stepProgress >= 1"
                                              [group]="stepTwo"
                                              [customTierDataSource]="customTierDataSource"
                                              (tiersConversionsAction)="handleLoyaltyActions($event)"
                                              [config]="manageConfig">

      </cl-loyalty-form-step-tiers-conversions>
    </cs-step>
    <!--step 3-->
    <cs-step>
      <ng-template csStepLabel>{{'LOYALTY_FEATURE.POINT_EARN_RULES' | translate}}</ng-template>
      <cl-loyalty-form-step-earn-rules *ngIf="stepProgress >= 2"
                                       [config]="manageConfig"
                                       [basicTierId]="basicTierId"
                                       [basicTierRuleSet]="basicTierRuleSet"
                                       [customTierRuleSetMap]="customTierRuleSetMap"
                                       [customTierDataSource]="customTierDataSource"
                                       (rulesAction)="handleLoyaltyActions($event)"></cl-loyalty-form-step-earn-rules>
      <div>
      </div>
    </cs-step>
    <!--step 4-->
    <cs-step>
      <ng-template csStepLabel>{{'LOYALTY_FEATURE.REVIEW' | translate}}</ng-template>
      <cl-view-loyalty *ngIf="stepProgress >= 3"
                       [config]="viewConfig"
                       [loyaltyData]="form.value"
                       [dataSource]="customTierDataSource"
                       [basicTierRuleSet]="basicTierRuleSet"
                       [customTierRuleSetMap]="customTierRuleSetMap"
      ></cl-view-loyalty>
    </cs-step>
  </cs-horizontal-stepper>
</section>

