<mat-accordion class="search-popup">
  <mat-expansion-panel class="search-mat-panel" hideToggle [expanded]='isExpanded' disabled>
    <mat-expansion-panel-header class="search-mat-panel-header">
      <ng-container *ngIf="isSearchPage(); then searchPageInput else searchDefaultInput">
      </ng-container>
      <ng-template #searchPageInput>
        <div class="search-wrapper">
          <input type="text" class="input-search" placeholder="Search deals" (keydown)="$event.stopPropagation()" (focus)="isExpanded=true" (keyup)="searchValueChange($event)" (blur)="onBlur()" [value]="searchValue">
          <img class="search-icon" [src]=" isSearching ? 'assets/images/close.svg' : 'assets/images/search-outline.svg'" (click)="searchValue && clearSearchValue($event)"/>
        </div>
      </ng-template>
      <ng-template #searchDefaultInput>
        <div class="search-wrapper" (click)="navigateToSearchPage()">
          <input type="text" class="input-search" placeholder="Search deals">
          <img class="search-icon" src="assets/images/search-outline.svg"/>
        </div>
      </ng-template>

    </mat-expansion-panel-header>
      <div class="recommend" *ngIf="searchSuggestion.length">
        <ul>
          <li *ngFor="let item of searchSuggestion" (click)="search(item)">
            {{item}}
          </li>
        </ul>
      </div>
  </mat-expansion-panel>
</mat-accordion>

