<mat-accordion class="search-popup">
  <mat-expansion-panel class="search-mat-panel" hideToggle [expanded]='isExpanded' disabled>
    <mat-expansion-panel-header class="search-mat-panel-header">
      <div class="search-wrapper">
        <input type="text" class="input-search" placeholder="Search deals" (focus)="isExpanded=true" (keyup)="searchValueChange($event)" [value]="searchValue">
        <img class="search-icon" [src]=" isSearching ? 'assets/images/close.svg' : 'assets/images/search-outline.svg'" (click)="searchValue && clearSearchValue($event)"/>
      </div>
      <div class="recommend" *ngIf="filteredSearchHistories.length">
        <ul>
          <li *ngFor="let item of filteredSearchHistories" (click)="search(item)">
            {{item}}
          </li>
        </ul>
      </div>
    </mat-expansion-panel-header>
    <div class="trending">
      <h5>Trending</h5>
      <div class="content">
        <span *ngFor="let item of trendingList">
          {{item}}
        </span>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

