:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #666666;
}

h2 {
  color: #666666;
}

mat-toolbar {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 2rem;
  height: auto;

  h1 {
    font-size: 2.5rem;
    color: #6dc00e;
    font-weight: bold;
  }

  h2 {
    font-size: 1.6rem;
    color: #666666;
  }
}

.main {
  flex: 1;
  overflow-y: scroll;

  a {
    text-decoration: none;
  }

  .txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .single-voucher {
    padding: 3rem 4rem;

    .featured-image {
      height: 21.1rem;
      text-align: center;
      position: relative;
      margin: -16px -16px 16px -16px;
      display: flex;

      img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        width: auto;
        height: auto;
      }
    }

    h1 {
      font-size: 2rem;
      font-weight: normal;
    }

    h2 {
      font-size: 1.6rem;
      font-weight: normal;
      margin: 0;
    }

    .txt {
      padding-top: 1rem;
      margin-bottom: 3.6rem;
    }

    .logo {
      position: absolute;
      left: 50%;
      top: -1.6rem;
      transform: translate(-50%, -50%);

      img {
        border-radius: 0.5rem;
        width: 8rem;
        height: 5rem;
        object-fit: cover;
      }
    }

    mat-card-content {
      position: relative;
    }
  }

  .multiple-vouchers {
    padding: 3rem 1.5rem;

    mat-card {
      padding: 0.8rem;
      display: flex;
      flex-direction: row;
      margin-bottom: 0.8rem;

      .featured-image {
        height: 10.9rem;

        img {
          margin: 0;
          display: block;
          width: 14.8rem;
          height: 100%;
          border-radius: 0.5rem;
        }
      }

      mat-card-content {
        flex-grow: 1;
        flex-basis: 0;
        padding-left: 0.8rem;
        display: flex;
        flex-direction: column;

        > div {
          flex: 1;
        }

        h1 {
          font-weight: normal;
          font-size: 1.6rem;
          color: #666666;
          margin: 0;
        }

        h2 {
          font-weight: normal;
          font-size: 1.2rem;
          color: #666666;
          margin: 0;
        }

        .logo {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: flex-end;
          width: 100%;
          height: 100%;

          img {
            width: 3rem;
            height: 3rem;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.actions {
  background: #ffffff;
  height: 9rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  a {
    flex: 1;
    margin: 1.6rem;
    font-size: 1.8rem;
    padding: 1rem 0;
  }
}
