<mat-toolbar>
  <h1>Congratulations, you won!</h1>
  <h2>Here are some treats for you to enjoy.</h2>
</mat-toolbar>
<div class="main">
  <mat-card matRipple (click)="viewReward(1)">
    <div class="featured-image">
      <img mat-card-image src="https://picsum.photos/300/200?random=3">
    </div>
    <mat-card-content>
      <div>
        <h1>Free Coke</h1>
        <h2>Pizza Hut</h2>
      </div>
      <div class="logo">
        <img src="https://picsum.photos/30/30?random=1">
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card matRipple (click)="viewReward(1)">
    <div class="featured-image">
      <img mat-card-image src="https://picsum.photos/300/200?random=3">
    </div>
    <mat-card-content>
      <div>
        <h1>Free Coke</h1>
        <h2>Pizza Hut</h2>
      </div>
      <div class="logo">
        <img src="https://picsum.photos/30/30?random=1">
      </div>
    </mat-card-content>
  </mat-card>
</div>