<app-header [subTitle]="subTitle"></app-header>
<div class="game-container">
  <perx-core-puzzle-stamp
    *ngFor="let card of cards"
    [img]="'../../assets/netflix-bg.jpg'"
    [lockImg]="'../../assets/lock-icon.png'"
    [unlockImg]="'../../assets/unlock-icon.png'"
    [highlightColor]="'#FAE4A4'"
    [borderColor]="'#BC9B3A'"
    [rows]="rows"
    [cols]="cols"
    [nbPlayedPieces]="getPlayedPieces(card)"
    [nbAvailablePieces]="getAvailablePieces(card)"
    (moved)="onMoved(card)($event)"
  >
  </perx-core-puzzle-stamp>
</div>
