.app-container {
  background-color: #b20000;
  min-height: 100%;
  padding: 0 2rem;
}

.game-container {
  max-width: 50rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.5rem;
}

.key-display {
  max-width: 50rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0 1rem;
  color: #fff;

  span {
    font-size: 1.6rem;
    padding-left: 1rem;
  }
}

.key-display-subtitle {
  max-width: 50rem;
  margin: 0 auto 1rem;
  color: #fff;
  font-size: 1.2rem;
}
