<div class="main-puzzle-container" *ngIf="game$ | async as game">
  <div>
    <h1>{{game.texts.title}}</h1>
    <h3>{{game.texts.subTitle}}</h3>
  </div>
  <div class="game-wrapper">
    <perx-core-shake-tree
      [treeImg]="game.config.treeImg"
      [giftImg]="game.config.giftImg"
      [nbHangedGifts]="game.config.nbHangedGift"
      [nbFallingGifts]="game.config.nbGiftsToDrop"
      (completed)="gameCompleted()"
      [enabled]="isEnabled"
      [nbShakes]="game.config.nbTaps">
    </perx-core-shake-tree>
  </div>  
  <button
    mat-flat-button
    color="primary"
    (click)="isEnabled = true"
    [ngStyle]="{ 'visibility': isEnabled ? 'hidden': 'visible'}">
    {{ game.texts.button }}
  </button>
</div>