<div class="main-container" *ngIf="theme | async as th">
    <div class="signup-image">
        <img class="logo" [attr.src]="th?.properties['--logo']" [attr.alt]="th?.properties['--title']" />
    </div>
    <div class="content-container">
        <div class="main-heading">{{'SIGN_UP_PAGE.TITLE' | translate}}</div>
        <div class="subtitle">
            <span>{{'SIGN_UP_PAGE.HAVE_AN_ACCOUNT' | translate}}</span>? <span class="link" (click)="goToLogin()">
                {{'SIGN_UP_PAGE.LOG_IN' | translate}}</span>
        </div>
        <div class="error_msg">
            <span>{{errorMessage}}</span>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="mobile-group">
                <div class="country-code">
                    <mat-form-field appearance="fill">
                        <mat-label>Country Code</mat-label>
                        <mat-select [(value)]="countryCode" formControlName="countryCode">
                            <mat-option
                                *ngFor="let country of countriesList$ | async" [value]="country.code">
                                <span>{{country.name}}&nbsp;</span>
                                <span>+{{country.code}}</span>
                            </mat-option>
                        </mat-select>
                      <mat-error *ngIf="signupForm.hasError('required', ['countryCode'])">
                        {{'SIGN_UP_PAGE.COUNTRY_CODE_REQUIRED_TXT' | translate}}
                      </mat-error>
                    </mat-form-field>
                </div>
                <div class="mobile-number">
                    <mat-form-field appearance="fill">
                        <mat-label>{{'SIGN_UP_PAGE.MOBILE_FIELD' | translate}}</mat-label>
                        <input matInput
                            autocomplete="tel-local"
                            [placeholder]="'SIGN_UP_PAGE.MOBILE_FIELD' | translate"
                            formControlName="mobileNo"
                            type="tel"
                            required>
                        <mat-error *ngIf="signupForm.get('mobileNo').hasError('required')">
                            {{'SIGN_UP_PAGE.MOBILE_REQUIRED_TXT' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field appearance="fill" class="full-width__input">
                <mat-label>{{'SIGN_UP_PAGE.EMAIL_FIELD' | translate}}</mat-label>
                <input matInput
                    [placeholder]="'SIGN_UP_PAGE.EMAIL_FIELD' | translate"
                    formControlName="email"
                    autocomplete="email"
                    type="email"
                    required>
                <mat-error *ngIf="signupForm.get('email').hasError('required')">
                    {{'SIGN_UP_PAGE.EMAIL_REQUIRED_TXT' | translate}}
                </mat-error>
                <mat-error *ngIf="signupForm.get('email').hasError('email')">
                    <span>Incorrect email format</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width__input">
                <mat-label>{{'SIGN_UP_PAGE.PASSWORD_FIELD' | translate}}</mat-label>
                <input matInput
                    [placeholder]="'SIGN_UP_PAGE.PASSWORD_FIELD'| translate"
                    formControlName="password"
                    type="password"
                    autocomplete="on"
                    required>
                <mat-error *ngIf="signupForm.get('password').hasError('required')">
                    {{'SIGN_UP_PAGE.PASSWORD_REQUIRED_TXT' | translate}}
                </mat-error>
                <mat-error *ngIf="signupForm.get('password').hasError('minlength')">
                    <span>Password should be at least six characters long</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width__input">
                <mat-label>{{'SIGN_UP_PAGE.CONFIRM_PASSWORD_FIELD' | translate}}</mat-label>
                <input matInput [placeholder]="'SIGN_UP_PAGE.CONFIRM_PASSWORD_FIELD' | translate"
                    formControlName="confirmPassword"
                    type="password" autocomplete="on" required>
                <mat-error *ngIf="signupForm.get('confirmPassword').hasError('required')
                || signupForm.get('confirmPassword').hasError('minlength')">
                    {{'SIGN_UP_PAGE.CONFIRM_PASSWORD_INVALID_TXT' | translate}}
                </mat-error>
                <mat-error *ngIf="signupForm.get('confirmPassword').hasError('notEqual')">
                    <span>Passwords do not match</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width__input">
                <mat-label translate>{{'SIGN_UP_PAGE.NICKNAME_FIELD' | translate}}</mat-label>
                <input matInput
                    autocomplete="nickname"
                    [placeholder]="'SIGN_UP_PAGE.NICKNAME_FIELD' | translate"
                    formControlName="nickname"
                    required>
                <mat-error *ngIf="signupForm.get('nickname').hasError('required')">
                    {{'SIGN_UP_PAGE.NICKNAME_REQUIRED_TXT' | translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width__input">
                <mat-label>{{'SIGN_UP_PAGE.REFERRAL_FIELD' | translate}}</mat-label>
                <input matInput [placeholder]="'SIGN_UP_PAGE.REFERRAL_FIELD' | translate"
                    formControlName="referralCode">
            </mat-form-field>
            <div class="checkbox-row">
                <mat-checkbox formControlName="accept_terms"></mat-checkbox>
                <span class="wrap-checkbox-text">{{'SIGN_UP_PAGE.CHECKBOX_TNC_PIC_AGREE' | translate}}
                    <a [routerLink]="['/c/tnc']" class="terms">{{'SIGN_UP_PAGE.CHECKBOX_TNC' | translate}}</a>
                    {{'SIGN_UP_PAGE.CHECKBOX_AND' | translate}}<a [routerLink]="['/c/privacy-policy']">
                        {{'SIGN_UP_PAGE.CHECKBOX_PIC' | translate}}</a></span>
            </div>
            <h2>{{'SIGN_UP_PAGE.LUCKY_DRAW_DESCRIPTION' | translate}}</h2>
            <mat-form-field appearance="fill" class="full-width__input">
                <mat-label>{{'SIGN_UP_PAGE.FULL_NAME_HKID_FIELD' | translate}}</mat-label>
                <input matInput [placeholder]="'SIGN_UP_PAGE.FULL_NAME_HKID_FIELD' | translate"
                    formControlName="fullName">
                <mat-error>
                    {{'SIGN_UP_PAGE.FULL_NAME_HKID_REQUIRED_TXT' | translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width__input">
                <mat-label>{{'SIGN_UP_PAGE.HKID_DIGITS_TXT' | translate}}</mat-label>
                <!-- This is not a phone number, but using type="tel" shows a much more appropriate keyboard on cell-phone-->
                <input matInput
                    autocomplete="off"
                    [placeholder]="'SIGN_UP_PAGE.HKID_DIGITS_TXT' | translate"
                    formControlName="hkid"
                    type="tel">
                <mat-error>{{'SIGN_UP_PAGE.HKID_DIGITS_REQUIRED_TXT' | translate}}</mat-error>
            </mat-form-field>
            <div class="checkbox-container">
                <div class="checkbox-row">
                    <mat-checkbox [disabled]="!signupForm.get('hkid').value && !signupForm.get('fullName').value"
                        formControlName="accept_marketing"></mat-checkbox>
                    <span class="wrap-checkbox-text">{{'SIGN_UP_PAGE.CHECKBOX_LUCK_TXT' | translate}} <a
                      [routerLink]="['/c/privacy-policy']">{{'SIGN_UP_PAGE.CHECKBOX_PIC' | translate}}</a>
                    </span>
                </div>
                <mat-error *ngIf="signupForm.get('accept_marketing').hasError('required')">
                    <span>{{'SIGN_UP_PAGE.CHECKBOX_LUCK_POPUP_TXT' | translate}}</span>
                </mat-error>
            </div>
            <button
                mat-flat-button
                type="submit"
                class="full-width__button"
                [disabled]="!signupForm.valid || loadingSubmit">
                <i *ngIf="loadingSubmit" class="loading-spin">
                    <mat-progress-spinner
                        [diameter]="30"
                        mode="indeterminate">
                    </mat-progress-spinner>
                </i>
                <span *ngIf="!loadingSubmit">{{'SIGN_UP_PAGE.BUTTON_SUBMIT' | translate}}</span>
            </button>
        </form>
    </div>
</div>
