<div class="reward-page">
  <app-detail-header [customBackButton]="customBackButton"></app-detail-header>
  <div class="reward-body">
    <form class="booking-form" [formGroup]="bookingForm" (ngSubmit)="submitForm()">
      <div class="select-wrap">
        <select formControlName="quantity">
          <option disabled [value]="null">Quantity</option>
          <option *ngFor="let quantity of quantities" [value]="quantity">{{quantity}}</option>
        </select>
      </div>
      <div class="select-wrap no-content">
        <select formControlName="merchant">
          <option disabled *ngIf="reward" [value]="reward.merchantId">{{reward.merchantName || 'No Merchant'}}</option>
        </select>
      </div>
      <div class="select-wrap">
        <select formControlName="location">
          <option disabled [value]="null">Location</option>
          <option *ngFor="let location of locationData | async" [value]="location.id">{{location.address}}</option>
        </select>
      </div>
      <mat-radio-group class="radio-group" formControlName="pointsBalance">
        <mat-radio-button *ngFor="let price of prices" class="radio-button" [value]="price.rewardCampaignId">
          Use
          <span *ngIf="price.points">{{price.points}} points</span>
          <span *ngIf="price.points && price.price"> + </span>
          <span *ngIf="price.price">{{price.currencyCode}} {{price.price}}</span>
<!--        todo: (code: XXXXX)-->
        </mat-radio-button>
      </mat-radio-group>
      <div class="agreement">
        <mat-checkbox formControlName="agreement"></mat-checkbox>
        <p>
          I have read, understood the <a [routerLink]="[ '/terms-and-conditions']">HSBC’s Rewards Terms &
          Conditions </a>
          and agree to all clauses stated therein*
        </p>
      </div>
      <div class="redeem-container">
        <button mat-flat-button type="submit" color="primary" [disabled]="bookingForm.invalid">Submit</button>
      </div>
    </form>
  </div>
</div>
