<div class="reward-page">
  <app-detail-header [customBackButton]="customBackButton"></app-detail-header>
  <div class="reward-body">
    <form class="booking-form">
      <select>
        <option disabled>Quantity</option>
        <option>aaaaa</option>
      </select>
      <select>
        <option disabled>Merchant</option>
      </select>
      <select>
        <option disabled>Location</option>
      </select>
      <mat-radio-group  class="radio-group">
        <mat-radio-button class="radio-button" [value]="1">
          Use 20 points (Code HAC11P)
        </mat-radio-button>
        <mat-radio-button class="radio-button" [value]="1">
            Use 20 points (Code HAC11P)
          </mat-radio-button>
      </mat-radio-group>
    </form>
  </div>
</div>