<div class="reward-page">
  <app-detail-header [customBackButton]="customBackButton"></app-detail-header>
  <div class="reward-body">
    <form class="booking-form" [formGroup]="bookingForm" (ngSubmit)="submitForm()">
      <div class="select-wrap">
        <select formControlName="quantity">
          <option disabled [value]="null">Quantity</option>
          <option *ngFor="let quantity of quantityes" [value]="quantity.id">{{quantity.address}}</option>
        </select>
      </div>
      <div class="select-wrap no-content">
        <select formControlName="merchant">
          <option disabled [value]="null">Merchant</option>
          <option *ngFor="let merchant of merchants" [value]="merchant.id">{{merchant.firstName}} {{merchant.lastName}}</option>
        </select>
      </div>
      <div class="select-wrap">
        <select formControlName="location">
          <option disabled [value]="null">Location</option>
          <option *ngFor="let location of locationData" [value]="location.id">{{location.address}}</option>
        </select>
      </div>
      <mat-radio-group class="radio-group" formControlName="pointsBalance">
        <mat-radio-button class="radio-button" [value]="1">
          Use 20 points (Code HAC11P)
        </mat-radio-button>
        <mat-radio-button class="radio-button" [value]="2">
          Use 15 points + PHP 680.00 (Code HAC11F)
        </mat-radio-button>
      </mat-radio-group>
      <div class="agreement">
        <mat-checkbox formControlName="agreement"></mat-checkbox>
        <p>
          I have read, understood the <a [routerLink]="[ '/term-and-condition']">HSBC’s Rewards Terms & Conditions </a>
          and agree to all clauses stated therein*
        </p>
      </div>
      <div class="redeem-container">
        <button mat-flat-button type="submit" color="primary" [disabled]="bookingForm.invalid">Submit</button>
      </div>
    </form>
  </div>
</div>