<div class="vouchers-progress-bar">
  <div class="vouchers-progress-bar-block">
    <ng-container *ngFor="let option of options">
      <div *ngIf="option.value"
           class="vouchers-progress-bar-indicator"
           [ngClass]="option?.type"
           [style.width.%]="getPercent(option?.value)"
           [matTooltip]="option.value + ' ' + option.type + ' vouchers'"
      >
      </div>
    </ng-container>
  </div>
  <div class="vouchers-progress-bar-hint"><span>{{total | number: '2.'}}</span></div>
  <div class="vouchers-progress-bar-label-block">
    <div class="vouchers-progress-bar-label"
         *ngFor="let option of options"
         [matTooltip]="option.value + ' vouchers'"
    >
      <ng-container *ngIf="option.value">
        <div class="vouchers-progress-bar-rectangle" [ngClass]="option?.type"></div>
        <span>{{option?.type | translate}}</span>
      </ng-container>
    </div>
  </div>
</div>
