<mat-card>
  <h1>Terms and conditions</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In faucibus, arcu sit amet convallis sollicitudin, sem
    nulla bibendum urna, at molestie sem leo eu ex. Donec vel neque tempus, fringilla leo et, venenatis nisi. In
    placerat leo varius metus lobortis, in sodales ligula dignissim. Integer eget sagittis est. Suspendisse consectetur
    efficitur ligula id accumsan. Aliquam volutpat, ligula eu laoreet imperdiet, turpis turpis sodales libero, ac
    faucibus risus velit lacinia eros. Vivamus quis fringilla tortor. Fusce tristique rutrum ex, in semper enim iaculis
    non. Donec bibendum viverra nibh at placerat. Mauris vel eros imperdiet, congue orci vel, luctus nulla. Duis
    eleifend volutpat diam, ac interdum libero congue eleifend. Nam nec tincidunt nunc. Cras rutrum in mauris non
    dignissim. Fusce sit amet lorem lorem. Sed tincidunt, arcu ut interdum ultricies, lacus elit malesuada orci, nec
    pulvinar libero arcu tincidunt mi.<br><br>

    Maecenas consectetur facilisis risus eu mattis. Pellentesque tempus pulvinar enim et molestie. Donec tempus nisl
    euismod tellus iaculis placerat. Nulla facilisi. Integer sit amet enim odio. Nulla efficitur mollis sapien, vel
    tempor velit. Suspendisse non tempus metus. Nulla eget arcu cursus, porta justo eu, interdum velit. Vivamus bibendum
    ante in neque aliquet semper. Mauris et dui consequat, congue nunc a, placerat erat. Nulla enim risus, feugiat a
    vehicula dapibus, mollis at libero.<br><br>

    Aliquam at vulputate turpis. Suspendisse luctus leo nec tellus rhoncus tempor. Pellentesque gravida, diam facilisis
    sodales convallis, justo urna elementum urna, vel pellentesque augue risus a nibh. Vestibulum tellus leo, volutpat
    sed finibus ut, rhoncus non quam. Duis consequat dui vitae nisl pharetra convallis. Integer varius quam sit amet
    sagittis vestibulum. Maecenas vehicula leo nec est semper laoreet. Donec convallis sagittis enim in feugiat.
    Praesent eget venenatis leo. Vivamus iaculis libero in massa pharetra, sagittis pharetra quam ultricies. Class
    aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus id rutrum tortor.
  </p>
</mat-card>