mat-card {
  margin: 1rem;
  padding-bottom: 2rem;
}

h1 {
  padding: 0 0.5rem 1.3rem;
  text-decoration: underline;
  font-size: 1.8rem;
}

ol, ul {
  padding-left: 1.6rem;
}

ol {
  &.list-level-0 {
    list-style-type: upper-latin;
    padding-left: 2.5rem;

    > li.mat-h3 {
      vertical-align: middle;
    }
  }
}

ol.list-level-1 {
  list-style-type: decimal;
  padding-left: 0;
}

ol.list-level-2 {
  list-style-type: lower-latin;

  > li {
    position: relative;
    padding-left: 0.9rem;

    // just for the ')'
    &::before {
      display: inline-block;
      width: 1rem;
      position: absolute;
      left: -0.4rem;
      content: ')';
      text-align: center;
    }
  }

  &.bold-li-title {
    > li {
      font-weight: bold;

      > * {
        font-weight: normal;
      }
    }
  }
}

ul.list-level-2 {
  list-style-type: disc;
}

ol.list-level-3 {
  list-style-type: upper-roman;
}
