<mat-card>
  <h1>TERMS AND CONDITIONS OF BIRTHDAY TREAT [Campaign]</h1>
  <ol class="list-level-0">
    <li class="mat-h3">
      <span class="underline">Treat Details</span>
      <ol class="mat-body-1 list-level-1">
        <li class="mat-h4">
          Definitions:
          <ol class="list-level-2">
            <li>
              <strong>"Prudential"</strong> means Prudential Assurance Company Singapore (Pte) Limited.
            </li>
            <li>
              <strong>"Participant"</strong> refers to an existing Prudential policyholder with at least one (1)
              existing policy with Prudential, who has been serviced by a Prudential Insurance Specialist through the
              Standard Chartered Bank branch only <span class="underline">and</span> who has been invited to participate
              in this Campaign through an SMS invitation from the Campaign Administrator.
            </li>
            <li>
              <strong>"Treats"</strong> means services provided by the participating merchants at either a discounted
              price or as a complimentary offering to Prudential’s customers.
            </li>
            <li>
              <strong>"Campaign Administrator"</strong> means Perx Technologies Pte Ltd. The Campaign Administrator
              shall be solely responsible for the execution and administration of this Campaign.
            </li>
            <li>
              <strong>"Insurance Specialist"</strong> refers to a Prudential Insurance Specialist.
            </li>
            <li>
              <strong>"Campaign Period"</strong> means the period between 1 July 2019 and 31 December 2019 (both dates
              inclusive). (Participants who receive their Redemption SMS on the last day of the Campaign, 31 December
              2019, please see Treats Mechanisms)
            </li>
          </ol>
        </li>
        <li class="mat-h4">
          Eligibility
          <p>
            <strong>"Participant"</strong> refers to an existing Prudential policyholder with at least one (1) existing
            policy with Prudential, who has been serviced by a Prudential Insurance Specialist through the Standard
            Chartered Bank branch only and who has been invited to participate in this Campaign through an SMS
            invitation from the Campaign Administrator.
          </p>
          <p>
            In order to be eligible for the Treat, the Participant has to satisfy the following during the period 1 July
            2019 and 31 Jan 2019 (both dates inclusive) ("Campaign Period") in order to enjoy all the treats given (as
            defined below), provided always that you satisfy all the qualifying criteria set out in these Terms and
            Conditions.
          </p>
        </li>
        <li class="mat-h4">
          Treats Mechanisms
          <p>The Treats is open to "Participant" only.</p>
          <ul class="list-level-2">
            <li>
              Participants will be notified via SMS by the Campaign Administrator with a URL to a microsite containing
              instructions on how to redeem the Gift (the <strong>"Redemption SMS"</strong>).
            </li>
            <li>The Treat will only be available for redemption during the Participant’s birthday month and the
              following month (1+1).
            </li>
            <li>Each Participant is entitled to enjoy all the treats provided but only one (1) redemption is allowed for
              each Treat.
            </li>
          </ul>
        </li>
        <li class="mat-h4">
          Treat(s)
          <ol class="list-level-2 bold-li-title" style="list-style-type: upper-latin">
            <li>
              Global Wellness Group (GWG)
              <ol class="list-level-3">
                <li>
                  FIL: Award-Winning Hydrating Facial with Complimentary Bright Eyes Treatment
                  90min at $40.66 nett (incl. GST) U.P. $600
                </li>
                <li>
                  Beyond Beauty: Received a Complimentary MD Series Dermatologist Pro Peel Treatment Facial includes
                  Mask + Neck and Shoulder Massage 75 mins (U.P. $288)
                </li>
                <li>
                  Body Contour: Glow White & Hydrating Facial + Sparkling Eyes Treatment 90 Min at $48 Nett (U.P.
                  $388)<br/>
                  T&Cs apply.
                </li>

              </ol>
            </li>
            <li>
              Fairmont Singapore
              <ol class="list-level-3">
                <li>
                  Receive complimentary Longevity Buns and a discount matching your age (maximum discount per bill is
                  50%) when you celebrate your birthday at Szechuan Court during your birthday month at Szechuan Court.
                  T&Cs apply.
                </li>
              </ol>
            </li>
            <li>
              Lumiere Photography Pte Ltd
              <ol class="list-level-3">
                <li>General Indoor Studio package @ $99</li>
                <li>Family package @ $288 (indoor or outdoor)<br/>T&Cs apply.</li>
              </ol>
            </li>
          </ol>
        </li>
        <li class="mat-h4">
          Treats Redemption
          <p>
            The validity of the Treats available for redemption is during the birthday month.
          </p>
        </li>
      </ol>
    </li>
    <li class="mat-h3">
      <span class="underline">General Terms and Conditions</span>
      <ol class="list-level-1">
        <li>By participating in the Campaign, each Participant is deemed to have accepted and agreed to be bound by
          these Terms and Conditions and any other instructions, terms and conditions that Prudential may issue from
          time to time.
        </li>
        <li>Prudential assumes no responsibility for incomplete, lost, late, damaged, illegible or misdirected forms
          or email communication, for technical hardware or software failures of any kind, lost or unavailable network
          connections, or failed incomplete, garbled or delayed electronic transmission which may limit a Participant’s
          ability to participate in the Campaign.
        </li>
        <li>Prudential will endeavor to hold the Campaign on and at the advertised date, time and venue and by the
          mode (manually or electronically) as advertised, but reserves the right, in its sole and absolute discretion,
          to provide the Treats by another mode in such circumstances as Prudential may deem appropriate.
        </li>
        <li>Prudential has the sole and absolute discretion to exclude any Participants from participating in the
          Campaign without any obligation to furnish notice and/or reason.
        </li>
        <li>Prudential reserves the right to disqualify or disregard any Participant who does not comply with the
          Terms and Conditions.
        </li>
        <li>Prudential may at its discretion forfeit the Treats, or, if already awarded, reclaim the Treats at the
          expense of the Participant without payment, compensation, or having to give any reason whatsoever in the event
          Prudential subsequently discovers that the Participant is not eligible to participate in the Campaign and/or
          to receive the Treats.
        </li>
        <li>Treats are subject to availability while stocks last. Prudential reserves the right to replace any Treats
          with items of similar value at any time without prior notice.
        </li>
        <li>Prudential shall not be liable for any loss of, damage to, defects, delay, mis-delivery or non-delivery
          of the Treats.
        </li>
        <li>Prudential reserves the right to deal with any unclaimed Treats in any manner it deems fit. Prudential
          reserves the right to request for the Participants’ proof of eligibility, identity and/or otherwise for the
          purposes of verifying the Participant’s claim to the Treats at the time of prize collection. Prudential is
          under no obligation whatsoever to disclose the identity of the Participants or to publish the same for any
          reason at any point of time.
        </li>
        <li>The Treats is not exchangeable for cash, credit or any other items of equivalent value. The validity
          period of the Treats is non-extendable. Prudential will be under no obligation to replace or pay to Winner the
          value of any Treats that are not utilised by the Winners before the end of the validity period of the Treats
          as may be stipulated by Prudential and/or relevant merchants.
        </li>
        <li>The Campaign is not valid in conjunction with other campaigns carried out by Prudential.</li>
        <li>By participating in this Campaign, each Participant agrees and consents under the Personal Data
          Protection Act (Cap 26 of 2012) to the collection, use and disclosure of any and all personal data of the
          Participant by/to Prudential, advertising and campaign agencies of the Campaign and such other third party, in
          Prudential’s absolute discretion, consider appropriate or necessary in connection with the Campaign and
          redemption of Treats.
        </li>
        <li>If a Participant provides Prudential with personal data of any third party, that Participant hereby:
          <ol class="list-level-2">
            <li>Agrees on behalf of that third party to be bound by the Terms and Conditions contained herein; and</li>
            <li>Consents on behalf of that third party, to Prudential’s collection, use, disclosure and processing of
              his/her personal data in accordance with the Terms and Conditions contained herein.
            </li>
          </ol>
          The Participant warrants that he/she has obtained the said third party’s prior consent to such collection,
          use, disclosure and processing of his/her personal data by Prudential and that the personal data that the
          Participant provides to Prudential is true, accurate and complete.
        </li>
        <li>Prudential shall not be liable for any third party’s misuse of the Participant’s submitted information and
          photograph as a result of the Participant taking part in the Campaign.
        </li>
        <li>Unless prohibited by law, participation in the Campaign constitutes permission for Prudential, its
          advertising and campaign agencies to use any of the Participant’s names, and/or likeness for advertising and
          campaign purposes. Each Participant further agrees and acknowledges that the copyright and all other
          intellectual property rights in and to all photographs or audio-video or other recordings of the Participant
          taken or made in connection with the Campaign shall vest solely and absolutely in Prudential without any
          compensation to the Participant.
        </li>
        <li>Prudential may at any time at its absolute discretion, without prior notice or assigning any reason thereof
          or being liable to any person, (i) suspend, cancel or terminate the Campaign, or (ii) delete, vary,
          supplement, amend, modify any one or more of the terms and conditions of the Campaign. Prudential’s
          determination of all matters in connection with the Campaign and the Treats shall be final, binding and
          conclusive. Prudential is not obliged to give any reason or prior notice on any matter concerning the Campaign
          or the Treats. No appeal, correspondence or claims will be entertained. Prudential has the right and
          discretion to determine whether a party has met the requirements of the Campaign and/or to receive the Treats.
          Participants shall not be entitled to any damages or compensation whatsoever or howsoever arising as a result
          of such amendment, suspension or termination.
        </li>
        <li>By participating in the Campaign, all Participants agree and undertake to, at all times, indemnify, keep
          indemnified, and hold Prudential, its employees and agents harmless against all losses (including direct,
          indirect, incidental and/or consequential losses), damages (including general, special, and/or punitive
          damages), demands, injuries (other than personal injury caused by Prudential’s negligence), claims, costs,
          penalties, interest and fees (including all legal fees as between solicitor and client or otherwise on a full
          indemnity basis whether or not incurred in respect of any real, anticipated, or threatened legal proceedings),
          howsoever caused by, arising or resulting from, whether directly or indirectly, their participation in the
          campaign, acceptance or usage of any Treats, and/or any breach or purported breach of these Terms and
          Conditions and/or any applicable law.
        </li>
        <li>Prudential makes no warranty or representation as to the quality, merchantability or fitness for purpose of
          the merchants’ goods and services in respect of the Treats. Any dispute about the same must be resolved
          directly with the merchant. Merchant terms and conditions apply.
        </li>
        <li>In the event of any inconsistency or discrepancy between the Terms and Conditions and the contents of any
          brochure, marketing and/or campaigned materials relating to the Campaign, these Terms and Conditions shall
          prevail.
        </li>
        <li>Any trademarks, graphic symbols, logos or intellectual property contained in any materials used in
          connection with this Campaign, in particular the Treats are the property of their respective owners.
          Prudential is not affiliated with, or endorsed or sponsored by, such owners and their relevant affiliates.
        </li>
        <li>Failure by Prudential to exercise any of its right or remedy under these Terms and Conditions does not
          constitute a waiver of that right or remedy.
        </li>
        <li>The Terms and Conditions shall be governed by Singapore law and the Participants agree to submit to the
          exclusive jurisdiction of the courts of Singapore.
        </li>
        <li>A person who is not a party to any agreement governed by these terms and conditions shall have no right
          under the Contracts (Right of Third Parties) Act (Cap 53B) to enforce any of these terms and conditions.
        </li>
      </ol>
    </li>
  </ol>

</mat-card>
