@import "variables";
:host {
  display: flex;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  background-color: $white-color;
  padding: 5.6rem 3rem;
  min-height: 43.4rem;
  box-sizing: border-box;
}

.business {
  width: 100%;

  &-title {

    &__first {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.5;
      color: $there-color;
    }

    &__second {
      margin-top: .9rem;
      font-size: 1.4rem;
      color: $there-color;
    }
  }

  &-empty-content {
    width: 100%;
    height: 32.5rem;
    background: url("/assets/images/dashboard-business/blank-chart-img.png") no-repeat;
    background-position: center;
  }
}
