@import "variables";

:host {
  display: flex;
  border-radius: $border-radius;
  border: solid 1px $border-color;
  background-color: $white-color;
  padding: 5.6rem 3rem;
  min-height: 43.4rem;
  box-sizing: border-box;
}

.business {
  width: 100%;

  &-title {
    &__first {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.5;
      color: $base-font-color;
    }

    &__second {
      margin-top: 0.9rem;
      font-size: $base-font-size;
      color: $base-font-color;
    }
  }
}
