<!--image-->
<div class="card-row new-reward-image-block">
  <cl-upload-graphic [formControl]="formGroup.get('image')"
                     [isRequired]="formGroup.get('image').hasError('required') && formGroup.get('image').touched">
  </cl-upload-graphic>
</div>
<div class="">
  <div class="input-group">
    <!-- Reward Type-->
    <mat-form-field>
      <mat-select [formControl]="formGroup.get('rewardType')" [placeholder]="'REWARD_TYPE' | translate">
        <ng-container *ngFor="let option of config?.rewardType">
          <mat-option [value]="option?.value">{{option?.title | translate}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <!--Category-->
    <mat-form-field>
      <mat-select [formControl]="formGroup.get('category')" [placeholder]="'CATEGORY' | translate">
        <ng-container *ngFor="let option of config?.category">
          <mat-option [value]="option?.value">{{option?.title | translate}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <!--Redemption Type-->
  <div class="input-group">
    <mat-form-field>
      <mat-select [formControl]="formGroup.get('redemptionType')" [placeholder]="'REDEMPTION_TYPE' | translate">
        <ng-container *ngFor="let option of config?.redemptionType">
          <mat-option [value]="option?.value">{{option?.title | translate}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <!--Cost of Reward-->
    <mat-form-field>
      <input
        type="number"
        min="0"
        step="0.01"
        matInput
        [placeholder]="'COST_OF_REWARD' | translate"
        [formControl]="formGroup.get('cost')">
      <span matSuffix>{{currency}}</span>
    </mat-form-field>
  </div>
</div>
<!--Description-->
<mat-form-field>
        <textarea matInput
                  [placeholder]="'DESCRIPTION' | translate"
                  [formControl]="formGroup.get('description')"></textarea>
</mat-form-field>
<!--Terms & Condition-->
<mat-form-field>
        <textarea matInput
                  [placeholder]="'TERMS_&_CONDITION' | translate"
                  [formControl]="formGroup.get('termsAndCondition')"></textarea>
</mat-form-field>
<!-- Tags -->
<cl-tag-list class="card-row"
             [placeholder]="'TAGS' | translate"
             [formControl]="formGroup.get('tags')"></cl-tag-list>
