<aside class="dialog" role="dialog" aria-labelledby="dialogTitle-changeExpiryDate">
  <header class="dialog-header-wrap">
    <h2 class="dialog-title" id="dialogTitle-changeExpiryDate">Change expiry date</h2>
    <button class="dialog-closed btn-transparent" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <mat-dialog-content>
    <div class="dialog-content">
      <div class="change-expiry-row">
        <div class="change-expiry-card disable">
          <span>From</span>
          <h4>Old</h4>
          <span>Current Expiry Date</span>
          <cl-date-picker [value]="data?.expiryDate"
                          [disabled]="true">
          </cl-date-picker>
        </div>

        <div class="change-expiry-card">
          <span>To</span>
          <h4>New</h4>
          <span>Enter New Expiry Date</span>
          <cl-date-picker [formControl]="newDate"></cl-date-picker>
        </div>
      </div>
    </div>
  </mat-dialog-content> 
  <footer class="dialog-actions">
    <cl-button classList="secondary"
               class="actions-close"
               (click)="close()"
               [disableRipple]="true">
        <span>Cancel</span>
    </cl-button>

    <cl-button classList="primary"
               (click)="save()"
               [disableRipple]="true">
        <span>Add</span>
    </cl-button>
  </footer>
</aside>


