@import "variables";

.change-expiry {
  &-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: ($vertical-padding * 0.5);
  }

  &-card {
    padding: ($vertical-padding * 0.5) ($vertical-padding * 0.725);
    border-radius: $border-radius;
    background-color: rgba(26, 184, 255, 0.05);

    > span {
      @include typo-body2;

      display: block;
    }

    > h4 {
      @include typo-h5;

      color: $primary-color;
      margin: 0.4rem 0;
    }

    &.disable {
      color: $base-font-color !important;
      padding-left: 0;
      background-color: transparent !important;

      h4 {
        color: $secondary-color !important;
      }
    }
  }
}

.date-picker {
  max-width: initial !important;
}
