.main-puzzle-container {
  background: #fff3f3;
  height: calc(100% - 6rem);
  position: relative;
  top: 6rem;
  display: flex;
  flex-direction: column;

  perx-core-puzzle-collect-stamps {
    flex: 1;
  }

  h1 {
    color: white;
    text-align: center;
    font-family: Roboto, sans-serif;
    padding: 2rem 0 1rem 0;
  }

  > * {
    &:nth-child(2) {
      flex: 1 1;
    }
  }
}

:host ::ng-deep .stamps {
  .add span {
    color: #eb202f;
  }
}
