<!-- Template stuff aimed at being replaced by real components -->

<div class="main-puzzle-container">
    <ng-container *ngIf="card">
        <ng-container *ngIf="card.displayProperties.displayCampaignAs === 'puzzle'">
            <h1 [ngPlural]="totalAvailablePieces">
                <ng-template ngPluralCase="=1">You have 1 puzzle piece</ng-template>
                <ng-template ngPluralCase="other">You have a total of {{totalAvailablePieces}} puzzle pieces</ng-template>
            </h1>
            <perx-core-puzzle-play [img]="image" [rows]="rows" [cols]="cols" [showHint]="true" [nbPlayedPieces]="playedPieces"
                [nbAvailablePieces]="availablePieces" (moved)="onMoved()">
            </perx-core-puzzle-play>
        </ng-container>

        <perx-core-puzzle-collect-stamps *ngIf="card.displayProperties.displayCampaignAs === 'stamp_card'"
            [nbSlots]="card.displayProperties.totalSlots"
            [stamps]="card.collectionStamps ? card.collectionStamps : []"
            [rewards]="card.campaignConfig.collectionRewards"
            [preStampImg]="'assets/hsbc-prestamp.png'"
            [postStampImg]="'assets/hsbc-stamped.png'"
            [rewardPreStamp]="'assets/pre-reward.png'"
            [rewardPostStamp]="'assets/post-reward.png'"
            [backgroundImage]="card.displayProperties.backgroundImg.value.imageUrl"
            [title]="card.title || title"
            [subTitle]="card.subTitle || subTitle"
            (availableStampClicked)="stampClicked($event)"
            [showStampsCounter]="true">
        </perx-core-puzzle-collect-stamps>
    </ng-container>
</div>
