<div class="form-group" [formGroup]="group">
  <div class="loyalty-row input-group">
    <span translate>COST_OF_REWARD</span>
    <mat-form-field floatLabel="never">
      <input type="number" [min]="0" matInput [formControl]="group.get('basicTier.tierValue')">
      <!--costReward-->
    </mat-form-field>
    <span><span translate>POINTS_BURN_RULE</span> {{loyalty?.tiersConversions?.globalBurnRule.points}} <span translate>POINTS_TO</span> {{loyalty?.tiersConversions?.globalBurnRule.amount}} {{currency || "SGD"}})</span>
  </div>

  <p class="loyalty-label tier-label" translate>ELIGIBLE_TIERS</p>

  <section class="list-checkbox flex align-items-center tier-form-group" *ngFor="let item of tiers; let index = index;" [formGroup]="item">
    <mat-checkbox [disabled]="!group.get('programStatus').value" [color]="'primary'" class="tier-name" [formControl]="item.get('statusTiers')" >{{item.get('name').value}}</mat-checkbox>

    <div class="tier-points">
      <div class="loyalty-row input-group" *ngIf="!item.get('statusDiscount').value">
        <mat-form-field floatLabel="never">
          <input type="number" [min]="0" matInput [formControl]="item.get('tierValue')">
        </mat-form-field>
      </div>

      <div class="loyalty-row input-group" *ngIf="item.get('statusDiscount').value">
        <mat-form-field floatLabel="never">
          <input type="number" [min]="0" matInput [formControl]="item.get('tireDiscountValue')">
        </mat-form-field>
      </div>
      <span class="tier-points-text" translate>POINTS</span>
    </div>

    <div class="flex align-items-center">
      <mat-checkbox [disabled]="!group.get('programStatus').value" [color]="'primary'"
                    (change)="getPercentCalculate(item, index)"
                    class="transaction-amount" [formControl]="item.get('statusDiscount')" > {{'APPLY_TIER_DISCOUNT' | translate}} {{ calculateDiscount(index)  +'%)'}}</mat-checkbox>

      <!--      <mat-form-field>-->
<!--        <input matInput  type="number" >[formControlName]="'amount'"-->
<!--        <mat-error *ngIf="amount.hasError('required') && amount.touched">Required field</mat-error>-->
<!--        <mat-error *ngIf="amount.hasError('minlength') && amount.touched">Min value is 1</mat-error>-->
<!--      </mat-form-field>-->
<!--      <p>-->
<!--        SGD-->
<!--      </p>-->
    </div>
  </section>

<!--  <div class="loyalty-row input-group">-->
<!--    <span>Cost of Reward</span>-->
<!--    <mat-form-field floatLabel="never">-->
<!--      <input type="number" [min]="0" matInput formControlName="costReward">-->
<!--    </mat-form-field>-->
<!--    <span>points (Burn rule: {{loyalty?.tiersConversions?.globalBurnRule.points}} points to {{loyalty?.tiersConversions?.globalBurnRule.amount}} {{currency || "SGD"}})</span>-->
<!--  </div>-->
</div>

