@import "helper";
@import "variables";

.game {

  &-wrap {
    width: rem(124px);
    height: rem(127px);
    background-color: $light-gray;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid transparent;

    &.active {
      border: solid 2px #116fff;
    }
  }

  &-content {
    padding-top: rem(8px);
  }

  &-title {
    font-size: 14px;
    font-weight: 500;
    color: $secondary-color;
    text-align: center;
  }

  &-checkbox {
    display: flex;
    justify-content: center;
    padding: rem(9px);
  }
}
