@import "variables";

.stamp {
  &-btn-cancel {
    padding-right: 0.8rem;
  }

  &-form {
    width: 100%;
    margin-right: 4rem;
  }
}

.game {
  &-selected-graphic {
    margin-bottom: 4rem;
    display: flex;
  }

  &-title {
    display: flex;
    align-items: center;
  }

  &-number {
    margin-top: 3.4rem;

    &-slot {
      margin-top: 2.2rem;
    }
  }
}

.info-text {
  font-size: 1.2rem;
  color: $white-color;
}
