<div class="homepage">
  <mat-card class="card no-padding">
    <h2 class="header">WHAT ARE YOU LOOKING FOR?</h2>
    <bdo-primary-catalog [categories]="categories"></bdo-primary-catalog>
  </mat-card>
  <mat-card class="card">
    <h2 class="header">FEATURED DEALS</h2>
    <bdo-featured-deals [deals]="featuredDeals" (eventItemClick)="navigateTo($event)"></bdo-featured-deals>
  </mat-card>
  <mat-card class="card">
    <h2 class="header">DEALS YOU CAN ENJOY</h2>
    <p>Promotions that BDO has in store for you!</p>
    <bdo-secondary-catalog></bdo-secondary-catalog>
  </mat-card>
  <mat-card class="card bg-transparent">
    <div class="nearby">
      <span class="tag tag--nearby">nearby</span>
      <a class="navigate-nearby" href="/nearby-deals">View All</a>
    </div>
    <p class="near-by-title">Find deals that are just right around the corner</p>
    <bdo-tagged-item *ngIf="nearBy.length; else noResultMessage" [deals]="nearBy" (eventItemClick)="navigateTo($event)"></bdo-tagged-item>
 
    <ng-template #noResultMessage>
      <p class="no-item">No nearby deals</p>
    </ng-template>
     
   
  </mat-card>
  <mat-card class="card" *ngIf="whatsNew.length">
    <div class="tagged-header-wrapper">
      <div class="filter-wrapper">
        <div class="filter-value">
          <span class="filter-tag filter-tag--new selected">What's new</span>
        </div>
        <span class="action" (click)="navigateToSearchResult('new')">
          View All
        </span>
      </div>
      <p class="description">Learn more about our newest deals for you!</p>
    </div>
    <bdo-tagged-item [deals]="whatsNew"></bdo-tagged-item>
  </mat-card>
  <mat-card class="card" *ngIf="popular.length">
    <div class="tagged-header-wrapper">
      <div class="filter-wrapper">
        <div class="filter-value">
          <span class="filter-tag filter-tag--popular selected">Popular</span>
        </div>
        <span class="action" (click)="navigateToSearchResult('popular')">
          View All
        </span>
      </div>
      <p class="description">Avail of these promos that are popular with others</p>
    </div>
    <bdo-tagged-item [deals]="popular"></bdo-tagged-item>
  </mat-card>
</div>