<div class="homepage">
  <mat-card class="card no-padding">
    <h2 class="header">WHAT ARE YOU LOOKING FOR?</h2>
    <bdo-primary-catalog [categories]="categories"></bdo-primary-catalog>
  </mat-card>
  <mat-card class="card">
    <h2 class="header">FEATURED DEALS</h2>
    <bdo-featured-deals [deals]="featuredDeals" (eventItemClick)="navigateTo($event)"></bdo-featured-deals>
  </mat-card>
  <mat-card class="card">
    <h2 class="header">DEALS YOU CAN ENJOY</h2>
    <p>Promotions that BDO has in store for you!</p>
    <bdo-secondary-catalog></bdo-secondary-catalog>
  </mat-card>
  <mat-card class="card bg-transparent">
    <div class="nearby">
      <span class="tag tag--nearby">nearby</span>
      <a class="navigate-nearby" href="/nearby-deals">View All</a>
    </div>
    <p class="near-by-title">Find deals that are just right around the corner</p>
    <bdo-tagged-item *ngIf="nearBy.length; else noResultMessage" [deals]="nearBy" (eventItemClick)="navigateTo($event)"></bdo-tagged-item>
 
    <ng-template #noResultMessage>
      <p class="no-item">No nearby deals</p>
    </ng-template>
     
   
  </mat-card>
</div>



