    <div class="page-container" *ngIf="theme | async as th"
      [ngStyle]="{'background-color': th?.properties['--account_background_color']}">
      <div *ngIf="appConfig$ | async as aConfig">
        <div *ngIf="remoteFlags?.showBadgesButton" class="section badges">
          <mat-nav-list>
            <mat-list-item routerLink="/badges">
              {{'ACCOUNT_PAGE.BADGES' | translate}}
              <div class="count">
                {{acquiredBadges | async}}
                <mat-icon>chevron_right</mat-icon>
              </div>
            </mat-list-item>
            <mat-list-item *ngIf="aConfig.showTransactionHistoryOnAccountsPage" routerLink="/transaction-history">
              {{'ACCOUNT_PAGE.TRANSACTION_HISTORY' | translate}}
            </mat-list-item>
            <mat-list-item (click)="goToPage(page)" *ngFor="let page of pages">
              {{'ACCOUNT_PAGE.' + page.title | translate}}
            </mat-list-item>
          </mat-nav-list>
        </div>     
      </div>
    </div>

  
